[2017-02-24 20:10] SwartzCr commented on #4240
great - I'm going to close this issue - feel free to reopen it if you find that it's a problem with Certbot!

[2017-02-24 20:10] #4240 closed

[2017-02-24 20:17] SwartzCr commented on #4238
@ohemorange any interest in taking this on? (or at least milestoning it?)

[2017-02-24 20:18] SwartzCr commented on #4232
@hlieberman any ideas?

[2017-02-24 20:19] SwartzCr commented on #4231
Weird!
What OS are you running?

[2017-02-24 20:24] SwartzCr commented on #4228
@bmw think you can take a look at this?

[2017-02-24 20:29] SwartzCr commented on #4225
Weird, what OS are you running? What version?
What version of Certbot are you running and how did you install it?

@ohemorange you know more about nginx than I do - want to help?

[2017-02-24 20:30] SwartzCr commented on #4223
@joohoi any ideas on how we should be handling this?

[2017-02-24 20:32] SwartzCr commented on #4242
Good question - it seems like you got some good responses on the community forums about how many emails you could register (https://community.letsencrypt.org/t/amount-of-email-addresses-to-register/28508)
Though I'm not sure how you can specify them using Certbot, maybe @bmw can help?

[2017-02-24 20:35] SwartzCr commented on #4222
Hi @phil123456 !
I think this generally falls under the 'Ubuntu (other)' selection on certbot.eff.org, you can read the appropriate instructions here: https://certbot.eff.org/#ubuntuother-other
They should tell you how to use certbot-auto to get a working version of certbot up and running on your machine.
I'm going to close this issue, but feel free to re-open it if that doesn't work, or to open a

[2017-02-24 20:35] #4222 closed

[2017-02-24 20:39] SwartzCr commented on #4219
@bmw any idea how we should be handling this?

[2017-02-24 20:43] SwartzCr commented on #4207
Hi @jokr0815 !
Can you elaborate? What certbot command are you using that needs this? What OS are you on, and version of Certbot are you currently using?

[2017-02-24 20:47] SwartzCr commented on #4203
I don't know if we'd want to officially support this - I kind of think this is the point of having the script plug-in (to allow you to manage this)
But if @bmw or @ohemorange wants to chime in and contradict me I'd be happy for them to put it into an upcoming milestone

[2017-02-24 21:08] #3195 closed

[2017-02-24 21:41] Tejaf commented on #2850
Feb 2017, downgrade still works...wow!

[2017-02-24 22:17] bmw commented on #3782
@joohoi, what do you think about what I proposed here?

[2017-02-24 22:35] schoen commented on #4214
(I added the nginx category just because in principle this will affect nginx in the same way. So there should probably be a generic mechanism.)

[2017-02-24 22:37] schoen commented on #4214
Is there maybe a way, as a workaround, to ask Certbot to listen on a nonstandard port and then use a kernel firewall rule or userspace port forwarder to forward localhost:443 to that port? Like set `--tls-sni-01-port` to 4443 and then have a listener on localhost:443 that forwards everything to localhost:4443?

[2017-02-24 23:30] strugee commented on #4253
@SwartzCr that'd be useful, but what's really important is the exit code so I can do e.g.:

[code]

That way you don't have to parse the output, it's just "is there any cert that can be renewed? Yes? Renew 'em all"

[2017-02-25 00:33] ohemorange commented on #4238
@pde might be interested

[2017-02-25 00:38] ohemorange commented on #4203
Using `--post-hook` could work. You could also try running certbot then adding in the other backup certs. I agree that we probably don't want to support this in the main codebase.

[2017-02-25 00:53] ynasser opened #4258 "Modify the revoke subcommand to also accept --cert-name"
This came out of discussing #4202.

[2017-02-25 01:36] ohemorange commented on #4225
Looks like this is a bug, thanks for your help in finding this! Should be fixed in #4259.

[2017-02-25 02:38] bmw opened #4260 "Spurious test failures"
What happened and how do we prevent it in the future?
[log.txt](https://github.com/certbot/certbot/files/800859/log.txt)

[2017-02-25 03:01] duckduckquack commented on #2243
So... is there a way to fix this? I'm on Jessie 8.7

[2017-02-25 04:37] scubanarc commented on #4245
Is there anything that I can do to make it work?

[2017-02-25 07:25] JPRuehmann commented on #4231
Kubuntu 14.04 LTS

[2017-02-25 11:58] claytonwells opened #4261 "OSError: Command /root/.local/share/letsencrypt...on2.7 -c "#!python"
## My operating system is (include version):
Fedora 14

## My web server is (include version):

## How did you install Certbot:
wget https://dl.eff.org/certbot-auto
chmod a+x certbot-auto

## What command did you run and what output did it produce?
./certbot-auto

## Can you provide a Certbot error log showing the issue?
###### It is stored by default in `/var/log/letsencrypt` - feel free to redac

[2017-02-25 19:28] jsimaoisel commented on #3150
When running the certbot-auto on a raspberry pi 3 (Linux raspberrypi 4.4.38-v7+ #938 SMP Thu Dec 15 15:22:21 GMT 2016 armv7l GNU/Linux) I have the following error message:

[code]

Any idea about the cause of the problem?

Thanks.

[2017-02-25 21:22] fpeterson194 commented on #4242
@SwartzCr thanks for your response. Yes, I get some responses from the community. The limit is 10 email addresses. Now my question is what you have already mention. How can I specify them in certbot and in acmesharp.

[2017-02-26 01:01] hinaloe commented on #4225
@SwartzCr thanks, it found in Amazon Linux 2016.09 (with [Amimoto AMI](https://aws.amazon.com/marketplace/pp/B00LWHVJH8/ref=srh_res_product_title?ie=UTF8&sr=0-3&qid=1458297362986)) and install certbot with pip+virtualenv by chef.

@ohemorange That's looks good! it works well.

[2017-02-26 10:31] dancvrcek commented on #1301
ah, this was needed

sudo pip install --upgrade six

[2017-02-26 12:14] joohoi commented on #4223
I'm going to take a better look on Listen statement writing as a part of work for enabling modules in non-debian based distributions, and I'm hoping to fix this case in the process.

[2017-02-26 13:13] joohoi commented on #3782
It's a good idea. Having a build for every version, and also (daily or at-merge) builds of master would be very nice.

In my opinion the optimal combination would be to have webroot and standalone containers (most likely a single one for both) with minimal everything, but providing a bit bulkier image for manual plugin for added automation options (having curl, etc). Alpine is a good base the buil

[2017-02-26 17:29] scubanarc commented on #4245
I have uninstalled certbot 0.9.3 and downloaded 0.11.1 with the following commands:

yum remove python-certbot-apache
wget https://dl.eff.org/certbot-auto
chmod a+x certbot-auto
./certbot-auto

And I still get the error. Here's my letsencrypt.log:

<pre>
2017-02-26 17:26:14,668:DEBUG:certbot.main:Root logging level set at 20
2017-02-26 17:26:14,668:INFO:certbot.main:Saving debug log to /var/log/le

[2017-02-26 18:43] akadata commented on #3544
+1 chriszrc for

  yum -y install yum-utils
  yum-config-manager --enable rhui-REGION-rhel-server-extras rhui-REGION-rhel-server-opt

That worked for me in EC2 with
[root@ns0 ~]# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.3 (Maipo)

[2017-02-26 19:51] dkg commented on #3788
Willem Toroop points out to me that with a static key and CSR, this is easy to do in a one-shot way with:

[code]

however, this doesn't come with all the nice timing/analysis that you get from `certbot renew` -- if you run this twice a day, you'll get two new certs every day :/

[2017-02-26 23:32] NilsRenaud commented on #2697
Same issue here, but for docker purpose.

**Problem :**
I don't want to package the certbot command with my webserver start command because it would always fail in non-prod environments.
So I want to build a specific image containing certbot which :
- ask for the certificate
- put the certificate inside a volume shared with my webserver

But this solution would work only if I stop my webserver's c

[2017-02-27 00:12] guyzmo opened #4264 "Traceback running certbot standalone"
## My operating system is (include version):

Ubuntu Trusty 14.04.5 LTS

## My web server is (include version):

nginx (but not relevant, I've been using the standalone here.

## How did you install Certbot:

using `pip3 install letsencrypt`.

## What command did you run and what output did it produce?

[code]

## Can you provide a Certbot error log showing the issue?
###### It is stored by defaul

[2017-02-27 01:13] iquito commented on #4090
For somebody looking to automate certbot with ansible or the likes (that is why I initially ended up here), I used `--post-hook "touch change_occured"` when calling certbot to then check afterwards if the change_occured file exists, do things accordingly and then delete change_occured. If nothing was updated, change_occured is not created, so that way you always know if something changed (and if t

[2017-02-27 01:14] gsdevme commented on #2697
Using DNS validation might solve the use case.

Sent from my iPhone

[2017-02-27 01:22] NilsRenaud commented on #2697
That could but this validation mode is not possible with standalone mode :/
(from : https://certbot.eff.org/docs/using.html#plugins)

[2017-02-27 10:08] matthanley commented on #2697
Seems like a sensible middle ground without compromising security would be to allow discovery of the port via DNS SRV record. Letsencrypt could query a record like

[code]

on the domain and forward verification requests to the resulting address/port combination. This has the same benefits as DNS verification but without the drawback of requiring dynamic updates.

[2017-02-27 10:13] matthanley opened #4265 "Feature request: Allow discovery of verification addresses/ports via DNS SRV"
Seems like a sensible solution to #2697 and similar without compromising security would be to allow discovery of the port via DNS SRV record. Letsencrypt could query a record like

[code]

on the domain and forward verification requests to the resulting address/port combination. This has the same benefits as DNS verification but without the drawback of requiring dynamic updates.

This would also m

[2017-02-27 15:09] hvanmegen commented on #3402
This config of mine is also giving me issues..
[mydomain.com.conf](https://github.com/certbot/certbot/files/804043/mydomain.com.conf.txt)

[2017-02-27 15:21] domcleal commented on #3402
@hvanmegen could you create a new issue please? I don't think your issue is the same as the above questions, best not to hijack this thread.

[2017-02-27 15:24] erikrose commented on #2243
@duckduckquack Looks like a different issue to me. Go ahead and open a new issue, and please include what you ran to trigger the crash. Thanks!

[2017-02-27 19:28] stdin commented on #2653
Just got this on Ubuntu 14.04 as well.

[2017-02-27 20:53] bmw commented on #3782
I think that makes a lot of sense and the rolling image is a great idea.

What do you think we should do to the quay.io image? Suddenly changing `latest` to Alpine may break people's integrations, however, I think this is the default image we want long term. We can either:

1. Leave the quay.io image untouched for now and use the new Docker image as `certbot-alpine`. We can make the Alpine version

[2017-02-27 21:35] #4225 closed

[2017-02-28 01:17] #3804 closed

[2017-02-28 04:07] multiwebinc opened #4270 "Add an option to unsubscribe from renewal notices for one certificate and add a re-subscribe option"
I was previously getting some expiration notice emails, like:

I had issued multiple certs for the same domain and I wanted to let this particular certificate expire, so I clicked on the unsubscribe link. However I didn't realize that it would unsubscribe that email for all certificates I issued using that email address.

I suggest:

1) Add an additional link in the email to unsubscribe from notif

[2017-02-28 08:26] mrj commented on #4218
For me, the solution was https://bugzilla.redhat.com/show_bug.cgi?id=1177479#c4

[2017-02-28 08:41] ArondeParon commented on #3149
Quite late, but some updates to this issue:

1. Seems to have been caused by a domain that was secured with basic auth, causing the renew client to be unable to connect. Doh!
2. I am still not very clear about the root cause of the problem, but it seems to have solved itself.

I will close this issue for now.

[2017-02-28 08:41] #3149 closed

[2017-02-28 09:14] DeKaN commented on #3991
This regular expression for `rewrite` in nginx
Rewrite may be in server and location blocks

[code]

[2017-02-28 09:55] quinncomendant commented on #4033
I was getting the same error of `Certbot has problem setting up the virtual environment` and `You are using pip version 8.0.3, however version 9.0.1 is available` when running certbot-auto via cron. Running certbot-auto regularly (as root) works fine. To solve this I had to add `export HOME=/root` to the start of the cron command, like this:

    48 */11 * * * export HOME=/root; /root/bin/certbot-

[2017-02-28 13:11] JesusAMR commented on #4218
Will try later today, thanks.

[2017-02-28 16:06] morganrallen commented on #4033
Thanks for the tip, that got me running again.

[2017-02-28 16:31] zabanshenas opened #4273 "UnicodeEncodeError while expanding certificate (ascii)"
Whats the problem with the following code?

My domain is: zabanshenas.com, talk.zabanshenas.com

I ran this command:
[code]

It produced this output:
[code]
logfile:
[code]

[2017-02-28 18:12] bmw opened #4274 "Make our own deb and rpm packages"
This allows us to have more control over our dependencies and helps people get precompiled and up to date versions of our packages sooner.

[2017-02-28 18:18] cpu commented on #4270
Hi there @multiwebinc :wave:,

Oops! I'm sorry to hear that. I know even with the warning message it can be easy to do accidentally.

Your two suggestions are both good ones but the expiration emails are generated by [Boulder](), the server-side CA for Let's Encrypt that Certbot and other ACME clients talk to. I'm going to mark this issue closed because of that.

I'd like to save you a bit of runn

[2017-02-28 18:18] #4270 closed

[2017-02-28 18:39] bmw commented on #956
I agree option 2 is probably the best approach and we'd certainly be open to incorporating something like this into Certbot.

The biggest potential concern I have here are about dependencies. What additional dependencies would Certbot need to do this? I'm a bit worried about making negative progress on #1301, [requiring dependencies that aren't available in Debian yet](https://github.com/greenhost

[2017-02-28 19:20] JesusAMR commented on #4218
Seems to have fixed it thanks

[2017-02-28 19:56] jsha commented on #956
Good point about the non-Debian deps. At first I thought this would only need asn1crypto, which we've previously considered including, but it [looks like](https://github.com/greenhost/ocspd/blob/a4a7202bcecc00f63ee282e885bf4b697f9ced9b/requirements.txt) it also pulls in oscrypto and ocspbuilder. I haven't looked at those to see how heavyweight they are.

Stepping back a bit: I think you told me of

[2017-02-28 23:02] koljakutschera opened #4275 "--cert-name does only work for renew"
Ubuntu 16.04
I installed Certbot via cloning the master repo

It seems that --cert-name does only work for renew. Not for creating new certs. Bug or feature?

The output when i try to create a non existing cert with: /opt/certbot/certbot-auto certonly --cert-name myname ... is something like the file in /etc/letsencrypt/myname... does not exist and then it stops - but why not create a new one if i

[2017-02-28 23:17] #4166 closed

[2017-03-01 00:12] bmw commented on #4169
@mmccoy, thanks for all the info. In your case, it looks like the vhost Certbot creates to solve the challenge conflicts with or is being overwritten by the `domain-b.com` HTTPS vhost. Can you provide a copy of this vhost as well?

Also, are either `domain-a.com` or `domain-b.com` vhosts in the same file as other vhosts?

[2017-03-01 00:18] bmw commented on #1328
@MikeLund, despite being an older version, the OS packages are still the preferred method (see #3538 for discussion on this). If you want to run a newer version of the client though, I'd recommend [certbot-auto](https://certbot.eff.org/#ubuntuother-other).

[2017-03-01 00:25] bmw commented on #4208
This looks like an instance of pypa/setuptools#944.

[2017-03-01 00:40] bmw commented on #4251
I agree we should support this, however, it's a pretty niche feature so to be honest we probably won't get to it for a while.

[2017-03-01 01:03] bmw commented on #4220
@SwartzCr, I don't think that's the problem. When we create the challenge vhost and add the `ServerName` directive for the challenge, that vhost should now take precedence over the vhost in `ssl.conf`.

@anthonywoodley yes that'd definitely be a problem. Let's Encrypt is trying to connect to your server to verify your domain. If you're unable to run Certbot on the server pointed at by the domain,

[2017-03-01 01:06] bmw commented on #2830
Sort of. We decided not to do this now but left it open as a future possibility. I'd prefer to leave it open for 1.0 or 2.0 when we can make breaking changes to Certbot.

[2017-03-01 01:12] bmw commented on #2427
I'm personally leaning towards removing `amazonlinux` support from `certbot-auto` entirely (see [my community forum post](https://community.letsencrypt.org/t/getting-error-couldnt-get-currently-installed-version-for-letsencrypt-when-trying-to-renew-my-certificates/27031/21?u=bmw)). `amazonlinux` support in `*-auto` has basically never worked and while I haven't spent much time on it, I have yet to

[2017-03-01 01:12] bmw commented on #211
Not Peter, but I also support this. See #3802.

[2017-03-01 01:12] bmw commented on #3802
Closing as a duplicate of #211.

[2017-03-01 01:12] #3802 closed

[2017-03-01 02:14] SwartzCr commented on #4253
@strugee got it
@ohemorange wanna put this into a milestone? Seems like a plausible feature

[2017-03-01 02:15] SwartzCr commented on #4231
@joohoi any ideas?

[2017-03-01 02:15] SwartzCr commented on #4242
I think @bmw would be the best equipped to answer that

[2017-03-01 02:34] SwartzCr commented on #4218
looks like you closed it and then accidentally re-opened it. I'm going to close this again, but feel free to re-open and add more information!

[2017-03-01 02:34] #4218 closed

[2017-03-01 02:43] SwartzCr commented on #211
I generally like #213 and would be pro redoing it. Though it's worth noting that now we have 235 contributors to this repository. Some of them have very small amounts of code committed (less than 10 lines) but they're still there. So if we are to do this we should have some policy about this - or decide that we do want to list all 235 people.

[2017-03-01 02:51] SwartzCr commented on #4245
pinging @bmw again - since I'm at a loss

[2017-03-01 02:54] SwartzCr commented on #1042
@joohoi is working on this currently.
I'd like to point out that people should be able to +1 the top post rather than expressing their excitement for this in individual comments and that I'd also prefer that as it'll keep this message log clean. If you have specific needs or recommendations still feel free to share them, but let's try to keep traffic on this down as we've already prioritized it :D

[2017-03-01 02:56] SwartzCr commented on #4265
I'd say this would be a major change to the ACME spec and might not work from the boulder side - so I'm going to tag @jsha to add his thoughts to this.

[2017-03-01 02:59] SwartzCr commented on #4273
huh - looks like the same problem as #4241
any ideas @bmw?

[2017-03-01 03:04] SwartzCr commented on #4275
the --cert-name flag is meant to handle what are called 'lineages' which are what are used to track and renew certificate files once you've gotten a cert by running certbot initially.
You shouldn't ever need to specify these names - and by default they'll use the name of the domain you're fetching a cert for.
You should omit this flag when fetching a cert for the first time. I'm going to close thi

[2017-03-01 03:04] #4275 closed

[2017-03-01 05:03] scubanarc commented on #4245
I still can't seem to get it to work. This is a recent install of an up to date operating system on new hardware. I can't imagine why it's not a slam dunk.

[2017-03-01 05:54] jsha commented on #4265
That's correct. It would need an ACME change, but also (more difficult) would need buy-in from the CA/Browser forum, which is unlikely (it's been discussed there already).

[2017-03-01 05:54] #4265 closed

[2017-03-01 11:42] joohoi commented on #3782
I think we should go with 2, but after few months of printing deprecation warnings or something alike, noting the users that there's going to be a considerable change to the container image.

[2017-03-01 15:31] SnijderC commented on #956
5. Consider using this dependency and ask @wbond if he wants to maintain debian packages?

That would also help a lot for the ocspd project.

We've considered using various openssl bindings etc., before building ocspd, none of them seem to handle anything ocsp related. ocspbuilder seems to be the only library that doesn't imply running subprocess all over the place in ocspd. Which is btw exactly w

[2017-03-01 15:48] SkiDooGuy opened #4276 "Ubuntu 16.04 Apache Error and Failing to Encrypt."
## Letsencrypt Log:

2017-03-01 15:42:27,954:DEBUG:letsencrypt.cli:Exiting abnormally:
Traceback (most recent call last):
  File "/usr/bin/letsencrypt", line 9, in <module>
    load_entry_point('letsencrypt==0.4.1', 'console_scripts', 'letsencrypt')()
  File "/usr/lib/python2.7/dist-packages/letsencrypt/cli.py", line 1986, in main
    return config.func(config, plugins)
  File "/usr/lib/python2.7/

[2017-03-01 17:02] sandrinr commented on #4233
Since this is fixed in upstream it would be much appreciated if you could consider doing a patch release for that issue. I am guessing people doing automatic provisioning of Let's Encrypt certificates run into this, like we did.

[2017-03-01 17:47] bmw commented on #4228
This is a duplicate #4099. The issue was fixed in Certbot 0.10.2, but this version of Certbot hasn't propagated to Ubuntu 16.04 yet (although it should soon). To use a fixed version of Certbot in the meantime, I recommend using [certbot-auto](https://certbot.eff.org/#ubuntuother-other).

[2017-03-01 17:47] #4228 closed

[2017-03-01 18:02] bmw commented on #4261
Fedora 14 was EOL'd in [2011](https://en.wikipedia.org/wiki/Fedora_version_history#Version_history). Due to it not being widely used and no longer supported by Fedora, I unfortunately don't think we're going to invest resources into maintaining support in `letsencrypt-auto`. If you'd like to try to get Certbot working on the system, you can try following our [developer instructions](https://certbo

[2017-03-01 18:02] #4261 closed

[2017-03-01 18:18] bmw commented on #4264
Certbot currently doesn't support Python 3 (see #3179). As you can see by how far Certbot got, we're pretty close, but we still have work to do.

Thanks for reporting this though. I'll make sure we look into this before announcing Python 3 support.

[2017-03-01 18:18] #4264 closed

[2017-03-01 18:18] bmw commented on #3179
See #4264 for a specific problem someone had trying to run Certbot with Python 3.

[2017-03-01 22:53] zective commented on #3944
@poing It works for me. Thank you! 👍

[2017-03-01 23:35] SkiDooGuy commented on #4276
Figured it out.

PHP7 is a bugger to work with. I removed all PHP programs and files from my machine and began fresh. A bit of tinkering with configs dealing with PHP and Apache and it worked without a hitch.

[2017-03-02 00:06] bmw commented on #4253
As explained in #3262, we decided not to use different exit codes for renewal in favor of a hooks system. For your case, you'd want something like:
[code]
These hooks will only run when a certificate has to be renewed. If I'm misunderstanding your use case and this won't work for some reason, please let me know and I'll reopen.

[2017-03-02 00:06] #4253 closed

[2017-03-02 00:35] bmw commented on #4242
Certbot unfortunately doesn't currently support registering multiple e-mail addresses for the same account. We should certainly add support for this in the future though.

[2017-03-02 01:04] kevin1 opened #4279 "Renew fails with KeyError: 'server' while reading configuration"
## My operating system is (include version):
Ubuntu 16.04.2 LTS
4.4.0-64-generic

## I installed Certbot with:
OS package manager (`python-letsencrypt-apache` package)
letsencrypt 0.4.1

## I ran this command and it produced this output:

(some domains have been replaced with a.kevinchen.co, b.kevinchen.co, etc
[code]

The following message is displayed. I select "Expand" ...
[code]

... and the p

[2017-03-02 01:04] bmw commented on #211
Do you like the idea of letting people add themselves as they like in the future? If so, we just have to figure out what we want to do for past contributors.

I'd personally lean towards just adding everyone who contributed in the past, but I don't think it'd be a big deal to only add people who have added/removed X lines of code to keep the list a little more manageable. If people who have contri

[2017-03-02 01:12] #4279 closed

[2017-03-02 01:30] ohemorange commented on #4233
We plan to release the next version of Certbot, which will include this fix, within the next day or so.

[2017-03-02 01:45] willin commented on #4062
0.4.1 does not have nginx plugin included

[2017-03-02 02:15] ohemorange commented on #4253
I agree with Brad. Also, if you really want to do things this way, #4138 should let you answer this and other questions programmatically.

[2017-03-02 02:27] strugee commented on #4253
Oh yeah, that seems to satisfy my use case. Do hooks do error handling? I.e. if a hook exits with an exit code of 1, will certbot fail accordingly? This isn't documented anywhere.

[2017-03-02 03:29] cowlicks commented on #211
I like your suggestion @bmw add all previous contributors, then new contributors can add themselves if they want. It gives new contributors a nice little ego boost :)

[2017-03-02 10:19] tinodj commented on #1833
Hi, how can I check which Certbot version I have installed?

I expirience this problem still with:
Ubuntu 16.04
letsencrypt 0.4.1

[2017-03-02 11:39] hogarthj commented on #3424
This is now in the stable Fedora and EPEL repos and can be closed.

[2017-03-02 11:40] hogarthj commented on #4245
The 0.11.1 release of certbot (including the apache plugin) is now in the EPEL7 repos  @scubanarc  can you please give that a try and see if you still have problems?

[2017-03-02 11:51] johanfleury commented on #3755
Isn't this issue a duplicate of #1466?

[2017-03-02 15:24] koljakutschera commented on #4275
For automation of letsencrypt it would be good to make it possible to set the name of the cert independent from domain. Maybe theres a multi-domain app running in future or the domain just changed. The reason why i would like to have this feature is - if i assign the cert to nginx-configs for multiple apps in multi-user environment automaticaly. The seems not to be futureproof so cant be used as s

[2017-03-02 17:02] scubanarc commented on #4245
Thanks for the help @hogarthj but it still isn't working.

I made sure that there were no traces of certbot left:

(as root)
<pre>yum remove python2-certbot
pip uninstall certbot
rm -rf /root/.local
updatedb
locate | grep "certbot"
</pre>

Came back clean. Then I installed the 0.11.1 release using yum. It seemed to install fine:

<pre>Running transaction
  Installing : python2-future-0.16.0-2.el7.

[2017-03-02 17:03] toralf commented on #3755
oops - never argued that it can't speak ipv6 at all - so you're right

[2017-03-02 17:03] #3755 closed

[2017-03-02 17:40] bigretromike commented on #1833
@tinodj not included in `-h` but its `certbot --version`

[2017-03-02 17:44] #3424 closed

[2017-03-02 18:05] bmw commented on #956
Yeah. We've asked `pyopenssl` to implement this (pyca/pyopenssl#306), but it hasn't seen much traction and even if they added it now, we couldn't (always) use it due to older versions of the package being used in different distros. As pointed out above, we're currently shelling out to `openssl` for OCSP fetching.

I'm not sure if having Certbot depend on `oscrypto` at this time is really feasible.

[2017-03-02 18:13] bmw commented on #4253
If you cert is due for renewal and a hook fails, it will print the error to `stderr` but still try to renew the cert. A failing hook doesn't cause Certbot to exit with a non-zero error code.

[2017-03-02 18:16] wbond commented on #956
I would be open to exploring how to make ocspbuilder (and the other modularcrypto packages) work without oscrypto. Most of them utilize oscrypto simply because it is a very portable, easy-to-install cryptography packages that can do RSA, DSA and ECC sign/verify operations.

The current discussion of using asn1crypto (the heavy-lifter behind ocspbuilder) with something other than oscrypto is at htt

[2017-03-02 18:18] bmw commented on #4275
Sorry for the confusion @koljakutschera. Creating the cert with requested name is the intended behavior of `--cert-name`, but there was a bug in this feature causing the error you're seeing. This issue is a duplicate of #4233 which has been resolved in `master` and we're planning on doing a release today including a fix for the problem.

Sorry for the trouble!

[2017-03-02 18:29] bmw commented on #4245
I think our parser is tripping up parsing your `LoadModule` directives. Assuming your Apache config is in `/etc/httpd`, can you paste the output of `grep -C 1 -r LoadModule /etc/httpd`?

@joohoi, might have some other ideas too.

[2017-03-02 19:00] bmw commented on #4219
We should be saving these values not dropping them.

Thanks for reporting the bug @code-tree. I've reproduced it and am working on a fix now.

[2017-03-02 19:05] fpeterson194 commented on #4242
Thanks very much @bmw ! we can close this issue now :)

[2017-03-02 19:11] scubanarc commented on #4245
Sure thing. Here it is:

<pre>
/etc/httpd/conf/httpd.conf-# To be able to use the functionality of a module which was built as a DSO you
/etc/httpd/conf/httpd.conf:# have to place corresponding `LoadModule' lines at this location so the
/etc/httpd/conf/httpd.conf-# directives contained in it are actually available _before_ they are used.
--
/etc/httpd/conf/httpd.conf-# Example:
/etc/httpd/conf/htt

[2017-03-02 19:51] bmw commented on #4273
@zabanshenas, can you include the full log? The error Certbot is struggling to parse should be present in the log before what you've included here.

[2017-03-02 19:52] bmw commented on #4242
We should leave it open for tracking purposes. Thanks for bringing this issue up!

[2017-03-02 19:57] EmersonBR opened #4282 "Failed to find apache2ctl in PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
## My operating system is (include version):
raspian 1.1 Pi

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
?

## I ran this command and it produced this output:
pi@hassbian:~ $ cd letsencrypt
pi@hassbian:~/letsencrypt $ ./letsencrypt-auto certonly --email xxxxxxx@gmail.com -d xxxxxxxxxxx.duckdns.org

## Certbot's behavior differed from what I expected because:

Got an e

[2017-03-02 19:58] derFunk commented on #3895
I still wasn't able to resolve this on a Debian Jessie instance, upgraded from Wheezy (dependency to libffi 5 not satisfied):

[code]

See also https://github.com/certbot/certbot/issues/3831.

[2017-03-02 20:01] vecna opened #4283 "Ubuntu 16.04 and nginx"
## My operating system is (include version):
Ubuntu 16.04 (xenial)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
`sudo apt-get install letsencrypt`

## I ran this command and it produced this output:
[code]
## Here is a Certbot log showing the issue (if available):
[code]

[2017-03-02 20:05] bmw commented on #4283
Sorry for the trouble and thanks for taking time to file an issue. This is caused by taking configuration files from a newer version of `certbot/letsencrypt` and using them with `letsencrypt` 0.4.1 in Ubuntu. The problem has been fixed in newer versions of Certbot, but while we're waiting for Ubuntu to upgrade their `letsencrypt` package, I posted a workaround [here](https://github.com/certbot/cer

[2017-03-02 20:05] #4283 closed

[2017-03-02 20:07] zabanshenas commented on #4273
the full log is here : http://pastebin.com/mYK2uCdV
However I managed to solve the problem.
That was because my subdomain was for a discourse forum and since discourse is installed with docker, I needed to follow [special steps](https://meta.discourse.org/t/how-should-i-enable-letsencrypt-while-discourse-is-beside-other-websites/58107) to make my certificate be issued.
However I think the error I

[2017-03-02 20:11] marlaw opened #4284 "Certbot automatic nginx configuration breaks android 16 4.x.x (not browser just java)"
Tested on Android 16 x86 as per Android Studio AVD

Certbot sets in Nginx

ssl_ciphers "ECDHE-ECDSA-AES128-GCM-SHA256 ECDHE-ECDSA-AES256-GCM-SHA384 ECDHE-ECDSA-AES128-SHA ECDHE-ECDSA-AES256-SHA ECDHE-ECDSA-AES128-SHA256 ECDHE-ECDSA-AES256-SHA384 ECDHE-RSA-AES128-GCM-SHA256 ECDHE-RSA-AES256-GCM-SHA384 ECDHE-RSA-AES128-SHA ECDHE-RSA-AES128-SHA256 ECDHE-RSA-AES256-SHA384 DHE-RSA-AES128-GCM-SHA256 DHE

[2017-03-02 21:00] bmw commented on #4219
I didn't see this in time to get a patch ready for this release, but our fix will be included in our release next month. In the meantime, you can set these values in a [configuration file](https://certbot.eff.org/docs/using.html#configuration-file) and they'll automatically be picked up when running Certbot (including `certbot renew`).

[2017-03-02 21:11] uberbrady commented on #2074
I ran into the same issue on Amazon Linux. In addition to the Yum install, (thx, @rudi-cilibrasi !) I also had to create a symlink:

[code]

[2017-03-02 21:28] EmersonBR opened #4285 "Failed to connect to xx.xx.xx.xxx:443 for TLS-SNI-01 challenge"
## My operating system is (include version):

Windows 10 using Putti to access Pi

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:

Failed to connect to xx.xx.xx.xxx:443 for TLS-SNI-01
   challenge

## Certbot's behavior differed from what I expected because:
it did not connect to my PI from DNS

## Here is

[2017-03-02 23:23] grgustaf commented on #2584
FWIW, I ran into this same problem, but my sites-enabled contained only symlinks. Then I looked in sites-available, and I happen to have symlinks in *there* too... just a configuration management trick I use so that I store all changes outside /etc and won't forget what I've changed. It doesn't like that either. When I replaced those with real files everything worked.

[2017-03-02 23:25] bmw commented on #4273
Thanks for the log and I'm glad you figured it out. The error you saw was due to our code failing to properly handle the non-ascii characters returned from your server.

[2017-03-02 23:56] tinodj commented on #1833
@bigretromike I thought that letsencrypt and certbot have different versions. I did check the letsencrypt version and reported in the first post. If that is also my certbot version, then it is clear why the problem is still there. Nonetheless, why Ubuntu 16.04 do not have newer version of certbot?

[2017-03-03 00:49] #3243 closed

[2017-03-03 01:07] bmw opened #4288 "Spurious connection errors during integration tests"
## My operating system is (include version):

Ubuntu 14.04 LTS

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

`tox`

## I ran this command and it produced this output:

`tests/travis-integration.sh`

## Certbot's behavior differed from what I expected because:

Integration tests shouldn't fail spuriously on documentation only PRs.

## Here is a ~~Certbot~~ Travis log s

[2017-03-03 01:26] bmw opened #4289 "IOError during config_changes"
This bug isn't `certbot-auto` specific. Reversion still works properly before/after this, but this looks like a bug with the reverter and should be investigated.

## My operating system is (include version):

CentOS 6

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

certbot-auto

## I ran this command and it produced this output:
#### Setup
[code]
#### Problem
[code]

##

[2017-03-03 02:00] starrychloe opened #4290 "Cannot run certbot with Python 2.7"
## My operating system is (include version):
CentOS release 6.8 (Final)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
[code]
It still uses Python 2.6 and still produces a warning. I also tried:
[code]
WITH 2.6 IT WORKS BUT GIVES DEPRECATION:
[code]

## Certbot's behavior differed from what I expected beca

[2017-03-03 08:18] kirelagin commented on #3640
Actually, it is not entirely safe. In older versions of nginx the `ipv6only` was `off` by default, so having these two lines you propose at the same time would break the config.

I’d say that `ipv6only=on` should be added to the `listen [::]:443` line, but, AFAIU, this option is Linux-only and I’m not sure how nginx will respond to it on other OSes.

[2017-03-03 18:00] bigretromike commented on #1833
for 16.04 its python-letsencrypt-apache and its old;
You can always install newer version yourself or move to newer ubuntu

[2017-03-03 18:02] parkan commented on #1736
FWIW, on ubuntu 16.04 you can resolve this by adding this ppa https://launchpad.net/~certbot/+archive/ubuntu/certbot, updating `letsencrypt` and installing `python-certbot-nginx`

[2017-03-03 18:04] tinodj commented on #1833
@bigretromike Thanks. 16.04. is not that old it is not even full year. But yes, I can install myself newer version.

[2017-03-03 19:53] zarmstrong commented on #1680
Update to @skatsumata for 2017 and certbot-auto:

[code]

[2017-03-03 22:06] scubanarc commented on #4245
@joohoi @bmw Thanks for your help so far. I'm running out of time on my existing cert and would really love to get this working. Any suggestions?

[2017-03-04 11:50] joohoi commented on #4245
I'm sorry it's taking a bit to get hold of this @scubanarc . I'm currently AFK, but taking a wild guess, it could be the comment in httpd.conf,  you could try removing the file:
`# have to place corresponding \`LoadModule'`

We'll get down to the actual reason and fix it properly on the Certbot side, but this could remedy the situation at hand.

[2017-03-04 13:27] GenZai commented on #4282
Same error message here, but it didn't burden the rest  of the process (my certificate works well)
On Ubuntu 14.04

[2017-03-04 15:38] willemdh commented on #3396
Also ran into this error. There should be an overwrite switch or something imho.

[2017-03-04 16:06] scubanarc commented on #4245
Removing that line didn't seem to help, but I have some more debug info for you guys. I modified /usr/lib/python2.7/site-packages/certbot_apache/parser.py and added: print(match_name) on line 92 like this:

<pre>            for match_name, match_filename in itertools.izip(
                    iterator, iterator):
                print(match_name)
                self.modules.add(self.get_arg(match

[2017-03-04 16:20] scubanarc commented on #4245
SUCCESS!

Even more info. With a tiny edit in parser.py I was able to make it work and got my cert issued and installed. Here's what I did. In parser.py starting at line 337 inside get_arg():

<pre>        # Note: normal argument may be a quoted variable
        # e.g. strip now, not later
        if value is None:
                value = ''
        value = value.strip("'\"")</pre>

I added a null

[2017-03-04 18:19] nkkollaw commented on #2829
The problem seems to be that LetsEncrypt checks your version to see if a required repo must be enabled, if it needs it it will ask you if you want to enable it, but this doesn't happen if you don't have lsb-release installed. I assume that the script uses lsb-release to check the version, and if it can't detect it it doesn't prompt you to enable the repo, which in turn creates the missing libs pro

[2017-03-04 21:00] e00E opened #4298 "Feature request: Allow to use certbot with fake / dummy certificates in order to test installer plugin"
I am developing an installer plugin for certbot which I would like to test by running it with certbot. However I do not have a domain or public web server so I cannot get a real certificate nor do I want to as I am just trying to test this plugin and actual certificate authentication is unnecessary overhead for this task.
It would be helpful if certbot had a kind of developer mode that acts like i

[2017-03-05 07:00] weberhofer opened #4299 "Can not start certbot 0.12 - former versions worked"
The system does not provide "requests[security]>=2.10". Interesting is, that the tests run nicely on the same systems.

## My operating system is (include version):
openSUSE Leap 42.1

## I installed Certbot with OS package manager:
python-acme-0.12.0-6.1.noarch
python-certbot-0.12.0-7.1.noarch
python-certbot-apache-0.12.0-7.1.noarch
certbot-0.12.0-7.1.noarch

## I ran this command and it produced

[2017-03-05 14:10] chris42 commented on #3293
I have the same problem. -t jessie-backports does not work.
For me I get version conflicts on sort of packages as described above. e.g. python-cryptography, python-setuptools, which all have to old versions.

[2017-03-05 17:37] mjesun opened #4300 "Paths are getting ignored"
## My operating system is (include version):
CentOS 7

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
yum

## I ran this command and it produced this output:
certbot certonly --non-interactive --agree-tos --standalone --email='admin@example.com' --key-path=/etc/letsencrypt/live/admin/key.pem --cert-path=/etc/letsencrypt/live/admin/cert.pem --chain-path=/etc/letsencrypt/l

[2017-03-05 22:43] mattogodoy opened #4301 "Error with acme version while trying to renew"
Hello!
I'm trying to renew my certificate using certbot under Ubuntu 14.10 and I'm getting this error:
`Could not find a version that satisfies the requirement acme==0.12.0`

I have certbot cloned from the GitHub repo, and I have pulled the latest version.
The command I'm running is ./certbot-auto renew and this is the output:
[code]

I also tried running certbot on verbose mode, and this is the o

[2017-03-06 01:27] bjorn-l opened #4302 "file permissions"
Running certbot-0.11.1-2 from EPEL repository, on Centos-7 system.

Under the default location for the certificates, the private keys are world-readable:
`ls -l /etc/letsencrypt/archive/*/privkey*.pem`

It would appear that mode bits of 600 would be much better.

[2017-03-06 01:59] sitaramanp commented on #2850
Mar 2017. We still have to downgrade to 2.7.9

[2017-03-06 02:10] Tejaf commented on #2850
Lol ikr... I still downgraded yesterday after I mistakenly upgraded my
heroku

On Mar 6, 2017 02:59, "Sitaraman Padmanabhan" <notifications@github.com>
wrote:

[2017-03-06 14:19] cpu commented on #4298
Hi @e00E,

One idea for acheiving this is to run Boulder (the server-side component of Let's Encrypt that Certbot talks to) locally. Take a look at [the Quickstart guide](https://github.com/letsencrypt/boulder#quickstart) as a starting point. The `FAKE_DNS` setting mentioned will let Boulder run in such a way that it will generate test certificates for any domain.

You can tell Certbot to talk to

[2017-03-06 16:39] hogarthj commented on #4223
On RHEL/CentOS Listen 443 is provided by ssl.conf which in turn comes from the mod_ssl package ...

[2017-03-06 16:47] sinoon commented on #4301
because of you set pip mirror is `aliyun.com`,just set origin mirror
[code]
or something else

I think may aliyun mirror is not latest version of acme

[2017-03-06 17:38] zenny commented on #1042
I am having the similar problem with nginx.

I have four domains pointing to the same site. I tried to obtain certificate manually, yet one of the alias domain fails as of below:

​​[QUOTE]
# certbot certonly -n --text --agree-tos --authenticator webroot --server https://acme-v01.api.letsencrypt.org/directory --rsa-key-size 4096 --email noreply@SECOND-DOMAIN.COM -d FIRST-DOMAIN.ORG -d www.FIRST-DO

[2017-03-06 23:32] mattogodoy commented on #4301
Oh man, I can't thank you enough. I didn't find this anywhere else. It worked like a charm.
Thanks a lot!

[2017-03-06 23:32] #4301 closed

[2017-03-07 01:10] bmw commented on #4284
Thanks for the report. @schoen is going to take a look at this.

[2017-03-07 01:12] bmw commented on #4285
To be clear, you're running Certbot on a Raspberry Pi? Which OS? Raspbian?

Can you include a full version of the log? What you posted just looks like Certbot's stdout output.

[2017-03-07 01:16] bmw commented on #4290
If you want `certbot-auto` to use Python 2.7, try running:
[code]
before running `certbot-auto` again with `scl enable python27`.

[2017-03-07 01:22] bmw commented on #4282
This error would be caused by hitting ctrl+c when Certbot is running. Are you able to reproduce this problem (without hitting ctrl+c)?

[2017-03-07 01:25] EmersonBR commented on #4285
Pi rasbian. Thank you BMW!

[2017-03-07 01:26] bmw commented on #2829
Adding `lsb-release` as a dependency in [our Debian bootstrap script](https://github.com/certbot/certbot/blob/master/letsencrypt-auto-source/pieces/bootstrappers/deb_common.sh) makes sense here. The script would have to be refactored a bit so it installs this dependency before using it.

[2017-03-07 01:27] EmersonBR commented on #4282
I hit crtl C after to copy everything.

[2017-03-07 01:30] bmw commented on #4282
ctrl+c is what would cause the `KeyboardInterrupt` error and crash you included above. What's the problem you're having?

[2017-03-07 01:50] schoen commented on #4284
@bmw, it looks like that ciphersuite list is based on `certbot/certbot-nginx/certbot_nginx/options-ssl-nginx.conf`, which says

`ssl_ciphers "ECDHE-ECDSA-AES128-GCM-SHA256 ECDHE-ECDSA-AES256-GCM-SHA384 ECDHE-ECDSA-AES128-SHA ECDHE-ECDSA-AES256-SHA ECDHE-ECDSA-AES128-SHA256 ECDHE-ECDSA-AES256-SHA384 ECDHE-RSA-AES128-GCM-SHA256 ECDHE-RSA-AES256-GCM-SHA384 ECDHE-RSA-AES128-SHA ECDHE-RSA-AES128-SHA256

[2017-03-07 02:05] bmw commented on #4284
It's based on "Bulletproof SSL and TLS", however, this is a legacy decision and we decided we'd use Mozilla's recommendations as described [here](https://certbot.eff.org/docs/ciphers.html#sources-of-defaults). Looks like Nginx never never got updated.

We should make sure we change this before unhiding the Nginx plugin.

And just so she's aware of this issue, cc @ohemorange

[2017-03-07 02:09] EmersonBR commented on #4282
I can't get a certificate from lets encrypt. How do I check for the certificate?

Also,  Domain: xxxxxxxxxxxx.duckdns.org
Type: connection
Detail: Failed to connect to xx.xx.xx.xxx:443 for TLS-SNI-01
challenge

To fix these errors, please make sure that your domain name was
entered correctly and the DNS A record(s) for that domain
contain(s) the right IP address. Additionally, please check that
yo

[2017-03-07 02:13] bmw commented on #4299
This looks like a problem with the OS packages. As you're probably aware, Python is erroring out saying Certbot's dependencies are not correctly installed. I'm not very familiar with openSUSE. Is there a bug tracker for the packages where you can report this?

[2017-03-07 02:19] bmw commented on #4300
This is a duplicate of #3611. To achieve the behavior you want, make sure you're using Certbot 0.12.0+ (which I believe should be in EPEL7 soon) and include `--cert-name admin` on the command line.

[2017-03-07 02:19] #4300 closed

[2017-03-07 02:19] bmw commented on #4302
This is a duplicate of #1473.

[2017-03-07 02:19] #4302 closed

[2017-03-07 03:12] bmw commented on #4298
There's currently no feature like this, however, there aren't any checks on the validity of the cert and key. You can use a self-signed cert, a cert for a different domain, etc. For example, if you install the `ssl-cert` package on Debian systems, you could use `/etc/ssl/certs/ssl-cert-snakeoil.pem` and `/etc/ssl/private/ssl-cert-snakeoil.key`.

Because of this, I'm not sure how beneficial this fe

[2017-03-07 03:35] bmw commented on #4282
If you're not running Apache on your Raspberry Pi, the message about not finding Apache binaries is to be expected. What's the difference between this issue and #4285? Do we need both?

[2017-03-07 03:39] bmw commented on #4285
A full version of your log which I asked for in my last message would still be useful. Make sure you've followed the following advice from the output above:

entered correctly and the DNS A record(s) for that domain
contain(s) the right IP address. Additionally, please check that
your computer has a publicly routable IP address and that no
firewalls are preventing the server from communicating wit

[2017-03-07 04:31] jsha commented on #4143
I'm not convinced that this is an issue specific to `sudo zsh` (or `sudo bash`). I think most likely it's related to cron jobs not having the same environment variables set as interactive shells, a longstanding problem with Certbot and cron jobs.

@kierun, could you post your whole crontab, and tell us what user it runs as?

[2017-03-07 06:24] zenny opened #4307 "Multiple alias hosts issues with nginx"
I am having multiple alias hosts problem similar to https://github.com/certbot/certbot/issues/1042 with a Debian8 Jessie server running nginx. Certbot version is 0.9.3-1~bpo8+2 installed using apt from jessie-backports.

I have four domains pointing to the same site and all DNS entries points to the same domain (All others except FIRST-DOMAIN.ORG are aliases).

The certs were issued three months b

[2017-03-07 07:04] fedor-brunner opened #4308 "SHA1 is used in certbot-auto.asc"
When verifying certbot-auto.asc

gpg --verbose --verify certbot-auto.asc

gpg: binary signature, digest algorithm SHA1

Please upgrade the SHA1 signature to SHA-512

Also the PGP key
A2CF B51F A275 A728 6234  E7B2 4D17 C995 CD97 75F2
is using only 2048 bit RSA. Please upgrade this key.

gpg --edit-key letsencrypt-client@eff.org
pub  2048R/0x4D17C995CD9775F2  created: 2015-11-25  expires: 2027-11-2

[2017-03-07 07:46] kierun commented on #4143
@jsha Here it is. Mostly, it's the default Fedora one with certbot added.

[code]

[2017-03-07 08:15] weberhofer commented on #4299
I'm one of the packagers for openSUSE. Meanwhile I have investigated the issue a bit more: The problem is/was, that certbot raised it's dependency on python-requests >= 2.10 which is not provided by the OS.
Now we changed dependencies in the spec file and we provided a update to the library. I also found #4248 which says we can use older versions resulting in less accurate error-messages in some c

[2017-03-07 08:15] #4299 closed

[2017-03-07 08:42] cnyyk opened #4309 "You are using pip version 8.0.3, however version 9.0.1 is available. Same issue with #4033 and can't fix it."
## My operating system is (include version):
CentOS 7.3.1611(Core)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
yum with epel repo.

## I ran this command and it produced this output:
certbot-auto renew all

## Certbot's behavior differed from what I expected because:
Exception occurs

## Here is a Certbot log showing the issue (if available):
###### Logs are stored i

[2017-03-07 09:32] cnyyk commented on #4309
Fixed.
The pip mirror caused this issue.
rm ~/.pip/pip.conf
Then certbot-auto renew, works fine!

[2017-03-07 09:32] #4309 closed

[2017-03-07 09:41] shr3k commented on #1425
:+1:

[2017-03-07 09:43] shr3k commented on #3045
:+1: and for ssl-cert group and 640 for private key in Debian

[2017-03-07 13:10] EmersonBR commented on #4285
I get this when I open the dns link:

Directory listing for /

.bash_history
.bash_logout
.bashrc
.duck.sh.swp
.local/
.profile
.selected_editor
duckdns/
hassbian-scripts/
letsencrypt/
python-openzwave/

and they are links that download files, I can click on them and they download some sort of log.

Also on the Pi, it shows the following:

pi@hassbian:~ $ sudo python -m SimpleHTTPServer 80
Serving

[2017-03-07 14:22] EmersonBR commented on #4285
Sorry, here is the original text:

Obtaining a new certificate
Performing the following challenges:
tls-sni-01 challenge for emersonhass.duckdns.org
Waiting for verification...
Cleaning up challenges
Failed authorization procedure. emersonhass.duckdns.org (tls-sni-01): urn:acme:error:connection :: The server could not connect to the client to verify the domain :: Failed to connect to 73.56.155.227

[2017-03-07 17:45] jsha commented on #4143
Thanks! This is interesting:

It looks like you've got two cron jobs, one running `certbot-auto` with `--no-self-upgrade` and one running `letsencrypt-auto`, with self-upgrade defaulted on. Is that intentional?

Also, you've got `--renew-by-default` on, which is inadvisable: It will renew your certs on every run, rather than just if they are close to expiry.

Are you still getting the original err

[2017-03-07 19:36] bmw commented on #4307
#1042 is about our Apache parser being unable to parse multiple files containing multiple `VirtualHost` directives. This situation is quite a bit different because your webserver is irrelevant when using webroot. Certbot is just placing files at the path you specified and not parsing your webserver configuration in any way.

I suspect what happened here is your Nginx configuration changed and it's

[2017-03-07 21:20] neofutur commented on #4299
FYI : same problem on gentoo :
 certbot --apache
Traceback (most recent call last):
  File "/usr/lib/python-exec/python2.7/certbot", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 3080, in <module>
    @_call_aside
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 3066, in _call_as

[2017-03-07 22:09] void-elf opened #4310 "document how different display modes interact with force_interactive"
... because `force_interactive` doesn't actually force interactivity in non-interactive mode (it just uses the default instead), which is unintuitive and isn't written down anywhere.

[2017-03-07 22:38] zenny commented on #4307
@bmw Thanks. However, I have already tried that way as posted [ https://www.howtoforge.com/community/threads/ispconfig-3-1-2-letsencrypt-certificates-were-not-renewed-automatically.75771/#post-357051](here). Nginx vhosts files are working alright except certbot seems to behaving very randomly.

[2017-03-08 00:51] bmw commented on #3603
We removed `dnspython` as a dependency in 0.11.0.

[2017-03-08 00:51] #3603 closed

[2017-03-08 00:56] bmw commented on #1560
This was resolved in 0.4.0.

[2017-03-08 00:56] #1560 closed

[2017-03-08 01:34] bmw commented on #4308
Thanks for pointing this out. I'll update our release process to ensure a SHA2 algorithm is used in the future.

[2017-03-08 02:34] skynet opened #4311 "Upgrading certbot-auto 0.11.1 to 0.12.0."
[code]

[2017-03-08 08:28] kierun commented on #4143
You are right! Silly me. I was meant to delete one of those.

No, I am not getting the error using the "fix" I detailed in the PR. ☺

[2017-03-08 11:39] brandonrich commented on #2872
I'm running as root on Amazon Linux.  This is a renewal; original cert installation was fine on this same machine.  I'm not sure what would have changed.

I tried the above steps of updating pip and virtualenv... no luck. :-(  Cert expires in 9 days.

[2017-03-08 11:44] RUSHt commented on #2872
I had lots of hassle, but found the following better than the CLI for my purposes.

https://github.com/Daplie/node-greenlock

[2017-03-08 12:22] brianjmurrell opened #4312 "post-hook didn't get http-01 renewed domains"
## My operating system is (include version):
CentOS 7.3

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
EPEL

## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:
As you can see in the `env` output above, none of my http-01 challenged domains were in `$RENEWED_DOMAINS`

## Here is a Certbot log showing th

[2017-03-08 19:41] SwartzCr commented on #1684
@bmw wanna add some context to this?

[2017-03-08 19:56] pde commented on #1684
The most ambitious version of what this flag might do is:

* if a challenge fails, pause and print some information:
  * what the challenge was, and how it is supposed to work
  * information on your current state (eg, "Certbot has made temporary changes to your Apache config to serve this TLS-SNI-01 cert (perhaps printing the config diff or pointing to a file that contains it) when things are cor

[2017-03-08 20:06] magnusbj commented on #2832
Hi, I'm running an AWS micro, ubuntu 14.04, 500mb ram. When the docker with the web server was running, installing python packages halted with ./certbot-auto and the above instructions.

I ran htop on another ssh client, and saw that memory was maxed out on the AWS.

Then I stopped docker with database and webserver, and verified in htop that memory was freed up.

In 1,2,3 ./certbot-auto did it's

[2017-03-08 22:51] bmw commented on #4285
You're running Certbot on your Pi correct? If you're running it locally it won't work (without significant extra work).

One thing you can try is adding `--preferred-challenges http` to the command line. If that doesn't work, I should have been more clear about the log. I meant a copy of the log stored in `/var/log/letsencrypt`. As included in the text of our issue template: "Feel free to redact d

[2017-03-08 23:21] bmw commented on #4307
I missed something in your output above. Let's Encrypt's not reporting that you're serving the wrong response to the challenge, it's saying it can't connect to that domain at all.

If that doesn't help you debug the problem yourself, do you feel comfortable sharing the domain with me so I can take a look at DNS and try to connect to the server? You can send me an e-mail if you prefer. Address is b

[2017-03-08 23:54] bmw commented on #4312
The order of events in that output is interesting. If it wasn't a copying problem and the error output from post hook actually comes before all of the `Processing /etc/letsencrypt/renewal/...` lines, please do include a full log.

With that said, it's actually by design that `--post-hook` doesn't get `RENEWED_DOMAINS`. `RENEWED_DOMAINS` is only passed to `--renew-hook`. The difference is explained

[2017-03-09 00:05] lancedolan commented on #3709
Big upvote on this!

Additionally, if your SSL termination happens on some hosted infrastructure or platform provider who doesn't use Let's Encrypt, but who will allow you to programmatically upload certs, then your certbot server will need to sign all certs with a private key provided to you by your hosting provider. That is our case now, and it's causing great difficulty, if not a total impasse.

[2017-03-09 00:09] lancedolan commented on #3709
This documentation indicates that the feature already exists and that using the CSR is only optional... but I've found no documentation otherwise:

https://certbot.eff.org/faq/#can-i-use-an-existing-private-key-or-certificate-signing-request-csr-with-certbot

[2017-03-09 00:33] bmw commented on #4299
It looks like you're using the `git` version of our packages which I don't recommend. With that said, you can work around the problem by updating `dev-python/requests` to a version >= 2.10.

[2017-03-09 01:02] jsha commented on #4143
I'm inclined to close the PR unless we can come up with a specific set of steps to reproduce the issue. I've tried reproducing with, e.g. `PYTHONPATH=/foo/bar ./certbot-auto --help` and can't. Thoughts? @bmw?

[2017-03-09 06:59] shintojoseph1234 commented on #2850
This will work for virtualenv pip wheel errorcode1 problems and also E unable to locate package problems

    apt-get update

    apt-get install python-software-properties

    apt-get install apt-file

    apt-file update

    apt-get install software-properties-common

    apt-get install <your filename>

[2017-03-09 07:41] kierun commented on #4143
@jsha That is really weird. But if you cannot reproduce it, then it must have been something more subtle in my set up that got fixed as a side effect of resetting the `PYTHONPATH`. Hum…

[2017-03-09 13:48] enoch85 commented on #1706
Sorry for posting my question here as there are so many subscribing to this issue, but I couldn't find a good answer anywhere else so here it goes:

**Ubuntu 16.04.2**
*Installing packages with `apt install letsencrypt`*:
`letsencrypt --version` gives me *0.4.1* but when installing from `git` I get *0.12.0* - so when will Ubuntu update the package, or is the *0.4.1* just the Ubuntu version for *0.

[2017-03-09 14:52] mgedmin commented on #1706
Ubuntu never updates packages in released versions (except when they need to fix serious bugs -- see their [Stable Release Updates policy](https://wiki.ubuntu.com/StableReleaseUpdates)).

[2017-03-09 14:58] jonathonf commented on #1706
Ubuntu will update the package for 16.04 as and when it goes through the SRU process. The Ubuntu package is not linked to the git repo.

You're better off using the PPA, then an `apt-get install letsencrypt` will install the latest packaged version.

Unless you want the latest git version, in which case do what you did.

[2017-03-09 15:07] brianjmurrell commented on #4312
Ahhh.  That must have been my problem.  I followed an example of a hook script that could be used for renewing but it said it was for the --post-hook.

I have updated my renew command.  We'll see if it gets triggered properly next time renewals come due.

[2017-03-09 15:07] #4312 closed

[2017-03-09 15:11] bmw commented on #4312
Do you remember where this example was? I'd like to make sure the person who wrote the example is aware of the problem so we can hopefully see it fixed and avoid others having similar issues in the future.

[2017-03-09 15:16] enoch85 commented on #1706
@jonathonf I installed the PPA in this issue, but no difference. :/

[2017-03-09 15:21] jonathonf commented on #1706
I don't think you did. ;)

Try this one: https://launchpad.net/~certbot/+archive/ubuntu/certbot

[2017-03-09 15:39] enoch85 commented on #1706
@jonathonf Awesome! Missed that.

So, will this be maintained? I noticed it's "semi-official". Also, will this install all the needed dependencies? It seems to me that the Git version installs more packages...

[2017-03-09 16:42] neofutur commented on #4299
thaks, that worked, working again after installing dev-python/requests-2.11.1::gentoo

still seeing a few worrying errors like :
/usr/lib/python2.7/site-packages/OpenSSL/rand.py:43: UserWarning: implicit cast from 'char *' to a different pointer type: will be forbidden in the future (check that the types are as you expect; use an explicit ffi.cast() if they are correct)
  result_code = _lib.RAND_b

[2017-03-09 16:56] EmersonBR commented on #4285
**Where do I put the --preferred-challenges http command line?

Also, I cannot find my yaml file any longer, where would that be located?

Do you think I should re-install everything, including home assistant and letsencrypt?**

****Here is the log named letsencrypt.log, (btw, I also have 3 other logs named letsencrypt.log.1,letsencrypt.log.2 and letsencrypt.log.3) :****

2017-03-03 22:35:01,781:D

[2017-03-09 17:23] brianjmurrell commented on #4312
I don't I'm afraid.

[2017-03-09 18:23] jsha commented on #4143
Thanks! Closing for now, reopen or open a new ticket if you find more problems. Thanks!

[2017-03-09 18:23] #4143 closed

[2017-03-09 18:33] lancedolan commented on #3709
I have learned there is an existing PR to get this completed...

https://github.com/certbot/certbot/pull/3819

[2017-03-09 18:35] Approach opened #4314 "Error encountered using certbot on CentOS 7 w/certonly --webroot"
## My operating system is (include version):
centos 7

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
yum

## I ran this command and it produced this output:

certbot certonly --webroot -w /srv -d fakedomain.co -d www.fakedomain.co -d static.fakedomain.co -d service.fakedomain.co -d portal.fakedomain.co -d admin.fakedomain.co -d user.fakedomain.co -d secure.fakedomain.co

[2017-03-09 18:37] Approach commented on #4314
oh also it worked after 2 tries, same command, just wanted to inform in case useful

[2017-03-09 19:06] bmw commented on #4284
We should check if old nginx installations are updated to the new ciphersuites.

[2017-03-09 19:11] ohemorange commented on #4125
This is the same as mentioned [here](https://github.com/certbot/certbot/issues/3798#issuecomment-277311682), and should by fixed in 0.13.0.

[2017-03-09 19:13] bmw commented on #4108
Should be fixed by #4202.

[2017-03-09 19:16] bmw commented on #4077
Any luck reproducing?

[2017-03-09 19:17] #3451 closed

[2017-03-09 19:18] bmw commented on #4076
We never got a follow up on this and a lot of parsing is/has changed and improved. If you can still repo, please follow up providing more info.

[2017-03-09 19:18] #4076 closed

[2017-03-09 19:20] bmw commented on #4246
Closed #4054 in favor of this. We should make sure we're checking for regressions of #4053.

[2017-03-09 19:20] #4054 closed

[2017-03-09 19:22] myrrlyn commented on #4077
Not yet. Waiting on a certificate expiry.

On Mar 9, 2017 12:17 PM, Brad Warren <notifications@github.com> wrote:

Any luck reproducing?

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub<https://github.com/certbot/certbot/issues/4077#issuecomment-285451128>, or mute the thread<https://github.com/notifications/unsubscribe-auth/AFpZV

[2017-03-09 19:30] ohemorange commented on #3991
This should be fixed by #4296.

[2017-03-09 19:37] bmw commented on #3895
@pde are you still working on this? You showed me some code for it at one point. What's it's current status?

[2017-03-09 19:39] bmw commented on #3871
Closing for now, but if you're still having issues please comment adding more information about how to reproduce the problem and we'll reopen.

[2017-03-09 19:39] #3871 closed

[2017-03-09 19:44] #3860 closed

[2017-03-09 19:55] bmw commented on #3362
Somewhat related #3967.

[2017-03-09 19:56] bmw commented on #3328
This will be fixed as part of #4027.

[2017-03-09 20:01] bmw commented on #2726
@joohoi suggested as a potential possibility here is commenting out problematic directives such as this and #1820, notifying the user, and letting them update their config manually. Obviously it would be nice if we could just handle this properly ourselves, but that is much harder and commenting out some directives allows us to make some forward progress on this issue.

[2017-03-09 20:02] jsoref commented on #3433
Note: you can skip the wget. rpm supports urls.

At least for initial testing, I have more than enough computers which have redhat subscriptions (usually we get this from our hosting provider).

[2017-03-09 20:07] bmw commented on #1028
We now have the ability to check OCSP in `certbot.ocsp`. This may be as simple as calling the functions there from `storage.py`, but we should make sure we're happy with the approach taken in `ocsp.py` and that it works well here.

[2017-03-09 20:08] bmw commented on #985
I want to do #4080 before we do this.

[2017-03-09 20:10] bmw commented on #338
We should split this into separate issues we care about.

[2017-03-09 20:14] bmw commented on #4160
This was fixed in #4212.

[2017-03-09 20:14] #4160 closed

[2017-03-09 20:43] bmw commented on #3395
@Ninos, does our current `certificates` command work for you here? We're considering different ways to control this output (see #3909, #3910, #4238), but parsing the current output isn't too bad. It looks like:
[code]
I'm just trying to determine what additional action is needed here.

[2017-03-09 22:30] bmw opened #4315 "Remove dead autodeployment code"
Remove dead code `autodeployment_is_enabled` and `should_autodeploy` in `certbot/storage.py` and relevant tests in `certbot/tests/storage_test.py`.

[2017-03-09 22:38] bmw commented on #3048
I just played with this for a bit. The issue as hypothesized by Seth of having a pending deployment has been resolved. First, Certbot does not currently respect values for `autodeploy` or `deploy_before_expiry` in renewal conf files. Some of the logic is still there with `autodeployment_is_enabled` and `should_autodeploy`, but it's not called anywhere (other than in tests). I added #4315 to track

[2017-03-09 22:38] #3048 closed

[2017-03-09 23:47] bmw opened #4317 "Apache TLS-SNI failure"
Very detailed bug report at https://community.letsencrypt.org/t/error-renewing-certificate/29404.

cc @joohoi

[2017-03-10 00:22] jsha opened #4318 "acme API changes required for implementing the latest ACME spec"
In order to implement the current ACME spec, we're going to need to implement some breaking changes. Ideally I'd like to implement the new Python APIs on top of Boulder's old ACME version and offer the old APIs for a deprecation period while Boulder is still implementing the latest ACME spec. Once Boulder has implemented the latest spec, the deprecated `acme` module APIs would be supported only wh

[2017-03-10 00:57] ohemorange opened #4319 "Rewrite our various `if os.path.exists`s atomically."

[2017-03-10 05:33] imiRemy commented on #2554
@jknopp thank you! Your solution also worked for me using the `standalone` option that @minhchu used.  I have a bitnami image running apache on AWS and the out-of-the-box certbot setup did not work.

[2017-03-10 11:47] LorenzoPetite opened #4321 "ssl.CertificateError: hostname 'new.domain.com' doesn't match either of ..."
## My operating system is (include version):
Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Virtualmin

## I ran this command and it produced this output:
In virtualmin, I have requested a certificate for the following domains: 'child.steezonairehoodies.com', 'steezonairehoodies.com', 'test.steezonairehoodies.com', 'www.steezonairehoodies.com'

This works f

[2017-03-10 18:45] pepoluan opened #4323 "certbot-auto only run renew_hook of the cli.ini, ignores per-lineage renew_hook's"
## My operating system is (include version):
Ubuntu 16.04.1

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
`wget https://dl.eff.org/certbot-auto`

## I ran this command and it produced this output:
[code]

**Note:** `iptables-save` here is just a "test hook" in `/etc/letsencrypt/cli.ini`. The conf file `/etc/letsencrypt/renewal/some.obfuscated.domain.com.conf` has a dif

[2017-03-10 18:58] #2176 closed

[2017-03-10 18:58] #3455 closed

[2017-03-10 20:33] bmw commented on #4299
This warning should go away by upgrading `dev-python/pyopenssl` to a newer version (see pyca/pyopenssl#568).

[2017-03-10 20:34] bmw commented on #4285
You can place it anywhere after `certbot-auto`.

[2017-03-10 20:38] bmw commented on #4314
I'm glad you got it to work. It looks like Let's Encrypt was performing some maintenance then with some expected downtime (see [this](https://letsencrypt.status.io/pages/history/55957a99e800baa4470002da)). Thanks for taking the time to file an issue and provide all of this information though!

[2017-03-10 20:38] #4314 closed

[2017-03-10 21:55] bmw opened #4324 "Using the Nginx plugin when Nginx is turned off hangs forever?"
## My operating system is (include version):

Arch Linux

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

OS package manager

## I ran this command and it produced this output:

`certbot --nginx -vv -d domain.net -d blog.domain.net -d cf.domain.net -d mail.domain.net`

## Certbot's behavior differed from what I expected because:

It hung for 5 - 10 minutes without printi

[2017-03-10 22:55] ohemorange commented on #4324
Yup, I was able to repro. Checking now if it's the distro or the nginx version (that version is mainline, not stable).

[2017-03-10 23:02] ohemorange commented on #4324
1.11.10 works on ubuntu.

[2017-03-10 23:11] ohemorange commented on #4324
Yup, we hang in arch on stable nginx.

[2017-03-10 23:53] ohemorange commented on #4324
This happens when you install from master, so it's not a packaging issue.

[2017-03-10 23:57] ohemorange opened #4326 "/etc/nginx.conf should probably be /etc/nginx/nginx.conf"
https://github.com/certbot/certbot/blob/master/certbot-nginx/certbot_nginx/configurator.py#L821

[2017-03-11 00:12] ohemorange commented on #4324
On arch (and not ubuntu), `nginx` from the command line returns immediately, but using the `subprocess` library, `nginx` only returns from `communicate` when given an explicit `nginx -s stop`.

[2017-03-11 00:29] ohemorange commented on #4324
Well. We can fix this by not trying to access `stdout` and `stderr`. Which could mean it's some sort of buffering issue in nginx.

[2017-03-11 00:56] ohemorange commented on #4324
Well. We could fix this by `calling subprocess.Popen([nginx_ctl, "-c", nginx_conf]).communicate()` right before we call `reload`. Because then:

1. problem with the config: fail to start, which returns with an error we ignore. fail to reload, which gives us a returncode, so we fail to start again, and then time print the error. all good!
2. was running before: fail to start, which returns with an

[2017-03-11 00:56] ohemorange commented on #4324
@bmw would that be too disgusting of a solution

[2017-03-11 00:57] ohemorange commented on #4324
relevant code: https://github.com/certbot/certbot/blob/master/certbot-nginx/certbot_nginx/configurator.py#L821

[2017-03-11 01:00] ohemorange commented on #4324
lol [this person](https://thraxil.org/users/anders/posts/2008/03/13/Subprocess-Hanging-PIPE-is-your-enemy/) agrees:

[2017-03-11 01:00] ohemorange commented on #4324
there is a maybe fix though that's less hacky than this

[2017-03-11 01:03] ohemorange commented on #4324
actually nope that wouldn't solve this

[2017-03-11 15:31] Juma7C9 opened #4328 "Allow private keys to be password protected"
In some scenarios it would be desirable not to save unencrypted private keys on disk, for instance when they reside on untrusted locations (like VPSes without disk encryption support), and securing communications may be a concern.

For now I'm using a script than encrypts the saved key and deletes the original one, but I think a native solution would be preferable, also to avoid saving (even tempo

[2017-03-11 19:16] Ardakilic commented on #1556
I just had this issue on Debian Jessie after pulling latest changes, @WoLpH 's comment helped me solve it.

[2017-03-11 22:48] jimbauwens opened #4330 "certbot registration update fails due to updated terms-and-conditions"
## My operating system is (include version):

Debian 8

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

apt-get (using backports), certbot 0.9.3

## I ran this command and it produced this output:

[code]

## Certbot's behavior differed from what I expected because:

Update_registration (acme/client.py) certbot is too strict:
[code]

In my case the terms-and-conditions g

[2017-03-12 02:19] Majkl578 opened #4331 "--chain-path does not yield proper chain at given path, generates 0000_chain.pem in cwd instead"
#### My operating system is (include version):
Debian 8

#### I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot 0.12.0
Cloned from GitHub, now using certbot-auto.

#### I ran this command and it produced this output:
[code]
Using CSR in $1 to generate the certificate.
This correctly generates the certificate iself and places it at path $2.
It fails to create proper cha

[2017-03-13 09:06] philippeowagner commented on #4033
Today my [suggested work around](https://github.com/certbot/certbot/issues/4033#issuecomment-273486374) stopped working. The problem was, that I had not enough free memory on the server. After freeing the memory I was able to re-use letsencrypt-auto.

[2017-03-13 15:05] Ninos commented on #3395
Hey @bmw,
yes the command is fine. I get all needed informations. The only problem: If you have lots of certs the list gets very long. I also recomment something like that:
`certbot certificates example.tld www.example.tld` (just receiving relevant certs)

[2017-03-13 17:29] bmw commented on #4321
The output and error you show here isn't from Certbot. In fact, it looks like it's from [acme-tiny](https://github.com/diafygi/acme-tiny) which is another client for obtaining Certificates from Let's Encrypt. I recommend you open an issue on their repo as this is for EFF's Certbot client.

[2017-03-13 17:29] #4321 closed

[2017-03-13 17:34] mr0x20wednesday opened #4332 "No package python-certbot-apache available."
My operating system is: Amazon Linux 4.4.51-40.58.amzn1.x86_64

I tried to install certbot using the official instructions for RHEL7 as that appeared to be most similar to Amazon Linux.

I ran `yum install python-certbot-apache` and it produced this output:

`Loaded plugins: priorities, update-motd, upgrade-helper
amzn-main/latest                                         | 2.1 kB     00:00
amzn-upd

[2017-03-13 18:11] ohemorange commented on #4324
ok we don't really want to call start before reload. but we only need the stdout and stderr if it failed to start. so! there's not really a problem putting the `nginx` call inside the "if we fail to reload", I think.

so let's see:
1. problem with the config: fail to reload, which gives us a bad returncode. fail to start, which returns with an error we ignore. we test the returncode, which says it

[2017-03-13 18:52] SwartzCr commented on #211
@bmw I like the idea of letting people add themselves. I'm pro: adding some of the existing ones (based on lines) but then letting them add themselves, but also happy to just include all of them (since I don't know what the line cut off should be)

[2017-03-13 18:55] SwartzCr commented on #4242
I updated the name to make it more clear what this is about
I'm gonna throw it in wishlist and we can try to bring it back into a milestone when we're ready
I added documentation to this so that maybe someone will document this (maybe when we document lineages)

[2017-03-13 19:01] SwartzCr commented on #4241
@opiumfor any chance you're also using Docker? It looks like the issue with #4273 was due to docker weirdness (as documented here: https://meta.discourse.org/t/advanced-troubleshooting-with-docker/15927)

[2017-03-13 19:23] SwartzCr commented on #4245
This is really confusing to me - it's finding the arg, but then it's returning empty on a get?
When I run locally with augtool I don't get the inserted IfModule, instead I get /files/etc/apache2/sites-available/test4245.conf/directive[3]/arg[1] though I'm not sure if that means anything.
Additionally I'm worried that we have a bug when parsing a directive with multiple arguements. Here we're suppo

[2017-03-13 21:38] ohemorange commented on #4324
Updates:

1. None of the option to `Popen` help
2. We can only call it once! If we switch to polling instead of blocking.

[2017-03-13 21:52] SwartzCr commented on #3910
We've decided to close this in favor of #3909 since that is a more standardized data format, and should allow for a more wide range of uses

[2017-03-13 21:52] #3910 closed

[2017-03-13 21:54] SwartzCr commented on #4238
Hey @jsoref we're going to try to accomplish this via #3909 which should allow you to pipe the JSON formatted output into any sort of sorting mechanism you'd like. I'm going to close this issue in favor of #3909, but let us know in that thread if there are reasons why it won't work for your use case.

[2017-03-13 21:54] #4238 closed

[2017-03-13 22:03] bmw commented on #3887
This should be implemented as a specific flag (like `--domains-all`) rather than a special flag for domains.

[2017-03-13 22:14] ohemorange commented on #4324
Update: writing to a temp file instead of piping fixes things cleanly. ¯\_(ツ)_/¯

[2017-03-13 23:31] FrancYescO commented on #2673
so basically if you want certbot on raspberry

0. deinstall all previous broken package/dependecies
1. add `deb http://mirrordirector.raspbian.org/raspbian/ testing main contrib non-free rpi` to `/etc/apt/sources.list`
2. apt-get update
3. apt-get install certbot

[2017-03-14 00:06] SwartzCr commented on #4213
@bmw can you provide a description of where this should be inserted into the code and what it should look like?

[2017-03-14 00:12] ohemorange commented on #4196
See https://github.com/certbot/certbot/blob/master/certbot/client.py#L245.

The problem is that there are two network calls, `acme.request_issuance` and `acme.fetch_chain`. If the first one succeeds but the second one fails, we should in some way make sure the second call is retried rather than failing silently. This could be addressed by some combination of waiting, retrying, informing the user,

[2017-03-14 00:13] ohemorange commented on #4196
One possible way to address this is demonstrated in https://github.com/certbot/certbot/pull/4113.

[2017-03-14 00:15] bmw commented on #4184
@dgatwood, are you able to provide a log here?

[2017-03-14 00:17] bmw commented on #3909
PR in #4138.

[2017-03-14 00:23] bmw commented on #3875
To do this, just change the `opts` parameter in `VERB_HELP` in `certbot/cli.py`.

[2017-03-14 00:26] ohemorange commented on #3873
The problem is that we use the same test file for many different test cases. Breaking them out at all will be helpful.

[2017-03-14 00:26] bmw opened #4338 "Refactor Apache plugin unit tests to decouple test config files"
Apache version of #3873

[2017-03-14 00:29] bmw commented on #3839
Closing in favor of #4251 which specifies the direct problem.

[2017-03-14 00:29] #3839 closed

[2017-03-14 00:36] ohemorange commented on #3720
Example:
[code]

[2017-03-14 00:36] bmw commented on #3596
People can do this by downloading the `certbot-auto` version from our `git` tag and include `--no-self-upgrade`. This is a much simpler way to support the same thing.

[2017-03-14 00:36] #3596 closed

[2017-03-14 00:46] bmw commented on #2811
We no longer print timestamps to the terminal so I think this issue can be closed.

[2017-03-14 00:46] #2811 closed

[2017-03-14 00:52] bmw commented on #2791
I'm not sure to what extent this is necessary. I believe most of the functions are written to work correctly if they crash in the middle, but we should look into this ourselves and describe what exactly needs to be done.

[2017-03-14 00:56] bmw commented on #2769
I'm not sure how to do this. I've never seen another Python package do it and I don't know of a good way to determine that the necessary OS dependencies aren't available.

[2017-03-14 01:02] bmw commented on #2495
We basically just need to add `if not config.dry_run` around the place we write the keys and CSRs to disk.

[2017-03-14 01:05] bmw commented on #2373
There needs to be a design conversation about this before anyone tries to implement it. If anyone is interested, let's chat!

[2017-03-14 01:12] bmw commented on #1684
I think instead we should just have a flag that always pauses after challenges are set up but before notifying the ACME server. I'm open to ideas on what this flag should be called.

[2017-03-14 01:22] bmw commented on #960
We probably care about this less once we're using `mypy` (see #4244).

[2017-03-14 01:30] bmw commented on #3108
Closing this as a duplicate of #1473

[2017-03-14 01:30] #3108 closed

[2017-03-14 03:24] jsoref commented on #4238
So... While someone (including me) could write something to do this (using a json api), it isn't reasonable to expect average people to do so.

[2017-03-14 03:25] #3782 closed

[2017-03-14 04:39] ppKrauss opened #4341 "documentation, up interactive-guide-NOTICE to the first paragraph of Introduction"
About the NOTICE "The best way to get started is to use our *interactive guide*" at [docs/intro.html](https://certbot.eff.org/docs/intro.html).
**Suggestion:** up it to the first paragraph! or add a lateral box (example an IMAGEM WITH THE NOTICE in red).

The Guide is so complex. All "guide readers" today use *^F* to find needs after read first paragraph... And, as a "**so impotant** notice", need

[2017-03-14 05:39] bigicoin commented on #2889
@Hokkaidosunny 's fix worked great. Thank you.

One note -- to use sudo for pip install, you must do whereis pip and use sudo with the full path to pip, or else it doesn't find it.

[2017-03-14 08:50] opiumfor commented on #4241
Sorry, It was just my misconfigured nginx, it didn't served the challenge file. And the "strange error" was because of my "fancy" error page, which looks like this https://ukit.com/gimme404dude (localization may differ depending on your browser accept-language, in my case it was russian). That's it. Sorry again for disturbance.

[2017-03-14 09:49] osirisinferi commented on #4341
Well, the same link is present again in the "Installation" paragraph. And those section headers are like, really big. Not something one would miss.

[2017-03-14 09:51] moisty70 commented on #1294
my error was with compression.conf because there was no ending </IfModule>

Debian7 Apache 2.2

[2017-03-14 09:56] ppKrauss commented on #4341
Hi @osirisinferi , thanks the reply!

..hum... Now I see the document style, perhaps you can use "Note" or "Hint" boxes...
... but to make sense as "big notice" must occur in or after the **first** paragraph of the Introduction, not other place.

[2017-03-14 10:12] ppKrauss commented on #1706
Hi all, can I use the cited PPA https://launchpad.net/~certbot/+archive/ubuntu/certbot
?

**It is secure, reliable, and updated?**

[2017-03-14 11:54] jonathonf commented on #1706
As for all PPAs, this is your call.

However, @oerdnj is a Debian packager and already does an awful lot of work in other PPAs for Ubuntu (e.g. his incredibly useful PHP PPA).

If you trust him, you can trust his PPAs.

The git version sets up a Python virtualenv to build the software and installs all of the associated dependencies locally. A PPA does this behind the scenes so there are fewer end-

[2017-03-14 14:25] drhsqlite opened #4342 "Security concern: required use of folder name beginning with 0x2e: ".well-known""
## My operating system is (include version):
Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
apt-get install

## I ran this command and it produced this output:
letsencrypt certonly -webroot ....

## Certbot's behavior differed from what I expected because:
Certbot was unable to verify the domain because it creates new witness files under the ".well-known" d

[2017-03-14 16:24] osirisinferi commented on #4103
IMHO this should also be reflected in `cli.py` as the pre- and post-hook are used only in `main.py`[1] and not in `renewal.py` while `cli.py` now [only outputs the help text in the `renew` section](https://github.com/certbot/certbot/blob/master/certbot/cli.py#L1028-L1050).

1: https://github.com/certbot/certbot/blob/master/certbot/main.py#L71-L98

[2017-03-14 18:43] ohemorange commented on #4238
Thanks for the perspective. We expect that sorting is an advanced use case, for people with large amounts of certificates or uncommon setups. In those cases, we can allow the greatest flexibility by giving people data in a machine-readable format and allowing them to transform it for their precise needs.

[2017-03-14 18:47] bmw commented on #492
This has been fixed. I'm sorry for the long delay here, but you can now download our official Docker image from the certbot/certbot repository on Docker Hub.

[2017-03-14 18:47] #492 closed

[2017-03-14 18:58] bmw opened #4343 "Stop using Quay.io"
Now that #492 has been resolved, I think we should stop using Quay.io entirely. Why?

1. Docker Hub is the conventional place for Docker images.
2. Our current repository there is letsencrypt/letsencrypt and I'm unaware of a way to rename it. I have control of the certbot name, however, I'm unaware of a way to redirect the current repository to certbot.
3. Do we really need both Quay.io and Docker

[2017-03-14 21:52] schoen commented on #4153
This issue should actually be about a new documentation section that talks about *all* of the challenges, what they require, and how Certbot can use each of them.

[2017-03-14 21:53] schoen commented on #4153
I'm suggesting calling the documentation section "How Certbot proves your ownership of domains".

[2017-03-14 21:55] schoen commented on #4153
@pconrad-fb, I might try to work on this but I'll let you know if I do or what progress I make.

[2017-03-14 22:15] jsha commented on #94
Hi all,

Please use the emoji reaction "thumbs up" on the topmost post rather than posting +1's or upvotes. Comments after this point consisting of just a +1 will be deleted. Thanks!

[2017-03-14 22:15] jsha commented on #385
I think this is no longer relevant.

[2017-03-14 22:15] #385 closed

[2017-03-14 22:16] jsha commented on #383
I think these two plugins are dramatically different now. If there's specific code that needs to be de-duplicated, please comment and reopen.

[2017-03-14 22:16] #383 closed

[2017-03-14 22:18] jsha commented on #358
This is now done, to the extent that the plugins are their own packages. I think we've decided to keep maintaining everything in the same repo, though.

[2017-03-14 22:18] #358 closed

[2017-03-14 22:21] joohoi commented on #4343
The proposal SGTM. I don't think we need both, and it has a high propability to confuse people in the long run. However instead of completely removing, we can just leave the image displaying the warning text, and return a non-zero value.

[2017-03-14 22:22] schoen commented on #4342
Hi @drhsqlite,

The use of the string `.well-known` for this purpose is an Internet standard from RFC 5785, which was based on the goal of having one single prefix for URLs that have special meanings or convey meta-information on behalf of the web site operator.

https://tools.ietf.org/html/rfc5785

The uniqueness of that prefix provides benefits like allowing sysadmins to prevent unprivileged use

[2017-03-14 22:22] #4342 closed

[2017-03-14 22:39] bmw commented on #4343
Do we keep on automatic updates and maintaining `Dockerfile-old` in the long run?

[2017-03-14 23:01] jsha commented on #992
I think this is fixed.

[2017-03-14 23:01] #992 closed

[2017-03-14 23:29] drhsqlite commented on #4342
Thanks for the detailed explanation and the pointer to RFC 5785 (which I had never heard of before).  I have added appropriate comments to the /.well-known/ hack in the web server source code.  :-)

[2017-03-14 23:38] bmw opened #4344 "Docker Hub Automated Tests"
https://docs.docker.com/docker-cloud/builds/automated-testing/

This seems like a good idea right?

[2017-03-15 00:00] systemexitzero commented on #3222
For me, at least, the `certbot-auto` does not actually make it to where it calls `pip` internally, it fails (as far as I can tell, I'd love to be wrong) during the [pipstrap.py](https://github.com/certbot/certbot/blob/master/letsencrypt-auto-source/pieces/pipstrap.py) script which runs inside virtualenv just before the requirements files are installed.
The urls that pipstrap targets are hardcoded

[2017-03-15 00:01] bmw commented on #3222
cc @erikrose

[2017-03-15 06:55] joohoi commented on #4343
I think having only one official repository that's updated and has a promise of being actively maintained is the best way forward. That being said, I think we need a grace period for people actively using Quay.io images, there was quite some, at least in some point when we discussed about the usage / download statistics. A deprecation deadline so to say, after which the actual certbot functionalit

[2017-03-15 13:02] veerendra2 opened #4346 "Not able to run ./certbot-auto: Showing pip version upgrade message"
## My operating system is (include version):
`Linux 10.0.0.169 2.6.32-642.11.1.el6.centos.plus.x86_64 #1 SMP Sat Nov 19 13:48:44 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
`sudo yum install python-certbot-apache`
`wget https://dl.eff.org/certbot-auto`
`chmod a+x ./certbot-auto`

**`pip` versions: all are showing `9.0`**
Defau

[2017-03-15 15:39] oni319 opened #4348 "NameVirtualHost *:80 has no VirtualHosts"
## My operating system is (include version):
CentOS 6.6

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Installed with certbot-auto

Service httpd cannot be restarted after certbot-auto, there is this following errors :+1:
[warn] NameVirtualHost *:80 has no VirtualHosts

which worked normally before certbot install.

Any help will be more appreciate.

Thank you for your

[2017-03-15 17:40] ynasser commented on #4244
Since we need to support Python 2.6, we can only use the comment-style type annotations mentioned in the blog post above (i.e. the ones from the `typing` module). The type-hints-in-function-definitions syntax (such as `def my_function(numbers: List[int]) -> str:` is only available in Python 3.4+.

As for where to start annotating, the blog post above suggests that changes can be gradual and sugges

[2017-03-15 18:44] pde commented on #335
Closing in favour of #933

[2017-03-15 18:44] #335 closed

[2017-03-15 18:56] erikrose commented on #3222
FWIW, certbot-auto no longer recreates the venv every time, so you do have a working escape route now.

I would gladly accept a PR to https://github.com/erikrose/pipstrap to bail out early if pip >=8 is already around. I think that should make everyone happy.

[2017-03-15 19:03] erikrose commented on #3222
As it turns out, there is already [such a PR](https://github.com/erikrose/pipstrap/pull/4). :-) Reading it, however, I am [reminded](https://github.com/erikrose/pipstrap/pull/4#issuecomment-193985131) of all the pip/setuptools/wheel bugs we hit in the past when we didn't pin the whole trio. But we haven't seen any with comparatively modern versions, so I'm inclined to merge something like it.

[2017-03-15 19:19] gaining opened #4349 "Certbot renew not letting me have newest certs on restored backup"
## My operating system is (include version):
Debian jessie

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS package manager

## I ran this command and it produced this output:

sudo certbot renew
Saving debug log to /var/log/letsencrypt/letsencrypt.log
-------------------------------------------------------------------------------
Processing /etc/letsencrypt/renewal/se

[2017-03-15 19:30] gaining commented on #4349
Somehow that wasn't the problem, I updated my server and problem went away,

[2017-03-15 19:30] #4349 closed

[2017-03-15 20:14] bmw commented on #1706
[This PPA](https://launchpad.net/%7Ecertbot/+archive/ubuntu/certbot) is ready for use! We'll be updating certbot.eff.org to tell people to use it over `certbot-auto` or the current Ubuntu packages (see certbot/website#198). We can finally close this issue.

@hlieberman, @oerdnj: can you remove "(semi-official)" from the title of the PPA?

[2017-03-15 20:14] #1706 closed

[2017-03-15 21:17] gfairchild commented on #1706
I like @elyscape's suggestion.

[2017-03-15 21:34] chrismccoy commented on #1706
im pretty sure you need a prefix to a ppa so it knows which user and repo it belongs too, or else it wont know which repo in that username to pick, I may be wrong, someone else can chime in, of all the ppa i use none just have a prefix.

Sent from my iPhone

[2017-03-15 21:42] oerdnj commented on #1706
@elyscape That would force all the people that are already using the ppa to change their configurations just for aesthetics, so sorry, no, that's not an option at this stage.

[2017-03-15 21:43] digitalcircuit commented on #1706
@chrismccoy , `ppa` is the assumed repo if you only specify a user for a PPA.

[code]

As I was writing this, @oerdnj replied, so the point is now moot anyways :)

[2017-03-15 21:48] jonathonf commented on #1706
A PPA named just 'ppa' can be added, as @elyscape says, with a shortened `apt-add-repository` command, but this is really just bike-shedding at this point. It's the certbot PPA for the certbot project and the extra nine characters is hardly onerous.

In terms of updates, 0.12 has not yet landed in Debian (not even sid or experimental). Once it has, and has been suitably wrangled, it should make it

[2017-03-15 21:50] oerdnj commented on #1706
@enoch85 Is there anything broken for you? #4233 is troubling, but that's it.

I usually follow @hlieberman workflow and he apparently hasn't had time to update Debian packages yet, and I don't want to step on his toes.

I can pull a patch from #4243 on top of 0.11.1 if this gives problems for more people using this PPA, but I don't really follow this "new version just for a sake of new version" w

[2017-03-15 21:53] oerdnj commented on #1706
@bmw "(semi-official)" removed. If you have any other suggestions for the title or description, I would be happy to change it.

[2017-03-15 21:57] jsha opened #4350 ""certbot plugins" should not throw Permission denied"
Steps to reproduce:

1. As non-root, run "certbot plugins"

Expected result:

Get a list of plugins.

Actual result:

[code]

[2017-03-15 22:04] enoch85 commented on #1706
@oerdnj No, not yet but maybe soon, as I converted to this PPA from the git version which is 12 and I get warnings about the certs generated with 12. Would be awsome with an update. And as always, you rock!

[2017-03-15 22:17] bmw opened #4351 "3rd party plugin flags"
The name of 3rd party plugins is generated in `certbot/plugins/disco.py`. Currently, all third party plugin names are `<package>:<entry point>`. Because we use the plugin name to prefix the CLI flag name, this generates some really awkward flags `--certbot-foo:bar-baz`. We should do better, but make sure this doesn't break existing plugins by allowing the old form.

[2017-03-15 22:56] pde commented on #1123
@SwartzCr I don't think this is a low priority ticket. Getting our UI and UX narrative for security enhancements sorted out is a final blocker for calling Certbot 1.0 IMO.

[2017-03-15 22:59] jsha commented on #1491
This is implemented in https://github.com/certbot/certbot/pull/3819.

[2017-03-15 22:59] pde commented on #1123
The reasoning for this is: in the future, we may want Certbot to support fast deployment of config changes to mitigate newly announced TLS vulnerabilities. But we should only do that if users had a clear onboarding experience to opt in to that. So getting our security UI right feels like a blocker for calling Certbot "out of beta".

[2017-03-15 23:00] jsha commented on #407
Closing because right now "renew" automatically rekeys. The HPKP questions here (allow issuing with a specific key) are discussed in https://github.com/certbot/certbot/issues/1491.

[2017-03-15 23:00] #407 closed

[2017-03-15 23:02] jsha commented on #392
Has experience shown that this would be useful? It seems that for most of the threads in the forums, the simple `--version` output is enough.

[2017-03-15 23:03] jsha commented on #191
Closing out as obsolete.

[2017-03-15 23:03] #191 closed

[2017-03-15 23:06] jsha commented on #3655
This is done. We now fetch master.

[2017-03-15 23:06] #3655 closed

[2017-03-15 23:08] jsha commented on #363
The established behavior is to not include www, and I think it would be too disruptive to change now. Closing.

[2017-03-15 23:08] #363 closed

[2017-03-15 23:08] jsha commented on #939
This is done.

[2017-03-15 23:08] #939 closed

[2017-03-15 23:09] jsha commented on #360
This ticket is obsolete. `simple_verify` does some of this.

[2017-03-15 23:09] #360 closed

[2017-03-15 23:18] ppKrauss opened #4352 "suggestion to add REMOVE DOMAIN command, and how to implement it"
A `certbot certificates` command produces for instance

* *"Certificate Name:"* `xxxx.org`
* *"Domain:"* `aaaaa.com  aaaaa.org  bbbbb.com`

The command `certbot --cert-name`  can only be the name shown on *CertificateName*... It can't be a name of the  *Domain* line, **but this is the most frequent need of users!**

To *delete an item* from the *Domains* list (eg. to delete `bbbbb.com`), user must

[2017-03-15 23:41] ynasser commented on #3179
Here is a summary (mostly written for a Pycon-affiliated sprint, but applicable to all) if someone wants to get started working on this issue:

There's lots of investigating to be done for this issue. Almost all our unit tests currently pass with Python 3 (except `certbot-nginx`), but certbot doesn't actually work with Python 3. Ideas on where to start:

- run certbot with Python 3 with the stagin

[2017-03-15 23:44] pde commented on #4352
This should be fairly easy to do, and is in line with the UI decision we made to add lots of fine-grained subcommands. The subcommand would need to be modelled on `main.certonly`, or even literally be that function with an extra switch on `config.verb`.

[2017-03-15 23:46] pde commented on #4332
What version of Fedora is that Amazon Linux based on? Have you tried the `certbot-auto` script?

[2017-03-15 23:59] ppKrauss commented on #4352
thanks @pde!  Oops, to be  [orthogonal](https://en.wikipedia.org/wiki/Orthogonal_instruction_set) need also **`add_domain`**... And, of course,  a list of domains (add and remove list).   ;-)

[2017-03-16 00:05] pde opened #4353 "Make our user agent strings more informative"
There are a few things that might be quite useful to have in our user agent:
* Is the user running `cerbot-auto` or not?
* Is this a renewal or not?
* What verb did the user pick?
* Python version (conceding that #2008 might have been a good idea, because we can't tell which users on old OSes have installed a newer python etc)

[2017-03-16 00:05] #4324 closed

[2017-03-16 00:06] ohemorange commented on #4324
Also, I checked, and this doesn't always happen in Python (2 or 3) on Arch, just with Nginx.

[2017-03-16 03:30] kousu opened #4355 "certbot-nginx uses "if""
## My operating system is (include version):

ArchLinux, recently updated.

[code]

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

`pacman -S certbot-nginx certbot`, current versions:

[code]

## I ran this command and it produced this output:

[code]

[code]

## Certbot's behavior differed from what I expected because:

The nginx people [do not like their own `if` stat

[2017-03-16 08:38] sharok opened #4356 "Cannot locate wrapped file"
## My operating system is (include version):
 Ubuntu 14.04.5 LTS
Welcome to the Bitnami MEAN 3.2.9-0

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
wget https://dl.eff.org/certbot-auto
chmod a+x certbot-auto

## I ran this command and it produced this output:
I have two AWS machines, they were created from one image. The first machine works fine, but the second one does

[2017-03-16 09:50] rrmerugu commented on #2889
`sudo ln -s /usr/local/bin/virtualenv /usr/bin/virtualenv`  this worked for me

[2017-03-16 12:11] vstokarev commented on #2550
I had the same issue and resolved it by just copying conf file from another domain and replacing domain name in its name and its content. Can be helpful if you have several domains and one of them doesn't want to renew, but another one works fine.

[2017-03-16 15:17] mcarpenterjr commented on #3538
Maybe a short term solution is to direct users to the Ubuntu Other docs, that use the certbot-auto script?
[https://certbot.eff.org/#ubuntuother-apache](url)
Might help avoid some confusion.

[2017-03-16 17:19] pconrad-fb commented on #4016
Looking at this from a documentation standpoint, I think it might actually be useful to add a "What Are Certificates?" section. This would accomplish two things:

- It would avoid having to jam a "Lineages" section into some other random place
- It would provide a place for the naive user to get started

We could link to a Lineages subsection in the What Are Certificates section from a few places

[2017-03-16 17:32] kim0z opened #4359 "why generating certification required domain with SSL connection using port 443?"
executing command:
letsencrypt-auto certonly --standalone -d myDomain

expected:
To have PEM file

Actual:
Failed to connect to xx.xx.xx.xxx:443 for TLS-SNI-01 challenge

My question is why the domain must have this TLS challenge while all what I am asking for is to generate certification to be able to convert my server from HTTP to HTTPS?

I thought it's obvious that how want to generate certific

[2017-03-16 20:00] bmw opened #4363 "ConnectionError heisenbug in our tests"
We get this from time to time and we should investigate it to make sure it's not a real issue and to stop slowing down developers.

Here's a [log](https://github.com/certbot/certbot/files/848883/log.txt) of the problem.

[2017-03-16 20:22] SwartzCr commented on #4016
+1 to a "What are Certificates" section, with a lineages sub section
+1 to short thing in the introduction. It could say something along the lines of "What the client is doing is generating a ssl certificate for you. To find out more about what those are and how Certbot keeps them up to date, look here." Or something along those lines.
Looking forward to seeing a draft!

[2017-03-16 23:28] Juma7C9 commented on #4328
I added a PR that implements a proof-of-concept for the functionality, I hope it would be useful.

By the way, is there a reason why the account key is generated and stored using directly the `hazmat` primitive routines instead of the ones used for everything else?
It would be nice if those keys could be stored as PEMs and encrypted as well, to augment their security too.

[2017-03-17 00:15] SwartzCr commented on #4241
no worries, I'm going to close this as duplicate then

[2017-03-17 00:15] #4241 closed

[2017-03-17 00:17] jsha opened #4366 "Documentation: bootstrapping link isn't informative"
Per https://community.letsencrypt.org/t/dont-know-how-to-bootstrap-certbot-on-your-os/29905, if you try to install certbot-auto on an OS it doesn't recognize, it says

However, that documentation link doesn't actually explain how to bootstrap if the certbot-auto bootstrapper doesn't work. We should improve the documentation.

[2017-03-17 00:24] SwartzCr commented on #1123
Oh sorry.
This was actually just me misinterpreting the security-low label. When I did the label rename I also tried to remove labels that looked like they weren't being used, with confusing names - security-low was one of those. Glad you removed the mistaken low priority & feel free to recreate a security-low label if you feel that it's needed.

[2017-03-17 00:26] SwartzCr commented on #4273
So, while this is a misconfiguration with docker, #4241 is a misconfiguration with a service provider. It seems that we're parsing responses without checking them. It might be nice to change the code to validate the response and if it's invalid rather than erroring out due to an ascii parse error, catching it and then giving a more useful error message to the user.
I'm going to flag this as a good

[2017-03-17 00:31] SwartzCr commented on #4346
Interesting, maybe @bmw knows what's up - but does the system packaged version work?

[2017-03-17 00:32] SwartzCr commented on #4348
Hmmm, would you be able to attach the certbot log? And if possible show the resulting apache config that certbot generated?

[2017-03-17 00:33] SwartzCr commented on #4355
I bet @ohemorange would like to know about that, since she's working on getting the nginx plugin out of beta. Want to put this in a milestone?

[2017-03-17 00:38] SwartzCr commented on #4359
Hi @kim0z good question!
So the standalone plugin attempts to spin up a webserver to communicate with the Let's Encrypt Certificate Authority. If you would like to validate your domain another way you might rather choose the webroot validation - which will have you place a file on your already running http webserver, or the dns validation which will verify you via a TXT record in your DNS entry.
Y

[2017-03-17 00:41] ohemorange commented on #4355
We're aware of the canonical way to do things. This way works though, and we don't plan to change it any time in the near future. We could theoretically put it in a Wishlist or 2.0 milestone, though.

[2017-03-17 08:25] veerendra2 commented on #4346
packaged version work? I don't know. First i tried here -->https://certbot.eff.org/#centosrhel7-apache. After `sudo yum install python-certbot-apache` I ran `certbot --apache`, but got error `certbot: command not found`. I have to download `certbot`file some where else?

[2017-03-17 09:04] linko22 opened #4367 "UnicodeEncodeError: 'ascii' codec can't encode character u'\u2605' in position 239: ordinal not in range(128)"
Centos 7.3 x64

I installed Certbot with yum package manager from epel-testing repo

[code]

## I ran this command and it produced this output:

[code]

## Certbot's behavior differed from what I expected because:
Because i think it's a logic mistake somethere

My virtual domain with www has missing .well-known location, and it contents unicode symbol u'\u2605', as known as STAR. So, maybe, i thin

[2017-03-17 11:51] inoyakaigor commented on #2883
Also works for ru_RU locale 🇷🇺

[2017-03-17 16:20] jsha commented on #1466
There have been two PRs attempting this: #3369 and #3687.

#3369 was a very small fix, which set, in the server classes:

`address_family = socket.AF_INET6`

It had two problems: It was failing unittests, and it wouldn't work on (a) OS's that don't support IPv6 (note: different from instances that lack an IPv6 interface), and (b) Python versions compiled without IPv6.

I am still hopeful that such

[2017-03-17 16:44] zjs opened #4368 "Documentation: Developer's Guide does not mention steps needed to define a new plugin"
https://certbot.eff.org/docs/contributing.html states:

While this seems to be accurate for many (most?) cases, it seems to be necessary to re-run `./tools/venv.sh` when defining a new plugin in `setup.py`.

That may be an uncommon use case though, so perhaps that caveat belongs in the "Writing your own plugin" section. That section could also be expanded to describe the high-level changes which a

[2017-03-17 17:07] SwartzCr commented on #4368
Yeah - ideally this should be added to the Developer's Guide part of the documentation. Want to take a pass at writing something up for it?

[2017-03-17 17:13] SwartzCr commented on #4366
@jsha - interesting, do you think that it should link to the Certbot documentation instead?

[2017-03-17 17:21] SwartzCr commented on #4328
Whoa, really interesting @Juma7C9
I think @bmw @pde should look at this and make a decision on how we want to support this. The PR is really helpful! Thanks for thinking about this, and if you want to chat with us about it you should join #letsencrypt-dev on freenode!

[2017-03-17 17:24] SwartzCr commented on #4350
This sounds a lot like what we did with `certbot help` to allow it to run without venv-ing itself.
@ynasser Do you want to think about adding this to things people can work on at the sprint?

[2017-03-17 17:25] jsha commented on #4366
Actually, I didn't even notice that that pointed at the old URL. What I was pointing out was that both old an new URLs say this:

https://certbot.eff.org/docs/contributing.html#prerequisites

Since we point here after a failure to run the bootstrapping in `certbot-auto`, we shouldn't instruct people to run the same bootstrapping again. We should probably have a section for developers that says to

[2017-03-17 17:27] SwartzCr commented on #4341
@pconrad-fb This looks like something you could help with! Wanna suggest a way to make it more apparent to use the instruction generator if a user has made it to the Documentation first somehow?

[2017-03-17 17:33] SwartzCr commented on #4033
So is this fixed for people now? Or are new occurrences still popping up?
It seems like the pip mismatch came from a bad release - so now it shouldn't be an issue? What do you think @ohemorange ?

[2017-03-17 17:44] SwartzCr commented on #4331
@Majkl578
Weird, do you think you'd be able to provide a log of this? I'll ask around and see if anyone can reproduce this

[2017-03-17 17:50] SwartzCr commented on #4330
Hmm this does seem like a bug - I think in theory you're supposed to use --agree-tos to work around this, but it seems to only work for creating new registrations, not updating them.
Additionally I'd be curious to hear what the output of `certbot register --help` is for you.

[2017-03-17 17:51] SwartzCr commented on #4330
Also maybe @ohemorange wants to take this on? Or at least put it in a milestone? Since they previously worked on the code for updating lineages.

[2017-03-17 17:55] chrismccoy commented on #1706
how long does it usally take to get an update from the launchpad maintainers, i see certbot/certbot on launchpad is at 0.11.1 and 0.12 is out on github.com

[2017-03-17 18:03] SwartzCr commented on #4323
This is a pretty good plug for finishing #4152 - since we have a lot of diversified configuration files that don't all work together in the ways you'd expect. @schoen since you're on a documentation kick, do you think you'd want to take this?

[2017-03-17 18:05] SwartzCr commented on #4318
This is definitely something @pde and @bmw should look at

[2017-03-17 18:10] SwartzCr commented on #3709
This seems pretty related to #4331
So feel free to comment in there if you have suggestions on how directory choosing is handled.
I'm also going to ping @pconrad-fb and @schoen about documenting how to generate your own CSR and use it with certbot.

[2017-03-17 18:12] zjs commented on #4368
Sure, but I may hold off until I write a couple more to see what other useful information I learn.

[2017-03-17 18:13] pconrad-fb commented on #4341
Sure! let me get my Lineages stuff in order and I'll turn my attention to this.

[2017-03-17 18:15] pconrad-fb commented on #3709
Happy to add this to the stack. Will need more info of course.

[2017-03-17 18:22] SwartzCr commented on #3987
Thanks for the report @czirkoszoltan
Can you be a bit more specific about what part of that output is improper?
Also what system are you running these commands on?

[2017-03-17 18:26] jonathonf commented on #1706
@chrismccoy Read the comment by the maintainer of the PPA three comments back from yours, i.e. https://github.com/certbot/certbot/issues/1706#issuecomment-286890691.

[2017-03-17 18:28] SwartzCr commented on #4023
This seems like an easy thing to clean up - @ynasser wanna see if someone at the spring wants to take this on?

[2017-03-17 18:32] czirkoszoltan commented on #3987
The parts like "<certbot.cli._Default object at 0x4523b50>" are incorrect.
The system is Welcome to Ubuntu 12.04.5 LTS, my current certbot version is certbot 0.12.0, with outputs like the above. Python version is Python 2.7.3 (default, Oct 26 2016, 21:01:49).

[2017-03-17 18:33] SwartzCr commented on #3993
Yeah! It's the post-hook as documented here: https://certbot.eff.org/docs/using.html?highlight=hook#renewing-certificates
That should fix things for you - I'm going to close this issue, but if you still have problems feel free to re-open it or come chat with us in #letsencrypt on freenode

[2017-03-17 18:33] #3993 closed

[2017-03-17 18:42] SwartzCr commented on #3783
hmm this seems along the lines of the things @joohoi was hoping to not copy over when creating new apache conf files. I can't seem to find the relevant issue, so maybe he can link to it.

[2017-03-17 18:44] SwartzCr commented on #3756
@proninyaroslav can you let us know if this is still an issue for you? Also what OS are you running certbot on?

[2017-03-17 18:48] SwartzCr commented on #3818
@jayofdoom - is this still a problem for you? If so would you be willing to try to see what versions of certbot's dependencies you have?

[2017-03-17 18:49] SwartzCr commented on #3778
@bmw would know about the specifics of this - I think there were some situations where we were duplicating timestamps

[2017-03-17 18:50] SwartzCr commented on #3707
@TheNavigat think we can close this since now people are probably using a different version, namely certbot auto? Or do you still think it's a problem?

[2017-03-17 18:52] SwartzCr commented on #3702
@joohoi know if this is a dupe of another issue? I know we've been talking a lot about parsing comments

[2017-03-17 18:58] SwartzCr commented on #3683
I'm going to close this much like @jsha closed the associated PR - but feel free to reopen or create a new issue if you think our documentation is still lacking

[2017-03-17 18:58] #3683 closed

[2017-03-17 19:15] Majkl578 commented on #4331
Checking again and it looks like there is 3rd option, `--fullchain-path` which I completely missed, because it's listed in entirely different section in the `--help all` output. Why the hell is that under `install` and not under `paths` section? 😕
So the solution is to **also** use `--fullchain-path` together with `--chain-path` and `--cert-path`.

Not a bug, but I'm leaving this open as a documen

[2017-03-17 19:27] SwartzCr commented on #3676
I'm going to close this issue as resolved but feel free to re-open it if you still have questions or need help!

[2017-03-17 19:27] #3676 closed

[2017-03-17 19:50] SwartzCr commented on #3295
glad to hear - I'm going to close this, but let me know if you still have any issues!

[2017-03-17 19:50] #3295 closed

[2017-03-17 19:52] SwartzCr commented on #3548
Hey @nagaw have you managed to resolve this? If not could you provide a bit more information, like a paste of the error that certbot gives?

[2017-03-17 19:55] SwartzCr commented on #3474
@Xarkam is there anything else we can do to help you with this?

[2017-03-17 19:58] SwartzCr commented on #3318
Looks like this is probably solved now - gonna close it, feel free to reopen if you're still having issues

[2017-03-17 19:58] #3318 closed

[2017-03-17 19:58] SwartzCr commented on #3142
Looks like this has been resolved, so I'm going to close it. Let me know if you're still having issues and I'll be happy to reopen it

[2017-03-17 19:58] #3142 closed

[2017-03-17 19:58] SwartzCr commented on #3471
Hi @steveyu123
I think the problem is that you're not providing the file name correctly. Have you managed to resolve this issue? If not let me know!
I'm going to close the issue for now, but re-open it if you're still having issues!

[2017-03-17 19:58] #3471 closed

[2017-03-17 20:00] jsha commented on #3320
I'm willing to close this as obsolete.

[2017-03-17 20:00] #3320 closed

[2017-03-17 20:03] SwartzCr commented on #2164
Okay as you recommend I'm gonna close it. Feel free to open another if you think there are things we still need to do

[2017-03-17 20:03] #2164 closed

[2017-03-17 20:04] SwartzCr commented on #1267
Unfortunately thes comments should be referred to let's encrypt and not certbot. Feel free to post about them at https://community.letsencrypt.org/

[2017-03-17 20:04] #1267 closed

[2017-03-17 20:09] SwartzCr commented on #3459
I'm going to assume with the PR this is resolved. Feel free to re-open if not.
If it's still just the case that you need something to say Yes to prompts, have you tried piping yes to it?

[2017-03-17 20:09] #3459 closed

[2017-03-17 20:10] SwartzCr commented on #2857
Could the people who commented upthread let us know if they're still having issues? @sorcer1122 @robertsky @strugglingyouth

[2017-03-17 22:29] pde opened #4371 "Automatically use a mirror if pypi.python.org is blocked"
If people try to run `certbot-auto` in certain countries, they may encounter #2516. Perhaps certbot-auto could detect that, and try some mirrors?

This should be safe, since we're checking hashes on all of our python dependencies.

[2017-03-17 22:42] EminezArtus commented on #1220
I know this is an old post but I just wanted to comment that I hope you make the packages in repositories compatible with both versions so that I don't have to download and install python 2 when everything else on my server is using python 3. Less files happy server.

[2017-03-17 22:47] bmw commented on #1220
The current issue for this is #3179. You can look through that thread and the issues/PRs referenced there if you want more info, but for a short update on the current status: we're very close :smile:

[2017-03-17 23:09] SwartzCr commented on #4346
hmm certbot should work, maybe you can invoke it directly? It should be in /dev somewhere?
Are you sure Yum succeeded in installing it?

[2017-03-17 23:12] ynasser commented on #4023
Sure, it's been added to the sprint list!

[2017-03-17 23:54] ohemorange commented on #4033
@SwartzCr nope, this wasn't a bad release -- this is both having custom versions of OpenSSL and cron not running as root.

[2017-03-17 23:55] ohemorange commented on #4330
I think this is fixed in master. I know we were talking about it, let me check if it got merged.

[2017-03-17 23:56] ohemorange commented on #4330
Yup, see #4197.

[2017-03-18 09:17] mechmind opened #4375 "certbot restores old version of site config on renew"
## My operating system is (include version):
archlinux

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
os package manager, version 0.12.0-1

## I ran this command and it produced this output:
certbot renew (updated successfully)

## Certbot's behavior differed from what I expected because:
certbot replaced current nginx config for server with old version of this config.

[2017-03-18 09:45] Xarkam commented on #3474
No. I now use the version available in the repositories.
I was able to generate certificates without using letsencrypt-auto.

[2017-03-18 13:02] jimbauwens commented on #4330
Ah, indeed, I missed that issue, glad it seems to be resolved.

@SwartzCr, I suppose you don't need the output of the command anymore, but in any case I had already updated my registration by manually commenting out the check in the source code.

[2017-03-18 15:01] DomT4 commented on #4067
This was fixed in the 1.8 `cryptography` release, so shouldn't be an issue any more given `certbot` doesn't specify a specific `cryptography` version to be used. Was also fixed in Homebrew. Likely safe to close here.

[2017-03-18 17:07] bmw opened #4377 "Bug running unit tests in parallel on Python 2.6"
I filed this at nose-devs/nose#1041 but the project seems pretty inactive. We should document this behavior of our tests, fix the problem, or stop running tests in parallel on Python 2.6.

[2017-03-18 18:07] dhuang commented on #2495
Grabbing this one!

[2017-03-18 18:13] dokazaki commented on #4244
I'll start working on this.

[2017-03-18 20:05] dhuang commented on #4196
Working on this.

[2017-03-18 20:42] #2495 closed

[2017-03-18 20:56] ynasser commented on #3720
Note to whoever works on this: when grepping for `print` statements to replace, you can ignore ones that appear in tests. Those don't need to be replaced.

[2017-03-18 21:50] bmw opened #4382 "pip failing to run git in docker"
When running tests with our `docker-compose` development setup, you see output like:
[code]
This confuses new developers (and me until I figured out what was going on). This is `pip` noticing that the files installed in editable mode are part of a `git` directory and trying to use it to track changes. We have `.git` in our `.dockerignore`, but because we mount the cloned Certbot repo on the host i

[2017-03-19 00:04] #4196 closed

[2017-03-19 00:26] dhuang commented on #1684
Working on a less ambitious version of this. Pausing after challenges are setup and suggesting the user use "-v" to debug further.

[2017-03-19 02:22] bmw commented on #3552
I think this has been fixed. A couple of us tried for a while to reproduce this but had no luck. If you're still having the problem, please follow up with exact instructions on how to reproduce and I'll reopen.

[2017-03-19 02:22] #3552 closed

[2017-03-19 02:30] dhuang commented on #3720
Working on this

[2017-03-19 06:21] briancline commented on #3740
FWIW, I'm seeing this on Debian 7 as well.

[2017-03-19 09:29] tbandy commented on #3103
I had a same problem... the solution was I'm running ISPConfig, and already set up a self-signed SSL cert. When I remove it cert-bot found the domain, and created the cert.

[2017-03-19 12:17] ezekel opened #4388 "The server could not connect to the client to verify the domain"
In my go daddy account I created A record for subdomain and point to i.p address of my google compute engine . in my GCE or google compute engine i createad server block because I am using nginx. my subdomain is working fine now I decided to install letetsencrypt and I use certbot. when I followed the tutorial issuing this command

`
./certbot-auto certonly --webroot -w /var/www/project -d mysubdo

[2017-03-19 12:26] darkworks commented on #3310
thanks

[2017-03-19 12:26] #3310 closed

[2017-03-19 14:34] kim0z commented on #4359
Thank you I will take a look

[2017-03-19 19:29] pde commented on #3740
@briancline you're seeing the original poster's python 2.6 error on Debian 7?  That sounds a little strange. If that's really what you're seeing, somehow you're running python 2.6 on a system whose python version is 2.7, and that's your issue :)

If you're seeing a python 2.7 error, perhaps open a new ticket with full information on the error you hit?

[2017-03-19 19:31] pde commented on #1684
Closing this as done. We can make a new ticket if we want the more ambitious versions!

[2017-03-19 19:31] #1684 closed

[2017-03-19 21:57] soulhunter123 commented on #2267
I'm having this issue on Centos 6. Trying to add certs for domains whose vhost conf files _don't_ end with a blank line causes the error.

Workaround is to manually add a blank line at the end of the conf files then run certbot.

[2017-03-20 00:18] systemexitzero commented on #3222
Thank you for the response @erikrose, I appreciate your insight on this. If the virtualenv is not recreated, that should be sufficient enough for my purposes. In the more general case though, what complications might arise in allowing pipstrap to be configured to use a pypi mirror (or even a local folder) if pipstrap is still checking hashes before installation anyway?

If that's a better topic fo

[2017-03-20 02:46] robfrancken commented on #2750
Thank you @bmw and @AldeBaranOZ, you saved my day :)

[2017-03-20 16:06] an8 commented on #4077
Hello,

Might not be related but I had the same error and it was due to a misnamming of my key files. Specifically in my case:

/etc/letsencrypt/archive/domain.com/privkey1.key
instead of
/etc/letsencrypt/archive/domain.com/privkey1.pem

[2017-03-20 22:56] laran opened #4389 "Asynchronous new certificate generation not supported"
## My operating system is (include version):
OSX

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
From source (github 0.11 branch)

## I ran this command and it produced this output:

[code]

## Certbot's behavior differed from what I expected because:

The spec says that when a certificate cannot be issued at the time of the new-cert request, an empty response should be

[2017-03-20 22:57] laran commented on #4389
![crypto py](https://cloud.githubusercontent.com/assets/8204/24125431/df728188-0d85-11e7-9b1e-ffbf3ef0a903.png)
![client py](https://cloud.githubusercontent.com/assets/8204/24125430/df71b1c2-0d85-11e7-81ba-24e2a76ab416.png)

[2017-03-21 00:57] #4219 closed

[2017-03-21 01:00] #4308 closed

[2017-03-21 02:54] jeromeetienne commented on #3879
i would like to reopen, for developement we are require to use https sometime, like when using webrtc.

And believe me to create a selfsigned certificate isnt easy, i have been looking for some time. So if certbot could help it would be great :)

[2017-03-21 10:12] godblesshugh commented on #2516
Could not find a version that satisfies the requirement acme==0.12.0
Change to:
[global]
index-url = https://pypi.tuna.tsinghua.edu.cn/simple

[2017-03-21 14:09] ragebflame commented on #2673
Thanks @FrancYescO

Your steps allowed me to successfully install certbot on my Pi.

[2017-03-21 14:52] erikrose commented on #3222
There are no particular security issues I'm concerned with. Rather, I fear the multiplicity of different pip/setuptools/wheel version combinations used to install certbot specifically (which would apply for anything the user has installed if his pip>=8.0). certbot, with its complicated package relationships, conditional dependencies, C extensions, and need to deploy on diverse and ancient systems,

[2017-03-21 15:20] xlcnd commented on #2673
Thanks @FrancYescO.

And by the way, the `certbot-auto` script, for two times, messed my python installation! But after following @FrancYescO instructions, I have `certbot` now running on my raspberry pi 1B+ (jessie).

[2017-03-21 16:40] bmw commented on #211
@SwartzCr, if you're up for making the PR, you can take whichever approach you prefer and I'll review it.

[2017-03-21 17:05] bmw commented on #392
I agree. Closing this issue.

[2017-03-21 17:05] #392 closed

[2017-03-21 17:11] bmw commented on #1466
Currently the best approach we're aware of is attempting to get both an IPv4 and an IPv6 socket, configuring the IPv6 socket to only get IPv6 traffic. There is some discussion of this in #3687.

[2017-03-21 17:43] jsha commented on #1466
Aha, I had missed this specific comment: https://github.com/certbot/certbot/pull/3687#issuecomment-261113255,which seems to indicate an additional reason #3369's small fix wouldn't work: It would break on FreeBSD and OpenBSD based on [this stackexchange answer](https://security.stackexchange.com/questions/92081/is-receiving-ipv4-connections-on-af-inet6-sockets-insecure).

[2017-03-21 17:56] ClepToManix opened #4391 "Certbot installation failed - PIP error"
## My operating system is (include version):
Ubuntu 14.04.5

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
`certbot-auto --apache
`
## Certbot's behavior differed from what I expected because:
can not install

## Here is a Certbot log showing the issue (if available):
Installing Python packages...
Had a pr

[2017-03-21 18:07] bmw commented on #3698
Thanks for reporting this. The problem here is the order of objects in a dict isn't defined. We should fix this though. Here's an [approach](https://stackoverflow.com/questions/6921699/can-i-get-json-to-load-into-an-ordereddict-in-python). that could work, but `OrderedDict` is only available in the standard library in Python 2.7+.

[2017-03-21 18:13] bmw commented on #4356
So I'm not familiar with Bitnami, but the problem is `virtualenv` isn't working properly on your system. This [forum thread](https://community.bitnami.com/t/some-questions-about-bitnami-django-stack-1-8-2-in-aws/31783) might be useful to you.

[2017-03-21 18:19] bmw commented on #4273
The problem here isn't that the response is invalid, but that it isn't ASCII. We need to make sure we handle non-ascii characters in error messages properly to prevent masking the real error.

[2017-03-21 18:23] bmw commented on #3778
Logfiles are written to `/var/log/letsencrypt` and include timestamps. @SwartzCr, perhaps we should contact digital ocean and explain this. To be clear, they should not be redirecting output and should instead be using `--quiet` and the log files in `/var/log/letsencrypt`.

[2017-03-21 18:27] systemexitzero commented on #3222
Sorry if I may have seemed I switching gears; on pinning the versions down strictly, I fully understand your point. My last question was only regarding your thoughts on the ability to point pipstrap at an index other than pypi (such as an internal mirror), but leave the version numbers and hashes pinned as you have balanced them.

[2017-03-21 18:41] andrefernandes commented on #3222
The need to use a mirror was the point of this thread when I created it :)

Does the current version allows pointing to a mirror at all?

[2017-03-21 19:16] erikrose commented on #3222
If we merge that PR and you make sure your systems have pip>=8, pipstrap will not run, and so everything should respect your mirror settings.

[2017-03-21 19:23] pde opened #4392 "config_changes uses a messed up non-pager"
If you have more than one page full of output from the `config_changes` subcommand, you will get the last page listed with a weird "Press Enter to Continue" prompt.

Probably what that command should do if stdout is a terminal is invoke `$PAGER` to list the changes, in the same way that `git log` does. But failing that it should just output the stream of data so the user can pipe it to their prefe

[2017-03-21 19:25] pde opened #4393 "config_changes should list numbers that can be used with rollback"
We have a `config_changes` verb for show changes Certbot has made to your configs, and a `rollback` verb that allows them to be reverted, and requires the user to specify an index number for the changes that should be rolled back. But `config_changes` doesn't list those index numbers!

[2017-03-21 19:26] pde commented on #4393
This is reasonably self-contained but might require chasing through some dusty parts of the codebase.

[2017-03-21 19:28] pde commented on #4375
Hi @mechmind. That sounds rather bad! Would you be able to post your config file and the logs from your letsencrypt runs?

[2017-03-21 22:37] systemexitzero commented on #3222
Alright, it's a small enough change that I'd be willing to write up a PR to supercede pipstrap#4. there's a couple issues I see on it, namely that it checks == on the pip version.

[2017-03-21 23:10] mnordhoff commented on #3698
Would it be reasonable to use OrderedDict on Python 2.7, continue using dict on older versions, and file it under "WONTFIX, upgrade to Python from this decade if you want it to work right" for older systems?

[2017-03-21 23:31] SwartzCr commented on #4368
okay - but feel free to write whenever and we can edit

[2017-03-21 23:32] SwartzCr commented on #3709
Sure - this should be after lineages and a bigger link to the instruction generator. It's also possible that @schoen is better suited for this and should work on it after finishing up the challenge documentation

[2017-03-21 23:33] SwartzCr commented on #3987
@bmw any idea why we're spewing these things?

[2017-03-21 23:34] SwartzCr commented on #4331
@Majkl578 do you think you could either paste below the various outputs that you got in the help and documentation that list these things separately or open a new ticket specifically for the documentation problem so that we can accurately address it?

[2017-03-21 23:39] #4023 closed

[2017-03-21 23:40] SwartzCr commented on #3474
okay I'm going to close this issue then - feel free to re-open it if you think there's still something we need to do

[2017-03-21 23:40] #3474 closed

[2017-03-21 23:41] SwartzCr commented on #4330
great, since this is fixed in master I'm going to close this issue

[2017-03-21 23:41] #4330 closed

[2017-03-21 23:43] SwartzCr commented on #4359
cool - I'm going to close this issue, feel free to open a new one if you run into trouble with a different challenge

[2017-03-21 23:43] #4359 closed

[2017-03-21 23:47] SwartzCr commented on #3778
@erikaheidi would you be willing to edit the article?

[2017-03-21 23:49] SwartzCr commented on #4273
Right - I think this is a pretty common problem and we should fix this if we can. Can you add it to a milestone?

[2017-03-21 23:50] bmw commented on #4273
Sure. It's in 1.0 now, but I'll add it to 0.14.0 so we can triage it for the next release.

[2017-03-21 23:51] hangqiu commented on #4033
@philippeowagner after using the workaround, I'm still having the OPENSSL_sk_num issue. Nobody touched the server for openssl upgrade. The version was 1.0.1. I tried installing the newer version 1.1.0 but it seems that the certbot would never recognize it. Any thoughts?

[2017-03-22 00:00] mnordhoff commented on #3698
In fact, it looks like certbot-auto already does depend on ordereddict for some reason (unconditionally, even on Python 2.7). Probably a dependency of a dependency. So it's probably best to go with that.

[2017-03-22 00:09] bmw commented on #3698
One of our dependencies requires `ordereddict` on Python 2.6. To try and provide some extra simplicity, consistency, and stability, we always install the same packages in `certbot-auto` even if they're not required for that Python version. Once we decide the approach we're going to take for conditional dependencies in our own packages in #4379, we can do this with `ordereddict` to solve this issue

[2017-03-22 00:15] mechmind commented on #4375
Config and logs (hostname redacted with sed): https://gist.github.com/mechmind/ecf7250ccb212ff2e227d4e44fd6e620

[2017-03-22 00:31] bmw commented on #3987
This was introduced in 24cc03d1f6e3d3fb5a89aa489b0bd2f71fc80684. Playing with it, whether or not you get this error seems to depend on your Python/argparse version. It doesn't happen with newer versions of Python.

For whoever works on this, the difference in `argparse`'s behavior is whether or not the `type` parameter is called on a `default` string when `--help` is provided.

[2017-03-22 05:12] pcovello commented on #4209
# more letsencrypt.log
2017-03-22 05:06:42,946:DEBUG:certbot.main:Root logging level set at 30
2017-03-22 05:06:42,949:INFO:certbot.main:Saving debug log to /var/log/letsencrypt/letsencrypt.log
2017-03-22 05:06:42,952:DEBUG:certbot.main:certbot version: 0.8.1
2017-03-22 05:06:42,952:DEBUG:certbot.main:Arguments: []
2017-03-22 05:06:42,954:DEBUG:certbot.main:Discovered plugins: PluginsRegistry(Plug

[2017-03-22 13:53] erikrose commented on #3222
I shall endeavor to review it punctually. :-)

[2017-03-22 16:15] JO-WTF commented on #4198
@SwartzCr Hi, Sorry but I think the question was not answered...

I also chose force direction by mistake but don't know how to disable it.

Thanks.

[2017-03-22 16:58] twinpigs commented on #4198
Try to repeat whole procedure, but choose right answer this time.

[2017-03-22 17:04] sebastianheyn opened #4401 "Certbot --apache not working on Gentoo"
## My operating system is (include version):
Gentoo Base System release 2.3

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
emerge certbot-apache (9999 version from git)

## I ran this command and it produced this output:
router / # certbot --apache
Traceback (most recent call last):
  File "/usr/lib/python-exec/python2.7/certbot", line 6, in <module>
    from pkg_resour

[2017-03-22 17:53] itdansharpe commented on #2554
@jknopp Help! Followed your example, and ended up with this:

[code]

[2017-03-22 19:20] programmerq commented on #492
@bmw would you be willing to entertain getting an official image on the Docker hub? official image meaning you could run it via `docker run ... certbot ...` instead of `docker run ... certbot/certbot ...`.

[2017-03-22 19:27] bmw commented on #492
We'd want to learn more about it because at least I am not super familiar with the process, but we're definitely interested and open to the idea.

[2017-03-22 19:56] mrueg commented on #4401
This is likely a missing package depencendy for certbot-9999 on dev-python/fasteners. I usually fix those when a new version is available. For right now, please emerge dev-python/fasteners

[2017-03-22 20:06] KremBanan opened #4402 "LetsEncrypt fails to parse an Apache config file"
## I use Ubuntu 16.04

## I ran this command and it produced this output:
letsencrypt --apache

The apache plugin is not working; there may be problems with your existing configuration.
The error was: PluginError(('There has been an error in parsing the file (%s): %s', u'/etc/apache2/sites-available/000-default.conf.save.save', u'Syntax error'),)

[2017-03-22 20:09] KremBanan commented on #4402
## Here is what the file contains:

    <VirtualHost *:80>

        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/html

        <Directory /var/www/html/>
            Options Indexes FollowSymLinks
            AllowOverride All
            Require all granted
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

[2017-03-22 20:17] #4402 closed

[2017-03-22 20:20] xenoterracide commented on #492
I prefer `certbot/certbot` personally, official images ... follow rules that make them less secure imho. They are designed for extension over direct use. 2 cents, and worth every penny.

[2017-03-22 22:21] antonin07130 commented on #3006
I can't get the configuration file setup to work with the docker image if certbot :
* is that image from certbot team : quay.io/letsencrypt/letsencrypt:latest ?
* if so is there a simple way to make it work with a configuration file ? (I tried mounting the file and starting the container with -c "filename.ini" with no success).

[2017-03-22 22:30] bmw commented on #3649
#1395

[2017-03-22 23:44] pde opened #4403 "Rollback may not work if an IInstaller's server's config is broken"
Here's a funny bug. The circumstances that caused it were weird (I installed a cert using `--config-dir /tmp/zzy`, and then that directory was deleted by the OS), but it seems that rollbacks should in principle be possible even if a config is broken?

[code]

[2017-03-22 23:44] bmw opened #4404 "test_le_auto_upgrades.sh"
If our alternate `pip` server isn't working, tests still pass! Here's relevant output:
[code]
Problem is output includes the correct version number even it can't be installed.

[2017-03-22 23:46] pde commented on #4403
I bet this also applies to nginx...

[2017-03-23 05:34] fiyona opened #4405 "failing to renew cerificate"
![image](https://cloud.githubusercontent.com/assets/19567585/24233448/5ff9db5c-0fa3-11e7-86c8-1de7e7d87a5b.png)

Am getting this error on renewing my certificates help

[2017-03-23 05:34] sebastianheyn commented on #4401
Thanks,

the next one on the list is argparse -however i can do a python and then import argparse manually and it works? There seems to be no argparse package

[2017-03-23 05:53] sebastianheyn commented on #4401
edit: installing the package argpase with pip did NOT help

[2017-03-23 13:47] nemecec opened #4406 "In certbot-auto "quiet" mode, print information to stdout when renewal is performed"
About `certbot-auto` command line interface.

## Current behaviour

If use `--quiet` option, I get no output at all (as long as there are no errors).

If I do not use `--quiet` option, the output is fairly verbose:

[code]

## Desired behaviour

I'm running `certbot-auto renew` inside a cron job. And I would like to see output from `certbot-auto` in case of either an error or in case certbot actua

[2017-03-23 16:15] corburn opened #4407 "cli.ini boolean options set when False"
## My operating system is (include version):
linux alpine edge

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
pip install certbot==0.12.0

## I ran this command and it produced this output:

I created `/etc/letsencrypt/cli.ini` listing all options, even if they matched the default:

[code]

Command:

[code]

Output:
[code]

## Certbot's behavior differed from what I exp

[2017-03-23 17:53] slavaGanzin commented on #3104
http://unix.stackexchange.com/questions/87745/what-does-lc-all-c-do#87748

[2017-03-23 18:39] jethrogb commented on #4331
Ran into same issue.

[code]

[2017-03-23 18:48] jethrogb opened #4408 "--register-unsafely-without-email prints message even with --quiet"
## My operating system is (include version):

Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

`sudo pip install certbot`

## I ran this command and it produced this output:

[code]

## Certbot's behavior differed from what I expected because:

From `certbot --help all`:

[code]

## Here is a Certbot log showing the issue (if available):
###### Logs are stor

[2017-03-23 20:04] St-Ranger commented on #3602
@sc-perth
I saw the pull request #4195, and I thought I'd add a few comments/suggestions for the implementation (in part related to the suggestion made by @bmw )

**1.** As a user, I would easily understand that `--disable-log-rotation` disables log rotation, thus allowing it to grow infinitely (in the absence of other log rotators).
In contrast, the meaning of  `--max-log-count` set to 1 can be a

[2017-03-23 21:28] SwartzCr commented on #4388
Have you tried hosting a file at that endpoint and then navigating to it via a web browser? I'd work to make sure that you can navigate to a file placed in the same directory as you are specifying for Certbot. If you can and it still isn't working via certbot please share a debug log after you run certbot

[2017-03-23 21:35] SwartzCr commented on #4391
We now package Certbot for ubuntu 14.04 in a PPA - have you tried installing it via the system packaged version? For instructions look at: https://github.com/certbot/website/pull/200/files#diff-6338bfd9361d6d88aa1d137d07af331b
they should be pushed to the website soon. pinging @bmw to flag that these changes should make their way to the website.

[2017-03-23 21:37] SwartzCr commented on #4405
Do you think you could share your renewal conf file with us? That'd help us see what domain is specified for this renewal

[2017-03-23 21:38] SwartzCr commented on #4406
I'm curious what @ohemorange thinks about this

[2017-03-23 21:41] SwartzCr commented on #4407
@bmw this doesn't seem like intended behavior - is this a problem with our config parsing wrt argparse?

[2017-03-23 21:47] SwartzCr commented on #4408
ooh - seems like a bug in --quiet, pinging @ohemorange, do you think this is an easy fix?

[2017-03-23 21:48] SwartzCr commented on #4389
pinging @bmw & @jsha who might be able to provide a better answer here than I can

[2017-03-23 21:57] jsha commented on #4389
Hi @laran,

Sounds like you are implementing an ACME server - awesome! If you haven't already read it, https://github.com/letsencrypt/boulder/blob/release/docs/acme-divergences.md documents what is implemented in Boulder, which is somewhat different from the current ACME draft. You may also be interested in https://github.com/letsencrypt/pebble, which is our in-progress reference implementation fo

[2017-03-23 21:58] ohemorange commented on #4408
Yup, this is a bug, and should definitely be an easy fix.

[2017-03-24 00:27] bmw commented on #3649
Doing this in Nginx might actually be trickier than I thought. Assuming we don't want to include this header in the HTTP response, I believe we'd need to split the Nginx server block into separate HTTP and HTTPS blocks.

[2017-03-24 00:27] bmw commented on #3648
Doing this in Nginx might actually be trickier than I thought. Assuming we don't want to include this header in the HTTP response, I believe we'd need to split the Nginx server block into separate HTTP and HTTPS blocks.

[2017-03-24 00:46] bmw commented on #3649
Another approach I've seen is to use a [map directive](https://websistent.com/add-the-hsts-header-only-for-https-requests-nginx/) but this would also be a bit of work because it can't be added inside the `server` block (see https://nginx.org/en/docs/http/ngx_http_map_module.html).

[2017-03-24 08:51] joohoi commented on #4401
pinging @osirisinferi for Gentoo insights.

[2017-03-24 12:38] osirisinferi commented on #4401
Interesting.. I don't have `fasteners` installed and always run `certbot` from git without any problem..

I'll update to the latest commit and see what I can find.

[2017-03-24 13:16] St-Ranger opened #4410 "Make adding and removing domains more intuitive and less ambiguous"
I propose two changes that would make adding and removing domains to/from existing certificates more intuitive and less confusing (and a bit more "automated").

**Change 1**
_Preamble:_
I have been using certbot for some time (FreeBSD 10.0.*, certbot 0.10.2, 0.11.1), while reading the documentation and issues and talking to people on #certbot OTC irc channel.
I was pleasantly surprised (very much!

[2017-03-24 13:41] nulun commented on #4346
Same prob here , any solution ?

[2017-03-24 14:50] SwartzCr commented on #4153
fyi that @schoen has a draft of this that I'm looking over - hopefully we'll have something PRable by next week

[2017-03-24 14:51] SwartzCr commented on #4171
@zjs expressed interest in writing up some documentation on how to create a plugin - maybe he's also be interested in cleaning it up?

[2017-03-24 14:54] SwartzCr commented on #4366
Yeah, and possibly it should point people back to certbot.eff.org, especially as things that have historically been certbot-auto suggested become system packages.
@schoen do you have any interest in taking this on? I think it requires some amount of subtlety in wording that you excel at.

[2017-03-24 16:06] SwartzCr commented on #4016
just so I don't lose it here's seth explaining part of it: https://community.letsencrypt.org/t/link-point-to-wrong-certs/28441

[2017-03-24 16:09] SwartzCr commented on #4209
Thanks for the log snippet @pcovello but I don't see any errors in it. Maybe you want to tail it instead of taking the top of it from more? Alternately you could include the whole thing, which would be the most helpful

[2017-03-24 16:11] SwartzCr commented on #4331
@ohemorange or @schoen do you want to take on moving this from install to paths?

[2017-03-24 16:14] SwartzCr commented on #4346
@nulun what OS are you on? Do you get the same python based error or a different but similar one? what version of virtualenv does your system have installed?

[2017-03-24 16:23] SwartzCr commented on #3664
tagging @pconrad-fb who might want to add documentation for this in his lineage docuementation

[2017-03-24 16:23] SwartzCr commented on #3664
actually, since #3615 has landed, where does the state of this issue stand, @bmw is it closable?

[2017-03-24 16:24] SwartzCr commented on #4410
Whoa @St-Ranger thanks so much for the well written and well thought out issue!
First off I'd invite you to join #letsencrypt-dev on irc.freenode.net where a few more developers hang out than do on #certbot on irc.OFTC.net, looking forward to chatting with you more there.
Second I'm going to tag @ohemorange who undoubtedly has thoughts on implementing a new `modify` flag
Third I'm going to tag @pc

[2017-03-24 16:55] jsha commented on #4171
I landed a fix for this: https://github.com/certbot/certbot/pull/4329

[2017-03-24 16:55] #4171 closed

[2017-03-24 17:16] St-Ranger commented on #4410
I have more thoughts on `modify` (from a different perspective).
As a matter of fact, I've drafted a different suggestion for some CLI changes (more drastic), but it is independent of the changes proposed here (with no contradiction to the proposed use of `modify`). So, to avoid any confusion I will be submitting that other one as a separate issue a bit later, when I finish it. (I have some other

[2017-03-24 18:20] ohemorange commented on #3649
I mean, seems like this is a good reason to finally do it correctly and just add another block. Yeah it'll be some work, but it's not impossible.

[2017-03-24 18:31] erikrose commented on #4401
Is Gentoo pulling directly from certbot's master branch? That strikes me as unwise, as we might flop back and forth on important decisions like dependencies several times between releases.

[2017-03-24 18:37] osirisinferi commented on #4401
Yes, it's quite "normal" for Gentoo packages to have an ebuild which fetches the latest master branch from a VCS. They normally have the version number "9999", so it will always be the latest and to use such a package, the user must manually enable Portage to use it. The packages aren't in the `testing` branch, but actually "branch-less", so users are usualy aware of the possible limitations (some

[2017-03-24 19:46] erikrose commented on #4401
Very good. Then, in the spirit of information ahead of time, have a look at https://github.com/certbot/certbot/pull/4379#issuecomment-288501426: we're likely going to be reworking how we depend on argparse again.

[2017-03-24 20:53] osirisinferi commented on #4401
Although I'm not the maintainer of the Gentoo package, I'll follow it like a hawk ;)

[2017-03-24 21:33] ohemorange commented on #4410
Thanks for the extensive writeup!

I have many thoughts, but perhaps the most important is in response to this:

This is an intentional design choice. Our goal is to create an abstraction, so that most users don't need to know that `renew` does not automagically extend the validity of the existing certificate.

With that out of the way, on more substantive topics:

- I like the `--add-domain` and

[2017-03-24 23:39] greg1988 opened #4411 "Dashes causing trouble generating certs"
## My operating system is (include version):
Ubuntu 14.04.5 LTS

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
**Command:**
`/etc/scripts/certbot-auto certonly -a webroot --webroot-path=/etc/letsencrypt/live/ --keep-until-expiring --no-self-upgrade --agree-tos --force-renewal --non-interactive  -d "--leadi

[2017-03-25 02:45] #3798 closed

[2017-03-25 08:46] TangelSaki opened #4413 "Cannot run certbot with Python 2.7.13"
**Debian 8.7 x64
Python 2.7.13
pip 9.0.1 from /usr/python2.7/lib/python2.7/site-packages (python 2.7)
Latest certbot**

I tried to run command as root ` certbot-auto renew ` :
[code]
Thanks.

[2017-03-25 10:40] SwartzCr commented on #4413
Weird - it might be nice to know what error it threw, is there anything in the logs it generated?
Also have you tried getting the version of certbot that's packaged for debian 8? You can find instructions on how to download it here: https://certbot.eff.org/#debianjessie-other

[2017-03-25 10:44] SwartzCr commented on #4290
Hey @starrychloe did this fix your problem? Or do you still need assistance?

[2017-03-25 10:46] SwartzCr commented on #4411
Hmm this seems like a problem with argparse - @bmw any idea how we'd fix this?
Is there a way that argparse wants us to be escaping these characters?

[2017-03-25 11:04] viharm commented on #2076
It is very dangerous to allow "others" to read the diretory structure as it contains the private keys.

I suggest changing group to `ssl-cert`, and giving group read permissions to archive and live directories.

Users for all services should then be added to `ssl-cert` group.

[2017-03-25 14:59] osirisinferi opened #4414 "`manual` plugin not available when running `certonly` without other options"
## My operating system is (include version):
Gentoo, profile 13.0

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS package manager "Portage".

## I ran this command and it produced this output:
    `certbot certonly`

## Certbot's behavior differed from what I expected because:

The `manual` plugin is missing.

## Here is a Certbot log showing the issue (if available):

[2017-03-25 16:32] tmilev commented on #1761
This is a very serious bug.
Please fix it!
It is preventing me from using certbot -I will buy certificates instead.

Certbot MUST not create challenge files that require root to access. I am running a custom webserver which runs without root privileges (I listen to port 80 without root access with a port redirect trick).

Once again, I want to stress out the fact that certbot is losing users (name

[2017-03-25 21:10] #4290 closed

[2017-03-26 08:49] TangelSaki commented on #4413
no log in `/var/log/letsencrypt`.

In addition,I follow the instructions to install certbot:
`$ sudo apt-get install certbot -t jessie-backports`
then,I tired to run `certbot certonly`:
[code]

I install Python2.7 have an issue before I use certbot:
[code]

so I deleted `pycompile` file:
`rm /usr/bin/pycompile`

then run the following commands:
 `apt-get -f remove python-pkg-resources`
 `apt-get -

[2017-03-26 11:52] cyplo commented on #3567
Hello ! @rmalenko is this still an issue ?

[2017-03-26 21:50] osirisinferi commented on #4411
Dashes/hyphens at the "outside" of labels are prohibited according to [RFC 1035](https://tools.ietf.org/html/rfc1035#section-2.3.1):

Although [later](https://tools.ietf.org/html/rfc2181#section-11), the application of DNS was widened (including binary), this probably wouldn't be the case for the use of hostnames, like in the PKIX system.

[2017-03-26 22:05] wolfgang42 commented on #3879
I, too, vote to reopen.

My use case is CI testing for a server configuration: part of the test involves making sure that SSL certificates are being obtained and installed correctly. At the moment, I'm using `certbot --staging` to obtain a certificate, but I want to be able to run these tests without having a public IP address.
I'd like to be able to swap `--staging` for `--self-signed` and have a

[2017-03-26 22:24] Kissaki commented on #1761
@tmilev just create the folder with adequate permissions yourself and you’re set. This is an inconvenience, not a blocker.

[2017-03-27 01:40] laran opened #4417 "Certbot JWSObject structure is different from the acme spec (specifically re: header/protected/nonce))"
If I'm not mistaken, here's the line where certbot generates the signature that is used on the server to verify integrity of a JWSObject:
https://github.com/certbot/certbot/blob/8011fb2879659008528e8b6ba5c04ac3de1e63a0/acme/acme/jose/jws.py#L233

Certbot seems to deviate from the ACME spec in terms of the structure of the requests. In the spec the nonce is in the header and there is just the prote

[2017-03-27 02:29] laran commented on #4417
I see that this was called out in a recent version of the acme-divergences document:
https://github.com/letsencrypt/boulder/commit/db3a6d650774228515b6b0d869b442f9409661c7#diff-3d6d8baf462b78681424da8ce68634d9

[2017-03-27 02:33] tmilev commented on #1761
@Kissaki: here is what I get:

`./certbot-auto certonly --config-dir /home/ddtester/ace/calculator/certbot/certificates  --logs-dir /home/ddtester/ace/calculator/certbot/logsdir  --work-dir /home/ddtester/ace/calculator/certbot/workdir --webroot -w /home/ddtester/ace/public_html/ -d calculator-algebra.org -d www.calculator-algebra.org`

the result I get is:

`Requesting root privileges to run cert

[2017-03-27 02:36] fengmk2 commented on #4033
https://github.com/certbot/certbot/issues/4309 Maybe cause by pip mirror.

[2017-03-27 02:55] laran commented on #4389
Hi @jsha! You're correct. I have an ACME server in the works. I read the divergences doc a couple of months ago. I see it's had several updates since then. I'll review those. It's good to see the divergences doc keeping up with the updates to the acme spec (orders vs. applications, etc.)

Async issuance is a requirement for me. The way the acme spec outlines the polling used to check on challenges

[2017-03-27 11:33] miohtama commented on #1328
Xenial having an older version means that the default Ubuntu + Apache instructions https://certbot.eff.org/#ubuntuxenial-apache fail

[2017-03-27 16:07] SwartzCr commented on #4389
So the cerbot roadmap lives in github milestones - the two upcoming ones are 0.13.0 and 0.14.0 which can be viewed here: https://github.com/certbot/certbot/milestone/34 and https://github.com/certbot/certbot/milestone/35
We have a more general milestone for 1.0 where we've been making sure to place any issues that we think are needed for our first non-beta release: https://github.com/certbot/certb

[2017-03-27 16:09] jsha commented on #4389
We haven't committed to a timeline yet. Note that `pebble` will always be a non-production testing backend; the plan is to incorporate the lessons / code from pebble into Boulder for production use.

Check out the `acme-v2` branch on this repo for some work I've been doing toward making Certbot compatible with the current spec.

[2017-03-27 16:13] SwartzCr commented on #4253
@strugee any interest in documenting this? There's now a section for hooks in the documentation I think it'd be nice to mention error handling there. If you're up for writing something I'd be happy to review and merge it!

[2017-03-27 17:39] greg1988 commented on #4411
Hey guys thanks for the help. So starting with leading dashes:

I ran

`/etc/scripts/certbot-auto certonly -a webroot --webroot-path=/etc/letsencrypt/live/ --keep-until-expiring --no-self-upgrade --agree-tos --force-renewal --non-interactive  -d -- "--leadingdashes.com" 2>&1`

I also ran:

`/etc/scripts/certbot-auto certonly -a webroot --webroot-path=/etc/letsencrypt/live/ --keep-until-expiring --

[2017-03-27 17:44] osirisinferi commented on #4411
It could be other (more recent) RFC's have lifted some restrictions. Or the DNS servers used aren't RFC compliant.

[2017-03-27 19:20] ohemorange commented on #4331
Hm, that's weird:

[code]

Looks like this is either a bug or a feature of the `--help all` output, where it chooses which of the relevant sections it should be under by some subtle and unintuitive mechanism.

We may want to decide if that's a feature or a bug. Either way, switching the order of `"install"` and `"paths"` prioritizes `"paths"` to fix this particular instance.

[2017-03-27 19:35] ohemorange commented on #4406
[code]
Sounds like `--renew-hook` will work for your purposes; then you can customize your printed message.

[2017-03-27 20:05] ohemorange commented on #3991
#4296 is in, so closing this.

[2017-03-27 20:05] #3991 closed

[2017-03-27 21:01] bmw opened #4424 "Python-augeas pinning"
We should investigate this before releasing 0.13.0. If distros are successfully packaging `python-augeas` 1.0, we make sure Certbot still works with that version (once it's installed) and move our pinning to `tools/venv.sh` or modify `certbot-auto` so the necessary dependencies are installed.

[2017-03-27 21:47] #4408 closed

[2017-03-27 21:47] carlwgeorge commented on #2921
I'm one of the IUS maintainers, and this issue was recently brought to my attention.  IUS python27 packages should be 100% [parallel installable](https://ius.io/SafeRepo/#parallel-installable-package) with their stock counterparts.  I was able to confirm that python27-tools has a file conflict with python-tools.  This is a bug, and [has been corrected](https://github.com/iuscommunity-pkg/python27/

[2017-03-27 22:02] ohemorange commented on #4284
Ok, so we currently have three places where it might be logical to go in and update the ciphersuites:

1. Renew
2. Run/Install - create
3. Run/Install - update

As things currently stand (https://github.com/certbot/certbot/pull/4426), 2 is really the only one where we'd be putting in new ciphersuites. This seems insufficient.

3 is doable by modifying only the Nginx plugin.

1, however, would mean

[2017-03-27 22:09] bmw commented on #4284
I have a preference for a new, optional renew reinstall method like the one described in #4046 or #4199. This allows us and other plugin authors to do things like this after renewing a cert which isn't currently possible without butchering our hooks system.

@schoen, would know the most about the design decisions surrounding renewal though.

[2017-03-27 22:18] schoen commented on #4284
@pde had a theory about this back in the day (around "applying new enhancements", which could be extremely far-ranging and include significant changes to web server configurations in the service of mitigating vulnerabilities or enabling cool new technology). But I don't believe that we have any specific deployed precedent for this, which makes me think it is actually flexible at the moment.

By th

[2017-03-27 22:28] ohemorange commented on #4284
Sounds like @schoen's stuff could work either way. I could go for the additional reinstall method. Moving discussion to the existing PR.

[2017-03-27 22:31] zjs commented on #441
Given the complexity of `certbot`'s options, their dynamic nature (e.g., due to dependence on the installed set of plugins), and the frequency with which they change, it may be easiest to package the completion logic with `certbot`, possibly by leveraging a [library that integrates with `argparse`](https://argcomplete.readthedocs.io/en/latest/).

[2017-03-27 22:36] greg1988 commented on #4411
Ok we've decided that we will not be supporting domains with this format (since they are far edge cases)

If you guys determine that RFC has lifted that restriction and that you should accommodate these urls I'll be around to run some tests if needed.

Thanks for all the great work you guys do!

[2017-03-27 23:58] St-Ranger commented on #4410
I completely agree that it's nice to a have an automagically working, 'push-button" "appliance" that you don't need to tune.  Then you can work with it as a "black-box" abstraction.
But  due to the variation of the systems and setups, people need to introduce changes, and that where a misunderstanding can lead to a disaster. One specific example: A user thought that he/she can **move** (not copy!)

[2017-03-28 06:54] nemecec commented on #4406
Good catch!

So, something like this should do the trick?

`certbot-auto renew -n --quiet --pre-hook "service nginx stop" --post-hook "service nginx start" --renew-hook "echo Renewed $RENEWED_DOMAINS"`

[2017-03-28 13:37] lautiamkok opened #4428 "How to create SSL for IP:3030?"
I have an ExpressJS app that is running on an IP address only at port 3030.

How can I create the SSL cert and key for this type of address?

I tried with:

`$ certbot certonly --standalone --email test1@yahoo.co.uk -d 127.0.1.1:3030`

I get this error:

`Requested domain 127.0.1.1:3030 is not a FQDN`

Any ideas?

[2017-03-28 14:15] mechmind commented on #4375
Any news?

[2017-03-28 15:40] chrissound opened #4429 "What is the official docker hub image name?"
I don't see it listed anywhere, can't seem to find it on google.

[2017-03-28 17:35] zjs commented on #4429
The official image is [certbot/certbot](https://hub.docker.com/r/certbot/certbot/) (per [this comment](https://github.com/certbot/certbot/issues/492#issuecomment-286522268)).

This should probably be added to the documentation.

[2017-03-28 17:48] zjs commented on #4428
Let's Encrypt, the Certificate Authority (CA) Certbot uses by default, and similar CAs [don't allow creation of certificates for IP addresses](https://community.letsencrypt.org/t/certificate-for-public-ip-without-domain-name/6082/25). To get an SSL certificate through Let's Encrypt, you'll need a domain name. To get an SSL certificate for an IP address, you would have to use a different CA.

In ca

[2017-03-28 20:26] ohemorange commented on #4406
yup, that looks good!

[2017-03-28 20:27] #4406 closed

[2017-03-28 20:27] SwartzCr commented on #4408
Wow - look at how fast that was - good job everyone!

[2017-03-28 21:09] SwartzCr commented on #4331
should be solved now - feel free to reopen if you don't thinks so!

[2017-03-28 21:09] #4331 closed

[2017-03-28 21:12] SwartzCr commented on #4411
OK
Thanks for opening the issue @greg1988 and thanks for the RFC citation @osirisinferi
I'm going to close this, but feel free to open new issues if you run into any more problems!

[2017-03-28 21:12] #4411 closed

[2017-03-28 21:17] pv2b commented on #4328
This would help scratch a particular itch of mine. I'm currently working on a side project to automate certificate issuance for VMware NSX, and it would seem NSX does not like passphrase-less private keys. I'll end up just generating a passphrased copy of the private key on the fly before submitting the API call in my application, but if this functionality was in certbot, that'd be one less thing

[2017-03-28 21:46] bmw commented on #4424
@erikrose and @ohemorange this is related to the IRC conversation I haven't responded to yet.

[2017-03-28 21:48] jsha commented on #4428
Yep, what @zjs says is correct. If you have further questions, please start a thread at https://community.letsencrypt.org/new-topic. Thanks!

[2017-03-28 21:48] #4428 closed

[2017-03-28 21:54] ohemorange commented on #4125
Going to check that this is fixed, then close it.

[2017-03-28 21:58] SwartzCr commented on #4016
@pconrad-fb any progress?

[2017-03-28 22:00] ohemorange commented on #4013
@ohemorange and @bmw will look at the community forum post

[2017-03-28 22:02] #4013 closed

[2017-03-28 22:04] #3997 closed

[2017-03-28 22:05] bmw commented on #3981
@joohoi are you expecting to get this done for the release next week?

[2017-03-28 22:07] bmw commented on #3947
We won't be able to get to it this release.

[2017-03-28 22:08] bmw commented on #3538
This has been fixed.

[2017-03-28 22:08] #3538 closed

[2017-03-28 22:09] ohemorange commented on #3395
Ninos: you can specify a single cert with `certbot certificates --cert-name example.tld` to get information about a single certificate.

[2017-03-28 22:09] #3395 closed

[2017-03-28 22:16] pconrad-fb commented on #4016
I haven't jumped into lineages. I expect to do that this Wednesday or Thursday. In the mean time, "Certificates" is stalled. Can I get more directive feedback on this thread: https://github.com/certbot/certbot/pull/4370#pullrequestreview-27701860

[2017-03-28 22:53] chrissound opened #4431 "Command line arguments not working correctly in 0.12 but does in 0.9.3"
[code]
Which is version 0.12, I found the `certonly --webroot -w /var/www/example/ -d www.example.com -d example.com -w /var/www/other -d other.example.net -d another.other.example.net` directly from https://certbot.eff.org/docs/using.html#certbot-commands

This appeared to work fine in 0.9.3

[2017-03-29 02:05] bmw opened #4433 "Should we pin dependency versions?"
Currently we pin specific versions of all our of Python dependencies in `certbot-auto` but don't do this in our PyPI packages. Should we change this? I'd be very interested to see what other popular client side Python projects with OS dependencies do. (I'm not personally aware of any and over the past 2 years I've learned why.)

There was discussion of this in IRC between @erikrose, @ohemorange, a

[2017-03-29 04:33] porimol commented on #2883
I followed the solution given by @evgenity  and its perfect work.

[2017-03-29 04:44] joohoi commented on #3981
Yes, it should be a short PR to review as well.

[2017-03-29 09:31] chrissound commented on #2816
#4431

[2017-03-29 09:36] chrissound commented on #2816
Is the webroot plugin installed by default? If not, how do you install it?

[2017-03-29 11:42] rickitan commented on #2554
Hi @itdansharpe, I'm getting the same error. But I run the command with as sudo, I get the same error that @jknopp was getting ("Cannot locate wrapped file"). By any chance did you find a solution?

[2017-03-29 12:06] Smylers commented on #2816
Sorry, I can't remember any more.

I suspect that it is supposed to be installed by default, but either something was up with my installation or this was a server with a very old Certbot. However, a better error message would've let me track down the actual cause of the problem a lot quicker.

And the general point stands regardless, applicable to all plug-ins: if a requested plug-in isn't availab

[2017-03-29 13:11] chrissound commented on #4431
This does work if I use something like `docker exec $containerName /bin/sh -c "certbot certonly --webroot --webroot-path /var/www/html/public/ -d $domain -m $email --agree-tos -n"`

Not too sure why though

[2017-03-29 13:27] fabLouis commented on #2554
Same error :(

[2017-03-29 14:08] itdansharpe commented on #2554
And that worked for you?

Load the Mean console: sudo /opt/bitnami/use_gitlab
Download pip from: sudo wget https://bootstrap.pypa.io/get-pip.py
Install it executing: sudo python get-pip.py
Open the installation script (letsencrypt-auto)with your favourite CLI editor and edit the following line:
- PIP_OUT=`"$VENV_BIN/pip" install --no-cache-dir --require-hashes -r "$TEMP_DIR/letsencrypt-auto-requir

[2017-03-29 14:18] fabLouis commented on #2554
No sorry, just one step more, now I have got this [one](https://community.bitnami.com/t/cant-install-lets-encrypt-on-bitnami-gitlab-8-6-5-0/41334/3)

[2017-03-29 15:27] philippeowagner commented on #4033
I still have issues w/o the work around.

[2017-03-29 17:04] bmw commented on #4078
Fixed in #4297.

[2017-03-29 17:04] #4078 closed

[2017-03-29 17:11] bmw opened #4434 "Make a test_util function for generating a config"
All over the place in our tests we create a config object to pass to the code we're testing. We should make a common function/method/class in `certbot.tests.util` that creates a config object with the default values so it can be used throughout our tests.

Related to #4078.

[2017-03-29 17:14] bmw opened #4435 "Set all CLI defaults in certbot/constants.py"
This issue is mainly motivated to make #4434 easier, but it's nice to have a common place for setting these values rather than setting some in `cli.py` and some in `constants.py`. `HelpfulArgumentParser` in `cli.py` could maybe even be modified to no longer take a default value when an argument is added and instead take it from the config.

[2017-03-29 17:31] lautiamkok opened #4436 "Shiny Server and NodeJS"
I wonder if we can use certbot for apps that are running on Shiny Server and NodeJS?

Any reliable guide available for configuring these servers? I have these apps in Arch Linux and this is the guide I found https://wiki.archlinux.org/index.php/Let%E2%80%99s_Encrypt

But I am a bit confused as it says:

My apps are on the port 3838 (Shiny app) and 3000 (ExpressJS/ NodeJS app).

[2017-03-29 17:45] lautiamkok opened #4437 "Certbot for Arch Linux"
I am trying to install certbot on my Arch Linux but I get this error below:

[code]

Any why?

This is what I found https://www.archlinux.org/packages/community/any/certbot/

[2017-03-29 17:55] ArchangeGabriel commented on #4437
This has nothing to do here. You’re problem is that you’re using ArchLinux while you shouldn’t, since you apparently don’t know the basics.

I can tell your server is servely oudated, because the issue you see is that your local db cache has not been updated for a while, and thus all the packages versions you’re trying to install are not in the repo anymore. Which is a totally unsupported setup.

[2017-03-29 18:51] joohoi opened #4438 "Should be able to make multiple selections in certificate manager"
## I ran this command and it produced this output:
certbot delete

## Certbot's behavior differed from what I expected because:
I was prompted a list of certificates that are handled by Certbot. I expected to be able to select multiple certificates for removal at once, as is the fact in other such lists inside Certbot (domain selection inside Apache plugin for example). The usual behaviour is to b

[2017-03-29 19:02] ohemorange opened #4439 "Travis CI vs. Circle CI Tracking Issue"
To be updated with pros/cons/comparisons.

[2017-03-29 20:53] ohemorange commented on #4433
**OS packages**

This can't be an unsolved problem. If it's standard or standard-ish to pin `dependency<next.major.version`, but major versions get updated all the time, no way do things just always stop working when the next version of the dependency comes out. @erikrose?

**pip install**

Yeah, I'm fine with not bothering for this one.

**developer setup**

We should definitely not have broken d

[2017-03-29 22:00] starchy opened #4441 "Command line switches should override config file"
## My operating system is (include version): Debian Jessie

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
apt/jessie-backports

## I ran this command and it produced this output:
certbot certonly --manual --preferred-challenges dns -d <domain>
Too many flags setting configurators/installers/authenticators 'webroot' -> 'manual'

## Certbot's behavior differed from what I

[2017-03-29 23:48] jsha commented on #4363
I added code to dump the boulder logs on failures, which may make more information available next time this happens. Add another log if you see it, please!

[2017-03-29 23:52] SwartzCr commented on #4438
assigning this to @ohemorange who is probably most knowledgeable about this

[2017-03-30 00:06] SwartzCr commented on #4437
Hey @ArchangeGabriel
While I'm glad you're excited about spending time answering people's questions in the certbot issues queue - your response in this instance is unnecessarily and worryingly hostile. Certbot is meant to support a broad swath of use cases, which includes users who find themselves in over their heads with regards to server management. It is not our responsibility here to pass judg

[2017-03-30 00:06] #4437 closed

[2017-03-30 00:21] SwartzCr commented on #4436
Hi @lautiamkok !
So that note in the Arch Linux guide refers specifically to the webroot challenge.
For certbot to get you a certificate from Let's Encrypt it can perform any one of three challenges. Once you have that certificate you can use whatever you like to serve it (such as Shiny Server or a Node JS Server).
If you don't have a webserver occupying port 80 or 443 on your server you might try

[2017-03-30 00:27] ArchangeGabriel commented on #4437
@SwartzCr Sorry if I sounded that hostile… I acknowledge that I’ve written this straight out of my mind, which might not be polished at all.

That being said, isn’t certbot/letsencrypt about increasing everyone security? Then telling an user running an outdated system to learn about why update matters and why choosing a distro that suits their abilities is important, this is probably the right thi

[2017-03-30 00:27] SwartzCr commented on #4441
@schoen does this have to do with the cli.ini stuff you were documenting?

[2017-03-30 02:16] SwartzCr commented on #4437
It is true that certbot is an effort to increase everyone's security and that we do generally want people to improve their security practices globally.
That said, I fear that if we're hostile to people who lack deep knowledge of the world of security software they will become discouraged and not even take the first step to improving their security. This is one of the reasons why the way you expres

[2017-03-30 11:06] jens-maus commented on #1473
Here I suffered from the same problem that due to incorrect private key permissions my sendmail STARTTLS support suddenly stopped working after renewal of my certificates. Here I have now adapted my daily cronjob to do the following:

[code]

Thus, I will enforce proper 600 permissions after successful execution of certbot. This temporary solved my issues until certbot itself supports to set file

[2017-03-30 13:04] St-Ranger commented on #1473
The workaround I am using is "post_hook" option for certbot. I think it is much more elegant.
In etc/letsencrypt/renewal/DOMAIN.conf, it looks as follows:
`post_hook = chmod 400 /usr/local/etc/letsencrypt/live/DOMAIN/privkey.pem; service apache24 reload; services dovecot reload; service sendmail reload`

This works (at least on FreeBSD) since `chmod` without any flags acts on the actual file to wh

[2017-03-30 14:19] erikrose commented on #4424
See #4433 for a writeup of the results of that conversation.

[2017-03-30 15:00] lautiamkok commented on #4437
Thanks @SwartzCr. We are lucky to have you here encouraging us who are new to certbot.

[2017-03-30 15:26] lautiamkok commented on #4436
Hi @SwartzCr,

I have a WordPress website running on port 80 by default. The Shiny server is independent from Apache.

My WordPress website is on HTTPS already so I need HTTPS for our Shiny and NodeJS apps. I am loading these apps into the two separate WP pages via iframe.

Since the WP webiste is on HTTPS so must be the iframe content or I will get the mixed-content error.

How can we join #letse

[2017-03-30 15:33] lautiamkok commented on #4436
By the way, can I create the certificates through my localhost (Ubuntu) then uploaded them to the production server (Arch)?

[2017-03-30 17:20] SwartzCr commented on #4436
As long as the certificate that you generate is for the domain name that you want to host it on, it will work.
This means that if you use the Apache plugin for certbot on your WP server you'll probably be able to correctly make a certificate for your shiny server app - as long as they share a domain. But unfortunately you probably won't be able to generate it on your local host, as the DNS for you

[2017-03-30 17:26] SwartzCr commented on #4389
assigning @bmw and @jsha so that they can schedule a discussion about support for this

[2017-03-30 17:29] jsha commented on #4389
@laran do you have time for a call or video chat about your needs? If so, email Brad and I to schedule. Our handles + @eff.org.

[2017-03-30 17:42] ohemorange commented on #4375
@mechmind, looking into this!

[2017-03-30 18:53] lautiamkok commented on #4436
@SwartzCr thanks. Will get on to that. I just realised that there is no app occupying port 80 or 443. The WordPress site is on another webserver actually.

The Shiny app is on port 3838 (but it is accessed over a subdomain, eg. http://openair.my-wordpress-site.com - no idea how this subdomain got here!)

The Node app is on port 3000 (it is accessed over an ip with :3000, eg http://127.0.1.1:3000)

[2017-03-30 19:02] bmw commented on #933
Reopening, but this will be done for 0.13.0.

[2017-03-30 22:09] ohemorange commented on #4125
Tested, should be working now! Look forward to this in our next release, which is due out next week.

[2017-03-30 22:09] #4125 closed

[2017-03-30 22:28] #4326 closed

[2017-03-31 06:01] laran commented on #4389
You guys rock! Yes. I'll follow up with you tomorrow. Thanks guys.

[2017-03-31 09:04] Lizzardd opened #4450 "certbot --apache not working on 16.04.02"
## My operating system is (include version):
Ubuntu 16.04.2 LTS \n \l

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
apt-get install python-certbot-apache

## I ran this command and it produced this output:
 certbot --apache

## Certbot's behavior differed from what I expected because:

## Here is a Certbot log showing the issue (if available):
###### Logs are stored in

[2017-03-31 10:14] prusswan commented on #2332
automatic deletion does not work. had to manually purge the old virtualenv in `~/.local/share/letsencrypt`

[2017-03-31 13:54] St-Ranger commented on #4352
Just discovered this issue.
There is a detailed discussion of the related (essentially the same?) options in #4410 .

[2017-03-31 14:49] erikrose commented on #2332
Let's at least get this under test.

[2017-03-31 18:09] pde commented on #2964
Related: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=859209

[2017-03-31 18:44] zjs commented on #1279
I've taken a look at this ticket, PR #4047, tried to understand the current logic in `letsencrypt-auto.template`, and tried to think about use cases for plugins.

It seems like being able to nuke the `venv` is nice. Starting from a "clean slate" each time makes things easier to test, debug, and reason about. Less persistent state is, I think, preferable.

It also seems like a "one size fits all" s

[2017-03-31 20:36] ohemorange commented on #1279
cc @erikrose

[2017-04-02 10:00] nhathaway opened #4452 "Renew fails, even with --allow-subset-of-names"
## My operating system is (include version):
Ubuntu 14.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
/usr/local/sbin/certbot-auto renew --post-hook=/etc/letsencrypt/renew-hook.sh --allow-subset-of-names

-------------------------------------------------------------------------------
Processing /etc/let

[2017-04-02 11:22] lautiamkok commented on #4436
@SwartzCr there is no domain name associated with the IP address at Linode yet where host our Shiny and Node apps.

We are planning to get a domain name and have it pointed it to Linode's nameservers, but I notice that many registrars offer SSL certs, eg. https://www.123-reg.co.uk/ssl-certificates/, so do we still need  cetbot to generate the certs if we get the SSL domain name at, eg. reg-123?

[2017-04-02 22:32] brendanw36 opened #4454 "Stupidly deleted import folders and now certbot can't find configuration."
## My operating system is (include version):
Raspbian 8

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
./certbot-auto

Error while running apache2ctl configtest.
Action 'configtest' failed.
The Apache error log may have more information.

apache2: Syntax error on line 219 of /etc/apache2/apache2.conf: Synt

[2017-04-02 22:45] boldandbusted commented on #446
Howdy. Has this been satisfactorily resolved by the fix mentioned by @kuba ? And possibly #447 and #469 ? If yes, should this be closed? Cheers.

[2017-04-02 22:53] boldandbusted commented on #1435
Howdy. Is this still an issue, or have the docs improved enough to address it since? Cheers.

[2017-04-03 07:16] joohoi commented on #4450
Looks like Apache is failing to restart for some reason, could you paste the relevant lines from
```/var/log/apache2/error.log``` to aid with debugging?

[2017-04-03 15:15] grt1st commented on #3894
@mhayes14 It quite works,thank you dude.

[2017-04-03 21:32] harellevy commented on #2324
thanks @GabLeRoux , saved me time and frustration!

[2017-04-04 01:07] ArchangeGabriel commented on #1473
Using a `post_hook` is a good idea, but FWIR it does not work if you use certbot through a dedicated (e.g. certbot) linux user (because no way I’m giving it root rights). But I handle all those things (chmod, restarting whatever program use those certs…) in my systemd service file, which provide such kinds of hooks too.

[2017-04-04 03:22] St-Ranger commented on #1473
I haven't tried this with a dedicated user, but I don't see the reason why it shouldn't work. Since the directory permissions allow that user to **W**rite the files (certs), the same user can change the permissions too.
So, that part can be placed in `post_hook`.
Restarting your daemons is a different issue; there you'd need your elevated permissions. Obviously, since you have to run something els

[2017-04-04 04:52] lautiamkok commented on #4436
I have a domain name pointed to our server at Linode and I have run the command below:

[code]

What should I go from here next then?

I don't see the HTTPS working when I access the server with https://example.co.uk/

What I get is the page of:

[2017-04-04 05:44] lautiamkok commented on #4436
Following this guide for my nodejs app https://startupnextdoor.com/how-to-obtain-and-renew-ssl-certs-with-lets-encrypt-on-node-js/

I have added the code below in my bin/www:

[code]

But I get an error:

[code]

I even have changed the folder permissions:

`sudo chmod -R 777 /etc/letsencrypt/live/example.co.uk/`

[2017-04-04 06:48] ArchangeGabriel commented on #1473
@St-Ranger: I use chmod directly too. ;) You’re right about changing permissions, as a matter of fact my issue is with `chown`, because at least opensmtpd (if I remember correctly) complains if the keys are not owned by root. And apparently you cannot chown a file to another user (or at least not to root), for security reasons I guess. So like you said, I still need to run things outside of the ho

[2017-04-04 07:09] alexzaitsev opened #4460 "./certbot-auto certonly --standalone fails"
## My operating system is (include version):

Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.2 LTS
Release:	16.04
Codename:	xenial

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

certbot-auto

## I ran this command and it produced this output:

[code]

## Certbot's behavior differed from what I expected because:

it's failed

## Here is a Certbot log showing the issue

[2017-04-04 07:17] alexzaitsev commented on #4460
solved https://github.com/certbot/certbot/issues/2883

[2017-04-04 07:17] #4460 closed

[2017-04-04 11:22] alphahamster commented on #2889
@Hokkaidosunny Also worked like a charm for me! Thank you so much!

Working on Amazon Linux Ami and Nginx

[2017-04-04 12:35] St-Ranger commented on #1473
@ArchangeGabriel: The fact that you have to do `chown` from outside of certbot is not certbot's fault (or even relevant to certbot per se). Rather,  it is an obvious consequence of your conscious choice of not running certbot as root. This is different for many other users who run certbot as root (which, as far as I understand, is an intended primary _m.o._).

A quick digression: Most *nix systems

[2017-04-04 14:36] lautiamkok opened #4461 "Cannot find Apache control command apache2ctl on Arch Linux"
I have this problem when using certbot for apache following this guide http://letsencrypt.readthedocs.io/en/latest/using.html#apache

[code]
I am on Arch Linux, and it seems that there is no apache2ctl for Arch but certbot requires it?

I tried to installed it but no luck:

[code]

My Apache's version:

[code]

[2017-04-04 17:19] ArchangeGabriel commented on #1473
You’re absolutely right, and I never implied this was a certbot issue. I know that whatever happens, I’ll still need chown and restarts from within my systemd service.

Thank you for this reference.

[2017-04-04 20:01] yan12125 commented on #4461
Apparently the Apache plugin is not officially supported on Arch Linux. I have a patch for that but I'm not sure whether it's completely correct or not. Check out https://github.com/yan12125/certbot/commit/ab22efe1093b8f730246331081160059c095bdcb

[2017-04-04 21:20] ohemorange commented on #4375
Hi @mechmind, could you tell us exactly what the changes were? Also, when you first ran certbot for these sites (looks like there's two certificates that were renewed here), what flags did you use? Did you select "easy" or "secure" as a response to "Please choose whether HTTPS access is required or optional."?

[2017-04-04 23:32] SwartzCr commented on #3544
There's a PR open for this now on the certbot website repo if anyone wants to comment there on the best way to explain this issue and fix: https://github.com/certbot/website/pull/195
I'll happily merge it ASAP if we can agree on a good way to explain it!

[2017-04-04 23:35] SwartzCr commented on #4436
So, you will need a domain name for the service that you want an SSL cert for, certbot can't get you a certificate if you don't have a domain associated with the IP address
That said, once you get the domain name you're welcome to go with another Certificate Authority besides Let's Encrypt, and another certificate generation method than Certbot, though if you choose to go that route we won't be ab

[2017-04-04 23:45] SwartzCr commented on #4452
Are you saying that it didn't successfully renew for XXXXX.com?
Could you attach the relevant certbot log? that'd be super helpful for figuring out where it's getting ahead of itself and erroring out

[2017-04-04 23:59] SwartzCr commented on #4461
Maybe @joohoi can provide more info

[2017-04-05 00:09] SwartzCr commented on #4454
So it sounds like you deleted your /etc/letsencrypt directory, or some files in it. Apache2ctl is checking the validity of your apache config files, which are pointing at this file `/etc/letsencrypt/options-ssl-apache.conf` which no longer exists. Apache2ctl is understandably throwing an error, because if you tried to run apache it would throw an error.
One solution is to delete these apache files

[2017-04-05 01:00] lautiamkok commented on #4436
@SwartzCr thanks.

I managed to get HTTPS for the nodejs app following this guide https://startupnextdoor.com/how-to-obtain-and-renew-ssl-certs-with-lets-encrypt-on-node-js/

But I can't get HTTPS running for my Shiny app. Any guides around?

[2017-04-05 01:43] brendanw36 commented on #4454
Thanks!  This worked for me.  I saw that directory a while ago and was leaning toward deleting the whole thing.  Thanks for the info.

[2017-04-05 01:43] #4454 closed

[2017-04-05 02:42] abackstrom commented on #1706
@oerdnj I ended up here specifically because of #4233. I'm just one person and this was a simple personal project, but I look forward to the 0.12 release.

[2017-04-05 06:39] nhathaway commented on #4452
Here is the log:

[letsencrypt.log.txt](https://github.com/certbot/certbot/files/895331/letsencrypt.log.txt)

Correct: it failed to renew.

[2017-04-05 06:46] nhathaway commented on #4452
In the end, in order to get the certificates to renew, I had to stop nginx and use standalone mode for certbot. Obviously, on a live server (which this is) this is something you don't want to do.

Note that the sub-domain mail.XXXXX.com is not used by the web server, but is used by postfix/dovecot.

[2017-04-05 13:02] mechmind commented on #4375
certbot removes some locations from config (notably /dumps and /monitor). SSL options and includes are not touched. I use letsencrypt client since it was just `letsencrypt` command and nginx plugin was in beta, so i'm not sure if easy/secure option was even shown to me.

[2017-04-05 15:47] jpptinsley opened #4463 "Renew asking for domains even though config file is correct."
## My operating system is (include version):
Debian Wheezy

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
/usr/local/bin/certbot-auto && /usr/local/bin/certbot-auto renew
Saving debug log to /var/log/letsencrypt/letsencrypt.log
No names were found in your configuration files. Please enter in your domain
na

[2017-04-05 16:34] SwartzCr commented on #4436
I don't have any specific knowledge on this, but a quick googling turned up this: https://www.r-bloggers.com/shiny-https-securing-shiny-open-source-with-ssl/
It's a bit complicated, but if you start at part 5 - it might be simple enough. Basically it suggests you use apache to handle the https, and then do forwarding between apache and shiny

[2017-04-05 16:35] SwartzCr commented on #4436
oh, and I'm going to close this issue - since it seems like you were able to get a cert :)
But I bet you could get some good help in the IRC room (or maybe the shiny support channel) if you continue to have trouble getting https to work

[2017-04-05 16:35] #4436 closed

[2017-04-05 16:39] lautiamkok commented on #4436
@SwartzCr Thanks for link. Seen that already. Got it sorted with Nginx server instead. Shiny open source does not support SSL unless you are using the Pro version.

So using Nginx is a hack - by redirecting a port to Shiny's, eg:

[code]

[2017-04-05 16:41] SwartzCr commented on #4452
Hmm - so it seems like it's checking for the vhost for each domain for every one of the domains in your list, and so each one fails since it can't find the mail.XXXX.com vhost. @ohemorange did the most work on the nginx code, so maybe she has some insight?

[2017-04-05 17:23] erikrose commented on #4433
#### OS packages

Major versions come out seldom for most Python packages. `click` (which we don't use) is about the only one I can think of that revs all the time, but that's because Armin is strict about semver and click is still young. I think we release certbot often enough that we can broaden our pinnings as new major versions are found to work.

#### pip install
I agree that we should say "y

[2017-04-05 18:33] joohoi commented on #4461
@yan12125 that looks correct from the Certbot point of view. Not sure about Arch, but I can test it out. Want to submit a PR? We would be happy to have Arch Linux specific constants in the certbot-apache.

[2017-04-05 18:59] SwartzCr commented on #4436
sweet - glad you got it working :D

[2017-04-05 19:04] iggs0 opened #4465 "Debian 8 installation fails - unmet dependencies"
## My operating system is (include version):
No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linux 8.7 (jessie)
Release:	8.7
Codename:	jessie
Linux xxx 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1+deb8u2 (2017-03-07) x86_64 GNU/Linux

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS Package - Backports

## I ran this command and it produced this o

[2017-04-05 19:09] yan12125 commented on #4461
Here it is :) #4466

[2017-04-05 19:32] SwartzCr opened #4468 "cleanup prose in changelog"
the changelog is nice and follows that cool standard, but it could sound better. Someone (me?) should go through and massage it all into english

[2017-04-05 20:29] ohemorange commented on #4375
Thanks for the info! I'm still having trouble reproducing this.

Would you mind posting the redacted contents of (if they exist):
[code]

You will want to remove any domains and account IDs.

Also, do you know if you first got your certs using `certonly`, or using `run` (which is the same as no subcommand)? It looks like you used the `--nginx` flag, can you confirm?

[2017-04-05 20:51] ohemorange commented on #4452
I don't think this is an Nginx-specific bug, since "failed to find a vhost for this domain" raises the same error in both Nginx and Apache. I'm less familiar with (read: I have never before seen) the parts of the code where this is likely to actually be, but I can look into it anyway.

[2017-04-05 21:35] mattwoods11 commented on #2823
I had the same issue from what appears to be a bad install of certbot. I fixed it by running the following:

unset PYTHON_INSTALL_LAYOUT
/root/.local/share/letsencrypt/bin/pip install --upgrade certbot

[2017-04-05 23:17] ohemorange opened #4469 "Improve rename testing and error checking"
- un-revert rename
- except Exception as e
- remove dead code
- stop if the existing cert doesn't exist
- what if there's no plugin? how to fail?
- what if it's not already installed?
- don't delete whatever's specified by the new_cert name if it already exists!

[2017-04-05 23:19] ohemorange opened #4470 "Deprecate --allow-subset-of-names"

[2017-04-05 23:19] ohemorange commented on #4470
3:53:25 PM - ericaportnoy: hey does anyone know who wrote --allow-subset-of-names?
3:53:42 PM - ericaportnoy: slash know all the things about how it works
3:54:11 PM - ericaportnoy: specifically, if it fails to pass the challenge for every subdomain on the cert, does it get a cert with the remaining names?
3:56:33 PM - ebe [~eagle@unaffiliated/eagle] entered the room.
4:01:28 PM - schoen: ericapor

[2017-04-05 23:28] ohemorange commented on #4452
@nhathaway, for your specific use case: if you use the Nginx plugin, it assumes that you want to use Nginx to authorize every domain contained in the cert. `--allow-subset-of-names`, if it didn't error out, would just drop the mail subdomain from the cert and successfully renew with the remainder of the domains.

I would recommend getting two different certs, one just for the mail that's renewed u

[2017-04-05 23:42] ohemorange commented on #4452
Additionally, I think the best way to fix this specific bug is to deprecate this flag: see #4470.

I'm closing this issue in favor of the other; @nhathaway, please let us know if this doesn't fix things for you, and thanks for the report!

[2017-04-05 23:42] #4452 closed

[2017-04-06 07:37] nhathaway commented on #4452
@ohemorange : your suggestion of having different certificates doesn't solve the problem. You still have to stop nginx to run the standalone server to renew mail.XXXXX.com, and so you may as well renew the single certificate that way.

The problem is that this is a live server, and that doing it this way causes a potentially unacceptable outage of the web service.

What would be a lot better is if

[2017-04-06 09:45] jhabdas opened #4471 "Unable to process multiple domains"
## My operating system is:
macOS Sierra Version 10.12.3 (16D32)

## I installed Certbot with:
`certbot-auto`

## I ran this command and it produced this output:
`./certbot-auto --no-self-upgrade --debug certonly --manual`

## Certbot's behavior differed from what I expected because:

It blew up twice in a row upon second domain verification while attempting to request certs for multiple domains se

[2017-04-06 12:37] Findus23 opened #4473 "timeout on certbot-auto update check if pypy.python.org is unreachable"
similar to #4074, #3313, #3636
## My operating system is (include version):
`Linux Debian-85-jessie-64-minimal 4.9.0-2-amd64 #1 SMP Debian 4.9.13-1 (2017-02-27) x86_64 GNU/Linux`

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
git clone (certbot-auto)

## I ran this command and it produced this output:
When I try to run certbot-auto nothing happens until I press CTRL+C a