[2017-07-07 11:30] bmw commented on #4887
When `--preferred-challenges` was added in Certbot 0.9.0, there was a bug where the value was not saved for renewal. This was [fixed in Certbot 0.10.2](https://github.com/certbot/certbot/blob/master/CHANGELOG.md#0102---2017-01-25). If you last issued the certificate with one of the older versions of the client, this could happen.

If you run the same `certbot certonly ...` command you provided abo

[2017-07-07 11:46] ibizista opened #4913 "renew certs error through Haproxy"
## My operating system is (include version):
Debian 8.7

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
 (I've changed the domain and IP)

certbot-auto certonly -n -d example.example.com --standalone --renew-by-default

Saving debug log to /var/log/letsencrypt/letsencrypt.log
Renewing an existing certificat

[2017-07-07 11:51] jdecalog commented on #4887
Ok I understand now

I think the version at the first time was 0.9.4

I have fixed my puppet module for the deployement, by forcing the line if missing.
For now the next installation would be correct as the version will be upper than 0.10.2

[2017-07-07 11:51] #4887 closed

[2017-07-07 19:05] klevstul commented on #4886
@SwartzCr
[code]

[2017-07-07 21:31] ChristophBusold commented on #3487
@ArchangeGabriel I would think that a missing staple is in no case worse than an invalid one. With must-staple you have a problem either way, but it would at least make sense from server side to know that it is invalid (log it/inform admin etc.).

[2017-07-08 18:40] Baeumla commented on #4759
Since this is already a month old, I assume @gitrago does not want to make the PR for this, so I would do it

[2017-07-08 20:19] maddes-b commented on #3947
Just got a mail that the issue was closed, so I had a quick look and recognized that I missed bmw's post from April, and I have one concern:
Do **not** handle "--renew-hook" and "--deploy-hook" in different ways, no matter how they were stated.
"--renew-hook" was not fully implemented, as the corner case of a new certificate via certonly was missing. The rename to "--deploy-hook" is just cosmetic

[2017-07-08 22:20] ynasser commented on #3947
@maddes-b

As you can see in @bmw's PR here: https://github.com/certbot/certbot/pull/4895/files#diff-fee68073ff44ffe30e9303db0210c070R98, `--deploy-hook` is literally a synonym for `--renew-hook`, as the only thing the `deploy_hook` function does is called the `renew_hook` function. So, no need to worry! Thanks for your input :)

[2017-07-08 23:56] maddes-b commented on #3947
Thanks for clarification :)

[2017-07-09 09:56] kiarn commented on #4886
`pip install --upgrade six`

solved the problem for me.

[2017-07-09 16:10] obfusk commented on #3284
I just followed the instructions on https://certbot.eff.org/#ubuntutrusty-nginx and only realised that I had added a cron job myself even though one was already installed after re-reading the instructions extra carefully to check for anything I might have missed. So still slightly confusing indeed.

[2017-07-10 12:57] mexon commented on #4700
We've finally switched our site from DNSpod to Aliyun.  Certbot now works great!  Definitely worth the 15 kuai per year that we're paying 😀

[2017-07-10 12:58] #4700 closed

[2017-07-10 17:25] ynasser opened #4917 "Organize + document `certbot/tests/testdata` directory"
We have a horribly organized `certbot/tests/testdata/` directory, and it's not clear which of our testing certificates go with which keys, and this has caused some confusion. Ideally, this would be documented somewhere around here: https://certbot.eff.org/docs/contributing.html#testing.

Here's a small sample of what's involved in part of this (e.g. checking that a private key goes with a certific

[2017-07-10 18:03] Baeumla commented on #4917
Since I have already worked on this for my last PR, I will take care of this issue. I will have to take a closer look into the `_test` files so I don't know when I will be able to create the PR for this. Will do it as soon as possible.

@ynasser you can assign this to me if possible.

[2017-07-10 18:36] ynasser commented on #4917
Oh, wow thanks @Baeumla! I'll just assign it to myself so we know who's managing it, since GH won't let me assign people not in the organization.

[2017-07-10 20:02] jsha commented on #4700
@mexon:

This is entirely possible. It's true that Boulder attempts to directly query each nameserver involved, and intermittent outages from DNSPod would result in failures from Boulder. Note that Boulder (and Unbound) do retry a few times, but on the order of seconds, not hours.

[2017-07-10 20:22] ynasser commented on #4913
@ibizista

My interpretation of what you're experiencing (and please correct me if I'm wrong) is that:

1. In the past you got a certificate for, say, `dog.example.com`.
2. You decide to change your server to `cat.example.com`.
3. Original certificate no longer works or is about to expire, so you try to renew and you get the above errors.

If you've changed the domain or subdomain, you either need

[2017-07-10 21:17] ohemorange commented on #4753
Summarizing my understanding based on previous discussions:

- We're getting a bad grade because Nginx is willing to do 1024-bit DHE with 2048-bit RSA keys
- There's no problem using shared params with 2048-bit keys
- We should pre-generate and ship shared params, then set `ssl_dhparam` to a file containing the results of a precomputed param generation, which is done by executing `openssl dhparam

[2017-07-10 21:43] ynasser commented on #4129
Hey @guoyunhe, any updates on this?

[2017-07-10 21:47] bmw commented on #4526
@joohoi, are you planning on working on this soon or should we unassigned you and/or kick the issue to a later milestone?

[2017-07-10 21:47] #4525 closed

[2017-07-10 21:55] SwartzCr commented on #4231
@JPRuehmann we don't have enough information to reproduce this, and no one else seems to have the same issue. So we're going to close this now, but if you can provide us with more information we'd be happy to re-open it

[2017-07-10 21:55] #4231 closed

[2017-07-10 22:00] bmw commented on #3967
@joohoi, what would you like us to do with this issue?

[2017-07-11 00:12] tr1ck3r opened #4918 "Certbot fails to retrieve domains of previous certificate when SAN is a critical extension"
## My operating system is (include version):
CentOS 6 and CentOS 7

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
For CentOS6 (certbot-auto):  https://certbot.eff.org/all-instructions/#centos-6-none-of-the-above
For CentOS7 (yum):  https://certbot.eff.org/all-instructions/#centos-rhel-7-none-of-the-above

Currently using certbot 0.14.1 on CentOS 7 and certbot-auto 0.16.

[2017-07-11 02:05] #4273 closed

[2017-07-11 05:42] Thynix commented on #3503
Same issue on Debian Stretch:

* apache 2.4.25
* certbot 0.10.2-1
* python-certbot-apache 0.10.2-1
* python-cryptography 1.7.1-3

This box was upgraded from Debian Jessie, where I used the `jessie-backports` version, and might have also used a more manual installation method earlier: I had an outdated `zope.interface` installed with `pip`,

[2017-07-11 08:32] guoyunhe commented on #4129
Hi @ynasser . Sorry for late reply! I will test it again on my server. Now I should have version 0.15 from openSUSE repository. I will let you know when I have test results.

[2017-07-11 08:42] ibizista commented on #4913
Hello,

Thanks for your answer.
I have multiple certificates, but have always had the same subdomain.
I think that maybe the problem is that Haproxy manage all certs in the same "virtual host", and when you get the page, haproxy send you the appropriate cert.

`The client lacks sufficient authorization :: Incorrect validation certificate for tls-sni-01 challenge. Requested 852ba7cdb5c08e5cb264f2e4

[2017-07-11 09:37] phoenixgao opened #4919 "Nginx plugin not able to get version number from openresty nginx binary"
## My operating system is (include version):
Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
`certbot-auto certonly --nginx`
[code]
This is because in the nginx configurator code:
https://github.com/certbot/certbot/blob/master/certbot-nginx/certbot_nginx/configurator.py#L649

it uses regex `ver

[2017-07-11 12:10] iatpatelishan opened #4920 "Installing Python Package error"
### My operating system is Ubuntu 16.04.  I installed Certbot with certbot-auto

### I ran this command: `certbot-auto --verbose -n --version` and it produced this output:

  Running setup.py install for cryptography ... error
    Complete output from command /root/.local/share/letsencrypt/bin/python2.7 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-VDGb3m/cryptography/setup.py';exec(

[2017-07-11 12:12] iatpatelishan commented on #4920
Issue with RAM

[2017-07-11 12:12] #4920 closed

[2017-07-11 14:40] Sakorah commented on #4046
I have a plugin which handles the authentication and installation of the certificates for a F5 BIG-IP Loadbalancer. This all works fine for the first run, while the renew only renews the certificate but I need to copy the certificate to the loadbalancer, but the renew does not call the installer.

So is there a workaround available? I don't like to handle this with extra scripts via the renew-hook

[2017-07-11 15:03] codemusings opened #4921 "Challenge seems to fail because '/files' is not stripped from path to apache2.conf"
## My operating system is (include version):
Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Installed certbot from the PPA as per User Guide. Its version is `certbot 0.14.2`.

## I ran this command and it produced this output:
certbot --apache -d mydomain.com

## Certbot's behavior differed from what I expected because:
The challenge fails.

## Here is a Ce

[2017-07-11 15:28] gggerd commented on #4921
Got the same issue (Ubuntu 16.4, too):
`Cannot find a cert or key directive in /**files**/etc/apache2/sites-available/...`

[2017-07-11 16:51] wilddev65 opened #4922 "Lack of Subject Name gives error on MacOS Sierra"
## My operating system is (include version):
MacOS 10.12.5, CentOS 7.3-1611

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
CentOS EPEL repository using Yum
Certbot version 0.14.1

## Certbot's behavior differed from what I expected because:
Certificate was issued with no Subject Name

I was able to install the certificate and have it currently running on my Apache serve

[2017-07-12 01:56] bmw commented on #4046
I suggested a potential workaround in [this post](https://github.com/certbot/certbot/pull/4199#issuecomment-295023089).

[2017-07-12 04:50] kraftbj commented on #4901
I encountered a similar issue

<details><summary>My error output</summary>kraft@tex:~/letsencrypt$ ./letsencrypt-auto
Error: couldn't get currently installed version for /home/kraft/.local/share/letsencrypt/bin/letsencrypt:
Traceback (most recent call last):
  File "/home/kraft/.local/share/letsencrypt/bin/letsencrypt", line 7, in <module>
    from certbot.main import main
  File "/home/kraft/.loc

[2017-07-12 07:47] Sakorah commented on #4046
ok, thanks!
I also stumbled across https://github.com/certbot/certbot/issues/4045 which is kinda similar as a possible solution.

[2017-07-12 11:32] creepersbane commented on #4901
@kraftbj It seems that the shared object was just out of place for you. For me, the object exists, but cannot be used for some reason.

[2017-07-12 14:29] SwartzCr commented on #4892
Maybe you could try adding pref_challs = tls-sni-01 to your renewal conf? You might have a similar issue to #4887 ?
If not let me know and we can do more debugging. Sorry for the delay, I was caught up preparing a talk, and should respond more quickly now.

[2017-07-12 14:41] SwartzCr commented on #4169
@polarapfel yes you can use webroot with renewal - if you have any more questions please feel free to open new issues, so that we can make sure they get responded to promptly

[2017-07-12 14:41] SwartzCr commented on #4169
@yt42 are you still having issues?

[2017-07-12 14:44] SwartzCr commented on #4759
@Baeumla please do! Tag me in it so that I can review and merge it, thanks!

[2017-07-12 14:52] SwartzCr commented on #4881
I'm going to tag @ohemorange because she's working on our 3 month goal of increasing our Qualys rating

[2017-07-12 17:01] ynasser commented on #3522
@bmw I just saw #4520. Since we're phasing out support for certbot-auto for quite a few of the experimental systems, presumably this means I should stop working on getting certbot-auto-cron to support the experimental ones, right?

[2017-07-12 17:40] bmw commented on #3522
Yes, you definitely don't need to get this working on the "experimental" systems. I didn't realize you had been working on that.

I also think it's fine if we leave out Arch Linux as well. It's technically not experimental, but we push people hard towards the built packages and users have to include `--debug` just like the experimental systems. See [this code](https://github.com/certbot/certbot/bl

[2017-07-12 22:26] SwartzCr commented on #4886
Awesome, @klevstul have you tried something along those lines?

[2017-07-12 22:27] SwartzCr commented on #4873
No worries. I'm going to tag @bmw here because he's interested in taking on the task of geting certbot-auto to support our DNS plugins

[2017-07-12 22:28] SwartzCr commented on #4872
Okay - then I'm going to close this issue, feel free to open another one if you run into problems on Ubuntu.
Hope it's all fixed now!

[2017-07-12 22:28] #4872 closed

[2017-07-12 22:44] SwartzCr commented on #4909
How did you install certbot?
Can you figure out where it's installed to?
@bmw is certbot supposed to be a service on ubuntu?

[2017-07-12 22:48] binarykitchen commented on #4909
already solved, had a mess with too many different installs of certbot. wish certbot would have detected and complained about this.

[2017-07-12 22:48] #4909 closed

[2017-07-12 22:56] SwartzCr commented on #4910
Oh super weird!
I think what's happening is that the apache plugin is identifying your system as a redhat system. This is defined here: https://github.com/certbot/certbot/blob/master/certbot-apache/certbot_apache/constants.py
Which gets it's OS name from: https://github.com/certbot/certbot/blob/master/certbot-apache/certbot_apache/constants.py
So, can you tell me what you get when you `cat /etc/os

[2017-07-12 23:04] SwartzCr commented on #4912
Can you please elaborate on what you mean when you say that it "couldn't find" that domain?
As in when it prompted you to choose a domain for the certificate you were requesting it didn't suggest that domain?
What web server are you using on this machine? Could you share what your virtual host configuration file(s) look like?

[2017-07-12 23:15] SwartzCr commented on #4913
I think the issue might be that you're using the wrong authentication method. You mentioned that you have it set up to move around things that end up in the `.well-known` directory in order to pass challenges. But the error output mentions that you're using the `tls-sni-01` challenge for authentication.  It's possible that the challenge type didn't get saved in your renewal configuration. Could yo

[2017-07-12 23:33] SwartzCr commented on #4918
Maybe @bmw or @jsha have opinions where we put names into certs
To me it seems possible that you're using the `--cert-name` command to name a cert rather than to find a cert to expand. Did you previously have a cert with that name? It might just be that the way this is described to you is confusing

[2017-07-12 23:35] SwartzCr commented on #4919
This seems like something @ohemorange should know about

[2017-07-12 23:38] SwartzCr commented on #4885
I made a PR to remove this from certbot - but I don't think it's a huge issue - so I'm curious to hear what @bmw thinks

[2017-07-12 23:44] ohemorange commented on #4881
This is a duplicate of #4753 for Nginx, but I'll leave it open for Apache.

[2017-07-12 23:45] ohemorange commented on #4753
Updates from meeting:

- Watch out for Java maybe not able to connect (logjam)
- See RFC: https://tools.ietf.org/html/rfc7919

[2017-07-12 23:48] SwartzCr commented on #4921
hmmm maybe @joohoi has some insight on this

[2017-07-12 23:52] SwartzCr commented on #4922
This seems related to #4918
I'd watch that discussion as well

[2017-07-13 00:01] jsha commented on #4918
This seems possible. We wouldn't have run into this in testing against Boulder, because Boulder always includes a CN, and never marks SANs as critical. I am glad you are testing this scenario!

The next step for the Certbot team should be to find the code the extracts names from existing certificates, and test it against previous_cert_pem.txt to make sure it extracts the expected names, ideally in

[2017-07-13 00:05] wilddev65 commented on #4922
Not sure why you think this is related. Is it because the parsing of domains is failing? My main issue is I get no Subject Name in certificates and because of a bug in MacOS is is rejected outright.

[2017-07-13 05:08] htinc commented on #4912
I use Apache and when I entered my domain, it just failed to create the certificates.

I was adding certificates for about 10 domains

[2017-07-13 05:34] jsoref commented on #4892
Added...
Can you explain what you think certbot was doing? Do you think that certbot set up apache for http-01 while asking boulder for tls-sni-01? That seems pretty bizarre....

[2017-07-13 06:47] chrylis opened #4925 "certbot can't renew with DNS challenges"
I'm using certbot 0.16.0 on Arch (upgraded from 0.12.0 because of this problem, which is still there).

I administer a TLD with a number of hostnames, many of which aren't live at any given time and which can't trivially be given distinct challenge texts (they're staging containers for a blue-green CD pipeline that's public-facing). In order to generate certificates, I need to use DNS challenges.

[2017-07-13 09:16] ibizista commented on #4913
Thanks!!!!
With **--preferred-challenges http** option works like a charm

[2017-07-13 13:56] #2292 closed

[2017-07-13 15:03] bmw commented on #2481
Another user encountered this problem with a directive like the following in a virtual host:
[code]

[2017-07-13 16:28] Philippe23 opened #4926 "certbot-auto 0.16.0 crashes when resizing putty window at prompt"
certbot-auto 0.16.0 crashes when resizing putty window at prompt.  Not sure if putty is a requirement, but haven't had a chance to try from another machine.

Also not sure if https://github.com/certbot/certbot/issues/3030 is related or not.  I don't have dialog installed so I can't test to see if it crashes as mentioned in issue #3030.

## My operating system is (include version):

Server: Amazon

[2017-07-13 17:37] jsoref opened #4927 "certbot broke an apache vhost by not paying attention/warning about vhost-SAN needs"
## My operating system is (include version):
RHEL6

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:
It broke my SAN certificate (which held 2 of the 7 domains) and was used by the vhost that it was editing

## Here is a Certbot log showing

[2017-07-13 17:39] jsoref opened #4928 "Provide a mode that only does the redirect step (apache)"
(see also #4927)

## My operating system is (include version):
RHEL6

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:
It broke my SAN certificate (which held 2 of the 7 domains) and was used by the vhost that it was editing

## Here is a Ce

[2017-07-13 19:52] AZed commented on #4910
/etc/os-release contains:

[code]

Here's the output of the relevant python commands, gathered via IDLE:

[code]

I note that `os_ver = info[1]` (line 428) is going to return the value of `platform.release()` in this, not `platform.version()`, so you're going to end up matching against `4.9.0-3-amd64`, not  the string that actually contains the word Debian.  Is that possibly relevant?

[2017-07-13 20:44] SwartzCr commented on #4925
Hmm this does seem true.
On recommendation would be to use a DNS plug-in if possible so that you don't need to manually manage the DNS challenge. If this isn't possible, my best bad advice would be to make a renewal `--pre-hook` that blocks on user input, do allow you to update your DNS. This might not work if you're doing the challenges for multiple renewals at once. So I'm curious if @bmw has a

[2017-07-13 20:55] SwartzCr commented on #4926
#4871 seems to be related
It seems to be basically this issue? https://stackoverflow.com/questions/19348236/ncurses-interrupts-system-call-when-resizing-terminal
Which suggests that we can just catch and ignore this error. Since I've never messed with ncurses code I'd like some feedback from @erikrose who has to see if this is a good idea or not. It doesn't seem worthwhile to send this upstream, s

[2017-07-13 21:01] klevstul commented on #4886
@kiarn @SwartzCr
sorry for my late feedback. have been busy with other project recent days. anyhow,
`pip install --upgrade six`
did work for me as well.

thanks a lot!

[2017-07-13 21:04] SwartzCr commented on #4927
This seems like something @joohoi should be made aware of for his upcoming apache reliability work

[2017-07-13 21:09] SwartzCr commented on #4879
That does seem annoying - sorry about that!
I don't really know what would cause this, and am curious whether or not this has anything to do with our use of IDisplay. If so #3915 is relevant and maybe should be taken into account when working on that issue. I'm going to ping @bmw in case he has a simple solution he can think of, but I think likely this'll end up in our wishlist milestone.

[2017-07-13 21:15] SwartzCr commented on #4918
@bmw or @ynasser would you be interested in writing that test?

[2017-07-13 21:16] SwartzCr commented on #4892
Did it fix your issue?
I think what was happening is that you got your certificates via the webroot challenge (`http-01`) and then certbot didn't store this information. When you went to renew, it saw you had apache on your system and tried to renew with `tls-sni-01` which is the default for apache.

[2017-07-13 21:17] SwartzCr commented on #4913
Awesome!
I'm going to close this issue, but feel free to open new ones if you run into more problems.

[2017-07-13 21:17] #4913 closed

[2017-07-13 21:30] SwartzCr commented on #4910
Quite possibly, @joohoi wrote that code so I'm curious to hear what he thinks about this

[2017-07-13 21:32] SwartzCr commented on #4886
Awesome - maybe @erikrose or @hlieberman  has a sense of why we can't install against urllib3?
is it possible that we need to update our dependencies?

[2017-07-13 21:40] SwartzCr commented on #4912
Wait sorry, @htinc are you the same person as @edupes ?
If so could you provide some more context? If not, I'd appreciate it if you could open a new issue for the problems you're experiencing - that would really help me be able to debug them.
Thanks!

[2017-07-13 21:41] joohoi commented on #4910
I have a hunch that this is related to a weird Include or IncludeOptional statement somewhere in the configuration. If any way possible, could you post (possibly anonymized) version of your full apache configuration?

Even though it might be a Apache configuration issue, this is something that we should handle in the Certbot code, as it's obiviously a valid config for Apache itself.

[2017-07-13 21:44] SwartzCr commented on #4922
I'm sorry, maybe I'm misunderstanding. Would you be willing to point me to documentation on the Subject Name field of ssl certificates?

[2017-07-13 22:09] wilddev65 commented on #4922
https://www.ietf.org/rfc/rfc5280.txt in 4.1.2.6.  Subject

[2017-07-13 22:23] guoyunhe commented on #4129
I tested it again with certbot 0.16. Cannot reproduce this bug anymore. Think it should have been fixed.

[2017-07-13 22:23] #4129 closed

[2017-07-13 23:47] AZed commented on #4910
Bingo.  Because this is a standardized config generated by Puppet valid for multiple operating systems, apache2.conf contains:
[code]
What's happening here is that this is a valid (if overly fancy) trick that works in Apache itself because [c]onf.modules.d forces a regular expression parse, which prevents it from failing in an IncludeOptional when the directory doesn't exist... but this is breakin

[2017-07-14 00:51] bmw commented on #4885
Yeah Jacob proposed something similar in #4095 which I suggested we didn't take. While Let's Encrypt doesn't support `tel:`, it's clearly in the [ACME spec](https://tools.ietf.org/html/draft-ietf-acme-acme-07#section-7.1.2) so I think we should aim to support it.

@jaddison, if you have specific problems you're having with our [minimal acme documentation](https://acme-python.readthedocs.io/en/late

[2017-07-14 02:15] bmw commented on #4925
The reason the `renew` subcommand is strictly non-interactive is largely historical. We also expect/want people to automate certificate renewal wherever possible though. Due to the otherwise largely automated nature of Certbot and Let's Encrypt and the short 3 month certificate lifetimes, making renewal automated makes using Certbot much less error prone and easy to use.

With that said, we can po

[2017-07-14 07:55] joohoi commented on #4910
Thanks for digging in @AZed ! We'll get it fixed at the Certbot end.

[2017-07-14 09:38] bytespider opened #4930 "Support Perl-style named capture syntax in Nginx"
## My operating system is (include version):
Ubuntu 14.04.5 LTS
Certbot 0.14.2

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS package manager from PPA certbot/certbot

## I ran this command and it produced this output:
[code]

[code]

## Certbot's behavior differed from what I expected because:
It should have matched and renewed. As you can see I use a regular expres

[2017-07-14 14:21] SwartzCr commented on #4910
Awesome - @joohoi do you want to leave this ticket open to track this, or close this and open a new ticket for that specific issue?

[2017-07-14 15:42] C4llumD commented on #2589
Just experienced a similar issue.  System has Apache on 80, Nginx on 443.  Installed certbot which unknown to me had added mod_ssl to my Apache installation.  Apache subsequently failed to reload when  logrotate ran causing a call to an out-of-hours technician at 4:00am.

May be best to ask/prompt rather than forcibly installing mod_ssl behind the scenes?

#2605 appears to have been closed without

[2017-07-14 15:52] jsoref commented on #4892
What puzzles me is that running certbot manually interactively resulted in it properly renewing the certificate...

fwiw, while I do have some servers w/ lots of `<VirtualHost>s`, this server is really boring. At the time, it had:
[code]

And yes, it really does have two namevhosts for `www.{redacted-as-example.com}`.
I'm starting to think that's the problem.
The second one comes from `<VirtualHos

[2017-07-14 17:10] tsundeoku commented on #4804
I used this Python code regularly to create certificates for remote hosts that are not web servers and just discovered today that it has been removed. Considering that this is a command line utility for server configuration, I have to say I am puzzled by the concern about "visual noise" and "distraction." SSL certificates are widely used for all manner of services, but the current form of the comm

[2017-07-14 18:39] jsha commented on #4804
@tsundeoku It sounds like you would be better served by a plugin that combines SSH + SimplePythonServer to automate the process, rather than copying and pasting code each time. What do you think of that idea?

FWIW, my objections were less aesthetic than user-experience based. The more information you give someone, the less likely they are to read it all. In this case, the example code was a lot o

[2017-07-14 20:12] erikrose commented on #4886
I'm also curious what version of `requests` you're using. urllib3 has an exceptions module both in 1.19.1 and in the latest tip of trunk, so my initial suspicion about it being a requests/urllib3 version mismatch didn't prove out. requests has been vendoring, unvendoring, and quasi-re-vendoring its dependencies lately, so we should make sure everything's well with it.

[2017-07-14 20:25] kiarn commented on #4886
[code]

[2017-07-14 21:56] ohemorange commented on #4753
See https://wiki.mozilla.org/Security/Server_Side_TLS#ffdhe3072

[2017-07-14 23:22] tr1ck3r commented on #4918
@SwartzCr Yes, I previously had a certificate with the same `--cert-name`.  It was running the same certbot command line a second time that initially revealed the problem and this, unfortunately, also prevents the certbot renew functionality from working.

Thank you all for investigating the problem.

[2017-07-14 23:28] tsundeoku commented on #4804
That sounds promising, as long as it is simple and does not have too many dependencies, although I also think it is important to have a quick one-time way to generate a certificate for remote host without having to set up a web server on it. Perhaps an optional argument to dump this output?

I always found the existing text to be very clear, especially the "If you don't have HTTP server configured

[2017-07-15 01:03] bmw commented on #4918
This is almost certainly a problem with [this function](https://github.com/certbot/certbot/blob/v0.16.0/acme/acme/crypto_util.py#L188) where we parse the dumped certificate text with a regex to support older versions of our crypto library used on some of the systems where we are packaged.

[2017-07-15 01:15] jsha commented on #4918
Yep, spotted it. X509v3 Subject Alternative Name: critical

[2017-07-15 01:22] bmw commented on #4879
My guess is that the issue is caused by us not flushing the output file after writing to it in the notifications methods in `certbot/display/util.py`.

[2017-07-15 01:39] SwartzCr commented on #4925
I didn't suggest a bug fix release, just merely a bug fix pr :)

[2017-07-15 01:49] jsha opened #4932 "Print cert name in renewal errors"
Some errors during renewal print the path to a certificate, e.g.:

[code]

It would be nice to also print the cert name, since that is the identifier used to delete certs through Certbot.

[2017-07-15 02:12] SwartzCr commented on #4892
Well it seems like you might be better at debugging this than I am from afar - tinker with the vhosts and let me know how it goes?

[2017-07-15 02:26] SwartzCr commented on #4922
So I seem to have a certificate with CN = my.domain.name in the subject field. Can you link me to your cert so I can take a look at this?
This also doesn't seem like a problem with certbot necessarily, and maybe a problem with lets encrypt? So maybe @jsha should weigh in.

[2017-07-15 03:20] wilddev65 commented on #4922
Ok, so the reason I think it's certbot is because the CSR also has no Subject. It's possible I am not putting something on the cli to generate it properly. This is what I used (note I'm using a special ACME server, not letsencrypt);
sudo certbot certonly --webroot -w /var/www/html --server https://ray.pki-warrior.com/vacme/v1/acme/directory --cert-name oliver.pki-warrior.com -d oliver.pki-warrior.

[2017-07-15 04:30] cj-dev commented on #4893
I can probably take this since there hasn't been word from the reporter in a bit.

[2017-07-15 04:31] jsha commented on #4922
Which ACME server are you using? It's up to the CA policy whether to include one of the SANs in the Subject CommonName field. It's common practice to do so (in part because of breakage on macOS), but hostnames in CommonName are actually deprecated, and Let's Encrypt will eventually start issuing certain certificates without CommonName.

You may be able to solve your problem short term by providing

[2017-07-15 05:54] wilddev65 commented on #4922
My CA is an internal MSCA and it's using Venafi as the ACME server. As such I have control over the CA and there isn't something to put in the subject that I need to convince the CA operator (me) to do. I realize CommonName is deprecated, however the issue is that from the cli with openssl I can generate a CSR with the Subject name correctly, but Certbot is not doing this correctly. As far as I ca

[2017-07-15 06:18] jsha commented on #4922
I believe @tr1ck3r works for Venafi and may be able to help with software updates or configuration to get the behavior you want from your internal CA.

@tr1ck3r, TL;DR: Certificates with empty Subjects are likely to cause compatibility issues on some platforms. The best path forward, IMO, and the one being discussed at CA/Browser Forum, is to use [dnQualifier](https://cabforum.org/pipermail/public

[2017-07-15 07:26] MrKich opened #4933 "SSLError while communicating with acme-v01.api.letsencrypt.org"
## My operating system is (include version):
Ubuntu 14.04.5 LTS

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
apt-get install certbot
(OS package manager from PPA certbot/certbot)

## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:
It cannot verify acme's own certificate.

## Here is a Certbot log sho

[2017-07-15 12:36] creepersbane opened #4934 "DistributionNotFound error on RPI3"
## My operating system is (include version):
Raspbian 8 (Debian Jessie) Linux 4.4.27-v7+

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

Jessie Backports (so with package manager; I used apt-get)
## I ran this command and it produced this output:

user@machinename:~$ sudo certbot --apache

Traceback (most recent call last):
  File "/usr/local/bin/certbot", line 6, in <m

[2017-07-15 14:03] Baeumla commented on #4917
BTW: When I was generating the Sphinx documentation on my macOS with the `make -C docs clean html man` command, I was having import errors. I had to manually install `repoze.sphinx.autointerface` and `sphinx_rtd_theme`. I think this should be mentioned in the Developer Guide.

To install those packages I used the pip installer.
[code]

[2017-07-15 14:15] Baeumla commented on #4759
@SwartzCr Okay. But since I'm working on two other issues right now, this could take a little while.

[2017-07-15 14:21] allenwtl opened #4936 "please help"
## My operating system is (include version):
centos 6.8

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
wget

## I ran this command and it produced this output:
./certbot-auto --nginx

## Certbot's behavior differed from what I expected because:
not installed

## Here is a Certbot log showing the issue (if available):
###### Logs are stored in `/var/log/letsencrypt` by d

[2017-07-15 14:32] allenwtl opened #4937 "./path/to/certbot-auto --nginx"
## My operating system is (include version):
CentOS release 6.8 (Final)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
wget
https://certbot.eff.org/#centos6-nginx

## I ran this command and it produced this output:
--this command
$ sudo ./path/to/certbot-auto --nginx

--output
Dependency Updated:
  python-libs.x86_64 0:2.6.6-66.el6_8

Complete!
Creating virtual environm

[2017-07-15 14:32] #4936 closed

[2017-07-16 00:57] fyfe commented on #4901
This maybe related to this issue (pyca/cryptography#3693) with [cryptography](https://github.com/pyca/cryptography) if you have multiple versions of SSL installed it could be using the headers from one version and the libraries from another.

Try installing cryptography using the following command adjusting the paths to the location where openssl/libressl is installed
`pip install --global-option=

[2017-07-16 01:55] ahaw021 commented on #4569
great job zjs

[2017-07-16 07:07] adnanmayo opened #4938 "Getting error while installing certificates"
## My operating system is (include version):
  OS Ubuntu 16.04
Amazon free-tier with 1 GB ram. I have also created a swapfile still getting the same error

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Trying to install with certbot -auto
`sudo certbot-auto --debug -v --server https://acme-v01.api.letsencrypt.org/directory certonly -d mydomain.com`

## I ran this comman

[2017-07-16 08:26] jonasbn commented on #4736
This issue has been addressed in PR #4899 for now AFAIK

[2017-07-16 08:39] zenny commented on #4307
@bmw, sent an email with details as your asked for. Appreciate your inputs. Thanks in advance! Chhers, /z

[2017-07-16 20:19] jsoref commented on #4892
I think I'm going to be decommissioning that server.
I can provide a diff between the manual renewal (that worked) and the automated that failed.
But right now, the site is renewed for ~2 months from when I filed this ticket, until which it won't try to renew...

[2017-07-17 05:23] fmd commented on #4938
Me too, out of nowhere, on multiple servers. Looks like it's failing somewhere near pipstrap? Very worrying!

[2017-07-17 05:31] fmd commented on #4938
looks like `chown -R root:root ~/.cache` has fixed this, but no idea why it's happening like this out of nowhere.

[2017-07-17 11:02] gyroninja opened #4940 "Add Warning for Certificates Linking to Wrong Archive"
## My operating system is (include version):
Ubuntu 16.10

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
package manager

I was receiving error messages about being rate limited from renewing my certificate. Upon further investigation it turns out that my certificates in live/domain were not symlinked to the correct archive folder. This mismatch was causing certs to be

[2017-07-17 17:10] SwartzCr commented on #4477
Hey @solbu are you still having issues?

[2017-07-17 17:25] solbu commented on #4477
We solved it by creating a config file (etc/apache2/conf-available/certbot.conf), where we added the following content:

[2017-07-17 17:31] SwartzCr commented on #4892
Okay - keep me updated, sorry it's been a problem to deal with

[2017-07-17 17:33] SwartzCr commented on #4736
Awesome thanks so much @jonasbn for taking care of this!
Have you looked through the other Good Volunteer Task tickets and seen if anything stands out to you? https://github.com/certbot/certbot/labels/Good%20Volunteer%20Task
If not I can try to point you at something.
For now I'm also going to close this issue since we solved it!

[2017-07-17 17:38] SwartzCr commented on #4901
@creepersbane you could try @fyfe's suggestion, but it's also true that certain versions of certbot require certain versions of OpenSSL.
Since python cryptography compiles itself against the system package of python cryptography it comes with specific calls into the cryptography API, based on the version it expects. If cryptography has changed those APIs then it's possible that it'll try calling o

[2017-07-17 17:58] SwartzCr commented on #4893
Fixed - thanks @cj-dev
Feel free to find some other volunteer issues to fix!

[2017-07-17 17:58] #4893 closed

[2017-07-17 18:41] SwartzCr commented on #4477
Okay - glad you got it fixed, sorry for the issue!
I'm going to close this issue, but feel free to open new ones if you run into any more problem!

[2017-07-17 18:41] #4477 closed

[2017-07-17 19:24] SwartzCr commented on #4933
@jsha any ideas?

[2017-07-17 19:26] SwartzCr commented on #4934
Do you know what version of certbot you have?
It seems that the requirement for acme got bumped, but not updated in the package?
Maybe @hlieberman or @erikrose has some insight, but it'd be useful to know what version this is

[2017-07-17 19:33] SwartzCr commented on #4937
Do you have nginx installed? I think certbot is complaining that it can't find nginx on your system

[2017-07-17 19:36] SwartzCr commented on #4938
I wonder if pip changed something recently in how it works?
@erikrose any clue?
@fmd what OS are you experiencing this on?

[2017-07-17 19:39] SwartzCr commented on #4940
Oof this sounds like a bad problem
Can you be more specific about what happened in your case?
For example could you draw out for me what sym links were and were not there?
ls -la should give you a sense if any sym links were there (even if they were wrong)

[2017-07-17 19:43] SwartzCr commented on #4930
@ohemorange might have an idea of what's going on here

[2017-07-17 19:43] jsha commented on #4933
That's weird indeed. I assume when you ran the example Python code above, it was on the same machine? Do you have PYTHONPATH set? I.e. could you be using a different version of `requests` in the Python REPL than through Certbot?

Could you share a tcpdump of a Certbot session failing its handshake?

[2017-07-17 21:32] #4087 closed

[2017-07-17 21:54] postmarkio commented on #4933
On Debian Stretch with Nginx when I just attempted a cert renewal I'm getting similar errors in the logs. This has just started. Any ideas on this one anybody?

... SNIP...
2017-07-17 21:42:21,516:DEBUG:certbot.plugins.selection:Selected authenticator <certbot.plugins.standalone.Authenticator object at 0x7fdd86330cd0> and installer None
2017-07-17 21:42:21,523:DEBUG:certbot.main:Picked account: <A

[2017-07-17 22:55] #4805 closed

[2017-07-17 23:11] bouchard commented on #4938
I've gotten this error on Ubuntu 16.04.

This error occurs if certbot-auto is run in a root shell (i.e. `sudo bash` after logging in as your web user). This error disappears if run as non-root (which I assume is intended behaviour - the regression is that it used to work as `root`).

Hope that helps!

[2017-07-17 23:35] jsha opened #4945 "Implement authorization deactivation in acme"
The acme package should offer a method to deactivate authorizations. I don't think this needs to be part of the Certbot CLI, but it would be useful for the Boulder integration tester (chisel) and possible other users of the acme package.

[2017-07-18 02:53] adnanmayo commented on #4938
@bouchard  i have tried with out sudo it says permission denied on some directories is there another way?

[2017-07-18 04:31] bouchard commented on #4938
You probably need to delete those directories then... but maybe list them here first to check? Or alternatively you can chown them as your user.

[2017-07-18 06:01] allenwtl commented on #4937
I have installed nginx, but still not. I would like to ask, “certbot-auto - nginx” this order is automatically added   https configuration  for nginx?   like this ?
![image](https://user-images.githubusercontent.com/3185867/28302701-8a61dbfe-6bc1-11e7-8085-7b07186e6f14.png)

[2017-07-18 06:04] MrKich commented on #4933
[code]

## Found very "funny" moment:
[code]

Looks like it is a requests 1.2.3 bug O_O

[2017-07-18 06:42] jsha commented on #4933
Nice find! It looks like maybe it's specific to reused connections? @bmw, what version of requests ships with our PPA? Can we bump it?

[2017-07-18 08:32] MrKich commented on #4933
I have completely traced that bug
It is in pyopenssl wrapper which is from urllib3's contib (which is used by requests=1.2.3)

There is a special behavior with python OpenSSL and blocking socket during ssl handshakes (or bug, idk)
Urllib3 treats this as handshake error (which is actually not)
https://stackoverflow.com/questions/26540429/python-openssl-connection-failing-handshake-when-using-timeou

[2017-07-18 08:41] jonasbn commented on #4736
Hi @SwartzCr

I have agreed with @ynasser on reviewing and possibly correcting the Sphinx documentation for correctness. I will create separate PRs for each file. I am leaving for holiday shortly, but will pick up on this when I get back.

jonasbn

[2017-07-18 08:55] MrKich commented on #4933
And something strange - is that urllib3 package (and its version in __init__.py file) shows that its version is 1.19.1, but after looking at github of urllib3 - it seems that it is not 1.19. (or maybe some another branch? Oo)
https://github.com/shazow/urllib3/

[2017-07-18 09:07] maximal commented on #4893
Sorry guys. I’ve just been busy these days.

[2017-07-18 10:40] fmd commented on #4938
@SwartzCr it happens on ubuntu `16.04`, things are fine on `14.04`. haven't tested any others.
@bouchard as I wrote above, you're right, `sudo chown -R root:root ~/.cache` fixes the issue.

[2017-07-18 11:17] marcherren commented on #4716
any news on this issue?

[2017-07-18 11:56] airbone42 commented on #4873
Just let me know if we can help you here in any way.

[2017-07-18 16:47] ynasser commented on #4736
OK, I'm gong to re-open this and here's what's left to be done:

- in a lot of the files that were added in #4899, we have functions that are undocumented or not well documented enough. We need someone to add docstrings, parameter types, return types, errors raised, and etc where possible.

This task is a bit tricky because it requires reading quite a bit of source code, but it's definitely doable

[2017-07-18 17:12] ynasser opened #4946 "Developer guide should mention extra installation instructions for Sphinx on MacOS"
(Taken from https://github.com/certbot/certbot/issues/4917#issuecomment-315536077)

[2017-07-18 17:13] ynasser commented on #4917
Thanks for pointing that out @Baeumla. I've made the following issue to address this: #4946.

[2017-07-18 17:46] bmw commented on #4933
The version of requests we have packaged in [the PPA](https://launchpad.net/~certbot/+archive/ubuntu/certbot/) is 2.12.4 (not 1.2.3). The version of urllib3 is 1.19.1. Can you try updating your requests package using our PPA and see if you still have the problem?

[2017-07-18 18:26] SwartzCr commented on #4736
Awesome! @jonasbn feel free to ping me if you need help understanding any of the code!

[2017-07-18 18:31] SwartzCr commented on #4893
No worries @maximal! Glad you're giving us good feedback!

[2017-07-18 18:42] SwartzCr commented on #4937
hmm I can't reproduce the problem with nginx installed
Can you give me the output of these commands?
`which nginx`
`yum info nginx`

[2017-07-18 22:23] bmw commented on #4938
@erikrose, I think this is a bug in `pipstrap`. The underlying bug is probably in `pip` or `setuptools`, but now that buggy versions of those packages have been released, we have to live with it. I was able to repro on other systems by doing the following:
[code]

Until this is fixed, the solution is either to run `certbot-auto` without `sudo` (it'll use `sudo` internally when it's actually necess

[2017-07-18 22:50] #4611 closed

[2017-07-18 22:57] #4918 closed

[2017-07-18 23:13] ohemorange commented on #4930
What's happening here is that [Nginx uses PCRE as its regex engine](http://nginx.org/en/docs/http/server_names.html#regex_names), while Certbot uses Python `re` to check if something is a regex and match against it.

PCRE supports named capture using both Python and Perl 5.10 syntax. This example uses Perl syntax.

To solve this problem in the short term, you can switch to using Python named captu

[2017-07-18 23:40] ohemorange commented on #4919
Copied from https://github.com/certbot/certbot/pull/4833#issuecomment-316228804:

I think the best thing to do here is to leave the regex as is and do the existing check if we find matches. But if we don't find a version string matching the official version format, we should print a warning saying that we don't officially support forks of Nginx, and continue. This is different from what we do now

[2017-07-19 01:08] phoenixgao commented on #4919
@ohemorange Yeah for me both way works (fix or warning message instead of error)
but on the other hand, since some of the forks like tenginex and openresty are widely used, if certbot could support them, it will help more websites move to https, what do you think?

[2017-07-19 01:17] ohemorange commented on #4919
We will "support" them by not automatically breaking when we encounter them. Guaranteeing that we'll handle all bugs that are caused by using them instead of the standard version is a much larger burden.

[2017-07-19 01:28] ohemorange commented on #4753
Some notes:

- `ssl_dhparam` takes a file as a parameter
- The location of this file is either distribution-dependent or flag-dependent, and either way we can't know it until runtime.
- The directive, and the therefore the location of the file, should ideally go into `options-ssl-nginx.conf`.
- Ergo, the contents of `options-ssl-nginx.conf` are only knowable at runtime.
- We therefore cannot, pre-

[2017-07-19 01:28] ohemorange commented on #4753
I will think about this more. In the meantime, @bmw, any strong opinions?

[2017-07-19 01:29] allenwtl commented on #4937
![image](https://user-images.githubusercontent.com/3185867/28346607-a4f22390-6c64-11e7-82a7-1d64e8bdd07f.png)

![image](https://user-images.githubusercontent.com/3185867/28346615-b4046406-6c64-11e7-84b3-335a89fec4e7.png)

[2017-07-19 01:41] adnanmayo commented on #4938
@fmd `sudo chown -R root:root ~/.cache` worked for me. Thanks

[2017-07-19 08:19] joohoi commented on #4892
If Certbot behaves differently when running with the exact same CLI parameters between cron and manually, it's most likely related to environment variables in some way. Most of the env vars that are present in interactive session do not exist in cron job per default. This is something that I'd check probably.

[2017-07-19 08:20] bytespider commented on #4930
I have no problem changing my syntax. Thank you for your response.

[2017-07-19 15:17] erikrose commented on #4886
It's that `requests` does `from .packages.urllib3.contrib import pyopenssl` and urllib3's pyopenssl module does merely `import six` rather than the proper, vendored version. Thus, it's at the mercy of whatever version of six you have floating around in your Python environment, if any. It's still that way in the latest `requests` and `urllib3`. I'll file a bug.

certbot-auto installs should not be

[2017-07-19 15:38] erikrose commented on #4886
Submitted [a patch](https://github.com/shazow/urllib3/pull/1231).

[2017-07-19 16:09] erikrose commented on #4934
Certainly no one should be depending on (or packaging) a version of acme ending in ".dev". I pulled down the source for https://packages.debian.org/jessie-backports/python-certbot, but I don't see any references to anything .dev0 in it.

[2017-07-19 17:19] bmw commented on #4753
I think the points from the meeting are important. If this change will break compatibility with Java clients that we previously configured Nginx to work with, we should think carefully about what we should do here. Also, I think unless we have a very good reason to do so, we should use one of the predefined groups rather than creating our own.

Can you elaborate a little more on this? If `ssl_dhpa

[2017-07-19 18:25] erikrose commented on #4886
Now we wait for a new urllib3 release (1.22) and a new requests release that depends on it (>2.18.1), then we revise all our OS packages to depend on the new requests (which we may have to package).

[2017-07-19 19:00] SwartzCr commented on #4937
Ah well if which can't find nginx then I bet certbot can't either. Can you figure out where it's installed to, and maybe move it to a proper place, or add it's path to your env_vars?

[2017-07-19 19:06] erikrose commented on #4886
@bmw actually had a look at the .dsc file for the python-certbot package in Debian 9 (kudos) and found that it actually depends on python-six itself. So, @klevstul, you have something deeper and weirder going on.

[2017-07-19 19:33] ohemorange commented on #4753
Yup, this is what https://github.com/certbot/certbot/issues/4753#issuecomment-315477556 means.

Because we don't know beforehand (that is, before we ship Certbot) the absolute path of where the file will be. `/etc/letsencrypt` might be a different directory.

[2017-07-19 20:29] void-elf opened #4947 "Developer Guide should include instructions on writing/running tests for certbot-auto"
They should go at the bottom of this section: https://certbot.eff.org/docs/contributing.html#updating-certbot-auto-and-letsencrypt-auto

[2017-07-19 21:05] ohemorange commented on #4753
On the Java problem:

- https://github.com/mozilla/server-side-tls/issues/107

[2017-07-19 22:14] SwartzCr commented on #4890
@alain12345 any luck?

[2017-07-19 22:32] r5d commented on #4932
Does this look like the right way to do it?

[code]

[2017-07-19 22:36] jsha commented on #4932
I think so, roughly! Some line wrapping issues but looks generally reasonable.

[2017-07-19 22:37] SwartzCr commented on #4866
fixed in #4941

[2017-07-19 22:37] #4866 closed

[2017-07-19 22:51] SwartzCr commented on #4520
So here's what I've found:
It seems like we're packaged for Mageia - http://check.mageia.org/cauldron/updates.html
It's possible that this netbsd package works for manjaro - http://cdn.netbsd.org/pub/pkgsrc/current/pkgsrc/README-all.html
It's possible that the arch package of certbot works for Joyent Smart OS
Doubt there's anything for Amazon Linux (they never responded to me)

[2017-07-19 22:58] scottilee commented on #4946
I verified this issue occurs on both a Mac running Sierra and an Ubuntu 14.04 VM. I have a pull request here: https://github.com/certbot/certbot/pull/4949.

[2017-07-19 23:23] chefscott commented on #3162
Could you provide a little bit more guidance like which files to edit? Is it just `certbot/cli.py`?

[2017-07-19 23:41] bmw commented on #4753
Ah OK. We probably want the file referenced by `ssl_dhparam` to be in our config directory so we can update it later as necessary. We can put the `ssl_dhparam` directive itself either directly in the user's config or have a file whose hash we don't worry about in Certbot's config directory containing that value. Another potential option to look into is to use indirection and store the path to the

[2017-07-19 23:56] jsoref commented on #4892
Yeah, `HOME` isn't present in cron, which means that I have `/.local` and `/root/.local` which is pretty annoying.

[2017-07-19 23:57] schoen commented on #4753
The Mozilla wiki page you linked to reflects my current understanding, which is probably partly derived from that page and partly from talking with DKG. It seems like we have to make a policy choice about Java 6 compatibility (including the possibility of enabling non-PFS RSA ciphersuites that are compatible with Java 6... which might not be quite as awful if I can move forward with the idea of er

[2017-07-20 00:00] chefscott commented on #4319
What should happen if the file exists? Throw an error?

[2017-07-20 00:04] chefscott commented on #2769
Updates on how to go about this? I'd like to contribute but not sure how to get started.

[2017-07-20 00:33] ohemorange commented on #4753
https://plumbr.eu/blog/java/java-version-and-vendor-data-analyzed-2017-edition
4.82% of Java is Java 6 as of May 3. "Number of Java 6 deployments keeps shrinking 2x each year for the fifth year in a row" Looks like these numbers are specifically for client-side JVMs.

[2017-07-20 01:19] ohemorange commented on #4753
Doesn't look like they ever added support for 3072.

The RFC recommends 3072, but doesn't disrecommend 2048. So we could use 2048 and at least allow Java clients that are getting the SE updates.

[2017-07-20 02:19] ohemorange commented on #4753
So far it's not looking good for "can we conscionably automatically cause people's Nginx servers to stop accepting Java clients".

[2017-07-20 02:24] ohemorange commented on #4832
This case is the one and only time it's called with `replace=True`.

[2017-07-20 07:05] alain12345 commented on #4890
Hi @SwartzCr !
First I thank you for your post.
I have succeed in resolving my problem few days after my post.

You are right, it was exactly the problem I met:
My  apache config file still had a reference to some deleted directories.
So I have rebuilded my folders tree and then updated my apache config.
Now it's fine my ssl certificate works fine on my two domains !

Thx again for your time !

[2017-07-20 07:05] #4890 closed

[2017-07-20 11:59] RyKfPjbILLU8T0nj commented on #4099
Just to help those, who pass by on this thread, because they also have a badNonce error:

there is another possible reason for badNonce errors, that is quite probable, if your dialog, eg. with letsencrypt-nosudo, takes unusually long {more than max. a few seconds for each step}:
https://forums.cpanel.net/threads/lets-encrypt-autossl-error-jws-has-invalid-anti-replay-nonce.594891/
.

[2017-07-20 12:02] RyKfPjbILLU8T0nj commented on #4099
If you are on a IPv4-based machine and don't need IPv6,
ifconfig ipv6 down
may be a solution.

[2017-07-20 17:05] creepersbane commented on #4934
@SwartzCr I have the latest version available from backports installed

[2017-07-20 17:34] ynasser commented on #4946
Thanks @scottilee! One of us will take a look soon.

[2017-07-20 17:48] bmw commented on #3162
You'd at least have to modify [certbot.main.register](https://github.com/certbot/certbot/blob/bb6a22b9853cfab2a06cb020ddf57dd5a6ae8eba/certbot/main.py#L455) and potentially the code called there so updating a registration without an email address works.

[2017-07-20 17:49] bmw commented on #2769
This is bit of a research question. When someone tries to `pip install` one of our packages but doesn't have the necessary dependencies installed, can we give them a reasonable error message?

[2017-07-20 17:50] bmw commented on #2769
@chefscott, thanks for your interest in contributing. If you see a "Good Volunteer Task" issue that sounds interesting to you, I'd encourage you to try it and I'll happily answer any questions you have. I can also help you find an issue if nothing stands out. Feel free to join us in #letsencrypt-dev on Freenode where most of the Let's Encrypt and Certbot developers hang out.

[2017-07-20 18:00] bmw commented on #4946
See https://github.com/certbot/certbot/pull/4949#issuecomment-316783263.

[2017-07-20 18:03] SwartzCr commented on #4934
interesting, what file is this in?

[2017-07-20 19:00] SwartzCr commented on #4873
We're actually tracking this in #4767
I'm going to close this ticket in favor of that one - but you should for sure watch and comment on that issue!

[2017-07-20 19:00] #4873 closed

[2017-07-20 19:02] SwartzCr commented on #4873
additionally you can put pressure on the CentOS packaging team to package it, like was done in Arch

[2017-07-20 20:29] creepersbane commented on #4934
@SwartzCr It's in /usr/local/bin/certbot (when installing from jessie backports)

[2017-07-20 20:31] hlieberman commented on #4934
No official Debian package installs into /usr/local

On Thu, Jul 20, 2017 at 16:30 creepersbane <notifications@github.com> wrote:

--
Harlan Lieberman-Berg
~hlieberman

[2017-07-20 20:32] creepersbane commented on #4934
@hlieberman It's not an official Debian package :)

I can copy and paste the file here if that helps

[2017-07-20 20:33] SwartzCr commented on #4501
can this be closed in favor of #4520?

[2017-07-20 20:35] SwartzCr commented on #4016
This should likely be closed once #4948 gets merged

[2017-07-20 21:21] ohemorange commented on #4501
Yeah I think so

[2017-07-20 21:21] #4501 closed

[2017-07-20 21:28] bmw commented on #4407
I believe this was fixed in configargparse 0.12.0. We should update the pinned version of configargparse in letsencrypt-auto so users benefit.

[2017-07-21 06:35] klevstul commented on #4886
strange, @erikrose. seems like @kiarn and i had the same problems. my system has the same versions [as kiarn's](https://github.com/certbot/certbot/issues/4886#issuecomment-315458921).

[2017-07-21 14:40] mtrebron opened #4951 "Certbot issues verification string / file name starting with underscore character - causes BadRequest error in Zope application server"
## My operating system is (include version):
Ubuntu something LTS

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
from git

## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:

A widely used web application server / content management framework: Zope / Plone barfs when asked to create a file which starts

[2017-07-21 17:59] alex commented on #2692
We now provide pre-compiled wheels for Linux, so by using a recent pip release, users of small VPS and other RAM constrained (but still x86) environments shouldn't experience this problem anymore.

[2017-07-21 18:35] bmw opened #4952 "Bump cryptography version to 2.0+"
Let's take advantage of the prebuilt wheels!

[2017-07-21 20:03] pit commented on #3228
Same error here, but I'm running certbot from inside AWS Lambda function.
All pip dependencies are installed via 'pip install' includeing zope.component
But when running lambda function I have error:

No module named zope.component

[2017-07-21 20:13] ohemorange opened #4953 "Stop failing early when the Nginx config is broken"
Then after rollback, restart to get the better error message if possible.

[2017-07-21 20:13] ohemorange commented on #4953
Related: https://github.com/certbot/certbot/issues/4832

[2017-07-21 21:16] rickyhan commented on #3503
same issue here

[2017-07-22 02:09] charlesmilette opened #4954 "What are the IPs used by the server to verifiy my domain?"
I am whitelisting access to my domain via IPTables, so i would like to know which ips i should whitelist to be able to have certbot verify my domain.

[2017-07-22 05:45] Gwyll commented on #3228
In my case a simple pip uninstall zope.component, then a pip install zope.component==4.3.0 solved the problem.

[2017-07-23 15:18] Baeumla commented on #4917
Okay. @ynasser do you actually know why there is a second testdata directory `certbot/acme/acme/testdata`? This one has a README on how the certificates and keys got created. Wouldn't it be better if there would be only one testdata-directory, or is it better to separate the acme from the certbot testdata?

I checked some of the keys and certs in borth testdata directories and for example the `rsa

[2017-07-23 23:29] UWXAdmin commented on #3263
Confirmed with my Virtual Hosts as well. Pre-configuring SSL Virtual hosts with the snakeoil certificate and key, the certbot -apache installs perfectly. This also eliminated the other various "errors" that may be found and are discussed as well, such as:

"urn:acme:error:malformed :: The request message was malformed :: Server only speaks HTTP, not TLS"

"tls-sni-01 challenge: server only speaks

[2017-07-24 08:41] cj-dev commented on #4071
I'm new here, so excuse me if I'm way off. As I understand the mock objects used for the display...

`tests.util.patch_get_utility` mocks the `getUtility` function by patching it with a call to `tests.util._create_get_utility_mock` which returns a `tests.util.FreezableMock`. The FreezableMock object itself doesn't have any assertions (its `_func` is None) but its attributes inherited from `interfa

[2017-07-24 18:24] ynasser commented on #4917
Yes, we've intentionally kept references to certbot out of acme because the protocol-specific code shouldn't rely on the client-specific code.

There will end up being duplicates between `acme/acme/testdata` and `certbot/certbot/tests/testdata`, but that is OK. Including a README in both would be a good idea.

[2017-07-24 18:45] #4016 closed

[2017-07-24 19:01] SwartzCr commented on #4954
For info on what IPs Let's Encrypt uses for validation you should read this thread on the Let's Encrypt community forums: https://community.letsencrypt.org/t/ip-addresses-le-is-validating-from-to-build-firewall-rule/5410/24
If you have more questions about this issue, you should probably ask there.
I'm going to close this issue, but if you have more questions feel free to open new issues, or ask o

[2017-07-24 19:01] #4954 closed

[2017-07-24 20:33] bmw commented on #4071
You're on the right track. Here's [the code](https://github.com/cowlicks/letsencrypt/blob/95c8ca98c0648a66f1e9c7984c68d7c8fdd31e58/certbot/tests/main_test.py#L1186) that prompted this issue. After switching to `tests.util.patch_get_utility`, that code still has to be modified. While using `return_value` in this way is totally valid, it inadvertently  prevents the assertions from running that preve

[2017-07-24 21:13] generalavc opened #4955 "."
## My operating system is (include version):

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

## I ran this command and it produced this output:

## Certbot's behavior differed from what I expected because:

## Here is a Certbot log showing the issue (if available):
###### Logs are stored in `/var/log/letsencrypt` by default. Feel free to redact domains, e-mail and IP ad

[2017-07-25 00:31] cj-dev commented on #4071
Oh! That helps a ton. I'll get back to you soon.

[2017-07-25 12:30] r5d commented on #4932
@jsha, submitted PR  (#4957)  for review.

[2017-07-25 12:36] GhostLyrics opened #4958 "Decoding issue in python-pkg-resources shipped via Ubuntu PPA"
## My operating system is (include version):
Ubuntu 14.04.5 LTS

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Ubuntu PPA (`add-apt-repository …`)

## I ran this command and it produced this output:
the supplied cronjob

`/usr/lib/python2.7/dist-packages/pkg_resources/__init__.py:1869: UserWarning: /usr/lib/pymodules/python2.7/rpl-1.5.5.egg-info could not be properly de

[2017-07-25 16:08] creepersbane commented on #4934
My version is 0.10.2-1~bpo8+1

[2017-07-25 16:40] jsoref opened #4959 "Certbot should provide information about how to rerun to debug"
## My operating system is (include version):
Debian Stetch 9.0

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
[code]
[code]
## Certbot's behavior differed from what I expected because:

It doesn't tell me what command I should run in order to debug / what command failed.

This is mentioned in #4727. It doe

[2017-07-25 17:57] bmw commented on #4951
Unfortunately, I don't think this is something that Certbot is able to fix. The need to provision a file with an underscore was mandated by the server which is following the [ACME protocol](https://github.com/ietf-wg-acme/acme) which is being standardized by the IETF. Certbot is an ACME client. If you would like to forbid ACME from requesting a file with a leading underscore, I recommend you send

[2017-07-25 17:57] #4951 closed

[2017-07-25 17:59] bmw commented on #2692
The Certbot team is very excited about the 2.0 release and I agree that should resolve this problem. I'm closing this in favor of #4952 which when resolved should fix this problem.

[2017-07-25 17:59] #2692 closed

[2017-07-25 18:01] bmw commented on #4955
Closing as the issue is empty.

[2017-07-25 18:01] #4955 closed

[2017-07-25 18:07] bmw commented on #3614
I'm reopening this issue as we're getting duplicates (see #4912). I added more information to the original post for people who stumble across this issue.

[2017-07-25 18:09] bmw commented on #4912
What @edupes describes is a duplicate of #3614 so I'm closing in favor of that issue.

[2017-07-25 18:09] #4912 closed

[2017-07-25 18:27] bmw commented on #4958
I can reproduce the problem by only installing `python-pkg-resources` from the PPA, installing `rpl` and running `python -c 'import pkg_resources'`. My guess the problem is a new version of `pkg-resources` with an older version of `rpl`.

@erikrose, do you have any thoughts here? If not, I can dig into it further.

[2017-07-25 18:38] bmw commented on #4934
As suggested by the `EASY-INSTALL-ENTRY-SCRIPT` line, I think this file was created by running the `easy_install` command on the files in our `git` repo, not by `apt-get` installing Certbot as we've never released a 0.17.0.dev0 version of Certbot (and Debian certainly never packaged it). Unfortunately, doing this can often break things on your system. While `easy_install` is not explicitly listed,

[2017-07-25 18:53] mtrebron commented on #4951
Thanks for the reply. Have crossposted to the Zope/Plone community, maybe someone there wishes to follow up at IETF level.

[2017-07-25 20:02] ppKrauss opened #4961 "Fast-guide of use-cases as started"
See [example here](https://github.com/ppKrauss/certbot-faq) and original discussion: https://community.letsencrypt.org/t/certbot-fast-guide/29969

... Let's do something?

[2017-07-25 20:57] ohemorange commented on #4753
Update: since we already follow "intermediate" compatibility, we can probably also just go ahead and do this.

Additionally, we should probably stick the directive inline, but place the dhparams file under the same hash-based version control as the ssl options file.

[2017-07-25 23:33] gyroninja commented on #4940
Certs in /etc/letsencrypt/live/domain were symlinked to their respective file names in /etc/letsencrypt/archive_dir/notthedomainname
If you take a look at /etc/letsencrypt/renewl/domain.conf the archive_dir is set to /etc/letsencrypt/archive/domain and the certs are set to the symlink in /etc/letsencrypt/live/domain.
This mismatch between the correct archive_dir found in the config and the archive

[2017-07-26 00:26] jsha commented on #3614
As a reminder, Nginx and Apache don't actually support configuration using U-labels. Since we require that the domains specified on the command line be present in the configuration files (for Nginx and Apache plugins), an administrator already has to have encoded their domain name to Punycode at least once in order to configure their web server.

Interestingly, Nginx will blindly accept non-ASCII

[2017-07-26 07:44] cj-dev commented on #4071
Opened two PRs with candidate solutions (neither should be merged in their current states). I wanted to get a sense for how important preventing the `zope.component.getUtility.return_value = 42` case is. Because the patched callable is of type `mock.MagicMock`, I haven't found a way to prevent its `return_value` from being overwritten without using a subclass of MagicMock. Example for why that's n

[2017-07-26 10:42] cj-dev commented on #4071
Restored some confidence with the most recent commit to #4963 . Will definitely take another look with fresh eyes later today.

[2017-07-26 11:02] ppKrauss opened #4964 "UBUNTU apt not upgraded certbot"
## My operating system is: UBUNTU 16 LTS (xenial)
`certbot --version` = 0.14.2

## I installed Certbot with:
Standard apt install instructions.

## I ran this command and it produced this output:
... after `apt update` and general upgrade... used `sudo apt-get install python-certbot-nginx`

[code]

## Certbot's behavior differed from what I expected because:
Need version 0.16! not 0.14.

## Here i

[2017-07-26 11:09] ppKrauss commented on #4964
After `apt purge` and repeating https://certbot.eff.org/#ubuntuxenial-nginx   same result

[2017-07-26 11:15] ppKrauss commented on #4964
PS: now nothing is working!!! Befor I was using with sucess, need only new version... The purge/reinstall **DESTROY ALL**, how to back my service!

[code]

[2017-07-26 16:19] erikrose commented on #4938
@bmw I'm having trouble reproducing it reliably. I got it the first time, but now it just works quietly:

    [10:42:20]% virtualenv --no-site-packages --setuptools venv2
    New python executable in /Users/erose/Desktop/venv2/bin/python2.7
    Also creating executable in /Users/erose/Desktop/venv2/bin/python
    Installing setuptools, pip, wheel...done.% ./venv2/bin/pip install pip==9.0.1
    ./v

[2017-07-26 16:22] erikrose commented on #4886
The new `requests` (2.18.2) is out, FWIW. If we have any OS packages that do *not* happen to pull in `six`, we should update them.

[2017-07-26 17:08] Baeumla commented on #4917
@ynasser Okay, thank you for this information. I'm working on this for a week now and I realized that it's a little bit more of a mess than I initially thought. There are files in this folder which are never used, e.g. `cert.b64jose` or `dsa_cert.pem`. However, I will try to finish up my work over the weekend and create the PR for this.

[2017-07-26 17:23] slava-viktorov opened #4965 "UnicodeEncodeError: 'ascii' codec can't encode characters in position 226-229: ordinal not in range(128)"
## My operating system is (include version):
debian 8

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS package manager

## I ran this command and it produced this output:
`sudo certbot certonly --webroot -w /home/fgbhnd/www/cert -d cbrmonitor.ru -d www.cbrmonitor.ru`
[code]

## Certbot's behavior differed from what I expected because:

## Here is a Certbot log showing

[2017-07-26 18:10] Baeumla commented on #4759
I got some time today to take a deeper look into this but I can't make out the functions which set the error type for the failed challenges.

Is it possible that this happens somewhere in `acme/client.py` s function `request_challenges` ? Unfortunately this function uses `_authzr_from_response` which is not documented, so its kind of hard to see what it does.

I'm sorry that I wasn't able to creat

[2017-07-26 18:54] SwartzCr commented on #4940
huh - that is strange. Do you happen to still have the log file from when those certificates were first generated? I'd be curious to see if there was a reason they were incorrectly symlinked in the first place. @bmw any idea why something like this might happen?

[2017-07-26 19:01] SwartzCr commented on #4934
@creepersbane can you try deleting certbot and re-installing it via apt?
@bmw let's keep this ticket open until that documentation PR lands

[2017-07-26 19:08] bmw commented on #4886
I mentioned this to Erik out of band, but we depend on `six` in Certbot's [setup.py](https://github.com/certbot/certbot/blob/d7f9859c3f69f76e27514c a59cf708929977631b/setup.py#L53) and we've done this since our [first non-dev release](https://github.com/certbot/certbot/blob/v0.1.0/setup.py#L46). With this in mind, all of our OS packages should be OK (and I'm not sure personally how this bug happen

[2017-07-26 19:11] bmw commented on #3602
Fixed in #4907.

[2017-07-26 19:11] #3602 closed

[2017-07-26 19:15] SwartzCr commented on #4759
The text looks like the `_ERROR_HELP_COMMON` text https://github.com/certbot/certbot/blob/498f8ad75ca6d677bd8898453300e1e6c60a731c/certbot/auth_handler.py#L445
Which gets raised from `_generate_failed_chall_msg`:
https://github.com/certbot/certbot/blob/498f8ad75ca6d677bd8898453300e1e6c60a731c/certbot/auth_handler.py#L495
both in auth_handler.py
I think the whole stack starts in `get_authorizations

[2017-07-26 19:16] bmw commented on #4940
@gyroninja, have you manually done any modifications to the `/etc/letsencrypt` directory? While we should probably have more validity checks in our code, Certbot often behaves incorrectly if `/etc/letsencrypt` is put in an invalid state.

Also, it'd be useful to see all of the logs in `/var/log/letsencrypt`. That way we can track when the cert was created to when the symlinks were created incorrec

[2017-07-26 19:29] SwartzCr commented on #4961
Interesting!
I like this idea - sort of like a getting started guide.
I think we could write something like this, between me and @pconrad-fb and you it shouldn't be hard.
I think what would be most useful is a list of use cases that you'd like to see covered. Want to just write up a list of things you want to see covered and I can help with writing the guide itself?

[2017-07-26 19:34] #4965 closed

[2017-07-26 19:37] SwartzCr commented on #4964
Hi @ppKrauss - I think I understand what happened
First off, the version of certbot that is packaged by Ubuntu is 0.14.2, I'd recommend keeping an eye on the Ubuntu PPA for version to see when it changes: https://launchpad.net/~certbot/+archive/ubuntu/certbot
At some point Certbot will become officially packaged in Ubuntu and might be version 0.16.0 or higher, maybe @bmw knows when that's likely t

[2017-07-26 19:39] bmw commented on #4964
Updates to the Certbot packages in Ubuntu should happen in the next couple weeks, however, the currently proposed update will only be to version 0.14.1.

[2017-07-26 20:13] erikrose commented on #4958
Nothing comes to mind.

[2017-07-26 20:19] ppKrauss commented on #4961
Hi @SwartzCr , thanks. Yes, let's use your knowledge to draft and discuss here a list of important use-cases... With time I will building, translating in guide topics... When  the guide grow with ~10 topics we think about definitive place and design.

PS: some use cases will be for "started guide" public, but all others (can grow) to show best practices, frequent uses/questions,  and to illustrate

[2017-07-26 20:57] #4832 closed

[2017-07-26 21:29] ynasser commented on #4917
@Baeumla No worries, take your time! And sorry for how much of a mess it is :(

[2017-07-26 22:05] pconrad-fb commented on #4961
This will be a cool project and I think will help untangle some of the confusion about how to do certain things.

[2017-07-26 22:22] bmw commented on #4938
I agree that the error message is correct, but we shouldn't get a traceback.

I can reproduce fairly reliably. A few interesting things to note:

1. Using `--no-cache-dir` suppresses the warning, but we still get the traceback.
2. The problem occurs when installing the `setuptools` package.
3. Testing on both Ubuntu and Fedora, I get failures the first time, but if I try to run `pipstrap` again, t

[2017-07-26 22:47] bmw commented on #4958
Testing this in a virtual environment, installing the contents of the `rpl` package of Ubuntu, I get errors going all the way back to `setuptools==3.1` which is the version used in Trusty. Figuring out how to quiet this error message will take some digging into `setuptools` and `rpl`.

[2017-07-27 01:06] bobstrecansky opened #4966 "Fedora 26 doesn't have development tools handy"
(I'll be happy to fix this if someone else isn't working on it):

## My operating system is (include version):
Fedora 26

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
n/a

## I ran this command and it produced this output:
➜  certbot git:(master) sudo ./certbot-auto --os-packages-only                                                                                 1  

[2017-07-27 08:31] GnaXi opened #4967 "Apache plugin not working on Debian Stretch"
## My operating system is (include version):
Debian Stretch

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS package manager

## I ran this command and it produced this output:
sudo certbot -apache -d domain.tld

## Certbot's behavior differed from what I expected because:
The Apache plugin doesn't seem to work.

## Here is a Certbot log showing the issue (if available

[2017-07-27 08:50] poizenlab opened #4968 "certbot-auto permission denied"
## Cannot execute ./certbot-auto

![issue](https://user-images.githubusercontent.com/6507233/28662059-6ccfa67c-72d6-11e7-86ed-d3b473e526c3.png)

[2017-07-27 09:37] gyroninja commented on #4940
@bmw I manually renamed a directory, it wasn't certbot's fault. (This was due to me doing something and essentially now having like a domain-01 folder. I ended up renaming it back to domain which caused this problem).
While it was my bad for making this error, it would be best if certbot wasn't in a state where it would always **silently** fail requesting 2 new certificates for the domain every da

[2017-07-27 16:54] jaddison commented on #4885
Sounds good - I was just implementing a client based on code inspection and came up against API errors because I made some assumptions. If there's a chance that phone support will be added in properly, then this is a non-issue.

[2017-07-27 16:54] #4885 closed

[2017-07-27 17:10] ehampshire commented on #2148
Would love to get this parametized.  I found where to update the client.py file to up the timeout.  I'm writing my own ACME proxy server and our backend SSL issuance takes ~1.5 minutes, so twice as long as the default timeout value.

Here's the value to change in CertBot's client.py (it's at the top):
DEFAULT_NETWORK_TIMEOUT = 45

[2017-07-27 17:10] bmw commented on #4938
Actually, it looks like Ubuntu 16.04 updated their `virtualenv` package, `setuptools 36.2.4` is installed in the virtual environment, and `certbot-auto` now works without issue.

I'm closing this issue for now, but if anyone can reproduce on an up to date Ubuntu 16.04 system (or any other up to date system for that matter), please comment and I'll reopen.

[2017-07-27 17:10] #4938 closed

[2017-07-27 17:26] jsha commented on #2148
This will get a lot better with ACMEv2, which has asynchronous issuance. One hack you could do in the meantime is for new-cert to 301 every few seconds to a new URL until the issuance is actually done.

I'm reluctant to add another flag to the Certbot command line without a very strong reason, and since this issue will go away eventually I would recommend against adding the flag.

[2017-07-27 17:29] ehampshire commented on #2148
Ah, thank you!  I will investigate the 301 approach... since LE issues pretty much immediately I couldn't figure out what needed to be done to tell the client to keep polling like it does on the challenges.

[2017-07-27 17:44] jsha commented on #2148
To clarify: For challenges, the client explicitly re-requests until the status changes from "pending." The server doesn't do any 301's there. The 301 approach would be a hack that I *think* would work to convince the client to incidentally poll. One note: There may be a max redirect limit, so you might want to redirect every 30 seconds to maximize that limit.

[2017-07-27 19:22] bmw commented on #4966
I came across this recently when trying to test one of my PRs. The problem is the packages we want have the prefix `python2` which is a new change in Red Hat based systems starting with Fedora 26.

This also affects `certbot-auto` users on this system although there aren't (m)any because we have native packages available.

Working on this would be valuable. The file to modify is `letsencrypt-auto-

[2017-07-27 19:24] bmw commented on #4967
I think the problem is you wrote `-apache` rather than `--apache` (with two hyphens). Please try again with this change and see if you still have the problem.

[2017-07-27 19:26] bmw commented on #4940
Yes, I completely agree we should handle cases like this better. Do you remember exactly what modification(s) you made so we can reproduce the problem and check for it in the future? Did you just change the name of the directory in `/etc/letsencrypt/archive`?

[2017-07-27 19:46] GnaXi commented on #4967
That was the issue indeed!

[2017-07-27 19:46] #4967 closed

[2017-07-27 20:09] gyroninja commented on #4940
That was probably it. As I said in my OP the archive dir in the configuration and the archive dir used by the symlinks did not match. Detecting the mismatch would probably be enough.

[2017-07-27 21:46] bmw commented on #4968
Interesting. Sorry for the trouble.

What OS are you on? What's the output of `grep -m1 LE_AUTO_VERSION certbot-auto`? Does `su root -c 'apt-get update'` work when using the same user account as you were when you got this error?

[2017-07-28 00:40] ohemorange commented on #4319
@chefscott The behavior should be the same, but with atomicity. So if the code block previously raised an error, it should be rewritten to continue to raise that error. There's further explanation at #4730 if you're looking to take this on.

[2017-07-28 13:23] creepersbane commented on #4934
@SwartzCr I will try as soon as I have access to my server again.

[2017-07-28 14:14] trialuser commented on #1204
My "solution" - there was a package python27-virtualenv installed, I've just only created the link for virtualenv:
[code]

[2017-07-28 15:52] erikrose commented on #4958
One idea: what if rpl registers a setuptools entry point that has non-UTF-8-happy bytes in it? Certbot makes use of entry points, so the iteration over all the registered ones (embodied as files in the egg-info folders) could trigger the error.

[2017-07-28 15:54] GhostLyrics commented on #4958
If it is any help, I have the same symptoms with a second package, `python-elasticsearch-curator` from here: `http://packages.elasticsearch.org/curator/3/debian/ stable/main amd64 Packages`, version `3.5.1`.

[2017-07-28 16:01] erikrose commented on #4938
Yes, I'd take a PR to do 2 pip invocations, gladly.

[2017-07-28 16:44] bmw commented on #4938
Great. It's probably not a high priority at this point as I'm unaware of any distros that ship with a version of `pip` in `virtualenv` that have this problem, but I'll submit a PR once erikrose/pipstrap#11 lands to avoid merge conflicts.

[2017-07-28 16:55] #4952 closed

[2017-07-28 21:01] zjs commented on #4671
Planning to work on this August 16-17. If there are any additional requirements to keep in mind, let me know.

[2017-07-29 15:15] lsycxyj commented on #4901
So any solutions?

[2017-07-29 19:29] Baeumla commented on #4759
Thank you foru your response, but what I actually wanted to figure out was where the Error in the ChallengeBody is determined. I thought that this happens somewhere in the `acme/client.py` and I thought that the problem might be in there.

[2017-07-29 20:12] bobstrecansky commented on #4966
Cool, I'll get rolling on this in the upcoming week.

[2017-07-30 00:20] creepersbane commented on #4901
@lsycxyj still haven't tried. My server is unavailable until Monday

[2017-07-30 10:10] Baeumla commented on #4917
@ynasser I came across another thing I wasn't really sure about: In the `main_test.py` the `rsa512_key_2.pem` gets loaded as JSON Web Key while in fact it is actually a regular PEM key here: https://github.com/certbot/certbot/blob/master/certbot/tests/main_test.py#L39 .

I converted the `rsa512_key.pem` into a JWK and tried to exchange it with the `rsa512_key_2.pem` in the `main_test.py` but the t

[2017-07-30 10:17] Bizarrus opened #4975 "The `ACME` Server is not reachable"
The `ACME` Server is not reachable on my side:
[code]

## My operating system is (include version):
Debian 9, new installed minimal version with `nginx`.

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
`apt` Packetmanager (`apt-get install certbot`)

## I ran this command and it produced this output:
[code]
For security reasons, im using here `mySite.de` as domain.

## C

[2017-07-30 10:42] arno01 commented on #4514
Just had the same issue, that is because ``pip install -U`` did overwrite the python modules installed from the RPM.

To solve this I did the following:

### issue

[code]

### solution
[code]

### issue
[code]

###  solution
[code]

[2017-07-30 23:31] tehfink commented on #4945
Would this be part of the procedure for importing certificates/accounts from other clients?

[2017-07-31 15:09] creepersbane commented on #4934
user@pc:~ $ sudo apt-get install certbot
Reading package lists... Done
Building dependency tree
Reading state information... Done
Package certbot is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source

E: Package 'certbot' has no installation candidate
user@pc:~ $

[2017-07-31 18:03] jsha commented on #4945
Nope! :-)

[2017-07-31 18:28] mattlqx commented on #4628
I'd really love to see the ability for Certbot to spawn multiple instances of the `--manual-auth-hook`/`--manual-cleanup-hook` scripts so that multiple DNS challenges in the same certificate request (ala SANs) can be processed in parallel. This would speed up individual requests significantly if you're using SANs and are using a DNS provider that has some settling time on each transaction.

[2017-07-31 18:47] bob-zs opened #4976 "Been renewing on Ubuntu since 2016, Now Cannot Renew after tls-sni-01 challenge and "Connection refused""
## My operating system is (include version):
Ubuntu recently upgraded from 14.04 trusty  to 16.04 xenial in digitalocean
With
[code]

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
With certbot command as shown in https://certbot.eff.org/#ubuntuxenial-apache

## I ran this command and it produced this output:
[code]
Output:
[code]

## Certbot's behavior differed from wha

[2017-07-31 18:51] bob-zs commented on #4976
Just for those trying to find the solution:
After a few hours, what ended up finally fixing the issue was turning off the apache server and turning it back on `service apache2 restart`, then rerunning the `certbot --apache` command.

How did having the apache server restart allow the certbot to connect and validate the server?

[2017-07-31 20:08] blacktav opened #4977 "certbot Cannot find a cert or key directive in"
## My operating system is (include version):
OpenSuSE Leap 42.2

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
certbot-auto --apache -d bavaria.domain.net

Saving debug log to /var/log/letsencrypt/letsencrypt.log
Cert not yet due for renewal

You have an existing certificate that has exactly the same domai

[2017-07-31 23:22] georgehank commented on #4124
I didn't figure anything out, it still fails, and it's about how DNS auth for *RENEWAL* actually works.  Because it fails for this cert that has two SANs (jaerhard.com and www.jaerhard.com, a pretty standard form I'd say).  I verified that both auth tokens get added to BIND's zone files (and BIND gets reloaded properly too)... but one SAN fails.  Every.  Time.

Then again, I'm sorta stuck on 0.11.

[2017-08-01 02:07] SwartzCr commented on #4934
@creepersbane you'll probably have to enable backports, see the guide here: https://certbot.eff.org/#debianjessie-apache

[2017-08-01 02:07] SwartzCr commented on #4759
Ah got it, let me know if you make any progress

[2017-08-01 02:27] bmw commented on #4435
To build on this, notice how [some command line arguments](https://github.com/certbot/certbot/blob/a7a8e060e37fad21a9702ac0f143fd39609c8c2d/certbot/cli.py#L846) use [flag_default()](https://github.com/certbot/certbot/blob/a7a8e060e37fad21a9702ac0f143fd39609c8c2d/certbot/cli.py#L270) while [others do not](https://github.com/certbot/certbot/blob/a7a8e060e37fad21a9702ac0f143fd39609c8c2d/certbot/cli.p

[2017-08-01 03:41] ynasser commented on #4917
@Baeumla

I think that with a name like `JWKRSA.load`, you'd expect it to be loading a JWK, but it's name is actually misleading. From the `load` function's [docstring](https://github.com/certbot/certbot/blob/master/acme/acme/jose/jwk.py#L96), the first parameter is a "Public or private key serialized as PEM or DER". So, `load` actually returns a JWK, given a PEM or a DER :)

[2017-08-01 05:42] ky0ncheng commented on #1883
➜  dehydrated git:(master) ✗ python --version
Python 2.7.12

➜  certbot git:(master) ./letsencrypt-auto
Bootstrapping dependencies for Debian-based OSes... (you can skip this with --no-bootstrap)
Hit:1 https://deb.nodesource.com/node_6.x xenial InRelease
Hit:2 http://mirrors.aliyuncs.com/ubuntu xenial InRelease
Hit:3 http://mirrors.aliyuncs.com/ubuntu xenial-security InRelease
Hit:4 http://mirrors

[2017-08-01 17:18] #1081 closed

[2017-08-01 17:19] bmw commented on #1458
This should be fixed in our next release with #4978.

[2017-08-01 17:19] #1458 closed

[2017-08-01 17:19] bmw commented on #1680
This should be fixed in our next release with #4978.

[2017-08-01 17:19] #1680 closed

[2017-08-01 17:19] bmw commented on #2804
This should be fixed in our next release with #4978.

[2017-08-01 17:19] #2804 closed

[2017-08-01 17:19] bmw commented on #2857
This should be fixed in our next release with #4978.

[2017-08-01 17:19] #2857 closed

[2017-08-01 18:34] #4682 closed

[2017-08-01 19:00] bmw opened #4979 "Reducing OS dependencies in certbot-auto"
Now that we're using cryptography wheels, what OS dependencies can we stop installing on which systems? Solving this issue requires looking at the [manylinux1 spec](https://www.python.org/dev/peps/pep-0513/), determining which distros that we officially support in `certbot-auto`/`letsencrypt-auto` include all necessary libraries by default and do not reasonably allow you to remove those libraries.

[2017-08-01 19:38] bmw commented on #4520
Also, we should print this deprecation warning more often rather than just when we bootstrap the system.

[2017-08-01 23:23] C-Duv commented on #3262
One could *echo* stuff using the `--post-hook` and use this output (which is readable to the Docker host) to determine if at least one renewal occurred (and then act accordingly)?

[2017-08-02 15:23] geoconnections opened #4980 "Acme/Jose/JWK Module Import Error"
## My operating system is (include version):
Ubuntu 14.04.5 LTS (GNU/Linux 3.13.0-40-generic x86_64)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
sudo apt-get install python-certbot-apache

## I ran this command and it produced this output:
certbot --help

Traceback (most recent call last):
  File "/usr/bin/certbot", line 11, in <module>
    load_entry_point('certbot=

[2017-08-02 15:56] creepersbane commented on #4934
I tried it. Same result:

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/pkg_resources.py", line 449, in _build_master
    ws.require(__requires__)
  File "/usr/lib/python3/dist-packages/pkg_resources.py", line 745, in require
    needed = self.resolve(parse_requirements(requirements))
  File "/usr/lib/python3/dist-packages/pkg_resources.py", line 644, in resolve
    rai

[2017-08-02 17:57] bmw commented on #4979
It's also worth noting we currently shell out to `openssl` in certbot/ocsp.py.

[2017-08-02 18:14] tdelmas commented on #1915
Any update/progress/ETA on this issue? Shouldn't it be a https://github.com/letsencrypt/boulder issue?

For reference: https://community.letsencrypt.org/t/ssl-for-a-63-character-max-number-of-characters-domain-name-s/36387

[2017-08-02 18:52] bmw commented on #4932
Fixed in #4957.

[2017-08-02 18:52] #4932 closed

[2017-08-03 08:37] vaninv commented on #3103
Hi. And i had the same problem on the CentOS 7 but i've solved it.
I have separated directories with configuration files for different users. (it's because of ISPManager)
It looks like this:
conf/vhosts-default/
conf/vhosts/user1
conf/vhosts/user2
conf/vhosts/user3
etc...

My solution is to create symbolic link to configuration file located in the user's directory, in the 'vhosts-default' director

[2017-08-03 11:28] tbrowder opened #4984 "inconsistent help wording: intermixing "argument, flag, option" may be confusing"
## My operating system is (include version):

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

## I ran this command and it produced this output:

## Certbot's behavior differed from what I expected because:

## Here is a Certbot log showing the issue (if available):
###### Logs are stored in `/var/log/letsencrypt` by default. Feel free to redact domains, e-mail and IP ad

[2017-08-03 12:27] ioquatix opened #4985 "IPv6 & nginx with existing hosts seems to fail."
## My operating system is (include version):

Arch Linux.

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

pacman.

## I ran this command and it produced this output:

certbot --nginx

[code]

## Certbot's behavior differed from what I expected because:

It failed to work.

[code]

The problem is, there is an existing host with `listen [::]:443 ssl http2;` and it appears

[2017-08-03 12:38] ioquatix commented on #4985
The config for www.oriontransfer.co.nz looks like:

[code]

I believe the problem is with this code here: https://github.com/certbot/certbot/blob/314f4bbe225850a06b48a94f854c1c49159e5316/certbot-nginx/certbot_nginx/tls_sni_01.py#L50-L66

Perhaps it's not adding an IPv6 listen directive.

[2017-08-03 12:44] ioquatix commented on #4985
I printed out `vhost.addrs` and it was `{Addr(80), Addr(443 ssl), Addr([::]:80)}`. I feel like this should also include IPv6 on port 443.

[2017-08-03 13:07] ioquatix commented on #4985
After reviewing the logic of the code, I determined adding `listen [::]:443 ssl http2;` to the server block would ensure that the correct listen directive was generated.

It did work, sort of:

[code]

The output was:

[code]

[2017-08-03 13:08] ioquatix commented on #4985
I think that the solution for this problem is to check if there are any IPv6 addresses, and if they are, the default address should also be IPv6.

[2017-08-03 14:01] smarek commented on #3295
Hey @SwartzCr let me continue on this.
With recent update of Certbot (debian certbot package), it starts to fail with this kind of error:

[code]

I had to purge .local/share/letsencrypt and run ./letsencrypt-auto renew again to get this up and running. Same error was triggered by `certbot-auto renew` command.

I haven't found a correct way to fix this with paxctl applied on python2.7 / python3.5

[2017-08-03 14:55] OlafvdSpek opened #4986 "Explain authentication requirements"
Debian 9

ii  certbot                                0.10.2-1                       all          automatically configure HTTPS using Let's Encrypt
ii  python-certbot                         0.10.2-1                       all          main library for certbot

## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:

It's unclear what b

[2017-08-03 17:15] creepersbane commented on #4934
I have solved the problem @SwartzCr

A failed install from the github repo left the file "/usr/local/bin/certbot" in my $PATH. When I deleted the file, everything ran smoothly (as far as this issue goes). I will now be locking this issue, as it has been resolved

[2017-08-03 19:45] SwartzCr commented on #4975
I seem to be able to reach it, do you have any firewall rules set-up, or is your server inside of a firewall?
If not maybe @schoen or @jsha can provide good debugging advice

[2017-08-03 19:57] bmw commented on #4905
I believe another instance of this problem can be found in https://community.letsencrypt.org/t/archlinux-how-to-configur-lets-encrypt/39258/32. At the very least, #4104 seems to fix the issue.

[2017-08-03 20:00] SwartzCr commented on #4976
Hmm that's really bizarre
Do you know if you had been using the tls-sni-01 challenge the whole time (as opposed to say, the webroot challenge)?
It generally seems like apache got itself into a state where it wasn't accepting connections, but I don't know why that would have happened on a certbot upgrade.
Just to confirm, you did manage to get your certificates renewed, yes?

[2017-08-03 20:06] SwartzCr commented on #4977
So it seems like the issue is that you're trying to update the cert in your ssl vhost rather than re-install the cert on your non-ssl vhost.
The vhost that you've included is on Port 80. Certbot will happily copy that vhost and include a reference to the certificate that you have for bavaria.domain.net if you select `1: Attempt to reinstall this existing certificate`.
When you select `2: Renew & r

[2017-08-03 20:16] SwartzCr commented on #4980
@geoconnections  Can you figure out what version of acme you have?
@jsha any ideas?

[2017-08-03 20:17] SwartzCr commented on #4984
@tbrowder Thanks for the feedback. I'd love to fix this, could you point me to a few examples of this?
Is it in the `--help` output or in the docs at eff.certbot.org/docs?

[2017-08-03 20:24] blacktav commented on #4977
Hi
Both, the error occurs whether or not the cert has been installed
The script seems to have a problem creating the SSL config file and I cannot see what is causing the problem.
The file should be created at /etc/apache2/vhosts.d/bavaria-le-ssl.conf as noted in the logfile, but the next line suggests the url is being mangled somewhere
2017-07-31 20:00:14,770:WARNING:certbot_apache.configurator:Ca

[2017-08-03 20:32] jsha commented on #4980
The `ec` package comes from:

[code]

So what we'd really want to know is what version of python-cryptography you have: `dpkg -l python-cryptography`

[2017-08-03 21:18] geoconnections commented on #4980
acme 0.14.2
python-cryptography 1.7.1-2+cert

[2017-08-03 21:31] bmw opened #4988 "Include plugin selection at the INFO logging level"
As suggested by @schoen, it'd be useful if Certbot included the plugin it was using at the `INFO` logging level so it was printed to the terminal. This would often help with debugging problems when the user provides only Certbot's output and not it's logfile(s).

We should do this for all major subcommands including certonly, run, and renew.

[2017-08-03 21:35] bmw opened #4989 "Standalone binds to a port but fails the challenge"
This reported by @schoen. I haven't verified this, but after thinking about it, this certainly seems possible. For example, if the user has a webserver that is only accessible over IPv6, the standalone plugin may happily bind to IPv4 but fail the challenge.

We should do something about this. At the very least, we should provide useful error output.

[2017-08-03 21:39] jsha commented on #4975
Can you re-post on https://community.letsencrypt.org/ ? This doesn't look like a Certbot bug, and you'll be able to get more people looking at it there. Also, you'll need to post your domain name in order to get useful help. Don't worry; once you get your cert, your domain name will be in the public CT logs, so there is no need to hide it now.

[2017-08-03 21:39] #4975 closed

[2017-08-03 21:40] SwartzCr commented on #4986
Are you talking about if you have something like iptables redirecting all ported traffic or if your webserver configuration specifies that port 80 traffic should go to 443?
In essence webroot will use your existing server setup to serve challenge files at `YOURURL.TLD/.well-known/CHALLENGEHASH` which will be read by let's encrypt.
In this case if your server is redirecting traffic, that file will

[2017-08-03 21:41] SwartzCr commented on #3295
@smarek could you please open this as a new issue? This seems like a very different error, and for it to be responded to appropriately it deserves it's own thread

[2017-08-03 21:51] SwartzCr commented on #4977
Interesting, can you share with me a list of all .conf files that you have in your vhosts.d folder?

[2017-08-03 21:52] SwartzCr commented on #4934
Ah wonderful, glad you got it figured out. I'm going to close this issue, but feel free to open a new one if you run into any other problems!

[2017-08-03 21:52] #4934 closed

[2017-08-03 22:09] blacktav commented on #4977
Although I have several active conf files at present; if they are all removed except for 1 (see below), the error occurs : console session appears as:

bavaria:/etc/apache2/vhosts.d # certbot-auto --apache -d www.domain.net
Saving debug log to /var/log/letsencrypt/letsencrypt.log
Cert not yet due for renewal

You have an existing certificate that has exactly the same domains or certificate name yo

[2017-08-03 22:18] blacktav commented on #4977
Erk, file contents above has been munged by something...

# -------------------------------------
# PHP systems for Domain
# -------------------------------------
<VirtualHost *:80>
    ServerName www.domain.net
    DocumentRoot /srv/www/htdocs/bubba
    <Directory "/srv/www/htdocs/bubba">
      Options FollowSymLinks
        Require all granted
    <IfModule mod_rewrite.c>
        RewriteEngine o

[2017-08-03 22:20] blacktav commented on #4977
[domain.txt](https://github.com/certbot/certbot/files/1198741/domain.txt)

[2017-08-03 22:22] SwartzCr commented on #4921
Oh so this is actually the way that augeas lists files that it has knowledge of. `/files/` is an augeas annotation that is making it's way into the error output, but I don't think that it is what is causing this issue.
@codemusings I think the issue you're running into is that you have an overly broad listen directive somewhere that is preventing the certbot challenge cert from getting sent to the

[2017-08-03 22:40] SwartzCr commented on #4977
hmm maybe @bmw or @joohoi have an idea of what might be happening

[2017-08-03 22:47] blacktav commented on #4977
Could it be anything to do with XML libraries?
I had a problem caused some odd errors by an ancient install below /usr/local; it has been resolved now
Is there a simple way to force a rebuild of certbot?

[2017-08-03 22:49] bmw commented on #4985
Unfortunately, we don't yet support IPv6 with our nginx plugin (see #3640). I'm closing this issue as a duplicate, but please comment if you disagree and think I should reopen.

[2017-08-03 22:49] #4985 closed

[2017-08-03 23:09] SwartzCr commented on #4407
any update on pinning?

[2017-08-03 23:10] SwartzCr commented on #4490
Closing this in favor of #4407 which is also tracking this pinned dependency

[2017-08-03 23:10] #4490 closed

[2017-08-03 23:58] ioquatix commented on #4985
If this isn't going to be fixed, In think additional documentation would be good as I wasted a lot of time trying to figure this out.

[2017-08-04 00:01] bmw opened #4992 "Document we don't yet support IPv6 in nginx"
See #3640 and #4985. Suggested by @ioquatix.

cc @SwartzCr

[2017-08-04 00:02] creepersbane opened #4993 ""The requested apache plugin does not appear to be installed""
## My operating system is (include version):
Raspbian 8 (Debian Jessie) Linux 4.4.27-v7+

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
apt-get (backports)

## I ran this command and it produced this output:
$ sudo certbot --apache
Saving debug log to /var/log/letsencrypt/letsencrypt.log
The requested apache plugin does not appear to be installed
$

## Certbot's behavio

[2017-08-04 00:03] bmw commented on #4977
Thanks for the all the info here @blacktav. I was able to reproduce the problem.

Unfortunately, I don't think the Apache plugin will currently work on OpenSuSe. The way that Apache configurations work on different distros varies wildly and our Apache parser is struggling to parse the resulting configuration due to `<IfModule ...` directives. This is closely related to #3967.

@joohoi is planning

[2017-08-04 00:05] bmw commented on #4977
@joohoi (or anyone else who works on this), I was able to successfully install the cert by removing the `<IfModule mod_ssl.c>` directives from around the vhost we create.

[2017-08-04 01:06] schoen commented on #4961
Hi @ppKrauss,

Alguns colegas meus me avisaram hoje que você é falante nativo de português. Sou empregado da EFF trabalhando (às vezes) no projeto Certbot e falo português como língua estrangeira. Se quiser discutir quaisquer aspectos do projeto em português, ou se precisar de uma tradução de quaisquer conteúdos de português para inglês para fins de documentação, estarei disponível e também gosto

[2017-08-04 11:23] OlafvdSpek commented on #4986
HTTP redirects

I'll try again.

Nginx doesn't appear to be recognized:
[code]

The docs are good, maybe it'd help to include a link to them in the certbot certonly output.

Standalone is problematic for automatic renewal isn't it?
Webroot seems superior, but this isn't clear from the certonly output or from the docs.

BTW, I love the letsencrypt initiative and the certbot tool.

[2017-08-04 11:26] OlafvdSpek opened #4994 "Question with one answer"
[code]

It'd be simpler to skip questions with just a single answer option. ;)

[2017-08-04 12:22] ppKrauss commented on #4961
Hi @schoen,

Obrigado pelo convite!  Que agradável surpresa alguém de fora abraçar o português! Vamos aproveitar então para expandir o projeto para outras línguas, tendo o inglês como referencial... Pronto, criei a primeira tradução como [README-pt.md](https://github.com/ppKrauss/certbot-faq/blob/master/README-pt.md). Você tem permissão para editar direto (sem pull-request) qualquer um dos READMEs

[2017-08-04 14:33] creepersbane commented on #4993
Fixed:
sudo apt-get install python-certbot-apache

[2017-08-04 14:33] #4993 closed

[2017-08-04 14:54] geoconnections commented on #4980
I was able to find a solution while debugging a different issue. I had to run:

pip install --upgrade requests[security]

[2017-08-04 15:22] bmw commented on #4994
I think this is a duplicate of #4136. Thanks for taking the time to make the issue though!

[2017-08-04 15:22] #4994 closed

[2017-08-04 19:41] SwartzCr commented on #4986
Can you try installing python-certbot-nginx and seeing if that changes anything? If not I can look through old issues and see what we've done in previous similar situations

[2017-08-04 19:50] SwartzCr commented on #4980
This seems closable, but this is the second time requests has seemed to cause problems. @bmw or @erikrose is there anything we can do?

[2017-08-04 20:07] erikrose commented on #4980
Impossible to say without more info. I'd be interested to know whether six was installed and what the old and new versions of requests were. But I think there are a lot of other things that ought to be higher priority.

[2017-08-05 07:04] smarek opened #4996 "_openssl.so: cannot change memory protections: Permission denied"
Follow-up from #3295

## My operating system is (include version):
Debian 9 Stretch

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Both certbot-auto from Debian aptitude (0.10.2-1) and Letsencrypt-auto from https://github.com/letsencrypt/letsencrypt

## I ran this command and it produced this output:
`certbot-auto renew` or `letsencrypt-auto renew`

[code]

## Certbot's

[2017-08-05 07:05] smarek commented on #3295
Did that in #4996

[2017-08-05 16:13] counterpoint commented on #2550
I'm having this problem with certbot version 0.10.2 in Debian Stretch. A number of domains were set up, so far as I know in exactly the same way. When attempting "certbot renew" 13 domains appear correct - currently they are listed and skipped as renewal is not yet needed. But the other 7 are listed under "Additionally, the following renewal configuration files were invalid:". Each one is listed a

[2017-08-05 18:59] counterpoint commented on #2550
Probably my fault, although I don't know how. Deleting and recreating the problem domains fixed it.

[2017-08-06 18:44] hlieberman commented on #4871
This is Debian bug #867768 (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=867768).

[2017-08-07 02:52] bobstrecansky commented on #4966
Working on this here: https://github.com/certbot/certbot/pull/4997

[2017-08-07 03:14] bobstrecansky commented on #4319
Picking this back up; my apologies on the delay; was working through some other tickets first.

[2017-08-07 07:33] OlafvdSpek commented on #4986
[code]

[2017-08-07 09:05] src386 commented on #4132
Same problem :

    nginx: [emerg] "server_names_hash_bucket_size" directive is duplicate in /etc/nginx/conf.d/server_names_hash.conf:1
. Skipping.

I don't have actual duplicate :

    grep -R bucket /etc/nginx/
    /etc/nginx/conf.d/server_names_hash.conf:server_names_hash_bucket_size 128;
    /etc/nginx/nginx.conf:	# server_names_hash_bucket_size 64;

I'm using cerbot 0.10.2

[2017-08-07 12:19] cmenzi commented on #2677
Problem still exist with (certbot 0.14.1) on CentOS Linux release 7.3.1611 (Core)

Disabling IPv6 does not solve the problem.

Any updates on this?

[2017-08-07 15:36] SwartzCr commented on #4996
So currently letsencrypt-auto and certbot-auto are the same thing, they both pull the most recent version from pip. Certbot should be packaged for debian 9, is that what you mean when you reference the 0.10.2 version?
the -auto scripts are trying to build python cryptography against openSSL and failing due to grsec it seems like, but the packaged version shouldn't need to do this. Can you share th

[2017-08-07 15:36] #4079 closed

[2017-08-07 15:42] SwartzCr commented on #4871
Ah I pinged @erikrose in the linked issue, but it seems like it's the same as this bug?https://stackoverflow.com/questions/19348236/ncurses-interrupts-system-call-when-resizing-terminal
I'd think we could catch and ignore the ncurses error, but I'd like it if someone who knew more about ncurses could weigh in on it.
I'm going to tag @bmw as well so that he can take a look at it if Erik doesn't get

[2017-08-07 15:46] SwartzCr commented on #4986
Can you try running `certbot --nginx`?
Can you also share with me the output of:
`which nginx`
`dpkg -l nginx`
If your nginx package is installed in a strange place that might be what is causing certbot to not be able to recognize that you have it installed.

[2017-08-07 18:00] bmw commented on #1003
By the way, I unfortunately didn't get to this in my rewrite mentioned [here](https://github.com/certbot/certbot/issues/1003#issuecomment-201538065).

[2017-08-07 18:14] bmw opened #4999 "nginx plugin not properly handling directives inherited from outside of the server block"
Reported by @src386 [here](https://github.com/certbot/certbot/issues/4132#issuecomment-320610552):

In an nginx config, if you specify `server_names_hash_bucket_size` outside of a `server` block, we'll fail the challenge. This is because we only search for the directive in the specific server block rather than checking if it was inherited from elsewhere in the config.

While we could do something

[2017-08-07 18:15] bmw commented on #4132
@src386, I think your issue is slightly different. I created #4999 to track it.

[2017-08-07 18:17] bmw commented on #4926
While I really appreciate the detailed post here, this is a duplicate of #4871 so I'm closing this issue.

[2017-08-07 18:19] bmw commented on #4926
This is due to Python's `select.select` used [here](https://github.com/certbot/certbot/blob/d4676610e9009397000522cc1fe5420242905e86/certbot/display/util.py#L79) raising an exception when the terminal is resized.

[2017-08-07 18:53] hlieberman commented on #4871
On Mon, Aug 7, 2017 at 14:46 Brad Warren <notifications@github.com> wrote:

1.21 is in sid and making its way to testing. When it gets there, we can
talk to DPMT about putting it into backports.
--
Harlan Lieberman-Berg
~hlieberman

[2017-08-07 18:59] src386 commented on #4132
Thanks

[2017-08-07 20:13] SwartzCr commented on #4926
Possibly fixed in #5001

[2017-08-07 22:07] bmw opened #5003 "Pin all dependencies"
Not doing this [broke master](https://travis-ci.org/certbot/certbot/jobs/261880007) and caused tests on all PRs to fail. I believe this only needs to be done for our new DNS plugins. This should probably be done using the mechanism like the one found in `tools/install_and_test.sh` so all tests benefit. This prevents failures for all tests if a new version of dependency breaks an API we use.

Doing

[2017-08-08 06:29] OlafvdSpek commented on #4986
[code]
[code]

[code]

[2017-08-08 06:35] smarek commented on #4996
Maybe I wrote the issue in confusing way, 0.10.2 is packaged version in Debian see here: https://packages.debian.org/stretch/certbot

Actually the failing one is the Debian packaged version, if I remove local sandbox/prefix and run the letsencrypt-auto from its github version, it works as expected.

[2017-08-08 08:57] runephilosof commented on #4727
I noticed that I have some files with `ServerAlias *.some.domain`.
Does this explain the error output?

I am experiencing the problem with apache stopping every time `certbot renew` is run. I don't think it has anything to do with the vhost ambiguity output.

It seems Certbot crashes my Apache when there are certificates that cannot be renewed.
The Apache parent process segfaults when Certbot runs

[2017-08-08 08:58] runephilosof commented on #4727
In the attached file you can see that it segfaults in openssl.

[2017-08-08 18:29] ssunagari commented on #3228
@pit I ran into the same `No module named zope.component` problem trying to run certbot inside AWS Lambda under the python2.7 environment, but switching to the python3.6 environment effectively resolved the issue.

(Off-topic for the thread, but the next issue I encountered is that only `/tmp` is writable in the lambda execution environment, so you'll need to set up `--config-dir`, `--work-dir`, a

[2017-08-08 19:03] #4407 closed

[2017-08-08 21:23] SwartzCr commented on #4986
So the issue is that certbot won't default to nginx even if you have it installed in version 0.10.2
The PR to unhide nginx was just merged and will be available in 0.18.0: https://github.com/certbot/certbot/pull/4969
So it seems like certbot will work on your system, but for now you will have to specify to it that you want to use nginx by providing the `--nginx` flag. When nginx becomes unhidden,

[2017-08-08 21:23] #4986 closed

[2017-08-08 21:31] SwartzCr commented on #4727
Hmm this is out of my depth - as I really can't parse that apache segfault dump.
I doubt @joohoi has seen this before, but it's possible he has some insight, otherwise maybe we can ping someone who works on openssl or post to their list (which is where they request support queries to be sent) https://www.openssl.org/community/mailinglists.html

[2017-08-08 21:44] SwartzCr commented on #4996
Interesting - I wonder if @hlieberman has any ideas about whether or how this can be fixed since he is the debian package maintainer. My naive guess is that it's not fixable since it has to do with how python cryptography is built after debian pulls down the source files.

[2017-08-08 22:07] hlieberman commented on #4996
Hmm.  I'm suspicious that this is related to the way that
python-cryptography loads the openssl library itself.  Try disabling
MEMPROTECT on that .so file -- or maybe on the python interpreter itself.

Also, check your logfiles for grsecurity denies.

[2017-08-08 22:10] hlieberman commented on #4996
Yeah, that's definitely what's happening here.  Look at
https://cffi.readthedocs.io/en/latest/using.html#callbacks-old-style
in the warning.

On Tue, Aug 8, 2017 at 6:07 PM, Harlan Lieberman-Berg
<hlieberman@setec.io> wrote:

--
Harlan Lieberman-Berg
~hlieberman

[2017-08-08 22:39] wolfgang42 opened #5005 "certbot renew --debug-challenges"
I'm using `certbot` on Ubuntu 16.04, installed from `ppa:certbot/certbot`. My server is failing to renew the certificates; I have a suspicion that this has to do with where the HTTP daemon is looking for the `/.well-known/acme-challenge/` directory and am attempting to debug. I found the `--debug-challenge` flag, and tried to use it:
[code]
This looks promising, and I began to debug the problem. U

[2017-08-08 23:04] edwinm opened #5006 "Expiration notice after renewing with allow-subset-of-names"
## My operating system is (include version):
Ubuntu 16.04.2 LTS

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot 0.14.2

## I ran this command:
sudo certbot renew --allow-subset-of-names

## Certbot's behavior differed from what I expected because:
I ran the command above a week ago and I'm still receiving (two) "Let's Encrypt certificate expiration notice ..." e-

[2017-08-08 23:06] pixelrebel commented on #2697
How does allowing alternative ports compromise security?

[2017-08-09 06:05] santoshkumar92 opened #5007 "Error creating new registration"
## My operating system is (include version):
Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
sudo certbot --nginx

## I ran this command and it produced this output:
sudo certbot --nginx

`2017-08-09 05:50:07,519:DEBUG:certbot.main:certbot version: 0.14.2
2017-08-09 05:50:07,519:DEBUG:certbot.main:Arguments: ['--nginx']
2017-08-09 05:50:07,519:DEBUG:certbot.

[2017-08-09 06:15] blackfyre commented on #3059
Got the same error 😢

[code]

And in the log file:
[code]

[2017-08-09 06:18] hammygoonan commented on #5007
I'm having a similar issue. It seems to be somehow related to registering for emails.

if I add the `--register-unsafely-without-email` flag it works.

[2017-08-09 06:28] santoshkumar92 commented on #5007
I think it was a temporary issue. It works after try 10-12 times.

[2017-08-09 06:28] #5007 closed

[2017-08-09 06:31] basd82 opened #5008 "acme==0.18.0.dev0 missing"
## My operating system is (include version):

Ubuntu 16.04
## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
## 0.17.0 - 2017-08-02

## I ran this command and it produced this output:
 ./certbot-auto

## Certbot's behavior differed from what I expected because:

Error: couldn't get currently installed version for /root/.local/share/letsencrypt/bin/letsencrypt:
Traceback (mo

[2017-08-09 07:44] OlafvdSpek commented on #4986
Have you created the tickets for the docs or should I?

There's also the issue of how to use certbot without the nginx plugin if you only run on port 443.

[2017-08-09 09:07] src386 commented on #4985
Same issue.
I figured out that certbot adds a listen 443 in the vhost, but acme tries to validate using ipv6. So the request matches another vhost.
Cerbot should add :
    listen [::]:443 ssl;

[2017-08-09 12:14] cpu commented on #5007
I suspect these problems were the result [of an outage event last night](https://letsencrypt.status.io/pages/incident/55957a99e800baa4470002da/598a267824308e1a05000183).

[2017-08-09 12:15] cpu commented on #3059
@blackfyre I suspect this problem was the result [of an outage event last night](https://letsencrypt.status.io/pages/incident/55957a99e800baa4470002da/598a267824308e1a05000183). Are you still seeing this error?

[2017-08-09 15:09] blackfyre commented on #3059
To honest, I've moved away from the certbot-auto solution and installed it from Jessie backport... that was working fine.

[2017-08-09 16:44] bmw opened #5009 "Don't crash when writing the cert to disk"
We've had a number of problems due to assumptions made about the layout of `/etc/letsencrypt`. Unfortunately, we had one user for whom `--dry-run` succeeded, however, we'd always crash when writing the cert to disk during renewal with the traceback:
[code]
To help with matching line numbers, the version being used is 0.10.2.

While we can only be so defensive against user changes, crashing at this

[2017-08-09 18:25] bmw commented on #3868
Closing in favor of the older and more popular #3147.

[2017-08-09 18:25] #3868 closed

[2017-08-09 18:26] bmw commented on #3147
Our packaging maintainers are continuing to get requests about this feature. To prevent them from caving and making a change like this themselves, I promised we'd ship this in 0.18.0 or 0.19.0.

Putting this in 0.18.0 for now to try and land it sooner rather than later.

[2017-08-09 19:11] JetForMe commented on #3663
So, what will it take to get the latest `letsencrypt` command installed in Ubuntu 16.04?

[2017-08-09 20:21] bmw commented on #4434
A version of this defining common values was added in #4974.

[2017-08-09 20:21] bmw commented on #4966
Fixed in #4997.

[2017-08-09 20:21] #4966 closed

[2017-08-09 20:53] jsoref opened #5011 "certbot selected the wrong domain as the subject"
## My operating system is (include version):
debian 9.1

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot 0.17.0 (certbot-auto)

## I ran this command and it produced this output:
[code]
## Certbot's behavior differed from what I expected because:

I expected the subject to be the one from the first domain listed (14, zhost.example.com)
Instead, it, for reasons I c

[2017-08-09 21:01] bmw commented on #3663
Using our official PPA as described [here](https://certbot.eff.org/#ubuntuxenial-other).

[2017-08-09 21:18] JetForMe commented on #3663
Outstanding, thank you. I ran into another issue I can't find an answer for, but I'll create a new issue for it.

[2017-08-09 21:25] bmw opened #5012 "Use consistent naming for functions in letsencrypt-auto"
With the changes made in #4970, I believe all functions use CamelCase as their naming convention. The one exception to this are the single word `say` and `error` functions. They should be renamed to `Say` and `Error` for consistency.

[2017-08-09 21:26] JetForMe opened #5013 "Configuration file version differences documentation (I have a mismatch)"
## My operating system is (include version):
Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot ppa

## I ran this command and it produced this output:
`/usr/bin/letsencrypt renew --renew-hook "service nginx reload"`

## Certbot's behavior differed from what I expected because:
It seemed to work, but I got this warning:

[code]

This occurred after I up

[2017-08-09 22:25] creepersbane commented on #4968
Try `su root -c 'apt-get install sudo; sudo ./certbot-auto`

[2017-08-09 22:44] creepersbane commented on #4901
Well, this was fixed with my other issue report, so I'll be closing this.

[2017-08-09 22:44] #4901 closed

[2017-08-10 06:06] zingmars commented on #5008
While `pip install certbot` did work for me, I had the same error message about it looking for libssl.so.1.0.2 when running from the repository (on Ubuntu 16.04 Server). What's that about?

[2017-08-10 06:09] basd82 commented on #5008
Correct from the repo give that error

[2017-08-10 06:17] skftn commented on #5008
Same here. Production server(s) down.

[2017-08-10 06:27] skftn commented on #5008
acme 0.18.0.dev0 is not in pypi: https://pypi.python.org/pypi/acme

[2017-08-10 08:10] rfleschenberg opened #5015 "ContextualVersionConflict with idna"
## My operating system is (include version):

Can reproduce on Debian 8 and Ubuntu 16.04, did not test other systems, but it seems likely all OS are affected.

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

pip

## I ran this command and it produced this output:

`certbot`:

[code]

## Certbot's behavior differed from what I expected because:

It should work ;)

## Here

[2017-08-10 14:33] jsoref opened #5016 "skipped output is too noisy for certbot -q renew"
## My operating system is (include version):
debian 9.1

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto 0.17.0

## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:
I'm drowning in information that really isn't relevant to what I was trying to do. And I mean drowning -- best practices for cer

[2017-08-10 15:00] s-fritsch opened #5017 "Allow to set Posix ACLs on keys and directories"
As discussed in the BoF at Debconf17:

In order to avoid having to copy key files with different permissions to a location that a server can access them, it would be nice if one could set arbitrary Posix ACLs on the keys files and the directories they are located in. See the getfacl / setfacl man pages for more information.

If this should be done via some hook script, maybe you could provide some

[2017-08-10 15:02] jsoref opened #5018 "deleted vhost doesn't suggest deleting corresponding letsencrypt config"
## My operating system is (include version):
CentOS release 6.9

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot 0.17.0

## I ran this command and it produced this output:
`certbot -q renew`

triggering:
`Encountered vhost ambiguity but unable to ask for user guidance in non-interactive mode. Certbot may need vhosts to be explicitly labelled with ServerName or Ser

[2017-08-10 15:04] jsoref commented on #5018
Actually, I think I'm wrong. I may have been mislead...
In this case, I had a proxy running on a different server, and had decommissioned the site from the proxy but failed to remove the letsencrypt config...
Sorry.

[2017-08-10 15:04] SwartzCr commented on #5015
@rfleschenberg so we don't actually support install via pip - on Debian 8 you should be installing Certbot via apt with jessie-backports, as explained here: https://certbot.eff.org/#debianjessie-apache
I'm curious if other people who have run into this issue also installed via pip

[2017-08-10 15:35] mulander opened #5019 "Letsencrypt not connecting back with a challenge on renewal after 301 from http"
## My operating system is (include version):
Debian 8.9

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
apt (certbot 0.10.2-1~bpo8+1)

## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:
I expected this run to succeed. I had a failed run in the morning, due to a .htaccess blocking one subdomain. I procee

[2017-08-10 16:12] SwartzCr commented on #5005
This is a really great question - @bmw any idea? This seems like an essential feature

[2017-08-10 16:16] SwartzCr commented on #5006
The reason why this is happening is that when you renew a certificate you are actually issuing an entirely new one. If it has different domain names listed than the original certificate (like in your case) then the Let's Encrypt CA doesn't know that they're actually certificates that Certbot views as the same.
This is why you got an expiration notice, because the initial certificates are expiring,

[2017-08-10 16:16] #5006 closed

[2017-08-10 16:17] eddiejibson opened #5020 "Automatic creation of a certificate without having to agree to terms?"
Hi,

So I want to be-able to just execute a command line to generate a certificate without having to agree to multiple terms as this can't be automated. Of course I'm more than happy to set that I agree globally to such terms in a config file.

I just want this to work easily within the PHP shell execution function and without having to manually agree to the terms each time, it can be done easily.

[2017-08-10 16:26] melato commented on #5015
I get this error on Alpine edge, installed as an LXD container on Ubuntu.  I have gotten missing python dependencies on Alpine edge before, which were promptly fixed by the Alpine team.  But this is somewhat different, so I'm posting instructions here:
On Ubuntu 16.04, create an Alpine edge container called "edge" and start an ash shell on it:
[code]
On the newly created Alpine container:
[code]
R

[2017-08-10 16:27] timball commented on #4661
okay how about slightly more meaningful error messages? The following error was bc my firewall blocked port 80.

more useful to note that the test requires port 80 to be open and accessible. it's part of the philosophy that errors should report the specific symptoms they see. still it would be nice if this nginx test not depend on hardcoded ports and had maybe a flag? or just use the 443 port that

[2017-08-10 16:31] jsoref commented on #5018
Actually, thinking about this some more...

Ideally, certbot should be able to know that there once /was/ an apache config, and that it seems to be missing. It is totally reasonable for an admin (like me) to delete an apache config and neglect to delete the corresponding certbot bits (it isn't particularly obvious to anyone how to do that).

[2017-08-10 17:47] bmw commented on #5005
`--debug-challenges` currently cannot be used with `certbot renew`. The reason for this is `certbot renew` is usually run automatically from something like `cron` and we didn't want Certbot to prompt the user and hang indefinitely. With that said, this feature would be valuable and we could potentially make it work with `renew` by including `--force-interactive` on the command line which was sugge

[2017-08-10 18:08] wolfgang42 commented on #5005
I guess there are two different changes to be made:
* `certbot renew` should allow `--force-interactive`. This is covered by #4925.
* `--debug-challenges` should return an error if running in noninteractive mode, rather than showing the "press continue" message and then carrying on regardless. (I hit the rate-limit on failed renewals at one point because I kept trying different flags to get it to

[2017-08-10 18:41] schoen commented on #4661
Hi @timball,

This is documented at

https://letsencrypt.readthedocs.io/en/latest/challenges.html

We definitely need to find a better way to get this information in front of more people (and indeed to improve the error message here). I have a somewhat delayed project to cause Certbot to generate a link to a much more detailed page about likely causes of each error.

In this case, it did quote the

[2017-08-10 19:38] schoen commented on #5020
Hi @eddiejibson,

If you add `--agree-tos` to your Certbot command line, then it will always indicate agreement without a user interaction.

My recollection is also that your agreement is saved somewhere after you've agreed for the first time. I believe this is saved locally in the account data under `/etc/letsencrypt/accounts`.

[2017-08-10 19:49] bmw commented on #5015
It looks like Alpine edge currently doesn't contain a version of `idna` that satisfies `requests`.
[code]
And if you look at Python request 2.18.3, they require [idna <2.6](https://github.com/requests/requests/blob/v2.18.3/setup.py#L46).

[2017-08-10 19:56] SwartzCr commented on #5008
@basd82 Sorry to hear you're having issues with certbot.
First off, installing via pip isn't recommended as you will run into many problems with using the proper python packages - it's highly recommended to use the packaged version of certbot instead.
In your original error I notice that you invoked certbot-auto instead of the `certbot` command like you would have if you had installed it from the

[2017-08-10 19:57] SwartzCr commented on #5008
For example this is what I get:
[code]
and
[code]

[2017-08-10 20:02] SwartzCr commented on #5008
Additionally can you tell me the output of `ls -d ${XDG_DATA_HOME:-~/.local/share}/letsencrypt/lib/python2.7/site-packages/cryptography*` ?

[2017-08-10 21:29] bcutter commented on #5015
Same here.
[code]

And "/letsencrypt/certbot.log" gives
[code]

Is it because Python version is too new? Not sure if it was updated since the last cron based certificate renewal run.

[2017-08-10 21:35] bmw commented on #5015
@bcutter, I think you're using a very old version of `letsencrypt-auto`. I recommend you download a new version using the instructions [here](https://certbot.eff.org/docs/install.html#certbot-auto).

[2017-08-10 23:51] bmw commented on #4988
Fixed in #5010.

[2017-08-10 23:51] #4988 closed

[2017-08-11 06:18] pombredanne commented on #5015
@SwartzCr you wrote:

I have just hit the issue yesterday. Same thing as others: I have certbot installed via pip (through ansible though it does not matter) on Ubuntu 16.x servers. I resolved this with an uninstall of idna and a manual install of idna==2.5

Then cerbot should not be pushed to Pypi maybe?

Each time I updated cerbot over the last year or so I ended up with some dependency issues.

[2017-08-11 08:40] pombredanne commented on #5015
FWIW a simple fresh pip install in a venv fails nicely:
[code]

So another way to ensure that you have proper deps on a plain pip install is tu setup stricter version ranges in you setup.py.... but that would eventually make it harder to use cerbot as a library if this is a use case at all.

Yet another way is to have two packages: the regular one as today and a second one that provides no code pe

[2017-08-11 08:52] mulander commented on #5019
I additionally created a [support topic](https://community.letsencrypt.org/t/not-able-to-renew-as-letsencrypt-doesnt-retry-challenges/39972) on the community board.

[2017-08-11 09:19] 5452 commented on #2516
didn't work for me. I use centos 6 and python is native with it, the version is 2.6, I cannot find the ~/.pip/pip.conf, and I created one with the given content, but when I executed certbot-auto, still got hung there... could anyone help me with it? Thanks.

[2017-08-11 09:29] OlafvdSpek commented on #4986
@SwartzCr ?

[2017-08-11 09:31] tazou opened #5022 "Fail to parse httpd 2.2 variable"
Hello,
When I try to install certbot for Apache 2, I have this error. (See below)

## My operating system is (include version):
Red Hat Enterprise Linux Server release 6.9 (Santiago)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
wget https://dl.eff.org/certbot-auto

## I ran this command and it produced this output:
./certbot-auto --apache
/root/.local/share/letsencryp

[2017-08-11 11:31] mulander commented on #5019
I'm closing down this issue. The problem was caused by IPv6 misconfiguration on my side.

Spotted by the [community](https://community.letsencrypt.org/t/not-able-to-renew-as-letsencrypt-doesnt-retry-challenges/39972/2)

[2017-08-11 11:31] #5019 closed

[2017-08-11 14:17] sorinmustaca opened #5023 "Can't install on Strato.com - SunOS 5.10"
Hi,
I have an account at Strato.com (Germany).
I have an ssh account on their system, but it is different than all those documented.

## My operating system is (include version):
SunOS gaffer 5.10 Generic_150401-49 i86pc i386 i86pc Solaris

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

wget

## I ran this command and it produced this output:
 ./certbot-auto --apache
./

[2017-08-11 16:23] eddiejibson commented on #5020
Great, this helped a lot. Thank-you.

[2017-08-11 16:53] zingmars commented on #5008
In my instance (and I suspect in OP's as well) I was running certbot directly from a cloned repository. It was a really ancient install that was set up before the PPA was made, and was simply forgotten about (until I got the email about expiration a few days back, which makes for the 2nd time in the last few months as you guys managed to break my old Gentoo setup as well). I ran `pip install certb

[2017-08-11 16:56] basd82 commented on #5008
Witch ppa?

Met vriendelijke mobiele groet,

Bas van Den Dikkenberg

-------- Oorspronkelijk bericht --------
Van: Ingmars Melkis <notifications@github.com>
Datum: 11-08-2017 18:54 (GMT+01:00)
Aan: certbot/certbot <certbot@noreply.github.com>
Cc: Bas van den Dikkenberg <bas@Dikkenberg.net>, Mention <mention@noreply.github.com>
Onderwerp: Re: [certbot/certbot] acme==0.18.0.dev0 missing (#5008)

In

[2017-08-11 16:58] zingmars commented on #5008
Er, package. I googled the package and saw a launchpad link and I instantly assumed it was a custom PPA for some reason. Sorry about that.

[2017-08-11 18:03] eddiejibson commented on #5020
Hi @schoen,

I just tried doing this:

sudo certbot certonly --webroot -w (my domain dir) -d (my domain) --agree-tos

Yet it still asked me for both my email and to agree to the terms?

Thanks again

[2017-08-11 23:00] kamikaze opened #5024 "Dependencies"
Are you really sure that certbot needs so many zope-like dependencies to work over the network with letsencrypt? How about lowering dependency count?

[2017-08-12 16:53] zh99998 opened #5026 "Make Dockerfiles for each DNS plugin"
## My operating system is (include version):
Debian 9

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Docker

## I ran this command and it produced this output:
[code]
[code]

## Certbot's behavior differed from what I expected because:
as https://certbot.eff.org/docs/using.html#certbot-command-line-options seems cloudxns is officially supported in certbot, but I can't f

[2017-08-12 17:41] zh99998 opened #5027 "provide a param to turn off symlink, use copy file"
currently generated certificate in `live` directory are using symlink.
it's inconvenience in some use case, for example, docker volume.
If it's regular file, I can just mount the `fullchain.pem`and `privkey.pem` into app's default cert path.

but it's symlink so I must mount whole directory into container, and specific cert path in app's configuration. well... some app may don't have such a config

[2017-08-13 14:22] HackintoshHD commented on #5015
Just for the record, I got the same error message as @rfleschenberg above on a Debian 8.9 Jessie webserver.

I got **around it** by basically deleting `/root/.local/share/letsencrypt` (or more specifically backing it up by moving it to a new name). To avoid loosing the configuration, press 'c' to cancel the setup at the corresponding moment:

[code]

[2017-08-13 23:25] zimmertr commented on #4937
@SwartzCr @allenwtl

When you manually build nginx from source it installs to `/usr/local/nginx/sbin/nginx` and is not automatically added to your PATH.

What environment variable should be exported so `Certbot` knows where to look for the binary?

[2017-08-14 08:08] SadPencil commented on #4937
@zimmertr
for me, I created two symlinks to solve this problem
[code]

[2017-08-14 13:08] TheFarodin commented on #5015
I've just run into the same error message on debian 8, however I haven't installed letsencrypt via pip.
Almost 2 years ago I installed it using the git method (since that was recommended at the time) and have been running "renew" via cron ever since.
Installing idna-2.5 didn't work for me, it would immediately be upgraded again when running letsencrypt-auto (this is why I dislike self-updating pro

[2017-08-14 14:23] GovanifY commented on #4807
Hey,
I have an idea from the reason of this issue.
Did you happen to use PaX on your server?
PaX decides certbot is harmful in its current form and so issue this nice syslog:

[code]
This might explain quite a bit the issue

[2017-08-14 14:53] zimmertr commented on #4937
@SadPencil that is exactly what I ended up doing. Well, I created the first symlink and then just modified my systemd service file to look for my config file where it's supposed to be... `/etc/nginx/sites-enabled/website.com.conf`

[2017-08-14 17:31] fzhcary commented on #2850
struggled for hours and finally find solution:
pip uninstall virtualenv
conda install virtualenv

virtualenv in pip doesn't work with conda.

[2017-08-14 19:44] barshinoff commented on #5015
I agree a program that does self updating is ridiculous, especially when these certs expire in 3 months and you can't renew until the last 2 months. By the time you realize the update which was mandatory as part of the renewal process is not going to work you don't have much time to find a solution before the cert expires!

[2017-08-14 19:59] jamescorkran commented on #5015
I am just now running into this problem on Ubuntu 14.04 using Chef and letsencrypt-auto, I am at a loss of what to do and my certs will expire soon.
Latest Output (sanitized)

    ---- Begin output of if [ ! -f /var/www/letsencrypt/live/dev2.WEBSITE.com/cert.pem ] || test `find /var/www/letsencrypt/live/dev2.WEBSITE.com/cert.pem -mtime +50`; then /var/www/letsencrypt/letsencrypt-auto --agree-tos -

[2017-08-14 20:22] SwartzCr commented on #5011
Let me just make sure I fully understand what you mean:
The certificate was issued with a subject name you didn't expect? Can you share that part of the certificate with me?
Also what is the name of the lineage for this certificate? i.e. what folder in `/etc/letsencrypt/live` is it in?

[2017-08-14 20:23] SwartzCr commented on #5011
Let me just make sure I fully understand what you mean:
The certificate was issued with a subject name you didn't expect? Can you share that part of the certificate with me?
Also what is the name of the lineage for this certificate? i.e. what folder in `/etc/letsencrypt/live` is it in?

[2017-08-14 20:28] SwartzCr commented on #5013
Have you ever run `certbot-auto` of `letsencrypt-auto`? If so, that could have created a 0.17.0 config file.
We haven't changed the format of the config files between 0.14.2 and 0.17.0, so you should be alright.

[2017-08-14 20:44] creepersbane commented on #5026
Try putting a space in between --dns-cloudxns and -credentials

[2017-08-14 21:09] SwartzCr commented on #5017
Thanks for filing the issue!
I'm going to tag @bmw to see if he has thoughts on this and how we should prioritize this

[2017-08-14 21:14] SwartzCr commented on #5018
Interesting, I can see why this might be useful, but I'm not really sure how we'd implement it or if it's worthwhile for us to spend upcoming dev time to work on this.
I'm going to put this in the wishlist milestone, though if someone came along with a PR it could get merged earlier.

[2017-08-14 21:18] SwartzCr commented on #5020
You should also be able to specify the email on the command line as well, see the output of `certbot --help register` or look at all the command line options here: https://certbot.eff.org/docs/using.html#certbot-command-line-options

[2017-08-14 21:26] SwartzCr commented on #5022
It seems that certbot is able to install itself fine, but then is choking on a variable specified in one of your apache configs.
Can you look through your apache virtual hosts and see if the string `${ENVTSP}` exists anywhere?
@joohoi do you know if any of those characters cause problems for our parser?

[2017-08-14 21:33] SwartzCr commented on #5023
That's strange, that argument is meant to know whether to call the script `certbot-auto` or `letsencrypt-auto`, but it seems to not be sure how to get that. This is probably because we don't support SunOS, and it handles variables differently than the OS's that we do support. While you could probably get past this error by setting the basename to something arbitrary, certbot-auto will almost defin

[2017-08-14 21:37] SwartzCr commented on #5024
Hi @kamikaze! We've done a lot of work to limit the dependencies that we use. Is there a specific one that you have an issue with?
If you'd prefer to use a client with less dependencies, you can try using letsencrypt-nosudo: https://github.com/diafygi/letsencrypt-nosudo

[2017-08-14 21:42] SwartzCr commented on #5026
Unfortunately the certbot dns plugins are not yet packaged in debian (though maybe @hlieberman will package them soon)
For now if you need DNS functionality, you can either use it on an OS that has packaged support for it (which I think is just Arch at the moment) or use certbot-auto.
Let me know if that helps!
Arch package: https://www.archlinux.org/packages/community/any/certbot-dns-cloudxns/

[2017-08-14 21:46] SwartzCr commented on #5027
You should be able to use a certbot hook to manually move or copy the file to a place where docker can see it - though I don't know if this will cause similar problems with dockers permissions.
For more info on the certbot hooks you can read about them here: https://certbot.eff.org/docs/using.html#pre-and-post-validation-hooks

[2017-08-14 21:57] SwartzCr commented on #5015
@barshinoff upgrading is not mandatory, you can have certbot-auto keep its version stable by providing the `--no-self-upgrade` flag.
@pombredanne we upload a version of certbot to pypi so that certbot-auto can download it. The reason we use certbot-auto to manage dependencies rather than pypi is because certbot-auto provides a method for getting required system level dependencies as well as the fa

[2017-08-14 22:03] SwartzCr commented on #4986
Oh sorry, it doesn't seem like I made issues for them, would you be willing to? Please tag me in them when you do!

[2017-08-14 22:58] SwartzCr commented on #4996
@smarek did that help? Have you tried to disable MEMPROTECT?

[2017-08-14 23:03] SwartzCr commented on #5008
The PPA can be found here: https://launchpad.net/~certbot/+archive/ubuntu/certbot

[2017-08-14 23:04] SwartzCr commented on #5008
I'm going to close this issue as it seems like you both have a path to a working setup of certbot. Feel free to open new issues if you run into future issues.

[2017-08-14 23:04] #5008 closed

[2017-08-14 23:10] SwartzCr commented on #4937
@allenwtl did creating the symlinks that @SadPencil mentioned help?

[2017-08-15 01:26] junaidbhura commented on #4551
Awesome @ian-kelling, that worked for me! This helped me understand your example better:

https://github.com/seenthis/hebergement/issues/17#issuecomment-304727839

[2017-08-15 02:38] zh99998 commented on #5026
@SwartzCr I’m saying official Docker Image, not OS pkg.
https://hub.docker.com/r/certbot/certbot

[2017-08-15 09:11] rpadovani commented on #4679
This is quite annoying because I receive emails every day with this error. Any way to silence that from the cron job for the renew, or any ETA on the fix?

[2017-08-15 14:25] drscream commented on #5023
The point is `$()` is not available in a regular `sh` only in `bash` and similar shells. An option would be to run it with `bash certbot-auto` to be sure it's executed by `bash`

[2017-08-15 15:15] sorinmustaca commented on #5023
I tried that too:

bash-4.2$ ./certbot-auto
./certbot-auto: syntax error at line 32: `BASENAME=$' unexpected
bash-4.2$

The script is created to be run under /bin/sh.
I changed that in the script and this is the next step:

$ ./certbot-auto
"sudo" is not available, will use "su" for installation steps...
Sorry, I don't know how to bootstrap Certbot on your operating system!

You will need to insta

[2017-08-15 15:15] rdonkin commented on #5015
I just had the same error using a Docker container for certbot built using the official `python:2.7` image, which is derived from `debian:jessie`.  It would be useful if there's a way of fixing this while using pip to install dependencies.

I found certbot-auto was not very good for Docker because it wants to download things at run time rather than build time, and it's generally harder to debug wh

[2017-08-15 17:07] SwartzCr commented on #5023
Unfortunately even if you got sudo working, it still wouldn't know how to install your missing dependencies. I'm going to close this ticket, since we don't have plans to support SunOS - hopefully you'll find a way to get a certificate

[2017-08-15 17:07] #5023 closed

[2017-08-15 17:34] pombredanne commented on #5015
@SwartzCr FWIW as an example of a fully pinned metapackage for certbot I just pushed this https://pypi.python.org/pypi/certbot-pinned and this https://github.com/pombredanne/certbot-pinned
e.g. a plain setup.py with all pinned deps that I can then use to pip install all the proper versions.

[2017-08-15 17:50] jsoref commented on #5011
The folder picked matches the subject:
`/etc/letsencrypt/live/zhost.site.example.com`
[code]
Based on the names above, I would have wanted it to use:
`/etc/letsencrypt/live/zhost.example.com` (this directory exists, so possibly adding a -1/.1, or asking me if I wanted to replace it or something)
[code]

Note: I expected the first item in the
[code]
response (`14`) to be used as the subject (and fo

[2017-08-15 18:00] joohoi commented on #4880
Thanks for the bug report! This will be fixed in the future, main issue for this bug is #4797

[2017-08-15 18:03] SwartzCr commented on #5026
That looks like it shouldn't be too hard to do. The docker image builds from the head of the github repo which includes the dns plugins. You'll have to make a config file with your cloudxns api keys as described here: https://user-images.githubusercontent.com/408880/26954777-fd8b7196-4c66-11e7-901a-014a2c360118.png
You might additionally need to make sure that docker is building the proper dns plu

[2017-08-15 18:36] joohoi commented on #5022
We should strip them off at https://github.com/certbot/certbot/blob/master/certbot-apache/certbot_apache/parser.py#L347 so there must be something else going on. @tazou could you post your Apache vhost configuration by any chance? This problem could be caused by any file included from your main Apache configuration file.

[2017-08-15 20:46] erikrose commented on #5015
@pombredanne The downside of the metapackage (which is very clever, btw) is you're trusting a whole mess of unverified downloads from PyPI to do the right thing as root on your box. certbot-auto contains a requirements file with sha-256 hashes of all the PyPI downloads and checks them as it downloads. If you're going to install using pip, I recommend extracting [those files](https://github.com/cer

[2017-08-15 21:25] SwartzCr commented on #5015
@rdonkin is there a reason you don't want to use the official dockerhub image that installs the needed dependencies as part of the docker compose?

[2017-08-15 23:01] SwartzCr commented on #5011
Of note with this is that there was already a lineage for the name jsoref expected this to have as the subject name. But even in that case it should have just appended -001 to the lineage.
@bmw do you think you could look into this?
@jsoref do you think you could reproduce this with a higher logging level and share the logs with us?

[2017-08-15 23:11] jsoref commented on #5011
Probably. Provide instructions and I'll see about allocating some time.
(In general, I'm unlikely to post unsanitized logs the github, but happy to share on irc...)

[2017-08-16 00:35] SwartzCr opened #5030 "Nginx should make a vhost block in the absence of a appropriate one"
As mentioned in #4792 nginx gives a somewhat useless error when you have a default configuration lacking a server_name directive with the appropriate domain name. While documenting how to mitigate this is useful, we should probably just handle this case - by making an appropriate vhost, like we do with apache and running the challenge.

[2017-08-16 01:13] lgg opened #5031 "key too large 8192"
## My operating system is (include version):
Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
apt-get install certbot

## I ran this command and it produced this output:
`sudo certbot certonly --standalone --preferred-challenges http --rsa-key-size 8192 -d mydomain.com`

## Certbot's behavior differed from what I expected because:

But I can't find any faq/do

[2017-08-16 02:29] schoen commented on #5031
Hi @lgg,

It's a Let's Encrypt limit, not a Certbot limit. (Indeed, the nature of the error shows that Certbot attempted to send your request to the Let's Encrypt CA, and the CA replied that it was disallowed.)

See "DV-SSL End Entity Certificate" in

https://letsencrypt.org/documents/isrg-cps-v2.0/

The maximum subject key modulus size for an RSA key is 4096 bits.

[2017-08-16 02:29] #5031 closed

[2017-08-16 07:44] pombredanne commented on #5015
@erikrose Thanks!. I add not found "[those files](https://github.com/certbot/certbot/tree/master/letsencrypt-auto-source/pieces)" in plain text. That said, yes, the metapackage approach is faulty and I dived in the code of setuptools but there is no checksum verification that's possible so the approach is fraught with perils.

FWIW, in order to solve a similar proper (e.g. ensure that a Python app

[2017-08-16 08:00] tazou commented on #5022
Hello,
Yes this variable is present a lot of time in my configs :
[code]

For example :
`/etc/httpd/conf.d/VDM_www.marseille.fr.conf:  Redirect permanent "/Histoire-de-marseille"          	"http://musee-histoire.marseille.${ENVTSP}"`

And this variable comes from the file :
[code]

An idea please ?
Thank you.

[2017-08-16 09:12] rdonkin commented on #5015
@SwartzCr Maybe I should have started with the certbot [Docker image](https://github.com/certbot/certbot/blob/master/Dockerfile).  However, the fact  thatit uses Alpine is a bit of a problem given some local DNS config issues - the `libmusl` libc in Alpine [does DNS lookups in parallel](https://github.com/gliderlabs/docker-alpine/blob/master/docs/caveats.md#dns) across all DNS servers, which cause

[2017-08-16 09:31] jsoref commented on #5018
Offhand, the easiest implementation is to record which file was responsible for a domain. There next time around, if there's no matching domain, it can check to see the status of the file...

[2017-08-16 11:19] OlafvdSpek opened #5032 "Explain authentication requirements"
It's unclear what certbot certonly authentication choices do and require. I think webroot is recommended and standalone is problematic as an existing web server is likely to be running.
But neither the docs nor the certbot output indicate this properly.
This is a request to improve both.

https://github.com/certbot/certbot/issues/4986

@SwartzCr

[2017-08-16 12:59] cpu commented on #5031
If you're also interested in seeing this from a programmatic angle in addition to the policy side that @schoen shared (Thanks!) the [Boulder CA](https://github.com/letsencrypt/boulder/) uses the [goodkey](https://github.com/letsencrypt/boulder/blob/e670e6e6b5db9a8173d506b6d6e1e78084cf4f10/goodkey/good_key.go) package for this purpose. [This is the function](https://github.com/letsencrypt/boulder/b

[2017-08-16 15:13] erikrose commented on #5015
@pombredanne We did consider a lot of alternatives, including bundling. certbot, like your tool, has to run on a variety of platforms and architectures. Since not all of our dependencies are pure Python, we'd either have to release a multiplicity of bundles (which is the tack I see you took) or else one very large one which contains all possible builds of, say, [cryptography](https://pypi.python.o

[2017-08-16 22:17] hollaho opened #5033 "Segfaults in openssl"
## My operating system is (include version):
Gentoo-current

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
emerge -avuDN =app-crypt/certbot-0.15.0

## I ran this command and it produced this output:
strace certbot -v certonly -d multiple -d valid -d domains
The same happens without strace of course, then without the trace output.

## Certbot's behavior differed from wha

[2017-08-17 09:27] trusch commented on #4343
Please note that rkt users are prefering quay.io because they can download native app container images. When using dockerhub a local conversion step is necessary.

[2017-08-17 16:03] twiz718 opened #5034 "certbot-auto renew --renew-hook didn't run on successful renewal"
## My operating system is (include version):

Ubuntu 14.04.5 LTS
Kernel 4.9.15-x86_64

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

git clone
current version: 0.17.0

## I ran this command and it produced this output:

root@superunknown:/opt/cerbot# ls -al /opt/cerbot/berzerk-renew-hook.sh
-rwxr-xr-x 1 root root 300 May 19 11:27 /opt/cerbot/berzerk-renew-hook.sh

cd /

[2017-08-17 17:39] mcloide commented on #3854
Thanks for this post my issue is solved. Good stuff.

[2017-08-18 06:49] daveola opened #5035 "certbot hang on "Requested authenticator apache and installer apache""
## My operating system is (include version):
Ubuntu 16.04.3 LTS

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS package manager.

I installed using apt as explained in the instructions.  I started doing a certificate creation and realized I had picked the wrong apache conf from the selection menu, so I cancelled with ctrl-c, and now certbot can't get past the "Request

[2017-08-18 16:20] gregbenner opened #5036 "Zesty PPA missing"
## My operating system is (include version):
17.04 Ubunutu

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
$ sudo apt-get update
$ sudo apt-get install software-properties-common
$ sudo add-apt-repository ppa:certbot/certbot
$ sudo apt-get update
$ sudo apt-get install python-certbot-nginx

## I ran this command and it produced this output:
 sudo apt-get install python-c

[2017-08-19 09:30] rfleschenberg commented on #5015
My POV as an Ansible user: It's not a problem to install distribution packages with Ansible. I will update the affected Ansible roles to install the .deb package. I just was not aware of the fact that a .deb package exists and that installing via pip is not supported. Maybe a warning can be added in an appropriate place?

[2017-08-20 00:20] ice-ice opened #5038 "centos 6.4 OSError: [Errno 13] Permission denied"
Creating virtual environment...
Traceback (most recent call last):
  File "/usr/lib/python2.6/site-packages/virtualenv.py", line 2308, in <module>
    main()
  File "/usr/lib/python2.6/site-packages/virtualenv.py", line 821, in main
    symlink=options.symlink)
  File "/usr/lib/python2.6/site-packages/virtualenv.py", line 956, in create_environment
    site_packages=site_packages, clear=clear, sym

[2017-08-20 00:20] 631768417 commented on #5038
/home/certbot-master/certbot-auto --nginx -d www.le6.top --nginx-server-root=/alidata/server/nginx-1.4.4/conf/vhosts

[2017-08-20 04:57] yuwiggin opened #5039 "how to upgrade certbot from a package instead of source"
## My operating system is (include version):
Ubuntu 16.04,
nginx version: nginx/1.10.3 (Ubuntu)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
I installed Certbot from source last year (v0.9.3), i.e.
`sudo git clone https://github.com/letsencrypt/letsencrypt /opt/letsencrypt`
`cd /opt/letsencrypt`
`./certbot-auto`

## I ran this command and it produced this output:
I wa

[2017-08-20 13:49] aidik commented on #4598
+1

[2017-08-20 14:25] creepersbane commented on #5039
Try installing certbot from Jessie Backports. You may enable the repository by following the instructions here: https://backports.debian.org/Instructions/

Afterward, install certbot with the following command: `sudo apt-get -t jessie-backports install certbot python-certbot-apache`

[2017-08-21 09:40] Neliger commented on #5033
I have the same issue, and can't find any wordaround.

I currently have to replace some nearly expired Let's Encrypt certificate with traditional ones.

[2017-08-21 10:21] dandelionred commented on #3646
Any progress on the issue? In case I add `http2` by hand, would it be wiped out on renew?

[2017-08-21 10:35] CordlessWool opened #5040 "failed to renew certificates, but dry-run success"
## My operating system is (include version):
debian:8.9 but I am running the docker container

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
docker container

## I ran this command and it produced this output:
docker run -t --rm \
 -v "/etc/letsencrypt:/etc/letsencrypt" \
 -v "/tmp:/var/www" \
 -v "/var/lib/letsencrypt:/var/lib/letsencrypt" \
 certbot/certbot:latest ren

[2017-08-21 11:12] REPTILEHAUS opened #5041 "Renew not generating privkey cert"
## My operating system is (include version):
debian jessie

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

## I ran this command and it produced this output:
sudo certbot certonly --webroot --dry-run -w /var/www -d example.com -d www.example.com

[code]

## Certbot's behavior differed from what I expected because:
generating privkey cert

[2017-08-21 17:53] bmw commented on #5026
Since we have many DNS plugins and some have lots of dependencies (I'm looking at you Amazon with boto3), I don't think it's a good idea to include all of them in our default Docker image. Instead, I'd rather make a separate image for each DNS provider that people could use.

Does this approach seem reasonable to you @joohoi?

[2017-08-21 18:01] bmw commented on #5011
I think this is a duplicate of #3189.

[2017-08-21 18:14] bmw commented on #3646
No. Renewing your certificate with `certbot renew` won't change these lines.

[2017-08-21 18:18] joshribakoff commented on #3396
Or design the system so that you don't need 3 different files to be kept in sync. I'm tasked with renewing dozens of certs from a legacy system. For whatever reason I can't just do a simple certbot renew. It used the nginx module & certbot fails to restart nginx. Manually restarting nginx works fine.  Restarting my webserver several times a day is really concerning so I want to switch to web root.

[2017-08-21 18:22] bmw commented on #5017
The main issue for this is #1473 which discusses changes the default and allowing users to set their own values.

[2017-08-21 18:26] denispolicarpocampos opened #5042 "(tls-sni-01): urn:acme:error:connection :: The server could not connect to the client to verify the do MAIN ::TIMEOUT"
## My operating system is (include version):

CENTOS 7.3

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

certbot-auto

## I ran this command and it produced this output:

./letsencrypt-auto certonly --standalone

Saving debug log to /var/log/letsencrypt/letsencrypt.log
Cert is due for renewal, auto-renewing...
Renewing an existing certificate
Performing the following ch

[2017-08-21 18:41] ynasser commented on #4917
Closed via #4983

[2017-08-21 18:41] #4917 closed

[2017-08-21 19:23] #3480 closed

[2017-08-21 22:36] joohoi commented on #5026
That seems reasonable. We are able to build on the base package anyway so having separate images alongside the base package sounds good. Maybe one with all DNS plugins could be of use in some cases as well. These should be pretty painless to support as well.

[2017-08-21 23:21] creepersbane commented on #5042
The site you are updating the certificate is unresponsive. Make sure the domain is pointing to the correct address.

The current IP of the domain is 200.195.38.35

[2017-08-21 23:24] creepersbane commented on #5040
The domain name seems to be pointing to an invalid IP address. Make sure your domain is pointing to the correct address.

The current IP registered with the domain is 62.157.58.48

[2017-08-22 09:18] runephilosof commented on #4727
It work fine if I run `service apache2 reload` in a cron job. It also works fine when `certbot renew` doesn't encounter any problem with renewing its certificates.
I only get this failure when `certbot` has problems renewing its certificates.

[2017-08-22 09:20] silicondales commented on #2872
Just to add some colour to the solution @lifeofguenter posted - solution for me on AWS linux when my update script fails seems to be different every time! This time, logged in as root `sudo su -` and a variety of updates did not work. Constantly getting zope.interface not set.

The solution last tried, which worked, was:

[code]
No sudo-ing (using as root)

But then `./certbot-auto --debug renew`

[2017-08-22 10:18] samiwo123 opened #5043 "https://www.generalopinion.org/---An unsafe message appears"
IMPORTANT NOTES:
 - An error occurred and we failed to restore your config and restart
   your server. Please submit a bug report to
   https://github.com/letsencrypt/letsencrypt
 - Congratulations! Your certificate and chain have been saved at:
   /etc/letsencrypt/live/generalopinion.org/fullchain.pem
   Your key file has been saved at:
   /etc/letsencrypt/live/generalopinion.org/privkey.pem
   Y

[2017-08-22 11:42] CordlessWool commented on #5040
But why dry-run is working and it does not work with normal request? The service behind the domain is not running right now, only nginx is running. I also try to get the certs with standalone service and it works without this domain and one other. All other other domains get a new one. It is the same connection for all sub domains. CName points to an dyndns address.

[2017-08-22 22:30] SwartzCr commented on #5032
@pconrad-fb this seems like exactly the kind of thing I'd like to see for documentation of challenges
@schoen how would you feel about writing something like this for all challenges?

[2017-08-22 22:35] SwartzCr commented on #5033
@bmw any thoughts?

[2017-08-22 22:46] bmw commented on #5033
What version of Python are you using for Certbot?

On the system where Certbot is having trouble, what's the output of:
[code]
where `python` is the same version of Python that you're using for Certbot?

[2017-08-22 22:51] Neliger commented on #5033
Python 3.4.5 here.

`# python -c 'from __future__ import print_function; import requests; print(requests.Session().request("GET", "https://acme-v01.api.letsencrypt.org/directory", verify=True, timeout=45).text)'
{
  "key-change": "https://acme-v01.api.letsencrypt.org/acme/key-change",
  "meta": {
    "terms-of-service": "https://letsencrypt.org/documents/LE-SA-v1.1.1-August-1-2016.pdf"
  },
  "new

[2017-08-22 23:14] SwartzCr commented on #5035
I looked through the code a little and couldn't find an obvious reason why this would break. The only thing I can think of is that you have a broken apache config lying around and so certbot isn't sure that apache works.
Are you using apache for anything else on your machine? Is it running? What is the output of `apache2ctl`?

[2017-08-22 23:16] SwartzCr commented on #5036
That's weird, it's definitely here: https://launchpad.net/~certbot/+archive/ubuntu/certbot?field.series_filter=zesty
maybe the url got messed up somehow?

[2017-08-22 23:19] SwartzCr commented on #5038
I think the issue you're having is that you need to be running `certbot-auto` as root. This would mean running the command you pasted with `sudo` at the beginning.
This is because it needs to do things like make a virtual environment to install packages and fetch system dependencies.
Can you try that and let me know if it helps?
Also depending on what operating system you're using there might be a

[2017-08-22 23:22] SwartzCr commented on #5039
Actually on Ubuntu you'll need to enable the certbot PPA, instructions can be found at https://certbot.eff.org
Additionally you can probably just remove that letsencrypt directory in .local if you're not planning to use to source built version. Is it possible that pip put it there? Could pip remove it?

[2017-08-22 23:24] SwartzCr commented on #5039
Also @creepersbane I've noticed that you've been helping answer questions on github! Awesome!
Want to join our IRC chatroom or give me an email at noah@eff.org to coordinate? That way we can maybe split responsibility or I can help you find issues to help people with?

[2017-08-22 23:31] SwartzCr commented on #5040
Yeah, it might be a timeout issue, maybe @jsha knows what one can do about this?

[2017-08-22 23:36] SwartzCr commented on #5041
It's important to know that --dry-run is a way to test that renewal works, and is not an actual renewal. For example it doesn't actually save these certificates, and gets them from our staging server, which is not trusted by browsers.
You may want to remove the --dry-run flag from your command, so that you do an actual renewal (now that it seems like it's successful)
You can learn more about renew

[2017-08-22 23:44] SwartzCr opened #5044 "Renewal docs don't mention dry run"
I'm working on a issue #5041 and noticed that our documentation doesn't mention dry-run at all except for in the --help output, yet we suggest everyone run it in the installation instructions. This seems wrong. We should add a blurb to the renewal portion of the docs explaining what it does.
@pconrad-fb want to take a crack at this?

[2017-08-22 23:48] pconrad-fb commented on #5044
Cool. As usual, Thursday is a good day for me to clear some time to work on it. I'll take a look.

[2017-08-22 23:49] SwartzCr commented on #5044
Awesome! Keep me posted

[2017-08-22 23:51] strugee commented on #5043
@samiwo123 you need to edit your issue and fill out the issue template. Without this information, no one can help you or find the bug you're hitting.

[2017-08-23 00:00] SwartzCr commented on #5043
So it looks like you're serving a certificate for example.com on your server. Based on the message in the error output from certbot it seems that it was able to fetch you a certificate but not install it for you.
What webserver are you using?
You can add a reference to that certificate in your VirtualHost file and everything should work fine (including future renewals)
The key and certificate file

[2017-08-23 00:10] SwartzCr commented on #5034
When you run the renewal you either need to specify the renew hook in your command, such as `--renew-hook myscripthere.sh` or have it referenced in your renewal config (which would happen if you specified it as a hook when you created the cert)
You can learn more about hooks here: https://certbot.eff.org/docs/using.html#renewing-certificates
Let me know if that doesn't work!

[2017-08-23 00:15] samiwo123 commented on #5043
thank you.
Use Wordpress supported by BitNami.
-
Computer Engineering

[2017-08-23 00:18] samiwo123 commented on #5043
Succeeded the first time.
But there was a fatal error on the site.
And when trying again the problems started

[2017-08-23 00:21] schoen commented on #5032
I've forgotten the status of our various plans around this topic, but right now we have both

https://certbot.eff.org/docs/using.html#getting-certificates-and-choosing-plugins

and

https://certbot.eff.org/docs/challenges.html

(the latter of which is possibly not linked from anywhere).

What should we do with these, and what more should they cover?

[2017-08-23 00:43] twiz718 commented on #5034
as you can see above, my command does include --renew-hook and a full path to the shell script. please review the logs above

[2017-08-23 01:01] creepersbane commented on #5039
@SwartzCr that would be great!

(Now back to the real problem before this becomes a full blown off-topic conversation :D)

@yuwiggin try @SwartzCr's suggestion. Hope it works!

[2017-08-23 01:19] samiwo123 commented on #5043
thank you.
Really succeeded.
After you try.
I will warn you not to speak English well.
German

[2017-08-23 06:29] OlafvdSpek commented on #5032
So I've read https://certbot.eff.org/docs/using.html#getting-certificates-and-choosing-plugins before.
The right side of the plugins table is cut off and requires horizontal scrolling to view, IMO this is bad usability.
And indeed, only today I noticed the last column mentions what ports each plugin uses.

The Webroot section below does not mention port 80 being used.. It also doesn't mention Webr

[2017-08-23 12:57] cpu commented on #5040
@SwartzCr Jsha is on vacation for a few more days.

Is it possible you had tried issuance with the staging server within the past 30 days when the server was configured correctly? If so then I suspect you created a valid authorization in the staging environment that's being re-used now when you try to issue again because it hasn't expired or been deactivated. Likely no such cached authorization ex

[2017-08-23 13:30] gregbenner commented on #5036
It's through the automated script, so probably a bug somewhere. I managed the install manually for myself.

[2017-08-23 16:53] pconrad-fb commented on #5032
I think these whole sections need to be rethought. Fortunately, they have all the info (at least I think so). I'll take a look at them.

[2017-08-23 17:14] bmw commented on #5033
Interesting. Other than the `User-Agent` string, that should be identical to what Certbot is doing when it crashes.

Can you provide the full output of:
[code]
Please add any other command line flags to the end of that command so you can reproduce the bug. Also, feel free to redact values like domains, email, and IP addresses as you feel is appropriate. Again, `python` should be the same version o

[2017-08-23 17:19] Neliger commented on #5033
Thanks for your attention, hope this will help :

# python -X faulthandler $(command -v certbot) --debug --verbose renew
Root logging level set at 10
Saving debug log to /var/log/letsencrypt/letsencrypt.log

-------------------------------------------------------------------------------
Processing /etc/letsencrypt/renewal/<edited>.conf
--------------------------------------------------------------

[2017-08-23 18:57] jkufner opened #5045 "Show expiration and renew dates in certbot renew output"
When running `certbot renew` it shows following info (paths truncated):

[code]

It would be muchmore useful if it said when the certificates are going to expire and when they are due to renewal. For example:

[code]

[2017-08-23 21:30] SwartzCr commented on #5045
Interesting!
That would be useful, let me add it to the wishlist milestone, but mark it as a bite sized task that someone could work on. Maybe @ynasser would want to tackle this when she does her livestream?

[2017-08-23 21:34] ynasser commented on #5045
Yes, this would be a great issue to implement in the livestream. Thanks @SwartzCr!

[2017-08-23 21:49] bmw commented on #5033
Thanks for the traceback.

Unfortunately, I'm unable to reproduce the problem when testing on an up to date Gentoo system using Python 3.4. Ideally, we should try to get a simple code snippet that can reliably reproduce this problem so we can report it to `requests`/`urllib3`.

[2017-08-23 21:52] Neliger commented on #5033
I don't see this problem with all uptodate Gentoo, but only on the newest installs from this year, but I can't find what's the key difference.

[2017-08-23 22:06] SwartzCr commented on #5016
Oh interesting!
It looks like the thing that outputs that is an errant print statement in renewal.py rather than a logger call, which would get silenced by `-q`
It's here: https://github.com/certbot/certbot/blob/142ced234b7561c24f2fd089090cf16b64566ae8/certbot/renewal.py#L361
It looks like @pde wrote this even when there were other logger calls in the file so I don't want to definitely say that it

[2017-08-23 22:10] bmw commented on #5016
Yes this should be changed. The high level issue for this is #3720.

[2017-08-23 22:19] SwartzCr commented on #5034
Sorry! The markdown formatting made it hard for me to read your log.
Can you share the log for this with me? It should be in `/var/log/letsencrypt` - that'll help me know where and how certbot failed to call this renewal script.

[2017-08-23 22:42] SwartzCr commented on #5036
Okay great! Glad you got it working!
I'm going to close this issue, but feel free to open new ones if you run into any more problems!

[2017-08-23 22:42] #5036 closed

[2017-08-23 22:46] merwok commented on #3087
Lost a bit of time today with this, even though I deployed certs with success on a few servers previously.

I suspended the letsencrypt process after it created the challenge file and was able to see it in my browser.

In the end I stopped my server, ran in standalone mode and that one worked.

[2017-08-23 22:51] CordlessWool commented on #5040
ok I am not sure what you mean with staging server. Which staging server and how could I had connect to it?

I tring it again some minutes before. First I run --dry-run and in second without. Now it works. The only change to the last run was that I start the service behind the url again. But the nginx server is just running before so that should not make a different? There was also an second url w

[2017-08-24 00:11] SwartzCr commented on #5043
Ok, es ist grossartig das es funktioniert.  Ich schlesse dieses Issue jetzt.  Wenn sie neue Problemen siehst, bitte einen neuen Issue machen.

[2017-08-24 00:12] #5043 closed

[2017-08-24 00:24] twiz718 commented on #5034
There isn't anything of value in those logs, I will keep an eye on it and see during my next renewal window.

[2017-08-24 00:24] #5034 closed

[2017-08-24 07:32] basd82 commented on #5008
Please reopen

i did full reinstall from the ppa and still te same erorr
root@Joomla-lb1:/opt# apt-get install certbot python-certbot-apache python-certbot-doc python-certbot-apache-doc python-certbot
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  certbot python-certbot python-certbot-apache python-certbot-ap

[2017-08-24 12:46] ppKrauss commented on #2677
Same problem now at UBUNTU 16 LTS with **certbot 0.14.2**, in a DigitalOcean server.

After `certbot --nginx   --cert-name  cerName` all ok but...
[code]

[2017-08-24 14:09] cosmonova opened #5046 "Problem with certbot dependency"
## My operating system is (include version):
Ubuntu 14

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
apt-get

## I ran this command and it produced this output:
certbot renew

VersionConflict: (acme 0.17.0 (/usr/lib/python2.7/dist-packages), Requirement.parse('acme==0.14.1'))

## Certbot's behavior differed from what I expected because:
I managed to install the certifi

[2017-08-24 17:21] pconrad-fb commented on #5032
The reason the table needs to scroll is that the <div> tag it sits in is limited to, I think, 768 pixels. This seems like an old-school measurement in today's high-res display environment. Maybe either the table can be similarly restricted, or the "document" <div> can be increased to 1200?

[2017-08-24 19:06] SwartzCr commented on #5008
the issue that you're running into is that you still have the previous version installed as well.
It's trying to run certbot from `/usr/local/bin/certbot` instead of `/usr/bin/cerbot` where the version from the PPA should have ended up.
You'll probably see `/usr/local/bin/certbot` if you run `which certbot`
You'll need to uninstall the version that you installed with setup.py, maybe try `pip unins

[2017-08-24 19:11] SwartzCr commented on #5016
@r5d, @ecastro, or @dhuang: Any of you up for doing this simple PR?

[2017-08-24 19:24] SwartzCr commented on #5046
Hi!
How did you previously install certbot? Was it via certbot-auto or did you previously use pip to install it?
It seems like the version that is packaged for you is older than the version currently on your system. You'll likely have to completely uninstall the version that's currently there to be able to install the proper dependencies for the packaged version.

[2017-08-24 19:25] basd82 commented on #5008
Yes everything works now

Van: Noah Swartz [mailto:notifications@github.com]
Verzonden: donderdag 24 augustus 2017 21:07
Aan: certbot/certbot <certbot@noreply.github.com>
CC: Bas van den Dikkenberg <bas@Dikkenberg.net>; Mention <mention@noreply.github.com>
Onderwerp: Re: [certbot/certbot] acme==0.18.0.dev0 missing (#5008)

the issue that you're running into is that you still have the previous vers

[2017-08-24 19:38] cosmonova commented on #5046
Hi,

I install it via apt-get and I tried to remove it but no luck. However it worked to renew the certificates using certbot-auto.

[2017-08-24 19:45] JeffAbrahamson opened #5047 "If nginx site file refers to cert that certbot hasn't created, certbot won't create it"
## My operating system is (include version):

ubuntu 16.04
Linux nantes-1 4.4.0-87-generic #110-Ubuntu SMP Tue Jul 18 12:55:35 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

apt-get install

## I ran this command (with my real domain name) and it produced this output:

    ╭╴ (master=)╶╮
    ╰ [T] jeff@nantes-1:p27 $ certbot --ve

[2017-08-24 20:10] pconrad-fb commented on #5032
I've spent a little time today looking at using.rst and challenges.rst with an eye toward eliminating overlap and redundancy. The first thing that occurs to me is that using.rst is, well... monolithic. It's the entire user guide.

I think we should break it up (for now, keeping the user experience mostly the same) to get better chunk sizes, so to speak. Then we can make the chunks a bit more discr

[2017-08-24 20:33] pconrad-fb commented on #4961
This issue dovetails with the comment I left on #5032 about chunking out the docs and making them more task-oriented. We should have quick tutorials for the 80% use cases.

[2017-08-24 22:44] r5d commented on #5016
@SwartzCr, I'll look into it.

[2017-08-24 23:22] SwartzCr commented on #4879
@ynasser think this would be good for the livestream?

[2017-08-24 23:24] SwartzCr commented on #4884
@mxbi have you had any luck getting it to work?

[2017-08-24 23:26] SwartzCr commented on #4736
@jonasbn have you found the time to look at any of the Sphinx documentation?

[2017-08-24 23:28] ynasser commented on #4879
I think we already have enough issues for the first livestream.

On Aug 24, 2017 4:22 PM, "Noah Swartz" <notifications@github.com> wrote:

@ynasser <https://github.com/ynasser> think this would be good for the
livestream?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/certbot/certbot/issues/4879#issuecomment-324783668>,
or

[2017-08-24 23:32] SwartzCr commented on #5046
Okay! Should we close this issue, or would you like us to help you get the packaged version?

[2017-08-24 23:34] ZachBacon opened #5048 "Trying to renew"
## My operating system is (include version):
Archlinux

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-nginx

## I ran this command and it produced this output:
sudo certbot renew --quiet --agree-tos

`Attempting to renew cert (thecanadianbacon.in) from /etc/letsencrypt/renewal/thecanadianbacon.in.conf produced an unexpected error: Failed authorization procedure.

[2017-08-24 23:35] ZachBacon commented on #5048
The cert is set to expire tomorrow, at least according to my email. I would of done it sooner, however time wasn't really on my side till now.

[2017-08-25 01:38] calciosf opened #5049 "Error with Apache Plugin. Error parsing file (default-ssl.conf.save)"
Having issues with running Certbot on standard DigitalOcean Wordpress droplet.  Followed steps but am hitting an error which is preventing me from finishing.

## My operating system is (include version):Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

## I ran this command and it produced this output:
certbot --apache -d my domain.com -d www.mydomain.com

##

[2017-08-25 05:33] irisliu123 opened #5050 "怎样切换节点"
## My operating system is (include version):

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

## I ran this command and it produced this output:

## Certbot's behavior differed from what I expected because:

## Here is a Certbot log showing the issue (if available):
###### Logs are stored in `/var/log/letsencrypt` by default. Feel free to redact domains, e-mail and IP ad

[2017-08-25 07:41] OlafvdSpek opened #5051 "Automatically fall back to certonly"
[code]

IMO it'd be simpler if certbot automatically falls back to certonly. The user can always cancel if certonly isn't what they wanted.

[2017-08-25 07:44] OlafvdSpek commented on #4961
It'd be nice if common use cases wouldn't require users to read documentation. For example:
[code]

As far as I know webroot is recommended but this isn't clear from the output.
Is standalone commonly used at all? If not, it might make sense to skip this question and default to webroot.

[2017-08-25 11:27] cosmonova commented on #5046
I think we can close this.

[2017-08-25 14:11] SwartzCr opened #5052 "Old versions of apache don't support combined chain files"
Maybe we should mention this for people on old versions of 2.4
via: https://community.letsencrypt.org/t/curl-refuses-to-accept-my-cert-saying-the-certificate-issuer-is-not-recognized/40917

[2017-08-25 15:19] jsoref commented on #4029
@pde: that path was closed (removing code). I'm open to writing this stuff, but I'm not even sure there's a particularly good place to link to. Anyone have suggestions (text/urls)?

[2017-08-25 16:16] jhabdas opened #5054 "No TXT records found for DNS challenge"
## My operating system is (include version):
Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
source

## I ran this command and it produced this output:

[code]

No TXT records found for DNS challenge

## Certbot's behavior differed from what I expected because:

I verified th

[2017-08-25 16:35] jhabdas commented on #5054
Meh. Abort. This was a derp on my part.

[2017-08-25 16:35] #5054 closed

[2017-08-25 17:26] #4118 closed

[2017-08-25 18:18] ohemorange opened #5056 "Make rollback respect --nginx cli flag."
It currently ignores the `--nginx` flag. It might also ignore `--apache`, or other forms of choosing the plugin.

We should also make sure that this all works as expected given the method we used to unhide Nginx.

[2017-08-25 18:18] ohemorange commented on #5056
See https://community.letsencrypt.org/t/rollback-on-certificate-created-with-test-cert/40369/13 for some background on how this was discovered.

[2017-08-25 18:29] bmw commented on #5056
I think this is a duplicate of #4858. The solution right now is to use `--installer nginx`.

[2017-08-25 18:35] ohemorange commented on #5056
Agreed, closing.

[2017-08-25 18:35] #5056 closed

[2017-08-25 19:22] bentleymi commented on #2872
thank you @ilamp ! worked like a charm

[2017-08-25 20:01] ynasser commented on #5050
Hi @irisliu123, we need more information (in English) to be able to help you.

[2017-08-26 14:09] markussc commented on #4958
Fixed the problem as follows: the file <code>/usr/lib/pymodules/python2.7/rpl-1.5.5.egg-info</code> contains author information which can not be decoded as UTF8 correctly. Simply rename "Göran Weinholt" to "Goran Weinholt" and you're fine!

[2017-08-26 17:38] banrieen commented on #3080
On openSUSE ,I only remove the python ,python3 and re-install python,python3; the problem has been fixed.
sudo zypper rm python
sudo zypper rm python3
then:
sudo zypper install --oldpackage python
sudo zypper install --oldpackage python3
After that:
 sudo python get-pip.py
Collecting pip
  Downloading pip-9.0.1-py2.py3-none-any.whl (1.3MB)
    100% |████████████████████████████████| 1.3MB 572kB/s

[2017-08-27 01:05] SwartzCr commented on #5047
Hi!
I think the problem is a little different . It's not that certbot is seeing a cert location and aborting so as not to overwrite it (though it might do that) it's failing when it checks the validity of your nginx config file. The -t flag checks the validity of the file references https://nginx.org/en/docs/switches.html
Since it's also checking that files referenced in that config file exist, it

[2017-08-27 01:18] SwartzCr commented on #5048
Sorry for the slow response
If the domain that you're renewing is managed by nginx - then it's strange that it's trying to renew via webroot instead of via the nginx authenticator.
If they are managed by nginx then I'd recommend having them try renewal with the nginx authenticator.
You can either have the renewal file update itself by just requesting the same certificate - as if it was the first t

[2017-08-27 01:22] SwartzCr commented on #5049
That's a shame.
Certbot runs a check to see if apache is properly configured before using it. It seems that this syntax error is preventing it from selecting apache. Can you share what is on line 118?

[2017-08-27 01:28] SwartzCr commented on #5051
Hi @OlafvdSpek!
What system are you running certbot on? And what webserver do you have installed? Are there more webserver errors in the logs?
There are a few reasons why we wouldn't default to certonly. In this case it's because certonly would invoke --standalone, which would spin up a web server on your computer. This would try to bind to port 443. But we've already detected that you have a webs

[2017-08-27 01:31] #5046 closed

[2017-08-27 01:32] SwartzCr commented on #5016
Awesome! Let me know if you need any help!

[2017-08-27 01:39] SwartzCr commented on #5032
I'm fine with splitting things up
I'd also be fine with making tutorials, that then link to other parts of the documentation (this should be easy). I often want to link to things in github issues, so having topics separated from tutorials is likely good for me.
I'm generally fine with proliferating .rst files, especially if it makes navigating the documentation easier

[2017-08-27 02:56] ageis commented on #4881
+1

[2017-08-27 02:57] ageis commented on #4753
I typically generate 4096-bit ssl_dhparam (no matter how long that takes) as part of some Ansible automation on most servers I maintain.

[2017-08-27 03:01] ageis commented on #3349
Yes, please prioritize this.

For instance, when Cloudflare pushes universal certificates to each customer's domain, they get a custom certificate pack:
* one SHA 1 RSA (primary)
* one SHA 2 RSA (secondary)
* one SHA 2 ECDSA (secondary)

You know, like there is the `--rsa-key-size` option, I really wouldn't mind being able to set `-sha256` to 384 or 512 or that mater. And ow about some ChaCha20 wi

[2017-08-27 03:04] ageis commented on #2209
Wrote a [related comment](https://github.com/certbot/certbot/issues/3349#issuecomment-325174114)a nd I support this absolutely. Are you having a hackathon soon? I'd probably ease into things better that way, but feel free to point me to low-hanging fruit for now.

[2017-08-27 03:23] ageis commented on #2080
@jult Just stick with 4096-bit, especially if you're using GnuPG. Not until everyone upgrades to 2.1 will we have access to ed25519 OpenPGP keys. and they're not that much stronger. (I do love my ed25519 SSH + GPG keys, so please keep moving away from RSA all!)

2048-bit RSA keys are expected to be breakable by an attacker with a large amount of computational resources within the next years or so.

[2017-08-27 03:49] ageis commented on #2080
2048-bit will not be recommended past 2030, I guarantee you, and the sunset will be gradual like it was for SHA-1. I've read plenty of those government standards documents and such...

For a while people were in the practice of making 8192-bit keys and above... It's only a fun two or three-line change to the source, I'm not sure how well operable they are with others though.

<blockquote class="tw

[2017-08-27 03:56] ageis commented on #2625
Great idea; I love it, but don't forget that we presently default to SHA256 to my knowledge... so why not have an option allowing users to increase that SHA384 or SHA512 too?

Speaking of which, when will [BLAKE2b](https://en.wikipedia.org/wiki/BLAKE_(hash_function)#BLAKE2) go mainstream!

Shouldn't Brainpool be in the curve list too? Or `ed25519`, and `sect###(k|r)1` since the others are @usNISTg

[2017-08-27 03:59] ageis commented on #2163
@bmw I dig it, but if you or @schoen need more inspiration then [what I said](https://github.com/certbot/certbot/issues/3349#issuecomment-325174114  about how  how Cloudflare offers every single customer [a "certificate pack"](https://support.cloudflare.com/hc/en-us/articles/216532638-FAQ-Custom-Certificate-Packs-SHA-2-and-SHA-1-) containing several types.

[2017-08-27 05:54] JeffAbrahamson commented on #5047
That mechanism (that certbot is starting by first validating that the nginx files parse) sounds quite believable.

The issue is that I want to have my nginx config in git.  But that means that if I change my nginx config and git update, I've either dropped out the certs or I need certbot to add them back each time.  As long as the certs exist in the file system, this isn't a problem.  It is a prob

[2017-08-27 06:59] OlafvdSpek commented on #5051
Nginx @ Debian 9 again. ;)

Wouldn't it first pop the question to allow the choice between webroot and standalone?

[2017-08-27 07:47] thedrow commented on #4799
I'm really sorry you guys are struggling with this.
I'm maintaining python-augeas but I don't have a lot of time to invest on it.
I wish we could make augeas portable to Windows but that's unlikely to happen anytime soon unless someone comes along with the funding and manpower to do so.
https://github.com/hercules-team/python-augeas/issues/21 was completely my fault and I'm sorry it affected you g

[2017-08-27 16:56] r5d commented on #5016
@SwartzCr, Does this b8db13b397e67c7f1e5433eae0bc61a76dc98dc6 look good?

[2017-08-27 21:13] tchollingsworth opened #5058 "certbot doesn't support third-party Apache installs on Debian"
certbot doesn't seem to support third-party Apache installs on Debian, such as the installation provided by the popular bitnami cloud installer.  This is because it expects various Debian modifications to the installation that are not present in such third-party installations.

Furthermore, some certbot options intended to help with the situation appear either not to work or don't go far enough.

[2017-08-28 02:26] SwartzCr commented on #5058
So the specific problem here seems to be that certbot is looking for `apache2ctl` but your installation has `apachectl`. It's possible that you could make a symlink for the name certbot is looking for and it would work.
Altrenately @joohoi might be interested in making this configurable.

[2017-08-28 02:33] SwartzCr commented on #4799
@thedrow - thanks for all the work that you've done on python-augeas. We appreciate it, and understand that it's volunteer work.
We'll be sure to let you know if we run into python-augeas problems in the future, and hopefully we can get it to a point of stability where we're comfortable with having certbot rely on it.

[2017-08-28 02:36] SwartzCr commented on #5051
Ah I see, so when it fails at doing a verification via apache, it should fall back to a prompt for standalone vs webroot with a warning saying that it will not install the certificate?
That almost makes sense to me, except that this might cause people who would prefer it to use the apache installer to have to manually install their certificates. Prompting the user allows them to make the choice be

[2017-08-28 06:56] tatianafrank commented on #2850
@fzhcary solution above does not work for me, produces same error on osx

[2017-08-28 13:48] erikrose commented on #4958
@markussc Have you thought about submitting that upstream?

[2017-08-28 13:53] markussc commented on #4958
@erikrose From what I understand, they are aware of it since quite some time: https://github.com/pypa/setuptools/issues/719

[2017-08-28 14:36] jsha commented on #2625
FYI, see https://github.com/certbot/certbot/pull/2660; implementation is somewhat stalled out on decisions about storage.

Right now, the listed curves are the only ones valid for issuance under the BRs, but ed25519 will probably come down the pipe soonish.

[2017-08-28 15:59] SwartzCr commented on #5047
Ah, so you're saying that if the machine changes the nginx config then Puppet will complain and try to change it back?
That's upsetting, since starting it with a reference to a non-existent cert will definitely prevent certbot from working.
I don't think there's a direct way around this, except to use a script the first time that certbot runs to edit that file, and then let certbot run. Do you thi

[2017-08-28 16:02] pconrad-fb commented on #5032
Okay. Let me see what I can do here. Worst case scenario, you can reject my PR. :P

[2017-08-28 18:01] SwartzCr commented on #4961
@OlafvdSpek standalone is used in cases where there isn't already a webserver running, or when a user would prefer to not configure their webserver to host a .well-known file.
It is true that this is somewhat rarely used since it would require any existing webservers to temporarily stop operating, but similarly it'd be a large assumption to presume that an existing webserver would serve a .well-kn

[2017-08-28 18:03] bmw commented on #5016
@r5d, I added some comments to your commit, but I think you're on the right track!

[2017-08-28 18:43] OlafvdSpek commented on #4961
What about doing the authentication on a non-standard port?

URL shortener?

The prompt should mention standalone is problematic with renewals.
It should mention what is required (a given directory available on port 80, or was it 443?)

[2017-08-28 18:48] bmw commented on #5051
We've had people run with `certbot certonly` and think they've done everything they needed to do so I'm not sure we want to automatically fall back to this behavior. In fact, we've often regretted adding automated behavior like this such as making the `run` subcommand the default (which is the behavior you're seeing by just running `certbot` without a subcommand) or automatically selecting a plugi

[2017-08-28 19:39] SwartzCr commented on #4961
Unfortunately the acme spec only accepts port 443 for authentication (see #4214 and #341) so users would have to configure that themselves.

Including a shortened link in the command line output for certbot scares me, unless EFF manages the shortened link, @starchy any interest in doing that?

Possibly under the prompt for the two it can link to a section in the documentation that explains what th

[2017-08-28 20:03] SwartzCr commented on #1114
@samlanning I think the issue is that it's trying to install certbot directly from pip, which specifies a version of acme that doesn't exist. Is there a way to get it to use a different installer, or to get the acme dependency before trying to install certbot?
For an example of how we usually install these dependencies when building a virtual env you can look at `certbot-auto`

[2017-08-28 20:05] starchy commented on #4961
@SwartzCr You can very easily manage this yourself. Please search our wiki or open an internal ticket if you need help, but this would not be a good place to document that.

[2017-08-28 20:05] SwartzCr commented on #4799
Also for reference our corresponding issue for augeas 15 is #2265

[2017-08-28 20:07] SwartzCr commented on #2364
Is this resolved by --renew-hook? @bmw

[2017-08-28 20:08] SwartzCr commented on #2427
We have removed support for amazon linux so I am going to close this issue. If the amazon linux team wants to package certbot they can get in touch with us (but have so far not responded to our requests to discuss this)

[2017-08-28 20:08] #2427 closed

[2017-08-28 20:09] SwartzCr commented on #2713
The instruction generator isn't using any copied text from the .rst files. I'm going to close this, since I think any re-use will be dealt with by including links