[2015-10-29 23:47] dhuseby commented on #1199
@kuba no, I didn't edit any files.

[2015-10-30 00:33] #657 closed

[2015-10-30 00:33] #932 closed

[2015-10-30 01:03] enygren commented on #180
+1 - I also have some IPv6-only hosts.  Some hosting providers are also now proving lower-cost offerings for IPv6-only.

[2015-10-30 01:03] TheNavigat commented on #1192
That is extremely weird.

I'm using a virtual machine to run Let's Encrypt.

[code]

These are the permissions for the folder, however, I can actually write to the folder. I think that is "somehow" managed by VirtualBox.

I copied the folder to the desktop and after setting the permissions correctly, and it worked. Spooky.

Sorry about that.

[2015-10-30 01:22] bmw commented on #1085
I'm closing this as a result of #1200. While I'm not certain #1200 solved the problem, we have no reports of the problem occurring using the code in that PR. If that changes, this should be reopened.

[2015-10-30 01:22] #1085 closed

[2015-10-30 01:38] TheNavigat commented on #1204
Reminds me with the problems we had with installing development dependencies for HTTPS Everywhere.

As far as I know, pip can install virtualenv correctly. I believe what should be done is moving virtualenv to a requirements list and using pip to install that, analogous to what's done in HTTPS Everywhere, https://github.com/EFForg/https-everywhere/blob/master/install-dev-dependencies.sh.

[2015-10-30 01:45] centminmod commented on #1204
maybe related https://community.letsencrypt.org/t/redhat-centos-6-x-users-need-python-2-7/2190/4

[2015-10-30 01:59] pde commented on #1202
If possible please send us all of the breaking conf files, so that we can make test cases out of them :)

[2015-10-30 02:16] pde commented on #981
If we don't, then the best option is to take then lens from 1.4 and start fixing bugs in it :(

[2015-10-30 03:12] TheNavigat commented on #1204
@centminmod I don't think so.

[code]

[2015-10-30 06:03] brainfoolong commented on #1190
Thanks for information and answers. I noticed webroot but thought it's not usable right now.
I'll do some more tests.

[2015-10-30 06:55] kuba opened #1207 "Release 0.0.0.dev20151030"
c8999f86a1bd62e2fa075d12b54de251bdb31e17 should be released as 0.0.0.dev20151030

[2015-10-30 07:02] pde commented on #1196
Looks like #963 didn't pan out perfectly. @douglasjose do you think you can help with this?

[2015-10-30 07:02] kuba commented on #1185
That also includes KGS.

[2015-10-30 07:04] pde commented on #1196
Oh, actually, I have one idea: is there by any chance a `python-virtualenv` package that you can install?

[2015-10-30 08:06] kuba commented on #1207
Done, PyPI uploaded, https://github.com/letsencrypt/letsencrypt/tree/v0.0.0.dev20151030.

[2015-10-30 08:06] #1207 closed

[2015-10-30 08:16] kuba commented on #1137
Since I personally find it very high priority, I will work on this during weekend.

[2015-10-30 08:32] pde commented on #930
@sagi has expressed some interest in working on this

[2015-10-30 09:01] justfortherec opened #1208 "Unable parse runtime variables in Apache 2.2"
39c83d17d7adb790ec68658a957481c73f63e7e0 adds the `-t` flag to `apache2ctl -t -D DUMP_RUN_CFG` in order to avoid erroneous detection of misconfiguration.

`letsencrypt` does not complain about misconfiguration anymore but fails when trying to parse output of `apache2ctl`:

[code]

No wonder, the output is basically empty:
[code]

Adding the `-t` flag seems but a part of the solution.

-------
Ther

[2015-10-30 12:34] #1192 closed

[2015-10-30 12:42] dakira commented on #16
@tillz any update on your implemenation?

[2015-10-30 13:11] thomassnielsen opened #1209 "Error about missing module ipaddress, even though it's installed"
Here's the output:

[code]

I have a feeling it might be related to python2 vs python3, but I'm not sure what to do about it. My default is python2.

[2015-10-30 14:04] denaje commented on #1198
Thanks for the help. I attempted to run `dialog` manually, and it failed due to not being able to find libncurses. Turns out ncurses recently put out a major version with a breaking ABI, so I simply updated all my packages, and dialog works again. Tried out the letsencrypt, and that works too.

[2015-10-30 14:04] #1198 closed

[2015-10-30 14:11] WarpinWolf commented on #1046
Joining to get updates....

[2015-10-30 16:19] ge0rg opened #1212 "Provide a more meaningful error if the user requests a punycode domain"
Hi,

I tried to request a cert for a punycode subdomain for 😸.op-co.de (`xn--z38h.op-co.de` as DNS-ID SAN and CN in the CSR) today, and the resulting response was:

While that host is not whitelisted, there should be a more appropriate response.

CSR (shortened):
[code]

I'm skipping the log as @jcjones made me aware on IRC that punycode is currently [forbidden in the code](https://github.com/lets

[2015-10-30 16:33] pde commented on #1208
flagging this for @neffs

[2015-10-30 16:37] mzsanford commented on #1196
Homebrew has a `pyenv-virtualenv` package, but installing that (`brew install pyenv-virtualenv`) that does not change the problem. The `/Users/matt/Library/…` in the output makes me very suspicious because `pip` is installed via Homebrew in `/usr/local`. That is what makes me thing it's some path issue with my multiple Pythons:

[code]

[2015-10-30 17:31] douglasjose commented on #1196
@pde , yes, I'll have a look.

[2015-10-30 17:45] pde commented on #1209
Hi!  What version of what OS are you running this on?

[2015-10-30 17:51] Lone-Coder commented on #94
Upvote!

[2015-10-30 17:54] samlanning commented on #1114
For reference for those with access, the full list of results can be found here: https://www.codingstars.com/projects/letsencrypt/rev/latest/results/

Get in contact with me if you are interested in getting access to the closed beta.

[2015-10-30 17:59] pde commented on #1195
We still need a README.txt file in the live directories to explain this stuff to the user at the right moment.  Also perhaps this error should be more informative :)

[2015-10-30 18:04] fxkr opened #1213 "letsencrypt-auto install didn't remove SSLCertificateChainFile statement"
I'm using Apache on Debian. I already had TLS configured, and thus had `SSLCertificateFile`, `SSLCertificateKeyFile` and `SSLCertificateChainFile` statements in my Apache site config.

letsencrypt-auto correctly replaced the values of the first two, but failed to change `SSLCertificateChainFile`, resulting in breakage.

Invocation:

[code]

Site config before invocation:

[code]

Apart from that,

[2015-10-30 18:10] centminmod commented on #1016
hopefully soon https://community.letsencrypt.org/t/multi-domain-san-certificate-and-webroot-auth/2493

Maybe this suggestion https://github.com/letsencrypt/letsencrypt/pull/757#issuecomment-1425074155

[2015-10-30 18:14] neffs commented on #1208
I didn't have time to fully solve it, https://github.com/letsencrypt/letsencrypt/commit/39c83d17d7adb790ec68658a957481c73f63e7e0 only fixed standalone.

Is DUMP_RUN_CFG really needed? Which values are needed from that?

[2015-10-30 18:16] schoen opened #1214 "Crash in storage.py if user deleted accounts directory"
Reported at https://community.letsencrypt.org/t/storage-py-nonetype-found/2529

If a user deletes the entire `accounts` directory, `storage.py` gives a crash on next run.

Deleting `accounts` without deleting the associated certs is not a recommended action (effectively it creates a referential integrity problem between the two), but maybe `storage.py` should be more robust and can give a more spe

[2015-10-30 18:18] schoen opened #1215 "Change the e-mail address associated with an account"
#1214 was originally discovered as a result of a user wanting to change the e-mail address associated with an account and not knowing how to do that. I don't think there's currently a documented way to do this, but there should be. This probably also requires changes on the boulder side and maybe an additional API...?

[2015-10-30 18:35] chk1 opened #1216 "Warning about port in use should appear earlier"
`The program nginx (process ID 12345) is already listening on TCP port 80. This will prevent us from binding to that port. Please stop the nginx program temporarily and then try again.`

From a usability standpoint I think it would be better to display this warning earlier in the process when running `letsencrypt-auto`, as I have to re-enter my domain names and go through all the steps. Maybe a ki

[2015-10-30 18:37] centminmod commented on #1214
what about auto backing up `accounts` directory to another location if it's that important ?

[2015-10-30 18:41] centminmod commented on #1216
+1 this would be much better and clearer for end users :)

[2015-10-30 18:42] the-real-tokai opened #1217 "Inaccurate Documentation for "manual" Plugin"
I'm not sure, if the GitHub issue tracker is the correct place to report this, but I noticed a small inaccuracy in the documentation at the following URL:
https://letsencrypt.readthedocs.org/en/latest/using.html#plugins

It states that the "manual" plugin must be used/ activated with `--a manual`. This triggers an error stating that the `--a` parameter is ambiguous. I guess, the documentation shou

[2015-10-30 18:54] hjacobs opened #1220 "Why not Python 3?"
Why is letsencrypt (as a new project) still using Python 2? Python 2 support will be dropped in major distributions like Debian/Ubuntu (https://lists.debian.org/debian-python/2014/05/msg00037.html) and migrating is always harder than doing it right the first time :wink:

[2015-10-30 19:37] eudoxos opened #1222 "Syntax error parsing apache configuration file (roundcube.conf stock)"
I encountered

     PluginError(('There has been an error in parsing the file (%s): %s', u'/etc/apache2/conf-enabled/roundcube.conf', u'Syntax error'),)

when running `letsencrypt-auto --installer apache` which was solved by moving the offensive `roundcube.conf` away temporarily. IIRC it is a stock config file for roundcube on Debian.  The file is as follows (can't attach, sorry):

    # Those ali

[2015-10-30 19:42] centminmod opened #1223 "Letsencrypt Certificate Manager used for deploying SSL certs"
With limited or no SSH access users https://community.letsencrypt.org/t/elementary-procedure/2534 who want to use Letsencrypt SSL certificates, they would need access to a server with SSH. What if they can generate the SSL certificate one 1 SSH enabled server and use Letsencrypt Certificate Manager to backup those SSL certs/keys and then use the Manager to redeploy them on another server ?

or wou

[2015-10-30 19:47] centminmod commented on #1220
i believe support will be back https://github.com/letsencrypt/letsencrypt/pull/957

[2015-10-30 19:59] codecat opened #1224 "Can't automatically configure Apache configs when using mod_macro"
I use mod_macro to configure my vhosts, so that I can do this:

[code]

But this is not recognized.

[2015-10-30 20:01] kuba commented on #1220
Only `acme` module (https://pypi.python.org/pypi/acme) supports Python3. Rest of the code is not compatible because it requires significant engineering effort: we try to cover as many platforms as possible, including dinosaurs with Python 2.6. I hope myself that support for Python 3 will land not so long after General Availability. I'm sure contributions after GA will be welcome. Now it's just too

[2015-10-30 20:06] kuba commented on #1217
Thanks for reporting, much appreciated! :) It should be `-a manual` instead of `--a manual`. I will work on better docs over weekend (#1137). I've already recognized the `A`/`I` ambiguity problem. I'll allow myself to close this issue as duplicate, so that we have a bit cleaner GitHub space.

[2015-10-30 20:06] #1217 closed

[2015-10-30 20:11] kuba commented on #1214
if we back it up to `/var/lib/letsencrypt/backups` users will also delete this one...

[2015-10-30 20:17] pde commented on #1220
Because we have to be installable on older systems that don't support Python 2, and coding for python 2 is the fastest way to get there.

[2015-10-30 20:17] #1220 closed

[2015-10-30 20:20] schoen commented on #1220
I would also add that we historically had tests for Python 3 and we were passing them so we will probably be relatively close to Python 3 compatibility in practice at launch, unless Python 2-only dependencies have come in since then.

[2015-10-30 20:22] kuba commented on #1220
That is not correct, @schoen. We never had tests for Python 3 apart from `acme`. For some time those `acme` tests were disabled, but they are enabled back in current `master`.

[2015-10-30 20:27] kuba opened #1225 ""install" requires --cert-path, but it's not in --help install"
[code]

[2015-10-30 20:32] kuba commented on #996
This leads to a very bad UX, IMHO. I just stumbled upon:

[code]

[2015-10-30 20:32] kuba commented on #1225
Closing as dupe of #996

[2015-10-30 20:34] kuba commented on #996
@pde, could you please look into that? I think it should be "1.0" issue.

[2015-10-30 20:42] #1225 closed

[2015-10-30 20:45] kuba opened #1227 "Broken "install""
[code]

@pde, I think it's the last call to start writing test. Every single CLI PR introduces regressions.

[2015-10-30 20:48] kuba commented on #1223
I don't understand your question :( Can you please rephrase it? Also, what Certificate Manager are you talking about?

[2015-10-30 20:52] hjacobs commented on #1220
Thanks for all the answers, I will be happy to contribute to move Python 3 forward :smile:

Yeah, got my first certs today :tada:

[2015-10-30 20:55] seraphyn opened #1230 "Idea: webroot-php can set Content-Type"
I had problems with the manual method at All-inkl.com

At least I made my way easy and made with:
`mkdir -p .well-known/acme-challenge/`
a directory in the webroot.

Startet letsencrypt with:
`./letsencrypt-auto auth -d DOMAINNAME --authenticator manual`
Then I wrote a php-file with name well-known/acme-challenge/$CRYPTICNAME.php and the content:

[code]

It worked.

IMO there should be an automat

[2015-10-30 21:02] kuba commented on #1230
That's what the `webroot` plugin is for: try it with `letsencrypt-auto -a webroot --webroot-path path/to/your/public_html`. The only thing that you need to do is to make sure that `Content-Type` is set up correctly.

Creating PHP files is a bit over-enginnering and non-generic solution - though it kind of solves the Content-Type problem. You can always [write your own plugin](http://letsencrypt.re

[2015-10-30 21:13] kuba commented on #1230
Maybe we could just have `--webroot-php` flag for that?

[2015-10-30 21:15] pde opened #1231 "--install should default to installing whatever certs you got with "letsencrypt certonly""
and only demand `--cert-path` and `--key-path` if none of those make sense.

[2015-10-30 21:17] kuba commented on #1231
I'm not sure if it should do it by default and surprise user. Having `--lineage $domain` that looks up stuff in `/etc/letsencrypt/live/$domain` would be nice.

[2015-10-30 21:32] wjdavis5 commented on #1216
+1 agreed this one got me for sure.

[2015-10-30 21:56] centminmod commented on #1223
The Certificate Manager mentioned at https://github.com/letsencrypt/letsencrypt/issues/729 and https://community.letsencrypt.org/t/tools-for-ssl-key-management/536

Basically, a mechanism for facilitating the transfer of LE SSL certificate/files from a ssh enabled VPS to a server without ssh enabled/shared hosting. That is assuming such Letsencrypt Certificate Manager doesn't require ssh access to

[2015-10-30 21:59] kuba commented on #1223
Certificate manager that @jdkasten is working on will require you to run `letsencrypt-auto` command which implies SSH access.

[2015-10-30 22:06] centminmod commented on #1223
ah i see.. so this not relevant :)

[2015-10-30 22:06] #1223 closed

[2015-10-30 22:13] kuba opened #1234 "renewer should use acme.client.Client.refresh"
`renewer.py` currently calls out to `le_client.obtain_certificate(sans)`, which does the entire authentication again and thus forces users to take down their webservers. We should use `acme.client.Client.refresh` which implements ACME Certificate Refresh.

[2015-10-30 22:13] #1227 closed

[2015-10-30 22:14] kuba commented on #1234
Blocked on https://github.com/letsencrypt/boulder/issues/359.

[2015-10-30 22:17] kuba opened #1235 "Document that CA will send notification emails before expiry"
This should land here: https://github.com/letsencrypt/letsencrypt/blob/v0.0.0.dev20151030/docs/using.rst#renewal

cc @jcjones

[2015-10-30 22:21] kuba opened #1236 "Use printf instead of echo -n"
See discussion in https://github.com/letsencrypt/letsencrypt/pull/1193. We want this both in bootstrap scripts and https://github.com/letsencrypt/letsencrypt/blob/v0.0.0.dev20151024/letsencrypt/plugins/manual.py.

[2015-10-30 22:24] kuba commented on #16
@xgin, from the Plesk team, has developed a Plesk plugin (https://github.com/letsencrypt/letsencrypt/pull/936) - it will soon live under https://github.com/plesk/letsencrypt-plesk.

[2015-10-30 22:25] centminmod commented on #1204
well partially related https://github.com/letsencrypt/letsencrypt/pull/1232 as python-virtualenv is not available in CentOS 6 base repo unless you install EPEL yum repo which probably needs to be in required software requirements in manual/documentation

[2015-10-30 22:41] kuba commented on #1201
Reporter was wrong. According to http://redmine.lighttpd.net/projects/lighttpd/wiki/Docs_SSL#Configuration it's a "PEM file for SSL support (Should contain both the private key and the certificate)".

[2015-10-30 22:44] pde commented on #990
I don't believe there is a way to make non-selectable dialog entries.  We could hide the plugin, but that's probably less informative than what we have now.  We could move the plugin into the description (saying something like, "you have the nginx and webroot plugins installed, but they are presently misconfigured") but I'm not sure that would be more helpful either.

[2015-10-30 22:46] kuba commented on #990
This is why I suggested that after picking the plugin we should verify it's not misconfigured and error out before we try to use it. That's a simple fix (3 lines + tests) and I think it should be still in 1.0.

[2015-10-30 22:47] pde commented on #1231
If the user just ran "letsencrypt" and the installer errored out, they will be surprised if "letsencrypt install' *doesn't* install the cert they were just given.  I know I was when I first tried it :)

[2015-10-30 22:48] kuba commented on #990
Or, instead of erroring, we can redisplay the dialog until "well-configured" plugin is chosen. Though this might require more coding.

[2015-10-30 22:56] devnsec-com commented on #1236
I've created PR #1238 for this.

[2015-10-30 23:10] fxkr opened #1239 "Docs: "letsencrypt revoke --key-path example-key.pem" doesnt work"
The docs say this should work: https://letsencrypt.org/howitworks/

(The deprecation warnings are because I'm running this on Debian Wheezy. Yes, yes, that server will go away soon.)

[code]

[2015-10-30 23:14] fxkr opened #1240 "Revocation fails, "Unable to load" (on Wheezy)"
On Debian Wheezy:

[code]

(Bonus points if you can tell me how to get these certificates revoked. I may have accidentally leaked some private keys. Oops ;)

[2015-10-30 23:19] TheNavigat commented on #1204
In that sense I believe you are correct.

[2015-10-30 23:22] pde commented on #1224
There are probably going to be lots of cases like this where some Apache module requires special handling.  Step one here would be to provide a clear error message if this situation applies.

Beyond that, actually emulating mod_macro in special cases or all cases sounds like a fun project for someone with strong CS skillz :)

[2015-10-30 23:23] fxkr commented on #1240
Oops, my bad. I gave it the CSR, not the certificate. What the hell am I doing?!

[2015-10-30 23:23] #1240 closed

[2015-10-30 23:24] pde commented on #1224
The error message would be a **Nice for 1.0** ticket.  Emulating mod_macro is definitely a wishlist ticket for now.

[2015-10-30 23:45] pde commented on #1239
The last line of the output is, `letsencrypt: error: argument --cert-path is required`

[2015-10-30 23:47] kuba commented on #1239
@pde, but that doesn't match what's written on https://letsencrypt.org/howitworks/ which implies that it should be possible to revoke by key

[2015-10-30 23:48] kuba commented on #1239
https://github.com/ietf-wg-acme/acme/blob/master/draft-ietf-acme-acme.md#certificate-revocation still allows to revoke by key, so `--cert-path` should not be required.

[2015-10-30 23:48] #809 closed

[2015-10-30 23:49] pde commented on #1239
We have to decide, is this a documentation bug or a UI bug?  In the long run, probably UI.  In the short run, probably a documentation bug.  Passing to @jdkasten since he's wrote those docs and is working on the cert manager.

[2015-10-30 23:51] pde commented on #788
I'm going to take this ticket for a while, and see what I can do with it.

[2015-10-30 23:59] bmw commented on #1231
We can certainly write some code to be aware of certs that were obtained by the client, but I don't think we should install them without some kind of prompt. I suspect we should do something like:
[code]

[2015-10-31 00:03] charlesay opened #1243 "apache install - Unable to finalize checkpoint"
after generating the certificates I was unable to make them operational, first by entering the paths in the apache-config files.

running `./letsencrypt-auto install --apache --cert-path /etc/letsencrypt/live/www.eiserneketten.de/cert.pem --key-path /etc/letsencrypt/live/www.eiserneketten.de/privkey.pem` results in the error
more extensive excerpt from the log, can't paste it here in full

    sys

[2015-10-31 00:11] bmw opened #1245 "Uninstalling Certbot"
As suggested by @centminmod, we should provide help for users who wish to uninstall Let's Encrypt. At a minimum, we need documentation on the process. Additionally, we could write an uninstall script that deletes the virtual environment, `logs_dir`, and `work_dir`. `config_dir` is a bit more complicated as we don't want to delete certificates and keys that the user may still be using.

[2015-10-31 00:25] fxkr opened #1246 "Missing docs: How do you revoke the account key (private_key.json)?"
`letsencrypt-auto revoke` seems to only be able to revoke certificates.

Also, when do these account keys expire?

[2015-10-31 00:43] centminmod commented on #1245
Also doesn't pip command for install have `--log` flag you could take advantage of ?

[2015-10-31 00:46] pde commented on #1216
I'd have marked this **2.0** but since several of you noted it as problematic, it's **nice for 1.0**.

[2015-10-31 01:07] ArchimedesPi commented on #1066
@kuba IIRC a person on IRC was asking you about this. Do you have the logs of that conversation?

[2015-10-31 01:24] pde commented on #1066
Since this seems to be unreproducible and rare, kicking it out of the launch blocker list for now.

[2015-10-31 01:24] ArchimedesPi commented on #1066
@kuba @pde [IRC logs of the bug report](https://gist.github.com/ArchimedesPi/a402a695d8b4047d82a7)

tl;dr:
- debian jessie
- KDE, Konsole
- weird prompt coloration
- `ls` highlighting is on
- sometimes the full text is printed, sometimes not

IMHO it's probably in our wrapper layer around argparse. It's *very* unlikely that argparse has a bug like this given how widely it's used.

[2015-10-31 01:40] pde commented on #1066
@ArchimedesPi agree it could be our wrapper layer in the abstract.  It could also be a bug in `configargparse`, or a bug in the way we use argparse.  A few things to try, if anyone has a clean reproduction of this:

* Does replacing `configargparse.ArgParser` with `argparse.ArgumentParser` fix the problem? (Obviously that won't work for the client in general, but it should probably be possible wit

[2015-10-31 01:49] bmw commented on #444
Note: We should hold off progress on this until proof of possession is less of a moving target.

[2015-10-31 07:27] zopyx opened #1247 "CentOS 6.7 issue: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connections to fail. For more information, see"
CentOS release 6.7 (Final)
Kernel \r on an \m

Creating virtual environment...
Updating letsencrypt and virtual environment dependencies...../home/ajung/.local/share/letsencrypt/lib/python2.6/site-packages/pip/_vendor/requests/packages/urllib3/util/ssl_.py:90: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause

[2015-10-31 07:30] zopyx opened #1248 "Name is not whitelisted?"
what does this mean?

An unexpected error occurred.
Error: unauthorized :: The client lacks sufficient authorization :: Error creating new authz :: Name is not whitelisted
Please see the logfiles in /var/log/letsencrypt for more details.

IMPORTANT NOTES:
 - If you lose your account credentials, you can recover through
   e-mails sent to info@zopyx.com.
 - Your account credentials have been saved

[2015-10-31 07:31] #1248 closed

[2015-10-31 08:43] nahuelange opened #1249 "Better errors when CA is down"
Hi,
Trying to generate the cert I got this error:

[code]

[2015-10-31 09:16] evrial opened #1250 "Bundle fullchain and privkey (weechat, quassel)"
See docs here:
https://www.weechat.org/files/doc/stable/weechat_user.en.html#relay_ssl

Some software uses just one file, but `cat` each renew would be a pain.

[2015-10-31 09:17] jleclanche commented on #1250
quassel core uses the same format: https://www.youtube.com/watch?v=yjpGh9ZDECs

[2015-10-31 09:17] jleclanche commented on #1250
quassel core uses the same format: http://quassel-irc.org/faq/cert

[2015-10-31 09:21] kuba commented on #1249
This seems to be transient CA unavailability - in fact it works for me now. I'm following up with the ops team. https://letsencrypt.status.io/ doesn't indicate any problems.

What we could do on client is to display "CA is down, see https://letsencrypt.status.io" in case of unexpected HTTP errors.

[2015-10-31 09:26] kuba commented on #1236
Fixed as of #1238.

BTW, @devnsec-com, you can include "fixes #NUM" or "closes #NUM" in your commits in order for bugs to be automatically closed

[2015-10-31 09:26] #1236 closed

[2015-10-31 09:29] shrikrishnaholla commented on #1216
I am planning on taking this up. Seems easy enough to begin with :+1:

[2015-10-31 10:57] kuba opened #1252 "explicitly disallow pip install -r requirements.txt"
We list almost everything, but `pip install -r requirements.txt`: https://github.com/letsencrypt/letsencrypt/blob/v0.0.0.dev20151030/docs/using.rst#from-source. IRC logs suggest we need to explicitly disallow this as well.

[2015-10-31 11:09] kuba commented on #1209
Please run `~/.local/share/letsencrypt/bin/pip list` and paste the **entire** output here. `pip list` is no good, because we use a separate virtualenv.

https://github.com/pyca/cryptography/blob/1.1/setup.py#L48 suggests it should be installed. @alex, is that a known issue?

[2015-10-31 11:28] PH1K3 opened #1253 "Unable to parse runtime variables"
i am runnin apache2 on debian and i cant get letsencrypt to install i keep getting the errror:
The apache plugin is not working; there may be problems with your existing configuration.
the error was: PluginError('Unable to parse runtime variables',)

they dont recommend installing the missing lib(ConfigArgParse) with python but after getting this error i tried anyways and got it to work with my ve

[2015-10-31 11:29] kuba opened #1254 "explicitly disallow messing with config and work dir contents"
Exceptions: `/etc/letsencrypt/cli.ini` and renewal config files.

[2015-10-31 11:31] kuba commented on #1253
Don't `pip install` anything, thanks! We also established on IRC, that this didn't fix your "Unable to parse runtime variables" problem.

Please paste `/var/log/letsencrypt/letsencrypt.log` contents.

[2015-10-31 11:32] PH1K3 commented on #1253
cat /var/log/letsencrypt/letsencrypt.log
2015-10-31 11:19:28,562:DEBUG:letsencrypt.cli:Root logging level set at 30
2015-10-31 11:19:28,563:INFO:letsencrypt.cli:Saving debug log to /var/log/letsencrypt/letsencrypt.log
2015-10-31 11:19:28,563:DEBUG:letsencrypt.cli:letsencrypt version: 0.0.0.dev20151030
2015-10-31 11:19:28,563:DEBUG:letsencrypt.cli:Arguments: ['--installer', 'apache', '--cert-path',

[2015-10-31 11:36] kuba commented on #1253
In the output you pasted, there is no mention of `ConfigArgParse`. It would be helpful to paste your apache configs over here.

[2015-10-31 11:39] PH1K3 commented on #1253
sure
cat apache2.conf
# This is the main Apache server configuration file.  It contains the
# configuration directives that give the server its instructions.
# See http://httpd.apache.org/docs/2.2/ for detailed information about
# the directives and /usr/share/doc/apache2-common/README.Debian.gz about
# Debian specific hints.
#
#
# Summary of how the Apache 2 configuration works in Debian:
# The A

[2015-10-31 11:40] kuba commented on #1253
Howe about `sites-enabled` contents?

[2015-10-31 11:40] kuba commented on #1253
Also, which OS are you running?

[2015-10-31 11:41] PH1K3 commented on #1253
debian 7

[2015-10-31 11:43] kuba commented on #1253
This looks a like a duplicate of #1208. Closing the issue, but feel free to dump more info.

[2015-10-31 11:43] #1253 closed

[2015-10-31 11:43] kuba commented on #1208
#1253 might have some more debugging info

[2015-10-31 11:53] kuba commented on #1196
@BKreisel?

[2015-10-31 12:37] kuba opened #1256 "bootstrap/venv.sh"
As suggested multiple times before, this file should probably be included from `letsencrypt-auto` or deleted otherwise. Currently it's not used anywhere and it's not mentioned in the docs. Maintaining both `letsencrypt-auto` and `bootstrap/venv.sh` is a hassle.

[2015-10-31 12:46] kuba commented on #640
This will be fixed in #1257.

[2015-10-31 12:46] kuba commented on #1046
This will be fixed in #1257.

[2015-10-31 12:46] kuba commented on #1078
This will be fixed in #1257.

[2015-10-31 12:49] kuba commented on #1173
With #1257 you will be able to call `LE_PYTHON=python2.7 letsencrypt-auto`.

If you can provide autodetection for your OS in `letsencrypt-auto` script and set `LE_PYTHON` appropriately, that would be awesome.

[2015-10-31 12:56] centminmod commented on #1247
you need Python 2.7 https://community.letsencrypt.org/t/redhat-centos-6-x-users-need-python-2-7/2190/

[2015-10-31 13:00] kuba commented on #1247
"A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connections to fail. For more information, see" is only a **warnining** as far as I can see, so it should not stop the installation from proceeding further.

Do you have any other errors, @zopyx?

@centminmod You should not need to install Python2.7. This will be fully fix

[2015-10-31 13:00] zopyx commented on #1247
Got it.

It would be nice if you could pass the path to virtualenv through the
commandline.

2015-10-31 13:57 GMT+01:00 George Liu (eva2000) <notifications@github.com>:

[2015-10-31 13:02] kuba commented on #1247
You can: https://github.com/letsencrypt/letsencrypt/blob/c39bc12b18bd0c6cf2058c2c2b9ff6dba6bf4ff1/letsencrypt-auto#L13 (`VENV_PATH=foo letsencrypt-auto`).

If you don't have any further problems, please close this bug. Thanks!

[2015-10-31 13:04] kuba commented on #1106
The project supports 2.6. #1257 should fix remaining issues. If it doesn't then please attach fixes based on the contents of that PR.

[2015-10-31 13:04] zopyx commented on #1247
With Python 2.6 I see an additional problem (I am not bound to Python
2.6...just reporting what I see on an old
heavily customized CentOS 6.7 system).

./letsencrypt-auto   --verbose
Updating letsencrypt and virtual environment dependencies...
Requirement already up-to-date: setuptools in
/home/ajung/.local/share/letsencrypt/lib/python2.6/site-packages
Requirement already up-to-date: pip in
/home/

[2015-10-31 13:05] kuba commented on #1247
This is also fixed with #1257.

[2015-10-31 13:07] kuba commented on #1247
Okay, I'm gonna close it, because we want off topic anyway. To summarize: problem from issue topic is only a warning, not an error.

[2015-10-31 13:07] #1247 closed

[2015-10-31 13:22] AngeloG commented on #1224
Would be very nice to have! Is there any way to manually set up my Apache config for now, though? (Or maybe it's possible to run the standalone plugin on a different port than 80 or 443?)

[2015-10-31 13:27] kuba opened #1258 "letsencrypt-auto should not require to git clone entire repo"
People are confused that running `letsencrypt-auto` from latest `master` gets them packages from PyPI and not bleeding edge.

Proof of concept for one of the solutions: https://github.com/kuba/letsencrypt/blob/auto.sh/letsencrypt-auto.sh. Thoughts? @pde, @bmw?

[2015-10-31 13:53] alex commented on #1209
@kuba nope, I haven't seen this before

[2015-10-31 15:18] centminmod opened #1260 "multi domain SAN SSL symlink directories ?"
I successfully created a multi domain SAN SSL with webroot authentication at https://community.centminmod.com/posts/20018/ for le8.http2ssl.xyz and le9.http2ssl.xyz domains.

However, the only resulting live directory created is for `/etc/letsencrypt/live/le8.http2ssl.xyz`. If folks are automating the process, they are likely to anchor a variable to domain name so I would be looking for both

`/et

[2015-10-31 16:13] schoen commented on #1123
According to my PR #1261 we should have 3 options at launch (`mozilla-secure`, `mozilla-intermediate` [default], and `mozilla-old`) with respect to the ciphersuites, and we should check periodically whether the strings in our code are up-to-date with Mozilla's recommendations. People can also lobby us to add other ciphersuite setting strings if they can make a case that there is a reasonably large

[2015-10-31 16:34] JHGitty commented on #16
Official support: https://github.com/plesk/letsencrypt-plesk

This issue can be closed.

[2015-10-31 16:35] kuba commented on #16
We still should keep it open in order to track status of whitelisting the plugin here: https://github.com/letsencrypt/letsencrypt/blob/v0.0.0.dev20151030/letsencrypt/plugins/disco.py#L19.

[2015-10-31 18:46] hydrargyrum opened #1264 "apache plugin can't parse owncloud.conf"
When running

    ./letsencrypt-auto -d DOMAIN.TLD  --apache auth

I get

    The apache plugin is not working; there may be problems with your existing configuration.
    The error was: PluginError(('There has been an error in parsing the file (%s): %s', u'/etc/apache2/conf-enabled/owncloud.conf', u'Syntax error'),)

Here's my owncloud.conf (straight from the debian owncloud package):

[code]

[2015-10-31 19:47] xZise opened #1266 "Unable to install certficiate to Apache"
I tried to obtain and install a certificate for Apache today and while I was able to obtain one, I wasn't able to install it. Apart from the fact that the command in the beta invite e-mail was using auth which is afaik not installing the certificate and you can't simply say “okay now install it”.

Anyway I got the following error:

    Cannot find a cert or key directive in
    /files/etc/apache2/

[2015-10-31 19:53] heypete opened #1267 "Minor errors in CPS"
The CPS available at http://cps.letsencrypt.org/ has some errors:

3.2.2.2 For DV-SSL Certificates, the CA provides a secure means of validating the Applicant’s control over, the device and domain name for which a Certificate is requested.
- There should be no comma between "control over" and "the device".

4.6.1 Circumstance for Certificate Renewal
A Certificate may be renewed if the Key Pair has

[2015-11-01 09:34] mfechner opened #1270 "Letsencrypt deinstalls postfix on FreeBSD"
Install letsencrypt and start it on FreeBSD with:
./letsencrypt-auto --agree-dev-preview --server https://acme-v01.api.letsencrypt.org/directory auth

It killed my complete mailsetup as it starts to install packages using pkg on FreeBSD and does not use the already installed packages.
It uninstalled postfix and installed sendmail, this can be seen as absolutely critical, this needs really to be fi

[2015-11-01 11:42] kuba opened #1272 "Extremely simple http-01 in apache"
How about implementing `http-01` for Apache? After writing #1268 I realized that the authenticator would not even have to touch users config - just drop a file in `/etc/apache2/conf-enabled/` with the following contents:

[code]

reload the daemon, drop necessary resources in `/var/lib/letsencrypt/apache-http01-root`, and voila!

The biggest advantage is that we might even get away without read ac

[2015-11-01 11:45] kuba opened #1273 "http-01 support in nginx"
It's not that simple as #1272, because you can't use `location{}` outside `server{}`, but we could add only `include /etc/letsencrypt/nginx-http01-location.conf` to all affected `server{}` stanzas. Less messing with user's config => better experience!

[2015-11-01 11:56] RealRancor opened #1274 "Don't set AcceptPathInfo Off in default config"
Hi,

it seems that ``AcceptPathInfo Off`` (https://httpd.apache.org/docs/2.4/en/mod/core.html#acceptpathinfo) is currently set in the default apache config of Let's encrypt:

https://github.com/letsencrypt/letsencrypt/blob/74b2e3bc515b5f7e805883a26f1b0e47ed686098/letsencrypt-apache/letsencrypt_apache/options-ssl-apache.conf#L13

This might break web applications like ownCloud which are using route

[2015-11-01 13:55] justfortherec commented on #1208
What variables are stored here exactly? What are they used for?

Output of `apache2ctl` is used in `letsencrypt/letsencrypt-apache/letsencrypt_apache/parser.py`

[code]

So the pattern to match variables is: `Define: <variable name>=<variable value>`

With a fresh installation of Apache 2.4 (on Ubuntu Wily), the following output is generated:
[code]

As far as I can tell, nothing matches the patte

[2015-11-01 15:07] neffs commented on #1208
Maybe @jdkasten knows what it is used for?

Deactivating it unfortunately doesn't solve the Apache 2.2 problems. Now I get a dvsni error.

[2015-11-01 15:48] jdkasten commented on #1208
Sorry, I have been a bit absent here. I am in the process of moving.

I am currently away from my computer, so I can't look at code, but you can
define variables in Apache configs.
IIRC
Define ssl_port 443
Define config_path /etc/path

Listen $ssl_port
Include $config_path

You can also do things like...
Define new_functionality
...
<IfDefine new_functionality>

At one point I had implemented it t

[2015-11-01 15:49] jdkasten commented on #1208
A soft fail might be a reasonable solution for the meantime.
On Nov 1, 2015 9:48 AM, "James Kasten" <jdkasten@umich.edu> wrote:

[2015-11-01 16:45] justfortherec commented on #1208
Apache 2.2 does not have a `Define` directive ([at least not documented](http://httpd.apache.org/docs/2.2/mod/core.html)). The only way of defining these variables in version 2.2 seems to be the `-D` command line option.

Would it be sufficient to parse `/proc/<pid>/cmdline` for them?

In any case, a soft fail seems to be a sensible solution for the time being.

[2015-11-01 18:29] bmw commented on #1258
In general, I support the approach of having users download a single script instead of cloning our entire repo.

With that said, I think anyway we go about this is going to increase complexity and make it harder for our users to understand what the script is doing. The two approaches I've seen proposed so far is this and the `letsencrypt-auto` super script that includes all of the OS bootstrap scr

[2015-11-01 19:12] centminmod commented on #956
i'd also be mindful that some folks have load balanced web servers and not just a standalone web server

[2015-11-01 19:29] kuba commented on #1250
this might be a duplicate of #1201, but I'm not sure

[2015-11-01 19:30] hlieberman opened #1275 "Clarify Copyright"
I'd like to see a bit more clarification about exactly who the copyright holders are for the code as it currently stands.  The documentation has 2014-2015, Let's Encrypt Project, while the LICENSE file says that it's 2015, EFF "and others".  I don't mind the generic blanket "and others" (though probably I'd use the language "contributors"), but Debian will want more clarity around who exactly owns

[2015-11-01 19:31] jleclanche commented on #1250
Yes it is.

[2015-11-01 19:36] kuba commented on #1201
I find docs pretty confusing:
[code]

What goes where?

[2015-11-01 19:38] ge0rg commented on #1212
Now this has become a merely cosmetic issue. Should I create a new issue (here or in boulder) for actually supporting IDNAs?

[2015-11-01 19:43] kuba commented on #1250
It's not, fixing titles.

[2015-11-01 19:44] kuba commented on #1201
Me thinks `ssl.pemfile == cert.pem + privkey.pem`, `ssl.ca-file == chain.pem`

[2015-11-01 19:47] kuba opened #1276 "pfx bundle"
https://github.com/letsencrypt/letsencrypt/issues/1062#issuecomment-150515907

related:
- #1201
- #1250

[2015-11-01 19:49] kuba commented on #1276
cc @turowicz

[2015-11-01 19:54] bmw commented on #1212
Not supporting IDNs is a Boulder issue which it appears they already have an issue for (see letsencrypt/boulder#597)

[2015-11-01 19:57] kuba commented on #1212
@ge0rg and we probably want to keep this issue open to fix error reporting on the client side

[2015-11-01 20:16] jleclanche opened #1277 "Generate dhparams.pem"
cf https://weakdh.org/sysadmin.html

Recommended ssl configs include this. LE could generate that alongside the certs.

[2015-11-01 20:32] kuba opened #1278 "Optional ConfigArgParse"
ConfigArgParse:
- might not be present on all platforms
- is causing us problems for py2.6

so why not make it optional? Starting point: https://github.com/kuba/letsencrypt/commits/configargparse-py27%2B (needs unittests)

[2015-11-01 20:41] kuba opened #1279 "certbot-auto and additional plugins"
I would like to see something along the lines of `LE_PIP_PKGS="letsencrypt-nginx git+https://github.com/plesk/letsencrypt-plesk" ./letsencrypt-auto ---configurator plesk`

[2015-11-01 20:41] evaryont commented on #1277
Just to be clear, you're only considering the generation of the dhparams file? Configuring the servers could be done in the plugins, and would require a consistent path. (Perhaps `live/dhparams.pem`?)

[2015-11-01 20:43] kuba commented on #1275
related to #211

[2015-11-01 21:04] AndreasFagschlunger commented on #1214
I was the bad guy who deleted the accounts directory and I wanted to mention that I've got the idea from the "Let's Encrypt Closed Beta Invite" mail where it says:

"This means you should avoid deleting the /etc/letsencrypt/accounts folder, or you may not be able to re-register."

[2015-11-01 21:12] jleclanche commented on #1277
Yes.

[2015-11-01 22:37] mpl opened #1280 ""Validation payload has improper value for field token""
Command used:
./letsencrypt-auto --agree-dev-preview -d granivo.re --server https://acme-v01.api.letsencrypt.org/directory -vvvvvvv auth

Output:
Failed authorization procedure. granivo.re (simpleHttp): unauthorized :: The client lacks sufficient authorization :: Validation payload has improper value for field token

IMPORTANT NOTES:
- The following 'unauthorized' errors were reported by the serve

[2015-11-01 22:40] kuba opened #1281 "nginx runs without checking for binary presence"
`apt-get remove nginx`, files in `/etc/nginx` left intact, plugin decides to continue:

[code]

This does not affect apache plugin as far as I can tell.

[2015-11-01 22:46] kuba commented on #1280
Thanks for report, I'll look into that soon.

Traceback to Boulder code: https://github.com/letsencrypt/boulder/blob/0335a8793f153215135f92ae540962fdfb612ec0/va/validation-authority.go#L118

[2015-11-01 22:58] kuba commented on #1280
What's striking is the lack of "Serving SimpleHTTP with token" debug message in the log (https://github.com/letsencrypt/letsencrypt/blob/v0.0.0.dev20151030/acme/acme/standalone.py#L112). Which most likely means that we never served the provisioned resource to the CA.

[2015-11-01 23:06] mpl commented on #1280
as per @kuba 's request on IRC, now with dvsni:

./letsencrypt-auto --agree-dev-preview -d granivo.re --server https://acme-v01.api.letsencrypt.org/directory -vvvvvvv --standalone-supported-challenges dvsni auth

output:
Failed authorization procedure. granivo.re (dvsni): unauthorized :: The client lacks sufficient authorization :: Correct zName not found for TLS SNI challenge

% cat letsencrypt.l

[2015-11-01 23:35] mpl commented on #1280
@kuba when you asked about my network setup, it gave me an idea of where to investigate. I do have a VPN running on that machine, and I do a bit of packet routing to direct some of that traffic to the VPN. Although that setup should affect only very specific things, and I wouldn't have expected it to affect letsencrypt (even though I don't know exactly what it requires), it seems that it does.

TL

[2015-11-02 05:02] xstaticxgpx opened #1283 "Error creating new authz"
Looking at old issues, this is caused by DNS look up issues on the ACME server?

I'm trying to register domains un1x.su/www.un1x.su (I got the beta invite email listing those domains)

Is the system expecting the PTR for the requesting IP to point to the domain? I'm trying to run from a residential server... any insight you guys could provide would be great.

[code]

[2015-11-02 05:51] #1235 closed

[2015-11-02 05:52] #555 closed

[2015-11-02 05:56] oliverjanik commented on #66
@rcc26 Where can I get free wildcard certs accepted by all major browsers? For environments like ELB on AWS you can only have one ssl cert per ELB. Wildcards solve real problems people have.

[2015-11-02 06:33] kuba commented on #1283
This is a duplicate of https://github.com/letsencrypt/letsencrypt/issues/1138. I have added a note in https://github.com/letsencrypt/letsencrypt/wiki/Known-issues#users.

@jsha is working on the fix, on the CA side: https://github.com/letsencrypt/boulder/issues/1048, https://github.com/letsencrypt/boulder/pull/1065.

[2015-11-02 06:33] #1283 closed

[2015-11-02 09:43] thomassnielsen commented on #1209
I'm running OS X 10.11.1. `ipaddress` is precent when listing from the virtualenv.

[code]

[2015-11-02 10:05] n3roGit opened #1285 "first start"
hey :)

after first run of:
####
./letsencrypt-auto --agree-dev-preview --server \ https://acme-v01.api.letsencrypt.org/directory auth
####
i get this error output:
####
An unexpected error occurred.
Error: unauthorized :: The client lacks sufficient authorization :: Error creating new authz :: Name is not whitelisted
Please see the logfiles in /var/log/letsencrypt for more details.

IMPORTANT NOT

[2015-11-02 10:44] chriscroome commented on #1272
Altough Apache doesn't appear to complain about having a `DocumentRoot` within a `LocationMatch` I'm not sure it is supposed to work -- there is no `directory` context for `DocumentRoot`:

I'd suggest using an `Alias` for this:

[code]

[2015-11-02 11:21] n3roGit commented on #1285
arg... my mistake...

i have used a not whitelisted domain.

CLOSE

[2015-11-02 11:21] n3roGit commented on #1285
close

[2015-11-02 11:21] #1285 closed

[2015-11-02 11:28] n3roGit commented on #1248
i Have the same problem with my whitelisted domains... any ideas?

An unexpected error occurred.
Error: unauthorized :: The client lacks sufficient authorization :: Error creating new authz :: Name is not whitelisted
Please see the logfiles in /var/log/letsencrypt for more details.
root@rbserver:/opt/letsencrypt# ./letsencrypt-auto --agree-dev-preview --server \https://acme-v01.api.letsencrypt.org

[2015-11-02 11:43] clayt0nk opened #1286 "./letsencrypt-auto --help begins installing, does not do "--help""
I am at commit cbb0e397e99a02a4ea93c406d067f182db5ea6a7

I went there looking for an explanation of how to simply generate a certificate while avoiding having this utility messing with my Apache config, which I would think would be the base case. After all, how many people run a web server and don't know how to configure (and want to maintain control of!!) their SSL configuration?

[2015-11-02 12:38] tohn commented on #1201
@kuba That's correct :)

[2015-11-02 12:52] jvehent commented on #1123
@schoen: Would it help if we provided the mozilla recommendations in JSON format published at a stable location? We're talked about it a few times, and letsencrypt would be a strong enough incentive to act on it :)

[2015-11-02 15:01] xamnesiax-sx commented on #1213
Semi-confident that I've found the problem. Will write a patch and issue a pull request when I get home from work

[2015-11-02 15:06] cjp opened #1287 "Name is not whitelisted"
When calling

[code]

for domain `0x1.net`, I receive:

[code]

despite being invited to the beta via email.

Full log file:
[code]

[2015-11-02 15:19] xamnesiax-sx commented on #1287
Try with http://0x1.net, or www.0x1.net. Could be a parsing / prefix error ( or feature ), in which case another issue may have to be opened. Worth a try, though.

[2015-11-02 15:21] xamnesiax-sx commented on #1287
Also, the server seems to be down, that is an issue, as it will attempt to compare the certificate acquired from the server with what you have locally.

[2015-11-02 15:23] xamnesiax-sx commented on #1287
I think the authentication process also relies on your server being online, as from what I recollect it will attempt to compare the cert received from the server with local certs / keys.

[2015-11-02 16:40] xamnesiax-sx commented on #1264
Could it be that the regex is hitting the "<" and ">" symbols and screwing up? Seems like a possibility, assuming you use RE for the config parsing.

[2015-11-02 17:39] krieger-od opened #1289 "Produced certs still not trusted?"
I'm happy with the fact that you have received signature from IdenTrust https://letsencrypt.org/2015/10/19/lets-encrypt-is-trusted.html
When to expect this tool to give us certs which are trusted by common browsers/devices?

[2015-11-02 17:40] krieger-od commented on #1289
Thanks for great easiness of cert generation anyway!

[2015-11-02 18:22] SwartzCr commented on #981
does anyone have a link to the httpd.lns file from v1.4? All I can find in the tarball is httpd.aug, and for various reasons I can't find a good place to install it to try to rip the lens file from /augeas/load/Httpd/lens

[2015-11-02 19:24] xamnesiax-sx commented on #1289
The expected release date is this month. At the moment letsencrypt will not provide trusted certificates to those whose domains are not on the Boulder whitelist, which consists of domains owned by selected beta testers. This will be the case until 1.0 is released later this month.

[2015-11-02 20:11] #1289 closed

[2015-11-02 20:20] rolandshoemaker commented on #1287
@xamnesiax-sx is correct about this being a dupe, as `0x1.net` CNAMES to `khujand.0x1.net` Boulder (the backend server) gets confused (ticket for this bug here: letsencrypt/boulder#1048), there is currently a fix in the works for this problem at letsencrypt/boulder#1065.

[2015-11-02 20:22] kuba commented on #1286
We need to install our dependencies before we can install ourselves and be able to produce output for `--help`.

`letsencrypt certonly` will issue certificates only. `letsencrypt certonly -a webroot --webroot-path /var/www/html`, `letsencrypt certonly -a standalone`, and `letsencrypt certonly -a manual` will not touch your Apache configs.

There are plenty of people that find it very hard to confi

[2015-11-02 20:22] #1286 closed

[2015-11-02 20:33] imreACTmd commented on #276
Latest ubuntu libssl-dev moved opensslconf.h from /usr/include/openssl to /usr/include/x86_64-linux-gnu/openssl/.

[2015-11-02 21:45] pde commented on #981
I believe the .aug files might actually be the lenses?  At least those are the files contained in the `augeas-lenses` debian package...

[2015-11-02 22:04] rugk commented on #374
Cross-linking to community discussion: https://community.letsencrypt.org/t/does-the-le-client-also-care-for-the-diffie-hellman-keys/2723

[2015-11-02 22:10] bmw commented on #1248
@n3roGit, there was a problem with our whitelist that affected a few domains that has now been fixed. Give it another shot and let me know if you're still experiencing the problem.

[2015-11-02 23:38] pde commented on #1275
@hlieberman would EFF and other Contributors work for you?

[2015-11-02 23:42] hlieberman commented on #1275
Yeah. Consistency is the most important thing. The docs and license need to
agree.
On Nov 2, 2015 6:38 PM, "Peter Eckersley" <notifications@github.com> wrote:

[2015-11-03 00:18] andygabby commented on #1287
The error was corrected. It should work now.

[2015-11-03 01:36] #996 closed

[2015-11-03 03:14] douglasjose commented on #1196
@mzsanford , I believe I managed to replicate your issue locally. It seems that a previous `virtualenv` installation is preventing `pip install virtualenv` from installing successfully.

If I undo the local changes made by `bootstrap/mac.sh` (with `pip uninstall virtualenv ; brew uninstall python`) and manually install `virtualenv` using `easy_install`

[code]

it installs `virtualenv` dependencie

[2015-11-03 04:02] paulschreiber opened #1293 "letsencrypt-auto updates on each run"
Every time I run letencrypt, like so:

    ./letsencrypt-auto --agree-dev-preview

I get this message:

    Updating letsencrypt and virtual environment dependencies......

Even if I just ran the client a few seconds before.

[2015-11-03 04:06] paulschreiber opened #1294 "LetsEncrypt fails to parse an Apache config file"
LetsEncrypt fails to parse an Apache config file

    $ ./letsencrypt-auto --agree-dev-preview --apache
    Updating letsencrypt and virtual environment dependencies......
    Running with virtualenv: sudo /home/paul/.local/share/letsencrypt/bin/letsencrypt --agree-dev-preview --apache
    The apache plugin is not working; there may be problems with your existing configuration.
    The error was:

[2015-11-03 06:27] bmw opened #1295 "JSON parsing logic"
JSON parsing logic is overly complex. The reason we use JSON is so that when you ingest messages, you can just do a `JSON.parse()` and go about your business. Instead, the client has this whole fancy encoder/decoder architecture. Is this necessary?

[2015-11-03 06:30] bmw opened #1296 "Client doesn't properly handle new messages/types"
This may largely be a dupe of #946, but the client often does not ignore things that it doesn’t recognize, meaning it unnecessarily and incorrectly fails when new (but perfectly legitimate) things come up.

[2015-11-03 06:33] bmw opened #1297 "Challenges classes are overly complex"
Three layers of abstraction for challenges is not necessary.

[2015-11-03 06:34] bmw opened #1298 "Challenges classes are overly complex"
Three layers of abstraction for challenges is not necessary.

[2015-11-03 06:45] kuba commented on #1298
Dupe of #1297.

[2015-11-03 06:47] bmw opened #1299 "Client is not factored into separate pieces"
The client needs to be more cleanly broken it to separate pieces and modules. This makes the client easier to understand, easier to use, and more maintainable.

[2015-11-03 06:50] bmw opened #1300 "Reliance on virtualenv"
The client's reliance on `virtualenv` makes it harder for both end users and developers to understand.

[2015-11-03 06:50] bmw opened #1301 "Too many dependencies"
Users/developers have reported that our project has too many Python dependencies. This is related to things being overly complex.

Here is pde's attempt to characterize what our dependencies currently are:

[2015-11-03 06:51] kuba opened #1302 ""Client does not support any combination of challenges that will satisfy the CA""
https://travis-ci.org/letsencrypt/boulder/jobs/88704098

For

[code]

we seem to be throwing `AuthorizationError: Client does not support any combination of challenges that will satisfy the CA.`

cc @bifurcation

[2015-11-03 06:52] bmw opened #1303 "Renewer needs cleanup"
The `renewer` is over-engineered in places and things such as what can be configured are not well defined.

[2015-11-03 06:53] bmw opened #1304 "Continuity Authenticator"
This is a relic from the old spec, over complicate things, and should be removed.

[2015-11-03 06:55] bmw opened #1305 "Command line parsing"
This is hacked together making it very hard for new contributors to understand what is going on.

[2015-11-03 06:56] #1298 closed

[2015-11-03 07:40] bifurcation commented on #1302
If you look through that the sequence of Travis runs in that PR, you can see that I tried offering the following sets of challenges (in each case, indicating that any one of the three would be sufficient):

* `simpleHttp, http-01, tls-sni-01`
* `dvsni, http-01, tls-sni-01`
* `simpleHttp, dvsni, http-01, tls-sni-01`

Only the last one worked.  That smells to me like the client expects to see both c

[2015-11-03 08:01] kuba commented on #1302
The error I pointed out corresponds to
[code]
so it was expected to fail if it couldn't find `dvsni` (`---standalone-supported-challenges dvsni`).

[2015-11-03 08:03] domcleal commented on #981
The .aug file is the lens, the .lns extension is kind of an internal reference.  The file httpd.aug provides the lens Httpd.lns.

If you want to load it in preference to the one in your distribution package, install it to /usr/share/augeas/lenses/, or put it in a directory and then set the environment variable AUGEAS_LENS_LIB.  The dir can also be passed as the second argument to the Augeas constr

[2015-11-03 08:09] kuba commented on #1302
It's the same for https://travis-ci.org/letsencrypt/boulder/jobs/88638699, but that one failed when we demanded `--standalone-supported-challenges simpleHttp`, and you only offered `dvsni`, `http-01`, `tls-sni-01`:

[code]

So, everything is working as inteded: our integration tests are properly catching, that Boulder didn't offer excepted (single) challenge. You can see what's happening on the in

[2015-11-03 08:24] bifurcation commented on #1302
To elaborate on what @kuba said, the issue is in the boulder integration tests -- they configure the client to require `simpleHttps` and `dvsni` exclusively, in separate tests.  So if one of those two is not enabled, the respective test will fail.

[2015-11-03 08:31] bifurcation commented on #1302
Correction: It's the client's integration test that sets the required challenge types.

So it seems to me that there are two bugs here:
1. The client integration tests should not fail if the server does not offer a challenge
2. The server integration tests should explicitly run the client, not blindly accept what the client does.

I could probably be convinced that (1) is not exactly the right way

[2015-11-03 09:11] svennek commented on #66
Actually the (open source) web-platform sandstorm (http://sandstorm.io) NEEDS wildcard to run, else it will be completely unprotected...

[2015-11-03 09:20] n3roGit commented on #1248
perfekt. now it works!!!

[2015-11-03 09:21] n3roGit opened #1306 "add subdomain"
Hey folks,

is it possible to add a subdomain to my whitelisted domain?

test.MyDomain.com or stuff

[2015-11-03 10:26] chriscroome commented on #1294
Is the problem caused by Apache configuration files not being valid SGML or XML and specifically the greater than and less than syntax in the `<ifVersion>` elements which is causing these issues?

For example:

[code]

Module documentation: https://httpd.apache.org/docs/2.4/mod/mod_version.html

[2015-11-03 13:40] mcepl commented on #276
It's https://gitlab.com/m2crypto/m2crypto/issues/69 now.

[2015-11-03 14:21] My1 commented on #1087
I think manual should get the highest priority because if manual is not done for a long time many systems (especially shared hosting or systems that cant run LE, where with manual we could get the cert from another computer and push it over) wont be able to get a cert while manual does not depend on anything except that you can do the validation.

[2015-11-03 14:30] PatrickHeppler opened #1307 "SSL Labs Chain Issue with fullchain.pem (Beta)"
I just signed with the Beta CA and got this from SSL Labs Server Test:

Certification Paths
Path #1: Trusted
1	Sent by server	heppler.net
Fingerprint: f3a2a3b2953eb91680dc0381d9f399c81053da31
RSA 2048 bits (e 65537)	/ SHA256withRSA
2	Sent by server	Let's Encrypt Authority X1
Fingerprint: 3eae91937ec85d74483ff4b77b07b43e2af36bf4
RSA 2048 bits (e 65537)	/ SHA256withRSA
3	In trust store	DST Root CA X

[2015-11-03 15:27] SwartzCr commented on #981
@domcleal yup, that's what I've done: https://github.com/SwartzCr/letsencrypt/blob/c0048d7480e7ba8b62baed3bfded465146c85156/letsencrypt-apache/letsencrypt_apache/augeas_configurator.py#L36

[2015-11-03 17:06] jsha opened #1308 "Stray "False False" in help output"
[code]

[2015-11-03 17:52] fire commented on #1173
Is that patch in the master branch yet?

[2015-11-03 18:01] kuba commented on #1302
1. Client integration tests **should** fail if the server does not offer the challenge. If Boulder has an error which forbids it from serving a challenge, how would we detect it? How else should we test that the implementation of all challenges in client and server is OK? In fact, I'm very happy to have tests that detect breaking change on Boulder side, such as in this case! You should not pull in

[2015-11-03 18:05] kuba commented on #1173
#1257 has not yet been merged to `master` (it's still green, rather than purple)

[2015-11-03 18:20] fire commented on #1173
Is there a better way of disabling the apache plugin than just disabling the lines? in letsencrypt-auto?

[2015-11-03 19:02] kuba commented on #1173
What do you mean by disabling it? Why do you want to do that?

[2015-11-03 19:15] fire commented on #1173
Is there a non invasive way of doing this?

[2015-11-03 19:35] kuba commented on #1173
Oh, I'm really sorry; lost context a bit! Does running `letsencrypt-auto` fail if Augeas (and other apache deps) are not installed?

[2015-11-03 20:35] hydrargyrum commented on #1264
What do you mean? LE-auto seems to use augeas for parsing the configuration.

[2015-11-03 21:36] TheNavigat commented on #1308
I know for a fact that this is caused by one of the recently merged PRs because I had to update my only 10 days old local repo to be able to reproduce this issue.

[2015-11-03 21:46] kuba commented on #1308
There are a couple of debug statements in the code that should be removed:
- https://github.com/letsencrypt/letsencrypt/blob/b1508f38506376faabe753b343b93c7aeaa96121/letsencrypt/cli.py#L552
- https://github.com/letsencrypt/letsencrypt/blob/b1508f38506376faabe753b343b93c7aeaa96121/letsencrypt/cli.py#L560
- https://github.com/letsencrypt/letsencrypt/blob/b1508f38506376faabe753b343b93c7aeaa96121/lets

[2015-11-03 21:46] kuba commented on #1308
@TheNavigat, would you like to fix it?

[2015-11-03 21:47] kuba commented on #1308
Also, https://github.com/letsencrypt/letsencrypt/blob/b1508f38506376faabe753b343b93c7aeaa96121/letsencrypt/cli.py#L658 should be changed to `sys.exit(usage)`

[2015-11-03 21:49] TheNavigat commented on #1308
@kuba Yes, please. I've actually spent 15 minutes trying to understand why that happens, and the only progress I made was that it's probably in cli.py. It looks like I'll need way more time to understand how this works than I did with HTTPS Everywhere.

I'll create a pull request in a few.

[2015-11-03 21:49] chriscroome commented on #1264
It appears to me that augeas was fixed to work with the following syntax https://github.com/hercules-team/augeas/issues/154

[code]

But was it fixed to work with this?

[code]

[2015-11-03 21:56] chriscroome commented on #1294
I suspect the problem here is the same as https://github.com/letsencrypt/letsencrypt/issues/1264 -- augeas appears to error on a less than in a `<IfVersion>` element:

[code]

[2015-11-03 21:59] TheNavigat commented on #1305
Yep, that is true, it is very hard for new contributors to understand what is going on ._.

[2015-11-03 22:05] kuba commented on #1308
My comment about `sys.exit` was wrong: `sys.exit("string")` will trigger non-zero exit code, but for `--help` we should still return 0, sorry!

[2015-11-03 22:13] chriscroome commented on #1202
There appears to be another issues with the use of less than in `<IfVersion>` in defailt Debian Apache config files, see:

* https://github.com/letsencrypt/letsencrypt/issues/1264
* https://github.com/letsencrypt/letsencrypt/issues/1294

[2015-11-03 22:43] #1308 closed

[2015-11-03 23:07] devnsec-com commented on #1300
This was probably because we do not want to pollute system.

But to be honest, I'd prefer to `pip install ...` or `yum/apt-get/etc. install ...` instead of run a script to create a `virtualenv` and install everything into it, and the reason is very simple: it's easy to uninstall/remove when I do not need it anymore.

[2015-11-03 23:18] xamnesiax-sx commented on #1300
@devnsec-com Pretty sure there was a conversation about this in IRC the other day. Dist based packaging is being looked in to, although it would be nice if there was an external APT / Yum repo set up. You'd have to ask someone like @kuba about that, though.

[2015-11-03 23:23] xamnesiax-sx commented on #1202
@chriscroome Indeed. It seems that Augeas in general is breaking when special chars are included in the directives. E.g. using logic operators such as ">" and "<" in the tags (if I'm correct) causes Augeas to break. Check replies to #1264 for extra info.

[2015-11-03 23:23] SwartzCr commented on #1042
I'm going to take a look at this tomorrow, @jdkasten do you have any advice for me?

[2015-11-03 23:26] pde commented on #1305
Rewriting the CLI in a fundamental way would be ideal, but won't happen until 2.0 at the earliest.  Realistically in the mean time, we could add a brief into doc in cli.py that explains the HelpfulArgumentParser and the way the plugins enter into the CLI.

[2015-11-03 23:27] pde commented on #1300
Unless we vendorise python-cryptography, we need virtualenv.  But we could in fact vendorise it...

[2015-11-03 23:28] pde commented on #1300
My instinct has been that virtualenv will go away as we're packaged by distros.  Which means that fixing this is more or less wishlist for our tree.

[2015-11-03 23:34] pde commented on #1301
We should be able to remove some of them.  At some point we could go from needing argparse (which isn't a non-Python dependency), configargparse, and configobj, to needing zero or one of those.

Perhaps we one day we can get rid of PyOpenSSL.

We have three time-related dependencies, pyrfc3339, parsedatetime, pytz.  Perhaps we can rationalise those.

[2015-11-03 23:41] bmw commented on #1306
Unfortunately, if you want subdomains whitelisted, you have to request them for the beta as well (see [this](
https://community.letsencrypt.org/t/subdomains-during-beta/2062)).

I'm closing this issue as it's not a problem with the Python client which this repo is for.

[2015-11-03 23:41] #1306 closed

[2015-11-04 00:22] bmw opened #1310 "Clarify purpose of --email"
This is another good issue pointed out by @centminmod. How is `--email` actually used? If you're automating running `letsencrypt`, should the flag be included every time? Does it need to be the same e-mail address each time? What happens if it's different?

The current behavior is `--email` is only used if you're creating a new account with the ACME server, otherwise the flag is ignored. Is this t

[2015-11-04 00:50] centminmod commented on #1310
thanks @bmw the original context of my question at https://community.letsencrypt.org/t/clarify-the-email-flag-requirements/2603

[2015-11-04 00:52] simonsmiley commented on #1214
I guess letsencrypt should provide means of deleting accounts with all the associated certs/keys/....

[2015-11-04 01:19] bmw commented on #1310
The value is saved on the ACME server as well as locally in a JSON file locally. The local copy is in the configuration directory, so using the default paths, its location would look something like:
[code]
where the values between the brackets are replaced with their respective values.

[2015-11-04 03:00] centminmod opened #1311 "documentation - clarification of manual mode"
Not sure when or where it started but on the forums, a few folks have got the incorrect idea than manual mode and webroot authentication doesn't need SSH/terminal access

but AFAIK, unless something has changed https://letsencrypt.readthedocs.org/en/latest/using.html#plugins manual mode as well as webroot authentication still needs SSH/terminal access just not on the same server for manual ? That

[2015-11-04 03:09] Japh commented on #543
I came up on this error too, so I grepped the nginx directory to find where the other entry was and changed my letsencrypt config so the times matched.

That is, in my letsencrypt version I had
[code]

But a line in another config had `20m`, so I changed it to `20m` and all good!

[2015-11-04 03:25] BKreisel commented on #1196
Another option might be adding the default OS X site-packages directory to the path or a pip `--user` directory. That would only work until the reboot and feels a bit hacky.

We could also put a check in that looks for the default installation that asks the user to either permanently add to path or replace it with a pip version or something.  Neither of these sound like very clean solutions though

[2015-11-04 05:39] marcusds commented on #1294
Issue seems to also to extend to elements such as `<IfModule mod_ssl.c>`, not even just when there is a greater than or less than symbol involved.

[2015-11-04 06:07] m1keil commented on #334
I would actually suggest you guys to try the [Omnibus](https://github.com/chef/omnibus) path instead, to create full stack installers. If I understand correctly, your client is pluggable, which is painful when you freezing Python stuff.

Another potential issue there is that your code might need to change in order to adapt to being in frozen state.

[2015-11-04 06:27] kuba commented on #1311
Manual mode does not need SSH/terminal access. When it stops to prompt the user  it displays the following message (https://github.com/letsencrypt/letsencrypt/blob/v0.0.0.dev20151030/letsencrypt/plugins/manual.py#L42-L53):

[code]

The displayed example command does require SSH and terminal access. You could however set `{validation}` and `{ct}` using other methods. Indeed, we might need to clarif

[2015-11-04 06:28] kuba commented on #1311
I'll close it as a dupe of #1137.

[2015-11-04 06:28] #1311 closed

[2015-11-04 07:12] DylanLyu opened #1312 "Can I use the universal domain it?"
Can I use the universal domain it?

Ex:
I applied for domain ssl,"wisfish.com".
Subdomains,"test.wisfish.com",can also use "wisfish.com" authenticate?

[2015-11-04 07:17] sdroege opened #1313 "letsencrypt-auto: Uses #!/bin/sh but requires bash"
E.g. with fish:

$ fish ./letsencrypt-auto
Unsupported use of '||'. In fish, please use 'COMMAND; or COMMAND'.
~/Projects/letsencrypt/letsencrypt-auto (line 24):   if [ "$arg" = "-v" ] || [ "$arg" = "--verbose" ] || echo "$arg" | grep -E -- "-v+$" ; then

Workaround would be to use #!/bin/bash instead

[2015-11-04 07:38] greeny opened #1315 "Installing - Command exited with error code 1"
Hi, I recently cloned letsencrypt and then run this command (domain excluded):

    sudo ./letsencrypt-auto -d ***.org -d apps.***.org --agree-dev-preview --server https://acme-v01.api.letsencrypt.org/directory run

But I got this output:

    Updating letsencrypt and virtual environment dependencies.....
    Command "/root/.local/share/letsencrypt/bin/python2 -c "import setuptools, tokenize;__fil

[2015-11-04 07:40] bluecmd commented on #1312
Yes, but for the beta you have to submit individual requests for every subdomain. See https://github.com/letsencrypt/letsencrypt/issues/1306 and https://github.com/letsencrypt/letsencrypt/issues/355

[2015-11-04 07:42] SunboX opened #1316 "Failed authorization procedure. xxx (dvsni): connection :: The server could not connect to the client for DV :: Failed to connect to host for DVSNI challenge"
I got my closed Beta invite today. Thank you very much! :smile: I tried to update my certificate on my personal home server running apache2 on Raspbian on Raspberry Pi 2.

As Domain I entered `just.4be.mobi` and got the error message

[code]

## Full Log

[code]

[2015-11-04 07:44] bluecmd opened #1317 "Use a shorter DNS cache on the server-side"
Hi,

I tried using my letsencrypt on an unconfigured domain and got back that the domain couldn't be resolved. Fair enough. I configured the domain and "dig +trace domain.tld" looks fine, however I still receive the following error:

[code]

Note: domain.tld isn't the real domain.

My guess is that the previous (negative) response remains cached on the server side.

[2015-11-04 07:46] kuba commented on #953
I have verified  with 2 releases now. This problem has been after updating to latest twine.

[2015-11-04 07:46] #953 closed

[2015-11-04 07:47] pde commented on #1313
|| is not a bash-ism.  It's part of the [POSIX shell standard](http://pubs.opengroup.org/onlinepubs/009695399/utilities/xcu_chap02.html).  The letsencrypt-auto shell is tested with [dash](https://en.wikipedia.org/wiki/Almquist_shell), and should in theory work with any POSIX shell.

However fish is apparently [not POSIX compliant](https://github.com/fish-shell/fish-shell/wiki/POSIX-compatibility-t

[2015-11-04 07:47] #1313 closed

[2015-11-04 07:51] kuba opened #1318 "Remove testing packages from PyPI"
@pavel-paulau, could you please remove the following package from PyPI: https://pypi.python.org/pypi/3ab8c7d15dcda79f1a5cde4f39b06614/0.0.0.dev20151024. It's showing up, when querying for letsencrypt: https://pypi.python.org/pypi?%3Aaction=search&term=letsencrypt&submit=search

Unfortunately, all other letsenncrypt-nginx-\* packages, although already removed, are also visible in the results. Would

[2015-11-04 07:52] kuba commented on #1317
That should be reported on the Boulder repo: https://github.com/letsencrypt/boulder. I don't think we can do much on the client side.

[2015-11-04 07:56] kuba opened #1319 "Release 0.0.0.dev20151104"

[2015-11-04 07:56] kuba commented on #1319
https://github.com/letsencrypt/letsencrypt/releases/tag/v0.0.0.dev20151104, everything uploaded to PyPI

[2015-11-04 07:56] #1319 closed

[2015-11-04 07:57] pde commented on #1307
There isn't a problem here.  We don't expect Path 2 to be used by many clients in the near future -- it'll require lots of clients to include the Let's Encrypt root, which will take time, and then the introduction of second intermediate CA (the "extra download") one.

[2015-11-04 07:57] #1307 closed

[2015-11-04 07:59] pde commented on #1316
Are connections to just.4be.mobi on port 80 and/or 443 possible from the outside world?

[2015-11-04 08:02] domcleal commented on #1264
@hydrargyrum which OS + version are you on?  Can you check the version of Augeas?

[2015-11-04 08:03] pde commented on #1315
You don't need to run "letsencrypt-auto" with sudo; it will call sudo itself for the particular tasks that require root.  If you get the same error when running as a user, can you paste the full output of
`./letsencrypt-auto -vvvvvv --debug -t`?

[2015-11-04 08:03] domcleal commented on #1294
Which OS and version are you on?  Can you check the version of Augeas?

[2015-11-04 08:03] kuba opened #1320 "letsencrypt-auto should save debug logs"
`letsencrypt-auto` by default should save all installation logs, somewhere; `/var/log/letsencrypt/letsencrypt.log` contains only logs from the `letsencrypt` binary itself, so debugging broken users is harder.

[2015-11-04 08:06] hydrargyrum commented on #1264
I'm using debian sid, with libaugeas0 1.2.

[2015-11-04 08:11] greeny commented on #1315
Full output:

http://pastebin.com/xCw6YCyV

[2015-11-04 08:12] kuba commented on #1315
`virtual memory exhausted: Cannot allocate memory`

[2015-11-04 08:13] kuba commented on #1315
Are you running `letsencrypt-auto` on some embedded system? If not, free up some memory! :)

[2015-11-04 08:13] domcleal commented on #1264
Yeah, that's missing the fix that @chriscroome mentions, which is in Augeas 1.3.0+.  I don't know why the maintainer hasn't updated it in unstable yet.

[2015-11-04 08:14] greeny commented on #1315
I see it now, but the problem is, I am on VPS, where I have limited RAM to 1 GB

[2015-11-04 08:18] pde commented on #1315
Ok, closing as a dupe of #1081.

[2015-11-04 08:18] #1315 closed

[2015-11-04 08:21] SunboX commented on #1316
I'm at work now. Will check this in 9 hours and let you know.

[2015-11-04 08:34] f0086 commented on #1046
Thanks! I've tried your branch/repo and it worked!
Waiting to merge into master ...

[2015-11-04 09:49] josch opened #1321 "Implement --manual-pipecmd"
Hi,

this is an idea of how to fix issue #1015. It would be useful in situations where letsencrypt cannot be run on the server in question. A new commandline option `--manual-pipecmd` would receive an argument like:

    'ssh myserver "cat > /tmp/letsencrypt/public_html/%TOKENPATH%"'

When executing `letsencrypt --authenticator manual` with above value for the `--manual-pipecmd` option, the manual

[2015-11-04 10:17] charno commented on #1201
FYI: My workaround is simple: `$ cat /etc/letsencrypt/live/<domain>/privkey.pem /etc/letsencrypt/live/<domain>/cert.pem > /etc/letsencrypt/live/<domain>/combined.pem`, lighttpd.conf is
`ssl.pemfile = "/etc/letsencrypt/live/<domain>/combined.pem"
ssl.ca-file = "/etc/letsencrypt/live/<domain>/chain.pem"`

[2015-11-04 11:13] MiaP97 opened #1322 "http-01 provisioned resources and newlines"
For some reason the Litespeed Webserver for my shared hosting appears to add new-lines to text/plain files meaning that the acme challenge fails due to there being a "\n" at the end, it'd be great if LE accepted the \n or knew to remove the \n as I can't find a way to stop it having a \n in the HTTP response (I tried nano -L and echo).
It was returned as a text/plain file (ForceType text/plain in

[2015-11-04 11:25] marcan commented on #428
It would be nice if the plugin could be passed the name of the domain (or list of domains) as part of the restart() method, or have some other function invoked to notify of the changed certs. I'm writing a simple plugin that just shells out to a shell script for authentication requests, so that you can easily integrate it with custom server configs. This includes multiple server types, e.g. the sh

[2015-11-04 11:43] hansharhoff opened #1323 "Certificate signed but not installed"
I followed the instruction from the BETA email as follows:

[code]

and I fill out the desired hostname etc.

I receive this response:

[code]

Indicating that Let's encrypt was succesful, but no indication of what further action is needed on my part. I was using a self-signed certificate which is still the one being used by apache2.

1) It was my understanding that running the letsencrypt should

[2015-11-04 12:22] scharfie opened #1324 "Failed authorization with: "The client lacks sufficient authorization :: Correct zName not found for TLS SNI challenge""
Hello,

Sorry if this is a duplicate, but the message I'm getting seemed a little different from the other tickets regarding failed authorization.  I'm in the beta, trying to generate the cert for www.marmaladeskies.com (listed in the beta invite), and I get this:

[code]

And the log:

[code]

[2015-11-04 13:37] marcan opened #1325 "renewer does not use full path when accessing config files"
`os.listdir` returns basenames only, not full paths:
https://github.com/letsencrypt/letsencrypt/blob/master/letsencrypt/renewer.py#L171

This makes the renewer only work if it is run from the `/etc/letsencrypt/renewal` directory. `cli_config.renewal_configs_dir` needs to be prepended to `renewal_file`.

[2015-11-04 13:39] jgelens commented on #363
Including example.org when creating www.example.org is pretty common. SSL server test tools also check this. This shows up for ssllabs: ``Prefix handling: Not valid for "example.org"   CONFUSING``. Creating 2 certs for this use-case would be inconvenient.

[2015-11-04 13:43] xtaran commented on #341
I ran into this, too. There would be no need to shutdown `sslh` if we could say `letsencrypt` should configure/require Apache to use a given port, e.g. 442 in my case, but still *test* port 443 which then `sslh` will forward to 442.

Everytime I use `letsencrypt install` it breaks my Apache configuration by re-adding port 443 despite this is not necessary.

[2015-11-04 13:44] marcan opened #1326 "renewer fails due to http01_port = None"
By default, letsencrypt writes `http01_port = None` to the renewal config file. However, the renewer expects an int, and fails:

    Traceback (most recent call last):
      File "/usr/bin/letsencrypt-renewer", line 9, in <module>
        load_entry_point('letsencrypt==0.1.0.dev0', 'console_scripts', 'letsencrypt-renewer')()
      File "/usr/lib64/python2.7/site-packages/letsencrypt-0.1.0.dev0-py2

[2015-11-04 14:01] backav opened #1327 "Error: serverInternal :: The server experienced an internal error :: Error creating new authz"
## whole logs here:

[code]

[2015-11-04 14:09] mitnk commented on #1327
see [Known issue](https://github.com/letsencrypt/letsencrypt/wiki/Known-Issues) No 2.

[2015-11-04 14:14] li-xiangyang commented on #1327
@mitnk  what can i do ?

[2015-11-04 14:35] clarkeandrew opened #1328 "LetsEncrypt's Apache plugin uses dummy placeholders in the generated apache conf"
When using letsencrypt-auto, the generated apache vhost file is created correctly but the location of the certs is not specified in the file :

i.e.

[code]

It looks like this is quite intentional in the code but im not sure why (https://github.com/letsencrypt/letsencrypt/blob/master/letsencrypt-apache/letsencrypt_apache/configurator.py#L579)

Furthermore just specifying the cert and key doesn't

[2015-11-04 14:38] tomtastic commented on #489
zestysoft : It does look a bit bad that users of letsencrypt can't get a perfect score on ssllabs.com doesn't it.

[2015-11-04 14:40] mitnk opened #1329 "Self-verify failure - New Line Char Issue - Can we strip/trim string before compare?"
Hello LE team,

When we write a string into a file to let say nginx to host. The editor say vim will usually append an `\n` char at then end of file. This is such a common issue, that could we make the compare more friendly to trim the string?

See the following log to see more information.

[code]

[2015-11-04 15:04] TheBigBear opened #1330 "./letsencrypt-auto: line 88: /root/.local/share/letsencrypt/bin/pip: No such file or directory"
If I run the ```letsencrypt-auto``` after I had run the install cmd which ran fine and with no errors afaict. I now get:

[code]

[2015-11-04 15:13] jooize commented on #489
**Let's Encrypt supports longer keys.** 2048-bit is the *default*.

I think @lewisgoddard is making good arguments, and I've yet to see a counterpoint against longer keys that isn't “other things can go wrong” or “speed”.

Why is the default 2048-bit? Instead of asking “why larger”, shouldn't the question be “why not larger”?

Untested? I guess there might be issues with longer keys that haven't b

[2015-11-04 15:20] clarkeandrew commented on #1328
I realise now that this may be the default behaviour for the 'auth' mode of letsencrypt. Is this the case?

[2015-11-04 15:33] mitnk commented on #1327
Have to wait LE to fix the issue on server side. I have a .COM worked, but one .WANG has the same issue.

[2015-11-04 15:35] backav opened #1331 "Error creating new registration :: No MX record for domain xiangyang.li"
### logs here:
[code]

[2015-11-04 16:00] mitnk commented on #1331
is `wo@xiangyang.li` a valid email? try use a different one.

[2015-11-04 16:19] pde commented on #998
We need to determine whether #809 did or did not fix this.  I'm going to try to reproduce it now.

[2015-11-04 16:21] a1exus opened #1332 "Undefined symbol "CRYPTO_malloc_debug_init" on FreeBSD"
I'm trying to follow `Quick Start` and I'm getting some errors:

[code]

[2015-11-04 16:28] pde commented on #998
@jdkasten confirmed that this is still present.  As a failure to keep config files sane, I think this is an extremely urgent bug.

[2015-11-04 16:30] pde commented on #788
I have an early start on this, but jsha has convinced me that we should kick this out of 1.0 at least until the various showstoppers are done.

[2015-11-04 16:30] andyboeh commented on #341
I just got accepted to the beta and tested the webroot authentication method: it works perfectly fine. As I prefer configuring my server by hand anyway, it's the perfect solution for my use-case.

[2015-11-04 16:35] IzzySoft commented on #1293
That annoyed me as well, so I've [patched letsencrypt-auto](http://pastebin.com/v78bvuaT) to do that no more than once a day (interval configurable). Unfortunately I cannot attach the diff here, hence I've posted it to pastebin. It's rather a "quick-and-dirty hack" (so I didn't feel like forking and submitting a pull request for that), but it works. Certainly could need some improvements – e.g. ha

[2015-11-04 16:36] TheBigBear opened #1333 "AttributeError: 'module' object has no attribute 'SSL_set_tlsext_host_name'"
if I run a ``` ./letsencrypt-auto --agree-dev-preview --server https://acme-v01.api.letsencrypt.org/directory auth```

I only get a:

[code]

[2015-11-04 16:36] animetauren commented on #1332
Try doing the pip update to 7.1.2 and try again. Just a suggestion.

[2015-11-04 16:40] TheBigBear commented on #1330
OK, I was/am runing on rhel and needed to upgrade python to 2.7 first. as suggested by:
https://community.letsencrypt.org/t/redhat-centos-6-x-users-need-python-2-7/2190
and after that i also needed to install gcc44 for the install to succeed.

Now that I have done that I am past this error in this issue, but now I get the following: https://github.com/letsencrypt/letsencrypt/issues/1333

[2015-11-04 16:51] animetauren commented on #1280
This issue is also being seen in [Bug#1316] (https://github.com/letsencrypt/letsencrypt/issues/1316) & [Bug#1324] (https://github.com/letsencrypt/letsencrypt/issues/1324).

I am running this off a VM in Azure. Any help would be welcomed.

[2015-11-04 16:58] mpl commented on #1280
@animetauren I would try stopping any VPN you might have running, cleaning up your packets routing (with iptables and ip route), and stopping your web server (just long enough to gen the certificate). Sorry for not being more precise; one of these was the culprit in my case and I haven't investigated which one exactly yet. My setup is not very complicated but a bit exotic probably.

[2015-11-04 17:01] SunboX commented on #1316
yeah, the routing was messed up. Works now! :yellow_heart:

[2015-11-04 17:01] #1316 closed

[2015-11-04 17:02] animetauren commented on #1280
@mpl thanks, my VM is not going through any VPN though, or any specified routing rules. Literally just have a CentOS VM running with no modifications in terms of connection. I am not hosting the site on my VM though, i am using Azure WebApps to host my site. Could this be an issue??

[2015-11-04 17:10] mpl commented on #1280
@animetauren Sorry, I'm not familiar enough with the LE protocol, and I don't know anything about Azure WebApps, so I'm clueless about your specific problem. if you can afford it, maybe you could try to temporarily move your website (or a mock of it) to another location to see if that's the problem ?

[2015-11-04 17:12] marcusds commented on #1294
I am on Ubuntu 15.10
Augeas is version 1.3.0

[2015-11-04 17:16] pde commented on #1264
If as @domcleal says this was fixed in Augeas 1.3.0+, this issue should be resolved when #1291 lands.  But let's confirm that and add a test case if we can.

[2015-11-04 17:20] pde commented on #1274
@jdkasten do we need this for some reason?  If so, can we deploy it only temporarily during authentication, and/or scope it to tls-sni vhosts only?

[2015-11-04 17:21] pde commented on #1243
@charlesay is there any chance you could send us a copy of your apache configuration?

[2015-11-04 17:24] pde commented on #1043
@jdkasten so the only thing that would break if we remove sites-available from the search path is enablement of vhosts that the admin has set up but not actually deployed?  In general that sounds slightly dangerous anyway, so if this is a simple fix we should just remove `sites-available` from that search path.

@BillKeenan interested in making a PR?

[2015-11-04 17:27] indrora opened #1334 "letsencrypt-auto: depends on home directory / running as root is bad / no PREFIX support"
(Or, "Dude, where's my sudo?")

As it stands, if you don't have `sudo`, you're toasted. The default in Debian is to not install `sudo` for bare-metal installations. As such, a Debian Jesse/stable minimalist installation doesn't have `sudo`, because there's a password set for `root`.

Should `letsencrypt-auto` depend on sudo? Or just say "Run me as root"? Or, optionally list the packages that need

[2015-11-04 17:31] RealRancor commented on #1274
I think thats the main questions. All those options defined here:

https://github.com/letsencrypt/letsencrypt/blob/74b2e3bc515b5f7e805883a26f1b0e47ed686098/letsencrypt-apache/letsencrypt_apache/options-ssl-apache.conf#L12-L15
https://github.com/letsencrypt/letsencrypt/blob/74b2e3bc515b5f7e805883a26f1b0e47ed686098/letsencrypt-apache/letsencrypt_apache/options-ssl-apache.conf#L19-L25

are not SSL re

[2015-11-04 17:32] pde commented on #1196
Could `letsencrypt-auto` on Mac add these directories (OS X site packages and/or ~/Library) to PATH / PYTHONPATH if virtualenv appears to be installed in one of them?

[2015-11-04 17:32] mzsanford commented on #1196
I attempted `pip uninstall` but it said it was not installed:

[code]

I was able to run the `easy_install` like so:

[code]

and the `bootstrap/mac.sh` script now succeeds but `letsencrypt-auto` does not:

[code]

Perhaps this is just more `PATH` madness:

[code]

but even adding `/Users/matt/Library/Python/2.7/bin` to the front of my `PATH` does not help. I uninstalled `python` via Homebrew but

[2015-11-04 17:39] Crashdoom opened #1335 "_openssl.so: undefined symbol: X509_VERIFY_PARAM_set_hostflags on Debian 7.9"
I'm following the Quick Start guide and have come across the following error on Debian 7.9, but can't seem to find any mention of this or a resolution:

[code]

[2015-11-04 17:41] pde commented on #1196
@mzsanford it sounds like your situation is slightly different than the (similar) reproduction that @douglasjose created.  We don't know if your copy of `/bin/virtualenv` came from easyinstall or from some previous install by other means.

I'm going to try a simple test version of [my suggestion above](https://github.com/letsencrypt/letsencrypt/issues/1196#issuecomment-153801614); will send you in

[2015-11-04 17:42] charlesay commented on #1243
sure, via what channel would be convenient?

[2015-11-04 17:45] a1exus commented on #1332
@animetauren, I don't have `pip` installed on system at all, I believe `pip` came from `git pull` and if `pip` must be at higher version number, then it should be included inside of git repository:

[code]

[2015-11-04 18:07] charlesay commented on #1243
actually, just get the apache.conf here https://userpage.fu-berlin.de/danielro/apache.conf.txt and the site-available/...conf here https://userpage.fu-berlin.de/danielro/site.conf.txt

[2015-11-04 18:09] pde commented on #1196
OK [here's an attempt](https://github.com/letsencrypt/letsencrypt/commit/e987c5b8652638042aa7caf8e6e67cc4105c8431) to make `letsencrypt-auto` a bit smarter about finding virutalenv.

@mzsanford , can you try this: (first `cd` to wherever your git checkout of letsencrypt is)
[code]

[2015-11-04 18:09] JohnDenker opened #1337 "./letsencrypt-auto --help should not require root"
This overlaps with item #1286 but comes at things from a different angle.

According to https://letsencrypt.github.io/acme-spec/, the raison d'être for ACME is to provide a good user interface, to provide good usability.

From a UI point of view, it is not reasonable to require root privileges for ./letsencrypt-auto --help

It is irrelevant and pointless to say that because of the way it's written

[2015-11-04 18:12] pde commented on #1196
We may also need to add things to PYTHONPATH, so only 50/50 that the above attempt will work.

[2015-11-04 18:21] JohnDenker opened #1338 "documentation: ./letsencrypt not equivalent to ./letsencrypt-auto"
The documentation at https://letsencrypt.readthedocs.org/en/latest/using.html#id5 says:

That seems to imply that  ./letsencrypt and ./letsencrypt-auto are equivalent.  In fact they are not.
1. I observe that  ./letsencrypt-auto is a useful executable script.
2. It is not a script/binary.  It is just a script.
3. ./letsencrypt is neither a script nor a binary.  It's a directory.

Specific suggesti

[2015-11-04 18:34] kroeckx commented on #1143
I can confirm that after removing the IPv6 address from the VirtualHost line that it works.

[2015-11-04 18:37] kroeckx opened #1339 "Should not stop the apache server"
It seems that as part of running letsencrypt the apache server is stopped and started again.  I see no good reason to stop it.

[2015-11-04 18:51] animetauren commented on #1280
@mpl I am checking my DNS configurations for the site, i think it could be a DNS configurations in which my CNAME is pointing to a generic IP address that Azure uses for it's websites before redirecting them to the right subdomain. I am gonna try the CNAME to a A Record in my DNS and see if this works. If not i will see about moving the site to a temp host.

[2015-11-04 18:54] JohnDenker opened #1340 "poor choice of virtualhost model when creating example configuration file"
#### Context and Background
- I am running a server with multiple virtual hosts, some on port 80 and some on port 443.
- I did    `./letsencrypt-auto certonly`
#### Observed Behavior:

On the terminal screen:

[code]

In my server configuration directory, a new file:

[code]

This example file was evidently modeled on my pre-existing file `default-b.conf` which is the configuration for the virtual

[2015-11-04 19:00] BillKeenan commented on #1043
I am. on it.

[2015-11-04 19:43] pde commented on #1339
Closing as a duplicate of #954.

[2015-11-04 19:43] #1339 closed

[2015-11-04 19:44] kuba commented on #1338
I don't agree with the suggestion to swap all occurrences of `letsencrypt` with `letsencrypt-auto`.  I think you're missing some conceptual context here.  No one talks about `./letsencrypt`, but `letsencrypt`, the script installed in `~/.local/share/bin/letsencrypt`, the same script that will be installed in Debian as `/usr/local/bin/letsencrypt`, etc.

[2015-11-04 19:44] pde commented on #1339
btw @kroeckx I don't think anyone has volunteered to take that ticket.  It's a little tricky, because of the need to wait and test whether the reload has produced the desired results, but should be doable.

[2015-11-04 19:46] kuba commented on #1335
@alex, could you help me here a bit?

[2015-11-04 19:46] BillKeenan commented on #1043
does anyone have some more fullsome docs on getting this running with vagrant.. currently getting this

[code]

after issuing this; sudo ./venv/bin/letsencrypt -d www.example.com auth

[2015-11-04 19:46] kuba commented on #1333
Your OS? OpenSSL version?

[2015-11-04 19:49] kuba commented on #1332
Error that stands out: `ImportError: /home/alexus/.local/share/letsencrypt/lib/python2.7/site-packages/cryptography/hazmat/bindings/_openssl.so: Undefined symbol "CRYPTO_malloc_debug_init"`.

@alex, please help? :( Is `cryptography` compatible with FreeBSD?

[2015-11-04 19:51] kuba commented on #1331
[code]

Did you add it just recently, @backav?

@rolandshoemaker, can you have a look?

[2015-11-04 19:52] kuba commented on #1331
@backav, do you still have problems?

[2015-11-04 19:53] kuba commented on #1327
Another instance of https://github.com/letsencrypt/boulder/issues/1048, as @mitnk noted.

[2015-11-04 19:56] alex commented on #1335
cc: @reaperhulk @dstufft

Hmm, can you `ldd /home/crashdoom/.local/share/letsencrypt/local/lib/python2.7/site-packages/cryptography/hazmat/bindings/_openssl.so` and also `openssl version`?

[2015-11-04 19:57] alex commented on #1332
@kuba Yup, FreeBSD 10 is part of our buildbot suite. /cc @reaperhulk @dstufft

[2015-11-04 19:58] kuba commented on #1324
[code]

Looks like another instance of https://github.com/letsencrypt/boulder/issues/1048 (https://github.com/letsencrypt/letsencrypt/wiki/Known-Issues#users Known Issue 2)

@rolandshoemaker, cna you verify and close the issue?

[2015-11-04 20:00] kuba commented on #1327
Actually, I'm not so sure:
[code]

@rolandshoemaker, could you have a look?

[2015-11-04 20:01] kuba commented on #1331
Ok, looks like you fixed it in, looking at #1327. Please yell at me if you think this should be reopened.

[2015-11-04 20:03] kuba commented on #1329
Duplicate of #1322.

[2015-11-04 20:03] #1329 closed

[2015-11-04 20:03] JohnDenker commented on #1338
In any case, if we want to have user-friendly code and user-friendly documentation, the point remains:

For whatever scripts and/or binaries we are talking about, each one should have a unique, definite name.   One concept per name, and one name per concept.  The user should not be asked to rewrite the documentation on the fly.

[2015-11-04 20:05] kuba commented on #1321
You've just reinvented webroot plugin: https://github.com/letsencrypt/letsencrypt/blob/master/letsencrypt/plugins/webroot.py. If you (really) need to do it over `ssh`, use `sshfs` to mount remote server and specify `--webroot-path` appropriately.

[2015-11-04 20:05] #1321 closed

[2015-11-04 20:06] kuba commented on #1312
This was answered by @bluecmd.

[2015-11-04 20:06] #1312 closed

[2015-11-04 20:08] Crashdoom commented on #1335
@alex
[code]

[2015-11-04 20:15] bluecmd opened #1341 "Report configuration help for DV connection errors"
Hi,

We're running very tight firewalls on our machines and would appreciate if the following error message would state what IPs to allow traffic from:

[code]

We have no trouble allowing traffic to the paths needed for DV, but I would prefer to not have to guess what IPs Letsencrypt is using.

Thanks for your consideration

[2015-11-04 20:15] kuba commented on #1043
`www.example.com` is blacklisted, use real domain

[2015-11-04 20:18] pde opened #1342 "Persistence of .pyc files causes periodic local tox failures"
I just wasted a bunch of time chasing down another instance of this. We should probably rm them in the `dev/venv.sh` script, at the very least.

[2015-11-04 20:18] kuba commented on #1317
Issue on Boulder was opened, closing here. Thanks @MiaP97.

[2015-11-04 20:18] #1317 closed

[2015-11-04 20:20] kuba commented on #1330
You shouldn't need to install Python 2.7. There is some other error out there.

[2015-11-04 20:21] kuba commented on #1342
Are you using `./venv/bin/tox` or system wide `tox`?

[2015-11-04 20:22] pde commented on #1342
The problem happened with both.

[2015-11-04 20:22] pde commented on #1342
(venv activated or not)

[2015-11-04 20:22] josch commented on #1321
Great, now to avoid such a useless bugreport next time, it would've been great if the output of:

    letsencrypt --help all

Would better describe the webroot plugin than just saying "Webroot Authenticator" which does not hint that it does what I want.

[2015-11-04 20:22] pde commented on #1342
Once .pyc files were deleted, both started working.

[2015-11-04 20:23] bluecmd opened #1343 "Support HTTP01 over SSL"
Hi,

We're running a mix variation of web servers and would prefer to use HTTP01 using the "webroot" authenticator. We're an HTTPS-only environment currently and not looking to change that, which offers a problem for us.

Could simple support for HTTP01 over HTTPS be added? You would need to disregard any certificate errors (allowing bootstrapping using self-signed certs etc.) on the server side I

[2015-11-04 20:24] kuba commented on #1321
There is a tracking for something similar, see #1137.

[2015-11-04 20:24] pde commented on #1342
The errors were https://paste.debian.net/hidden/2a0964f1/, presumably caused by some .py file moving around?

[2015-11-04 20:25] kuba commented on #1343
We just recently got rid of this particular challenge over TLS because of security issues, see https://github.com/ietf-wg-acme/acme/pull/7.

[2015-11-04 20:30] josch commented on #1321
And I also see that #1190 seems to be quite similar as well.

[2015-11-04 20:31] kuba opened #1345 "./tools/deps.sh doesn't work"
[code]

[2015-11-04 20:33] kuba commented on #1345
Correct way of using `./tools/deps.sh $name`

[2015-11-04 20:33] #1345 closed

[2015-11-04 20:38] devnsec-com commented on #1342
Why don't we just simply set the `PYTHONDONTWRITEBYTECODE` environment variable in that script?

[2015-11-04 20:39] josch commented on #1201
pound and ejabberd also require private key and cert in the same file

[2015-11-04 20:44] rolandshoemaker commented on #1324
This is unrelated to letsencrypt/boulder#1048, the `Correct zName not found for TLS SNI challenge Validated` error indicates you are failing the actual challenge, perhaps due to the load balancer redirecting the request to the wrong system. Looking at the production logs we are trying to validate against the server at `54.83.201.192`.

[2015-11-04 20:45] pde commented on #1341
Having the IP addresses from which tests originate be widely variable and unpredictable until the moment of validation is actually a security feature and something we're planning to do more of, because it makes life much harder for attackers who aspire to defeat DV by compromising routers or DNS servers.

*In theory* we could probably tell the client a few seconds before the validation occurs, bec

[2015-11-04 20:47] pde commented on #1341
We could also in theory try to mark the validation requests with some other characteristic that is firewall-inspectable.  But I'm not sure whether there are any IP or TCP header fields that could be safely and easily used for that purpose.  We could much more easily use HTTP: headers, but presumably that's too far down the stack for your firewall to work with?

[2015-11-04 20:50] devnsec-com commented on #1334
dups to #1148 ?
BTW, we have got 2 PRs for this issue: #1282 and #1191

[2015-11-04 20:52] scharfie commented on #1324
Is this an issue with my configuration then?  I have a fairly normal AWS setup: an ELB with currently one registered instance, which is where I'm running the letsencrypt tool.

[2015-11-04 20:54] rolandshoemaker commented on #1341
Yeah I'm with @pde on this. While currently you can probably quite easily nail down where our validation attempts come from by watching logs for a while, we are working on changing this to make attacks against the validation service much harder. Because of this I'd be against providing these addresses to the client far in advance, and agree the additional protocol complexity of telling the client

[2015-11-04 21:04] bluecmd commented on #1341
I guess there are a lot of companies that would be in the same situation for their intranets.

What about doing something like attaching some verifiable metadata in DNS? I send you the request from IP X that matches my domain signed with a key. You look up a TXT record in DNS to find my public key and use it to verify my request. Maybe the IP check isn't even needed for that.

I see that https://l

[2015-11-04 21:11] rolandshoemaker commented on #1341
The method on the technology page is the DNS challenge type as specified in the ACME spec, we currently don't plan to launch with it but hope that it'll be ready for use soon after. (I'm a server not client dev so don't hold me to this but) I think the client has a branch implementing a DNS authenticator but it isn't a focus for launch since server support won't be enabled.

[2015-11-04 21:24] bluecmd commented on #1341
Ok. Thanks for the information. For us that means that we're able to use Lets Encrypt on ~5% on our domains, which is still already very good - but we would obviously want to arrive at 100%. We'll be awaiting the DNS feature with great anticipation :-)

[2015-11-04 21:27] a1exus commented on #1332
@kuba my environment is `FreeBSD 9.2-RELEASE-p17`.

[2015-11-04 21:28] devnsec-com commented on #1320
Since `/var/log/letsencrypt` directory owned by `root`, and permission is `drwx------`, `letsencrypt-auto` will not be able to write to `/var/log/letsencrypt/letsencrypt.log`, perhaps, we can write logs to a temporary location, and delete it if the command successfully finished?

[2015-11-04 21:29] pde commented on #1338
@JohnDenker The real answer is `letsencrypt-auto` is a wrapper that's intended to work pretty well on OSes where Let's Encrypt isn't packaged yet.  Once it's packaged, there will be a `letsencrypt` command.  `letsencrypt-auto` has enough side effects (it installs a few OS dependencies and lots more stuff in a virtual environment, and it auto-updates the client) that we didn't want to name it `lets

[2015-11-04 21:32] pde commented on #1340
@JohnDenker @jdkasten was this new config file placed in `sites-available` or `sites-enabled`?  My understanding is that such a file should not be generated by `letsencrypt certonly` ... it would need to be `letsencrypt`, `letsencrypt run` (those two are equivalent) or `letsencrypt install`.

[2015-11-04 21:46] JohnDenker commented on #1340
In answer to your question, the file is created in sites-available.   This struck me as "unexpected" behavior but it is not entirely "undesired" behavior.  The file was useful as an example.  It would have been more useful if it had been more complete and more correct.

More specifically, here's the file that was created:

[code]

[2015-11-04 21:51] notDavid commented on #1323
Confusing indeed. I was also wondering whether the certificates got configured automatically or not. In my case it wasn't configured, so i had to do it manually.
A message indicating that automatic configuration has failed and pointing to the right website (like https://letsencrypt.readthedocs.org/en/latest/using.html#where-are-my-certificates perhaps) wouldn't hurt...

[2015-11-04 21:58] JohnDenker commented on #1338
Here's a possibility to consider.  As a general rule, if the program behavior is that difficult to document, the first thing it needs is better behavior.  Once we have decent behavior we can decide how to document it.

Here a possible step in the right direction.  This is modeled on more-or-less every app I can think of.  Pick a name for the user interface.  Stick with this name.  Document this na

[2015-11-04 22:01] indrora commented on #1334
Looks like a dupe. Tried to find an appropriate ticket to add onto but didn't see that one.

[2015-11-04 22:03] bluecmd opened #1347 "Manual authenticator should support DVSNI"
Hi,

Unless I'm missing something the manual authenticator should be able to support DVSNI.
I cannot use HTTP01 since we don't allow any incoming HTTP connections, and I would prefer to have an automatable way to using non-supported webservers for certificate validation - and manual seems to be easiest way of doing this.

This is also reflected in the code: https://github.com/letsencrypt/letsencry

[2015-11-04 22:12] bwesterb commented on #1201
How to fix this?  Add a fourth file managed by `letsencrypt.storage`?

[2015-11-04 22:21] SwartzCr commented on #981
@domcleal do you have a sense if python augeas will support loadpaths for augeas 1.0? We're finding that Travis is failing for this change because the travis machine runs ubunut 12 which has augeas 1.0

[2015-11-04 22:24] indrora commented on #1334
The original topic kindof stands (I'll open a new one if needed): If I do run as root, `/root/.local/share/` is where letsencrypt is installed. Following standards, `/opt/letsencrypt/` should probably be where we install things.

this means letsencrypt-auto shouldn't care that it's not being run as root. letsencrypt-auto seems like it should be more letsencrypt-bootstrap

[2015-11-04 22:29] JohnDenker commented on #1340
In answer to your other question, I am not entirely sure what command created that file. I just retried the "certonly" command and it did not create the file.   It may be that I inadvertently typed some other command at some point, but

The other parts of the original comment remain valid:
 * Most importantly, if/whenever such a file is created, it would be better to model it on the prior configur

[2015-11-04 22:31] devnsec-com commented on #1334
`letsencrypt-auto` is not mean to be run as root. It's not a system wide installer, it only creates a python virtualenv, and install everything into the venv, then run the actual `letsencrypt` from the venv (as root).

[2015-11-04 22:33] bmw commented on #1302
Since it seems clear to me that the problem this issue was created for has been resolved, I'm closing this ticket. If the client cannot perform any challenge provided by the server, the client cannot proceed and needs to exit. In normal use cases, this is an error. I'm sorry you had trouble with testing your PR.

[2015-11-04 22:33] #1302 closed

[2015-11-04 22:35] jmhodges commented on #858
This would be good to prioritize so that we can make sure folks are using a letsencrypt install with the latest challenges. We're going to remove the simpleHTTP and DVSNI ones soon and having this data sooner rather than later will be helpful.

[2015-11-04 22:36] indrora commented on #1334
It shouldn't matter who I run letsencrypt-auto as. It acts like an installer, with the sole point seeming to be "set up the things that letsencrypt needs". I don't want letsencrypt living in someone's home directory -- I want it in `/opt/letsencrypt/` like the [standard says](http://linux.die.net/man/7/hier) it should be.

[2015-11-04 22:48] nils-ohlmeier opened #1349 "letsencrypt-auto generated mixed IPv6 and IPv4 vhost apache config line"
The virtual host config for the Apache I tried to get a certificate for looks like this:

`<VirtualHost [2a01:238:429e:6b00:6188:46:8080:e1b4]:80 85.214.41.172:80>`

letsencrypt-auto generate a apache config file with the following vhost:

`<VirtualHost [2a01:443 85.214.41.172:443>`

[2015-11-04 22:50] somniumAeternam opened #1350 "systemd timer"
Is it planned to add the support for systemd timers additionally to crontab for the renewer function?

[2015-11-04 22:51] bmw opened #1351 "Don't use the default UA when verifying challenges"
While related to #858, I feel like this is a slightly different issue. We have had reports of people running into problems with the User-Agent when using the `manual` plugin. `manual` uses `acme` to validate that the challenge has been set up correctly before responding to the server. This is done using the `requests` library whose default UA as of writing this e-mail is `python-requests/2.8.1`. S

[2015-11-04 23:05] devnsec-com commented on #1334
Maybe you think it's an installer, but no, it is not an installer, it bootstraps the `letsencrypt`, not install it.
Each time you want to run `letsencrypt`, you will run `letsencrypt-auto --parameters` (instead of run `letsencrypt --parameters`)

[2015-11-04 23:05] TheBigBear commented on #1333
OS:
[code]
uname -a:
[code]

rpm -qa | grep -i openssl:
[code]

[2015-11-04 23:08] nils-ohlmeier commented on #1349
Probably the same issue as issue 1143

[2015-11-04 23:09] kroeckx commented on #1349
So this is just really the same issue as #1143, but with IPv6 address before IPv4 address and then it makes "[2XXX" the IPv4 address.

[2015-11-04 23:14] veeti opened #1353 "Manual authenticator should support DNS challenge"
https://letsencrypt.github.io/acme-spec/#dns

[2015-11-04 23:16] bmw commented on #1350
This actually still an open question (see #880). With that said, due to the prevalence of `systemd`, I personally would very much like to include an option for `systemd` timers (I have `systemd` on my system, but not `cron`).

I'm closing this issue in favor of #880, but if you feel I didn't adequately answer your question, let me know and I'll reopen.

[2015-11-04 23:16] #1350 closed

[2015-11-04 23:19] bmw commented on #1349
Thanks for the report @nils-ohlmeier. I agree that this is a dupe of #1143 but I very much appreciate you taking the time to report the issue.

[2015-11-04 23:19] #1349 closed

[2015-11-04 23:22] nils-ohlmeier commented on #1143
Just to make sure it does not fall off the table once IPv6 support gets added:

The reverse order of IPv4 and IPv6 address in the vhost line should be supported as well, e.g.

`<VirtualHost [2a01:238:429e:6b00:6188:46:8080:e1b4]:80 85.214.41.172:80>`

[2015-11-04 23:32] indrora commented on #1334
So why can't I choose where I want to put the virtualenv? Should I run `letsencrypt` as a completely standalone user?

[2015-11-04 23:38] kroeckx opened #1354 "Removes config file during renewal resulting in error"
I'm on a Debian system and I have the config files /etc/apache2/sites-available/  This is also where it's writing the new config file.  But to enable it I need to create a symlink in /etc/apache2/sites-enabled/.

It seems that somewhere during the renewal it removes the file in sites-available creating a dangling symlink which then results in an error trying to restart apache2, breaking the whole

[2015-11-04 23:41] kroeckx commented on #230
If the private/public key is reused you can set up DANE with that key and you wouldn't need to roll over the records.  You currently don't seem to be able to reuse the key.

[2015-11-04 23:42] reaperhulk commented on #1332
We don't test against FreeBSD 9.x, but `CRYPTO_malloc_debug_init` has cropped up before on other platforms. This is a macro so it is very strange that the linker is attempting to resolve the symbol. We don't use this function (and neither does pyOpenSSL) so I think we should just remove it rather than continue to experience this issue sporadically. I'll put in a PR and we can discuss it there.

[2015-11-04 23:49] victorhaggqvist opened #1355 "Fetch cert to current directory"
I am possibly missing something here.. But I would be nice to be able to fetch a cert on my local machine to current directory, without root. I would believe the run bellow only wants permission to put the cert in `/etc/letsencrypt`, right?

Running `letsencrypt` without root yeals this.
[code]

Don't know if it makes any difference, but I installed via https://aur.archlinux.org/packages/letsencry

[2015-11-04 23:55] reaperhulk commented on #1335
OpenSSL 1.0.2-beta1 is likely the issue here. `X509_VERIFY_PARAM_set_hostflags` was added in beta2, but we do version checking via the `OPENSSL_VERSION_NUMBER` checking to see if it is >= `0x10002000L`. This is a slight bug, as we should really use `0x10002002L` (which is beta2 of 1.0.2). I'll put in a PR to fix that, but I'd also strongly recommend against using a beta OpenSSL library if possible

[2015-11-04 23:57] devnsec-com commented on #1351
Perhaps, we should use the UA `acme-client/ver`?

[2015-11-04 23:57] fire commented on #1173
Yes.

[2015-11-05 00:06] jsha opened #1356 "HTTP01 simple_verify doesn't allow empty Content-Type"
Per spec, an http-01 challenge can be served with no Content-Type, or a Content-Type of `text/plain`. By my reading of the code, `simple_verify` only allows `text/plain`, not an empty Content-Type.

[2015-11-05 00:08] devnsec-com commented on #1334
Well, good point, user should have the choice where to put the venv.

[2015-11-05 00:13] indrora commented on #1334
I propose that `letsencrypt-auto` should be called `letsencrypt-bootstrap`, which does the installation part, then a `letsencrypt` binary placed in `VENV_PATH` which is pushed into `/usr/bin` that does the neccesary actions to make the real `letsencrypt` work.

[2015-11-05 00:14] IzzySoft opened #1357 "--http-01-port/--dvsni-port ignored by auth check from --server"
As I don't want to shutdown my web server (running multiple VHosts) for cert creation/renewal, I've tried using the `--http-01-port` and `--dvsni-port` parameters, using 8081 and 8082 as ports. While the client starts up the servers correctly (according to the logs: `DEBUG:letsencrypt.plugins.standalone:Stopping server at 0.0.0.0:8081`), verification seems to ignore this:

    Failed authorization

[2015-11-05 00:22] devnsec-com commented on #1256
I think just simply delete the `bootstrap/venv.sh` file will do. I did a quick `grep`, didn't find anything references to this file.

[2015-11-05 00:23] IzzySoft commented on #1164
I've thought I could work around this using the `--http-01-port` / `--dvsni-port` parameters. But while that fired up the *local* servers on the correct ports, challenges came in on ports 80 resp. 443 regardless of what ports specified – so please make sure this gets fixed along the lines :)

Please consider that it's not always an option to shutdown the "master server" for cert renewal/request –

[2015-11-05 00:28] devnsec-com commented on #1355
If by saying "fetch a cert", you mean "copy from `/etc/letsencrpyt/somewhere`", and _**without root**_, you must be kidding me. That's definitely no way!

If you mean "fetch a cert from the acme server", maybe yes, but only if the "current directory" is not readable by anyone else on the server.

[2015-11-05 00:37] victorhaggqvist commented on #1355
I might have been unclear. But yes I'm mean the "fetch a cert from the acme server" scenario.

[2015-11-05 00:41] pde commented on #1343
Yeah, this is a wontfix because of the default vhosts attack.  The two footnotes to that are: (1) if you serve a 301/302 redirect from port 80 the server will follow it; (2) if you have an existing cert from some CA (possibly Let's Encrypt, when it's time to renew) we could validate the cert and proceed.

[2015-11-05 00:41] #1343 closed

[2015-11-05 00:43] pde commented on #1343
[a writeup](https://mailarchive.ietf.org/arch/msg/acme/B9vhPSMm9tcNoPrTE_LNhnt0d8U) on the problem

[2015-11-05 00:48] pde commented on #1354
@kroeckx can you send us a copy of the config files that triggered this?

[2015-11-05 00:53] backav commented on #1331
@mitnk It's a  valid email.

[2015-11-05 00:54] backav commented on #1331
I set xiangyang.li MX to mail.xiangyang.li a long time age

[2015-11-05 00:58] backav commented on #1331
@kuba Yes, this error still happen to me.

[2015-11-05 01:14] backav commented on #1327
This error happened when i use a ```gmail.com``` email account

[2015-11-05 01:59] mikejonesey commented on #1062
+1, this caught me, removed the charset all worked no problem

[2015-11-05 02:06] neoedmund opened #1359 "issued by "happy hacker fake CA""
I'm in the Beta program. and get a fake cert?
I thought cert could be passed by Firefox. Did I misunderstand something?

[2015-11-05 02:11] Clete2 commented on #1294
Marcus pointed me here. Mine is failing on alias.conf.

See https://community.letsencrypt.org/t/apache-config-parsing-errors/2617

    Alias /icons/ "/usr/share/apache2/icons/"

    <Directory "/usr/share/apache2/icons">
            Options FollowSymlinks
            AllowOverride None
            Require all granted
    </Directory>

[2015-11-05 02:15] pde opened #1362 "Suppress insecure platform warnings from python versions that lack SNI client support"
These confuse people a lot.  They exist for a good reason, but it isn't relevant to the Let's Encrypt client.

[2015-11-05 02:18] neoedmund commented on #1359
Well, sorry, I forgot the --server parameter in command line.
Now it worked!

[2015-11-05 02:18] #1359 closed

[2015-11-05 02:30] pde opened #1363 "Use peep to verify the ConfigArgParse import."
(1) This means everyone's fetching code from Kuba's repo, which is ok for experimental beta hacking but not for release
(2) The version pin produces an annoying message in the middle of -auto runs:

`Requirement already satisfied (use --upgrade to upgrade): ConfigArgParse from git+https://github.com/kuba/ConfigArgParse.git@python2.6-0.9.3#egg=ConfigArgParse in /tmp/throwaway/lib/python2.7/site-pac

[2015-11-05 02:39] bmw commented on #1351
Another suggestion I've received was `Mozilla/5.0 (compatible; Let's Encrypt client self-validation; +https://www.letsencrypt.org)`.

[2015-11-05 02:42] pde commented on #1356
Fixed for webroot in #1336?  But we need to ensure Apache and standalone are okay?

[2015-11-05 02:43] paulschreiber opened #1365 "Only require user to agree to user agreement once"
Only require users to agree to user agreement once.

Do not require the user to agree every run, either by selecting "Yes" in the UI or by passing `--agree-dev-preview` as argument.

[2015-11-05 02:49] bmw commented on #1356
This inaccurate but perhaps the code could be made more clear. The relevant line of code is: https://github.com/letsencrypt/letsencrypt/blob/master/acme/acme/challenges.py#L262

The call to `get` is given a default value. The result is if `Content-Type` is absent, `found_ct` is given the value `text/plain` and is verified successfully.

[2015-11-05 02:59] pde commented on #1357
You can't make the server switch ports at the moment, and it will never support arbitrary ports (though maybe one day it will support a single unusual privileged port).  We should document this, however.

[2015-11-05 03:01] bmw commented on #1357
I'm sorry for any confusion the existence of these flags caused. The `--http-01-port` and `--dvsni-port` parameters are found under `letsencrypt-auto --help testing`. The description of that section is:
[code]
Setting `--http-01-port` or `--dvsni-port` will not work in production and the setting of these flags has no effect on the behavior of boulder.

As you do not want to shutdown your server or

[2015-11-05 03:01] #1357 closed

[2015-11-05 03:11] #998 closed

[2015-11-05 03:32] pde commented on #1365
I believe this is a duplicate of #887.

One of these things is a warning about the client being experimental (and not getting valid certs by default).  The other is an actual agreement with the CA

[2015-11-05 03:32] #1365 closed

[2015-11-05 04:10] Microsheep opened #1367 "Cname record will cause challenge to fail"
I am possibly missing something here, but will try to point out my issue.
I used to have a cname record for www.twmicrosheep.com to twmicrosheep.com.
As invited to the closed beta test, I tried to get a ssl certificate for www.twmicrosheep.com.
It has the following errors.

<b>Failed authorization procedure. www.twmicrosheep.com (dvsni): tls :: The server experienced a TLS error during DV :: Faile

[2015-11-05 04:17] mydansun commented on #1327
Can I delete CNAME records to deal the problem? I use the gmail account too

[2015-11-05 05:18] ArchimedesPi commented on #1362
@pde I'd be happy to take this one. How do I replicate the warnings?

[2015-11-05 05:21] pavel-paulau commented on #1318
@kuba,

I removed the package you mentioned above.

I will try to reach out to PyPI team. However, the project is almost abandoned and I would not expect resolution any time soon.

[2015-11-05 06:37] mommel opened #1368 "Tool for A+ SSL rating"
I made an easy way to get the DH Parameter patched certificate updated. I put a small shell script on
https://github.com/mommel/letsencrypt-aplus
Maybe this is something for the project.

[2015-11-05 06:39] centminmod commented on #858
what about https://community.letsencrypt.org/t/standalone-manual-webroot-stats/2535/7 ? related ?

[2015-11-05 06:42] kuba commented on #1201
Simplest solution is add a fourth file. However, I don't think we should do that, because there are more configurations that we need to support  (we now know of at least #1250, #1276) and managing all those will be a nightmare. My idea was to create a new installer plugin that does that instead. Design decision needs to be taken before any work on those issues is started.

[2015-11-05 06:47] centminmod commented on #1293
why not check if there's updates before updating ?

[2015-11-05 07:17] kuba commented on #1355
This was partially addressed in #843.

[2015-11-05 07:19] kuba commented on #1363
What's wrong with fetching stuff from my repo? How is vendorizing better?

I'm strongly (!) against proposed changes.

[2015-11-05 07:21] kuba commented on #1356
@jsha: `simple_verify` will succeed if 'Content-Type' header is not present. Is it even possible that client serves **empty** Content-Type header?

[2015-11-05 07:37] domcleal commented on #1294
@marcusds sorry, that question was directed at the original bug report from @paulschreiber.  Yours may not be the same bug.  Please pastebin a full config file that demonstrates the problem, since I can't reproduce it from that single fragment.

@Clete2 works fine for me on Augeas 1.3.0 and above.

[2015-11-05 07:39] domcleal commented on #981
@SwartzCr should be fine, it's had the functionality for years

[2015-11-05 07:51] reaperhulk commented on #1332
@a1exus we've merged a change to https://github.com/pyca/cryptography that should stop this error. Would you mind cloning master and seeing if you can install it successfully?

[2015-11-05 08:38] centminmod commented on #1311
okay thanks @kuba

[2015-11-05 08:50] James-TR commented on #1047
If you set apache to use the same file for both `SSLCertificateFile` and `SSLCertificateChainFile` it will just work. Mind this is about the same as the other solution :)

[2015-11-05 09:03] mitnk opened #1369 "Error creating new authz without CNAME record"
From [Known issue page](https://github.com/letsencrypt/letsencrypt/wiki/Known-issues), it says the issue was caused by "request a domain that has a DNS CNAME to a subdomain of the requested domain". But mine seems not the case. Please see the log for details.

[code]

[2015-11-05 09:16] pointlessone opened #1370 "Improve error message about bound port in standalone"
Hello,

This is something that I can't find answer to elsewhere so please bear with me.

I use Nginx as my webserver. When I run `letsencrypt-auto` it complains that port 80 is already taken, obviously. So have to take down Nginx, run `letsencrypt-auto` and then bring Nginx back up.

Why does `letsencrypt-auto` require port 80? Why can't it run on any other port? Requirement to take down webserver

[2015-11-05 09:20] bowensong commented on #1351
Do we need to pretend to be "Mozilla"? I don't think so.
Web browsers say "Mozilla" for the historical reason, because they want the "modern" version of the web pages, but we are not a web browser, and we do not need the "modern" web pages.

[2015-11-05 09:22] devnsec-com commented on #1351
Do we need to pretend to be `Mozilla`? I don't think so.
Web browsers say `Mozilla` for the historical reason, because they want the "modern" version of the web pages, but we are not a web browser, and we do not need the "modern" web pages.

[2015-11-05 09:25] duckdalbe opened #1371 "Error creating new registration without MX-record."
My domain hasn't got an MX-record in DNS but accepts Email at the A-record. This is conforming to standards, AFAIK.

The ACME-clients apparently mandatorily expects an MX-record. It fails with this:
[code]

Is there any way around this other than adding an MX-record?

[2015-11-05 10:24] IzzySoft commented on #1357
Thanks for the explanation! Indeed it's a bit confusing why the client is able to switch ports while the server doesn't support it (so I've suspected the documentation being "behind", as it doesn't seem to make sense). Also thanks for the pointer with [webroot](https://letsencrypt.readthedocs.org/en/latest/using.html#plugins), which indeed seems to be the answer to my issue; I will try that instea

[2015-11-05 10:30] IzzySoft commented on #1293
Looks like those checks are left to the update process: if there are no updates, it won't update anything. Still, that (implicit) check needs some time. IMHO it's not required *on each run* – once a day should be sufficient.

[2015-11-05 10:36] DrupaListo-com commented on #1026
simply re-trying the command fixed it for me:

- Congratulations! Your certificate and chain have been saved at
   /etc/letsencrypt/live/somedomainnameblabla.com/fullchain.pem. Your cert will
   expire on 2016-02-YY. To obtain a new version of the certificate in
   the future, simply run Let's Encrypt again.

(sensitive data changed above)

[2015-11-05 11:24] clayt0nk commented on #1286
On Mon, 02 Nov 2015 12:22:49 -0800
Jakub Warmuz <notifications@github.com> wrote:

That is a little unexpected. If there is no way of separating
"installation" from "running", perhaps that needs to be very clearly
called out in the documentation for first-timers. Maybe even prompt
for permission. When I see applications installing things without my
permission, I get more than a little twitchy.....

[2015-11-05 12:03] mieszko4 commented on #1062
In case anybody is using nginx and tries to set up *exact* header `Content-Type: text/plain` here is the configuration I used that worked for me:

[code]
I put this into `server {}`.

Also, redirections did not work for me so I made sure that nginx is serving files *directly* (so no `30x` codes, only `200`).

[2015-11-05 12:08] nitmir commented on #1201
pure-ftpd (like ejabberd as @josch said and like #1250 ) need one single file contening key + cert + chain
Using cat to build it is only prone to forget to do it again at each auto renewal.

[2015-11-05 12:37] nitmir commented on #1201
As a small hack, I put the code below in a daily cron :
[code]

[2015-11-05 15:20] JokerQyou commented on #1327
I'm using a `protonmail.com` email account, and this error happened too. But I was dealing with a subdomain, don't know if that's related. The domain is `event.mynook.info`.

[2015-11-05 15:21] BurakDev commented on #1368
+1, Perfect :+1:

[2015-11-05 15:21] justfortherec commented on #1208
Can I help in any further way to get this fixed?

[2015-11-05 15:40] ik0 commented on #1370
+1
I can't stop my nginx too. It will be perfect to bind on another port !

[2015-11-05 15:42] eXpl0it3r commented on #1208
I'm experiencing the same issue (Debian, Apache 2.2). For now I just used the [webroot plugin](https://letsencrypt.readthedocs.org/en/latest/using.html#plugins) instead.

[2015-11-05 15:45] BurakDev commented on #1370
Just use webroot plugin, example :
./letsencrypt-auto -d yourdomain.tld certonly --webroot-path "/var/www/"

replace /var/www/ with your correct webroot path, letsencrypt create http://yourdomain/.well-known/acme-challenge/randomstring file to validate it without binding the port.

[2015-11-05 15:51] a1exus commented on #1332
@reaperhulk unless I'm doing something wrong, I'm still hitting same error:

[code]

[2015-11-05 15:52] ik0 commented on #1370
Thanks, BurakDev. That's work !

[2015-11-05 16:10] BurakDev commented on #1370
No problem, and other way is :
./letsencrypt-auto -d yourdomain.tld certonly -a manual

You get the needed file path and the needed content on this file, btw you can use letsencrypt on a local private server :+1:

[2015-11-05 16:30] paulschreiber commented on #1294
@domcleal I'm running Ubuntu 14.04.3 LTS. How do I tell what version of augeas I have?

I have this egg:

    letsencrypt/lib/python2.7/site-packages/python_augeas-0.5.0-py2.7.egg-info

and
[code]

[2015-11-05 16:51] bmw commented on #1256
I personally think the opposite and we should call out to `bootstrap/venv.sh`. It makes the code more modular and easier to understand. Since we are currently having `letsencrypt-auto` users clone our entire repo for OS bootstrap scripts, `letsencrypt-auto` calling out to `bootstrap/venv.sh` is not a problem. Furthermore, if we adopt either approach proposed in #1258, calling out to `bootstrap/ven

[2015-11-05 16:57] joohoi commented on #1224
I'm working on this currently, it seems to be a good entry issue into the codebase.

[2015-11-05 18:27] pde opened #1373 "letsencrypt-auto could suggest/enable the augeas 1.2 backport on wheezy"
That would allow ongoing apache plugin support on that platform.

[2015-11-05 18:40] jsha commented on #1356
Thanks for correcting me, @bmw, and sorry for not testing my assumptions. Makes sense that it has a default value.

It is possible for a web server to give an empty Content-Type header, but I don't think we need to accommodate that case. Perhaps a more likely possibility is multiple, conflicting Content-Type headers, but that doesn't belong under this issue.

[2015-11-05 18:40] #1356 closed

[2015-11-05 18:51] johnl opened #1374 "Dockerfile is broken due to symlink bug in docker"
Due to what appears to be a [bug in Docker](https://github.com/docker/docker/issues/17730) affecting either newer versions of Docker or perhaps related to certain storage configurations, the letsencrypt Dockerfile fails to build.

It fails due to an attempt to copy the `ubuntu.sh` symlink into a directory in the container image.

This is a problem that should be fixed upstream by Docker, but a sim

[2015-11-05 20:02] bmw commented on #1331
@jsha, any thoughts?

[2015-11-05 20:05] jsha commented on #1331
My guess is that this is actually a DNS timeout in prod. Probably a related case of https://github.com/letsencrypt/boulder/issues/1047, which I'm working on.

[2015-11-05 20:18] bmw commented on #1365
While not exactly a dupe, this annoyance with `--agree-dev-preview` is only temporary and will be fixed with #887. Once we've launched, you won't need to agree to this developer preview at all.

[2015-11-05 20:23] pde commented on #1185
Will need airgapped signatures (we have infrastructure for those at EFF).

[2015-11-05 20:41] jmhodges commented on #1368
One quibble here.

Unfortunately, validating DH parameters that are not previously specified is too expensive for clients to do. However, current attacks only work on 1024-bit RSA keys. Any similar breaks on 2048-bit RSA keys would, basically, apocalyptic across most crypto systems. (At least in a pre-quantum crypto world.)

So, the current solution for weak DH parameters is to use a cipher suite

[2015-11-05 20:47] bmw commented on #1355
@victorhaggqvist, there is currently no way to do exactly what you want. The client needs root for two things:

1. To access the default directories.
2. To bind to port 80/443.

You can fix 1 on the command line. `--config-dir`, `--work-dir`, and `--logs-dir`, can all be changed to directories that the current user can access to mitigate that problem. The certificates are stored in directories und

[2015-11-05 21:11] JohnDenker commented on #1340
Further clarification:  It is at least ***sometimes*** true that the "certonly" command scribbles a file in the sites-available directory.  I observed this phenomenon just now, and I am quite confident that I didn't mistype anything.
[code]

I cannot state with confidence the necessary-and-sufficient conditions for this to happen, but it does sometimes happen.  I have observed it twice now.

[2015-11-05 21:20] erikrose commented on #1185
On the subject of signing—or at least repeatability:

* PyPI does not allow package authors to change old packages, and it's not customary to delete old version.
* [Peep](https://pypi.python.org/pypi/peep/) is a tool a wrote to verify the hashes of PyPI packages before installing them. We use it to do deployments at Mozilla. It saves having to manage a vendor lib or run a private index server and

[2015-11-05 21:29] JohnDenker opened #1376 "the help message should be more explicit about the effect of the -d option"
#### Hypothetical language

A suggestion, possibly mostly correct:

If the -d option is mentioned more than once on the command line, a _single_ certificate will be created to cover all the domains that were mentioned.  In particular:
- The first-mentioned domain will be the Subject CN of the certificate.
- All the domains (including the first) will be version-3 Subject Alternative Names on the ce

[2015-11-05 21:36] devnsec-com commented on #1362
@ArchimedesPi run `letsencrypt` on a platform that has Python<2.7.9 installed (and `pyOpenSSL` not installed) will reproduce this warning.

[2015-11-05 22:06] Deledrius opened #1377 "Python3 VirtualEnv conflicts with required Python2 VirtualEnv"
When running `letsencrypt-auto` using the recommended parameters on Ubuntu 14.04LTS, the script successfully installs its dependencies, but soon stops with this failure:

[code]

I manually upgraded virtualenv with pip, but that only took it to v13.1.2 from v13.1.0, not the required 13.2.0.dev0.  Python version currently installed is 3.4.3.  I then updated the virtualenv installed for Python 2.7.6

[2015-11-05 23:19] pde commented on #1363
Per our call today, we can work around this by pinning a hash of this dependency with [peep](https://pypi.python.org/pypi/peep/).

We should also silence the loud message during that run.

[2015-11-05 23:30] jasiek opened #1378 "Manual authentication should permit the server to use https"
I've got a server with an existing certificate, and I'd like to be able to complete the authentication procedure over HTTPS (for convenience). Why not let the client request the challenge file over HTTPS first, and then, if that fails - HTTP?

[2015-11-05 23:31] pde commented on #1377
My first attempt to reproduce this:
* Start with a fresh Ubuntu 14.04 LTS image on AWS
* Search for a python3 version of virtualenv, but there's only one package, `python-virtualenv`, which is for python2.7
* There *is* a python3-pip package, so I installed that

After those steps `./letsencrypt-auto` still worked.

@Deledrius was your python3 version of virtualenv from a PPA or some other source?

[2015-11-05 23:33] pde commented on #1377
Attempt at reproducing pasted [here](https://paste.debian.net/324683/)

[2015-11-06 00:07] pde commented on #1378
Because of this vulnerability:

https://mailarchive.ietf.org/arch/msg/acme/B9vhPSMm9tcNoPrTE_LNhnt0d8U

If your server listens on port 80 but redirects to 443, the validation will occur safely after the redirect.

[2015-11-06 00:07] #1378 closed

[2015-11-06 00:40] pde commented on #981
Closed by #1291! Great work @SwartzCr, @kuba and @ArchimedesPi !

[2015-11-06 00:40] #981 closed

[2015-11-06 00:47] pde commented on #1264
This was fixed by #1291.  Thanks team!

[2015-11-06 00:47] #1264 closed

[2015-11-06 00:54] pde commented on #1294
This was fixed in git master by #1291!

[2015-11-06 00:54] #1294 closed

[2015-11-06 00:57] pde commented on #1266
Related to #1213.  Probably a good patch for that bug will fix this too.

[2015-11-06 00:57] mydansun commented on #1327
I am waiting for the change in https://acme-v01.api.letsencrypt.org/build

[2015-11-06 01:17] reaperhulk commented on #1332
We haven't done a new release of cryptography with this fix so you'll have to install it directly from github (not the lets encrypt GitHub repo, which will pull in the released cryptography dependency)

[2015-11-06 01:38] xanni opened #1379 "Letsencrypt-auto fails with invalid syntax"
Debian Squeeze, Python 2.6.6-8

$ VERBOSE=1 ./letsencrypt-auto --help

[...]

[code]

[2015-11-06 01:43] pde commented on #1202
I did some testing on this... I was able to reproduce the `mod_rewrite` problem on some systems (but not all... it may depend on minor versions of Augeas 1.2...) by adding the following to an Apache config file:

[code]

However, once #1291 was merged the `mod_rewrite` problem seems to have been solved.

[2015-11-06 01:47] pde commented on #1202
For the record, I could repro on ubuntu 14.04 with libaugeas0 at 1.2.0-0ubuntu1.1; I could not repro on debian sid with libaugeas0 at 1.2.0-0.2.  Quite mysterious.

[2015-11-06 01:48] Deledrius commented on #1377
I don't have any PPAs in use on this system.  I believe that Py3's virtualenv was installed via pip for use with Django.

What's odd here is that the exception clearly shows it was using the Py3 installation of virtualenv, and when I upgraded that the version in the error did change to reflect it, and yet once I updated Py2's virtualenv (from v1.10.1 to 13.1.2 -- still not the version the error su

[2015-11-06 01:51] petteyg commented on #180
Can't do any beta-ing if the beta is trying to do IPv4 validation instead of domain validation...

[2015-11-06 01:55] pde commented on #1202
Regexps in apache `If` conditionals also work fine (now):
[code]
So closing this bug!

[2015-11-06 01:55] #1202 closed

[2015-11-06 02:00] pde commented on #1222
Fixed by #1291.

[2015-11-06 02:00] #1222 closed

[2015-11-06 02:19] Clete2 commented on #1294
Didn't fix it for me. Maybe I have a different issue?

[2015-11-06 02:33] Clete2 commented on #1294
Hmm, didn't fix it for me. I ran `rm -rf ../.local` and tried again, but it has the same error.

[code]

[2015-11-06 03:06] pde commented on #1243
Planning to try to reproduce this.

[2015-11-06 03:35] pde commented on #1243
@charlesay a few questions:

- What OS and version do you have, and what version of augeas is installed?
- Did the resulting Apache config nonetheless work and serve HTTPS correctly (it seems to me probably not, but I'm unsure)
- It looks like the configuration files you sent were from after the run; can you send the ones from before?  You should be able to restore them with `./letsencrypt-auto ro

[2015-11-06 03:37] pde commented on #1243
Sorry this command is better:

`./letsencrypt-auto rollback --agree-dev-preview --checkpoints 1000`

[2015-11-06 03:38] pde commented on #1243
(that way it should undo changes from up to 1000 runs of the client)

[2015-11-06 04:21] #640 closed

[2015-11-06 04:21] #1046 closed

[2015-11-06 04:21] #1078 closed

[2015-11-06 07:45] ghw opened #1380 "Error: serverInternal :: The server experienced an internal error :: Error creating new authz"
When prompted me to generate a key error,
Use the following command parameter:

 ./letsencrypt-auto --agree-dev-preview --authenticator standalone --server https://acme-v01.api.letsencrypt.org/directory --rsa-key-size 4096 --email webmaster@gehaowu.com -d gehaowu.com -d www.gehaowu.com auth
Updating letsencrypt and virtual environment dependencies......
Running with virtualenv: sudo /home/ghw/.loc

[2015-11-06 09:01] bisho opened #1383 "Error message with wrong domains is very cryptic"
Documentation doesn't make clear how to use -d flag, so I tried `-d <domain>.com,www.<domain>.com`. Apparently you should use two -d flags each with one domain.

That is fine, but the error message was really cryptic for novices, and any some typos while entering the domain name can cause the same issue.

I think lets encrypt should first validate that the domain is valid and report a understandab

[2015-11-06 09:04] bisho commented on #1370
Can the error message be improved? Point users to the manual/webroot methods if port 80 is already used.

[2015-11-06 09:12] hansharhoff commented on #1323
@notDavid , thanks this was the page I needed for being confident enough to configure apache2 with letsencrypt.
I think a simply link like that would offset the disadvantage of not automatically installing the certs.

[2015-11-06 09:21] sdroege commented on #1313
Alright, thanks :)

[2015-11-06 09:22] ZlatyChlapec opened #1384 "TypeError: coercing to Unicode: need string or buffer, NoneType found"
Everything is in pastebin I guess.

http://pastebin.com/raw.php?i=bqZJCnmK

[2015-11-06 09:25] ZlatyChlapec commented on #1384
Same happend without web-root parameter

[2015-11-06 12:06] BurakDev commented on #1370
If you read the docs, it specify all methods (webroot, manual..)

[2015-11-06 12:32] charlesay commented on #1243
running the rollback command had this result

the system I am using is a vserver with:

I am not sure exactly which packages your asking about augeas would refer to on Debian, what I see to be installed are:

I never got it to serve the site over https.

[2015-11-06 14:09] TheBigBear commented on #1333
OK, I searched some more and found that the cryptography wheel didn't build with error of: "Failed building wheel for cryptography"

 ./letsencrypt-auto --verbose

[code]

[2015-11-06 14:29] zsrkmyn commented on #1138
I get the same error when run the following command:
[code]
the logs are pasted below

[code]

Some sensitive information has been replaced with "******", please let me know if you need the information.

[2015-11-06 16:00] devnsec-com commented on #1383
I totally agree with you. I've seen this error message too, it is really confusing.

[2015-11-06 16:05] devnsec-com commented on #1377
My guess for reproduce this (not tested):
* Install `pip` for python 3
* Run `python3-pip install virtualenv`, which will install `virtualenv` for python 3
* Run `letsencrypt-auto`, it will use `virtualenv` command to create a venv for Py3

[2015-11-06 17:26] TheBigBear commented on #1333
@kuba OK, now I got all the parts building without any errors. But I still end up with the error:

```"AttributeError: 'module' object has no attribute 'SSL_set_tlsext_host_name'"```

[code]

[2015-11-06 18:34] pde commented on #1383
If someone would like to send a pull request to fix this, I'd recommend starting by adding an `ensure_configuration_sanity` function and calling it from [here](https://github.com/letsencrypt/letsencrypt/blob/master/letsencrypt/cli.py#L1087) or [here](https://github.com/letsencrypt/letsencrypt/blob/master/letsencrypt/configuration.py#L40)

(currently aside from that single port check, all configura

[2015-11-06 18:35] pde commented on #965
See also #830, which is the client-side workaround for this.

[2015-11-06 18:36] pde commented on #1383
It should be possible to squash #1212 and #830 at the same time.

[2015-11-06 18:41] pde commented on #1216
The right moment for this test is *probably* immediately after the plugins have been selected, if and only if the user is using the `standalone` authenticator:

https://github.com/letsencrypt/letsencrypt/blob/master/letsencrypt/cli.py#L427

[2015-11-06 19:07] pde commented on #1373
Silently enabling is probably a bad idea, but suggesting or asking (Y/N) could be fine.

[2015-11-06 19:13] Zash opened #1389 "Webroot plugin should override permisions of files / dirs created"
Running with --webroot-path and umask 0027 creates .well-known/acme-challenge/... with no global read permissions, causing the verification to fail because the HTTP server can't read the files (at least not in my setup).

Either overriding permissions during/after creation or making the directories and challenge file have similar permissions as the webroot itself should probably work in most cases

[2015-11-06 20:03] pde commented on #1274
Yeah, were added [here](https://github.com/letsencrypt/letsencrypt/commit/68f85d9f1abc2b66a6a9a0bd970d42f37395f217#diff-ec7fe1c264165d04b90669d6784c4fa9R1) and look suspiciously unnecessary, but we should be very sure before removing them.

[2015-11-06 20:10] pde commented on #1274
Arguably the DEFLATE line is the exact opposite of what we want for [BREACH mitigation](https://en.wikipedia.org/wiki/BREACH_(security_exploit)) (though text/plain and text/PDF can stay compressed...)

[2015-11-06 20:51] bmw commented on #1376
I agree this could be more clear.

To answer your question, if there is a conflict with filenames, a number is appended to the name of the directory. For example, if you have `example.com`, the next directory will be called `example.com-0001`, followed by `example.com-0002`, etc.

[2015-11-06 20:56] bmw commented on #1106
Since #1257 has landed (as part of #1361), I believe this has been resolved. It has not been pushed to PyPI yet (coming soon), so you will only see the changes if you're building from `master`. If the recent changes do not fix the problem, please comment and I'll reopen.

[2015-11-06 20:56] #1106 closed

[2015-11-06 20:57] bmw commented on #1379
These problems should have been fixed in #1361, which has landed in `master` but has not yet been pushed to PyPI so that it affects `letsencrypt-auto`.

[2015-11-06 21:01] bmw commented on #1294
@Clete2, based on your logs, it appears that you are using `letsencrypt-auto`. Our changes have landed in our `master` branch but have not been pushed to PyPI so that they affect `letsencrypt-auto`. This should happen soon. You can keep an eye on [PyPI](https://pypi.python.org/pypi/letsencrypt) or wait a few days and try again. The changes should be in place by then.

Sorry for the trouble!

[2015-11-06 21:07] sagi commented on #930
Yes. I'm currently working on an HSTS header enhancement. OCSP stapling is next.

[2015-11-06 21:15] bmw commented on #1384
So this actually has nothing to do with the `webroot` plugin. Execution never it made it that far! Is it possible this is a dupe of #1214?

If not, can you explain what you've done with `letsencrypt` so far @ZlatyChlapec. The problem was the client was expecting files that it had saved before but are no longer there.

[2015-11-06 21:16] pde opened #1391 "Install command should find existing certs the same way that run/certonly do"
If the user ran "letsencrypt certonly" and then runs "letsencrypt install", it's very counter-intuitive that they need to find their cert in `/etc/letsencrypt/live`, know that they should use `fullchain.pem` rather than `cert.pem`, and then find the matching key in `/etc/letsencrypt/keys`.  We use all of the storage.py mechanisms by default.

[2015-11-06 21:21] bmw commented on #1370
Yes, our `standalone` plugin requires binding to port 80/443. This allows you to complete domain validation challenges even if you do not have a webserver. If you are currently running a server that you understandably cannot temporarily stop, `webroot` or `manual` should be used.

Perhaps this error message about the bound port should point users towards these plugins? I'm updating the title of th

[2015-11-06 21:22] pde commented on #1379
@xanni Hi Andrew!  We should have another release out shortly to fix this; in the mean time you can follow the [developer instructions](https://letsencrypt.readthedocs.org/en/latest/contributing.html#running-a-local-copy-of-the-client) to run from git master.

[2015-11-06 21:22] #1379 closed

[2015-11-06 21:25] bmw commented on #965
Dupe of #830? I don't understand the difference.

[2015-11-06 21:28] pde commented on #1340
There are quite a few things going on here:

* I suspect that the `insert_cert_file_path` line is created before the client has actually obtained a cert for you, so it doesn't actually know the real path yet.  If you run `letsencrypt install` (or use `letsencrypt run`, which combines `certonly` and `install` into a single process), these stub values will be filled out with the real cert path.
* Di

[2015-11-06 21:30] pde commented on #1340
So there's a real bug here, which is that `certonly` shouldn't leave these files lying around.  If the user runs `install`, they should be created (not just in `sites-available` but in `sites-eanbled`) and created correctly.

[2015-11-06 21:31] pde commented on #1340
As for whether they are modelled on the port 80 and port 443 vhosts... that's actually a hard question.  Some people will have an existing and correct 443 setup they wish to replace; others may have *tried* to create something on 443 but failed, so port 80 is a better starting point.  Probably starting with 443 is saner in general though.

[2015-11-06 22:04] pde commented on #428
@bmw has code for this in the `origin/autodeploy` branch, but it needs to be separated from some other changes.

[2015-11-06 22:22] pde opened #1393 "mutliple-SAN UI for webroot"
Once #1016 is done, it would need interactive UI if it is going to work for the maximum number of users.  It should call out to IDisplay once for each domain name, to figure out what the webroot is.  Ideally if the domains are `example.com` and `www.example.com` the text box for the second of them can be pre-populated with the preceding value?

[2015-11-06 22:30] pde opened #1394 "Audit Apache plugin for guaranteed reversion"
We've had some apache tickets (eg #998 #1354 #1243) which imply that the plugin's revert-in-case-of-error mechanisms are imperfect.  Those completely block the release of the Apache plugin.  We need to perform an audit to ensure that the all of the Apache plugin's file writing operations, module enablement/disablement, and config editing are properly wrapped in proper reversion logic and try-excep

[2015-11-06 22:30] pde commented on #1394
One case to be particularly mindful of is control-c.

[2015-11-06 22:44] BurakDev commented on #1370
The only improve on error message you can do is specify webroot and manual method as alternative when user trying to use standalone method.

[2015-11-06 22:45] xanni commented on #1379
On 07/11/15 08:22, Peter Eckersley wrote:

Yep, already did a git pull and got it working last night.  The only
problem is that I asked for mail.glasswings.com.au but only got
glasswings.com.au so far, so I had to reconfigure not only my webmail
but also dovecot and qpsmtpd to use the parent domain - and then change
the server settings on my clients to match.  It's working fine, but I
would still

[2015-11-06 22:47] pde opened #1396 "Should /var/lib/letsencrypt/backups be world-readable?"
It appears to be fairly safe with the Apache plugin, but we should be doubly sure, or reduce the set of users that can read it.

[2015-11-06 22:47] pde commented on #420
Results of a partial audit, observing the *results* of running LE rather than reading all relevant code:

Everything under /etc/letsencrypt/ is 700, except for `renewal/`, `csr/`, and options-ssl-apache.conf.  I actually don't understand how webservers that run as something other than root can get things from `live/` and `keys/` right now.

Everything under `/var/log/letsencrypt` is locked down.

[2015-11-06 22:47] pde commented on #420
Opened #1396

[2015-11-06 22:48] pde commented on #420
I think that's sufficient confidence to kick further work on this down the road for now.

[2015-11-06 23:08] pde opened #1397 "User-Agent: should allow computation of client success rates by platform and plugin."
In order to make strategic decisions about plugin prioritisation (engineering prioritisation, whether to ship or not ship each plugin in `letsencrypt-auto`, and which ones to prefer in the UI), we need to know which ones are succeeding for people.

That means we should send a small amount of plugin and platform information by default in the client's User Agent string, so that we can compute aggreg

[2015-11-06 23:09] pde commented on #1397
Flagging this urgent because the sooner it's shipped, the sooner we can prioritise 1.0 tickets for Apache vs webroot (vs standalone?).

[2015-11-06 23:30] pde commented on #1397
In terms of implementation:
* we  learn the plugins [here](https://github.com/letsencrypt/letsencrypt/blob/master/letsencrypt/cli.py#L426). You get their names by doing something like `authenticator.name`, provided authenticator is not `None`.
* we do something clever to determine the platform and major version
* we can pass them over to the `acme` module as optional keyword arguments, so as not t

[2015-11-06 23:31] pde commented on #1397
@yaseminacar @sfahl

[2015-11-06 23:51] allo- opened #1398 "Ignore Mimetype of the challenge file"
When the mimetype of the .well-known/acme-challenge file is not text/plain, the client fails.
I noticed that, because nginx seems to treat the file as binary/octet-stream by default.
Mimetype should not matter for the challenge authentication, so the client (or server?) should just ignore the Content-Type field of the response.

[2015-11-06 23:59] pde commented on #1196
Since we now require Mac users to run with `--debug`, and disclaim that Mac support is experimental, I think we can kick this out of the Public Beta milestone.

[2015-11-07 00:00] ZlatyChlapec commented on #1384
I generated like 4 certificates I think witch are working fine so far but I generated one of them earlier than other ones so I wanted to renew that one so all of them have same time of expiring. But I somehow didn't get it working so I was like okay maybe I could try to just run it again for that domain. It generated new cert with same name + 1 at the and I was like I don't need this I wanted just

[2015-11-07 00:31] BurakDev commented on #1398
Ignoring Content-Type will be a security issue

[2015-11-07 00:37] BurakDev opened #1399 "Production server stopped delivring certs"
Hello, letsencrypt production server stopped working.

When the validation is done, letsencrypt-auto return this error :

Error: serverInternal :: The server experienced an internal error :: Error creating new cert

Sincerely,
Burak

[2015-11-07 00:58] EliteTK commented on #1399
Same issue here. And I only just got accepted into the beta :(

[2015-11-07 01:17] allo- commented on #1398
Why? You fetch a file and look at the content.
The file got fetched despite its wrong content-type. I guess the server side does nothing else than matching the content with a string in the database, or does it? Anyway, the server could serve anything, even with text/plain content-type, if there are any security issues, i see not how they depend on the content-type header.

[2015-11-07 02:07] pde commented on #1399
Not a client bug.  Also, should now be resolved :)

[2015-11-07 02:07] #1399 closed

[2015-11-07 02:20] mitnk commented on #1398
+1 for allo, don't see any issue by ignoring the content-type.

[2015-11-07 03:12] pde opened #1400 "Convince ourselves that temp_install() isn't really a security vuln, or fix it"
There's an extremely dramatic security warning comment in the function [temp_install](https://github.com/letsencrypt/letsencrypt/blob/master/letsencrypt-apache/letsencrypt_apache/configurator.py#L1252) in the apache plugin.

This function performs a filesystem copy operation.  AFAICT the source file is controlled by `setuptools` and the destination is within the apache configuration directory cont

[2015-11-07 03:33] pde commented on #1123
@jvehent If the JSON format mapped to Nginx / Apache configuration options, I think that would be quite useful.  We could then land a unit test to ensure that what we have matches what Mozilla currently publishes.

[2015-11-07 03:39] pde commented on #1400
Actually I have a PR for this, but I'd still like James's input if possible.

[2015-11-07 03:41] pde commented on #1123
When closing this ticket, read #1401.

[2015-11-07 05:30] davidxia opened #1402 "bootstrap/dev/venv.sh works when replacing python2 with python2.7"
Not sure if others get this problem, but I get this error when I run `./bootstrap/dev/venv.sh` as instructed by the [developer guide here][1]:

[code]

But if I change `export VENV_ARGS="--python python2"` to `export VENV_ARGS="--python python2.7"`, it works.

I'm on Mac OS X 10.11 with python 2.7.10.

  [1]: https://letsencrypt.readthedocs.org/en/latest/contributing.html#hacking

[2015-11-07 05:32] davidxia commented on #1402
Oh and after sourcing the venv:

[code]

[2015-11-07 06:07] wjdp opened #1403 "dokku certs: SSL not working (Port 443 closed, certificates aren't in ~dokku/app directory)"
Running 0.4.3, first attempt using cert and key of my own:

[code]

Nothing outputted, certs not in app tls directory, connecting on HTTPS fails.

Tried again using the `certs:generate` option, I get a little further:

[code]

But deployed app still doesn't have 443 open, looking at `~dokku/ntbot/nginx.conf`:

[code]

There's nothing in here to make SSL work.

[2015-11-07 06:40] #965 closed

[2015-11-07 08:53] kuba commented on #1397
Duplicate of #858.

[2015-11-07 08:57] hugo-aa commented on #1369
Hi @kuba @rolandshoemaker FYI, after I changed my domain's Name Servers from `xx.hichina.com` (where I registered my domain) to NameCheap's FreeDNS Name Servers: `xx.registrar-servers.com`, the domain (which was in the log messages above) fetched the cert files successfully.

[2015-11-07 09:00] kuba commented on #1322
@jsha, how should the spec be interpreted here?

[2015-11-07 09:02] hugo-aa commented on #1402
After activating your env, try this:
[code]

[2015-11-07 09:11] kuba commented on #1398
`Content-Type: text/plain` is mandated by the spec: https://github.com/ietf-wg-acme/acme/blob/master/draft-ietf-acme-acme.md#http. Relevant discussion in the right issue tracker: https://github.com/ietf-wg-acme/acme/issues/9

[2015-11-07 09:11] #1398 closed

[2015-11-07 09:15] kuba commented on #1384
Duplicate of #1195.

[2015-11-07 09:15] #1384 closed

[2015-11-07 09:21] kuba commented on #1199
Since we don't have much evidence here, I'll close it as duplicate of #1195.

[2015-11-07 09:21] #1199 closed

[2015-11-07 09:22] mitnk commented on #1369
Hi @kuba @rolandshoemaker FYI, after I changed my domain's Name Servers from xx.hichina.com (where I registered my domain) to NameCheap's FreeDNS Name Servers: xx.registrar-servers.com, the domain (which was in the log messages above) fetched the cert files successfully.

[2015-11-07 10:57] #1351 closed

[2015-11-07 13:35] intgr opened #1405 "Add .txt extension to ACME challenge URL for automatic Content-Type"
Currently when performing manual authentication, you ask the user to create a file with a certain file name, and then reconfigure their webserver to serve that with `Content-Type: text/plain`. For example `http://example.org/.well-known/acme-challenge/GUu94CoL-MRy4Lr4VpCLV4uG4kEqm4hDQ_9i8XMOixo`

You could make it a lot easier by appending `.txt` to the challenge URL (filename), so no reconfigurat

[2015-11-07 13:41] kuba commented on #1405
Relevant discussion in the right issue tracker: ietf-wg-acme/acme#9.

[2015-11-07 13:41] #1405 closed

[2015-11-07 14:35] davidxia commented on #1402
@hugo-aa I still get the same error

[code]

[2015-11-07 15:12] Clete2 commented on #1294
Sorry for not realizing! Thanks for the clarification.

[2015-11-07 15:23] stapelberg commented on #921
I’ve had the same problem. https://cipherli.st/ actually recommends `ssl_session_cache`, so I expect this to be a fairly common directive for people who switch to letsencrypt.

[2015-11-07 15:30] jasiek commented on #1322
The same problem occurs with nginx.

[2015-11-07 16:09] ericandrewlewis opened #1406 "Worried about continuing with the client on a Mac"
I ran the Let's Encrypt script on my Mac and got an error that has me a bit worried about continuing.

[code]

What does "backups" mean in this context? Should I back up my entire hard drive, and proceed knowing that the script could mess up my entire computer?

[2015-11-07 16:16] jsha commented on #1322
@kuba: I think it makes sense to allow a single newline at the end of the value. If the spec is ambiguous on the topic, would you mind making a pull request at https://github.com/ietf-wg-acme/acme/ improving it?

I haven't tested what the current Boulder behavior is: is this issue about the client's self-verify, or Boulder's verify, or both?

[2015-11-07 16:31] ericandrewlewis opened #1408 "Bootstrapping dependencies failure on Mac OS X"
Running the letsencrypt script, I get an error when bootstrapping dependencies

[code]

I believe this is because the ExperimentalBootstrap invocation for Mac OS X [does not require the sudo argument](https://github.com/letsencrypt/letsencrypt/blob/e04c67ba8c40dee06f7a436b63b3d706ccdc1ad5/letsencrypt-auto#L95), so the command that is executed [here](https://github.com/letsencrypt/letsencrypt/blob/

[2015-11-07 17:29] kuba commented on #1322
Client's `self_verify` is affected. I haven't checked Boulder.

[2015-11-07 17:51] kuba opened #1409 "Simple-verify for all plugins. Log, do not fail."
Let's use `logger.warning` instead of stopping the client when `self_verify` has failed. Also, let's do it for all plugins, not just manual authenticator. It might be opt-out, but I don't see a clear reason why it should be.

[2015-11-07 18:48] kuba opened #1410 ""plugins" command shows no output"
Another regression in the CLI:

[code]

[2015-11-08 02:21] a1exus commented on #1332
I got different error this time:

[code]

[2015-11-08 02:30] reaperhulk commented on #1332
cd into the cryptography git repo, then `pip install .` from within the virtualenv you want it installed into.

[2015-11-08 02:59] a1exus commented on #1332
hopefully I did it correct:
[code]

yet, letsencrypt still errors out:

[code]

[2015-11-08 03:03] reaperhulk commented on #1332
Try running this from within your virtualenv: `python -c "from cryptography.hazmat.backends.openssl.backend import backend;print(backend.openssl_version_text())"` If it prints openssl version information then the bug has been resolved, but the lets encrypt preview is still installing cryptography somewhere else.

[2015-11-08 03:06] a1exus commented on #1332
I got openssl version information:
[code]

[2015-11-08 03:09] reaperhulk commented on #1332
Looks like the preview is installing everything into `/home/alexus/.local/share/letsencrypt`. If that's a virtualenv you can uninstall the cryptography in there and install the git version, but otherwise I'm not familiar enough with how letsencrypt installs to help further. :disappointed: We'll be discussing doing a cryptography release with this fix backported soon though.

[2015-11-08 05:43] pde commented on #1406
It means backups of any webserver configuration.  I'll update that text.

[2015-11-08 05:46] pde commented on #1406
I guess in one case we saw a FreeBSD bug report that our install scripts triggered *uninstallation* of a mailserver package.  So maybe saying you need backups is not exactly right, but we do want to ensure that people are cautious about running the experimental bootstrap scripts.

[2015-11-08 06:44] flwyd opened #1416 ""--webroot --webroot-path $root": confusing error message"
The following error output is confusing.  It complains that --webroot-path expected one argument, but that argument was provided.  The same error occurs with `--webroot-path=~/public_html` and `--webroot-path ~/public_html`
This seems like either a bug in flag parsing or a very misleading error message.  Setting the same path in a cli.ini file works fine.
[code]

[2015-11-08 06:45] #914 closed

[2015-11-08 06:48] kuba opened #1417 "Clean up plugins from references to DVSNI"
[code]

[2015-11-08 06:49] kuba commented on #914
Opened a follow-up https://github.com/letsencrypt/letsencrypt/issues/1417.

[2015-11-08 07:40] kuba commented on #1416
I don't think `--webroot` is implemented, you should use `-a webroot` instead.

However, this error message is extremely confusing and I think it's valid bug.

Related: #892

[2015-11-08 08:28] JohnDenker commented on #1340
So it looks like there is an emerging consensus.  When constructing a new configuration:
  1. Start by looking for the port 443 configuration.  If it exists, use it as the model.
  2. If there is no port 443 configuration, use the port 80 configuration if it exists.
  3. Otherwise complain that construction is not possible.

By way of contrast, the "tried and failed" scenario is not worth worrying

[2015-11-08 11:30] joohoi commented on #1383
I have started to work on this

[2015-11-08 13:11] mydansun commented on #1369
I use dnspod but it does not make any sense

[2015-11-08 13:28] nirocfz commented on #1369
@mydansun 什么意思？遇到同样的错误了吗？

[2015-11-08 15:52] JohnDenker opened #1420 "prefabricated revocation request"
#### Use Case / Scenario:

Suppose Joe User has set up his own web site and obtained a certificate from letsencrypt.   At some point down the road, the site gets pwned by hackers.  The first thing Joe is going to do is take down the site.  He's going to preserve the disk for forensic analysis.  It may take him a while to obtain new hardware and configure a replacement site.  Meanwhile, the bad guy

[2015-11-08 19:36] davidxia commented on #1402
This works on another computer that's also Mac OS X 10.11 with python 2.7.10. The log line `Running virtualenv with interpreter /usr/local/bin/python2` below implies that I don't have /usr/local/bin/python2 for some reason on that computer.

[code]

[2015-11-08 19:39] cweiske opened #1422 "Error installing on Debian 8"
I get an error when trying to setup letsencrypt on Debian 8 (jessie):

[code]

[2015-11-08 19:42] cweiske commented on #1422
Has to be an issue on my server; installing gcc isn't possible.

[2015-11-08 19:42] #1422 closed

[2015-11-08 20:56] cweiske opened #1424 "Do not require me to stop my web server"
When running `letsencrypt-auto`, I get the following message:

I do not want this. My web server is important, and taking it down for I-do-not-know-why long isn't an option for me.

I guess this is done for proving the posession of the domain.

Can't this be done on a free port and not port 80?

[2015-11-08 21:20] cweiske commented on #1195
I have the same error.
I stumbled over the `-d domain -d domain` problem #1376 and did not want a certificate with all domains.

So I removed the `/etc/letsencrypt/live/$firstdomain` directory and now I get this error.

[2015-11-08 21:42] cweiske commented on #1201
`courier-imapd-ssl` also requires the public key and the private key in a single file.

[2015-11-08 22:04] cweiske opened #1425 "Debian: Make live directory readable by ssl-cert group"
On Debian, programs that run as non-root have the group `ssl-cert`, for example `ejabberd`.

The `/etc/letsencrypt/live` is only readable by `root` and nobody else. This directory should be readable and executable by the `ssl-cert` group.

[2015-11-08 23:28] jdkasten commented on #1340
@pde That bug is a duplicate of #808.

Here is the code that it uses to select a vhost.

https://github.com/letsencrypt/letsencrypt/blob/master/letsencrypt-apache/letsencrypt_apache/configurator.py#L237

I do agree that basing it off of a preexisting 443 vhost would be nice.  Though you have to worry about the default 443 vhosts.  (You probably don't want to model your new vhost after it)  Plus al

[2015-11-09 01:02] xamnesiax-sx commented on #1397
@pde https://github.com/xamnesiax-sx/letsencrypt/commit/9de2cc0f2480f1e22458377d126c32a22bafafd8 I've mostly implemented it, need some clarification on a few things. I'll hit you up on IRC tomorrow

[2015-11-09 01:59] justfortherec commented on #1208
@pde, does the "Nice for 1.0" tag mean that Apache 2.2 is not officially supported?

As I understand it, this tag means a feature is optional and "nice to have" instead of critical for proper functionality. However, without this issue  being fixed lets-encrypt won't work with Apache 2.2. In light of version 2.2 being the most used version of Apach2 (cf. [1], [2], and [3]), this is a real showstopp

[2015-11-09 07:43] pastukhov commented on #1425
+1

[2015-11-09 07:44] analogic commented on #1424
https://github.com/letsencrypt/acme-spec/issues/33

[2015-11-09 07:59] landryb commented on #1174
Fwiw (and i'm the one that started working on psutil on OpenBSD), when i encounter code that depends on psutils for 'small things' i just patch it out - see for example http://cvsweb.openbsd.org/cgi-bin/cvsweb/ports/sysutils/menulibre/patches/patch-menulibre_util_py?rev=1.2&content-type=text/x-cvsweb-markup

[2015-11-09 09:41] jackerzhou opened #1426 "Error creating new authz :: Name is not whitelisted"
2015-11-09 09:38:54,785:DEBUG:letsencrypt.cli:Root logging level set at -10
2015-11-09 09:38:54,786:INFO:letsencrypt.cli:Saving debug log to /var/log/letsencrypt/letsencrypt.log
2015-11-09 09:38:54,786:DEBUG:letsencrypt.cli:letsencrypt version: 0.1.0.dev0
2015-11-09 09:38:54,786:DEBUG:letsencrypt.cli:Arguments: ['--server', 'https://acme-v01.api.letsencrypt.org/directory', '-vvvv', '--text', '--ag

[2015-11-09 09:44] jackerzhou commented on #1287
i have the same error ,Could you tell me how do you solve?

[2015-11-09 10:30] ghw commented on #1426
You need to apply for Beta Invite Closed
https://docs.google.com/forms/d/15Ucm4A20y2rf9gySCTXD6yoLG6Tba7AwYgglV7CKHmM/viewform?edit_requested=true

[2015-11-09 10:41] infectormp opened #1427 "letsencrypt-auto don't work for gentoo"
if i run
```./letsencrypt-auto --agree-dev-preview --debug --server https://***.api.letsencrypt.org/directory certonly```

i get
```Bootstrapping dependencies for Gentoo...```
```./letsencrypt-auto: line 36: : command not found```

[2015-11-09 10:42] infectormp commented on #1427
this solution https://github.com/letsencrypt/letsencrypt/pull/1221#issuecomment-155020245 work for me.

[2015-11-09 10:46] jedisct1 commented on #1174
Any progress on this, @sboyettedh ?

[2015-11-09 11:46] pornel opened #1428 "Not compatible with Debian 6 and Python 2.7"
I've got a server running Debian squeeze with Python upgraded to 2.7 (I don't use python and don't remember what I needed the upgrade for, but now it's too late and apt-get won't let me downgrade without uninstalling dozens of seemingly unrelated packages that I actually need).

 python-dev : Depends: python (= 2.6.6-3+squeeze7) but 2.7.3-4+deb7u1 is to be installed
              Depends: python2.

[2015-11-09 11:46] #1428 closed

[2015-11-09 17:50] NEOatNHNG commented on #1425
+1

[2015-11-09 18:12] jsha opened #1430 "-vvvv should imply --text"
Running with -vvvv results in a series of ncurses windows that get filled with rapidly scrolling text. I think -vvvv should imply --text, or it should provide the output in a log or some other readable method.

[2015-11-09 18:18] the-real-tokai commented on #1230
I'm using the German **allinkl** web hosting service too. I simply dropped a `.htaccess` file with `ForceType application/jose+json` into the `.well-known/acme-challenge/` directory, no need for PHP.

I run **letsencrypt** in a dedicated ubuntu VM. The main problem is that it's rather time consuming to manually transfer the challenge files to the actual host on the webhoster's server. Doing this e

[2015-11-09 18:24] My1 commented on #1424
you also could try manual auth or webroot which also shouldnt require stopping your server instead you have to put certain files to certain paths in your domain. that might look like this:
http://my1xt.tk/.well-known/acme-challenge/jtjmeR1xz7CoAT7nkvsXa1mF2vROThNlTY31ZUuJg4E
you have the url and in that you have a certain text accessible.

[2015-11-09 18:25] jsha opened #1431 "Warn when multiple IP addresses for a requested name"
Right now, Boulder will attempt validation of just one of the IP addresses in DNS. It would be helpful if the client did a lookup and warned the user that it can't guarantee success if there are multiple IP addresses for a given name.

[2015-11-09 18:39] sesse opened #1432 "Asks about HTTPS redirect despite installer not supporting it"
Hi,

I'm writing an installer plugin that will not support enhancements, and thus returns none:

    def supported_enhancements(self):
        return []

Nevertheless, on letsencrypt install (with this plugin), I get the choice “Please choose whether HTTPS access is required or optional.”, and then I can choose between Easy or Secure. Shouldn't it check with the installer if it can do the “redirec

[2015-11-09 18:58] nils-ohlmeier opened #1433 "Installer should only select domains covered by the cert"
After getting my first cert I used the installer to install the cert into my Apache configuration. When requesting the certificate I only requests a cert for www.MYDOMAIN.com.

When I ran this command:

`./letsencrypt-auto install --cert-path /etc/letsencrypt/live/www.MYDOMAIN.com/fullchain.pem --key-path /etc/letsencrypt/live/www.MYDOMAIN.com/privkey.pem`

the installer offered me 5 hosts to inst

[2015-11-09 19:02] nils-ohlmeier opened #1434 "Include IP address which backend tried to connect to"
Shortly before requesting my first certificate I moved the domain to a different host. This resulted in the auto client failing with a generic error message that the authorization failed.

I had to run tcpdump on the old and the new server to figure out that the reason why the authorization failed was because the LE backend kept trying to connect to the old IP address.

Obviously it is not a good

[2015-11-09 19:13] sesse opened #1435 "Installer plugin documentation is lacking/confusing"
Hi,

I'm trying to write an installer plugin. The IInstaller interface has lots of different functions that I seemingly need to override, but the documentation is very unclear about the larger picture. In normal use, I can only see prepare, deploy_cert, save and restart be called; however, there are lots of others, including get_all_names (which is hard for me to find without opening and parsing t

[2015-11-09 19:39] #1408 closed

[2015-11-09 20:02] pde commented on #1397
Here is what the final User Agent should perhaps look like:

[code]

[2015-11-09 20:04] pde commented on #1397
The client version ("0.1.0dev0" in my example above) can be found [here](https://github.com/letsencrypt/letsencrypt/blob/master/letsencrypt/__init__.py).

[2015-11-09 21:14] cweiske commented on #1424
@My1: The client advised me to do it and did not go any further without it. While it might be true that I can solve this problem somehow, it isn't straightforward.

[2015-11-09 21:25] bmw commented on #1402
This error `ImportError: 'module' object has no attribute 'Authenticator'` actually has to do with old `.pyc` files. Delete these files (specifically everything in the `letsencrypt/plugins/standalone` directory) and it should fix the problem.

[2015-11-09 21:30] My1 commented on #1424
that's why you should try manual mode (-a manual) it might work that way.

[2015-11-09 22:18] bmw commented on #1426
Since this is a dupe of #1287, I'm closing this issue.

As for resolving the issue, I'm assuming you got an invite into the beta program. Did your beta invite say that the exact name `avlmetrics.com` was whitelisted? Please feel to follow up here, #1287, or #letsencrypt on Freenode. The last option will probably get you the fastest help.

[2015-11-09 22:18] #1426 closed

[2015-11-09 23:11] Xenopathic commented on #1274
We've just had a real-world issue report about this: owncloud/core#20414

[2015-11-09 23:12] bmw commented on #1430
Everything that is shown with `-vv` is written to a log in the logs directory whether or not `-vv` is included on the command line. I agree that the rapidly scrolling text in `dialog` has little/no value though.

[2015-11-09 23:16] bmw commented on #1432
There's actually a TODO about this in the `enhance_config` function in `client.py`. Thanks for creating this issue though. Github is certainly a better place to track the issue than a TODO comment.

The relevant change needs to be made in `enhance_config`.

[2015-11-09 23:21] bmw commented on #1424
This is actually a dupe #1370. @cweiske, if you're running Let's Encrypt on your server, I would use `webroot`, otherwise I would use `manual`. More information is available [here](https://letsencrypt.readthedocs.org/en/latest/using.html#plugins).

[2015-11-09 23:21] #1424 closed

[2015-11-09 23:38] #1400 closed

[2015-11-09 23:41] #1274 closed

[2015-11-09 23:52] ffxsam commented on #1287
Same error here too. What does it even mean? If my domain `blah.com` is whitelisted, can I make an SSL for `my.blah.com`? What are the DNS requirements (if any) for `my.blah.com`?

Documentation on this needs a lot of work.

[2015-11-10 00:01] ffxsam commented on #1316
I'm getting this error as well. Log: https://gist.github.com/ffxsam/427b3d5ee87cf3372881

[2015-11-10 00:06] dantman opened #1437 "OSX installation failure with virtualenv-13.1.2-py2.py3-none-any.whl"
Here's the installer failure I got on OSX:
[code]

[2015-11-10 00:21] #1383 closed

[2015-11-10 00:21] #1212 closed

[2015-11-10 00:23] pde commented on #830
Since #1421 has landed, this is no longer an issue with the Python client.

[2015-11-10 01:55] ccatlett2000 commented on #66
@rcc26 As others have said, some services mint wildcards on the fly, and as such *need* wildcard support. Some of these services cannot afford to wait 30 seconds when a new subdomain is accessed. In example, https://onion.to uses subdomains as input.

Some applications of wildcards aren't laziness but legitimate design decisions.

In relation to wildcards, +1

[2015-11-10 03:04] pde commented on #1224
Having landed #1385, I think the remainder of the ticket (actually parsing and editing user macros) is a wishlist ticket.

[2015-11-10 05:56] the-real-tokai commented on #1437
Looks like you need `sudo` for the Python stuff at the end, but that conflicts with the official Homebrew philosophy (recommend to install w/o admin privileges, see http://brew.sh/ )… additionally Homebrew stuff probably will run into conflicts with your Fink or MacPorts installation.

The `letsencrypt` client sucks a lot of dependencies into the system and alters your installation in ways you per

[2015-11-10 06:08] the-real-tokai commented on #1230
I guess mounting the remote server via `sshfs` locally and then passing the mount location via `-webroot-path` could do the trick, no need for a `--remote-webroot-path=` thingy. Would be interesting to know if that would work.

[2015-11-10 06:23] sgulseth commented on #1403
I think this is a dokku related issue, not Let's Encrypt. I actually made a plugin to use with dokku to sign domains. It's not very great tested yet, but you can try it here https://github.com/sgulseth/dokku-letsencrypt

[2015-11-10 08:09] kuba commented on #1230
Yes, `sshfs` works OK.

[2015-11-10 09:19] PatrickHeppler opened #1440 "Error: serverInternal :: The server experienced an internal error :: Error creating new authz"
This seems not a whitelist problem

2015-11-10 09:06:50,846:DEBUG:letsencrypt.cli:Root logging level set at 30
2015-11-10 09:06:50,847:INFO:letsencrypt.cli:Saving debug log to /var/log/letsencrypt/letsencrypt.log
2015-11-10 09:06:50,847:DEBUG:letsencrypt.cli:letsencrypt version: 0.0.0.dev20151108
2015-11-10 09:06:50,847:DEBUG:letsencrypt.cli:Arguments: ['--agree-dev-preview', '--server', 'https://

[2015-11-10 09:46] mjrider commented on #1201
haproxy also likes to have a combined file with the contents of fullchain.pem and privkey.pem
@kuba a 'custom' installer plugin which runs a (in the config ) provided script could fix the whole everybody has a different environment problem. And would make installation automation easier to integrate mass hosting configurations where generic apache/nginx configuration mutations are not an option.

[2015-11-10 09:51] acastaner opened #1441 "letsencrypt-auto only checks for packages?"
I just got invited in the beta and tried to run Let's Encrypt on a CentOS 6.7 VPS machine. I have cloned the repo and ran the following command:

``sudo ./letsencrypt-auto --agree-dev-preview --server https://acme-v01.api.letsencrypt.org/directory auth``

The dependencies were correctly installed and I didn't get any error message. However the /etc/letsencrypt folder wasn't created, and every time

[2015-11-10 10:15] ducktype commented on #66
+1

[2015-11-10 10:20] xezpeleta commented on #1208
Same here.

I have mod_jk mod enabled in my Apache 2.2 (Debian Wheezy, LTS) and one of my vhosts is configured with "JkMount" directive.

**letsencrypt.log:**
[code]

It works well using "certonly", but I'd like to configure the automatic renewal for all the domains. I understand that we need to use the "run" mode for that...

[2015-11-10 10:34] TheBigBear commented on #1333
@kuba, ok, so how do I get past this error "AttributeError: 'module' object has no attribute 'SSL_set_tlsext_host_name'"
Do you need any more info from me?

[2015-11-10 10:36] joohoi opened #1442 "Help text for -d (--domains) command line flag and the plural form of the long name"
Seems like the short help isn't descriptive enough to point the user to the right direction when using multiple domain names, as seen here #1383 .

Also the plural form of the long name is a bit deceptive, as it actually takes only one domain as an argument.

Touches also the subject of #1376 , any suggestions for the actual help text are appreciated.

[2015-11-10 10:39] bemyak opened #1444 "Virtual env. creation failed on Debian"
I'm running letsencrypt on debian jessie server with enabled backports and proposed-updates
Dependencies installation is OK, but After that I get:
[code]
I can't find any similar bug here, so I decide to create a new one.
Is there any solution?

[2015-11-10 11:29] acastaner commented on #1441
Ok it seems that on CentOS you need to add the --debug argument because Python 2.6 is deprecated on this platform.

[2015-11-10 11:36] dantman commented on #1437
Actually I'd like to try and help improve the OSX support instead.

Besides, my Air has enough of a burden running everything else without me adding a vm into the mix.

[2015-11-10 11:54] dantman commented on #1437
...ok, I didn't expect something that's supposed to be installable everywhere to get certificates to require a full maria database and rabbitmq daemon. I guess I'll go with the docker install.

[2015-11-10 12:05] Harvester57 commented on #1440
Same error here :

2015-11-10 12:01:17,317:DEBUG:letsencrypt.cli:Root logging level set at 30
2015-11-10 12:01:17,321:INFO:letsencrypt.cli:Saving debug log to /var/log/letsencrypt/letsencrypt.log
2015-11-10 12:01:17,325:DEBUG:letsencrypt.cli:letsencrypt version: 0.0.0.dev20151108
2015-11-10 12:01:17,325:DEBUG:letsencrypt.cli:Arguments: ['--agree-dev-preview', '--server', 'https://acme-v01.api.lets

[2015-11-10 13:25] thenktor opened #1445 "Document use of hidden directories in webroot/manual"
The webroot domain verification method fails with Hiawatha web server because Hiawatha blocks all access to hidden directories (directories beginning with a dot) for security reasons. It will always return a 403 when /.well-known/acme-challenge/ is accessed.
See this discussion: https://www.hiawatha-webserver.org/forum/topic/623

[2015-11-10 13:29] kylebshr opened #1446 "Using letsencrypt-auto --apache Fails on CentOS 7"
Hi there,

I just got accepted into the beta, and I'm attempting to install a certificate using the instructions in the email. This is the command I'm running, and what's happening:

    $   ./letsencrypt-auto --apache --server https://acme-v01.api.letsencrypt.org/directory --agree-dev-preview
    Updating letsencrypt and virtual environment dependencies.....Requirement already satisfied (use --up

[2015-11-10 13:41] adamhorner opened #1447 "letsencrypt-auto fails with no working sudo"
This is possible on gentoo, maybe others.
PR to come with a simple error message and quit when no working sudo found

[2015-11-10 14:42] TheBigBear opened #1449 "what is a good tiny (or minimum) system to fire up and fetch the LE SSL certs to a file?"
My RHEL 5 box is not able to actually fetch the certificates and the support issues raised don't seem to progress, so I am wondering if I can instead ( and only as a short term relieve ,or work-around, - get the SSL certs that will otherwise need to be bought - as the current ones expire in days )

RHEL 5 is also not suitable for runnig docker on it. So I am thinking of installing a small and simp

[2015-11-10 14:46] TheBigBear commented on #1449
The issue that I am stuck on and that doesn;t get resolved is: https://github.com/letsencrypt/letsencrypt/issues/1333 , so this one is just to come up with a 'quicker' work-around, which I presume would be interesting to toehrs as well.
Maybe there is a suitable 'vagrant' file available that will do what you would ordinarily do with your docker file provided?

[2015-11-10 15:07] tedb commented on #1447
I would prefer if letsencrypt-auto does not run sudo itself.  I should have to run the utility as sudo myself if it needs root permissions.

[2015-11-10 15:09] mariusv opened #1450 "Typo in sent email for beta invite"
Heya,

There is a small typo I noticed in the email you send

this:

[code]

Should be this:

[code]

The `--server` is missing one `-` .

[2015-11-10 15:13] tedb opened #1451 "Manual certonly request fails due to newlines in .well-known string"
tl;dr: Self-verify of challenge from HTTP server fails; algorithm needs to chomp/trim newlines present in HTTP response.

I am participating in the closed beta and I requested my first cert yesterday.  I am terminating SSL on an external provider so I used the following invocation for letsencrypt-auto:

./letsencrypt-auto -a manual certonly

This process requested that I place a random token at a

[2015-11-10 18:28] centminmod commented on #1260
@bmw @jsha @pde any input would be great :)

[2015-11-10 18:45] IzzySoft opened #1452 "domain string in user config limited to 64 chars"
I've initially posted it at the wrong place ([see here](https://github.com/letsencrypt/acme-spec/issues/232)), from where I was sent to [another wrong place](https://github.com/letsencrypt/boulder/issues/1117) – so I hope try number 3 hits the right place now:

The client accepts a config file using the `-c <filename>` parameter. I'm using this to setup things. With new domains whitelisted, I had

[2015-11-10 19:43] bmw commented on #1445
This is also the default behavior on Nginx, but like Nginx, it looks like this behavior can be configured. See `AllowDotFiles` [here](https://www.hiawatha-webserver.org/manpages/hiawatha).

[2015-11-10 19:51] bmw commented on #1446
Our Apache plugin currently only works on Debian based systems because it relies on Debian specific executables (such as `a2enmod`) and directory layouts (such as `sites-available` and `sites-enabled`). See #788 for more info.

You are seeing this error message because our code is looking for these programs and directories. When it fails to find them, it assumes that Apache is not installed and ex

[2015-11-10 19:51] #1446 closed

[2015-11-10 20:01] bmw commented on #1333
@TheBigBear, can you include the logs from the run where you saw `AttributeError: 'module' object has no attribute 'SSL_set_tlsext_host_name'`? If you don't want to look through the different log files, assuming you're getting the same error, just run the client again with `-vv --debug -t` on the command line and include the output here.

[2015-11-10 20:16] bmw commented on #1449
The current Linux distros that are officially supported are Debian or Red Hat based distros with Python 2.7 and Arch Linux.

If your main concern is size, you could give Arch a shot. While there is certainly a smaller variant of Debian/Red Hat out there that I'm not aware of, `letsencrypt` as likely not been tested on it.
LE is known to work well on Arch. The one problem you may run into here is i

[2015-11-10 20:23] antmd commented on #1333
I just encountered the same issue with `AttributeError: 'module' object has no attribute 'SSL_set_tlsext_host_name'`. It looks like `SSL_set_tlsext_host_name` was introduced in 0.9.8f of OpenSSL (see https://www.openssl.org/news/cl098.txt). Unfortunately CentOS 5 (which my VPS is on) has 0.9.8e in yum. I guess I need to look at building 0.9.8f myself.

[2015-11-10 20:25] bmw commented on #1447
Closing as a dupe of #1148.

[2015-11-10 20:25] #1447 closed

[2015-11-10 20:28] bmw commented on #1451
Dupe of #1322.

[2015-11-10 20:28] #1451 closed

[2015-11-10 20:44] kroeckx commented on #1354
So I upgraded to 6fbcebd4ab8cb356de92c80c976c9bf0fefb13b4 before trying any of this again to see if I can reproduce it.

It seems to be acting strange, and I can't always reproduce it.  I think I could reproduce twice that it showed me the "1  Apache Web Server - Alpha (apache) [Misconfigured]" again, and I think at that time it already deleted my config file.  I'm just going to have to guess that

[2015-11-10 20:58] bmw commented on #1260
Unfortunately, I'm not sure if we'll ever make the suggested change here. Doing so would require some major rearchitecture of the client and would take some time. Furthermore, it also is likely to make things more complicated for us. For instance, when the certificate is renewed, we'd have to make sure that the symlinks for every domain in the certificate are updated. This leads to more problems l

[2015-11-10 21:29] bmw commented on #1452
Third times a charm. You've found the right repo. This actually a known problem though. See #1180 for discussion of the issue.

[2015-11-10 21:29] #1452 closed

[2015-11-10 21:32] antmd commented on #1333
FYI, I couldn't upgrade SSL easily, so I made the following workaround:

[code]
then I edited `~/.local/share/letsencrypt/lib/python2.7/site-packages/OpenSSL/SSL.py` and commented out the line mentioning `set_tlsext_host_name` (line 1237)

and the same for `~/.local/share/letsencrypt/lib/python2.7/site-packages/pip/_vendor/requests/packages/urllib3/contrib/pyopenssl.py` (line 279)

After that ever

[2015-11-10 22:21] tedb commented on #1322
@MiaP97 For this to work for me, I had to generate my verification file using "echo -n" to not append the newline, as in:

echo -n "abcd-etc-xyz" > filename

Does that work for you with your Litespeed based host?

[2015-11-10 22:29] Edgewise commented on #1173
I got this working on my smartos server running an nginx reverse proxy. I have python2.7 installed and the script recognized it correctly (I just started/pulled today). You might try pulling the latest source and trying again.

I used the following steps:
* commented out the two lines in the letsencrypt-auto file that contain 'letsencrypt-apache'.
* installed virtualenv and pip using 'pkgin in py2

[2015-11-10 22:37] TheBigBear commented on #1333
@antmd thanks for your hint. I treid following your example, but I don't get a ```'~/.local/share/letsencrypt/lib/python2.7/site-packages/OpenSSL/SSL.py'``` file to edit.
I can edit the pyopenssl.py file , but I somehow still get the error in the subject of this issue.

If I search my venv for any files that contain ```'set_tlsext_host_name'```,

I get
[code]

As you can see I edited line 140 of `

[2015-11-10 22:49] pritambaral commented on #1444
Haven't been able to reproduce it on a fresh, updated install of jessie with backports and proposed-updates enabled. A fresh clone from master and a `./letsencrypt-auto` works well enough to be able to successfully create a virtualenv.

@bemyak Can you reproduce it? Are there any specific steps?

[2015-11-10 23:39] IzzySoft commented on #1452
Thanks for the pointer, @bmw – different error message, but similar issue. The key answer is (quoted from there):

I already noticed that in another context (no underscores, but dashes in e.g. `standalone-supported-challenges`). The quoted line should be placed in the head of the sample configs :)

[2015-11-11 00:21] adam1010 commented on #1062
Removing the Character Set worked for me as well. I also had a newline character at the end (thanks to my text editor).

Does anyone know where that code is located so I can call strip() and save others the trouble of including extra whitespace?  /letsencrypt/plugins/manual.py Line 178 appears to be where it's checking the challenge

[2015-11-11 01:27] bmw opened #1456 "Rollback after user modifications"
Suppose a user runs LE and it modifies the file `/etc/apache2/sites-available/example.conf``. The user then also modifies this file and at some point in the future the user tries to rollback back to the state before running LE for the first time. In this case, the users changes are lost.

 Perhaps we could do something by comparing the values for mtime, but this is tricky as changes are registered

[2015-11-11 01:38] pde commented on #1137
From the latest Beta Program email:

# How to use the client

The Let's Encrypt client supports a number of different "plugins" that can be used to obtain and/or install certificates.  A few examples of the options are included below:

If you're running Apache on a recent Debian-based OS, you can try the Apache plugin, which automates both obtaining and installing certs:

  ./letsencrypt-auto --ap

[2015-11-11 01:54] #1374 closed

[2015-11-11 02:00] #1442 closed

[2015-11-11 02:02] yobyot opened #1458 "AWS Linux errors"
Attempting a stand-alone install on [AWS Linux 2015.03](https://aws.amazon.com/amazon-linux-ami/2015.03-release-notes/) generates this error:

`Command "/home/ec2-user/.local/share/letsencrypt/bin/python2.7 -c "import setuptools, tokenize;__file__='/tmp/pip-build-xMWPFC/cffi/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r \n', '\n'), __file__, 'exec'))" install

[2015-11-11 02:02] pde commented on #1450
@jcjones

[2015-11-11 02:58] pde commented on #808
Reportedly this is hairy because plugin has to handle two cases (`run` and `certonly`) and do different checkpointing in each case.  So removing `Good Volunteer Task`.

[2015-11-11 02:59] pde commented on #807
@jdkasten should this be a **1.0 for launch** ticket?

[2015-11-11 02:59] pde commented on #807
or **nice for 1.0**?

[2015-11-11 03:04] #1148 closed

[2015-11-11 03:22] pde opened #1459 "Start a testing farm."
We should have a script that spins up a bunch of VMs running whatever OSes & versions we think we support, and:

* runs unit tests
* runs integration tests
* field tests against the staging API
* runs plugin compatibility tests

It could report results in the IRC channel, and/or be a required step for releases.

[2015-11-11 03:33] pde commented on #1201
I fear that despite the inelegance of adding four more files in the `live/` directory, perhaps we should do that (and also make sure we add a README file at the same time, saying which ones are appropriate for which software).

Part of the reason is that rather than stub installers that spit out certs and chains in funny formats, what we really want is installer plugins for  `haproxy`, `courier-im

[2015-11-11 03:35] pde commented on #1201
A third option: we make all the keyless file formats by default.  For the ones that need keys, there is an *authenticator* ("certonly") flag to request the extra format from storage.py.  Those can have warnings on them saying that they leave keys lying around in `/etc/letsencrypt/live`.  When there's an installer for `haproxy`, using it with `letsencrypt run` can imply the appropriate authenticato

[2015-11-11 03:39] pde commented on #1201
I like option 3.  @kuba, wdyt?

[2015-11-11 03:51] pde opened #1460 "HelpfulArgumentParser should know about flags that are relevant to several topics"
We currently have a bunch of hairy special cases where flags are documented in different places depending on which help topics are being displayed.  These are bad to maintain, so we should either have HelpfulArgumentParser know about and organise them automatically (alternatively, we chould completely rearchitect cli.py to give good concise topic-based help in some better way, such as writing our

[2015-11-11 05:49] bemyak commented on #1444
Yes, I can.
Here is full log:
http://pastebin.com/8U3WzbRW

[2015-11-11 06:33] MiaP97 commented on #1322
@tedb

It does, which is strange because I used nano -N and still got the error.
It still might be useful to allow a newline at the end because:
a) It's a common error, and
b) Some people may only have access to a web-based text editor that automatically adds new lines

[2015-11-11 07:34] vtorhonen commented on #180
+1 - many, many IPv6-only hosts and no letsencrypt.

[2015-11-11 07:46] aleng20 opened #1461 "Error: serverInternal :: The server experienced an internal error :: Error creating new authz"
log file:

[code]

Debian8,nginx,

[2015-11-11 07:57] kuba commented on #1201
We probably do want `haproxy`, `courier-imapd-ssl`, `pure-ftpd` installers. However, there is no time to implement them now. Having a "swiss-army" installer that spits out various cert/chain/key combinations is the best temporary solution IMHO.

Your third option still seems to require users to manual concat/split files, which is really suboptimal.

[2015-11-11 07:58] aleng20 commented on #1461
i've even try Docker

[code]

however, give me the same error

[2015-11-11 08:06] kuba commented on #1062
`strip()` should not be used until we resolve #1322 - this is a spec compliance problem.

charset is also being discussed in https://github.com/ietf-wg-acme/acme/issues/9.

I'm closing this issue in favor of the two mentioned above.