[2018-12-03 07:38] adferrand commented on #5884
It is even worse with the latest Ubuntu LTS, that will have 10 years of support. But we are working on a new packaging approach, that will address this specific issue: how to be independant from the specific python dependencies on a given Linux distribution.

[2018-12-03 10:23] belegnar commented on #5592
Trouble point is
[code]

[2018-12-03 18:19] sydneyli commented on #6531
Hi @0xC1A551C, if you're still having trouble with this, I recommend you ask this question on the [Let's Encrypt Community Forums](https://community.letsencrypt.org/c/help), where there's a larger audience of people familiar with the project. You'll get much faster help there!

What OS are you on? If you use our [instruction generator](https://certbot.eff.org/) and enter your OS, if you have the D

[2018-12-03 23:32] #6209 closed

[2018-12-03 23:59] schoen commented on #3059
I suspect that this error probably can't happen any more, although it might be a form of problem with not giving useful error messages in case of certificate authority outages (tracked at https://github.com/certbot/certbot/issues/1249).

If anyone experiences this error again in the future, please mention it in issue #1249 if it's associated with a Let's Encrypt service outage (you can check at ht

[2018-12-03 23:59] #3059 closed

[2018-12-04 00:04] schoen opened #6552 "certbot-auto should give explicit errors about (e.g. pip) dependency versions"
There are some obscure problems possible when running `certbot-auto` with a very old version of pip. There might be other problems where certbot-auto calls various tools and libraries on the system that have an implicit minimum version that we don't explicitly check for.

So, we should go through all of `certbot-auto` and try to identify minimum required versions (perhaps of anything other than to

[2018-12-04 00:04] schoen commented on #3080
It appears from the discussions that this is a symptom of having out-of-date Python tools installed on the system (such as a very old version of pip). Ideally, `certbot-auto` should diagnose this problem better and explain the exact reason and steps to remedy it. I'll suggest tracking that as a new issue, though (#6552).

[2018-12-04 00:04] #3080 closed

[2018-12-04 00:18] schoen commented on #3288
To my knowledge, all of the cases of this that we've dealt with on the forum have turned out to be aspects of #6382 (unsupported renaming of contents of `/etc/letsencrypt`). I'm keen to hear about other kinds of problems with symlinks in `live`, but it would probably be most helpful to hear about them on the forum instead of GitHub.

For most cases I think this is superseded by #6382 (we know that

[2018-12-04 00:18] #3288 closed

[2018-12-04 06:51] trinopoty commented on #6504
I don't think plugin authors will have problems maintaining the plugins themselves. That'll even be easier and faster to get bug fixes done. The problem will be with the quality control and making sure the plugins are in pip and other OS repos.
Not everyone (including myself) submitting plugins have experience with submitting to pip and OS repos.

[2018-12-04 10:15] AGO-NX commented on #5921
I also have this very same issue:
[code]

I did not supply "--max-log-backups" on my command, so why does certbot think so ?

I installed certbot from Debian repos:
[code]

[2018-12-04 16:49] Jarodiv commented on #5263
Wow, I totally missed out this one.

Systemd, if used, always has the PID `1`, so the easiest way is to simply check if the process `systemd` is running and if it has the PID `1`.

Nope, it sadly does not. I wasn't able to locate the file neither in the Gentoo repos nor in the Apache Git repo but here is how it looks on my host (vanilla):
[code]

Gentoo has a very odd way for applying configuratio

[2018-12-04 18:53] tallero commented on #5087
In any case it seems to me that linking here some code that can create the required certificate given some of the affected apps is not a bad idea.

https://github.com/tallero/misc/blob/master/certbot_extra_formats

[2018-12-04 18:56] #6343 closed

[2018-12-04 19:17] bmw opened #6554 "dev0 version numbers in title for docs"
As pointed out by @ohemorange, https://certbot.eff.org/docs/using.html has dev0 in the title.

I think this is because we have Sphinx configured to read Certbot's version number when building the docs and the git submodule on the website repo is at a dev0 version. I think probably the easiest fix for this is to see if we can remove the version number from our docs entirely.

[2018-12-04 19:31] schoen commented on #142
I don't believe that this is something that EFF would likely want to implement directly in 2018, especially in the knowledge that it would leave an opening for downgrade attacks. If there are still users who are concerned about these compatibility problems and want to mitigate them this way, I'd suggest that a different project should offer a sample configuration to support this case.

[2018-12-04 19:31] #142 closed

[2018-12-04 19:50] bmw commented on #6504
We've found [adding a package to PyPI](https://packaging.python.org/tutorials/packaging-projects/) to be pretty easy, but getting your software and updates packaged in OS repos is hard. We're actively working on a new way to distribute Certbot outside of these repos and are thinking about ways to keep third party plugin installation simple.

[2018-12-04 20:17] trinopoty commented on #6504
Also, another thing is that plugins that gets included into certbot is considered "official". Without that, it'll become a mess of different plugins for the same provider and all. That's not something that **needs** to be solved but should be considered given that certbot acts as a setup-and-forget kind of tool.
Wouldn't want people running around looking for plugins to use in a production environ

[2018-12-04 20:18] schoen commented on #5087
Thanks, @tallero!

[2018-12-04 20:35] Emerson commented on #5015
Same issue here on Ubuntu. Ended up just using acme.sh, was much easier.

[2018-12-04 20:39] bmw commented on #6504
Sure. I personally want to do as much as we can to make it easy for people to write, install, and use third party plugins, but plugins maintained by us will probably be the only ones we ever recommend users install without any caveats because we're unable to make any guarantees about the quality or security of code maintained by others.

I don't think we want to maintain an official plugin for eve

[2018-12-04 21:07] bmw commented on #5884
Sure. We could talk about making changes here, however, if Trusty is the main issue, I'm hesitant to try and transition people using the PPA there to `certbot-auto` when the release is reaching it's EOL in a few months. I'm also hesitant to abandon the users without updates until Trusty is EOL'd.

[2018-12-04 21:17] noci2012 commented on #3411
I think this is not a certbot problem as apachectl is installed with apache.
Was apache installed with systemd flags?
apachectl is the "normal" way to control apache, so why would certbot need a different way?

IMHO personally i hope gentoo keeps systemd optional as i still see no improvement on systems running systemd, i do see questions elsewhere about how to get things to work or behave rationa

[2018-12-05 01:15] schoen commented on #728
This issue no longer makes sense because there's no longer a delay between renewal and deployment, in the way originally understood by this issue.

We do need to better deal with some other issues around revocation, but they're extremely infrequent problems in practice for our users!

[2018-12-05 01:15] #728 closed

[2018-12-05 06:06] grx7 commented on #3396
I got apache2 with virtual hosts running 3 domains on same VPS. First two were installed without an issue. But when I've added a 3-d site it didn't install it properly, I've removed folders with lets encrypt but seems like already did 5 attempts. Any idea how to override without waiting for a week?

[2018-12-05 08:03] joohoi commented on #3411
Hi!

As of now, we strongly prefer using `apache2ctl`, as distributions are modifying it to fit their needs. Depending on distribution, it may have some distro specific parsing logic. For example, Gentoo reads the distro specific configuration file `/etc/conf.d/apache2` and modifies the apache2 startup command line accordingly.

This logic actually resides in the OpenRC script, and in Gentoo `apac

[2018-12-05 10:04] daniejstriata commented on #6328
I had a clean install of Centos and added Certbot from Epel repo caused the same problem. Fixed issue by running
`pip install requests==2.6.0`

[2018-12-05 11:14] sh4d0v1 commented on #5486
@hkinks Your command will fail to start nginx if killall doesn't find a nginx instance to kill before, since you use '&&'.

I still see nginx failing to get restarted after a cert renewal, and I tried the workarounds mentioned in this thread. certbot seems to bind something (nginx?) to port 80 for cert renewal, and this seems to block nginx to bind there through the post-hook. Also tried to insert

[2018-12-05 12:30] W360S commented on #5447
this link will help you out.
https://launchpad.net/~certbot/+archive/ubuntu/certbot

[2018-12-05 16:21] ungarscool1 opened #6556 "Error during certbot's installation"
If you're having trouble using Certbot and aren't sure you've found a bug or
request for a new feature, please first try asking for help at
https://community.letsencrypt.org/. There is a much larger community there of
people familiar with the project who will be able to more quickly answer your
questions.

## My operating system is (include version): Debian 9.6

## I installed Certbot with (certbo

[2018-12-05 17:22] sydneyli commented on #6556
Hi @ungarscool1-- if you're trying to build Certbot to develop on it, we recommend you follow our [Developer's Guide](https://certbot.eff.org/docs/contributing.html). Otherwise, try using our [instruction generator](https://certbot.eff.org), which will tell you the officially supported way to install certbot for your system.

I also recommend you ask any follow-up questions on the [Let's Encrypt C

[2018-12-05 17:22] #6556 closed

[2018-12-05 22:43] bmw opened #6561 "Apache may not have permission to read webroot directory for challenges"
To reproduce this problem, check out the `v0.29.0` tag and try and obtain the certificate with the Apache plugin on a default Apache configuration. I expect the challenge will fail because Apache is serving a 403. I can reliably reproduce these failures on Ubuntu 16.04 but I suspect it affects other default Apache configs as well.

After merging https://github.com/certbot/certbot/pull/6560, ~~test

[2018-12-05 23:08] FireFart opened #6563 "Docker image is broken - ContextualVersionConflict with idna"
The Docker image is currently broken:

[code]

[2018-12-05 23:52] hussfelt commented on #5015
This is still an issue.
https://community.letsencrypt.org/t/renew-certificates-contextualversionconflict/39826/17
Had to force-install another package like @vir2l.

[2018-12-06 00:22] adamlundrigan commented on #6563
Same with certbot/dns-route53.  Manually pulling `v0.28.0` "fixed" it.

[2018-12-06 02:07] bmw commented on #6563
Thanks for reporting this. This issue is fixed in the Certbot image and is propagating out to the images for the DNS plugins.

If you're curious, the issue was caused by https://github.com/requests/requests/issues/4890, https://github.com/pypa/pip/issues/988, and the lack of a workaround on our end for those problems.

[2018-12-06 02:07] #6563 closed

[2018-12-06 18:35] groenator commented on #5015
Today I got the update and now I cannot issue a new certificate. The error is complaining about idna>2.8 and requests. Request 2.20.1 is not compatible with idna=2.8, but even if the version of idna is downgraded to 2.7, the issue is still not resolved.

`sudo pip install 'idna>=2.1'
Collecting idna>=2.1
  Using cached https://files.pythonhosted.org/packages/14/2c/cd551d81dbe15200be1cf41cd03869a46

[2018-12-06 20:00] bmw opened #6566 "Allow updating domain pointed to by CNAME in DNS plugins"
Say you have the domain `important.example.org` and want to obtain a wildcard certificate. One way you could do that is make a CNAME record at `_acme-challenge.important.example.org` that points to `dnsprovider.example.com`. This approach allows you to only put the DNS credentials for `dnsprovider.example.org` on your server for use with Certbot while keeping your credentials for `important.exampl

[2018-12-06 20:47] hussfelt commented on #5015
@groenator if there is any help in this I had a problem where when I packaged my things I never cleared out the old packages. That meant that both idna 2.8 and idna 2.7 (which I replaced it with) was present.

[2018-12-07 02:02] bmw commented on #2757
We haven't seen any reports of this problem since 2016 so I'm closing this issue. If someone is still hitting it, please comment or open a new issue.

[2018-12-07 02:02] #2757 closed

[2018-12-07 02:02] bmw commented on #3832
I still think we should do this or at the very least some major refactoring/rewriting here.

[2018-12-07 02:03] #3850 closed

[2018-12-07 02:03] #3848 closed

[2018-12-07 02:07] bmw commented on #3939
This has been fixed.

[2018-12-07 02:07] #3939 closed

[2018-12-07 02:12] bmw commented on #3885
While perhaps you might have to write a long command line or [configuration file](https://certbot.eff.org/docs/using.html#configuration-file), I'm not sure adding more options is worth it here, especially when you only have to run this command once and then you can happily run `certbot renew`. I'm closing this issue, but if anyone would like me to reconsider, please comment or open a new issue exp

[2018-12-07 02:12] #3885 closed

[2018-12-07 02:17] bmw commented on #3927
I haven't seen any reports of this problem in 2 years so I'm closing this issue. If anyone hits it, please comment or make a new issue.

[2018-12-07 02:17] #3927 closed

[2018-12-07 22:02] bmw commented on #3832
I think we can. Adrien and I have complained to each other about these tests in IRC and this was one of the main files I had in mind when I told @maximillianh that we had some unit tests that were hard to maintain and needed to be largely rewritten. They can be found at https://github.com/certbot/certbot/blob/master/certbot/tests/main_test.py.

I personally go back and forth about with how much I

[2018-12-08 01:49] groenator commented on #5015
@hussfelt when you pack your things, did you used packer by any chance? I am using packer to build my AMI.

[2018-12-08 01:49] groenator commented on #5015
@hussfelt when you pack your things, did you used packer by any chance? I am using packer to build my AMI.

[2018-12-08 19:00] groenator commented on #5015
I just found out that the issue it is because of the requests package. They
are going to release a new patch sometime next week.

Thanks!

On Sat, 8 Dec 2018, 14:23 Henrik Hussfelt <notifications@github.com wrote:

[2018-12-09 15:09] joohoi commented on #6561
The issue appears to be that with the `v0.29.0` a new work directory ( rather the work directory root `/var/letsencrypt` ) gets created with `0700` permissions, which makes the default Apache user `www-data` not being able to read the challenge config file from under the directory, effectively causing the `403` status code.

The reason why we saw this behavior in `v0.29.0` is that the release had

[2018-12-10 02:08] alexzorin opened #6576 "Installers should refuse to run in hosting panel environments"
I noticed there have been a few instances of people running Certbot's apache/nginx installers in environments where it is hopelessly dangerous. Environments such as (but not only):

- cPanel
- DirectAdmin
- Plesk

Whether or not Certbot will eventually sport installers for these platforms, we know that apache/nginx installers will definitely not do what the user wants and possibly hose their syste

[2018-12-10 07:29] kwaggas opened #6577 "Wildcard Google Cloud Driver, sys subdomains."
## My operating system is (include version): Google Cloud

## I installed Certbot with (certbot-auto, OS package manager, pip, etc): Docker certbot/dns-google

## I ran this command and it produced this output:
sudo docker run -it --name certbot --rm -v "/etc/letsencrypt:/etc/letsencrypt" -v "/var/lib/letsencrypt:/var/lib/letsencrypt" -v "/home/$(whoami)/.secrets/certbot:/secrets" -v /var/log/lets

[2018-12-10 09:58] h0ek commented on #6362
Jessie users should not forget to change few lines :)

For jessie add this line to source list
`deb http://ftp.debian.org/debian jessie-backports main`
For stretch add this line
`deb http://ftp.debian.org/debian stretch-backports main`

Then install depends on your Debian version:
`sudo apt-get install python-certbot-nginx -t jessie-backports`
or
`sudo apt-get install python-certbot-nginx -t stret

[2018-12-10 10:21] alexzorin commented on #6576
A related issue: https://community.letsencrypt.org/t/installed-the-certificate-now-i-get-the-apache-default-page/79664/10

Certbot, not realizing it's in a Bitnami environment, did the wrong thing.

So if we can do some kind of sniffing for known types of environments, we could stop users before wacky stuff starts happening.

[2018-12-10 11:08] Nassiel commented on #5354
Awesome, GitHub notified me right now about your answer... cool. I think it's quite late but it's still valid.

From my point of view the main problem it's that you can't control which is included or not. Like other programs for auto-configure the security level, I should be able to configure certbot to use FIPS, or other recommendation tables apart from Mozilla.

Because I don't want to keep my p

[2018-12-10 20:05] schoen commented on #6576
I'm in total agreement, @alexzorin.

Is there any risk of false positives, or of breaking some hosting provider's existing scripts? (Maybe there's a hosting provider that uses Certbot to provide certs while using some kind of panel for other purposes, and they happen not to conflict when used that way?) Does it make more sense to print a warning rather than refusing to install? (But if so, is ther

[2018-12-10 20:21] alexzorin commented on #6576
To avoid breaking those integrations, if they exist, could this be implemented as a confirmation prompt only when Certbot is running interactively?

That should catch the users I'm targeting without affecting anybody else.

[2018-12-10 22:00] schoen opened #6579 "certbot-auto fails to compile dependencies on Raspberry Pi even with swap enabled"
At https://community.letsencrypt.org/t/renew-certificate/79204 we have a report of a problem with `certbot-auto` on a Raspberry Pi where the compilation fails with

[code]

"Speicherzugriffsfehler" is German for 'memory access error' (perhaps a segfault)?

However, when the user tried the existing suggestion of creating and activating a swapfile in order to alleviate memory pressure, the error sti

[2018-12-10 22:18] schoen commented on #6577
Hi @kwaggas,

I think this may be a problem on the Google Domains end rather than in Certbot; the nameservers themselves might be treating `sys.cf.smart-iiot.io` qualitatively differently than they treat other subdomains. There isn't any code in the `certbot-dns-google` package that's designed to treat a subdomain called `sys` differently.

Since it's not yet totally clear that Certbot is responsi

[2018-12-10 22:18] #6577 closed

[2018-12-10 22:33] schoen commented on #1611
So, Certbot does now have a way to help set up HSTS for you. I believe we're not going to do ongoing work on improving HPKP support now because of Google's decision to deprecate the technology. :-(

[2018-12-10 22:33] #1611 closed

[2018-12-10 22:34] schoen commented on #1214
I updated #775 to include this specific issue, so we can continue to track it over there.

[2018-12-10 22:34] #1214 closed

[2018-12-10 22:35] bmw opened #6580 "Pin Python dependencies in Dockerfile in repo root"
This would have prevented https://github.com/certbot/certbot/issues/6563.

My thought would be to just use the same versions that we pin in certbot-auto which can be found at https://github.com/certbot/certbot/blob/master/letsencrypt-auto-source/pieces/dependency-requirements.txt.

My thought would be to continue to install acme/certbot from the local files though. This allows us to do things like

[2018-12-10 22:50] schoen commented on #2080
As an update, I heard rough estimates from a few different sources that "about 10%", "less than 10%", and "about 1%" of HTTPS connections now use non-FS ciphersuites. This is a very difficult target to define because it depends on whether it's from the browser's perspective, from the server's perspective, in a particular country, on a particular web site, for a particular type of web site, etc., a

[2018-12-10 23:42] bmw opened #6581 "Pin Python dependencies installed in DNS plugins"
While #6580 suggests a simple way to pin Python dependencies in our main Docker image, doing it each for each of our DNS plugins is slightly more work but also valuable to avoid the same problem.

The way we pin these dependencies elsewhere is by using https://github.com/certbot/certbot/blob/master/tools/dev_constraints.txt which is a catch all list of all dependencies. Maybe we use this catch all

[2018-12-10 23:45] bmw opened #6582 "Add simple unit tests that don't pin dependencies in test everything"
This would allow us to catch problems with the latest versions of our dependencies such as unexpected API breakage.

I think this could be done either by configuring `tox` to not use our install scripts for these tests or by setting an environment variable or flag that skips the normal pinning in our scripts.

I think this should just be done in the test-everything branch so failures here don't bl

[2018-12-11 00:04] bmw opened #6583 "Update dependencies pinned in certbot-auto"
The relevant file here is https://github.com/certbot/certbot/blob/master/letsencrypt-auto-source/pieces/dependency-requirements.txt. I think that many of these dependencies haven't been updated in a very long time.

Doing this unfortunately is a little tricky because:

* Dependencies can be added conditionally using project's arbitrary `setup.py` files. The dependencies could change based on the P

[2018-12-11 00:07] bmw opened #6584 "Pin all dependency installation in the release script"
This would prevent changes to our dependencies causing `tools/release.sh` to blow up in the middle of a release. This might be as simple as changing calls to `pip install` to `tools/pip_install.py`, but it requires some testing.

[2018-12-11 00:10] bmw opened #6585 "Remove reliance on staging from apacheconftests"
https://github.com/certbot/certbot/blob/73458daac92c56bb211517a333e52fc1fef09715/tox.ini#L153 uses Let's Encrypt's staging server. I believe it is only used to register an account. I think we can remove this reliance by setting up a simple `/etc/letsencrypt` directory before running Certbot with a staging account. The way I'd do this is by creating a real staging account and deactivating it. The f

[2018-12-11 00:36] bmw opened #6586 "Rewrite letstest tests"
These tests can be see at https://github.com/certbot/certbot/tree/master/tests/letstest and in my and others opinions, they have some issues:

* They rely on Amazon EC2 and until recently, our specific AWS account. I think it'd be better to either use Digital Ocean which kindly donates resources to EFF or a free and/or hosting provider agnostic solution like Docker or Vagrant.
* They are slow and

[2018-12-11 00:57] ohemorange commented on #6586
- The matrix of test/platform has some known failures. Having expected failures is hard to check manually, and makes real issues seem less dangerous.

[2018-12-11 01:04] schoen commented on #5042
I believe that the error message originally reported by Certbot in this case was accurate. Also, @lagden's workaround is now the default behavior in newer versions of Certbot.

If anyone happens across this particular issue in the future, please ask questions about this kind of topic over on the Let's Encrypt Forum

https://community.letsencrypt.org/

You'll get much better debugging assistance ov

[2018-12-11 01:04] #5042 closed

[2018-12-11 01:50] alexzorin commented on #6576
@schoen I was thinking along the lines of something like this: https://github.com/alexzorin/certbot/commit/6d418903ce0530a6eb78d1e75d72c7747f8bd652

[code]

It blows up the test suite for some reason (not sure how zope components are meant to work there) and the wording can be adjusted, but it shouldn't affect any existing non-interactive stuff like renewals or existing integration scripts.

[2018-12-11 05:16] kwaggas commented on #6577
Hi,

Thank you for your reply.

I have actually first posted this issue on the
https://community.letsencrypt.org/ forum.

There was a suggestion that I post this issue here at Certbot issue
tracker, hence the reason for the post.

If there is no code in certbot-dns-google that can cause this anomaly, then
it perhaps it is a google problem.
I have resolve my issue by changing sys to system, which r

[2018-12-11 06:55] #6445 closed

[2018-12-11 09:25] hbielenia opened #6587 "Certbot doesn't work on Ubuntu 16.04, outputs pkg_resources.ContextualVersionConflict"
## My operating system is (include version):
Ubuntu 16.04 (xenial)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Package manager, using instructions from https://certbot.eff.org/lets-encrypt/ubuntuxenial-nginx

## I ran this command and it produced this output:
`$ sudo certbot --nginx certonly`
[code]

## Certbot's behavior differed from what I expected because:
It ret

[2018-12-11 14:23] techcomputerworld opened #6589 "Hello, my problem is create certificate postfix with let's encrypt"
If you're having trouble using Certbot and aren't sure you've found a bug or
request for a new feature, please first try asking for help at
https://community.letsencrypt.org/. There is a much larger community there of
people familiar with the project who will be able to more quickly answer your
questions.

## My operating system is (include version): Ubuntu Server 18.04

## I installed Certbot wit

[2018-12-11 14:51] adferrand commented on #5789
Already implemented. Relevant method is the classmethod `retry_after` in `client.py` lines 171-201, and used during `poll_and_request_issuance` lines 458-459.

[2018-12-11 15:07] adferrand commented on #6582
There is an environment variable already available, if unit tests are executed through `install_and_test.py`: it is `CERTBOT_NO_PIN`, that needs in this case to be set to `1`.

[2018-12-11 17:35] bmw commented on #6561
That makes sense! Thanks for digging into this @joohoi!

I agree it's not at all a high priority issue, but it's a case we could probably handle better. I'm not sure what the best approach is. Automatically relaxing the permissions on the directories seems error prone and could lead to behavior our users don't want. Alternatively, we could:

* Detect the directory permissions and error out.
* Swit

[2018-12-11 17:53] schoen commented on #6589
Hi @techcomputerworld,

Please ask this question on the Let's Encrypt Community Forum at https://community.letsencrypt.org/. That's the best place to get help with Let's Encrypt certificates. There's no error message from Certbot here, so there's no evidence that this is a Certbot bug.

Thanks!

[2018-12-11 17:53] #6589 closed

[2018-12-11 18:10] bmw commented on #5354
Once you've used Certbot to install your certificate, you can change the TLS config and Certbot will not change it back when running `certbot renew`. If you have specific settings you want in your TLS config and you don't even temporarily want to use Certbot's default values, I'm not sure how useful automatic certificate installation is for you and you can always install the cert yourself.

I'm no

[2018-12-11 18:10] #5354 closed

[2018-12-11 18:35] bmw commented on #6587
You have a mix of Python packages from multiple sources. The version of `pyopenssl` available both in Ubuntu's official repos and our PPA do not depend on that version of `cryptography`. Usually this is caused by installing packages from `pip` which I strongly recommend you do not do outside of a virtual environment. I recommend you remove these packages and try running Certbot again.

If you need

[2018-12-11 18:35] #6587 closed

[2018-12-11 19:17] el-barto opened #6591 "Certbot fails with "unexpected error: 'NoneType' object has no attribute 'lower'""
Hi!

I'm having problems trying to renew a domain's certificate and I think it might be a bug because it's similar (but not the same) to others previously reported.

**OS:** Ubuntu 14.04
**Cerbot version:** 0.29.1
**Certbot installed with:** certbot-auto

When I issue a renew, this is the output I get:

[code]

(I redacted the domain name, of course).

Here's the log:
[code]
Note that, while this

[2018-12-11 20:07] erikrose commented on #6583
The repeated `pip freeze` approach sounds sane to me. I don't think we were nearly so careful last time, but that just shows how rare things like environment markers are in the wild. Those are the corner cases you'd be looking for. You may also choose to grep through the setup.py and setup.cfg files of our dependencies for env marker syntax.

[2018-12-11 20:47] adferrand commented on #6583
Automating a boring and repetitive task, and give it to our Nux minions ? I love this kind of tasks.

[2018-12-11 20:53] bmw opened #6594 "Only conditionally use openssl command line"
In [cryptography 2.4](https://github.com/pyca/cryptography/blob/master/CHANGELOG.rst#24---2018-11-11) added support for making OCSP queries which I requested at https://github.com/pyca/cryptography/pull/4261#issuecomment-410908923.

We currently [shell out to openssl](https://github.com/certbot/certbot/blob/master/certbot/ocsp.py#L52) for this. Doing this makes things like Windows support and our

[2018-12-11 20:59] bmw commented on #5789
Nice! I don't think I realized that code was there.

I think the next problem is that `certbot/auth_handler.py` doesn't use this code though. I think we should refactor it to do so if we can without removing any of the other functionality in the file.

[2018-12-11 21:00] bmw commented on #5789
Actually, it also looks like that method is only used in the `Client` object for ACMEv1 and isn't used in ACMEv2.

[2018-12-11 22:48] ohemorange commented on #6591
@bmw @joohoi any idea what's going on here?

[2018-12-11 23:22] bmw opened #6596 "Add flag to disable sleep at renewal"
The automatic renewal that comes with our Debian, Ubuntu, and Fedora/EPEL packages all already have a random sleep before renewal. As pointed out by @hlieberman, OS package maintainers can often handle this more elegantly. In the case of systemd (which almost all of our users use), rather than starting a Certbot process and letting it sleep, systemd can just delay starting the process for a random

[2018-12-11 23:54] hlieberman commented on #6596
If you wanted, you could also put it in the renewal config only, instead of
a cli flag. We're already shipping one in Debian because of our disabling
of the log system.

[2018-12-12 00:01] adferrand commented on #5789
Allright. No breaking change in acme, and I will try to figure out how to leverage the poll retry of acme v2 protocol directly in acme module, while preserving the capability to handle each challenge independently.

[2018-12-12 00:12] bmw commented on #6596
That's a good idea. We could check if our dependencies support only putting the flag in Certbot's configuration file.

@ohemorange also suggested hiding the flag in Certbot's help output and then we could just mention it in our [packaging guide](https://certbot.eff.org/docs/packaging.html).

[2018-12-12 00:12] adferrand commented on #6596
The random sleep imon renew is also a problem for me in #6541. As the tests are run in a non interactive stdout, the random sleep is triggered and block the test execution. I solved this by adding a hidden cli option, but I am open to better approach if you have, to disable this behavior during tests.

[2018-12-12 00:15] bmw commented on #5789
Thanks Adrien!

To be clear, last time I was doing significant work in that file I was under the impression that this feature didn't actually work like it's supposed to. I was rushing to get the code I was working on out and didn't take the time to verify, but that's what I thought at the time.

If this is the case, we could probably simplify the code significantly and just remove the feature enti

[2018-12-12 02:57] #3816 closed

[2018-12-12 09:44] maotora commented on #3396
(Exactly a week later)

Hi,
Make tested attempts this time.
Goodluck! 🤞🤞

[2018-12-12 18:29] adferrand commented on #6594
@bmw you can assign me this. Is it acceptable to move pinned version of cryptography from 2.2 to 2.4?

[2018-12-12 18:39] adferrand commented on #6586
Well, I think that the approach I have for integration tests can apply here also. As Erica said, parallelism is very limited currently, but with `certbot-ci`, it would allow to run as many independant boulder/pebble instances as you want, making the parallélisation extremely effective on a powerful machine.

Relying on external provider, as good as it is to maintain its service online, always add

[2018-12-12 19:16] ohemorange commented on #6596
We should also make it only sleep when it actually needs to renew a cert.

[2018-12-12 20:20] bmw commented on #6596
I'm actually having second thoughts about hiding this flag.

In addition to packagers, I think there are other valid use cases for this flag. Adrien brought up one from his own project and he's not the only one writing code around Certbot. I've talked to hosting providers who have done this such as https://i-mscp.net/filebase/file/33-letsencrypt/. There are also setups for things like [SaltStack](

[2018-12-12 20:39] bmw commented on #6594
Thanks Adrien!

It's totally fine to update the pinned cryptography version. I'd use their latest bug fix version in the 2.4 series which as of writing this is 2.4.2.

In general, we can pin whatever versions we want in `certbot-auto`. The only concern is one of our dependencies dropping support for an environment we still want to support ourselves which cryptography hasn't done here.

[2018-12-12 20:53] bmw commented on #6586
I mentioned this briefly on the call, but to write it here as well to keep all info in one place, I think those are all good points @adferrand.

Looking back, I think the concerns I had about download size/speed weren't helped by the fact that we didn't have anything like our test-everything branch when I was working on this. At that time, these tests would either have to be run for every PR or no

[2018-12-12 22:19] adferrand commented on #6586
Indeed. For Docker, it depends what you need to do, but appart the kernel itself, you can simulate a fully fledged Linux distribution on another Linux host. You are limited however for Windows and BSD systems. But at least for Windows, AppVeyor will do the stuff.

I agree we should not reinvent the wheel, and Vagrant is a strong approach also to provision correctly an environment. You mention also

[2018-12-12 22:30] schoen commented on #6596
@bmw I think that's pretty persuasive, but I think we should also discourage anyone who writes tutorials from mentioning it. (So if we find references to it in tutorials, we should ask the tutorial authors to take it out.)

[2018-12-12 22:31] articice commented on #6432
I have the same error on Ubuntu 18.04 and I'm using python3-certbot-dns-route53.

[2018-12-13 00:32] schoen commented on #6596
@adferrand and anyone else, it seems like at the very beginning of `main.renew_cert()` we could have substantially the same random-sleep code that's currently in `main.renew()`, except checking two things:

(1) a global variable, initialized to `False`, that tracks whether the random sleep has already happened or not
(2) the configuration object state of the `--no-random-sleep` flag, or whatever w

[2018-12-13 03:03] 0xC1A551C commented on #6531
This needs to be added to the instructions and documents. I could not find that package anywhere. (debian 9)

[2018-12-13 03:05] 0xC1A551C commented on #6531
There are no instructions anywhere for installing the plugins at https://certbot.eff.org/docs/using.html#dns-plugins either.

sudo apt-get install python3-certbot-dns-digitalocean does work & should be added there.

[2018-12-13 12:02] articice commented on #6432
@ohemorange can you re-open this ticket or should I create a new one?

[2018-12-13 13:09] adferrand commented on #6596
But in this case @shoen, we have at some point the ability to have a collection of all renews that need to be run. Then the sleep logic can be trigerred only when the collection is not empty, to match @ohemorange proposition. Staying high level would avoid to maintain a state, and allow to access directly the config object.

[2018-12-13 19:55] bmw commented on #6586
DigitalOcean donates credit EFF can use on the platform. I bring this up just because if we decide to go with a paid cloud provider, it might make sense for us to use them from a cost perspective.

[2018-12-13 20:39] ohemorange commented on #5177
No responses, so closing this.

[2018-12-13 20:39] #5177 closed

[2018-12-13 21:36] ohemorange commented on #6432
@articice I recommend asking over the [community forums](https://community.letsencrypt.org/), where there's a whole community of people with experience handling strange configuration issues!

[2018-12-13 23:40] ohemorange commented on #4410
Getting back around to this:

I think the cleanest, simplest thing to do here is to add the `--add-domain` and `--remove-domain` flags (perhaps with alternate plural forms) to take a comma-separated list of domains. They must be called with `renew --cert-name <certname>`. Adding either of these flags should set `--force-renew` to `True`.

[2018-12-14 16:56] bmw opened #6604 "Make mock a test dependency of Certbot"
Our packages currently add `mock` to `install_requires`. Here is [one example](https://github.com/certbot/certbot/blob/346a4246398b72d27b74b537142ee05073e71cd0/setup.py#L42) but I think this is done in all/most of our packages.

Really, we should only need `mock` when running tests, so why not make it a test dependency like we do for `pytest` [here](https://github.com/certbot/certbot/blob/346a4246

[2018-12-14 18:59] bmw opened #6605 "Look into using pytest-xdist to push code to external servers to speed up local tests"
I just ran `tox` tests locally for the first time in a while (as it's the first time I've written a significant PR in a while) and they were frustratingly slow. `pytest-xdist` which we already use for running our tests in parallel has the ability to push the code to a remote server and run tests there which could significantly speed up how long it takes to run tests locally. This functionality is

[2018-12-14 22:16] bmw opened #6606 "Self signed certificate continues to be served with Apache on CentOS 6"
I've heard about two reports of the Apache plugin thinking it obtained and installed a certificate for Apache on CentOS 6, but when the user visits their domain, Apache's self signed certificate is served. This is a pretty serious problem and should be fixed.

The one report I've seen myself is at https://community.letsencrypt.org/t/connection-not-secure-on-centos-6/80054. @schoen has seen more.

[2018-12-14 22:57] bmw commented on #6464
How to test our DNS plugins is the single greatest concern I have about them.

### Current situation

In an ideal world, what I'd personally want are end to end tests using Certbot against the live API of each DNS provider we support. This gives us the most confidence the plugins work because they are complete and unhampered tests that everything is working properly.

As of right now, this is stil

[2018-12-14 23:59] Bielecki commented on #2550
@gonchs thank you. I wrote a short script using your fix, so if anyone has more than one domain - you can use it from my repo: [Bielecki/certbot-renew_fix](https://github.com/Bielecki/certbot-renew_fix)

[2018-12-15 00:13] ohemorange commented on #6605
Yeah they take a while, not sure they're so much faster on the remote server tbh? I usually only run one or two locally (py27, lint) anyway.

[2018-12-16 00:41] prasanth223344 opened #6608 "connection refused"
## My operating system is (include version):
ubuntu16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
sudo apt-get install python-certbot-apache

[2018-12-16 01:45] #6608 closed

[2018-12-16 12:42] rasos commented on #1701
This is an approach that creates a certificate keystore_le in pks format (source: http://blog.dgunia.de/2016/03/09/using-a-free-ssl-certificate-from-lets-encrypt-with-jetty/ )

[code]

[2018-12-16 14:18] Polve commented on #1701
Yes, for HTTP it's easier to install the certificate for a reverse proxy like nginx or apache.

But still a native java version would be very useful for other applications like OpenFire (a Java Jabber server)

[2018-12-16 14:33] adferrand commented on #1701
Yes, but adding an official support to a new HTTP server is a big commitment for the certbot development team. Once it is done, it is expected that certbot would integrate in its workflow process to follow any evolution on the given http server, maintain the specific code, ensuring retro-compatibility and so on.

We can see from the various examples here, that the required operations can be done i

[2018-12-16 15:04] Polve commented on #1701
BTW I'm totally unable to use LE to generate a valid certificate for openfire, and I was unable to find any guide around.

I would appreciate very much if someone in this thread could help me on that subject.

[2018-12-17 03:42] m-o-e commented on #5658
I'm surprised this fundamental functionality is still missing.
Without a way to test deploy hooks, how are we supposed to use them?

Crossing fingers and "hoping" it will work as intended is
not an option in a production environment.

[2018-12-17 11:43] foxtrot9 commented on #6531
@sydneyli , I had same issue of not finding proper documentation for installation of dns plugin `certbot-dns-cloudflare` for ubuntu 14.04. A search on ubuntu14.04 reveals ambiguity in package names for plugins: Cloudflare's certbot plugin documentation has package name`python-certbot-dns-cloudflare-doc` and actual plugin is `python3-certbot-dns-cloudflare`.
[code]

[2018-12-17 12:47] articice commented on #6432
@ohemorange I don't think it's a strange configuration issue, it worked on Xenial on a VM and on MacOS of the guy who developed the scripts; but it didn't work on my latest Ubuntu. I'm pretty sure it would work on Artful, I'll try it.

The issue only happens if there's a lot of domains to renew (UCC) and doesn't happen for a single domain certificate; it's definitely related to the amount of time

[2018-12-17 19:57] ohemorange commented on #6605
Personally, both 6 minutes and 10 minutes are over the threshold for "find something else to do while waiting" so I end up switching tasks anyway. If we could get it down to, like, 2 minutes maybe it'd be worth it for me.

[2018-12-17 20:09] adferrand commented on #6605
I did some benchmark on Ubuntu. For the serie of tox env you mentionned @bmw. After warm up and, servers are closed to me (Germany),

My machine, a 3 years old gaming laptop: 5 min
Standard Digital Ocean droplet (40$/month): 8 min
CPU optimized Digital Ocean droplet (80$/month): 6 min
High-end CPU optimized Digital Ocean droplet (160$/month): 5 min

[2018-12-17 20:22] bmw commented on #6605
Not quite. Running `time tox -e py27,lint` on the server was 2m33.492s.

Another thing we could do that might speed things up both in this case and for all the environments I linked earlier is to run tests and lint at the same time like we do in josepy. We might have to switch from pylint to flake8 first, but I've personally been wanting to do that anyway.

This would result in fewer environments

[2018-12-17 22:29] Axelandre42 opened #6611 "Hooks to manage firewall rules aren't executed at the right moment."
## My operating system is (include version):

Debian 9 Stretch
`uname -a` result: `Linux scw-7c2934 4.9.0-8-amd64 #1 SMP Debian 4.9.110-3+deb9u4 (2018-08-21) x86_64 GNU/Linux`

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

Aptitude (from `stretch-backports`)
`apt install -t stretch-backports certbot`

Certbot version is 0.28.0

## I ran this command and it produced thi

[2018-12-17 23:37] bmw commented on #6504
To add some more context to the numbers above, it's worth noting that #4767 remains unresolved, however, our DNS plugins are available through our recommended installation method at https://certbot.eff.org on most systems and as [Docker images](https://hub.docker.com/u/certbot). Also, I have not personally seen much demand to see this issue resolved (at least one the initial buzz about LE's new wi

[2018-12-17 23:49] bmw commented on #6503
While this is probably/maybe true, I don't think we've seen many issues with the implementations in Lexicon and the issues we have seen were quickly resolved.

I think Lexicon would be open to adding support for (m)any of them. I think one of the challenges here would be finding them all to try to avoid breaking things for our users. For instance, Lexicon luckily relies `boto3` for Route53. If it

[2018-12-17 23:57] bmw commented on #6178
As I said in #6504, I think the core issue for me personally for our path forward for DNS plugins is testing which is covered by #6464. If we decide we want end to end tests of each DNS provider, I don't think we want a generic plugin based on Lexicon because we cannot reliably test all of the functionality it contains. (Such a plugin could certainly still exist as a third party plugin.) If we dec

[2018-12-18 00:06] ohemorange commented on #6432
Highly recommend asking over on the forum -- when I say "strange configuration issue", what I actually mean is "firewall settings" or "new ipv4 vs ipv6 configurations on this box" or "different programs running that are using ports that certbot needs".

[2018-12-18 00:48] bmw commented on #6585
Unfortunately, this approach doesn't work as we fetch the directory from the ACME CA before calling into the Apache plugin. I think we have to do one of the following:

* Resolve #5938 instead of this issue
* Spin up a boulder/pebble instance before running these tests. We could set environment variables to control which server is used. If the variable is set, we'll use that URL. If it's not, we c

[2018-12-18 03:42] hoozecn commented on #4062
I believe it's caused by the python version of virtualenv.

`
  File "/usr/lib/python3/dist-packages/virtualenv.py", line 812, in call_subprocess
    % (cmd_desc, proc.returncode))
OSError: Command /root/.local/share/letsencrypt/bin/python2.7 - setuptools pkg_resources pip wheel failed with error code 2
`

The letsencrypt takes python2.7 but it invokes virutalenv with python3 to create virtual env

[2018-12-18 03:50] schoen commented on #6611
Hi @Axelandre42,

Thanks for reporting this; this seems like it could possibly be a bug in Certbot.

Have you tried renewing the certificate with these hooks but without `--dry-run`? If you do this, do you see the same behavior or different behavior?

[2018-12-18 03:57] schoen commented on #228
It looks like support subsequently got added upstream by @archisgore.

https://github.com/vulcand/vulcand/pull/339

It's really nice to see upstream support for Let's Encrypt directly from other tools that perform their own TLS termination. If the upstream implementation is lacking something that we could help with, maybe someone could open a new issue.

[2018-12-18 03:57] #228 closed

[2018-12-18 04:02] schoen commented on #1015
I think that this was effectively fixed a couple of years ago by the `--manual-auth-hook` feature, although there are certainly things that people don't like about that. `--manual-auth-hook` is specifically designed for integrating your own scripts, and provides the necessary information in environment variables so that your script doesn't have to interact with Certbot via its stdin and stdout.

@

[2018-12-18 04:02] #1015 closed

[2018-12-18 04:05] schoen commented on #1539
Subsequently, although not at the time that this issue was originally created, people have written a fairly large number of clients and libraries in Node.js which can deal with the process of certificate issuance.

https://letsencrypt.org/docs/client-options/

Most Node.js developers will probably be best-served either by using one of those tools (if they want to manage the certificate issuance di

[2018-12-18 04:05] #1539 closed

[2018-12-18 06:36] Polve commented on #1701
I found that and the solution too, thanks and sorry. Feel free to delete this and the previous message to clean up the thread, thanks.

[2018-12-18 07:57] joohoi commented on #5698
I wonder if @hlieberman has an idea what's going on in here?

[2018-12-18 11:20] Axelandre42 commented on #6611
My current certificate is _brand new_ so it doesn't need to be renewed. If I run it without `--dry-run`, Certbot says it doesn't to be renewed...

Here's the result:
[code]

[2018-12-18 18:40] bmw commented on #5938
One benefit of the current apacheconftests over the compatibility tests is we test them on various OSes when we run them on the test farm which isn't currently set up for the Apache compatibility tests which run in Docker.

[2018-12-18 19:31] ids1024 commented on #6178
What about a single Lexicon plugin, with a whitelist of providers it supports? That would substantially reduce the number of plugins, while still allowing them all to be tested.

It would still be kind of annoying to someone who wants to use one of the providers not on the whitelist, but it seems better than the mess of similar plugins with Lexicon backends.

[2018-12-18 23:36] ohemorange opened #6613 "Figure out how to make plugins more maintainable and easier to write"
Proposal available here: https://docs.google.com/document/d/1bKmiu8CpsCntmJ-10CLV4UvxAaJ6qHgdGM3GivK8f2k/edit?usp=sharing

[2018-12-19 00:57] bmw commented on #6585
If it's useful, my attempt to resolve things the way I described in my initial post is at https://github.com/certbot/certbot/tree/no-ca-required.

[2018-12-19 07:53] chipco commented on #6053
Could you please add [dns linode](https://salsa.debian.org/letsencrypt-team/certbot/certbot-dns-linode) to the [Cetbot PPA](https://launchpad.net/~certbot/+archive/ubuntu/certbot).

[2018-12-20 09:13] jblom commented on #3544
Had to slightly change @ivalexm 's command to make it work on my RHEL7 machine

yum install certbot python-zope-interface --enablerepo="rhel-7-server-rpms" --enablerepo="rhel-7-server-optional-rpms" --enablerepo=epel

[2018-12-20 12:25] gpjt opened #6614 "acme library HTTP01Response.simple_verify should not verify host certificate"
## My operating system is (include version):

Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

pip install acme

## I ran this command and it produced this output:

We have some custom code using the `acme` library directly to generate Let's Encrypt certificates for our customers.

If a customer has a site set up with an invalid certificate, which redirects

[2018-12-20 22:00] zerofino opened #6615 "Forced use of virtual hosts stops Mac OS X Server support!"
## My operating system is (include version):
Mac OS X Server, El Capitan, 10.11.6; Server.app, 5.2

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
MacPorts

## I ran this command and it produced this output:
sudo certbot --apache certonly
Result: Complaining about missing virtual host definition during authentication test.

## Certbot's behavior differed from what I expe

[2018-12-21 01:03] hlieberman commented on #5698
I believe what's happening here is that apt is treating the command `apt-get install libssl-dev` as a request to install the stable version of libssl-dev, which strictly requires the same version of libssl1.0.0 to be installed.  If the backports version of libssl1.0.0 is installed, but the backports version of libssl-dev isn't, then this causes a conflict as apt has no way to install libssl-dev.

[2018-12-21 07:07] FranklinYu commented on #4875
I checked yesterday and the unattended renewal happened. So yes, wildcard certificate Route53 should be fully supported. Note that server (NGINX in my case) needs to reload to pick up the new certificate, of course.

[2018-12-21 20:41] zjs commented on #6464
I'd propose a multi-step approach to achieving this:

1. Develop end-to-end tests which can be manually executed to validate a plugin, based on the manual testing we've done historically. Going forward, these become a key component of the review process for new DNS plugins and changes which affect existing DNS plugins.
2. Automate execution of these tests for providers accounts are already availab

[2018-12-21 20:42] trinopoty commented on #6464
A complete end-to-end test system has a few but major drawbacks.
First, it would require maintaining accounts with each provider which brings with it stuff like costs.
Also, has the potential to limit the tests that an independent contributor can run.
If you go with the option of maintaining an account on all the supported providers, you will need some way to keep the access keys secure. While kee

[2018-12-21 20:48] zjs commented on #6464
We should be able to trigger tests based on a PR. While less convenient than being able to run tests from a developer's system, this may be a good complement to unit tests.

A unique subdomain could be used for each test run to isolate parallel runs from one another.

[2018-12-21 21:15] zjs commented on #6504
Do you have any data on the use of different challenge types, regardless of client? Are users just using different ACME clients for DNS challenges, or are DNS challenges that much less used overall?

[2018-12-21 22:05] adferrand commented on #6464
In a logic of continuous integration testing, so automated tests that are run on push, PRs, or at the discretion of a contributor, I think that end-to-end tests are not possible. For reasons explained previously, as it require specific credentials that cannot be shared. However it does not mean that theses kind of tests should not be automated: they need to be, and be executed at least before a ne

[2018-12-21 22:08] adferrand commented on #6464
However as said by @bmw, the cassette approach has the drawback that a recording needs to be done if the effective interaction with the API needs to change.

This is already the case in Lexicon, where half of our providers are covered about TXT recordset writing, but the other is not.

[2018-12-21 22:16] adferrand commented on #6504
Well, on that matter: I maintain a Docker, that use Lexicon to execute DNS challenges, but not through the Certbot DNS plugins: it uses the manual plug-in, and the associated authenticator/cleanup hooks.

This docker has more than 500K pull so far, so it's use is not negligeable. And in the statistics, then it appears in the manual category.

[2018-12-21 22:21] zjs commented on #6464
I see significant value in testing a project like Lexicon using recorded responses. However, given that Lexicon is already testing with recorded responses, I'm not convinced that testing Lexicon-based DNS plugins with recorded responses provides significant incremental value.

For other DNS plugins, the library being used is maintained by the DNS provider. In those cases, I think it's reasonable t

[2018-12-21 22:23] adferrand commented on #6178
What I have in mind is something like this indeed. The generic Lexicon plug-in would not give acces to every provider supported by Lexicon. Only the providers that Certbot is willing to support, so basically providers for which an acceptable test workflow exists.

In fact this plug-in would not expose itself through Certbot as a Lexicon plug-in, but as several DNS plugins for each provider enabled

[2018-12-21 22:30] zjs commented on #6178
I really like this aspect of your proposed design.

[2018-12-22 05:02] alexzorin opened #6616 "Installers/authenticators should detect duplicate virtual hosts"
A very common issue on the forums is users who find that `--apache` or `--nginx` does not function when the webserver configuration suffers from the non-fatal (but fatal for Certbot) issue of duplicate virtual hosts, when using name-based virtualhosts.

Today's incidence: https://community.letsencrypt.org/t/well-known-acme-challenge-issues-w-expired-cert/80711/6?u=_az

Certbot might:

- Refuse to

[2018-12-23 17:30] ufo911 opened #6617 "pkg_resources.DistributionNotFound: The 'python-digitalocean>=1.11' distribution was not found and is required by the application"
If you're having trouble using Certbot and aren't sure you've found a bug or
request for a new feature, please first try asking for help at
https://community.letsencrypt.org/. There is a much larger community there of
people familiar with the project who will be able to more quickly answer your
questions.

## My operating system is (include version):
Ubuntu Server 16.04

## I installed Certbot wit

[2018-12-23 18:16] zjs opened #6618 "Help output for DNS plugins lack information about the format of the credentials file"
## My operating system is (include version):
N/A

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Ran the client in developer mode from my local tree

## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:
The help output does not include any information about the contents of the credentials INI file, such a

[2018-12-24 03:11] zjs commented on #6464
I think this hints at a path forward for the overall test strategy for DNS plugins:

1. Improve the way the unit tests mock Lexicon to make them more valuable with respect to ensuring Certbot plugins use Lexicon correctly. (This seems preferable to introducing new integration tests for this purpose.)
2. Add cassettes to Lexicon if they're missing for any providers we use. (Proximity between implem

[2018-12-24 11:45] adferrand commented on #6464
Yes it is basically what I have in mind as a battle plan. Anyway it is a complex task, with a lot of decisions to be taken, and strongly coupled to the certbot packaging problematic.

Having 1) allow to start work without strong design decision commitment. I will open a issue for this purpose.

About 2), to add knowledge about Lexicon insights: in Lexicon, there are already cassettes to simulate a

[2018-12-24 12:01] trinopoty opened #6620 "Can we add a parameter to DNSAuthenticator._configure_credentials for optional variables?"
Would it be possible to modify the signature of `_configure_credentials` in `DNSAuthenticator` in `dns_common.py` to add a parameter for optional variables accepted by the plugin?
From `_configure_credentials(self, key, label, required_variables=None, validator=None)` to `_configure_credentials(self, key, label, required_variables=None, optional_variables=None, validator=None)`.
This is in relatio

[2018-12-24 12:08] trinopoty commented on #6620
None of the current uses of the method will be broken by the modification and I'm willing to submit a PR for this if approved.

[2018-12-24 13:17] adferrand opened #6621 "Redesign of DNS common plugin base for Lexicon"
I open this issue to track down specifications of the redesign mentionned as a first step in https://github.com/certbot/certbot/issues/6464#issuecomment-449680428

This spec is NOT about:
* addressing a proposition about how plugins are handled in general in Lexicon
* modifying how dns plugins are consumed in Certbot (so not about a generic DNS Lexicon plugin)
* changing the test strategy of DNS p

[2018-12-24 13:18] adferrand commented on #6621
cc @bmw, @ohemorange and @zjs

[2018-12-24 13:32] adferrand commented on #6621
For 1., it is about the fact that dns plugins instantiate directly an object from the relevant `Provider` lexicon class. Instead, the `Client` class should be used. Lexicon as a library is designed to use `Client` to leverage the logic of instantiating the correct provider. In fact, I am planning in Lexicon to make all the `provider` package an internal package.

I will put retro-compatibility of

[2018-12-24 13:50] adferrand commented on #6621
For 2., my idea is that in theory, if a dns plugin follow the standard logic in the common base, all effective code required in the DNS plugin should be something like:
[code]
and:
[code]

So the methods in the common base should be overriden in the concrete class only if custom logic needs to be applied.

So far I see two methods:
* a method that generates the dict necessary to build a `ConfigRes

[2018-12-24 13:58] adferrand commented on #6621
For 3., instead of mocking the entire Lexicon modules, a custom provider may be forged. It would respect the API of a Lexicon `Provider`, and so would be accepted by the `Client`. But of course, all responses inside the provider would be mocked. This way, unit tests would trigger most logic of Lexicon, except the actual logic of a given provider.

For the logic of a given provider, we are on an in

[2018-12-24 23:48] skotturi commented on #5817
i just ran into this issue but for me it occurred because I had not symlinked the new site I'm working on from `sites-available` to `sites-enabled`...

from : https://www.digitalocean.com/community/tutorials/how-to-set-up-nginx-server-blocks-virtual-hosts-on-ubuntu-16-04

i went too quickly and forgot this step:
[code]

✌🏼

[2018-12-25 23:32] noci2012 commented on #6504
I use rfc2136 for one place and need a plesk for external systems on two other sites. (two of them need wildcard certificates).
Not having those would make certbot a nonstarter at 2 of the 3 places. (going through litteral manual updates every three months is not an option.)
So in that aspect not having huge support numbers doesn't mean it is not needed.
Then a lot of distro's DO support the nginx

[2018-12-26 06:35] nuanceraj commented on #5921
Hi , i am getting issue, when i fire apt-get install nginx  command , What could be issued .

[2018-12-26 10:05] adferrand commented on #6504
Well @noci2012, your analysis makes a lot of sense also ^^

It is right that the DNS plugins are not very visible, compared to the http challenges related approaches. And more than that, there usability is strongly limited: the two only official supported ways to install them are either through a Linux distribution package, or by Docker. So it relies on either the hard work of integrators, that is

[2018-12-26 13:46] sharpaper opened #6622 "WARNING: autodoc: failed to import module"
## My operating system is (include version):
Debian stable

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Debian package manager

## I ran this command and it produced this output:

    cd docs
    make dirhtml

    docs/api/account.rst:4: WARNING: autodoc: failed to import module u'certbot.account';

## Certbot's behavior differed from what I expected because:
It doesn

[2018-12-27 03:33] mail6543210 commented on #5499
This issue still occurs on Certbot 0.29.1 (CentOS 7).

The commit added a command line option to control whether to delete certs/keys or not.

However, when answering "Yes" (as this issued reported) or using the introduced `--delete-after-revoke` option in the revoking process, **all** keypairs in `archive` are deleted.
The `certbot revoke --cert-path /path/to/cert1` revoke and delete keypair1, **

[2018-12-27 21:24] hyperknot opened #6623 "No module named 'pyasn1' on Ubuntu 16.04"
## My operating system is (include version):
Ubuntu 16.04.5 LTS

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
[code]

## I ran this command and it produced this output:
certbot
[code]

## Certbot's behavior differed from what I expected because:
There should be no warnings / missing dependencies with official packages.

## Here is a Certbot log showing the issue (if av

[2018-12-27 23:11] noci2012 commented on #6504
@addferrand,
The problem with the first strategy is the amount of existing tooling already build which often won't work on next release. (that's why i was glad to see some DNS-plugins)..
It isn't just writing good documentation, there is a history of troubles already there.

The 2nd one makes more send, and as a side effect it could provide a usable interface for the first option to become a stabl

[2018-12-28 04:39] ccurtin commented on #2230
Just a note about how nginx handled the server config when I did this, it added it directly to the config file `/etc/nginx/sites-enabled/default` so be aware of that if using nginx, the default will override any includes.

[2018-12-28 06:34] boyaziqi commented on #2883
I resolved the issue by following @wwboy6 answer.

[2018-12-29 01:36] bes-internal commented on #6161
solved by #6162

[2018-12-29 01:42] bes-internal opened #6624 "certbot delete list must be sorted"
Subj.

[2018-12-29 01:43] bes-internal opened #6625 "certbot delete by name"
`certbot delete` should allow to delete by domain name (-d) or at least filter to select by number

[2018-12-29 07:46] aleksandrs-ledovskis commented on #6566
A typo in description?

IMO should read

[2018-12-29 08:41] adferrand commented on #6566
I read the related PR, almost all the work has been done. It misses only testing against Google DNS plugin and plugins that would be added since last commit on the branch. And also a question about the text help.

@bmw, @joohoi I take this.

[2018-12-31 11:37] aairey commented on #5534
Regarding having aws cli and certbot on the same system.

It comes down to a conflicting version of urllib3.
`awscli-1.16.81` requires `urllib3-1.24.1` and `python2-certbot-0.27.1-1.el7.noarch.rpm` works with `urllib3-1.10.2`.
The newer version gives the aformentioned error.

I cannot get them to work together, even installing `awscli` with `--user` gives the same issues, as the newer urllib then

[2018-12-31 20:55] RJuho opened #6626 "tbot"
If you're having trouble using Certbot and aren't sure you've found a bug or
request for a new feature, please first try asking for help at
https://community.letsencrypt.org/. There is a much larger community there of
people familiar with the project who will be able to more quickly answer your
questions.

## My operating system is (include version):

## I installed Certbot with (certbot-auto, OS

[2018-12-31 20:55] #6626 closed

[2018-12-31 21:53] okias commented on #6596
I wonder if is possible to set this flag inside cli.ini ? something like

[code]

[2019-01-01 12:10] BFMarks commented on #5817
Same painful issue.

[code]

[2019-01-01 18:10] vjeux opened #6627 "Remove leading $ in documentation"
In the getting started ( https://certbot.eff.org/lets-encrypt/ubuntutrusty-apache ), would be nice to remove the leading `$` so that we can copy and paste the list of commands to the terminal directly.

![image](https://user-images.githubusercontent.com/197597/50575169-61091800-0dad-11e9-84c7-c1f417d19162.png)

[2019-01-02 11:53] dim1triy opened #6628 "certbot-auto's fetch.py step takes over 2 minutes to complete every time"
## My operating system is (include version):
Debian 8

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
user@webserver:~$ wget https://dl.eff.org/certbot-auto
user@webserver:~$ chmod a+x ./certbot-auto
user@webserver:~$ ./certbot-auto --help

## I ran this command and it produced this output:

run # time ./certbot-auto --help
- - - - - - - - - - - - - - - - - - - - - - - -

[2019-01-02 12:51] ufo911 commented on #6617
So, my pip was installed to home/user dir and that was problem, I installed python-digitalocean to /usr/lib/python3/dist-packages/ and problem solved.

[2019-01-02 12:51] #6617 closed

[2019-01-02 18:08] #6584 closed

[2019-01-02 18:16] bmw commented on #6566
@aleksandrs-ledovskis, thanks. I fixed the above description.

[2019-01-02 18:47] bmw commented on #6161
Thanks for pointing that out!

[2019-01-02 18:47] #6161 closed

[2019-01-02 19:40] bmw opened #6629 "Ensure our Travis setup isn't using GitHub Services"
GitHub Services are going away at the end of this month. See https://developer.github.com/v3/guides/replacing-github-services/. It looks like our Travis setup is relying on GitHub services. This also affects the certbot/josepy and certbot/website repos.

[2019-01-02 19:42] bmw opened #6630 "Ensure Docker isn't relying on GitHub Services"
I got this email from Docker over the holidays:

We have identified that your Docker Hub account contains Classic Automated Builds that are using GitHub Services.

It looks like our Docker setup is relying on GitHub services. If I remember correctly, I did things these way to not give Docker a ton of write permissions on our repo. If giving them these permissions is the only way to do things now,

[2019-01-02 19:44] bmw opened #6631 "Ensure readthedocs isn't relying on GitHub Services"
GitHub Services are going away at the end of this month. See https://developer.github.com/v3/guides/replacing-github-services/. It looks like our readthedocs setup is relying on GitHub services.

[2019-01-02 19:56] sydneyli commented on #6627
Hi @vjeux, thanks for the suggestion! We have an issue tracking this here: certbot/website#301

[2019-01-02 19:56] #6627 closed

[2019-01-02 19:59] vjeux commented on #6627
Thanks!

[2019-01-02 20:49] ohemorange commented on #6596
@okias, that should work; you'll want to capitalize `True` though. Note that this flag is intended for testing and packaging certbot. Almost all issues faced by users are better addressed through different means, such as using pre- and post-hooks.

[2019-01-02 21:34] sydneyli commented on #6625
I like this as a UX improvement to cert selection in general. Flagging @ohemorange because cert management UX things. Would you like to work on this?

What do you mean by this?

[2019-01-02 21:51] ohemorange commented on #6625
We didn't do this because multiple certs might include the same domain, and there can be overlapping subsets of certs and domains. So then you'd have to run `certbot certificates` anyway (or at least print its results) to figure out which is the right one.

If each cert only has one domain in it, the `--cert-name` will be the domain name and that can be passed to `certbot delete`.

[2019-01-02 22:21] sydneyli commented on #6625
Thanks @ohemorange, that makes sense. Closing!

[2019-01-02 23:42] Alex237 commented on #5698
Hello,
i might have found why we have this. in my case, i have HAPROXY installed, and it use a specific version of libssl. i have tried to install on other debuan with the same config and without haproxy installed, and it's work!
i think @Keyhaku you have somthing installed that require a specific version of libssl and once installed cannot be change

[2019-01-02 23:55] bes-internal commented on #6625
In this case, you must show all records of certificates with this domain in order for the user to choose from this short list himself by number. Or. You must delete only certificates with the same set as the user has typed in for `certbot delete`.

Great, it works! But I didn't know it because the --help command looks like this:
[code]

My list of domains includes 1500 pieces of unsorted records i

[2019-01-03 09:45] gnorbsl commented on #5658
It's pretty annoying that this feature doesn't exist. The only option so far is to force a renew and test everything. The problem here is, that you get blocked after a few tries for pulling too many certs. Why implement a feature that you can't test?

[2019-01-03 10:37] jaapbril opened #6634 "missing / in URL"
If you're having trouble using Certbot and aren't sure you've found a bug or
request for a new feature, please first try asking for help at
https://community.letsencrypt.org/. There is a much larger community there of
people familiar with the project who will be able to more quickly answer your
questions.

## My operating system is (include version):
freebsd 11.1-RELEASE

## I installed Certbot wi

[2019-01-03 18:44] bmw opened #6635 "Turn off sleep on renewal during integration tests"
I have scripts based on https://wiki.ubuntu.com/StableReleaseUpdates/Certbot/TestScript that I've been running to help test distro packages and Certbot keeps sleeping when I test recent versions because I'm running the tests non-interactively from a script.

[2019-01-03 21:00] alexzorin commented on #6634
That's because your server is generating a redirect that is missing the forward slash.

Probably easy to reproduce with:

    curl -X GET -I imap.domain.nl/.well-known/acme-challenge/xx

[2019-01-03 21:03] alexzorin commented on #6616
Turns out that this is covered by other vhost selection issues.

[2019-01-03 21:03] #6616 closed

[2019-01-03 22:06] sydneyli commented on #6614
We're aware that `simple_verify` is not entirely consistent with the ACME challenge checks, and because of these discrepancies and a couple other issues (according to @bmw, verifying challenges on the same machine that served them was unreliable) we stopped using it in Certbot a while back, too. It's sort of legacy at this point, and we haven't pulled it out since we know other acme clients use it

[2019-01-03 22:11] sydneyli commented on #6615
@zerofino, thanks for reporting!

@schoen, any insights on this issue? I think you mentioned you were dealing with some similar issues on the community forums.

[2019-01-03 22:18] sydneyli commented on #6622
If you'd like to install the docs for certbot, they're packaged in debian as `python-certbot-<plugin>-doc`. So `python-certbot-doc` and `python-certbot-nginx-doc` for instance.

If you want to make modifications to the documentation and re-build them, you'll have to install Certbot via our [developer guide](https://certbot.eff.org/docs/contributing.html).

Let us know if you have any more trouble

[2019-01-03 22:18] #6622 closed

[2019-01-03 22:44] bmw commented on #3570
The way LE looks up DNS records should be identical.

I think the problem here is authorization reuse which I explained in my previous post so I'm closing this issue. If you continue to have problems, please comment on this issue or open a new one.

[2019-01-03 22:44] #3570 closed

[2019-01-03 22:44] bmw commented on #3912
This hasn't seen any updates since 2016 so I'm closing this issue.

[2019-01-03 22:44] #3912 closed

[2019-01-03 22:45] bmw commented on #3840
This issue hasn't seen any updates since 2017 and it seems to be more of an issue with the tools you're using on Gentoo. For this reason, I'm closing this, but please comment or open a new issue if you're continuing to have problems and would like me to reconsider.

[2019-01-03 22:45] #3840 closed

[2019-01-03 22:47] sydneyli commented on #6623
Hmm, odd! The dependencies for our debian packages seem to be configured correctly and I wasn't able to reproduce this issue on a VM. Manually re-installing `python3-pyasn1` should fix your problem. Maybe your packages were corrupted somehow?

[2019-01-03 22:48] bmw commented on #2944
Warnings is part of the Python standard library and this hasn't seen any activity since 2017. For this reason, I'm closing this issue. If you continue to have problems that you think can/should be fixed by Certbot, please comment or open a new issue.

[2019-01-03 22:48] #2944 closed

[2019-01-03 22:49] sydneyli commented on #6625
Re-opening!

Thoughts, @ohemorange?

[2019-01-03 22:51] sydneyli commented on #6624
Would you like to propose a sorting scheme and PR for this, @bes-internal ? The relevant code is in this function: https://github.com/certbot/certbot/blob/master/certbot/storage.py#L44 which is called by `certbot/cert_manager.py` to grab the certificate names.

[2019-01-03 22:55] bmw commented on #3976
Honestly, this file doesn't seem too bad anymore. I think `handle_renewal_request` is a little long and could be stand to be broken up a bit, but the file itself isn't that long and most functions are reasonably short.

[2019-01-03 22:58] bmw commented on #3980
If this is about Python dependencies (which was the purpose of the PR opened to solve this issue is about), I think this is solved through our `[docs]` extras. If someone wants to make the existence of these extras more clear, feel free, but as I said on the PR, we automatically install all of this for you if you follow our getting started or docker instructions.

If this is about OS dependencies,

[2019-01-03 22:58] #3980 closed

[2019-01-03 23:17] bbaassssiiee commented on #5109
Dependency hell continues.

[2019-01-03 23:45] schoen commented on #6634
@alexzorin's explanation is right. If you have any trouble fixing this, please follow up on the Community Forum (https://community.letsencrypt.org/). Thanks!

[2019-01-03 23:45] #6634 closed

[2019-01-03 23:53] schoen commented on #6628
Hi @dim1triy,

That's an interesting problem! I don't think I've seen this problem before. Did the help message eventually appear in the part that you've replaced with `...`?

If you edit your local copy of `certbot-auto` with a text editor, you could change this line

`set -e  # Work even if somebody does "sh thisscript.sh".`

to

`set -ex  # Work even if somebody does "sh thisscript.sh".`

In th

[2019-01-04 00:16] #3931 closed

[2019-01-04 00:17] bmw commented on #3678
I haven't seen any reports of this problem since early 2017 so I'm closing the issue. If people are still hitting this though, please comment or open a new issue.

[2019-01-04 00:17] #3678 closed

[2019-01-04 00:19] bmw commented on #4005
I fully believe this could have been a problem with nose is/was no longer maintained. We've since switched to `pytest` and I haven't seen this issue, but if someone does, please let me know!

[2019-01-04 00:19] #4005 closed

[2019-01-04 00:51] sydneyli commented on #6625
@bes-internal To be specific: if you're interested (or anyone else looking at this issue is interested) in taking this on, please do! We probably won't have the capacity to work on this for a while.

Also, to get help for a particular subcommand you can do `certbot <subcommand> help`, for instance in your case you can do `certbot delete help` ^_^

[2019-01-04 00:53] ohemorange commented on #6625
[code]

I think that having a system that the user has to intuit to filter domains isn't quite the UX direction we want to take. I've pasted above the output of the specific help for the `delete` subcommand. How can we improve this text so that another person with a similar issue would understand about using the `certificates` subcommand in conjunction with `delete`?

[2019-01-04 01:21] bes-internal commented on #6625
Now everything got clear.
1. `certbot delete help` this is not working
2. `certbot delete --help` show help of certbot itself, but not delete subcommand.  I understand why this was created so, but if you want to improve usability, then you need to create an alias for `--help` of subcomand `delete` to `certbot --help delete`. Repeat for all subcommands. This is exactly the expected behavior.
3. `ce

[2019-01-04 01:36] bmw commented on #2799
I think this should remain a 301 redirect. Making it 302 redirect dramatically hurts the site's security by making each incoming request (where the user didn't explicitly request the HTTPS site) vulnerable to MITM attacks as pointed out above.

I also don't really think it's worth making this configurable. Most users want/should have 301 redirects and it's hard for me to envision a scenario where

[2019-01-04 01:36] #2799 closed

[2019-01-04 02:11] jsha commented on #6624
Hi @bes-internal! I noticed that in this issue and in #6625 you used "must," which people may interpret as demanding and rude. I'm sure that's not what you intended. You might have better results in the future replacing "must" with "should," which is less likely to be understood as demanding.

Also, in this particular case, can you explain more about the task you are trying to achieve and why sort

[2019-01-04 02:47] bes-internal commented on #6624
Because `certbot delete` provides an interactive interface for the user in order to find the one he needs cert name. Maybe it works for 5-10 domains, but not for 1500 in my case.
And no matter what other functions this subcommand has (--cert-name). We are talking about the interactive select.

P.S. My "must" is not rude, but indicate requirement level. Thank you, I will take your comments for norm

[2019-01-04 05:43] gridworkz commented on #6280
So this begs the bigger question - What certbot command syntax should I be using to generate certs (without the --manual switch) that will subsequently allow me to use certbot renew? Any examples? Cheers, Dave

[2019-01-04 06:21] schoen commented on #6280
Well, I wasn't necessarily expecting people to show up and ask about the underlying substantive question in this GitHub issue, but in answer to @askpatrickw and @gridworkz:

Most people use `--manual` because they need a wildcard certificate. If you don't need a wildcard certificate, you should most likely use a different authenticator, like `--apache`, `--nginx`, `--webroot`, or `--standalone`, d

[2019-01-04 16:03] gridworkz commented on #6280
You nailed it - I now fully understand how --manual works.

On Fri, Jan 4, 2019 at 1:21 AM schoen <notifications@github.com> wrote:

[2019-01-04 16:55] schoen commented on #6280
Great! Now we just have to find a way to help all of our users make good decisions about this without reading this GitHub thread. :slightly_smiling_face:

[2019-01-04 17:29] bmw opened #6640 "Ensure all documentation links use HTTPS if the target supports it"
Some of our documentation links to sites using HTTP rather than HTTPS. We should always use HTTPS if the target supports it.

[2019-01-04 17:36] gridworkz commented on #6280
lol - it's one of those gotchas that seems to get lost in the mix somehow.
It's almost as though you need a two separate tracks 1) with wildcard
domain processing 2) one with individual domain processing. It sort of gets
all lumped together and the distinction disappears.

On Fri, Jan 4, 2019 at 11:55 AM schoen <notifications@github.com> wrote:

[2019-01-04 17:43] bmw commented on #6640
Writing a find and replace for this is easy. The harder part is actually verifying all the links support HTTPS.

[2019-01-04 20:55] bmw commented on #6606
I'm moving this to the current sprint because I think its one of our more important tasks and it makes it more visible.

[2019-01-05 00:43] bmw commented on #6504
These numbers are below. These numbers are for the last 2 months rather than the same 2 month period as the one used for plugins above, but they are the numbers for challenge type used with Let's Encrypt counted by unique IP addresses regardless of the client used.

| Challenge Type | Number of users |
|---|---|
| http-01 | 3363017 |
| tls-sni-01 | 848521 |
| dns-01 | 564140 |
| tls-alpn-01 | 9338

[2019-01-05 18:20] gbdlin commented on #6492
As far as I know, only concern here is if we should keep backward compatibility of names when creating new keys or not (keeping old name of certificate when renewing is out of the box functionality and it should be preserved). It will only be trouble with automated invoking of certbot and installing them in some automated manner outside of certbot plugins (automation tools may look for generated c

[2019-01-05 20:42] schoen commented on #6628
@dim1triy, thanks for checking that and I'm glad that `--no-self-upgrade` helps (although if you use it *every* time, you wouldn't receive new released versions of Certbot).

Would you be willing to run some other checks for us to figure out why `fetch.py` is so slow in your environment? On most hosted servers this command usually completes in under 1-2 seconds if there's no upgrade to download, s

[2019-01-06 15:50] Bluscream opened #6645 "ContextualVersionConflict with CloudFlare"
If you're having trouble using Certbot and aren't sure you've found a bug or
request for a new feature, please first try asking for help at
https://community.letsencrypt.org/. There is a much larger community there of
people familiar with the project who will be able to more quickly answer your
questions.

## My operating system is (include version):
Linux teagaming.de 4.9.0-3-amd64 #1 SMP Debian

[2019-01-07 08:01] keros commented on #4797
Any updates on this?
I got the update to certbot 0.30.0 today and the "FastCgiExternalServer" still hits me.
The report itself (for proxy and wsgi) is open since 2017 and seems to be nearly dead?

[2019-01-07 12:07] noci2012 commented on #6504
@trinopoty,
I disagree with you view on wildcard certificates.
I have several "functional" separate systems (some also physical separated) behind a haproxy.
The haproxy strips the SSL and uses a wildcard certificate to prevent updating about 20 separated names.  or Creating certificates that become too large due to the long list of SAN's inside them...

So Wildcard certificates doe have their use,

[2019-01-07 12:10] trinopoty commented on #6504
@noci2012
That is certainly a case where wildcard certificate has it's use.
I hadn't considered that use case but I also believe not many users have that configuration.
Just my opinion though.

[2019-01-07 16:04] adferrand commented on #6504
For dns challenges, it is relevant for either:
* for web services that are not publicly accessible
* for services that are not web services (like ldap, databases...)

And to add on @noci2012, about wildcard certificates: consider a corporate cloud environment, where you need to dynamically up and down hundreds or thousands of FQDNs associated to myriad of web (and non-web) services. Even if you ha

[2019-01-07 16:08] noci2012 commented on #6504
It is not limited to haproxy, any reverse proxy will have similar issues.
Any server having multiple "virtual" services on subdomains for one domain will have similar issues.
Also having one certificate to distribute internaly to several systems is a lot simpler compared to setting up various systems all requesting their own certificate.

And look at a service like sandstorm, using random hostname

[2019-01-07 21:06] schoen commented on #6645
Hi @Bluscream and @khasburrahman,

We currently don't have an officially supported way to install the DNS plugins on operating systems where you use `certbot-auto`. We realize that this is a problem and we're working on it. Two issues related to this are

https://github.com/certbot/certbot/issues/6531
https://github.com/certbot/certbot/issues/6613

and there may be others.

Broadly, the `Contextua

[2019-01-07 21:06] #6645 closed

[2019-01-07 21:09] schoen commented on #6645
Just to clarify, the advice at https://bjornjohansen.no/wildcard-certificate-letsencrypt-cloudflare is not something we officially support because we don't recommend manually installing anything Certbot-related via `pip`. You might want to ask the original author of this advice to investigate workarounds for this problem because it's clear that it's arisen in several circumstances where people ran

[2019-01-07 21:14] schoen commented on #6645
My colleagues have pointed out that for certain operating systems which should include both of yours, we do already have official solutions using OS packages. In that case, you wouldn't need to follow external tutorials related to pip, because you wouldn't need to use certbot-auto at all. Please see https://certbot.eff.org/ and select your operating system environment there for instructions, inclu

[2019-01-07 21:20] sydneyli commented on #6531
@foxtrot9, we're aware of this problem and have an issue tracking it at certbot/website#362!

[2019-01-07 21:20] #6531 closed

[2019-01-07 21:51] Bluscream commented on #6645
Thanks for the heads-up. I really appreciate the explanations!

[2019-01-07 22:39] schoen commented on #6624
@bes-internal, could you try the pull request that was submitted by @trinopoty and see if it works for you? It's a very small code change to a single file aimed at addressing your concern. I don't know how you've installed Certbot or what your level of familiarity with Certbot development is, so let me know if you need help with that or find it impractical in your situation.

[2019-01-07 22:39] bmw commented on #6464
I agree with this.

@zjs, you seem pretty hesitant to skip end to end tests entirely which I understand. I may be able to be convinced to skip them, but I'm concerned about it as well.

You said:

This might quickly start looking like #6504, but in what cases do you think we should run end to end tests on a DNS plugin? I'd like us to develop some kind of a systematic plan for testing here.

[2019-01-07 22:50] bes-internal commented on #6624
Great, this is what we need.

[2019-01-07 22:53] bmw commented on #6621
I'm not against this, but I personally don't think we should go too far down this road just yet. In my opinion, we don't have a clear picture on the path forward in #6464 (which impacts my views on #6504) and Erica's work on redoing plugin interfaces (#6613) may cause changes here as well.

[2019-01-07 23:07] #6624 closed

[2019-01-07 23:07] schoen commented on #6624
Great, thanks for checking, @bes-internal!

[2019-01-08 01:16] Bluscream commented on #6645
P.S. You might want to make your tutorials more clear so one like me doesn't get the idea of searching advice on sites like bjornjohansen.no

[2019-01-08 09:45] dim1triy commented on #6628
@schoen Found a problem. Connection for some reason goes through ipv6, but not ipv4. And on time out hanging can not connect.

`
root@server01:/tmp/tmp.5VqiKwcdAh# time wget https://pypi.org/pypi/certbot/json
--2019-01-08 10:33:10--  https://pypi.org/pypi/certbot/json
Resolving pypi.org (pypi.org)... 2a04:4e42:400::223, 2a04:4e42:600::223, 2a04:4e42::223, ...
Connecting to pypi.org (pypi.org)|2a04

[2019-01-08 10:04] aairey commented on #5534
I also installed awscli using the bundled installer they provide, so that it is self-contained.

https://docs.aws.amazon.com/cli/latest/userguide/install-bundle.html

[2019-01-08 11:54] trinopoty commented on #6625
I've looked into this and I've come up with two possible ways and their respective problems:
- Force user to supply all domains using the `-d` parameter. The problem being that the user has to know all the domains. This is the easiest to implement but I'm guessing not what we want.
- Allow the user to select from a list after filtering the lineages using the domains provided using `-d`. This optio

[2019-01-09 19:56] bmw opened #6648 "Write design doc for integration test framework in #6541"

[2019-01-09 20:10] bmw opened #6649 ".deb research"
If we make our own Certbot .debs, can we handle the difference in package names (e.g. python, python2, python3) inside the .deb? How well can we handle differences in dependency packages in general?

Additionally, how reliably can we set up automatic renewal?

Biggest systems here are non-EOL'd versions of Debian, Ubuntu and maybe Raspbian.

[2019-01-09 20:12] bmw opened #6650 ".rpm research"
If we make our own Certbot .rpms, can we handle the difference in package names (e.g. python, python2, python3) inside the .rpm? How well can we handle differences in dependency packages in general?

Additionally, how reliably can we set up automatic renewal?

The biggest systems here are the non-EOL'd versions of systems based on RHEL (which includes Amazon Linux and CentOS) and maybe openSUSE.

[2019-01-09 20:37] #6585 closed

[2019-01-09 20:52] #5342 closed

[2019-01-10 03:02] richard-fairthorne commented on #5928
If you attempt to obtain a certificate like this (root + wildcard) using DNS in manual mode, you are asked to add multiple TXT records, which is impossible with some providers, including GoDaddy.

I have temporarily resorted to getting two seperate certificates.

Would it be possible to verify all the domains using the same TXT record? Perhaps it would address multiple use-cases.

[2019-01-10 04:03] jsoref opened #6652 "TypeError: unorderable types: NoneType() < NoneType()"
## My operating system is (include version):

Ubuntu 16.04.5 LTS (xenial)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
apt
certbot                          0.28.0-1+ubuntu16.04.1+certbot+4
python3-certbot                  0.28.0-1+ubuntu16.04.1+certbot+4
python3-certbot-apache           0.28.0-1+ubuntu16.04.1+certbot+3

## I ran this command and it produced this outpu

[2019-01-10 04:13] jsoref commented on #6652
I had set up:
`/etc/letsencrypt/live/example.com/cert.pm` -> `/etc/letsencrypt/archive/example.com/cert.pem`
etc.

The code expected a number between `cert` and `.pem` in the archive side.

[2019-01-10 10:02] taikedz commented on #5084
That sounds completely unrelated...

Also `vim` should indeed be owned by root, don't simply start changing ownership of system files !

It's more likely that `brew install augeas` was the solution

[2019-01-10 10:34] aiya000 commented on #5084
I couldn't understand, but just it fixed...
(`brew install augeas` doesn't fix it :thinking:)

[2019-01-10 12:32] alyssais commented on #5084
`/usr/local/<whatever>` is a Homebrew file, not a system file.

[2019-01-10 17:09] tim-seoss commented on #6504
I disagree with this - the DNS provider I use supports fine grained access to control DNS updates (you must manually turn on dynamic updates for a particular entry manually, then you get issued with a token which enables updates to that entry only).

I have created a certbot plugin for this provider using its own API because (at least when I looked at it), the Lexicon plugin seemed to assume insec

[2019-01-10 17:19] bmw commented on #2685
Now that we put all domains as SANs with none in the common name field of the CSR, I don't think changing our behavior here makes sense so I'm closing this issue.

[2019-01-10 17:19] #2685 closed

[2019-01-10 17:58] bmw commented on #6652
Yeah. The structure of `/etc/letsencrypt` is very sensitive to user changes.

We should clean up that error message though.

[2019-01-10 18:06] bmw commented on #4100
I can still reproduce the problem here.

This issue might be resolved with https://github.com/certbot/certbot/issues/4799, but @joohoi, can you file an upstream bug about this? I suspect you'll be able to give them an example they can easily reproduce using something like `augtool` faster than I can.

[2019-01-10 18:16] bmw commented on #4117
It's too bad no one was able to get to this issue while it was still relevant. This is a problem with our support for the TLS-SNI challenge, however, support for the challenge is deprecated and will be removed in February so I'm closing this issue.

[2019-01-10 18:16] #4117 closed

[2019-01-10 18:17] bmw commented on #3853
Support for certbot-auto on macOS is deprecated so I'm closing this issue.

[2019-01-10 18:17] #3853 closed

[2019-01-10 18:21] bmw commented on #2099
This issue hasn't seen any updates in almost 2 years and we have tens of thousands of certbot-auto users on RHEL 6 based systems so I'm closing this issue. If you're continuing to have problems, please comment or open a new issue.

[2019-01-10 18:21] #2099 closed

[2019-01-10 19:24] bmw commented on #6127
Erica said she's not planning on implementing this issue, but wanted to make herself responsible for tracking it to make sure it gets done. If someone else wants to work on this, please do so!

[2019-01-10 19:24] bmw commented on #6284
Erica said she's not planning on implementing this issue, but wanted to make herself responsible for tracking it to make sure it gets done. If someone else wants to work on this, please do so!

[2019-01-10 23:16] generalbrus commented on #6042
I'm happy to take this on

[2019-01-11 17:03] maurorappa commented on #420
This is my server directory, totally managed by cerbot, I never changed any permission:

[code]

I think it's way too permissing, expecially for the Private key.
I am running certbot version: 0.10.2, on Debian with default umask of 0022.

[2019-01-11 18:42] sydneyli commented on #420
Hi @maurorappa! We fixed this in #6480, which should be in the most recent release of Certbot v0.29.1. Regardless, your private key should still be safe as long as the permissions on the containing directories have remained the same (non group or world readable) as when Certbot created them.

[2019-01-11 21:25] bmw opened #6654 "Stop using _SIG_OIDS_TO_HASH in certbot/ocsp.py"
See https://github.com/certbot/certbot/pull/6603#discussion_r246886454. Since we should still work with cryptography 2.4, I think we should check for the existence of a `signature_hash_algorithm` attribute, if it exists use that, and otherwise continue to use ` _SIG_OIDS_TO_HASH`.

Alternatively, we can only use cryptography to check OCSP with cryptography>=2.5, but the check in the code will have

[2019-01-11 21:54] adferrand commented on #6654
If it is reasonable to require 2.5 as a minimal version when it is released, I would go for the second option, and not rely on a private field if possible.

[2019-01-12 02:32] aaaaasam commented on #5465
Fixed by
[code]

[2019-01-12 15:10] magnific0 opened #6655 "dns_rfc2136: UDP instead of TCP, seperate SAO request server for dyn.com / dyndns.com"
## My operating system is (include version):
python2.7

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
apt

## I ran this command and it produced this output:
hangs during certificate generation, then produces a dnspython timeout

There are three issues to be solved to make certbot also compatible with dyn.com

1. update.dyndns.com only support UDP.
2. update.dyndns.com

[2019-01-13 22:33] dandelionred commented on #3646
@rowan-OzRunways Isn't this https://github.com/certbot/certbot/issues/3646#issuecomment-323814774 valid for you? Just append `http2` by hand once and it shouldn't be touched on **renew**.

[2019-01-14 00:08] generalbrus commented on #6042
I've looked into the code and I'm not sure about how to access the expected challenge response.

I'm assuming it's the `KeyAuthorizationChallengeResponse.key_authorization` attribute, and I have not found a way to access it from an `achall` object directly.
What I'm doing right now is, I generate a new `key_autorization` with `KeyAuthorizationChallenge.validation()`, specifically: `achall.validati

[2019-01-14 00:33] rowan-OzRunways commented on #3646
Hmm I thought it cleared. It did clear once but that may have been `certbot-auto` Thanks I’ll check.

[2019-01-14 16:01] wizardnet972 commented on #5724
How about docker-compose.yml file?

[code]

not work. :(

[code]

[2019-01-14 18:51] sydneyli commented on #5724
Hi @wizardnet972, thanks for checking out Certbot!
This looks like a different issue. Could you submit a separate issue report [here](https://github.com/certbot/certbot/issues/new) and fill out the issue template there?

[2019-01-14 21:45] schoen commented on #6655
@bodgit, would you be willing to comment on this (whether or not you want to actually deal with the code changes)?

[2019-01-14 23:12] bodgit commented on #6655
It doesn't seem to be a very conforming DNS server.

1) The reason for using TCP is to prevent getting truncated responses, without investigating I'm not sure how likely that would be when using UDP but you would likely need to add retrying with TCP to be on the safe side.
2) That behaviour just seems odd. Querying is used in order to be able find the closest SOA, your patched version just seems t

[2019-01-14 23:19] schoen commented on #6655
Thanks, @bodgit!

@magnific0, in light of @bodgit's comments, I'm going to suggest that these behaviors ought to be fixed by Dyn on their end, rather than in Certbot. But thank you for sharing your workaround here. It may be very helpful to other users who encounter the same problem.

If you find that Dyn is unwilling to fix these issues, or you need our help in contacting them, or you find anothe

[2019-01-14 23:19] #6655 closed

[2019-01-15 02:00] schoen commented on #6190
I'm not positive that we've decided to do this, but there's a PR for it. :slightly_smiling_face:

[2019-01-15 02:02] schoen commented on #2080
I'm doing some more research on a related suggestion about RSA keys, but I'm planning to close this issue soon unless anyone has any responses to my three suggestions in my most recent reply.

[2019-01-15 02:04] schoen commented on #6591
@el-barto, could you please post the associated Apache configuration so we could see if there's something unusual about it that the parser is having trouble with?

[2019-01-15 02:06] schoen commented on #880
@bmw, do we still consider this a separate issue from #3522?

[2019-01-15 07:37] magnific0 commented on #6655
@bodgit @schoen Thanks for reacting so quickly.

I agree that the Dyn server is not behaving normally. For me the issue is fixed and I understand the reluctance to incorporate these changes, especially the non-compliant adding of records.

At least we have a note of the issue here and an outline of my fixes, so hopefully it's helpful to other in that respect.

[2019-01-15 09:54] bodgit commented on #6655
If there is a different API available for Dyn, it might make sense to create a separate authenticator. The only reason I suggest that is that Hashicorp Terraform has a dedicated [Dyn provider](https://www.terraform.io/docs/providers/dyn/index.html) which I have briefly used that doesn't seem to use RFC 2136 DNS updates, it looks like some sort of HTTP API.

[2019-01-15 15:59] anarcat commented on #4493
i don't know if [click](http://click.pocoo.org/) will cover the use cases currently covered by configargparse. first, it doesn't support config files out of the box - that might be done by a third party module like [click_config_file](https://github.com/phha/click_config_file). that config file support doesn't support writing config files the way certbot currently does either.

then click is way m

[2019-01-15 16:07] J0WI commented on #2080
How about closing this after #3349 has been done?

[2019-01-15 17:44] #6190 closed

[2019-01-15 17:56] bmw opened #6657 "Write instructions for how to automate renewal with Docker"
While Docker is a small percentage of our users, I don't think we have any good instructions here.

[2019-01-15 17:58] bmw commented on #880
I don't think so.

Our supported methods of installation are OS packages, certbot-auto, and Docker.

Configuring renewal in OS packages is outside of our control, #3522 handles certbot-auto, and #6657 handles Docker.

[2019-01-15 17:58] #880 closed

[2019-01-15 17:59] bmw commented on #4493
Thanks for the thoughts @anarcat! For what it's worth, we don't use configargparse for writing configuration files and instead use configobj.

[2019-01-15 18:08] GreatEmerald commented on #3522
I wouldn't want it to depend on cron, because cron is useless if the user only uses systemd timers. Mind you, it's fine to add crontabs, because without cron they will simply not do anything.

[2019-01-15 20:06] ohemorange commented on #5499
Good point. I believe what we have now is the correct behavior (given that Certbot has a cert abstraction over the actual cert file, that a cert and all its earlier and later versions are the same cert), so I'll try to make the messaging more clear.

[2019-01-15 21:14] #5499 closed

[2019-01-15 22:16] adferrand commented on #6630
I had a discussion recently with @bmw.

I think the option 2 is the best so far. With this, you can invert the logic and push a docker image from the CI into Docker Hub. However with this, description from README.md and Dockerfile in Docker Hub are not updated anymore after a build. And no API is settled to do that except during an Automated Build.

I think that description does not need to match

[2019-01-15 22:19] bmw opened #6659 "Can we replace the test-everything branch with conditional jobs?"
See https://docs.travis-ci.com/user/conditional-builds-stages-jobs. Could we just add conditional jobs that check `if: type = cron` (whose availability is specified in https://docs.travis-ci.com/user/conditions-v1#integration) and set up `master` to always run nightly? I don't see why this wouldn't work.

[2019-01-15 23:47] bmw opened #6662 "Create py34 and py37 install tox environments and use them in .travis.yml"
In our `test-everything` branch (and soon to be `master` after #6661 lands), we run py34 and py37 unit tests multiple times. This is because we're using the value of TOXENV to sometimes run unit tests and sometimes provide us with a Certbot installation under a certain version of Python. When we just need the Certbot installation and don't need to run unit tests, we should use py34_install and py3

[2019-01-16 12:23] trinopoty commented on #741
It seems that email notifications are disabled atm. Also, it would be better to support SMTP with user provided config alongside LMTP.

[2019-01-16 17:35] bmw commented on #6630
I think I prefer option 2 for now. I'm not a fan of option 1 either. I could be convinced to go with option 3 if we think setting up a simple yet maintainable version of it is easier than setting up the same for option 2, but I think option 2 is the best approach out of those three in the long term.

Another potential option might be to send remote build triggers to Docker Hub when we want them to

[2019-01-16 18:07] bmw commented on #6629
This is done.

[2019-01-16 18:07] #6629 closed

[2019-01-16 19:23] bmw opened #6665 "Switch to an Apache parser that works on Windows"

[2019-01-16 19:31] bmw opened #6666 "Write up instructions for how to get Certbot off of TLS-SNI"
The simple case is easy. They just need to update Certbot, test renewal with `--dry-run`, and make sure that they've configured automatic renewal for that version of Certbot.

It gets more complex if the user has set `--preferred-challenges` in the past. It gets more complex if there are different challenge preferences that must be remembered for different lineages.

[2019-01-16 20:16] #6659 closed

[2019-01-17 01:09] tkitynski commented on #3108
I've just ran certbot (0.28.0 from Debian's stretch-backports) in `--standalone` mode and `http` challenge and it produced world-readable privkey in archive directory as follows:

    drwxr-xr-x 2 root root 4096 sty 17 00:56 ./
    drwx------ 3 root root 4096 sty 17 00:56 ../
    -rw-r--r-- 1 root root 1915 sty 17 00:56 cert1.pem
    -rw-r--r-- 1 root root 1647 sty 17 00:56 chain1.pem
    -rw-r--r

[2019-01-17 17:32] bmw commented on #4239
Can someone give me an example of a specific use case for this? I'm a little unsure about the need to add this feature.

I'm closing this issue for now as part of cleaning up old issues, but if people are still interested in this, please comment or open a new issue explaining your use case and how this in particular would help you.

[2019-01-17 17:32] #4239 closed

[2019-01-17 17:33] bmw commented on #4250
We're slowly killing our shell scripts with Windows support and considering deprecating `certbot-auto`. I'd like to leave this open on the off chance we don't do those things so we remember to set up a linter, but I expect we'll be able to close this in the near future.

[2019-01-17 17:35] bmw commented on #4288
I haven't seen any of these in a very long time so I'm closing this issue. I think whatever the problem was has been resolved.

[2019-01-17 17:35] #4288 closed

[2019-01-17 17:36] bmw commented on #4223
@joohoi, is this still a valid issue?

[2019-01-17 17:59] bmw commented on #3045
I don't think we're going to do this. Different distros have different conventions and trying to write code in Certbot to cater to each of them increases Certbot's complexity for little benefit. If there's a standard, by all means we should try to follow it, but I don't think we're going to make changes like this to conform to the conventions of specific distros.

If someone disagrees, feel free t

[2019-01-17 17:59] #3045 closed

[2019-01-17 18:00] bmw commented on #4315
This should still be done.

[2019-01-17 18:02] bmw commented on #4285
If you're still having issues here, I strongly recommend you create a post on https://community.letsencrypt.org. There is a large community of people there familiar with the project that should be able to help you get Certbot working on your setup.

[2019-01-17 18:02] #4285 closed

[2019-01-17 18:03] bmw commented on #4344
Whether or not we should still do this depends on the outcome of https://github.com/certbot/certbot/issues/6630.

[2019-01-17 18:09] gpjt commented on #6614
Thanks for the details!  Is there something else we should use instead of `simple_verify`?  We just want to do some basic preflight checks to make sure everything is working on our side before bothering the Let's Encrypt servers with our cert request.

[2019-01-17 19:22] sydneyli commented on #6614
What we do in [our integration tests](https://certbot.eff.org/docs/contributing.html?highlight=boulder#integration-testing-with-the-boulder-ca) is spin up a local instance of [Boulder](https://github.com/letsencrypt/boulder) (the CA software LE uses) which is a much better approximation of how LE will actually respond! The code for this is in [boulder_fetch.sh](https://github.com/certbot/certbot/b

[2019-01-17 21:12] zerofino commented on #6615
Sorry, but my main problem was a wrong DNS configuration by the provider, which stopped Certbot from operating. After solving this certificate generation was successful again.
The virtual host problem of Mac OS X Server is still the case, but one simply has to use the webroot directory method.

[2019-01-17 21:12] #6615 closed

[2019-01-17 22:21] bmw commented on #2947
One thing this example should do is show how to reuse an existing account.

[2019-01-17 22:39] charly4711 opened #6673 "Certbot maps memory region as both executable and writable"
## My operating system is (include version):
Debian 4.9.130-2 (2018-10-27) x86_64 GNU/Linux

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
apt-get from stretch-backports

## I ran this command and it produced this output:
sudo certbot --preferred-challenges dns --manual certonly
... (output as expected, certificates were created)

## Certbot's behavior differed from wha

[2019-01-17 23:39] ArchangeGabriel commented on #3108
@tkitynski This has been changed in `0.29`, so you have to wait for a newer version.

[2019-01-18 00:00] #6580 closed

[2019-01-18 08:45] mnordhoff commented on #6221
Another user reported this on the forum after upgrading from 0.4.1 to 0.30.0.

https://community.letsencrypt.org/t/renew-fails-could-not-select-or-initialize-the-requested-installer-none/82858

[2019-01-18 08:52] joohoi commented on #6673
Thanks for opening the issue!

Certbot uses the system Python executable to run its code, and the only other non-Python libraries that get installed currently exist in package `python3-certbot-apache` or `python-certbot-apache` for Debian. This another library is the `libaugeas` we're currently using to parse Apache configuration. I wonder if you have one of the apache packages installed?

It woul

[2019-01-18 09:14] computersalat commented on #3522
Have a look here for openSUSE cron vs cronie:
https://en.opensuse.org/openSUSE:Cron_replace

[2019-01-18 10:12] charly4711 commented on #6673
Sure:

# find /usr/lib -exec execstack -q {} \; -print 2> /dev/null | grep ^X
X /usr/lib/klibc/bin/poweroff
X /usr/lib/klibc/bin/ipconfig
X /usr/lib/klibc/bin/halt
X /usr/lib/klibc/bin/minips
X /usr/lib/klibc/bin/mount
X /usr/lib/klibc/bin/reboot
X /usr/lib/klibc/bin/fstype
X /usr/lib/klibc/bin/sh.shared
X /usr/lib/klibc/bin/gunzip
X /usr/lib/klibc/bin/cat
X /usr/lib/klibc/bin/mknod
X /usr/lib/kli

[2019-01-18 10:50] karlp commented on #6053
WIth the upcoming death of http-sni, getting more of these dns plugins available is slowly becoming more pressing

[2019-01-18 11:35] yardenac commented on #6053
@karlp You're talking about tls-sni-01, right? https://community.letsencrypt.org/t/february-13-2019-end-of-life-for-all-tls-sni-01-validation-support/74209

I'd also really like to see these backported to Debian stretch, as buster won't be out for a few months at least.

[2019-01-18 13:41] KlausGPaul commented on #6666
As an idea to the above, one has to force renewal of an ACME TLE-SNI-01 cert if is not close enough to its expiry date, see [here](https://community.letsencrypt.org/t/tls-sni-01-deprecation-mail-which-domain-s/82976/9).
As an alternative, this could be added as a feature request to the code, consider validation mode when auto rnewing, not just time stamp.

[2019-01-18 14:18] el-barto commented on #6591
Thanks for the reply. Here's the document root setup:

[code]

The file `/etc/apache2/serveralias_400.conf` contains this:

[code]

I was able to manually renew one certificate which was about to expire by deleting it with `./certbot-auto delete` and then issuing a new one with `./certbot-auto --manual certonly -d '<my-domain>'`. But I'm still having problems to renew other certificates on the sam

[2019-01-18 16:24] bmw opened #6674 "Nightly tests are failing on the new CERTBOT_NO_PIN tests"
See https://travis-ci.com/certbot/certbot/jobs/171340638. I think the solution may be to remove `--ignore-installed`.

@adferrand, are you able to look into this today?

[2019-01-18 16:44] bmw commented on #6591
@joohoi told me a while ago he'd take a look at this so I'm assigning him to this issue for now.

[2019-01-18 16:49] joohoi commented on #6673
I did some digging around, and it seems that python modules `cffi` and `ctypes` do not play nicely with memexec protection in SELinux. I'll label this issue and leave it open, but it's not likely we'll be able to get around fixing that very soon unfortunately.

[2019-01-18 17:47] #6674 closed

[2019-01-18 18:23] refringe commented on #6221
Additionally, going into the `/etc/letsencrypt/renewal/example.com.conf` file and removing the `installer=none` line solves the problem. Perhaps the next update should scan these configuration files and remove lines that have default values?

[2019-01-18 21:18] cpu opened #6676 "acme module: support client.answer_challenge for TLS-ALPN-01"
After https://github.com/certbot/certbot/pull/6144 landed Boulder had to [switch away from using an up to date Certbot clone for our integration tests](https://github.com/letsencrypt/boulder/blob/ed01d6bc14307ca5e361417a6b68dfac94db8c6e/test/boulder-tools/build.sh#L54-L62).

We don't rely on Certbot's `acme` module to create or serve TLS-ALPN-01 challenge response certificates (we use [`pebble-cha

[2019-01-18 22:42] bmw commented on #6666
This is done at https://community.letsencrypt.org/t/how-to-stop-using-tls-sni-01-with-certbot/83210.

[2019-01-18 22:42] #6666 closed

[2019-01-19 13:56] charly4711 commented on #6673
Thanks.
I'll permit it on demand, then, until there is a fix. Didn't expect to get a fix in a day or two but wanted to bring this to your attention, so it'll maybe get scheduled for _some_ release. It seems to make sense that a tool that improves security on one end doesn't do so by opening holes on another (even if the latter may be smaller.) If the issue needs to be addressed somewhere upstream

[2019-01-19 16:55] makuser commented on #369
No, definitely not. (Unfortunately)

Oh that sounds great, but that's absolutely not what certbot is doing at the time of writing.

[code]
Vhost config:
`collabora-le-ssl.conf` contains `office.somedomain.eu`.
`nextcloud-le-ssl.conf` contains `cloud.somedomain.eu` and the alias `cloud-alias1.somedomain.de`.

Both vhosts share one certificate, because I really did not care about this at that time.

[2019-01-19 17:51] rishabhkumar296 commented on #4315
Hi, I would like to work on this issue.

[2019-01-20 05:43] jsha commented on #369
@makuser Looks like I was mistaken! Thanks for clearing that up.

[2019-01-20 18:03] bmatthewshea commented on #5234
Fixed this error that came up today on 16.04 per OP.

Removed certbot ppa package for route53:

[code]
`certbot certonly --agree-tos --dns-route53` ...

install/renew/cron works fine again.

[2019-01-20 18:17] #4315 closed

[2019-01-20 18:20] progkix opened #6680 "CertBot Errors"
If you're having trouble using Certbot and aren't sure you've found a bug or
request for a new feature, please first try asking for help at
https://community.letsencrypt.org/. There is a much larger community there of
people familiar with the project who will be able to more quickly answer your
questions.

## My operating system is (include version):
Fedora 28 X64

## I installed Certbot with (cer

[2019-01-20 19:32] progkix commented on #6680
I should add that just a few days ago certbot --domain ran without a problem and certbot ran successfully at 0600 this morning.

[2019-01-20 19:45] Amadeus- opened #6681 "certbot-dns-linode still available?"
The official certbot documentation at https://certbot.eff.org/docs/using.html#dns-plugins indicates that the plugin certbot-dns-linode should still be available; however, I cannot ascertain how one installs it on Ubuntu.   I've tried searching on Google to no avail.

There was a thread asking about it at https://community.letsencrypt.org/t/certbot-dns-linode-missing-from-repository/76513 ..but, no

[2019-01-20 20:32] kr4ut commented on #5234
@bmw FYI we looked into the "dependencies-by-distro-backport" to trusty, but honestly that's a lot of nasty work. For the few of our clients who insisted on staying the whole LTS cycle with trusty despite upgrade offers we're actually using the certbot/certbot PPA. But are praying those last systems may rest in peace soon :sweat_smile:

For backporting the additional plugins to xenial we actually

[2019-01-21 08:52] joohoi commented on #6221
In contrary to the issue title, this is not an _error_, but a **warning**, meaning it's non-fatal. Certbot has Installer specific functionality that gets run on `renew` verb, regardless of if a certificate needs to be renewed or not. This functionality is used for security enhancements like gradually increasing HSTS `max-age` value in Apache configuration, or refreshing the OCSP cache (upcoming).

[2019-01-21 13:47] joohoi commented on #6630
I do agree, the option 2) looks like the best (at least) short term solution. I'm not in favor of getting rid of the Docker images completely.

[2019-01-21 14:17] dseeker commented on #4827
@valignatev how did you add that? I tried to renew a 3 month SLL now and it's returning this error, not sure if I have to start the process from scratch to make it work again

   prevents issuance

https://check-your-website.server-daten.de/?q=static.103.68.216.95.clients.your-server.de

[2019-01-21 14:42] valignatev commented on #4827
@dseeker You have to add needed CAA record to your domain. There is a nice site https://sslmate.com/caa/ which could help with generating the correct string, you then just have to paste it wherever you manage your domains.

[2019-01-21 15:34] idavydov commented on #5592
I followed [this advice](https://community.letsencrypt.org/t/ascii-codec-cant-decode-byte-0xe6-in-position-1-ordinal-not-in-range-128-skipping/53394/4?u=idavydov) and inserted the following lines into /opt/eff.org/certbot/venv/lib/python2.7/site-packages/certbot_nginx/parser.py:
[code]

Worked for me.

[2019-01-21 16:33] dseeker commented on #4827
@valignatev thanks. I don't actually own the domain and don't have access to set anything on DNS, it's provided as courtesy by the hosting company to access the server instead of directly using IP.  seems strange they would disable any other SSL providers

[2019-01-21 17:09] adferrand commented on #6630
I confirm. Full read+write access to GitHub account is mandatory for Docker Hub Automated Builds.

[2019-01-21 17:22] jsha commented on #4827
Hi! You'll get much better help by posting at https://community.letsencrypt.org/. I'm going to lock this issue thread for now.

Thanks,
Jacob

[2019-01-21 19:17] progkix commented on #6680
After reviewing all the available messages and browsing source source, I decided to try something radical.

I ran pip uninstall six, pip uninstall urllib3, pip3 uninstall six and pip3 uninstall urllib3.

I followed those up with pip3 install urllib3 and pip3 install six.

This corrected the problem with certbot and things are again running properly. However I found that the uninstall affected anot

[2019-01-21 19:17] #6680 closed

[2019-01-21 20:40] joohoi commented on #4223
I think this should be fixed with the various fixes enabling challenges (and directive discovery / writing) has seen during the last few years. I'm closing this for now. If someone hits this again, we'll reopen the issue.

[2019-01-21 20:40] #4223 closed

[2019-01-22 04:53] angelflo commented on #6362
Hi again,
I found the problem with my config but I need your help
I had installed nginx from source and compiled in my side because I need some custom modules (like pagespeed and brotlib) so I can't use apt package to install the nginx server.
And because I block Nginx update in apt to avoid that it overwrite this custom version (thru /etc/apt/preference.d/  => package: nginx*), when I try to inst

[2019-01-22 09:09] mnordhoff commented on #6681
(I've posted a reply in the forum thread.)

[2019-01-22 22:04] ohemorange commented on #6676
@bmw why did we revert this again? Something about OpenSSL versions?

[2019-01-22 22:13] larabr commented on #6042
I'm not 100% confident I've understood what was required here, so before opening a PR I want to double check.
Here's what I've implemented: https://github.com/larabr/certbot/commit/3d3d458065cc147f513c411ca51f10e706ebe455
Basically I add the URI and expected response to the printed error.

[2019-01-22 22:27] jrko opened #6682 "Certbot-auto fails to install (Requirement already satisfied: setuptools>=1.0)"
It looks like *certbot-auto* is failing to build its virtual environment when installing. Broken in my automated workflow as well as running manually.

## My operating system is (include version):
Amazon Linux AMI release 2018.03

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
[code]

## Certbot's behavior

[2019-01-22 22:59] JaredJRoss commented on #6682
I am having this same issue.  I was able to get past the assert error by going into the certbot-auto file and getting rid --no-cache-dir on line 1386

`PIP_OUT="$VENV_BIN/pip" install --disable-pip-version-check --no-cache-dir --require-hashes -r "$TEMP_DIR/letsencrypt-auto-requirements.txt" 2>&1`

However this gave me this error instead

` Running setup.py install for pycparser ... done
  Running

[2019-01-22 23:32] agowa338 commented on #6042
For the scope of this issue I requested to print the URL that LE is trying to reach on the screen *before* the user presses return to trigger the verification.

Therefore I created this #6063 as a workaround. I was unable to find the correct spot in the code, so I did a workaround and prevented the cleanup after it failed.

[2019-01-22 23:44] jrko commented on #6682
@adferrand Can you please explain why you think it's a pip issue? I'm using the same version of pip `9.0.1` for months and it has been working fine. The moving part here seems to be certbot-auto. I don't believe this ticket should be closed.

[2019-01-23 00:44] adferrand commented on #6682
I apologize if the closing was interpretated as "we will not take care of the issue", as it was more a "it is not the time to take care of this issue yet".

Because before considering certbot-auto is failing, as it is widely used without any major issue by hundred thousands of users, we need first to consider the higher probability that the failure is due to a runtime particularity in the impacted

[2019-01-23 00:48] adferrand commented on #6682
What makes me think of a pip interference with the OS is the stacktrace first, and the fact that it is known theses interferences to happen from time to time.

My bet would be a sudden inability from these systems to build Python packages, or on older one that appears now, because a new dependency is not available as a pre-built binary, and is required to be compiled from sources.

[2019-01-23 01:02] adferrand commented on #6682
Please not also that we do not support officially Amazon Linux, and various issues are tracked on #6505.

However, three people on the same problem, including one on the current version of Debian.

I reopen the issue.

[2019-01-23 01:04] adferrand commented on #6682
Now @alexzorin, as you stated the issue on a fresh system, could you provide instructions to reproduce the error. I will be interested in particular by the exact version of the Docker, the version of the Docker daemon, the Linux system running the host and its kernel version.

Thank you in advance!

[2019-01-23 01:08] bmw commented on #6221
Playing with this a bit, it seems the problem does not occur when renewal actually happens and only when `certbot renew` is run but a new certificate is not obtained. The code printing this message runs in either case though.

When a new certificate is actually obtained, Certbot prints:
[code]
It is correctly recognizing that `none` is the Python type `None` and the problem that causes the warning

[2019-01-23 01:21] alexzorin commented on #6682
Sure!

[code]

[code]

and here are the contents of `logfile` detailing the failure:
<details>
<summary>logfile</summary>

[code]
</details>

Since my `debian:stretch` image in the above is 8 months old, I also pulled the latest version (`a0bd3e1c8f9e`, uploaded 6 hours ago), and re-ran the same instructions. It exhibits an identical failure as in the above `logfile`.

**Non-Docker repro**:

An ad

[2019-01-23 01:39] alexzorin commented on #6682
Yes, sorry, I meant to say that it seems like an issue with the distro whether or not Docker is involved.

Also, x-posting the community thread: https://community.letsencrypt.org/t/certbot-has-problem-setting-up-the-virtual-environment/83678

[2019-01-23 01:56] bmw commented on #5234
Yeah. We only have a few more months until Trusty's EOL and backporting Certbot and most of its plugins to 16.04+ should be much easier. We're currently working on backporting the version of Certbot in Bionic to Xenial and there are no dependency problems.

Our DNS plugins are in state of flux at the moment (see https://github.com/certbot/certbot/issues/6504) so I'm personally not too worried abou

[2019-01-23 02:20] bmw commented on #6362
@angelflo, I strongly recommend you post to https://community.letsencrypt.org where there is a large group of people familiar with the project who would be happy to try and help you.

[2019-01-23 02:34] bmw commented on #6676
Yeah. We reverted our TLS-ALPN support for the reasons described in https://github.com/certbot/certbot/pull/6100#issue-194439679.

I personally think we should revisit that decision, but regardless of that, I think we can add support the minor additional support the boulder team wants here.

Keeping with our current patterns to make the code work it should be as simple as:

1. Adding a `TLSALPN01R

[2019-01-23 02:37] bmw commented on #6042
The relevant place in the code is in the block https://github.com/certbot/certbot/blob/a1313267f033f27133d18e3e7315b5e3947a79bf/certbot/auth_handler.py#L77

This is after we've set up the challenges but before we've sent our responses to the ACME CA stating that we're ready to for it to verify them.

[2019-01-23 02:46] bmw commented on #6630
That's so unfortunate.

@joohoi, do you have any major concerns with this approach?

[2019-01-23 03:14] ohemorange commented on #6682
Looks like this is related to issues in pip, please stay tuned for updates: https://github.com/pypa/pip/issues/6158

[2019-01-23 03:18] ohemorange commented on #6682
For now, you can fix this by adding the `--no-download` flag to the calls to `virtualenv` on lines 998 and 1000:

[code]

[2019-01-23 07:51] SaltyCybernaut opened #6684 "Renewals that were using tls-sni-01 switch to http-01 with no warning or logging"
## My operating system is (include version):
Ubuntu 18.04
$ uname -a
Linux <HOSTNAME> 4.15.0-33-generic #36-Ubuntu SMP Wed Aug 15 16:00:05 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS package manager
$apt install certbot

## I ran this command and it produced this output:
$certbot -q renew

## Certbot's behavior differed from

[2019-01-23 08:39] cars10 commented on #6682
I experience the same issue when trying to run `certbot-auto -n --install-only` in my docker images. I use `nginx:1.15.3` as base image and installing certbot used to work with that environment in the past.

[2019-01-23 10:03] adferrand commented on #6684
Hello @SaltyCybernaut and thanks for your report. Could you give the content of the renewal configuration file for this domain, that you will find at `/etc/letsencrypt/renewal/[YOUR_DOMAIN].conf`?

To give some context, TLS-SNI-01 challenges are broken by design, and deprecated for removal since one year now: https://community.letsencrypt.org/t/important-what-you-need-to-know-about-tls-sni-validat

[2019-01-23 10:07] adferrand commented on #6682
@cars10, did you apply the patch on `certbot-auto` posted above ?

[2019-01-23 10:09] adferrand commented on #6682
@jrko, @JaredJRoss, @alexzorin can you confirm that the patch makes `certbot-auto` works again ?

[2019-01-23 10:11] KevinSupertramp commented on #6682
Hi there,

@ohemorange 's patch did work for me on Debian Stretch.

Best,

[2019-01-23 10:16] alexzorin commented on #6682
Yes, the patch worked for me for Debian Stretch and Ubuntu 18.10. Based on forum posts, it appears to have fixed Amazon Linux 2018.03 as well.

[2019-01-23 10:35] joohoi commented on #6630
No, I don't, and even though I didn't communicate that clearly enough in the original comment, this was what I came up as well. The automated builds are naturally the only way to publicize the Dockerfile in the DockerHub altogether.

Because of this, I feel that setting up the CI pipeline to update Docker images is the best short term solution, but in the long term we should re-evaluate the possib

[2019-01-23 10:52] adferrand opened #6685 "Pin pip version during virtualenv creation through certbot-auto"
Issue #6682 enlighted a breakage on certbot-auto since version 19.0 of pip has been released that contains a bug. Issue on upstream as been filled here pypa/pip#6158 and bug fix version is incoming.

What I want to study here, is how to avoid that this kind of breakage breaks certbot-auto. It impacted us because by default, virtualenv will try upon its creation to update its fundamental components

[2019-01-23 11:13] adferrand commented on #6682
Note that, as a one-line fix, you can also set an environment variable that will instruct `virtualenv` do to the same as with `--no-download` flag:
[code]

In this case, you should not need to modify `certbot-auto` itself.

[2019-01-23 12:15] pixelgaurav commented on #3726
now we are getting error for 2.7 going to deprecation please update this

[2019-01-23 12:26] pixelgaurav opened #6686 "now we are getting error for 2.7 going to deprecation please update this"
pip prints the following errors:
=====================================================
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7.

Exception:
Traceback (most recent call last):
  File "/opt/eff.org/certbot/venv/local/lib/python2.7

[2019-01-23 12:40] larabr commented on #6042
I see now, thanks for clarifying!

[2019-01-23 12:43] adferrand commented on #3726
Side effect of the upgrade to pip 19.0 in certbot-auto virtualenv. This could also be fixed again through #6685

[2019-01-23 12:50] adferrand commented on #6686
I am going to close this issue related to pip 19.0:
* in favor or #3726 to handle the deprecation warning
* in favor of #6682 for the AssertionError

[2019-01-23 12:50] #6686 closed

[2019-01-23 12:53] adferrand commented on #6682
Potential long-term corrections are tracked down on #6685

[2019-01-23 13:35] cpu commented on #6676
@bmw I can probably write a PR based on your description if it would be helpful and you folks can help knock the dust off of my Python knowledge.

[2019-01-23 14:46] mgedmin opened #6687 "pip install certbot-apache fails with pip 19"
If you have pip 19, `pip install certbot-apache` fails with

[code]

which is https://github.com/pypa/pip/issues/6165, but really caused by https://github.com/pypa/wheel/issues/280.

I've seen this ValueError in one of the comments in #6682, but certbot-auto is not the only affected use-case (although I understand that users who create virtualenvs by hand and pip install certbot-apace in there are

[2019-01-23 15:18] cailen opened #6688 "certbot-auto Virtual Environment Setup ValueError: too many values to unpack"
## My operating system is (include version):
Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:

[code]

## Certbot's behavior differed from what I expected because:
It did not successfully create the venv.

## Here is a Certbot log showing the issue (if available):
No log for this issue

[2019-01-23 15:19] cailen commented on #6688
Running with verbose:

[code]

[2019-01-23 15:24] cailen commented on #6688
Looks like same issue as #6687 and #6682 and the upgrade to pip 19.0.1 did not fix it. Closing as duplicate

[2019-01-23 15:24] #6688 closed

[2019-01-23 15:39] JaredJRoss commented on #6682
The fix works for me thank you for the help

[2019-01-23 15:51] adferrand commented on #6685
It seems that there is two independent problems, related to the wheel module of pip:
* Failing assertion `building_is_possible` #6682
* Failing parsing on files with comma #6687

@cailen, you confirm that neither issues are corrected by pip 19.0.1 ?

[2019-01-23 17:28] bmw commented on #3726
Cryptography has not deprecated Python 2.7 support which was the cause of the problem in this issue. If you are seeing deprecation warnings, the problem is different and I would encourage you to open a new issue fully describing the problem.

[2019-01-23 17:28] #3726 closed

[2019-01-23 17:31] bmw commented on #6676
@cpu, that'd be great!

[2019-01-23 17:54] bmw commented on #6630
I can think of two minor problems:

1. Are we comfortable giving Travis the keys to push to our Docker Hub repository?
2. How do we ensure Travis runs on the release tags so that it can build the stable versions of the Docker images? With our current release process, this is guaranteed to happen for non-bug fix releases because the release tag is the start of a new `0.<minor version>.x` branch whi

[2019-01-23 18:40] jlariza commented on #6682
I was having the same issue. The fix given by @ohemorange worked as expected. Thank you!

[2019-01-23 20:18] cpu commented on #6676
I put a PR up with a potential fix based on @bmw's suggestions: https://github.com/certbot/certbot/pull/6689 I primarily modelled it off of the `DNS01Response` implementation.

[2019-01-23 21:56] jrko commented on #6682
I can confirm that `export VIRTUALENV_NO_DOWNLOAD=1` method works as well.

[2019-01-23 23:51] adferrand commented on #6687
@mgedmin, since pip 19.0.1 has been released is the issue still there after upgrade?

[2019-01-23 23:54] adferrand commented on #6682
New version 19.0.1 of pip should fix the issue since virtualenv in certbot-auto will upgrade its version of pip. Is it the observed behavior?

[2019-01-24 00:11] bmw commented on #6685
I agree and I think doing this should be as simple as removing the branch https://github.com/certbot/certbot/blob/1dd7db12e05c7a52f1b1092d76a14caf0bf4c4cc/letsencrypt-auto-source/pieces/pipstrap.py#L152

Erik originally offered to help here, however, because it looks like we may need to put out a bug fix release with this change, I personally think someone from the core Certbot team should probabl

[2019-01-24 00:14] ohemorange commented on #6682
@adferrand, the assertion error for `--no-cache-dir` seems to be fixed, but in a way that makes it hit the second issue, about unpacking too many values.

[2019-01-24 00:15] ohemorange commented on #6685
Reposting here: #6682 is addressed by 19.0.1, but certbot-auto still hits #6687. Currently looking into getting that addressed.

[2019-01-24 00:15] ohemorange commented on #6685
@bmw yes

[2019-01-24 00:16] ohemorange commented on #6687
Keeping this thread up to date as well: yes.

[2019-01-24 00:34] bmw commented on #6631
@ohemorange, here are some info that will hopefully help you with this.

This process seems to be extremely provider specific. FWIW, [here](https://docs.travis-ci.com/user/legacy-services-to-github-apps-migration-guide/)'s the process for how to do this with Travis, but I don't think this will help much.

Readthedocs' docs about how to work around this problem can be found at https://docs.readthed

[2019-01-24 00:54] ohemorange commented on #6685
My plan here is to try three separate things, and put them up as three separate PRs so we can decide separately about them.

1. add `--no-download`. this will for sure fix everything right now for most users.
2. fix the potential certbot-apache filename thing. this will hopefully make certbot work with the current version of pip.
3. pin pip, as this issue actually says.

[2019-01-24 02:04] ohemorange commented on #6687
Thanks for catching that @mgedmin, that worked like a charm! Implemented the fix in #6692.

[2019-01-24 02:08] ohemorange commented on #6685
The PRs above have been tested on Ubuntu 16.04 with Python 2.7 and initial `virtualenv` of 15.0.1 and initial `pip` of 8.1.1. They should be tested on a lower initial `pip` (Debian jessie) and with Python 3 (CentOS, or test manually with `tools/venv3.py`).

[2019-01-24 07:05] SaltyCybernaut commented on #6684
Hi @adferrand, thank you for looking into this. I was aware that TLS-SNI-01 was being deprecated but due to the automated nature of LetsEncrypt I was not even aware of the type of renewal my server was performing until I receive a notification that my certificate was too close to being expired; which prompted me to pore over a dozen logs, none of which have the warning mentioned in #6468 .

Since

[2019-01-24 09:15] kierun commented on #6682
I can confirm that `export VIRTUALENV_NO_DOWNLOAD=1` method works as well on Ubuntu Bionic and pip 19.0.1. Many thanks indeed.

[2019-01-24 09:32] thomasdeniau commented on #6682
So what's the fix right now for most users? I've tried to `git checkout` each of the three branches (add-no-download, remove-commas-in-filename, pin-pip) and run ./certbot-auto --no-self-upgrade renew (also tried without --no-self-upgrade) and still get "too many values to unpack" on Debian stable.

[2019-01-24 09:35] IsaacSuen opened #6693 "Had a problem while installing Python packages."
Ubuntu 18.04.1 with 2GB memory and 40GB storage.

I use the LNMP environment.

I don't think it's the low memory. I try to reset my server, and the problem will still occur.

[code]

[2019-01-24 10:14] marcenuc commented on #6693
I have found a workaround at https://github.com/certbot/certbot/issues/6682#issuecomment-456763512

[2019-01-24 10:31] vineettalwar commented on #6682
This solved the issue.

[2019-01-24 10:40] thomasdeniau commented on #6682
For some reason, switching to the add-no-download branch did not work for me, but `export VIRTUALENV_NO_DOWNLOAD=1` did.

[2019-01-24 11:55] timdonovanuk commented on #6687
So the temporary fix is to rename those 2 files? Cheers

[2019-01-24 15:10] joohoi commented on #6630
Good points. Looking more into it;

No, I'm not much of a fan of this.

The way to handle this would be to use Travis CLI, which - in my opinion - seems to be just added complexity with questionable benefit. This would also be a largely manual operation to handle within the release process. I think we'd be better off after all by scripting manual step around it for the release process instead of u

[2019-01-24 16:54] leandrocustodio commented on #6682
I'd tried to **change the environment variable**, and edit **certbot-auto** file adding `--no-download` tag on lines 1001 and 1003. None of these two options didn't work for me.

I found a solution editing the **letsencrypt-auto** file adding `--no-download` tag on lines 1001 and 1003.

Example:
![image](https://user-images.githubusercontent.com/3789897/51693994-16af3b80-1fe7-11e9-8c27-93628a21bbd

[2019-01-24 18:13] bmw commented on #4338
Great! @joohoi, are you able to give @rishabhkumar296 some guidance here?

[2019-01-24 18:18] petargyurov commented on #6682
I too was getting the `too many values to unpack` error when running `sudo ./certbot-auto certonly --debug` on a fresh Amazon Linux instance. Everything worked fine yesterday, so I am not sure what happened?

However, I can confirm that adding the `--no-download` flag in the `certbot-auto` file **worked**, but `export VIRTUALENV_NO_DOWNLOAD=1` **did not work**.

[2019-01-24 20:31] mactsouk commented on #6682
Same here.

[2019-01-24 21:09] ohemorange commented on #6682
Yes, we would not expect checking out the branch to work. The version of `certbot-auto` and `letsencrypt-auto` at the repo root is generated at release time (which we plan to do later today). Once it's in the repo root, your `certbot-auto` script will automatically pull the latest version from master anyway, so there won't be any further need for manual action.

Until then, exporting the flag then

[2019-01-24 23:13] adferrand commented on #6682
Version 0.30.1 is released, and contains the appropriate corrections to solve the issue with pip.

Upon next start, certbot-auto will update itself to include them, and be able to run normally.

[2019-01-24 23:15] adferrand commented on #6693
Version 0.30.1 is released, and contains the appropriate corrections to solve this issue.

Upon next start, certbot-auto will update itself to include them, and be able to run normally.

[2019-01-24 23:17] adferrand commented on #6687
Version 0.30.1 is released, and contains the appropriate corrections to solve the issue with pip.

Installing certbot-apache through pip will work again.

[2019-01-24 23:21] adferrand commented on #6685
I close the issue, as the appropriate improvements have been developed, tested and released in 0.30.1.

[2019-01-24 23:21] #6685 closed

[2019-01-25 00:12] ohemorange commented on #6687
Closed in #6692.

[2019-01-25 00:12] #6687 closed

[2019-01-25 00:12] jldeen commented on #6682
Running certbot-auto 0.30.1 and pip 19.0.1 but still getting an error:

Installing Python packages...
Command "/opt/eff.org/certbot/venv/bin/python2.7 -u -c "import setuptools, tokenize;__file__='/tmp/pip-YuIp3W-build/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-F0wW4g-record/ins

[2019-01-25 00:16] ohemorange commented on #6682
@jldeen, thank you for reporting. I haven't seen this issue before. Would you mind blowing away your venv and trying again? You can do that by running `rm -rf /opt/eff.org/certbot/venv`.

[2019-01-25 00:31] bmw commented on #6682
@jldeen, thanks a lot for reporting this.

Since your problem seems to be a little different than the one described in the initial post here, can you open a new issue and fully fill out the issue template? I'd love to get a little more detail here so we can dig into the problem.

[2019-01-25 00:31] #6682 closed

[2019-01-25 00:33] bmw commented on #6693
I believe this is a duplicate of #6687 which has been resolved so I am closing this issue.

[2019-01-25 00:33] #6693 closed

[2019-01-25 00:33] jldeen commented on #6682
@bmw I'm happy to open a new issue. Apologies for hopping on this one - my impression was it was the same, if not related, issue as it seems to be an issue with pip and 0.30.1.

[2019-01-25 00:41] jldeen opened #6697 "Certbot-auto 0.30.1 fails to install with pip 19.0.1"
If you're having trouble using Certbot and aren't sure you've found a bug or
request for a new feature, please first try asking for help at
https://community.letsencrypt.org/. There is a much larger community there of
people familiar with the project who will be able to more quickly answer your
questions.

## My operating system is (include version):
Ubuntu 18.0.4.1 LTS

## I installed Certbot wit

[2019-01-25 00:41] bmw commented on #3992
I'm going to close this issue in favor of the larger #3433 which should also solve this problem.

[2019-01-25 00:41] #3992 closed

[2019-01-25 00:44] ohemorange commented on #6697
Thanks for reporting over here! You mentioned that it was working last night for you, right? That's surprising to me. Do you have the logs from that? Looking for what version of certbot-auto was running, and ideally what version of pip and virtualenv you had before you ran certbot-auto, and if possible also what version of virtualenv and pip certbot-auto installed.

[2019-01-25 00:50] jldeen commented on #6697
@ohemorange I just got it to work now by removing 0.30.1 and replacing it with 0.30.1 - see the end of my issue for all commands ran to remove certbot-auto. I can give you logs though if you still need. Pip version was still 19.0.1 and venv was a fresh install from today.

[2019-01-25 01:07] ohemorange commented on #6697
We're currently looking into this. In the meantime, the most correct fix for anyone else running into this is to use the ppa on Ubuntu 18.04. See instructions for Apache [here](https://certbot.eff.org/lets-encrypt/ubuntubionic-apache) and Nginx [here](https://certbot.eff.org/lets-encrypt/ubuntubionic-nginx).

[2019-01-25 01:38] ohemorange commented on #6697
Hey @erikrose -- looks like changing the pinned version of setuptools in pipstrap to 30.3.0 fixes this issue. How do you find the URL to get the tarball directly from?And is it just a hash of the tarball in there?

This might lead us into problems with `--no-deps` but the easiest way to figure that out is to test that.

[2019-01-25 01:56] jldeen commented on #6697
@ohemorange Thanks for that! I did start to setup ppa for Ubuntu, however I wanted to use certbot-auto and I didn't think I could use that with the ppa. Am I incorrect?

[2019-01-25 02:01] bmw commented on #6697
Nice work finding that.

Not Erik but I've written/reviewed a few PRs to pipstrap over the years...

If you look up the package and version on PyPI, you can find the link for the tarball. For instance, here's all the files for that version of setuptools. The full URL is:

https://pypi.python.org/packages/e0/b4/1e023e0f0e3a1475c146889f91989a306162c162d76eceac8ad13d6fad8d/setuptools-30.3.0.tar.gz

(

[2019-01-25 02:08] schoen commented on #6606
I tried testing this today and I found that it was quite easy to reproduce (fortunately and unfortunately, we might say).

I installed CentOS 6.9 on a new VM, installed Apache, and created a single HTTP virtual host in `/etc/httpd/conf.d` for a name which was pointed at the CentOS machine. The machine didn't immediately support HTTPS at all.

When `certbot-auto` installed packages including `mod_s

[2019-01-25 02:15] ohemorange commented on #6697
@jldeen `certbot-auto` is just a wrapper around `certbot`, it does all of the same things, the `auto` just refers to the installation method that automatically updates immediately when we do a release. You might be referring to the automatic renewal functionality, which is present in `certbot`.

[2019-01-25 04:42] bmw opened #6698 "certbot-auto doesn't work on Fedora 29"
## My operating system is (include version):

Fedora 29

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

certbot-auto

## I ran this command and it produced this output:

[code]

## Certbot's behavior differed from what I expected because:

`virtualenv` should probably be found.

[2019-01-25 06:34] diolwe opened #6701 "certbot-auto fails on Ubuntu 16.04 and 18.04"
certbot-auto renew failed on several Ubuntu 16.04 and 18.04 (up to date) machines with:

<pre>
Command "/opt/eff.org/certbot/venv/bin/python2.7 -u -c "import setuptools, tokenize;__file__='/tmp/pip-dd2_om-build/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-U04XuH-record/install-re

[2019-01-25 08:44] joohoi commented on #6701
Hi! There's currently an ongoing issue with `pip`, and this work is tracked at #6697

I'm closing this issue as duplicate.

[2019-01-25 08:44] #6701 closed

[2019-01-25 15:39] adferrand commented on #6684
Hello again @SaltyCybernaut! I think you deserve a complete explanation of what happen. Moreover, it will be useful for other people that could experience the same situation like you.

The migration path for a deprecation is never easy, and it is particularly true when the deprecation needs to be removed as soon as possible because it is a security issue. Obviously TLS-SNI-01 is in this case. Betw

[2019-01-25 17:57] joohoi commented on #6606
I have looked into this as well, and the CentOS 6 HTTPS VirtualHost precedence seems to be decided by the `Include` order, and the _**last**_ one taking over the control. One of the common configuration structure that users of CentOS have is having all `VirtualHost`s in the main `httpd.conf` file. In this case everything works as expected, as the HTTPS configuration file created by Certbot gets `I

[2019-01-25 18:20] bmw commented on #6606
That's insane :/

Does Apache 2.2 really not offer a more robust way to control vhost precedence here?

[2019-01-25 19:21] #6697 closed

[2019-01-25 19:52] bmw opened #6706 "tox -e apacheconftest fails on Ubuntu 18.04+"
`tox -e apacheconftest` fails on Ubuntu 18.04+. In addition to possibly being a bug in the Apache plugin which we should look into, it's annoying because it is now the only test farm tests we run that are failing on the AMIs I want to add in #6700.

**WARNING:** For anyone who works on this, these tests make changes to both the packages installed on your system and your Apache configuration.

Both

[2019-01-25 22:49] adferrand opened #6710 "Make an audit on virtualenv certbot-auto network activity"
During the troubled times following breakages provoked by pip 19.0, it has been discovered that virtualenv was updating its fundamental components to their latest version from PyPi during its setup.

This was the cause of certbot-auto failure, as pip was updated automatically to 19.0 before breaking. Mitigations has been provided by disabling this virtualenv behavior using `--no-download` flag, th

[2019-01-25 22:51] adferrand commented on #6710
cc @bmw

[2019-01-25 23:09] schoen commented on #6606
!

I just confirmed this on my CentOS VM. The same configuration file consistently works, or doesn't work, depending on whether it's named `foo.conf` or `yowl.conf`!

[2019-01-25 23:10] schoen commented on #6606
We would have an even more amazing Heisenbug here if SSL had been named ZSL (in honor of Phil Zimmermann or something).

[2019-01-25 23:14] schoen commented on #6606
Another potential fix would be to move the Apache package's `conf.d/ssl.conf` into `conf` and then change the `Include` line to the two lines

[code]

[2019-01-25 23:58] schoen commented on #6606
I had good luck with this approach:

[code]

It doesn't require moving or renaming any files. (This version fails to include `conf.d/.conf`, which might have been included by the original `Include` directive.)

[2019-01-26 03:00] erikrose commented on #6697
Sorry for being a day behind on my email here. Looks like y'all did the Right Things. I especially enjoyed @bmw's extremely thorough commit message on 53d13ff3a32aa448a8320ae464bedf4fb7b12c52!

[2019-01-26 23:47] SaltyCybernaut commented on #6684
Hi @adferrand, thank you for taking the time to provide a thorough explanation of the situation, it will no doubt be helpful to others in a similar situation. My only concern has been to alert the community of this behavior so that it could be corrected if it was a bug.

[2019-01-27 12:10] adferrand commented on #6684
Your welcome! I close the issue.

[2019-01-27 12:10] #6684 closed

[2019-01-27 16:17] Oogy commented on #6623
Hello!

As indicated by the following output, the `python3-pyasn1` package is in `Recommended packages:`. As such it is not installed by the prescribed commands at [Nginx on Xenial](https://certbot.eff.org/lets-encrypt/ubuntuxenial-nginx) and must be installed manually.

[code]
[code]
[code]
[code]
[code]
After manual installation:
[code]
[code]

[2019-01-28 00:05] orzel commented on #5077
I can confirm: I've had a similar issue. The reason was a non-ascii character in the nginx file. Actually a legitimate one imho : auth_basic "xxxx" , which is used to display text when asking for basic http password to the user.

In this case the message was localized with non-ascii character.

Removing them made certbot happy, but not me, cause i can't speak natively to those users anymore.

[2019-01-28 01:20] Akito13 commented on #3093
Same issue here today, but my 0W has still half of the memory free.

[2019-01-28 06:59] datashaman commented on #5835
FYI: The package _python-certbot-nginx_ on Ubuntu 18.10 does not contain the _certbot_ binary. Yes, I've followed the instructions from the certbot site for upgrading.

$ dpkg -L python-certbot-nginx
/.
/usr
/usr/share
/usr/share/doc
/usr/share/doc/python-certbot-nginx
/usr/share/doc/python-certbot-nginx/changelog.Debian.gz
/usr/share/doc/python-certbot-nginx/copyright

[2019-01-28 15:19] Klaus-Tockloth opened #6712 "Options for update_account missing"
Certbot (0.30.0) does not show the options for "--update_account" with "certbot --help all":
[code]

"certbot --help update_account" shows this:
[code]

[2019-01-28 15:35] rishabhkumar296 commented on #4338
Hi. Any suggestions which test config file I should start from?

[2019-01-29 01:50] manger opened #6716 "certbot --nginx ignores http-01-address, instead of adding it to listen directive"
On renewing a cert using the nginx module in http-01 mode, the nginx server block generated by certbot (...['listen', '80']...) causes a failure (bind() to 0.0.0.0:80 failed (98: Address already in use)) if the nginx configuration specifies an address when it listens to port 80 (listen 1.2.3.4:80).

Configuring Nginx to serve http typically involves a line like:
  listen 80;
But when a server has

[2019-01-29 02:33] schoen commented on #5946
Please reopen this if you're still having trouble with it and you can provide the requested information from the template! Thanks.

[2019-01-29 02:33] #5946 closed

[2019-01-29 02:33] schoen commented on #5948
As with the other issue, please reopen this with the information from the template if you're still having this problem. Thanks.

[2019-01-29 02:33] #5948 closed

[2019-01-29 02:35] schoen commented on #831
Sad to say, from my point of view, HPKP seems to have been deprecated by its inventors and it's not mentioned normatively at all in the current ACME spec. :cry: So unfortunately, this is no longer relevant to spec compliance!

[2019-01-29 02:35] #831 closed

[2019-01-29 02:38] schoen commented on #1857
I believe that @ohemorange completely solved this with the CMIP project, because users now have the ability to arbitrarily change coverage when reissuing certs.

[2019-01-29 02:38] #1857 closed

[2019-01-29 02:39] schoen commented on #5443
If you're still having this problem, please reopen this and supply the requested information from the issue template. Thanks!

[2019-01-29 02:39] #5443 closed

[2019-01-29 02:41] schoen commented on #2550
I think #775 and #6276 are currently better places to track this in our issue tracker (although I agree that this is still a real concern).

[2019-01-29 02:41] #2550 closed

[2019-01-29 02:43] schoen commented on #3396
Sadly, I think this is basically an instance of the older issue https://github.com/certbot/certbot/issues/775 in the larger sense. If users modify `/etc/letsencrypt`, there are *many* ways that Certbot can fail (including crashes or renewals that go undetected). We'll need a systematic effort to detect all and usefully report all of these conditions.

[2019-01-29 02:43] #3396 closed

[2019-01-29 02:44] schoen commented on #5571
Hi, if you're still getting this error, please reopen this issue and provide the information that @bmw requested! Thanks.

[2019-01-29 02:44] #5571 closed

[2019-01-29 09:21] jrodcla commented on #6676
Hi all!

I believe I faced a situation that relates to this issue in some level.

Trying to run my client (that uses the acme module) against Pebble I got an error for sending the keyAuthorization.

I understand that makes sense since the RFC section 7.5.1 states the following:

    "The client indicates to the server it is ready for the challenge
    validation by sending an empty JSON body ("{}"

[2019-01-29 09:52] adferrand commented on #6676
You are right, I encountered the same problem with my work on integration tests. `acme` module uses an approach that is functional, but deprecated: passes keyAuthorization to initiate the challenge is not necessary, and thus has been deprecated.

By default from the `docker-compose.yml` that is in the Pebble git repository, Pebble will start in strict mode, because the flag `-strict` is set in the

[2019-01-29 10:09] ArchangeGabriel commented on #831
Indeed, but then something like DANE should be implemented instead. ;)

[2019-01-29 11:18] hamzailyas045 opened #6718 "r"
If you're having trouble using Certbot and aren't sure you've found a bug or
request for a new feature, please first try asking for help at
https://community.letsencrypt.org/. There is a much larger community there of
people familiar with the project who will be able to more quickly answer your
questions.

## My operating system is (include version):

## I installed Certbot with (certbot-auto, OS

[2019-01-29 17:12] cpu commented on #6676
I think the concern about sending the deprecated key authorization when POSTing a challenge is valid but separate from this issue (specifically about implementing challenge POSTs for TLS-ALPN-01)

[2019-01-29 17:31] bmw commented on #6698
Kind of? `certbot-auto` did used to work on Fedora and we're still passing tests on an old version in our test farm tests. I think what probably happened here is a more recent Fedora version changed the name of the virtualenv package and we haven't yet updated certbot-auto to reflect that.

I think we should fix this and I think doing so is probably pretty easy, however, I don't think it's a super

[2019-01-29 20:23] bmw opened #6719 "Print warning when you're renewing a certificate less than 25 days before expiration"
As suggested by @jsha, we could print a warning suggesting the user automates renewal if Certbot tries to renew a certificate and there's less than 25 days until the certificate expires. If there's less than 25 days, the user likely hasn't automated renewal (properly) because we tell people to run `certbot renew` every 12 hours and Certbot renews certificates when they're less than 30 days from ex

[2019-01-29 21:58] bmw commented on #6676
I agree that this is a separate issue.

Thanks for reporting it though @jrodcla! If you're interested, I would love to see an issue/PR created for the problem you describe.

[2019-01-29 22:35] ohemorange commented on #6698
I mean, is this a regression based on our recent changes in response to the `pip` issues.

[2019-01-29 22:38] bmw commented on #6698
Oh. No it is not.

[2019-01-29 22:41] ohemorange commented on #6698
https://docs.fedoraproject.org/en-US/fedora/f29/release-notes/developers/Development_Python/

[2019-01-29 23:36] adferrand commented on #6650
Some results from my researches. Starting with the basic requirement to have Python 3.4+ available, with `venv` module included to setup a virtualenv for Certbot.

Every RPM non-EOL Linux distribution have in a way or another Python 3.4+.

We have on one side CentOS/RHEL 6/7, and every other distributions on the other side. For the other distributions, `python3` package is available, and can be de

[2019-01-30 00:10] bmw opened #6720 "Once Ubuntu 19.04 comes out, update test farm tests"
We should probably be regularly testing against Ubuntu 19.04 when it comes out.

In April, Ubuntu 14.04 will be end-of-lifed so we can remove our AMIs for that release as well.

Erica and I had different opinions about whether we should keep the Ubuntu 18.10 tests when tests for 19.04 are added at https://github.com/certbot/certbot/pull/6700#pullrequestreview-197820088.

[2019-01-30 00:12] #6106 closed

[2019-01-30 00:13] bmw commented on #6706
If this is resolved in a way that tests on Ubuntu 18.04 & 18.10 work, we need to update the release instructions to reflect this.

I'm happy to help with this when we get to that point.

[2019-01-30 00:24] ohemorange commented on #6720
Either way we should for sure add 19.04 when it comes out, thanks for making this issue to track that.

As for 18.10, I said replace because I expect most of the 18.10 users to migrate to 19.04, since neither of them are LTS. Whether it's worth the extra time during releases to keep it or not depends on the number of users, which we can figure out when the time comes.

[2019-01-30 01:38] bmw commented on #6698
Nice find!

If all non-EOL'd Fedora versions made that change, I think this fix would be trivial. Unfortunately, it looks like Fedora 28 doesn't have a definitive deprecation date yet and looking at the pattern in https://en.wikipedia.org/wiki/Fedora_version_history, it will probably be at least a few months.

With that in mind, I think we need to modify certbot-auto to work with both package name

[2019-01-30 01:57] bmw commented on #6650
Does this include both Amazon Linux 1 and Amazon Linux 2?

That is disappointing. As far as you know, another way to accomplish this didn't exist before RPM 4.13?

That'd be great. I've tried a couple times to get us packaged in EPEL 6 but no one wants to do that work. There is a large number of packages that must be backported and CentOS 6 is only supported until November 30th, 2020.

[2019-01-30 13:58] nngo commented on #6676
Is there a timeline to add support to Certbot for certificate renews using TLS-ALPN-01?

I am getting the following trying to upgrade to the more secure `TLS-ALPN-01` challenge (vs `HTTP-01`)
[code]

[2019-01-30 15:33] muellermichel opened #6721 "pkg_resources.DistributionNotFound: acme>=0.29.0"
Tried to upgrade certbot;

     yum uninstall certbot
     -> Complete!
     yum install python2-certbot-apache
     -> Complete

But then..

    certbot
    Traceback (most recent call last):
    File "/usr/bin/certbot", line 5, in <module>
    from pkg_resources import load_entry_point
    File "/usr/lib/python2.7/site-packages/pkg_resources.py", line 3011, in <module>
    parse_requirements(__r

[2019-01-30 17:05] Albrecht-S opened #6722 "Feature request: add environment variable CERTBOT_DOMAIN to all applicable hooks"
## My operating system is (include version):
Linux (Ubuntu 16.04)
Apache 2.4.18
certbot 0.28.0

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
apt-get (Ubuntu PPA)

## I ran this command and it produced this output:
`certbot renew`
and/or auto renewal (effectively the same command)

## Certbot's behavior differed from what I expected because:
I expected the environment v

[2019-01-30 18:16] aigitian opened #6723 "certbot dependencies broken (pip)"
## My operating system is (include version):
debian 9.7

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
I tried installing with both - pip and pip3 (both result in the same error), i.e installed with:
`pip install certbot`
or alternatively
`pip3 install certbot`

the installation succeeds just fine, the problem is when i am trying to run certbot

## I ran this command an

[2019-01-30 18:44] bmw commented on #6676
@nngo, the issue discussed here is separate from the one you're describing. If you'd like to discuss the possibility of getting TLS-ALPN-01 support getting added to Certbot, please open a new issue.

[2019-01-30 19:12] mlipman commented on #6721
I got the same error and fixed it by explicitly updating python2-acme:
`sudo yum install python2-acme`

However, I thought that since python2-acme is a dependency, yum installing or updating certbot would take care of it. Maybe a dependency list for certbot somewhere isn't updated?

[2019-01-30 19:45] enoch85 opened #6724 "TLS-ALPN-01 support for Certbot"
I think [this](https://github.com/certbot/certbot/issues/6676#issuecomment-458952901) post sums it up quite well. Simple question; when will TLS-ALPN-01 become available in Certbot?

Many people rely on Certbot and thousands of users got an email *warning* them to change method from TLS-SNI. Since Certbot is recommended by Let's Encrypt isn't it in your interest to make it available for everyone u

[2019-01-30 19:47] enoch85 commented on #6676
https://github.com/certbot/certbot/issues/6724

[2019-01-30 21:45] aigitian commented on #6723
nevermind, was installing with sudo pip, which was breaking stuff

[2019-01-30 21:45] #6723 closed

[2019-01-30 22:31] ohemorange commented on #6724
Ah, I see this is a slightly different issue.

[2019-01-30 22:31] ohemorange commented on #6724
This issue will follow after #6676.

[2019-01-31 00:21] hlieberman opened #6726 "Certbot should not touch pre-existing files unless needed"
From downstream Debian bug 920565.

Currently, certbot will run mkdir on /etc/letsencrypt and /var/log/letsencrypt, whether or not the files currently exist, or whether any files are being changed.  This causes the timestamps to be updated unnecessarily.  It would be good to check whether or not the files exist rather than checking for the error condition on the mkdir.

[2019-01-31 00:49] ohemorange commented on #6722
Thanks for the suggestion! @joohoi, is it simple to expose that variable for these hooks?

[2019-01-31 00:59] ohemorange commented on #6726
It is more Pythonic and more threadsafe to do it this way; is it a problem to have the timestamps updated unnecessarily?

[2019-01-31 01:00] ohemorange commented on #6726
(Relevant code here: https://github.com/certbot/certbot/blob/master/certbot/util.py#L168)

[2019-01-31 01:06] mlipman commented on #6721
Hard for me to tell because it's all now installed

[2019-01-31 01:17] jpopovitch commented on #6726
Yes, it is problematic.  Security systems that monitor file systems will repeatedly report directory modifcations for a directory that shouldn't be changing unecessarily.

[2019-01-31 02:10] ohemorange commented on #6721
@muellermichel would you mind checking?

[2019-01-31 08:33] mohrezaei commented on #6280
What is the rationale for the DNS challenge being a one-off each time? Asked differently, why shouldn't I be able to use ``--standalone`` with a static DNS challenge?

[2019-01-31 08:57] mohrezaei commented on #6280
Answering my own question: the problem with a static DNS entry is that any caller can then do a renewal and get the certificates. Is that correct?
I can think of straight forward ways to engineer around that, but I suspect it would require far too much change at let's encrypt's server side. Here is one solution (which is already in use by other similar schemes, such as DKIM): create a TXT DNS reco

[2019-01-31 09:50] adferrand commented on #6280
I would like to add another strong argument in favor of separating the DNS challenge renewal purpose in a `our-new-fancy-roxy-plugin-with-very-appropriate-documentation-for-that-purpose` new plugin (yes I am in love with this name now).

I discussed some time ago for a POC in #6607 to add a manual delay hook. This POC was asserting a big problem with `manual` if DNS challenges: authenticator hooks

[2019-01-31 10:12] joohoi commented on #6722
Thanks for the well written and informative issue @Albrecht-S !

This usecase where actual pre- and post- hooks would be domain specific certainly wasn't on the table when designing the hook functionality.

I'll look into this, but my initial take is that this would be a pretty simple addition that wouldn't have any negative side effects for other functionalities of Certbot, Tagging it for future

[2019-01-31 11:36] Albrecht-S commented on #6722
Thanks for your positive comments, @ohemorange and @joohoi.

After thinking about it a little more I'm not sure what the contents of CERTBOT_DOMAIN should be in the case of a certificate with multiple domains, e.g. `example.com` + `www.example.com`. And what is it currently in the `manual` plugin hooks described here: [Pre and Post Validation Hooks](https://certbot.eff.org/docs/using.html#pre-and-

[2019-01-31 12:39] joohoi commented on #6722
I believe it should work in the same way that tne `$RENEWED_DOMAINS` environmental variable works for deploy hooks. That means that the `$CERTBOT_DOMAIN` variable would have a space-delimited list of domains that Certbot is going to try to renew on this run. For example script that makes use of the `$RENEWED_DOMAINS` is available in the documentation, under the title [Renewing certificates](https:

[2019-01-31 15:16] Albrecht-S commented on #6722
Thanks for your comment and your explanations. I'm fine with everything that provides the relevant information and is documented. ;-)

OK, I see:

Question: if I have a domain that uses `/etc/letsencrypt/renewal-hooks/pre/my-hook xyz` (i.e. the standard hook script with a commandline argument), would this be considered "identical"? Is this at all possible? I think it should work (not tested, but c

[2019-01-31 15:36] Albrecht-S commented on #6722
Clarification: why `$CERTBOT_CERTNAMES` ?

In my use case I have three certificates with a total of four domains. We can assume that someone who uses the `$CERTBOT_CERTNAMES` variable knows which domains are included in each certificate.

The `$CERTBOT_CERTNAMES` variable would include the certificate names as they would be used in the `--cert-name` commandline argument, for instance in `certbot r

[2019-01-31 15:40] ronhanson commented on #4493
If you are having issues with Configargparse, or new feature requests, feel free to fill bug reports and do PR. I will try my best to move the project forward and fix the existing bugs.

[2019-01-31 16:38] anarcat commented on #4493
@ronhanson there are many issues in certbot that are ultimately upstream issues in configargparse. for example, https://github.com/bw2/ConfigArgParse/issues/104 and https://github.com/certbot/certbot/issues/6049 are two issues here specific to the project...

[2019-02-01 01:40] ohemorange commented on #6631
Ok, set up most of these. I have a couple questions:

- Do we expect readthedocs builds to be failing for letsencrypt, letsencrypt-apache, letsencrypt-compatibility-test, letsencrypt-nginx, and letshelp-letsencrypt?
- Do we expect to see "No integrations are currently configured." on the integrations tab of the settings page in readthedocs for those same packages, and also for acme-python?

If bot

[2019-02-01 01:58] bmw opened #6728 "Why isn't letsencrypt.readthedocs.io redirecting to certbot.eff.org/docs/"
The redirect I set up in #6444 is broken for some reason.

[2019-02-01 02:04] bmw commented on #6631
Thanks for doing that! Did you end up having to update them all manually?

Not `letsencrypt`, but it looks like the other ones have been failing for a long time.

`letsencrypt` is shown as passing for me, however, the redirect I set up to certbot.eff.org in https://github.com/certbot/certbot/issues/6444 seems to be broken for some reason. I created https://github.com/certbot/certbot/issues/6728 to

[2019-02-01 02:33] ohemorange commented on #6631
Ok, let's remember to check back in next time we expect a change to have updated our readthedocs (when will that be?)

[2019-02-01 02:35] ohemorange commented on #6698
I don't think I can get to it this sprint, but happy to do it in a future one.

[2019-02-01 02:36] bmw commented on #6631
The next time a build is triggered should be the next time we commit to master.

[2019-02-01 02:37] ohemorange commented on #6631
Well, that's when readthedocs finds out about it. But does readthedocs trigger builds based on that, or only when the commit updates the relevant docs sections?

[2019-02-01 02:39] ohemorange commented on #6631
No, looks like it does just update `latest` on push to master across the board (or it's supposed to, even though it hasn't been).

[2019-02-01 02:42] bmw commented on #6631
If you want to test now, you could review one of the simple cleanup PRs I wrote a while ago which are https://github.com/certbot/certbot/pull/6572 and https://github.com/certbot/certbot/pull/6573.

I think it's also fine to wait if you prefer.

[2019-02-01 16:51] joohoi opened #6730 "Apache plugin should configure all matching VirtualHosts for HTTP validation"
When Certbot configures Apache for HTTP validation, only one `VirtualHost` is configured for any single requested domain name. If user configuration has multiple `VirtualHost`s with the same name configured either in `ServerName` or `ServerAlias` directive (including wildcard names), only one and possibly the wrong one is configured.

As a solution, Apache plugin should configure all the matching

[2019-02-01 17:17] emilmuller opened #6731 "Contradictory documentation"
In the User Guide (https://letsencrypt.readthedocs.io/en/latest/using.html), there are contradictory statements regarding the renewal of certificates. More specifically, I'm referring to the section named "Renewing certificates". It states:

In the next sentence, it says:

I.e. the first sentence says that hooks wil _only_ be run if something is due for renewal, and the second sentence says that t

[2019-02-01 17:54] emilmuller commented on #6731
@schoen Aha! I understand. For me it was confusing. I also asked my friend, which also found it confusing (but that may be because I influenced him). I assumed "renewal attempt" mean that the user was attempting to renew (by issuing the command). I would prefer something like this:

--pre-hook and --post-hook hooks run before and after every renewal attempt, and only if a certificate is due for re

[2019-02-01 19:43] bmw commented on #6710
We decided not to do this for `certbot-auto` but to look into it for our new packaging.

[2019-02-01 20:20] ohemorange commented on #6631
Looks like it's updating!

[2019-02-01 20:20] #6631 closed

[2019-02-02 22:44] Shifterovich opened #6733 "--webroot doesn't work"
## My operating system is (include version): Ubuntu 18.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc): apt

## I ran this command and it produced this output:

[code]

## Certbot's behavior differed from what I expected because:

The URL didn't contain the domain.

## Here is a Certbot log showing the issue (if available):

[code]

## Here is the relevant nginx server

[2019-02-02 23:33] Shifterovich commented on #6733
I see. I just remembered that I have a server block that redirects (301) all HTTP requests to HTTPS. I thought it would break certbot, but it didn't. But apparently that's because --nginx

After removing the catch-all-HTTP server block, everything works.

Thanks!

[2019-02-02 23:33] #6733 closed

[2019-02-02 23:48] alexzorin opened #6734 "`delete` might check if a certificate is in-use to avoid breaking web server configs"
There's have been a few instances of Certbot users ending up with busted Apache/nginx configurations after using `certbot delete` against in-use certificates.

Without a sophisticated understanding of how the `apache`/`nginx` plugins work, the user couldn't  reasonably be expected to know that they need to remove these references before `delete` can be safely used.

I cannot find any user-facing d

[2019-02-03 01:09] fwaechter commented on #5015
For the Google/DuckDuckGo/Whatever users:

The Problem is that Debians version of the python2/3-cryptography package doesn't solve the requirements of the certbot version when certbot is installed with pip2/3. So the solution is quite simple: Remove Debians version of the python2/3-cryptography package and "reinstall" it with pip2/3. I guess it would also work the other way but I haven't tested it

[2019-02-03 05:19] vriyeit commented on #5651
Was there any solution found on this?

[2019-02-03 12:27] #6654 closed, assigned to adferrand

[2019-02-03 16:18] pellumbara commented on #5485
Certbot   configuration directory at /etc/letsencrypt is empty!  I followed an automatic install from Certbot website for Debian 9 stretch and Apache.  as a result can not make requests via https

[2019-02-03 16:21] pellumbara commented on #5485
Certbot conf file empty!

[2019-02-04 08:38] joohoi commented on #5651
AFAIK the only reliable solution right now is to use `certbot-auto` as pointed out in https://github.com/certbot/certbot/issues/5651#issuecomment-370853487

The reason for the issue is a dependency mismatch with some other package, probably installed from another PPA, that has installed a mismatching version of one of our python dependencies globally. `certbot-auto` is able to work around this, as

[2019-02-04 18:03] #6676 closed

[2019-02-04 18:23] enoch85 commented on #6724
So will this be in the 0.31 milestone?

[2019-02-04 20:52] schoen commented on #6652
Maybe a duplicate of #775, then?

[2019-02-04 20:54] bmw commented on #6652
Yeah I think so. Let's close this and link to this issue as a specific instance of #775.

[2019-02-04 20:54] #6652 closed

[2019-02-04 21:11] #6731 closed

[2019-02-04 21:12] bmw opened #6736 "Apache plugin modifies all port 80 vhosts if requested domain is not found"
On Ubuntu 16.04, I experienced some behavior from our Apache plugin which surprised me.

If you request a certificate for a domain that is not found in your Apache config, the plugin modifies all HTTP vhosts to perform the challenge. I can't remember Apache's vhost precedence rules about this off the top of my head, but isn't there a default vhost we can modify?

We'd need to check the behavior on

[2019-02-04 21:39] schoen commented on #6719
Would you want to do this at the beginning or end of the process? (If at the end, only on success or on either success or failure?)

Is there a page in our documentation that we could point to? Maybe@jsha could compose an essay on letsencrypt.org about the very high importance that we ascribe to automation?

[2019-02-04 22:04] bmw opened #6737 "Describe how to make Certbot docs changes live"
This should probably be done at some combination of:

* https://certbot.eff.org/docs/contributing.html#updating-the-documentation
* https://github.com/certbot/website/blob/master/README.md
* Other places I'm forgetting.

The simple explanation of this is the Certbot repo is a submodule of the website repo and is found in the `_docs` directory. To update the docs shown at https://certbot.eff.org/do

[2019-02-04 22:19] jsha commented on #6719
The integration guide currently recommends 30 day renewals, we could link to that.

[2019-02-04 23:02] ohemorange commented on #6724
Unlikely; we will try to fit it in our roadmap though.

[2019-02-04 23:06] bmw commented on #6719
I was personally thinking we'd just log a warning wherever is most natural in the code which is probably when checking whether or not we need to renew.

As part of the terminal cleanup we're trying to reduce Certbot's verbosity so warnings like this can occur anywhere and not be missed, but if we're worried about this being missed with the current state of things, we could also add the message to

[2019-02-05 00:05] schoen commented on #3487
@bitinn, do you believe there's still a problem here, or were you satisfied with @ArchangeGabriel's answer?

[2019-02-05 00:07] schoen commented on #3006
I'm going to close this. @hannesa2, it looks like you probably had a `cli.ini` configuration file (hopefully you figured that out eventually). @antonin07130, if you're still having trouble using Certbot with Docker, please open a separate issue.

Thanks!

[2019-02-05 00:07] #3006 closed

[2019-02-05 00:10] schoen commented on #2918
I think this is actually a duplicate of #775!

[2019-02-05 00:10] #2918 closed

[2019-02-05 00:32] bmw commented on #6728
I just timeboxed myself on this for a little bit and couldn't fix the problem. It seems that the redirect I previously set up is only redirecting you when the page you requested doesn't exist on readthedocs.

If anyone knows how to get the behavior we want (which is an unconditional redirect from any page of the letsencrypt readthedocs site to the equivalent page on https://certbot.eff.org/docs),

[2019-02-05 01:16] bmw commented on #6630
@adferrand, do you have any major concerns about us writing a script we run locally as part of the release process or after it to update these images?

[2019-02-05 01:21] bmw commented on #6605
There wasn't as much interest in this as I expected either because the time savings wasn't enough or the external machine you'd need to make tests run faster than they currently do isn't feasible for external contributors.

Because of this, I'm closing the PR so we can skip adding this complexity to our test setup.

[2019-02-05 01:21] #6605 closed

[2019-02-05 08:42] joohoi commented on #6630
We could also add a manual step, triggering the buld from DockerHub site manually.

[2019-02-05 08:48] joohoi commented on #6736
That's an absolute fallback in situations where we really can't find the correct `VirtualHost` to modify. Unfortunately the default `VirtualHost` for HTTP is the one that was included first in the whole Apache configuration tree. Usually for Ubuntu and Debian, this means the `000-default.conf` in sites-enabled -> sites-available (hence the naming of the default file). But there's no guarantee that

[2019-02-05 09:48] adferrand commented on #6630
Sadly this @joohoi, still needs Docker Hub to be connected, with write access, to our GitHub repositories. Without that, you do not have access to the webhook that triggers a build.

[2019-02-05 09:50] adferrand commented on #6630
Also about Quay.io, yes, it is not very visible compared to Docker Hub. I do not know also their policy about GitHub accesses to execute and publish new dockers.

[2019-02-05 09:57] adferrand commented on #6630
For your proposition @bmw, yes, I think it the best solution. Anyway, pushing the Docker during the CI process is not the safest thing to do, as only a part of the tests are executed continuously. So it is likely that a broken Certbot version would be pushed to the `latest` tag. Many users use directly the `latest` tag (on which I actively militate against), so will retrieve also the broken Certbo

[2019-02-05 10:58] basak commented on #6726
@ohemorange I understand the Pythonic principle you're applying here, and I prefer this style myself. However, I'd say that this preference should go out of the window if there are side effects, as there are here. "Pythonic-ness", in my view, only applies to the right way to structure code for a particular desired behaviour.

I don't think that code style preferences are valid as an argument for n

[2019-02-05 10:59] basak commented on #6726
Having said that, it might be argued that `os.makedirs` shouldn't be touching the directory, and that's a bug in stdlib. The docs don't define it to do that.

[2019-02-05 11:55] adferrand commented on #6726
For an example of how this could be implemented, with minimal overhead, one can check my ongoing PR #6497, on https://github.com/certbot/certbot/blob/759a8791aa3a6099d2419c21af8ac71e6de07eda/certbot/compat/os.py.

It is to improve some os methods toward security on Windows for Certbot, and in particular `os.makedirs`, to apply proper permissions on created directory. With this kind of approach, an

[2019-02-05 12:05] joohoi commented on #6630
It is possible if you trigger the build from the web UI of Docker Hub manually. This is what I do for `acme-dns`. The Dockerfile is visible as well: https://hub.docker.com/r/joohoi/acme-dns/dockerfile

[2019-02-05 13:01] adferrand commented on #6630
But your docker repo is connected to you github repo, so it has write access on it, otherwise you would not have a link to github in the Docker project.

[2019-02-05 13:42] joohoi commented on #6630
It was initially connected, but there are no active OAuth credentials in the project. Docker Hub UI doesn't list it as connected, and the GitHub keys have been revoked from its side.

[2019-02-05 14:05] adferrand commented on #6630
Tricky, I did not test that! In this case, yes clearly we could try that. I will test if the webhook still works.

[2019-02-05 15:51] methodbox commented on #6724
Can you clarify? My understanding was Certbot could not support this in the automated fashion used with TLS-SNI-01 due to something with Apache/Nginx servers which does not allow the communication protocol?

@ohemorange When this is implemented, will we be able to automatically renew using a similar method to what we currently use with Certbot & TLS-SNI-01?

[2019-02-05 18:44] gpjt commented on #6614
Thanks!  I've submitted a PR.

[2019-02-05 21:24] Camusensei opened #6739 "Certbot fails on windows with AttributeError: module 'os' has no attribute 'chown'"
PR #6480 breaks certbot on Windows: there is no os.chown on windows and running certbot certonly results in:

See my comment on https://github.com/certbot/certbot/pull/6480/files#r254051247

[2019-02-05 21:50] bmw commented on #6736
You're right.

I think I knew this at one point and forgot. If Apache is consistent, I think we may want to consider writing code in the future to determine what the first vhost is, but that's a separate issue so I'm closing this.

Thanks for the explanation!

[2019-02-05 21:50] #6736 closed

[2019-02-05 23:08] adferrand commented on #6739
Hello @Camusensei, thank you for your report. I am currently handling the project to port Certbot on Windows.

Please note that support on Windows is still in its alpha state, while an active development is progressively pushing it to a stable state.

But at this point, we cannot garantee a correct execution of Certbot on Windows upon each release.

However, I have the PR #6497, that takes care of

[2019-02-05 23:08] #6739 closed

[2019-02-05 23:12] Camusensei commented on #6739
Thanks for your prompt reply. I don't need to use an older version, simply commenting the line was fortunately enough for it to work. Thank you for your work on Windows support though!

[2019-02-06 02:14] bmw opened #6742 "Should we change the behavior of --preferred-challenges?"
There are at least a couple concerns here:

1. Despite the name being **preferred** challenges, this flag restricts Certbot to only performing challenge types given to this flag.
2. After support for TLS-SNI-01 is removed, `--preferred-challenges tls-sni` = never renew my certs.

We could change Certbot's behavior to try to perform challenges included in `--preferred-challenges` but if that's not

[2019-02-06 14:46] jwashington104 opened #6744 "Certbot Fails To Rewrite HTTP Server Block And Renew Certificate"
If you're having trouble using Certbot and aren't sure you've found a bug or
request for a new feature, please first try asking for help at
https://community.letsencrypt.org/. There is a much larger community there of
people familiar with the project who will be able to more quickly answer your
questions.

## My operating system is (include version):
Centos 6.9

## I installed Certbot with (certbo

[2019-02-06 18:02] #6730 closed

[2019-02-06 20:10] adferrand commented on #6630
I just revoke the DockerHub App from the Authorized OAuth Apps in my personal GitHub account.

On DockerHub side, the webhook to trigger a build on a specific tag is still working, I successfully triggered a build using the curl command provided by DockerHub as an example.

[2019-02-06 20:51] bmw commented on #6706
@joohoi, this would be another useful thing for you to work on this week if you have the time. Maybe not the highest priority, but it'd be good to make sure there isn't a bug here and making tests pass on these OSes allows us to run Apache test farm tests on them which should help reduce the chance of regressions.

[2019-02-06 21:00] bmw commented on #6630
@adferrand, just to make sure, you're referring to the build triggers described at https://docs.docker.com/v17.12/docker-hub/builds/#remote-build-triggers right?

[2019-02-06 21:22] bmw commented on #6649
I think we can handle this quite well! https://www.debian.org/doc/debian-policy/ch-relationships.html describes using `|` as a delimiter to specify a list of a package names such that any package in that list satisfies the dependency. I've tested this successfully on new and old Debian, Ubuntu, and Devuan.

I think quite reliably. Our Debian packages actually do something pretty clever where they

[2019-02-06 21:22] bmw commented on #6650
One other piece that still needs looking into here if it hasn't been done already is:

[2019-02-06 21:42] adferrand commented on #6650
Yes, I am checking in comparison to what you found for deb packages, and I will study the current rpm package of Certbot published to EPEL.

[2019-02-06 21:44] adferrand commented on #6630
Yes, I am referring to that.

[2019-02-06 22:01] bmw commented on #6650
No worries!

Just wanted to make sure we didn't forget this piece.

[2019-02-06 23:18] bmw opened #6746 "Turn off tests on commits to master"
Erica pointed that since we're running tests on master nightly running tests on each commit to the branch may not be necessary. Sure, there may be edge cases where the combination of multiple pull requests cause a problem in `master` and break something, but this is extremely rare (in almost 4 years of working on Certbot full time I'm not sure if it's ever happened?), would be caught by our nightl

[2019-02-06 23:33] ohemorange commented on #6724
To be clear, this issue is only intending to implement support for the standalone plugin, not the Apache or Nginx plugins.

It is currently possible to use the HTTP-01 challenge type with the Apache and Nginx plugins in place of the TLS-SNI-01 challenge type to automatically renew certs. Perhaps this is about using port 80, in which case I recommend this [documentation page](https://letsencrypt.or

[2019-02-07 00:39] bmw commented on #6594
Reopening because https://github.com/certbot/certbot/blob/master/tests/letstest/scripts/test_letsencrypt_auto_certonly_standalone.sh was failing with this change. [This line](https://github.com/certbot/certbot/blob/master/tests/letstest/scripts/test_letsencrypt_auto_certonly_standalone.sh#L27) wasn't reporting a certificate as revoked. The certbot log was:
[code]
Is there a problem with our next u

[2019-02-07 01:10] ohemorange commented on #6744
Hey @jwashington104! Please first try asking for help at https://community.letsencrypt.org/. There is a much larger community there of people familiar with the project who will be able to more quickly answer your questions.

I'd also recommend including the entire Nginx config, to figure out why Certbot didn't find the https server block that the server block you indicated is redirecting to.

[2019-02-07 01:10] #6744 closed

[2019-02-07 01:56] bmw opened #6748 "Test farm tests can silently drop test instances"
The tests in https://github.com/certbot/certbot/tree/master/tests/letstest can silently drop test instances causing neither success or failure to be reported from them with no mention of the problem of the dropped instance.

This is really bad. The error message that seems to occur when this happens is `ResponseParserError: Unable to parse response (no element found: line 1, column 0), invalid XML

[2019-02-07 02:03] bmw commented on #2189
I always remember talking about how we can't do this because the tests are too flakey, but this isn't a big deal for our nightly tests so maybe we should finally set this up.

[2019-02-07 02:06] bmw commented on #6594
I wonder if this is caused by the fact that the certificates are expired so the OCSP response is no longer being updated? We should identify the problem but the openssl command line has different behavior here so we should probably change our code to more or less match.

[2019-02-07 08:44] jwashington104 commented on #6744
Hey @ohemorange, thanks for the reply - I've included the entire config as a pastebin due to formatting issues, I've also included the log file as the template suggests.

I would like to point out that up until version 30.2 of certbot, all was well with the auto renewal of certificates.

[2019-02-07 12:43] dertin opened #6749 "OpenSSL 1.1.1a - pip 19.0.1 - pipstrap.py - CERTIFICATE_VERIFY_FAILED"
## Update 2:

I do not know if it was to go from OpenSSL 1.1.1 to 1.1.1a, but now it is necessary to configure these two environment variables (SSL_CERT_FILE, SSL_CERT_DIR) in my system. See: https://github.com/dertin/lemp-stack-debian/commit/b5016a5510519e7b29334a3ba60c20b163a5364c

I added these two lines to the beginning of the script (/opt/letsencrypt/certbot-auto):

**export SSL_CERT_FILE=/et

[2019-02-07 15:02] methodbox commented on #6724
Yeah, it was actually but thanks for the reply anyway.

The problem with your "solution" to just leave port 80 open is that in the corporate environment network engineers like to put various sites only on non-web ports meaning we would have to add a load balancer or something similar to proxy these types of requests.

While I agree that may indeed be the best way to handle it while also having oth

[2019-02-07 16:43] adferrand commented on #6724
Hello @methodbox ! Corporate environments are just more difficult to handle, because of their inherent complexity. However, efforts are done on our side to better match theses particular needs.

As you seem to have a corporate need, I would like to take the occasion to better understand you case, as I use also Certbot in corporate environments.

It is true that supporting TLS-ALPN-01 on Apache and

[2019-02-07 16:45] ra1u opened #6750 "flag --version takes 16s to complete"
## My operating system is (include version):
Raspbian GNU/Linux 7

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
upgraded from old version insatlled from certbot-auto.

## I ran this command and it produced this output:
[code]
## Certbot's behavior differed from what I expected because:
it requres approximatly 10e9 instructions to produce a string having 14 characters.

[2019-02-07 17:40] bmw commented on #6750
If you run the command again, does it take as long? I suspect `certbot-auto` had to set up Certbot's Python environment so it could be run to get you Certbot's `--version` output.

[2019-02-07 18:00] bmw commented on #6749
What's the output of:
[code]

[2019-02-07 18:10] dertin commented on #6749
[code]

[code]
[code]

[2019-02-07 18:18] bmw commented on #6749
Are you setting any certbot-auto specific environment variables such as `VENV_PATH`?

[2019-02-07 18:30] dertin commented on #6749
@bmw for not getting an error in the validation of the certificate I must add these lines within the script (/opt/letsencrypt/certbot-auto).

export SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
export SSL_CERT_DIR=/etc/ssl/certs/

If I add these environment variables outside the script, its has no effect.

To solve my last problem, I tried to add this environment variable.
export VIRTUALENV_NO

[2019-02-07 18:44] bmw commented on #6749
Unfortunately, we don't have the resources to help you debug your custom installed software stack. `certbot-auto` works on both Debian 9 and Debian testing with openssl 1.1.0j and 1.1.1a respectively.

If you'd like help with this aspect, I recommend you post at https://community.letsencrypt.org where there is a large group of people familiar with the project who should be able to help you.

I may

[2019-02-07 18:48] bmw commented on #4401
Certbot no longer depends on fasteners so I suspect this issue has been resolved. If you're still having problems, please comment or open a new issue.

[2019-02-07 18:48] #4401 closed

[2019-02-07 18:49] bmw commented on #4356
This issue hasn't seen any updates in almost 2 years so I'm closing it. If you're still having problems, please comment or open a new issue.

[2019-02-07 18:49] #4356 closed

[2019-02-07 18:50] bmw commented on #4363
I don't think we've seen this error since around the time I created this issue so I'm closing this.

[2019-02-07 18:50] #4363 closed

[2019-02-07 18:51] bmw commented on #4404
I think fixing this should be as easy as prefixing "certbot " to the version number we're grepping for. I can do this.

[2019-02-07 18:53] bmw commented on #4439
I'm closing this issue in favor of our internal one.

[2019-02-07 18:53] #4439 closed

[2019-02-07 18:55] bmw commented on #3140
This issue hasn't seen any updates in almost 2 years so I'm closing it. If people continue to have this issue, please comment or open a new issue.

[2019-02-07 18:55] #3140 closed

[2019-02-07 18:57] bmw commented on #4633
This issue hasn't seen any updates in almost 2 years so I'm closing the issue. If you continue to have the problem, please comment or open a new issue.

[2019-02-07 18:57] #4633 closed

[2019-02-07 19:02] dertin commented on #6749
@bmw Now I have another different error.

- $ sudo patch certbot-auto -i certbot-auto.patch -o certbot-auto-fix

- Add environment variables:

- $ sudo ./certbot-auto-fix --config /etc/letsencrypt/configs/systaxi.com.uy.conf certonly

[code]

[2019-02-07 19:19] bmw commented on #6749
Searching around, [some](https://stackoverflow.com/questions/36296134/attributeerror-install-layout-when-attempting-to-install-a-package-in-a-virtual) [people](https://github.com/gotcha/ipdb/issues/60), seem to have been able to work around the problem by upgrading their `setuptools` installation.

With that said, from the paths in `/usr/local`, I see you have a custom installed Python packages as

[2019-02-07 19:19] #6749 closed

[2019-02-07 23:12] adferrand commented on #6650
So I give a report after a discussion with @elyscape.

RHEL, CentOS and Amazon Linux definitively needs to be treated separately. Either EL6 or EL7, boolean dependencies are not supported, and python3 needs to be taken from EPEL. So theses packages needs to assert a Require on python34 (EL6/EL7) or python 36 (EL7).

Other distributions can rely on `python3` package.

For the automated renewal, RHE

[2019-02-07 23:40] bmw commented on #6649
I was told that `cron` is standardized so any implementation should work just fine.

[2019-02-08 00:39] bmw commented on #6630
Just successfully tested this on Certbot's Docker Hub repo to update the images to reflect the new release.

One concern I have (which existed before so maybe we don't need to solve it now) is making sure the DNS plugin images are built using the updated Certbot image. When we do a release, we want to trigger builds for both Certbot and the DNS plugin images. The DNS plugin images are based on the

[2019-02-08 00:44] adferrand commented on #6630
One way is to do multistage builds: https://www.google.fr/url?sa=t&source=web&rct=j&url=https://docs.docker.com/develop/develop-images/multistage-build/&ved=2ahUKEwjlxf7u86rgAhWqzIUKHbqpAxoQFjAAegQIBBAB&usg=AOvVaw2hJoNXmhILBohxghui71Fv

You build a first Docker using controlled version of some sources (so here the checkout of specific version of Certbot), then you use this Docker content to build