[2018-01-05 17:59] SwartzCr commented on #5034
That all makes sense, and these should be documented.
The reason that it installs both is that some systems run one, and some run the other. On systems where both are installed it'll default to systemd, on systems without systemd it'll use the cron job.
That said, I'm a little confused. You mention that because the cron job wasn't running your hooks weren't executed, but then you also say that you

[2018-01-05 18:02] SwartzCr commented on #5363
How did you go about changing the domain name from `foo-mirror` to `foo`?
It seems to me that that domain name should have been updated when you updated and renewed the certificate with the new name, or did you not do it through a certbot command?

[2018-01-05 18:35] bmw commented on #5370
I verified that this is the case in Python 2 and Python 3.

cc @ohemorange

[2018-01-05 19:43] baltasvejas commented on #4797
Forget me, if I do not get it right, but title suggests that some configuration directives (such as WSGI) should be commented out while performing automated install? Is it no problems with the installation in such case?

[2018-01-06 00:09] Cysioland commented on #5353
Same error happens. I could install it by hand, but it's a metric poopton of work with my number of vHosts, and your issue still won't get fixed, so I prefer to cooperate.

[2018-01-06 01:59] ohemorange opened #5373 "Add a message saying we plan to deprecate python2.6"
Similarly to how we did it in #5283.

Notes:
- the biggest difference is PendingDeprecationWarning is shown by default in py 2.6 and isn't in py 3.3
- also, while I didn't worry about this for python 3.3 since there were like 7 users, it'd be nice if we printed the warnings in a way that were able to be disabled by the user
- (as for this, I think it would be nice and may be doable (you can set up

[2018-01-06 02:00] ohemorange commented on #5373
Related to #2208.

[2018-01-06 02:02] ohemorange commented on #5365
@cpu not yet, thanks for the reminder!

[2018-01-06 06:40] MrPetovan opened #5376 "Blanket X-Frame-Options SAMEORIGIN in Apache shared config"
## My operating system is (include version):
Debian 9.3 Stretch

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
apt, version 0.10.2 is installed

## Issue:
On my system, Certbot installed an Apache configuration file in `/etc/letsencrypt/options-ssl-apache.conf` that is included in all the automatically generated sites config. It features the following line:
`Header alwa

[2018-01-06 07:12] stonyz commented on #5357
I remove --no-bootstrap, the same thing.

[code]

[2018-01-06 09:00] joohoi commented on #5353
I wonder if some log lines that could prove useful were removed?
[code]
Certbot logs the file path that it's trying to write to, and this is where Augeas unfortunately fails. We're unable to pull error log out from Augeas about the root reason of the error, so the most recent Certbot log lines before the error are the only thing we have.

[2018-01-06 09:09] joohoi commented on #4797
It will let Apache to run, and we have a chance to notify the user that there's something that needs manual attention. Currently Apache errors out in restart if such directives are copied over (they should be unique), then we are rolling back our configuration changes and erroring out ourselves.

This change will let us at least configure TLS for the domain, and point the user towards the config t

[2018-01-06 11:47] dchmelik commented on #2551
I'd like to see that usable for 'lineages,' which I don't use, and since am not quite good using certbot, end up with more than other people... for any site, I only want /etc/letsencrypt/live/example.com/cert.pem , not a symlink to ../../archive/certn.pem for various n.

[2018-01-07 00:44] jsoref commented on #5363
I just edited the ServerName field of the apache conf file.
I was hoping that certbot would recreate the ssl conf file for the newly discovered foo.

[2018-01-07 02:02] mnordhoff opened #5379 "Apache SSL cipher settings are old, no ChaCha20"
The Nginx plugin's `options-ssl-nginx.conf` file uses Mozilla's current intermediate SSL cipher configuration.

The Apache plugin probably did too... except it hasn't been updated since 2014: 2faacc1b43786edd5386305f9cffec376b5a5d26

Should Certbot's Apache settings be updated?

The main difference is that the new configuration adds ChaCha20 cipher suites. (It also removes a few things.)

Should t

[2018-01-07 19:10] hlieberman opened #5380 "SSL_DHPARAMS_SRC captures buildpath in docs"
Hello certbot-krew!

Because constants.py is evaluated at build time in order to generate documentation, the `pkg_resources.resource_filename` path is evaluated to include the build path.  At run time, the correct value is used from where it is installed to, but the build path being captured inside the documentation makes the package not binary reproducible.  (https://tests.reproducible-builds.org

[2018-01-08 00:39] josph2001 commented on #5308
[code]
For my case, I think it is due to this reason. As of now, I'm using DNS challenge for issuing the cert, but it is not supported by nginx plugin. We can close the ticket. I've switch to tls-sni. Thanks!

[2018-01-08 07:35] fdellwing commented on #5358
It still gets security updates via the ESM mechanism. But you are correct, the system will be replaced in first quartal 2018, but I just hoped it will be an easy fix.

[2018-01-08 08:04] fiendish commented on #5358
@erikrose Given that pip only has one code branch on github, and that they're currently sitting on a pile of commits since last release that is now many times larger than the distance between previous releases, it seems like they might not release again for an arbitrarily long time until they figure out how to automate their release process, which is an issue in their tracker dating back to the be

[2018-01-08 10:23] z0x010 commented on #5104
I has try it ,use these commands
[code]

[2018-01-08 17:25] bmw opened #5381 "Document test everything setup"
We should document that additional tests are run there, how they pull in the latest version of `master`, how to add to/modify them, how to deal with merge conflicts, etc.

[2018-01-08 17:30] do-web opened #5382 "The server could not connect to the client to verify the domain. But file is callable via browser."
## My operating system is (include version):
Debian GNU/Linux 9

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS package manager

## I ran this command and it produced this output:
certbot renew --dry-run

## Certbot's behavior differed from what I expected because:

Attempting to renew cert (api.xxxx.net) from /etc/letsencrypt/renewal/api.xxxx.net.conf produced an une

[2018-01-08 17:54] bmw opened #5384 "Apache 2.4 only config options"
https://mozilla.github.io/server-side-tls/ssl-config-generator/ generates different files depending on your Apache version. Some settings such as `SSLSessionTickets` are only available in newer versions of Apache. Should we have different versions of this file for Apache 2.2 and Apache 2.4?

cc @joohoi

[2018-01-08 17:56] bmw commented on #5379
Thanks for noticing this @mnordhoff. Not updating this was an oversight on our part. I've done this in #5383 and the new recommended ciphersuites will be used in the next release.

[2018-01-08 18:00] sharmaprakash opened #5385 "The server could not connect to the client to verify the domain :: Timeout"
## My operating system is (include version): ubuntu 16.0.4

## I installed Certbot with python-certbot-apache

## I ran this command and it produced this output: certbot --apache -d domain.com -d www.domain.com

Failed authorization procedure. domain.com (tls-sni-01): urn:acme:error:connection :: The server could not connect to the client to verify the domain :: Timeout, www.domain.com (tls-sni-01

[2018-01-08 18:00] bmw commented on #5376
@joohoi, can you take a look at this?

[2018-01-08 18:33] mnordhoff commented on #5379
The credit goes to someone on IRC, actually. :sweat_smile:

Thank you for the quick fix!

[2018-01-08 19:03] do-web commented on #5382
Firewall issue :/

[2018-01-08 19:03] #5382 closed

[2018-01-08 20:16] kousu commented on #3953
I just experienced this too. I have multiple vhosts on a single server and I didn't want to have them share an _account key_, so I made different accounts by running with `--workdir` and `--config-dir`.

Now I'm making some changes. Our domain name for one vhost changed. I want to keep the account key -- I don't have to, but if I keep it the certificate transparency logs will look more legitimate

[2018-01-08 21:38] bmw opened #5387 "Dropping support for Pythons in fetch.py"
If we drop support for a version of Python previously supported by fetch.py, existing certbot-auto installations can fail. If we're unable to reboostrap because we don't have the user's permission, when certbot-auto is run again during phase 1 it will call `DeterminePythonVersion` and if we can't find an appropriate Python, we exit with an error. Instead, we should print a message about being unab

[2018-01-08 21:54] bmw opened #5388 "Properly handling user set LE_PYTHONs for RHEL/CentOS 6"
LE_PYTHON is always set during phase 2 because this variable is exported. Even worse, at this point we can't differentiate between the case where this value was set by the user and one where it was set by a previous version of the script. This is a problem because we won't know which Python executable to use to run Certbot and whether an unsupported value was manually set by the user or not. As th

[2018-01-08 21:57] #2208 closed

[2018-01-08 21:58] bmw commented on #2208
We're planning on doing a release including this feature on Wednesday.

[2018-01-08 21:59] alex commented on #2208
This makes me so happy. Thanks for making this happen!

[2018-01-08 21:59] xJustx commented on #5352
Sorry for the delayed answer.
@SwartzCr Output of `certbot renew -vvvvv`:

`Root logging level set at -30
Saving debug log to /var/log/letsencrypt/letsencrypt.log
certbot version: 0.10.2
Arguments: ['-vvvvv']
Discovered plugins: PluginsRegistry(PluginEntryPoint#apache,PluginEntryPoint#webroot,PluginEntryPoint#null,PluginEntryPoint#manual,PluginEntryPoint#standalone)

------------------------------

[2018-01-08 22:00] bmw commented on #2208
Thanks for continuing to support Python 2.6 while we did the work!

[2018-01-09 01:02] #5323 closed

[2018-01-09 01:32] ohemorange commented on #5373
Going to come back for the fancy stuff if there's time after other things.

[2018-01-09 10:02] joohoi opened #5393 "Centos6 tests halt if there is package updates from repository"
The script halts waiting for user interaction despite being run noninteractively

[2018-01-09 13:35] WohthaN commented on #3879
+1

[2018-01-09 14:07] tomwassenberg opened #5395 "Certificate files not saved when no renewal configuration exists for lineage"
## My operating system is (include version):
Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Certbot 0.19.0 from the [PPA](https://launchpad.net/~certbot/+archive/ubuntu/certbot)

## I ran this command and it produced this output:
I ran the following commands consecutively:
[code]
[code]
[code]
[code]
## Certbot's behavior differed from what I expected becau

[2018-01-09 14:10] fearrr opened #5396 "Cannot find a VirtualHost matching domain"
## My operating system is (include version):
Ubuntu 16.04.3 LTS

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Automated (nginx plugin)

## I ran this command and it produced this output:
**command**
`certbot --nginx -d mysite.ru -d www.mysite.ru`

**output**
[code]

_p.s. mysite.ru is placeholder instead of real domain name_

## Certbot's behavior differed from what I

[2018-01-09 14:13] fearrr commented on #5396
I would like to add, that I tried completely re-install the certbot package

[2018-01-09 14:36] joohoi commented on #5384
I think we should. Most of the details stay the same regardless of the version, so should we do an additional include for these directives or just have completely own include file per version?

[2018-01-09 14:54] joohoi commented on #5376
I wonder if something else has added that line to the configuration. I don't think we've ever had that in our include.

Just tested installing 0.10.2 on Debian stretch to my box and checked the file. The X-Frame-Options was missing.

[2018-01-09 15:30] MrPetovan commented on #5376
Thanks for looking into it, I checked the Debian package file list but the directive wasn’t there either. It seems unlikely you guys can do anything more about it.

Thanks for your time!

[2018-01-09 15:30] #5376 closed

[2018-01-09 15:37] lamby commented on #5380
Given that it captures the build path — which at runtime will be useless at best and very likely simply broken at run-time — what is even the point of capturing this variable in the first place? :)

[2018-01-09 15:46] #5379 closed

[2018-01-09 16:28] #5393 closed

[2018-01-09 16:54] fitzg2 commented on #5177
The issue is that it isn't clear why if /etc/letsencrypt/live/xyz.com/xyz.pem points to the latest generated certificates while it keeps creating -0001 folders on live. @axsuul please correct me if am wrong.

Another reason could be because you created a certificate for example.com first and added admin.example.com

[2018-01-09 16:57] csdev opened #5398 "Undocumented systemd magic breaks certain renewal workflows"
On Ubuntu 16.04+, certbot automatically runs a renewal command twice a day via a systemd timer. This magic feature is totally undocumented.

Furthermore, the documentation on cert renewal (https://certbot.eff.org/docs/using.html#renewing-certificates) suggests that the user should set up their own renewal command, and place it in a crontab. The user's renewal command may include custom options, su

[2018-01-09 17:28] axsuul commented on #5177
Actually I believe my issue was my `renewal/DOMAIN.conf` was blank which might've been screwing with the lineages. I'm still investigating.

[2018-01-09 17:57] tomwassenberg commented on #5177
@axsuul I think I also ran into that today in #5395. I also deleted my renewal config beforehand.

[2018-01-09 18:25] ArchangeGabriel commented on #5398
0. Note that `--renew-hook` does not exist anymore, they are now `pre`, `post` and `deploy` hooks.
1. This is an issue with Ubuntu package at the very most, not with Certbot itself AFAICT. So report this against Ubuntu (e.g. on Launchpad) or to the package maintainer.
2. From the doc (but maybe your certbot version is too old for that to work, especially I don’t remember if that was available for

[2018-01-09 19:03] bmw commented on #5373
I have time now so I'll take this.

[2018-01-09 20:18] ohemorange commented on #5388
Fix 3:

- Stop exporting LE_PYTHON
- Right before calling phase 2, export a version number.
- If in phase 2 this version number is unset, we came from a previous version; override/ignore LE_PYTHON
- If the version number is 0.21.0+, respect LE_PYTHON.

[2018-01-09 20:54] bmw commented on #5388
Concern: I think we should try and limit the scope of where we do this. Depending on how this is implemented, this could cause `LE_PYTHON` to always be overridden/ignored on every system when upgrading to a newer version. Really, we just want to stop `certbot-auto` from keeping people on older versions of Python.

Can we limit this to values of `LE_PYTHON` we don't support?

[2018-01-09 21:46] ohemorange commented on #5388
When I said "override/ignore LE_PYTHON", I specifically, meant "for python3". That should limit us to this particular case.

[2018-01-09 22:41] bmw commented on #5388
Great! This sounds good to me then.

I thought of one additional minor concern that could influence the implementation here. Imagine the following:

1. CentOS 6 user runs certbot-auto < 0.21.0.
2. It upgrades to certbot-auto >= 0.21.0 and runs it with `--le-auto-phase`. `LE_PYTHON` is set to Python 2.6 and the version number environment variable is not set.
3. It is able to immediately rebootstrap

[2018-01-09 22:43] erikrose commented on #5358
I've asked my secret sources when a new pip release might happen. If I hear, you'll hear!

[2018-01-09 23:30] bmw commented on #5384
Good question. While not the cleanest from a code perspective, I think they should probably be individual, self-contained files. I think having one file for the user to modify/disable is cleaner, easier, and less error prone than the user having to know about multiple SSL options files.

To note this here for whoever works on this, it seems like the directive `SSLCompression` is only supported in

[2018-01-09 23:40] #5387 closed

[2018-01-10 00:11] #5373 closed

[2018-01-10 00:45] bmw commented on #5388
Proposal 2:
[code]

[2018-01-10 01:23] danjjeff commented on #5323
Thanks!

[2018-01-10 02:18] SirBlues opened #5403 "Failed authorization procedure. beta.aaa.cn (tls-sni-01): urn:acme:error:connection :: The server could not connect to the client to verify the domain :: Timeout"
018-01-10 01:52:15,641:ERROR:certbot.log:An unexpected error occurred:
2018-01-10 01:52:15,641:ERROR:certbot.log:The request message was malformed :: Error creating new authz :: Invalid character in DNS name

[2018-01-10 03:01] SirBlues opened #5404 "letsencrypt命令和certbot命令有什么区别"
我看网上申请证书的命令，有用letsencrypt的，还有用certbot申请的，我想知道这两个命令有什么区别，在什么场景下用哪个命令。

[2018-01-10 04:27] themarkymark-steem opened #5405 "Client with the currently selected authenticator does not support any combination of challenges that will satisfy the CA"
## My operating system is (include version):
Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS Package Manager

## I ran this command and it produced this output:
sudo certbot renew --dry-run
or
sudo certbot --nginx -d [hostname]

## Certbot's behavior differed from what I expected because:
¯\_(ツ)_/¯

## Here is a Certbot log showing the issue (if available

[2018-01-10 04:46] bmw commented on #5405
Unfortunately, there is an ongoing incident with Let's Encrypt and they have currently stopped offering the mechanism that Certbot's nginx plugin uses to prove you control that domain. See https://letsencrypt.status.io/pages/incident/55957a99e800baa4470002da/5a55777ed9a9c1024c00b241 for more info.

Hopefully this will be resolved soon but in the meantime if you have to obtain/renew your cert, you

[2018-01-10 04:53] themarkymark-steem commented on #5405
When I do the 2nd option, I get an error saying it is unable to connect to domain.  It's trying to connect via port 80, but the site is hosted on a custom port.  Where do I tell it to do the authentication via a custom port?

Thanks for the insanely quick response, I wasn't finding anything online.

[2018-01-10 05:02] bmw commented on #5405
If you need Certbot to listen on a different port, you can include `--http-01-port <port>` on the command line, but if I'm understanding you correctly, the problem is that Let's Encrypt server externally is attempting to connect via port 80. Unfortunately, you cannot change this and Let's Encrypt will always attempt to connect to your server via this port.

If you need a cert now and can't (even t

[2018-01-10 05:05] themarkymark-steem commented on #5405
The sites are listening on custom ports locally (3000 range), but only expose the ssl port (5000 range) to the public.

I can temporarily change the port, but there are three hosts on here and that's just a big pain to keep doing.  I guess I can add it into a script to modify the host file to expose port 80 then switch it back after.

I'll look to see if the manual way is more or less work.

[2018-01-10 05:24] themarkymark-steem commented on #5405
Just did it manually, it's not too bad, but obviously can't auto-renew, but the DNS option is quick and painless.

Thanks!

[2018-01-10 05:27] bmw commented on #5405
Great! In the future if you want to switch back to the old authentication method so `certbot renew` works, just run:
[code]
This will cause Certbot to renew your certificate even it's not needed, but it will remember the settings it used to obtain the cert and use them with `certbot renew` going forward.

[2018-01-10 05:28] themarkymark-steem commented on #5405
Best way to know when the issue is resolved?

[2018-01-10 05:30] bmw commented on #5405
You can just watch this issue. This is going to be a common problem for people until it is resolved so we can leave it open until then.

[2018-01-10 06:10] christopherfowers commented on #5405
I apologize for being "that guy" but is there an estimate that anyone knows of for a resolution to this?

[2018-01-10 06:41] yan12125 commented on #5404
This tool was called 'letsencrypt'. It was renamed to 'certbot' about two years ago.

[2018-01-10 06:58] thebankslife opened #5406 "Closed"

[2018-01-10 07:07] SirBlues commented on #5404
@yan12125 thanks you

[2018-01-10 07:57] samlh commented on #5406
Duplicate of https://github.com/certbot/certbot/issues/5405

[2018-01-10 07:59] thebankslife commented on #5406
@samlh  His issue is with nginx, the same issue just on Apache.

[2018-01-10 13:14] hola56 commented on #5405
Hi,

I tried the second option but hit this error:

Starting nginx:                                            [FAILED]

Hook command "service nginx start" returned error code 1
Error output from service:
nginx: [emerg] bind() to 0.0.0.0:80 failed (98: Address already in use)
nginx: [emerg] bind() to 0.0.0.0:80 failed (98: Address already in use)
nginx: [emerg] bind() to 0.0.0.0:80 failed (98: Add

[2018-01-10 15:07] #5406 closed

[2018-01-10 16:45] iabel commented on #5405
Thanks BMW. For those working with apache, this worked for me:

`certbot --authenticator standalone --installer apache -d <yourdomain> --pre-hook "systemctl stop apache2" --post-hook "systemctl start apache2"`

[2018-01-10 22:34] ohemorange opened #5409 "HTTP01 support tracking issue"
General things to remember/ edge cases/ considerations go here.

~Apache issue: #5410~
~Nginx issue: #5411~
~Nginx follow-up PR: #5409~

- [x] Update `certbot.eff.org` to show a short message about what's going on with useful links.
- [x] Try and properly handle redirects and proxying for HTTP01 in Apache. Failing that, include logging about the error.
- [x] Ensure HTTP01 challenge succeeds in ngi

[2018-01-10 22:34] ohemorange opened #5410 "HTTP01 support for Apache"
Part of #5409.

[2018-01-10 22:35] ohemorange opened #5411 "HTTP01 support for Nginx"
Part of #5409.

[2018-01-10 22:37] ohemorange commented on #5409
@bmw's main concerns:

1) Redirects, proxypass directives, etc. taking precedence
2) Making sure Apache/Nginx is happy to serve files out of that directory and doesn't complain about permissions

[2018-01-10 23:08] bmw commented on #5409
To expand slightly:

1. We should make sure the HTTP-01 response is served regardless of any redirects, proxying, etc. the user may have configured for that domain.
2. Apache (and I think Nginx) allow you to set permissions for different paths on where the server can and cannot serve files from. We should make sure this doesn't stop the challenge from being served.
3. Nginx (and maybe Apache) some

[2018-01-10 23:13] ohemorange commented on #5409
Is TLS-SNI off in a way that will have us automatically fall through to HTTP?

[2018-01-10 23:14] bmw commented on #5409
Yep. You can test that with standalone if you want. It's set up the way I describe in 4.

5. For the HTTP challenge, the CA will always request the file over plain HTTP rather than HTTPS. We should try to do the right thing when the vhost we're doing the challenge for is either HTTP or HTTPS.

[2018-01-10 23:16] ohemorange commented on #5409
HTTP is only available over HTTP, not HTTPS.

[2018-01-11 00:16] jsha opened #5412 "Speed up or eliminate set_by_cli"
In https://github.com/certbot/certbot/pull/5372#issuecomment-356781859, I noticed that set_by_cli can be very slow. It takes about one second per flag to evaluate. With a lot of flags, that really adds up.

[2018-01-11 01:24] bmw commented on #5410
Due to [how the sections are merged](https://httpd.apache.org/docs/2.4/sections.html#merging) in Apache, I don't see how we can always handle concerns 1 and 2 without a really deep understanding of the user's Apache config. (Being on the inside of Apache and seeing the merged config sure would be useful.)

My plan here is to do something similar to what is done in [acme.sh](https://github.com/Neil

[2018-01-11 04:58] hlieberman commented on #5380
@lamby, it's only captured in docs.  It's checked at run-time in the application itself, so it works fine there.

[2018-01-11 05:06] lamby commented on #5380
Then let's remove it from the docs :)

[2018-01-11 07:37] bmw commented on #5410
My work so far is on the `apache-http` branch. This has a working implementation of HTTP-01 (with the concerns I mentioned in my previous post), works on Apache 2.2 and 2.4, and has full test coverage.

The things left to do so far are:

- [ ] See if there's not another viable approach to address some of my concerns from my previous post.
- [ ] Ensure I've handled the concerns in #5409 the best we

[2018-01-11 11:19] gamgine opened #5415 "Client with the currently selected authenticator does not support any combination of challenges that will satisfy the CA."
## My operating system is (include version):
new full reinstall (before is work)
Apache on Debian 9 (stretch) certbot 0.19.0
## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
 apt-get install python-certbot-apache -t stretch-backports
## I ran this command and it produced this output:
certbot --apache
## Certbot's behavior differed from what I expected because:
¯\\_(ツ)_/¯
C

[2018-01-11 12:00] gamgine commented on #5415
certbot --debug
[code]

[2018-01-11 15:13] taur commented on #5405
for debian/ubuntu:
`certbot --authenticator standalone --installer apache -d <yourdomain> --pre-hook "apache2ctl stop" --post-hook "apache2ctl start"`

[2018-01-11 19:18] #5410 closed

[2018-01-11 21:43] naseemkullah opened #5418 "PluginError('There has been an error in parsing the file /etc/httpd/conf/httpd.conf on line 200: Syntax error"
## My operating system is (include version):

CentOS Linux release 7.4.1708 (Core)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

$ sudo yum install certbot-apache

## I ran this command and it produced this output:

sudo certbot --apache
Saving debug log to /var/log/letsencrypt/letsencrypt.log
The apache plugin is not working; there may be problems with your existing

[2018-01-11 23:01] kc9jud commented on #5415
Let's Encrypt is currently in the process of mitigating a security vulnerability. TLS-SNI-01 authentication is to be permanently disabled. See these links:

https://community.letsencrypt.org/t/2018-01-09-issue-with-tls-sni-01-and-shared-hosting-infrastructure/49996
https://community.letsencrypt.org/t/2018-01-11-update-regarding-acme-tls-sni-and-shared-hosting-infrastructure/50188

[2018-01-11 23:02] kc9jud commented on #5415
Duplicate of #5405.

[2018-01-12 01:06] #5411 closed

[2018-01-12 01:10] bmw opened #5419 "Nginx fails to deploy cert"
## My operating system is (include version):

Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

Dev instructions (I was on commit 5d58a3d847f5a93b8eaaaea482063fae69d2b2d7 so this is unrelated to HTTP01 support in Nginx)

## I ran this command and it produced this output:

Starting with the default Nginx config on this system I ran:

[code]
which gave me:
[cod

[2018-01-12 02:30] bmw opened #5422 "TLSSNI removal TODO list"
This is a bit of an awkward issue but to post this somewhere trackable:

- [ ] Update `certbot.eff.org` to show a short message about what's going on with useful links.
- [ ] Try and properly handle redirects and proxying for HTTP01 in Apache. Failing that, include logging about the error.
- [ ] Ensure HTTP01 challenge succeeds in nginx when the server is not currently listening on the HTTP01 port

[2018-01-12 02:35] bmw commented on #5422
Closing in favor of #5409.

[2018-01-12 02:35] #5422 closed

[2018-01-12 02:50] bmw commented on #5409
For certbot.eff.org we want, a short note on certbot.eff.org with links to what's going on. You may want to link to some combination of:

* https://community.letsencrypt.org/t/help-test-certbot-apache-and-nginx-fixes-for-tls-sni-01-outage/50207
* https://community.letsencrypt.org/t/solution-client-with-the-currently-selected-authenticator-does-not-support-any-combination-of-challenges-that-will-sa

[2018-01-12 09:13] ccoenen commented on #5405
For those watching: it hasn't been explicitly said in here, but this appears to be the source: TLS-SNI-01 has been deactivated as authentication scheme because of security issues.
https://community.letsencrypt.org/t/2018-01-09-issue-with-tls-sni-01-and-shared-hosting-infrastructure/49996
https://community.letsencrypt.org/t/2018-01-11-update-regarding-acme-tls-sni-and-shared-hosting-infrastructure/

[2018-01-12 14:04] #5294 closed

[2018-01-12 15:32] Lonni93 commented on #5405
Hi everybody,
I didn't understand yet how renew existing certificates obtained with TLS-SNI-01 challenge. Do I have to obtain new certificates with the suggested "webroot" method (that indeed works perfectly for new domains) manually for every domain? What if I have many of them?

Thx to all

[2018-01-12 15:40] Rudloff commented on #5405
@Lonni93 For domains that expire soon, you can easily renew them like this:
[code]
For other domains that expire later, you can wait for the next release of certbot that should fix this issue.

[2018-01-12 15:53] fdellwing commented on #5358
Ok I got some time for this problem.

First, it was not possible to upgrade pip to 9.0.1 on Ubuntu 12, but the following command did the job `sudo pip install --index-url=https://pypi.python.org/simple/ --upgrade pip`

After that, the `certbot-auto` output does not change, but the problem here is: I cannot edit the models.py file, because it gets downloaded to `/opt/eff.org/certbot` and deleted af

[2018-01-12 18:27] naseemkullah commented on #5418
plz help

[2018-01-12 21:23] francisrod01 commented on #5239
The same problem here.
I can generate with `quay.io` but not with `certbot`.

[2018-01-12 21:28] francisrod01 commented on #5005
The same problem where:

[code]

[2018-01-12 21:55] francisrod01 commented on #4621
@bmw the problem is to use certbot with Aws beanstalk nodejs stack.
The website path is `nodejs` user/group.

I received this output always that I try generate this certificate:

[code]

[2018-01-12 22:01] erikrose commented on #5358
If the version of `pip` on the PATH is 9.0.1 or better, pipstrap should do nothing, and your already-installed version of pip should run. And, in fact, that is what we see from the pathnames in your traceback. So you've got that part right, and your models.py patch is working. But now it looks like you've hit a second problem.

[2018-01-13 00:27] bmw commented on #5415
Closing as a duplicate.

[2018-01-13 00:27] #5415 closed

[2018-01-13 14:13] torbennehmer opened #5424 "certbot hangs when executing renewal script"
## My operating system is (include version):
Latest Debian Stable

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS Debian Package:

[code]

## I ran this command and it produced this output:
[code]

The deployed hook script completes successfully but remains as Zombie. Certbot does not collect it.

Process tree:

[code]

Script executed:

[code]
The log does not help,

[2018-01-13 16:05] porvik opened #5425 "error getting verification data"
## My operating system is (include version):

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

## I ran this command and it produced this output:

## Certbot's behavior differed from what I expected because:

## Here is a Certbot log showing the issue (if available):
###### Logs are stored in `/var/log/letsencrypt` by default. Feel free to redact domains, e-mail and IP ad

[2018-01-13 16:06] #5425 closed

[2018-01-13 16:07] lugt opened #5426 "got does not support any combination of challenges that satify CA"
## My operating system is (include version):
CentOS 7.3

Version:    : core-4.1-amd64:core-4.1-noarch
Distributor ID: CentOS
Description:    CentOS Linux release 7.3.1611 (Core)
Release:        7.3.1611
Codename:       Core

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
installed certbot-auto last year,
just got an update to 0.20,
sha1sum of certbot-auto file is 73a0b6b

[2018-01-13 16:10] lugt commented on #5426
My propensity was to only use the 443 port for the challenge. I'm wondering if the log file indicated that the server had already implemented a check using the port 80?

by viewing the following::

[code]

[2018-01-13 17:21] schoen commented on #5426
Please see

https://community.letsencrypt.org/t/solution-client-with-the-currently-selected-authenticator-does-not-support-any-combination-of-challenges-that-will-satisfy-the-ca/49983

[2018-01-13 17:35] bmw commented on #5426
Closing as a duplicate of #5405.

[2018-01-13 17:35] #5426 closed

[2018-01-13 20:59] maxverstappen commented on #5138
"What did work was commenting all lines out of the file"
Worked also for me

[2018-01-14 07:04] ryanjaeb opened #5427 "HTTP01 fails with default CentOS 7 config due to PrivateTmp"
## My operating system is:

I'm using CentOS 7.3, but this is likely applicable to RHEL 7 too.

## I installed Certbot with:

I installed Certbot HEAD (2cb9d9e2aa332e4fd53aab32ad1d3946438a0dd3) using [these instructions](https://community.letsencrypt.org/t/help-test-certbot-apache-and-nginx-fixes-for-tls-sni-01-outage/50207).

## I ran this command:

[code]
and it produced this output:

[code]

My

[2018-01-14 13:37] lugt commented on #5426
thx.

[2018-01-14 17:16] Yizi commented on #5405
When I type the following is asking for the new webroot which is /var/www/html but it doesn't accept this. Any ideas?

`sudo certbot --authenticator webroot --installer nginx`

[2018-01-14 21:59] gnulnx commented on #5405
I'm using nginx and trying like this:

sudo certbot --authenticator webroot --installer nginx -m dude@dude.com --agree-tos --noninteractive --webroot-path /home/ubuntu/site/ -d oursite.blah.com

certbot fails with a TIMEOUT trying to fetch

http://oursite.blah.com/.well-known/acme-challenge/LCBIafxnKoVQjt91ykJHRGAG_XB7cZs2QHKynSXqII4:

This simply won't work. We only allow hhtps for 1  (required b

[2018-01-14 22:01] gnulnx commented on #5405
Just want to clarify ours is not a reissue problem.  We need to be able to generate new certs for new stacks on the fly.   We never renew certs.  We alway's destroy our entire stack and rebuild as part of our security policy and certbot fit in perfectly with that workflow.

[2018-01-14 22:10] gnulnx commented on #5405
Sorry for the stream of comments...

We also tried this:

sudo certbot --authenticator standalone --installer nginx --pre-hook "service nginx stop" --post-hook "service nginx start" -d our.domain.blah

And it's the same TIMEOUT error try to reach a non valid url.. which is ODD since the command explicitly stops nginx.. so I'm not sure how it expected to reach any url on our site.

[2018-01-14 22:24] schoen commented on #5405
John Furr writes:

Hi John,

I don't understand how you say you see both of these errors, as
a timeout and a 404 are reported differently on the CA side (from not
allowing inbound port 80 connections at all vs. allowing them but not
finding a particular path).

The /.well-known/acme-challenge path is created by the webroot
authenticator if you've specified --webroot-path correctly and don't have
a

[2018-01-14 22:37] bmw opened #5429 "Authenticator cleanup not always called"
In `auth_handler.py`, all code starting with the call to `perform` on the plugin and ending when the challenges can be cleaned up in the normal case should be wrapped in a `with error_handler.ErrorHandler(self._cleanup_challenges):` (or an equivalent) block. With the way this currently works, `_cleanup_challenges` would be called just outside the end of the `with` statement for the case when an ex

[2018-01-14 22:48] gnulnx commented on #5405
My apologies.  I mean it would throw a 404 if it made it through.  Port 80 alway's redirects to 443 so if certbot follows the redirects I'd expect our site to return a 404 an not hold the request until TIMEOUT.   But to be clear the  error reported by certbot is a TIMEOUT error.

Basically this

I will go take a look at the links you sent.. and thanks for a such a fast reply!

[2018-01-14 23:22] #5427 closed

[2018-01-14 23:29] bmw commented on #5427
Thank you so much for the detailed issue here @ryanjaeb. I think this problem is pretty widespread as it at least also affects the newest Ubuntu (and I suspect Debian) releases. I knew nothing about this feature so you saved me quite the headache trying to figure it out.

We've moved the directory to Certbot's working directory which avoids this problem.

[2018-01-14 23:53] comm1x commented on #3656
Just `certbot ls`

[2018-01-15 04:59] bmw commented on #5409
After spending multiple days trying to figure out how we can handle HTTP-01 in Apache, I've come up with a few options. Unfortunately, all of the options have side effects that aren't ideal and/or it won't work in all cases. It turns out that Apache configuration files are complicated. These options are roughly in the order I prefer them from most to least preferred.

### Option 1: Disable problem

[2018-01-15 13:09] bmw commented on #5409
### Option 3: We proxy normal web traffic

We take the vhost that normally serves HTTP content for the domain (if it exists), remove any matching `ServerName` and `ServerAlias` directives, and add a new `ServerName`/`ServerAlias` for an invalid domain name like `certbot.invalid`.

Finally, we set up a new vhost for the challenge domain(s) with content like:
[code]
The way this works is if the requ

[2018-01-15 13:10] chongma commented on #5405
The certbot is working normally for me now. It must have been fixed. I am on centos 7

[2018-01-15 13:26] bibiwan commented on #5405
@chongma : I just have tried and it's still not working.

[2018-01-15 13:32] Rudloff commented on #5405
[TLS-SNI has been re-enabled for most renewals, and for new certificates on some whitelisted hosting providers.](https://community.letsencrypt.org/t/tls-sni-challenges-disabled-for-most-new-issuance/50316)

[2018-01-15 19:05] ckcollab opened #5430 "Certbot, how to specify static directory?"
Hey there! Thanks for certbot and providing so many wonderful things for free, it is appreciated!

I am having a simple problem: I don't understand how to specify the "webroot" static file path on my server. For example, my django static folder points to `https://mydomain.com/static/`, so any webroot authentication files end up at `https://mydomain.com/static/.well-known/acme-challenge/yaddayadda`

[2018-01-15 22:26] jsha commented on #5409
I think you mentioned in person that you'd ruled this out, but I can't remember why:

### Option 5: Add a `ProxyPass /.well-known/acme-challenge/` directive pointing to a `standalone` server running on a special port

[According to docs](https://httpd.apache.org/docs/trunk/en/mod/mod_proxy.html#proxypass):

This could be combined with a no-op RewriteRule for `/.well-known/acme-challenge` at the hi

[2018-01-15 23:04] jsha commented on #5430
@ckcollab This is a great question, and it will depend on the details of your server setup, rather than the Certbot implementation. Can I ask you to re-post it at https://community.letsencrypt.org/? The forum is much better suited to a back-and-forth conversation, and more people follow it so it will be easier to get you the help you need. Thanks!

[2018-01-15 23:04] #5430 closed

[2018-01-15 23:07] jsha opened #5431 "Link to webroot documentation from error messages"
If you follow the autogenerated instructions to use the webroot plugin, you're likely to wind up with this error in your Certbot output:

[code]

This error doesn't define "webroot", and webroot is not a well-defined term (the first page of Google results does not explain it). We shold amend these error messages to link to https://certbot.eff.org/docs/using.html#webroot. We should also update that

[2018-01-15 23:10] bmw commented on #5409
That's certainly a valid approach. My biggest concern is @pde looked into this a bit and found people having issues with firewalls even if we're just going through localhost. The hope was that with option 3 we'll be reusing the port already being listened to by Apache, but it's certainly more complex and has some of the same problems.

[2018-01-15 23:28] joohoi commented on #5409
Unix sockets would probably could have been an answer to that, but apparently they were introduced in 2.4.7 :(

[2018-01-15 23:28] pde commented on #5409
@jsha @bmw I don't think those issues are common. They're typically due to "personal firewall" software, probably not on Linux or other typical Certbot platforms, and probably not on servers.

Since we haven't found any other options (Other that `Alias` inside `Location`, which only works in recent Apache 2.4 releases) I do think we should seriously consider that `ProxyPass` option. As far as we k

[2018-01-15 23:31] pde commented on #5409
Perhaps if we see any of the "localhost firewall" problems in the field we could use UNIX sockets for Apache > 2.4.7 and localhost TCP otherwise.

[2018-01-15 23:36] pde commented on #5409
I currently think the number 5 `ProxyPass` option is ugly but might be the best of the options that work in every case we know about?

[2018-01-15 23:49] jsha commented on #5409
Why is this necessar?

We could introduce an internal option for standalone to listen on "0", effectively saying "assign me a port." We'd then use the assigned port when inserting the ProxyPass directive.

If we ask to be assigned a port, this is not an issue.

[2018-01-15 23:54] pde commented on #5409
I don't mean that it's necessary for the plugin to only listen on localhost, but that we really need to ensure it's listening on localhost, which may no't been the case for that plugin previously.

Your port 0 suggestion may be enough to avoid any headaches in practice. The last question would be, how elegant / ugly will it be to invoke one authenticator from within another?

@bmw @joohoi thoughts

[2018-01-15 23:55] jsha commented on #5409
We also don't necessarily need to invoke the actual standalone authenticator. Setting up an HTTP server is simple enough that we could just have a separate one for use inside the Apache plugin. This would also mitigate the issue of needing internal plumbing for "port 0" and "what's your port?"

[2018-01-15 23:56] joohoi commented on #5409
IIRC @bmw faced some inconsistency in getting an open port allocated when binding to port 0 previously.

[2018-01-15 23:57] jsha commented on #5409
Also, we should consider: Are we concerned some installs might not have mod_proxy, or might have it disabled? If so, we'd need a fallback approach for those, which might make Option 5 less appealing.

[2018-01-16 00:01] pde commented on #5409
@jsha we have module enabling code which is fairly battle-tested. But if any OSes have packaged it separately, we'd need to add a new OS dependency. @joohoi can you think of corner cases where that might not be true? Eg platforms where the apache plugin can't find `a2enmod` or equivalent, but the user fixed it by hand?

If we need a fallback, we have the thing we've already implemented, though tha

[2018-01-16 00:09] joohoi commented on #5409
There's a lot of systems that we can't reliably enable modules on. While basically just symlinking where they do, `a2enmod` and `a2dismod` unfortunately exist in minority of the distributions.

Some distributions just basically deploy commented out module configurations for user to uncomment when needed, and some have their own imaginative ways of handling the same thing. OpenSUSE for example has

[2018-01-16 00:19] jsha commented on #5409
Thinking about this some more, I'm starting to think that Option 5 is just a less-good version of Option 1. The docs have two ways to grab the highest-precedence ProxyPass:

a> The configured ProxyPass and ProxyPassMatch rules are checked in the order of configuration. The first rule that matches wins.

b> In contrast, only one ProxyPass directive can be placed in a Location block, and the most sp

[2018-01-16 00:22] pde commented on #5409
@jsha the huge advantage of Option 5 over Option 1 is that it's compatible with `mod_alias` Redirects to other servers.

But I agree we're finding some evidence that Option 1 might be easier to deploy.

[2018-01-16 00:26] bmw commented on #5409
But it's not. Based on my testing, even if you have the proxy set up, the `Redirect` will be served.

[2018-01-16 00:27] pde commented on #5409
@bmw bleh that's horrible

[2018-01-16 02:37] opsydev opened #5432 "Certbot standalone http challenge fails with 404"
## My operating system is (include version):
Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
ppa:certbot/certbot
apt-get install certbot
certbot 0.19.0

## I ran this command and it produced this output:
`certbot certonly --standalone --cert-name some_name -d fqdn.of.the.server --agree-tos --email operations@company.com --keep-until-expiring --expand -n`

##

[2018-01-16 14:48] afterbit01 commented on #5405
I have a few domains with Let’s Encrypt certificate that use tls-sni-01 validation..
Now they fail to renew..

if i do :

certbot --authenticator webroot --webroot-path /var/www/vhosts/www.mydomain.com --installer apache -d www.mydomain.com

the certificate for that domain (and domain alises) is re-generated and the authentication will switch from tls-sni-01 to HTTP-01? correct?

…and next time th

[2018-01-16 14:56] Lonni93 commented on #5405
@afterbit01 correct, the new method (webroot) will be used for the next renew

[2018-01-16 14:59] afterbit01 commented on #5405
and the validation switch to HTTP-01? (also for all the aliases associated to the domain? no need to do manually "the switch" for every aliases)

[2018-01-16 15:29] own3mall opened #5433 "No valid IP addresses found for… DNS A Record Exists and WORKS!"
https://community.letsencrypt.org/t/no-valid-ip-addresses-found-for-dns-a-record-exists-and-works/50528

## My operating system is (include version):

CentOS 6

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

Downloaded from website manually

## I ran this command and it produced this output:

`/root/Downloads/certbot-auto certonly --webroot --agree-tos --email {EMAILHER

[2018-01-16 15:37] myxor commented on #5332
Any progress here or can we anyhow help?

[2018-01-16 17:19] inglor opened #5434 "Certbot on Debian stretchy not running (stretchy-backports)"
## My operating system is (include version):
[code]

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
`$ sudo apt-get install python-certbot-apache -t stretch-backports`

## I ran this command and it produced this output:
[code]
## Certbot's behavior differed from what I expected because:
I was expecting it to work properly.

## Here is a Certbot log showing the issue (if

[2018-01-16 17:53] Cysioland commented on #5353
`[similar lines follow]` means, that the lines are the same save for URL

[2018-01-16 18:02] Cysioland commented on #5353
When I configure my site manually, everything works

[2018-01-16 18:42] joohoi commented on #5332
We're currently busy with TLS-SNI change, but if you would like to create a PR for this, it would be most helpful.

[2018-01-16 18:45] joohoi commented on #5353
The last line there should point you to the `<VirtualHost>` the command fails for. Could you pastebin the original configuration for that `<VirtualHost>` ?

[2018-01-16 18:49] Cysioland commented on #5353
https://gist.github.com/Cysioland/93fe48964e3a5e48a3ff9bdd934bb43d

[2018-01-16 21:13] joohoi commented on #5353
That seems completely fine. Is there anything strange about filename, permissions or attrs of this single file?

[2018-01-16 21:41] Cysioland commented on #5353
Filename doesn't contain any strange characters (it's basically `000-default`, don't ask me why all vhosts are in the same file, it's an inherited legacy setup), permissions are 0644, user and group is root.

[2018-01-16 22:26] juanpasalagua commented on #5405
On this issue - I still can't get it to work on DigitalOcean - any one has an ETA when this will be solved?

[2018-01-16 23:21] anatolii1712 commented on #5405
I'm using nginx and trying like this:
certbot --authenticator standalone --installer nginx -d mysite.com --pre-hook "service nginx stop" --post-hook "service nginx start"
certbot fails with a TIMEOUT trying to fetch:

I'm already read the [post ](https://community.letsencrypt.org/t/solution-client-with-the-currently-selected-authenticator-does-not-support-any-combination-of-challenges-that-will-sa

[2018-01-17 00:03] FlippingBinary commented on #5405
I'm running Nginx 1.10.3 on an Ubuntu 16.04.3 LTS server and ran into a problem using the HTTP-01 challenge with one of my domains because the `.well-known` directory was not publicly accessible. The least-disruptive way I found to resolve this was to add a directive in the `server` section of my `.conf` file for the domain. The following example tells Nginx where to find the `.well-known` directo

[2018-01-17 00:36] ohemorange opened #5438 "Follow-ups from enabling HTTP-01"
Things we noticed need fixing while we were there (#5409), and code that can be cleaned up.

- `certbot-nginx/certbot_nginx/tls_sni_01.py` and `certbot-nginx/certbot_nginx/http_01.py` could use some deduping -- fix this when we need to
- (nginx) tls sni should have `root` not inside a `location /` block -- probably not worth fixing
- [x] (#5787) (nginx) location is useless as a repeatable directiv

[2018-01-17 01:07] schoen commented on #5405
Hi @anatolii1712,

This is probably not a Certbot bug but rather relates to something about your network configuration or firewall. Please open a thread on https://community.letsencrypt.org/ and we can try to help diagnose it.

[2018-01-17 02:00] jerwinrodriguez opened #5439 "Passing arguments to httpd using apachectl is no longer supported."
## My operating system is (include version):
CentOS Linux 7.3.1611

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:

certbot --authenticator standalone --installer apache --pre-hook "apachectl -k stop" --post-hook "apachectl -k start"

Saving debug log to /var/log/letsencrypt/letsencrypt.log
Plugins selected

[2018-01-17 02:42] ohemorange opened #5440 "Nginx HTTP-01 tests"
Part of #5409.

- [ ] We should make sure the HTTP-01 response is served regardless of any redirects, proxying, etc. the user may have configured for that domain.
- ~Apache (and I think Nginx) allow you to set permissions for different paths on where the server can and cannot serve files from. We should make sure this doesn't stop the challenge from being served.~
- ~Nginx (and maybe Apache) somet

[2018-01-17 02:55] ohemorange commented on #5116
`--staging` is also a good contender for not reusing authzs.

[2018-01-17 02:57] nitinkaveriappa commented on #5405
I am getting the below error when I tried to get new certificate.

 Domain: nitinkaveriappa.com
   Type:   connection
   Detail: Fetching
   https://nitinkaveriappa.com/.well-known/acme-challenge/L2GUaZEnr9AFszlcTMmSGBez9CDvQoddlLhRLqho_GU:
   Timeout

Is there a solution to this problem?

[2018-01-17 05:57] itsmehemant123 commented on #5405
Any update on the new build of certbot? I have a mix of virtual hosts - some with root, and some without.

`$ sudo certbot --authenticator webroot --installer nginx`
worked perfectly for the hosts with root, and on rewew dry run, they all used http instead of tls-sni.

However, for those without, we're asked to run this -
`$ sudo certbot --authenticator standalone --installer nginx --pre-hook "ngi

[2018-01-17 13:56] alasdairdc commented on #5439
Running `sudo apachectl graceful` works fine in Debian Stretch, apache version `2.4.25-3+deb9u3`.  Does `apache` restart properly if you do it by hand?  You may have a misconfigured config being loaded.

[2018-01-17 17:55] SwartzCr commented on #5395
What is the current status of your renewal?
Do you have a working certificate, or is your configuration still broken?

[2018-01-17 17:57] SwartzCr commented on #5396
It seems like your nginx config is causing an error preventing certbot from reading it
`2018-01-09 14:00:55,109:DEBUG:certbot_nginx.parser:Could not parse file: /etc/nginx/nginx.conf due to Expected stringEnd (at char 116), (line:10, col:1)`
See if you can fix up that error, and then it should work hopefully

[2018-01-17 18:03] SwartzCr commented on #5403
What dns provider are you using?

[2018-01-17 18:05] #5404 closed

[2018-01-17 18:08] SwartzCr commented on #5418
@joohoi any ideas? You're more familiar with parsing errors than I am at this point

[2018-01-17 18:18] SwartzCr commented on #5432
I think you want to use the webroot plugin, since it seems that you're already running a webserver
standalone causes the certbot client to start a webserver to answer requests from the CA
The webroot authenticator will host a file on your existing webserver.
additionally if you're running apache or nginx you can use those authenticators instead

[2018-01-17 18:19] SwartzCr commented on #5433
@cpu any ideas?

[2018-01-17 18:22] cpu commented on #5433
@own3mall You have issues with your authoritative DNS servers. [unboundtest confirms as much](https://unboundtest.com/m/A/php72.webehostin.com/UXYYRQN6):

This isn't a problem the Certbot team can solve so I'm going to close this issue. I recommend you change DNS providers and see if the problem persists, or otherwise try to return to the community forum to solicit help debugging your authoritativ

[2018-01-17 18:22] #5433 closed

[2018-01-17 18:22] SwartzCr commented on #5434
@hlieberman any thoughts?

[2018-01-17 18:24] SwartzCr commented on #5439
@jerwinrodriguez do you know what version of httpd you have?
@joohoi maybe we need to edit the comands for centos, wanna see if you can reproduce this?

[2018-01-17 18:31] SwartzCr commented on #5385
I seem to have a really hard time getting your domain to load, I'm not surprised that certbot is timing out.
Maybe you should see if you can improve your load time, and then hopefully certbot will be able to issue a certificate

[2018-01-17 18:37] SwartzCr commented on #5005
@francisrod01 just to be clear, are you also using the `--debug-challenges` flag? or just getting a similar error?

[2018-01-17 19:00] francisrod01 commented on #5005
In fact, I needed to allow `.well-known/` in nginx first.

[2018-01-17 19:57] bmw commented on #5409
I think all checklist items needed for the release have been completed (with minor work on #5441 ongoing). I'm closing this PR and keeping it in the milestone.

[2018-01-17 19:57] #5409 closed

[2018-01-17 19:58] bmw commented on #5388
This was fixed in #5402.

[2018-01-17 19:58] #5388 closed

[2018-01-17 20:03] jsha commented on #5116
This seems like the more straightforward approach, since it doesn't add a command, and should "just work" in most cases.

Any of these interventions have the problem that they make `--dry-run` more dissimilar from prod, though, which means we're likely to see other confusing scenarios crop up as a result.

Would it solve the issue if we reduced the lifetime of valid authzs in staging to a week or

[2018-01-17 20:22] own3mall commented on #5433
Or your DNS system is busted.  Works just fine for everyone else on the planet.

[2018-01-17 20:27] joohoi commented on #5439
With a quick test, I am able to reproduce this. `apachectl graceful` fails when Apache is stopped.

To reproduce:
[code]
What works:
[code]
and:
[code]

For this use case when Apache is stopped for the Apache plugin used as installer, the `apachectl graceful` will fail. To fix this, we might have to change it to `apachectl restart`.

[2018-01-17 20:30] own3mall commented on #5433
https://github.com/skynetservices/skydns/issues/45
https://github.com/mehrdadrad/mylg/issues/42

Looks like your software should be processing the "truncated message" regardless.  The rest of DNS appears to work this way... there is nothing WRONG with this setup.  Nothing out there says it's wrong officially anyways...

Sigh.

[2018-01-17 20:31] cpu commented on #5433
This does not discount an issue with your authoritative DNS servers. We make unboundtest.com available specifically because it emulates the same recursive resolver settings Let's Encrypt uses in production (0x20 case randomization, fully validating DNSSEC, etc).

Again, this does not discount an issue with your authoritative DNS servers. Performing a ping to do an A lookup with your local recursiv

[2018-01-17 20:34] own3mall commented on #5433
Why are you performing such a large lookup and why?  You should only be using an A record lookup.

Also:

How am I supposed to troubleshoot an error your system generates when the output message doesn't tell me ANYTHING as to what is possibly wrong?

[2018-01-17 20:35] joohoi commented on #5418
I think some of the characters here might have got mangled by GitHub markdown. Could you @naseemkullah pleae pastebin your configuration to keep it intact?

[2018-01-17 20:36] cpu commented on #5433
This is an error from Unbound, not our own software. The configuration to set up your own instance of Unbound to troubleshoot is there. I also recommended that you move to the community forum if you need help understanding the problems.

I'm going to lock this issue now. As previously mentioned this isn't anything the Certbot team can help with, the problem exists in an entirely separate layer of

[2018-01-17 20:45] naseemkullah commented on #5418
Hi @joohoi
Here, is this what pastebin is?
https://gist.github.com/naseemkullah/d22c0fdd5bef4ae97d44944d75e334b3

[2018-01-17 20:45] umutyerebakmaz commented on #5405
sudo certbot --authenticator standalone --installer nginx -d example.com -d www.example.com —pre-hook "service nginx stop" --post-hook "service nginx start"

[2018-01-17 20:45] naseemkullah commented on #5418
```test```

[2018-01-17 20:45] naseemkullah commented on #5418
`test`

[2018-01-17 20:46] naseemkullah commented on #5418
[code]

[2018-01-17 21:01] SwartzCr commented on #5424
Maybe you can add something to the script to do some logging and get a sense of where it's hanging? or maybe use strace to debug it? https://linux.die.net/man/1/strace

[2018-01-17 21:07] SwartzCr commented on #5357
It seems like your venv might be messed up, can you try deleting it and running certbot again?
This should cause it to re-install all of your python dependencies and hopefully fix things.

[2018-01-17 21:09] temfad opened #5443 "Segmentation fault"
## ./start: line 2:  9868 Segmentation fault

## I ran this above command and it produced this output:

[2018-01-17 21:11] SwartzCr commented on #5352
Are you running SELinux, GRSecurity, AppArmor, or another MAC?

[2018-01-17 21:15] SwartzCr commented on #5443
Can you please let us know what OS you're using? And how you installed Certbot?

[2018-01-17 21:21] SwartzCr commented on #5398
@csdev I think this is a reasonable complaint, and echoed in https://github.com/certbot/certbot/issues/5034#issuecomment-353216868
On Debian (and thus Ubuntu) we install both a cron job and systemd timer, which is not reflected in our documentation, and probably should be.
@hlieberman would you be willing to work with me to document this?

[2018-01-18 03:09] bmw commented on #5405
We just [released Certbot 0.21.0](https://community.letsencrypt.org/t/certbot-0-21-0-release/50725) which automatically works around this problem in the Apache and Nginx plugins by using the HTTP-01 challenge. If you are using Certbot from your OS package manager and version 0.21.0 isn't available, you should encourage the Certbot package maintainers for your OS to upgrade to a newer version and i

[2018-01-18 03:09] #5405 closed

[2018-01-18 06:56] Ravenheart opened #5447 "Ubuntu 16.04 PPA out-of-date"
## My operating system is (include version):
Ubuntu Server x64 16.04 LTS

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
$ sudo apt-get update
$ sudo apt-get install software-properties-common
$ sudo add-apt-repository ppa:certbot/certbot
$ sudo apt-get update
$ sudo apt-get install python-certbot-apache

## I ran this command and it produced this output:
python-certbot-

[2018-01-18 10:30] si458 commented on #5405
can you update the PPA or is that not maintained by yourselves?
ppa:certbot/certbot

[2018-01-18 10:44] tomwassenberg commented on #5395
@SwartzCr So I did manage to get a certificate directly afterwards. I haven't tried to renew this current certificate again, but I assume that will work fine, since there is a renewal configuration now.

[2018-01-18 11:19] anatolii1712 commented on #5405
Thank you for all your work. Today after update all working greate, like before. Update, create and expand my certificates using the HTTP-01 challenge:
./letsencrypt-auto --authenticator webroot --webroot-path /etc/nginx/html --installer nginx -d mysite.com

[2018-01-18 14:07] majewsky opened #5448 "update CHANGELOG.md for version 0.21"
Version 0.21 has been released, but CHANGELOG.md on master (as of aa01b7d0c047e282a456143c8c143e02601b18e8) has not been updated.

[2018-01-18 14:12] willysr commented on #5332
@joohoi : Since TLS-SNI migration to HTTP-01 is done, is there any time estimation for this issue?

i tried to create override_slack.py and edit the entrypoints.py to add Slackware override, but still it won't detect it. Any clue where i missed it?

Thanks

[2018-01-18 17:28] utdrmac commented on #2544
I'm experiencing this issue too after updating to the latest certbot on Amazon Linux (Linux ip-172-31-10-255 4.9.75-25.55.amzn1.x86_64 #1 SMP Fri Jan 5 23:50:27 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux)

It seems that the cryptography package is being installed under `/opt/eff.org/certbot/venv/local/lib64/python2.7/dist-packages/cryptography/`

but python is not finding it because it is not looking

[2018-01-18 17:48] utdrmac commented on #1680
@bmw I don't believe this has been fixed. I'm experiencing this same lib/lib64 issue still on AWS Elastic Beanstalk environments with latest version of certbot downloaded as follows:

`wget https://dl.eff.org/certbot-auto; chmod a+x certbot-auto`

[code]

[code]

[2018-01-18 17:50] et304383 commented on #1680
I'm baffled by how much trouble we're having with Python dependencies and what not.

Though, if you install certbot via pip, I think things work.  Have you tried this @utdrmac ?  I know it solved many of my issues.

[2018-01-18 17:55] utdrmac commented on #1680
Didn't know install via pip was an option. I was following some blog posts about using certbot on beanstalk and their scripts downloaded it as I put above. Perhaps blog post out of date. Testing via pip now:

[code]

Appears to have worked! I will adjust my scripts to install certbot using system pip instead of downloading it directly. Perhaps there's some issue with certbots built-in installer/up

[2018-01-18 17:57] et304383 commented on #1680
I honesty have no idea why installation via pip isn't the recommended approach on ALL operating systems.

The original solution of downloading of a file which tries to setup a virtualenv and fails miserably half the time needs to DIAF.

[2018-01-18 18:36] HinchK commented on #2544
@utdrmac I ran into the same error a moment ago deploying a new certificate - your comment inspired the following hacky fix, gathered by peeling the onion and linking the dependencies back to the `local/lib/python2.7` path:

[code]

[2018-01-18 19:02] utdrmac commented on #2544
@HinchK I thought about that too but yes, very hack-y indeed. Check out this solution instead: https://github.com/certbot/certbot/issues/1680#issuecomment-358728515 I verify it works on latest elastic beanstalk.

[2018-01-18 19:09] ArchangeGabriel commented on #5448
They always did that, merging the release PR and then later the CHANGELOG one (well to be exact, at first there wasn’t any changelog at all). The CHANGELOG PR is here: https://github.com/certbot/certbot/pull/5446.

[2018-01-18 19:47] jsha opened #5449 "Link to Let's Encrypt status page from documentation"
I'm trying to get https://letsencrypt.status.io/ to show up in a Google search for [[letsencrypt status](https://www.google.com/search?q=letsencrypt+status)]. Right now it tries to correct to our "stats" page.

One thing that would help is to get more links to it. Would Certbot be willing to add a link in the footers of the documentation saying "Let's Encrypt status" and linking to the status page

[2018-01-18 19:53] jsha opened #5450 "Update instruction-generator docs to recommend certbot-auto for all Apache / Nginx"
Now that 0.21 is out, Apache and Nginx users should be fixed, but only if they're using `certbot-auto`, at least until we get into `jessie-backports` and other distro packaging. I think until that happens, we should change the docs on https://certbot.eff.org/ so that any choice of "Nginx" or "Apache" gets you the `certbot-auto` instructions, even if Certbot is packaged for your system (because the

[2018-01-18 21:18] SwartzCr commented on #5448
It's just been merged, closing

[2018-01-18 21:18] #5448 closed

[2018-01-18 21:20] SwartzCr commented on #5447
Unfortunately this will take some time, as it requires a release from the debian and ubuntu maintainers.
Until then users should use certbot-auto if they require features from the 0.21.0 release

[2018-01-18 23:17] mikedotexe commented on #5405
Thanks to everyone for the updates, especially @bmw . We're caught in the middle of this during a site launch. Getting the new certbot version via certbot-auto works with the `--dry-run` flag.
Unfortunately, now we're caught in a rate limit. I waited an hour and still get the error:
`There were too many requests of a given type :: Error creating new authz :: too many currently pending authorizatio

[2018-01-18 23:44] SwartzCr commented on #5395
@bmw  do you think this should go in a milestone? It should be a simple check before file read

[2018-01-19 04:30] runephilosof commented on #5405
The easiest way around this is to create a new account.
I did this by:
[code]

This way you should be able to issue a new cert today, and the old ones can renew again in a week or you can use the new account to issue new certs for those that need renewing.

[2018-01-19 06:39] Ravenheart commented on #5447
I am trying to deal with the aftermath of the TLS-SNI removal and the solution thus far is to update certbot, want to avoid any manual downloads/compiles and just use the official channel.

Any ETA when they packages will be updated?

[2018-01-19 09:42] elkhan commented on #5419
What helped me was deleting `ipv6only=on` from `listen [::]:443 ssl` - `nginx/sites-available/whatever.com`

[2018-01-19 14:37] innocode-devops commented on #5199
This happened to us while moving from apt-installed certbot to certbot-auto.
Somewhere down the road certbot moved this directive:
[code]
From this file:
[code]
And now it appends it inside virtualhost file after the line:
[code]
But during the upgrade certbot-auto didn't update contents of this file: `/etc/letsencrypt/options-ssl-nginx.conf` and it still contains same line `ssl_dhparam /etc/letse

[2018-01-19 16:13] xJustx commented on #5352
Nope, I don't.

[2018-01-19 17:05] mogoh opened #5451 "renew always renews certifcate despite "renew-by-default = False" in cli.ini"
## My operating system is (include version):
debian jessie

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS Package manager

$ certbot --version
certbot 0.10.2

## The Problem
In my `/etc/letsencrypt/cli.ini`, I had this line which I expected to set the default explicit.
[code]
I expected certbot to renew certificates only when they are close to expire.

## Instead
Ins

[2018-01-19 19:00] pde opened #5452 "--help formatting is messed up"
Recent versions of Certbot have had their command line help formatting wrap around newlines in places where they shouldn't. Compare this current output:

[code]
To the way this used to look:
[code]

[2018-01-19 19:01] pde commented on #5452
This was introduced by b43bf8f94aaf38d76d358b6bd7fb17c1007ae74a.

[2018-01-19 19:01] pde commented on #5452
@r5d would you like to take this issue?

[2018-01-19 19:51] SwartzCr commented on #5450
https://github.com/certbot/website/issues/300 seems to indicate that we've already reverted these instructions.
@hlieberman do you have a sense of when you'll be able to release 0.21.0 on debian?

[2018-01-19 21:10] erikrose commented on #4947
I think we can kill 2 birds...

* Tests are inadequate, inefficient, and split up.
* certbot-auto is difficult to reason about and change (see https://github.com/certbot/certbot/pull/5392#issuecomment-356721814 and some of my preceding comments).

...with one stone.

When I wrote auto_tests.py, certbot-auto behaved pretty much the same on all OSes; the only difference was the selection of bootstra

[2018-01-19 21:14] SwartzCr commented on #5447
That is still being discussed. @hlieberman is in charge of releasing it, but the rest of the team (@bmw ) needs to decide which release will get locked into stable

[2018-01-19 21:23] SwartzCr commented on #5451
Interesting
The way that renew is expected to work is that it'll check all certs to see if they are in the renewal window and then renew them if they're within 30 days of exipiring. It will list all certs as it checks if they're up for renewal.
My guess is that this is an occurrence of #4407
This was fixed in #4995, but the version that is packaged for jessie is old enough to still have this issue

[2018-01-19 21:23] SwartzCr commented on #5451
Let me know once you get things working again - or if you need help taking those steps

[2018-01-19 21:27] SwartzCr commented on #5450
It looks like we've changed the docs to tell people to explicitly use the webroot authenticator, with a long warning about the issue, so I think this issue can be closed. I favor that solution over recommending certbot-auto

[2018-01-19 21:27] #5450 closed

[2018-01-19 21:28] SwartzCr commented on #5449
I think that'd be fine - the reason you want it in the footer is so that it appears on all read the doc pages?

[2018-01-19 23:31] bmw commented on #3648
Three additional points here:

1. We should verify that we actually need to split a mixed HTTP and HTTPS blocks into two to support this. Apparently I thought this was the case a year ago, but it'd be good to double check as I didn't look into this deeply. Currently we claim to support nginx version 0.8.48+. If there are features we can use in newer versions of nginx to avoid this split, we can ta

[2018-01-19 23:39] opsydev commented on #5432
This is run as part of a chef recipe that is used across multiple servers. So I want to stick to standalone.
I did resolve this issue by re-installing cerbot `apt-get --purge certbot` `apt-get install certbot`. Not sure why that fixed it 🙁
Since the version numbers did not change.

[2018-01-19 23:39] #5432 closed

[2018-01-20 03:13] sharoonamjid opened #5454 "The 'certbot==0.19.0' distribution was not found and is required by the application"
On Ubuntu 16.04, I have LEMP stack setup and also installed Python 3.5.2 for the use of LetsEncrypt.

When I run this command `sudo certbot --nginx` I get this error:
The 'certbot==0.19.0' distribution was not found and is required by the application

Can someone help me please to fix this problem?

[2018-01-20 03:38] nodakai opened #5455 "certbot-auto should support Amazon Linux 2"
## My operating system is (include version):
Amazon Linux 2 LTS Candidate AMI 2017.12.0.20171212.2 x86_64 HVM GP2 ami-b45030c8

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:
Amazon Linux 2 should be supported when RHEL/CentOS 7 are.

I ch

[2018-01-20 06:08] r5d commented on #5452
@pde, Yes. Does this https://github.com/r5d/certbot/commit/b1bac7b0a8d29f98ef7756cfb8da785ddf5c05b6 look good?

[2018-01-20 10:10] lucode commented on #5405
I run a Ubuntu 16.4 server with  python-certbot-nginx version 0.19.1 which does not upgrade due to the simple fact, that there is no package in the PPA. https://launchpad.net/%7Ecertbot/+archive/ubuntu/certbot
Any workaround to get the newest version?

[2018-01-20 13:43] torbennehmer commented on #5424
I did a trace using
`strace -ff -tt -v`

When everything hung, I sent a CTRL+C, which was at about 14:26:06 in the log files, the lines executed before by certbot were (PID 20038):

[code]

Process PID 20049 was the shell executing everything which exitted quite fine:

[code]

I've attached the traces of certbot itself and all childs ist spawned directly. There are of course more childs resulting

[2018-01-20 15:34] fuchen2624 opened #5456 "certbot-auto incompatible with Python 3.6"
## My operating system is CentOS6

## I installed Certbot with certbot-auto

## I ran this command:  'sudo ./certbot-auto --authenticator webroot --installer nginx'

## By default , on my operating system ,there is installed python3.4,it produced this output:
Creating virtual environment...
Error: Command '['/opt/eff.org/certbot/venv/bin/python3', '-Im', 'ensurepip', '--upgrade', '--default-pip']'

[2018-01-20 18:51] MCOfficer commented on #5405
just download the latest release and run certbot-auto.
more details: https://certbot.eff.org/docs/intro.html#how-to-run-the-client

[2018-01-20 19:44] Sese-Schneider commented on #5111
Same issue still existing here

[2018-01-20 20:18] hlieberman commented on #5352
Hi @xJustx!

Unfortunately, to get this solved, I'm going to need a bit more info from you.  The thing I need is a "core file" -- it's what the kernel spits out when a program segfaults.  It's possible that it could contain private information, so I'm going to also ask you to encrypt it for your protection before you send it along.

To get certbot to dump out a core file, open up a new terminal an

[2018-01-21 08:30] kimsovan79 commented on #5405
https://www.snapengage.com/viewcase?c=35d0a595-4b5a-4b18-a565-3e8148dcd61e

[2018-01-21 18:03] edencorbin commented on #5405
@lucode exact same issue / server / version, did you figure anything out?

[2018-01-22 04:46] soggie opened #5458 "Certbot-nginx does not work with systemctl?"
## My operating system is (include version):

[code]

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

certbot-auto, as per https://certbot.eff.org/#ubuntuxenial-nginx

## I ran this command and it produced this output:

Basically, I control nginx using systemctl. However, a quick look at certbot-nginx's code reveals that when it restarts, it manually calls the command `n

[2018-01-22 05:44] Ender22 commented on #5405
Can you guys help me understand why on ubuntu 14 it thinks 0.19.0 is the newest version of certbot? I'm rather new to linux and also first time using certbot.

[2018-01-22 06:20] MCOfficer commented on #5405
@Ender22 the ppa hasn't been updated yet, and we don't know when this will be the case

[2018-01-22 08:51] nvonx opened #5459 "Problems using certbot under macOS - certificates are just shortcuts"
Hello,

i got a standard Apple Server running on macOS 10.12.6

I installed Certbot with homebrew by the install instructions under https://certbot.eff.org/#osx-other

 I ran this command and it produced this output:
[code]
## Certbot's behavior differed from what I expected because:
under Keys there were only shortcuts to the certificates directing to the folder were they already have been.

## H

[2018-01-22 09:30] keros commented on #5405
I really hope the ppa gets an update in the next days.
I don't want to manual update all my Ubuntu machines

[2018-01-22 11:35] mogoh commented on #5451
Removing the line helped. It looks exactly like #4407. So I suggest we mark this bug as duplicated and if it turns out, that this is not the case, we reopen it.

Thank you for your help.

[2018-01-22 11:35] #5451 closed

[2018-01-22 12:06] pcraston commented on #5405
I emailed the PPA maintainers who replied with the following message:

[code]

So just need to be a bit patient ;-) If you need the new version urgently, you need to use certbot-auto I'm afraid.

[2018-01-22 19:22] jsha commented on #5449
Yep!

[2018-01-22 21:30] SwartzCr commented on #5111
@Sese-Schneider have you tried any of the solutions discussed above?

[2018-01-22 21:32] SwartzCr commented on #5424
@bmw would you be able to look into this? It seems that certbot is having trouble resuming after completing a renewal hook script

[2018-01-22 21:36] SwartzCr commented on #5454
Can you please answer the questions that are listed in the new issue template?
Namely, how did you install certbot initially, what version do you have, and so on.
I'm happy to help you with figuring out what commands to run to get relevant information, but `dpkg -l | grep certbot` is a good first step

[2018-01-22 21:39] SwartzCr commented on #5456
@erikrose do you think you might be able to help with this?

[2018-01-22 21:41] SwartzCr commented on #5458
Would you be able to link to the code you're referring to? I'm confused about which calls you're talking about.
That said, I think @ohemorange would be best equipped to answer this question.

[2018-01-22 22:33] SwartzCr commented on #5459
I'm sorry, I don't quite understand the issue you're facing
Are you unable to get https to work on your site? If so, why? Or is the issue that you want Certbot to handle certificates differently. If so, how and why?
Let me know so I can know what course of action to recommend!

[2018-01-23 02:04] i8x4t commented on #5353
Hei! I just got the same error. I had a domain.conf file in sites-available, like this:

I had one symlink from sites-enabled to the file above.
I just split the two VirtualHost entries in 2 sperate files domain.conf and subdomain.domain.conf, created a 2nd symlink, restarted httpd and then certbot ran through fine.

[2018-01-23 03:30] hlieberman commented on #5447
Hello!  We just finished the migration of 0.20 to Debian testing.  I know the TLS-SNI-01 issue makes the 0.21 version more important to get out quickly, and I'm aiming to have it starting to bake in unstable in the next few days.  It will probably take at least a week to trickle out to Debian testing, and then from there down to the PPA and (eventually) a stable release update.

[2018-01-23 03:58] pde commented on #5452
Oh, interesting. I hadn't realised what the underlying issue was until just now, but it's that when I first laid out the help output I obsessed over wording to make everything fit in 80 columns without wrapping. But switching to the word `certificates` instead of `certs` meant that no longer worked :)

[2018-01-23 04:41] thiagodiogo commented on #5405
Thanks  @mikedotexe and @bmw on the support!

[2018-01-23 05:29] johnsimcall commented on #3520
Thanks for sharing, this post helped me.  I took a little different route to get the httpd24 Software Collection (scl) working with LetsEncrypt.  Here is what I did...

# cat /etc/letsencrypt/cli.ini
apache-server-root=/opt/rh/httpd24/root/etc/httpd/
apache-challenge-location=/opt/rh/httpd24/root/etc/httpd/conf.d/

# scl enable httpd24 -- /usr/local/sbin/certbot-auto             |

[2018-01-23 08:50] Fire-Brand commented on #5447
@hlieberman thank you! the sooner 0.21 is stable the sooner i can return smiling again 0_o

[2018-01-23 10:13] sebastiancarlsson commented on #5405
This worked for me on a Digital Ocean droplet with Ubuntu 16.04 and Nginx (and certbot 0.19).

`sudo certbot --authenticator standalone --installer nginx -d <domain.com> -d <www.domain.com> --pre-hook "systemctl stop nginx" --post-hook "systemctl start nginx"`

[2018-01-23 10:28] keros commented on #5405
The --standalone option don't uses the disabled tls-sni-01 challenge. So it works fine on 14.04, 16.04, ... .
The problem behind this version is apache/nginx needs to be stopped which is not always possible.
But they work on the new ppa version so everything is ok

[2018-01-23 16:02] erikrose commented on #5456
This looks like our fault: we apparently use `enum34`, a backport of the `enum` module to Python <3.4, and [it's not compatible with Python 3.6](https://stackoverflow.com/a/45716067). My favorite solution is to change `enum34` so it doesn't do anything under newer versions of Python. That's [filed](https://bitbucket.org/stoneleaf/enum34/issues/21/setuppy-should-no-op-for-python-34), but somebody n

[2018-01-23 16:03] erikrose commented on #5456
In the meantime, installing under Python 2.7, if you have it, should work.

[2018-01-23 16:30] Ravenheart commented on #5447
So what is the correct/preffered way to get certbot-auto 0.21.x on Ubuntu 16.04 LTS?

[2018-01-23 16:40] Fire-Brand commented on #5405
@sebastiancarlsson, trying your approach (but on AWS), gave me:
[code]
Any ideas why?

[2018-01-23 17:29] micharu123 commented on #1680
The error is with the python path and the use of dist-packages. You can add a path configuration, e.g., `dist.pth`, to `/opt/eff.org/certbot/venv/lib64/python2.7/site-packages/dist.pth`. The content of the path configuration is `/opt/eff.org/certbot/venv/lib64/python2.7/dist-packages`.

Source the activation file in `/opt/eff.org/certbot/venv/bin/activate` and install missing module dependencies s

[2018-01-23 18:35] surfskidude opened #5464 "Certbot fails with error code -9 in pycparser"
I ran the following commands:

wget https://dl.eff.org/certbot-auto
chmod a+x certbot-auto
./certbot-auto

System information (Debian online VPS):
**uname -a**
Linux node1 2.6.32-042stab127.2 #1 SMP Thu Jan 4 16:41:44 MSK 2018 x86_64 GNU/Linux

**more /proc/meminfo**
MemTotal:          65536 kB
MemFree:           38248 kB
Cached:             6716 kB
Buffers:               0 kB
Active:

[2018-01-23 18:54] micharu123 commented on #1680
The error is with the python path and the use of `dist-packages`. We can add a path configuration, e.g., `dist.pth`, to `/opt/eff.org/certbot/venv/lib64/python2.7/site-packages/dist.pth`. However, `pth` files are only processed if they are in a site directory (e.g., `site-packages`) and `pth` files in the newly appointed path (i.e., dist-packages) will not be read. We create a sitecustomize.py in

[2018-01-23 20:37] SwartzCr commented on #5449
I'm happy to do this, but am having a hard time getting sphinx to behave - if you have any knowledge on how to edit sphinx footers, or if you'd be willing to sit down with me and work on this sometime this week that'd be awesome

[2018-01-23 20:41] SwartzCr commented on #5464
@erikrose would you be willing to help debug this?

[2018-01-23 20:47] SwartzCr commented on #5447
@Ravenheart the current best way to get certbot 0.21.0 is to download and run certbot-auto.
Alternately you should be able to use the recently updated instructions on certbot.eff.org to generate new certificates: https://certbot.eff.org/#ubuntuxenial-apache
That said, renewal should still work fine, considering tls-sni-01 is whitelisted for renewals for now.

[2018-01-23 20:59] pde commented on #5452
So the real culprit is possibly 8ceb216fe and I must have gotten something wrong when git bisecting for this issue...

[2018-01-23 23:00] surfskidude commented on #5464
Sure, I can give you complete access to the VPS. Send me a private message and I'll provide you with the required instructions.

[2018-01-23 23:41] rcubitto commented on #5405
@sebastiancarlsson your solution worked for me, I have the same specs as you do.

[2018-01-24 00:21] SwartzCr commented on #5456
I'm gonna tag @bmw here as well just in case this comes up again or if it leads to us changing this code as we begin migration to more python3 environments

[2018-01-24 00:24] SwartzCr commented on #5034
Just fyi that there is a PR for this #5460 and a corresponding issue for the website here, hopefully I'll have a PR done by later today, and have the website updated this week, https://github.com/certbot/website/issues/305

[2018-01-24 00:24] SwartzCr commented on #5398
There is now a PR for this #5460 and a corresponding issue for the website here, hopefully I'll have a PR done by later today, and have the website updated this week, certbot/website#305

[2018-01-24 00:26] SwartzCr commented on #5464
Out of curiosity, what version of debian is it?

[2018-01-24 01:10] jsha commented on #5449
I don't have any Sphinx experience but I'd be happy to stick our heads together tomorrow afternoon if you're free.

[2018-01-24 03:22] owalerys commented on #5419
Also having this issue, certs issued with v0.19.0 Ubuntu client are fine because they are missing the listen [::]:443 line, but certs issued with v0.21.0 certbot-auto client have problems due to the ipv6only=on line.

[2018-01-24 06:27] eladnava commented on #5257
Cheers @oussamahammami for the fix. It works like magic and allows non-root apps on the server to read the certificate and key files. 💯

[2018-01-24 10:46] richerdyoung opened #5465 "pkg_resources.DistributionNotFound: The 'urllib3<1.23,>=1.21.1' distribution was not found and is required by requests"
error message:
[code]
system version message
[code]
`[root@izuf6gjb9m90kz88rvhbykz local]# sudo certbot --authenticator webroot --installer nginx
Traceback (most recent call last):
  File "/bin/certbot", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python2.7/site-packages/pkg_resources/__init__.py", line 3138, in <module>
    @_call_aside
  File "/usr/lib/pyt

[2018-01-24 14:44] sjaanus opened #5466 "Getting "Error while running apachectl graceful", when trying to renew cert"
## My operating system is (include version):
Centos 7

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
[code]
## I ran this command and it produced this output:
`certbot renew --dry-run`
Output
[code]

## Certbot's behavior differed from what I expected because:
I thought it would succeed, but getting this error. I googled around, but did not find answer

## Here is a Cer

[2018-01-24 15:02] owalerys commented on #5419
It seems like `ipv6only=on` is the default configuration for this setting now for nginx in its current version (even as of 2 years ago), so omitting the line from the certbot nginx plugin would solve this issue.

[2018-01-24 17:27] robguinness commented on #2883
Setting the locales also worked for me. Is this considered an actual bug in certbot, a documentation issue, or a user error???

[2018-01-24 17:56] surfskidude commented on #5464
root@node1:~# cat /etc/debian_version
8.7

[2018-01-24 19:20] erikrose commented on #5456
I looked at re.py in the last version of Python 3.5.x, and it's fine. It's only 3.6 that should give us the problem.

[2018-01-24 20:07] erikrose commented on #5464
I probably won't get to it for a long time unless other people start hitting it, so someone else should feel free to take a look. Though, if this is a fresh Debian install, I'd consider reconsidering. :-)

[2018-01-24 20:46] surfskidude commented on #5464
It could be that the python byte compiler runs out of memory. This is a low end VPS from securedragon (OpenVZ O64): https://securedragon.net/clients/cart.php?gid=27

One of the benefits in writing C code is that you do not impose a lot of baggage on the users.

[2018-01-24 20:57] erikrose commented on #5464
If that's really the reason, it's sort of ironic that it runs out of memory while compiling a C parser. ;-)

[2018-01-24 21:28] sneerin opened #5470 "wildcard support"
wildcard support is coming, so that would be incredibly awesome to get this desirable feature.

[2018-01-24 21:29] bmw commented on #5424
I've actually been able to narrow this down to what I think is a bug in Python or the Dovecot init.d script. I created `test.py` with:
[code]
and `script.sh` in the same directory with the contents:
[code]
If you run `test.py` (as root), it hangs indefinitely with "exiting" written to `/root/output`.

This should be dug into more and a bug appropriately filed upstream.

[2018-01-24 21:47] tebruno99 commented on #3231
This has never happened to me again. I will close.

[2018-01-24 21:47] #3231 closed

[2018-01-24 22:00] SwartzCr commented on #5449
Okay, I made a PR, @jsha wanna review it?

[2018-01-24 22:08] SwartzCr commented on #5470
Hi @sneerin - we are planning to get ready for the acme v2 spec that will allow wildcard support. If you want to follow our progress you can watch the issues labelled 'acme' in the 0.22.0 milestone: **https://github.com/certbot/certbot/issues?q=is%3Aopen+is%3Aissue+milestone%3A0.22.0**
Since we're already tracking this I'm going to close this issue as a duplicate

[2018-01-24 22:08] #5470 closed

[2018-01-24 22:15] SwartzCr commented on #5466
I'm pretty sure this is a duplicate of #5439 - which is that we can't use the term graceful anymore with that version of httpd.
I'm going to mark this as a duplicate and close it in favor of the existing one. Hopefully @joohoi can get a fix in time for our next release

[2018-01-24 22:15] #5466 closed

[2018-01-24 22:16] SwartzCr commented on #5439
@joohoi any progress on this? It seems important to prioritize

[2018-01-24 22:18] SwartzCr commented on #5465
How did you install certbot?
Have you installed any python packages system wide via pip? (you can run `pip freeze` to see all libraries installed via pip)

[2018-01-24 22:40] bmw opened #5472 "Can you request a single cert with a wildcard and the base domain with our DNS plugins"
There was some concern from @joohoi about whether or not we currently handle this correctly in any/all of our DNS plugins. @joohoi, if you could add some additional context here that'd be great.

We should look into this issue soon as we're currently in the process of getting our DNS plugins packaged everywhere and we should try to avoid making distros immediately repackage them.

[2018-01-24 22:45] bmw opened #5473 "Stop telling devs to run certbot_test against staging"
@sydneyli brought to my attention that the way we're telling developers to use `certbot_test` in https://certbot.eff.org/docs/contributing.html#running-a-local-copy-of-the-client does not work. You cannot use `certbot_test` against the staging server because `certbot_test` uses alternate ports for challenges which isn't supported in staging.

In my opinion, we should remove the recommendation of u

[2018-01-24 23:17] bmw commented on #5412
The way this should work is the first time `set_by_cli` is run in a given instance of Certbot or a test, it is very slow. This is because it is creating a new argument parser class, having all the different pieces of Certbot add the arguments they take to it (including Certbot's plugins), and reparsing all command line arguments. After that initial run though, subsequent runs should be very fast b

[2018-01-24 23:32] jsha commented on #5412
Yeah, I saw each run taking about a second.

[2018-01-24 23:33] bmw commented on #5412
How were you running it?

[2018-01-24 23:50] bmw opened #5474 "Don't use error in letsencrypt-auto-source/tests/centos6_tests.sh"
`error` is something we define in `certbot-auto` and isn't defined here. We should just use `echo` instead.

[2018-01-24 23:54] rayfoss opened #5475 "Apache 2.4 define breaks the Apache plugin's installer"
## My operating system is (include version):
Ubuntu 14.04.5

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS package manager 0.19.0

## I ran this command and it produced this output:
`sudo certbot --authenticator webroot --installer apache --redirect -w /srv/www/test6.tdspof.vblip.com/ -d test6.tdspof.vblip.com`
[code]

## Certbot's behavior differed from what I expec

[2018-01-25 09:17] joohoi commented on #5472
Yeah, for this to work, we would need to add two `TXT` records to a single subdomain in the DNS zone, ie: your certificate needs names `yourdomain.tld` and `*.yourdomain.tld`, the record that the CA will check is same for both of these: `_acme-challenge.yourdomain.tld` hence a query to that subdomain should return two `TXT` records.

The actual credit for raising this issue goes to @sahsanu for ra

[2018-01-25 09:29] MrLichangming opened #5483 "How does the application invoke the certificate?"
## My operating system is (include version):

CentOS Linux release 7.3.1611 (Core)
## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

certbot-auto
## I ran this command and it produced this output:

## Certbot's behavior differed from what I expected because:
When I refer to the fullchain-pem certificate in the program, it always shows insecurity,why?
when my invoke certifi

[2018-01-25 10:12] soggie commented on #5458
@SwartzCr thanks. Here's the code:

https://github.com/certbot/certbot/blob/master/certbot-nginx/certbot_nginx/configurator.py#L689

[code]

From my understanding, if we are to say, manage nginx using systemctl, this would make it quite impossible to stick to systemctl.

[2018-01-25 12:57] sahsanu opened #5484 "Feature request: Add option to know what is the last domain passed to dns hook script"
Hi,

certbot doesn't provide an official hook to work with the API of my DNS provider so I'm using my own script. Well, we know every time we create/modify a record on our DNS provider it needs to propagate to all the authoritative DNS servers, in my case it takes 1 minute and 30 seconds approx., right now, as far as I know, there is no option to know what is the last domain that is being issued s

[2018-01-25 14:53] nilsm opened #5485 "Certbot keeps adding multiple options-ssl-apache.conf includes"
## My operating system is (include version):
Debian 8, Apache 2.4

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto, gives me v0.21.0

## I ran this command and it produced this output:
[code]
I chose option 2, to redirect HTTP to HTTP2.

## Certbot's behavior differed from what I expected because:
Each time I run the command, certbot keeps adding another line

[2018-01-25 16:21] nilsm commented on #5485
Update: even a newly generated SSL vhost has multiple include lines. Here is an example of a site that only had a :80 HTTP vhost set up:

[code]

[2018-01-25 20:20] #5449 closed

[2018-01-25 20:24] SwartzCr commented on #5475
@joohoi could you look into this?

[2018-01-25 20:25] SwartzCr commented on #5483
@cafeimao It looks like your question may have gotten cut off - can you elaborate?

[2018-01-25 20:27] SwartzCr commented on #5484
Sounds like a question for @bmw

[2018-01-25 20:28] SwartzCr commented on #5485
@joohoi I think this is something you've dealt with before? Is this new or a regression?

[2018-01-25 20:29] pkramme opened #5486 "Certbot starts nginx after renew and bypasses systemd"
## My operating system is (include version):
centos7

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
yum

## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:
Why is Certbot restarting nginx as root?! Why the hell is a costum pre and post hook not overriding this?!?!?

## Here is a Certbot log showing the

[2018-01-25 21:12] rayfoss commented on #5475
Workaround:
- Don't use a variable ServerName on any of your virtual hosts, or risk mangling
- You can use variables on everything else

[2018-01-25 22:55] SwartzCr commented on #5486
@paulkramme sorry to hear that you're having issues with certbot :(
I'm happy to help you work through them and file any necessary feature requests if we figure out that it's doing something that it shouldn't be. In the mean time I'd appreciate it if you could talk in a more relaxed manner. The people who work on this project are, in fact, people. And we have sensitive feelings. We're much more li

[2018-01-25 23:46] SwartzCr commented on #4961
I'm going to close this issue since it doesn't seem that we've made useful progress on it and no one else has expressed need for such a guide. If people feel differently I'd encourage them to take a first pass at such a guide and submit it as a PR

[2018-01-25 23:46] #4961 closed

[2018-01-25 23:58] SwartzCr commented on #1310
I think that we should have a whole section of the documentation that describes acme accounts - It should also mention that we don't currently support multiple email addresses per account: #4242

[2018-01-26 00:17] bmw commented on #5312
I'm not that familiar with the process, but I believe if we modify `setup.py` right, `pip` is smart enough to notice that a package isn't listed as supporting the Python version and won't try to install it. We should look into this a bit and try to do it as right as we can.

[2018-01-26 00:18] bmw opened #5489 "Remove support for Python 2.6"
Python 2.6 version of #5312.

[2018-01-26 00:23] bmw opened #5490 "Break lockstep between our packages"
As part of getting distros to package more of our plugins, we've agreed to stop releasing all of our packages in lockstep. This means that instead of requiring that all of our packages have the same version number, people are able to mix and match versions. The benefit of this is distros (and us) don't have to repackage everything anytime we change a single package.

To do this, we need to:

1. Mo

[2018-01-26 01:47] bmw opened #5491 "Add automatic ACME protocol detection mechanism to the acme library"
This should work by querying the `directory` endpoint of the server and looking for new fields and/or the new names for existing fields to correctly determine the protocol version that should be used.

This should be done in a way where we store the value of the `directory` so `acme.client.Client` doesn't have to request it again. This should probably be accomplished by adding a new optional param

[2018-01-26 01:51] bmw opened #5492 "Debian Requests for Packages"
We need to file requests for packages for:

* https://pypi.python.org/pypi/cloudflare (MIT license)
* https://pypi.python.org/pypi/dns-lexicon (MIT license)
* https://pypi.python.org/pypi/tldextract (BSD license)

I tried to do this with `reportbug`, but I don't think it worked as I never received an email with a link to the bug despite providing my email on the command line. We should verify this

[2018-01-26 02:35] amorrissette commented on #2850
Did not need to downgrade from python 2.7.11

pip uninstall virtualenv
conda install virtualenv

above worked for me as well

[2018-01-26 02:44] wangjia2016 opened #5493 "Error while running nginx -c /etc/nginx/nginx.conf -t."
## My operating system is (include version):

centos 6.9 x64
## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
Saving debug log to /var/log/letsencrypt/letsencrypt.log
Error while running nginx -c /etc/nginx/nginx.conf -t.

nginx: [emerg] open() "/etc/nginx/nginx.conf" failed (2: No such file or directory)
ngi

[2018-01-26 02:54] bmw commented on #5491
Another thing we may want to do in addition to or instead of this is to build a ACME client wrapper that automatically determines the ACME version (possibly by using the function described above) and creates and keeps an ACMEv1 or ACMEv2 client (#5287) as an instance variable. In addition, it could serve as a wrapper of the client and implement functions to automatically handle the differences bet

[2018-01-26 02:56] bmw commented on #5493
Try `--nginx-server-root /usr/local/nginx`.
[code]

[2018-01-26 09:25] Hipska opened #5495 "Could not install certs for apache default installation"
## My operating system is (include version):
CentOS 7.4

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
`yum install certbot-apache`

## I ran this command and it produced this output:
`certbot run -a webroot -i apache -w /var/www/html -d example.com` (replaced actual hostname by example.com)
[code]

## Certbot's behavior differed from what I expected because:
It was una

[2018-01-26 09:42] nodje opened #5496 "python-certbot-nginx std install not restarting nginx after cron successful renewal?"
## My operating system is (include version):
Debian 9 Stretch

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
apt-get install python-certbot-nginx (without backport)
So I'm running v0.10.2 (and was wondering why it was so outdated until I cam to realise I didn't use the backport version)

Which leads me to the question: Is there any use to bother adding the dedicated PPA

[2018-01-26 09:44] claus opened #5497 "bot"
## My operating system is (include version):

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

## I ran this command and it produced this output:

## Certbot's behavior differed from what I expected because:

## Here is a Certbot log showing the issue (if available):
###### Logs are stored in `/var/log/letsencrypt` by default. Feel free to redact domains, e-mail and IP ad

[2018-01-26 10:12] Hipska commented on #5495
Nevermind, it appears that apache was having problems. It's solved now.

[2018-01-26 10:12] #5495 closed

[2018-01-26 11:32] joohoi commented on #5485
Yeah, this is new, and it's a bug for sure.

However the command line seems a bit awkward here. @nilsm If you are only renewing the certificate, you should be fine with command line `certbot-auto renew` instead of the current one used, which runs the installer every time, and installer is not required for the renewal.

That being said, the `Include` certainly should not get appended if it already

[2018-01-26 11:51] nilsm commented on #5485
@joohoi I ran it this way to change an existing certificate to use the webroot method + fix some the vhost setup. Probably not the best way to go about it. Thanks for looking into this.

[2018-01-26 11:55] joohoi commented on #5485
I see! I submitted a PR fixing this issue, and it should be included in the next release.

[2018-01-26 12:04] joohoi commented on #5475
Thanks for opening the issue @rayfoss , and sorry that you had troubles with Certbot. Your assessment of the issue is spot on. Unfortunately we don't currently resolve variables in `ServerName` or `ServerAlias` directives and yet the `VirtualHost` selection logic relies on these values. This is definitely something we should fix in the future.

[2018-01-26 12:23] Palethorn opened #5499 "Don't delete entire lineage when revoking a cert that isn't the live one"
## My operating system is (include version):
Debian 9

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Using git

## I ran this command and it produced this output:
./certbot-auto --revoke --cert-path /etc/letsencrypt/archive/domain/certN.pem
1. Certbot revoked my certificate as expected
2. Asked me if I want to delete the referenced certificate [Y (recommended)/N]
3. Ans

[2018-01-26 12:35] joohoi commented on #5439
Yes, the PR referenced above should fix this issue for the affected distributions. Thanks for reporting!

[2018-01-26 13:27] joohoi commented on #3358
Possible issue here with CentOS 6 / Apache 2.2:
https://community.letsencrypt.org/t/new-certificate-not-working/50885/14

[2018-01-26 18:50] mrballcb commented on #1680
Not that this says anything different than above, but the quick fix for me on certbot 0.21.1 was to effectively "move" the cryptography hazmat bindings to where letsencrypt's custom version of python is looking:
[code]
This works for me because the site-packages/ subdir is empty for me.  And to be clear, this addresses the following error that appears on recent certbot versions on Amazon Linux, fo

[2018-01-26 19:01] SunburntRock89 commented on #5497
Delete this ^

[2018-01-26 20:00] claus commented on #5497
sorry, this was an accident.

[2018-01-26 20:00] #5497 closed

[2018-01-26 20:02] bmw commented on #5429
This issue isn't very specific so I'm happy to answer any questions you have here or in person.

[2018-01-26 20:10] arunbasillal commented on #1680
The answer @utdrmac is what I ended up using, Thanks Matthew!

But I got the error: `"The requested apache plugin does not appear to be installed"`
So I did: `sudo -H pip install certbot-apache`

[2018-01-26 21:23] bmw opened #5502 "Automatically correct previous versions of HTTP to HTTPS redirects in Nginx created by Certbot"

[2018-01-26 21:49] bmw opened #5503 "Offer to correct potentially insecure HTTP to HTTPS redirects found in an Nginx configuration"

[2018-01-26 23:40] bmw opened #5505 "Properly handle modified directory URLs in ACME"
Earlier it was suggested just making these URLs optional parameters to the affected methods in `ClientBase` and having the derived classes provide them to the base class methods. Another possible approach is to have the `Directory` class try either naming convention (ACMEv1 version or camel case) and only fail if neither directory field exists. If both exist, we can either favor ACMEv1 or ACMEv2 o

[2018-01-26 23:41] bmw opened #5506 "Provide separate changelogs for each package"

[2018-01-26 23:41] bmw commented on #4080
This needs to be modified to easily release a subset of our packages.

[2018-01-26 23:44] bmw commented on #5492
@ohemorange, @jgillula, and @SwartzCr, I'm not going to be able to get to this today. I tried to file the requests using `reportbug` in Docker, but apparently they were never sent.

Doing this shouldn't take that long and we should do it should do it soon as it's a blocker for getting many of our DNS plugins packaged in Debian and Ubuntu. How to do this is documented [here](https://www.debian.org/

[2018-01-27 09:32] hugovk commented on #5312
Yes, by adding `python_requires` to `setup()`. This is for 2.7 and 3.4+:

[code]

Links to more info: https://stackoverflow.com/q/44660448/724176

[2018-01-27 09:42] yaoshanliang opened #5509 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xe7 in position 2: ordinal not in range(128)"
## My operating system is (include version):
ubuntu 14.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
source code

## I ran this command and it produced this output:
`./letsencrypt-auto certonly -d www.sshmt.com`

## Certbot's behavior differed from what I expected because:
[code]

## Here is a Certbot log showing the issue (if available):
###### Logs are stored in `

[2018-01-27 13:14] clavisound commented on #5455
it seems you need
`unset PYTHON_INSTALL_LAYOUT`
to properly use certbot-auto.

In my case is little different the CPE_NAME

`cat /etc/os-release
NAME="Amazon Linux AMI"
VERSION="2017.09"
ID="amzn"
ID_LIKE="rhel fedora"
VERSION_ID="2017.09"
PRETTY_NAME="Amazon Linux AMI 2017.09"
ANSI_COLOR="0;33"
CPE_NAME="cpe:/o:amazon:linux:2017.09:ga"
HOME_URL="http://aws.amazon.com/amazon-linux-ami/"`

[2018-01-27 14:07] felixonmars opened #5510 "test_add_listen_80_named fails on Arch"
## My operating system is (include version):
Arch Linux latest

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
pip

## I ran this command and it produced this output:
`python setup.py test`

[code]

## Certbot's behavior differed from what I expected because:
The tests should pass.

I did not get this error on 0.21.0, though.

[2018-01-27 15:30] paulkramme commented on #5486
Please excuse my language, i was very very angry at this. I understand that i am not helping you with outbreaks like this.

No, the systemd timer is definitely not the problem. The problem is that certbot is trying to start nginx at the end:

`Running post-hook command: nginx
`
For some reason, even if i am setting a post-hook, this gets done every time, which means that the systemd service is sto

[2018-01-27 15:42] tufelkinder opened #5511 "Can no longer renew certificates with no warning or useful explanation"
## My operating system is (include version):

Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

I installed certbot from the instructions on the certbot page, and then updated it using pip to version 0.21.

## I ran this command and it produced this output:

certbot
Output: I have exceeded the renewal rate limit

certbot --staging
Output: Client with the curr

[2018-01-27 16:16] nodakai commented on #5455
@clavisound Isn't your distro Amazon Linux "1"?

[2018-01-27 16:20] clawoflight commented on #1425
Please add this!

[2018-01-27 17:25] clavisound commented on #5455
@nodakai I just realized is different (?) release. It's rolling distro, probably Amazon Linux X+1

https://aws.amazon.com/amazon-linux-ami/faqs/

[2018-01-27 22:54] CampStove commented on #5405
when attempting the first option i am asked to input the webroot for my domain, but i am unsure what my webroot is or how to find it. Does anyone know how i can find out what it is?

[2018-01-28 01:32] FlippingBinary commented on #5405
@CampStove The webroot is the location where certbot can place (or find) a folder called `.well-known` and have it accessible at `https://example.com/.well-known` where `example.com` is the domain name you are attempting to validate. If you don't know where to look, you could try asking your web server for clues. For Nginx, you can find possible locations by executing the command `sudo nginx -T |

[2018-01-29 02:10] r5d commented on #4504
I would like to work on this issue.

I've made a rough patch: https://github.com/certbot/certbot/compare/master...r5d:4504-disable-enable-renew-cert-patch-02 (want to know if I'm going in the right direction).

The enable/disable workflow:

The renewal conf for (test) cert `ara.ricketyspace.net` looks like
this initially:
[code]

After executing:
[code]

The renewal conf file becomes:

[code]

Whe

[2018-01-29 05:04] alexzorin opened #5512 "webroot plugin can't handle unicode webroot paths"
## My operating system is (include version):
[code]

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
[code]

## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:
Certbot should handle unicode paths without an issue.

See https://community.letsencrypt.org/t/problem-with-special-characters/51629 for original

[2018-01-29 06:23] schlpr0k-r7 opened #5513 "Failure to Execute Certbot 0.21.1 on Ubuntu 16.04"
### Not sure if this is the correct place for this. Just leaving it here for your review and in case someone has the same issue.

## My operating system is (include version):
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.3 LTS"

Linux [hostname_redacted] 4.4.0-112-generic #135-Ubuntu SMP Fri Jan 19 11:48:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[2018-01-29 11:19] abiaskosty commented on #5486
Hi, I have similar issue and my guess that systemd has nothing to do with it.

I installed certificates for two domains with the following command:
`sudo certbot --authenticator standalone --installer nginx --pre-hook "service nginx stop" --post-hook "service nginx start"`. After that I can use `service nginx start/stop/restart` and everything works fine.

But everything breaks after renewal attem

[2018-01-29 13:21] AndriusCTR commented on #5447
@SwartzCr how can I "get certbot 0.21.0 and run certbot-auto" exactly on ubuntu 16.04? Do you have any links to more detailed help? Thank you.

[2018-01-29 14:54] exocode commented on #5513
have exaclty the same problem: New Ubunut 16.04 Machine
[code]

[2018-01-29 15:17] ciprianflorescu commented on #5405
`Failed authorization procedure. www.domainname.com (http-01): urn:acme:error:connection :: The server could not connect to the client to verify the domain :: DNS problem: NXDOMAIN looking up A for www.domainname.com

IMPORTANT NOTES:
 - The following errors were reported by the server:

   Domain: www.domainname.com
   Type:   connection
   Detail: DNS problem: NXDOMAIN looking up A for
   www.do

[2018-01-29 16:13] FlippingBinary commented on #5405
@ciprianflorescu It looks like letsencrypt can't verify your server's IP address. There is a similar problem mentioned in [this stack overflow question](https://stackoverflow.com/questions/48356095/dns-nxdomain-error-command-certbot). Could you verify that your DNS server is authoritative? One place to do that is at [Zonemaster](https://www.zonemaster.net/).

[2018-01-29 16:23] ciprianflorescu commented on #5405
@FlippingBinary All Zonemaster tests appear to be fine. No issues were raised.

[2018-01-29 16:36] FlippingBinary commented on #5405
@ciprianflorescu This may be a temporary problem. I've seen your error message referenced several times in other forums, but as long as the domain name is publicly accessible and the DNS server is authoritative, the only solution seems to be time. Maybe try again in six hours?

[2018-01-29 18:00] brennan-v commented on #5447
@AndriusCTR This covers how to download and run certbot auto: https://certbot.eff.org/docs/install.html#alternate-installation-methods

[2018-01-29 20:24] jszejner commented on #5447
Do you need to uninstall the package? or will certbot-auto install on top and when the package is updated past 0.21.0 the ppa package will update it correctly?

[2018-01-29 20:42] ciprianflorescu commented on #5405
Well I tried to do it using the other method:

`$ sudo certbot --authenticator standalone --installer nginx --pre-hook "nginx -s stop" --post-hook "nginx"`

 and I get:

Is there any method to install a cert that currently works?

[2018-01-29 21:41] SwartzCr commented on #5496
Sorry about the confusion. Let me see if I can answer some of your questions:
On debian it is worth it to use the backports version, as that will ensure you have the newest packaged version. Since you're on debian and not ubuntu you should not use the ubuntu ppa. Ubuntu users should use the ppa since they don't have a debian backport option.
As for the lack of restarting it's possible that the bui

[2018-01-29 21:43] jpetitte commented on #5486
I'm seeing similar issues with renewal. Can't pin it down. Quite frustrating.

[2018-01-29 21:44] SwartzCr commented on #5499
Hmm this seems like a possible bug.
@bmw or @ohemorange should likely investigate
@Palethorn you mentioned that you installed certbot via git - do you know how recent your version is?

[2018-01-29 21:48] SwartzCr commented on #5509
This is a duplicate of #5236 - so I'm going to close this as a duplicate of that, feel free to follow up in that thread

[2018-01-29 21:48] #5509 closed

[2018-01-29 21:49] ciprianflorescu commented on #5405
Ok, so I managed to completely stop nginx, but now it's starting to complain about A records again, even though I'm 100% sure the A records on this domain are fine. The site works and domain names work, if I start nginx.

 by the server:

What I did was `sudo certbot certonly --standalone`

[2018-01-29 21:50] SwartzCr commented on #5510
I believe certbot is packaged for arch, is there a reason that you're installing it from pip instead?
I think this is something @bmw can look into once he's back in the office next week

[2018-01-29 21:54] SwartzCr commented on #5511
Hi - are you saying that you've installed Certbot via the ppa and then again via pip?
This implies that you have two versions of certbot running.
To know why you've exceeded your rate limit it would help to know what commands you've run recently or if you've tried to process any renewals. Can you share some recent error logs?
Additionally it's possible that the staging server is refusing your conn

[2018-01-29 21:56] ohemorange commented on #5499
This is the expected behavior (see https://github.com/certbot/certbot/issues/4109). Our hope was to stop revoked certificates from accidentally being removed, but you're right, it's a good point that we may not want to have this behavior if the revoked cert isn't the most recent one. We plan to take another look at the behavior here, thanks for bringing it to our attention!

[2018-01-29 21:58] SwartzCr commented on #5512
Closing as a duplicate of #5236
The overall utf-8 issue is #4516 which I think should be prioritized for the next milestone

[2018-01-29 21:59] #5512 closed

[2018-01-29 22:00] SwartzCr commented on #4516
We've been having a lot of reports recently of issues relating to this - so I'm going to put this in the next milestone

[2018-01-30 00:16] brennan-v commented on #5447
@jszejner certbot-auto won't update or (install on top) of the packaging system's version of certbot.
You can download it and use it independently of the installed managed package of certbot.

[2018-01-30 00:50] SwartzCr commented on #5513
@abindner-r7 can you share the exact error you got that mentioned the version mismatch?
@exocode did you also have a version mismatch, or just a lack of jose? Did you also install certbot from the ppa? What does `dpkg -l | grep certbot` return?
Tagging @bmw @hlieberman @oerdnj in case this is a result of lockstep changes

[2018-01-30 01:21] SwartzCr commented on #5492
I've done this, the relevant bugs are:
Bug#888799: RFP: python-cloudflare -- A python wrapper for the Cloudflare v4 API
Bug#888800: RFP: python-dns-lexicon -- A python library for manipulating DNS records in a standardized way
Bug#888801: RFP: python-tldextract -- A Python library for accurately seperating the TLD from the registered domain or subdomains of a URL, using the Public Suffix List.
Fee

[2018-01-30 04:33] abindner-r7 commented on #5513
Traceback (most recent call last):
  File "/usr/bin/certbot", line 6, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 3019, in <module>
    @_call_aside
  File "/usr/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 3003, in _call_aside
    f(*args, **kwargs)
  File "/usr/lib/python2.7/dist-packages/pkg

[2018-01-30 07:42] Palethorn commented on #5499
Hi,
last git commit is a67a917eca25b26f41c6849f45856239196ea48c, Thu Jan 18 13:03:47 2018 -0800
./certbot-auto --version prints 0.21.1.

[2018-01-30 08:24] felixonmars commented on #5510
I am packaging certbot for Arch, in the process it was built with something like pip (setuptools actually), so I filled that.

[2018-01-30 09:56] ilisei opened #5514 "Add certificete to apache on arch with ddns dynu.com"
## My operating system is (include version):
arch i686

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot

## I ran this command and it produced this output:
sudo certbot certonly --email ***
[letsencrypt.txt](https://github.com/certbot/certbot/files/1677134/letsencrypt.txt)
[letsencrypt.txt](https://github.com/certbot/certbot/files/1677139/letsencrypt.txt)

 --webr

[2018-01-30 10:16] nile16 opened #5515 "certbot killed me webpage"
## My operating system is (include version):
Debian 9

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
sudo apt-get install python-certbot-apache -t stretch-backports

## I ran this command and it produced this output:
sudo certbot --authenticator standalone --installer apache --pre-hook "apachectl -k stop" --post-hook "apachectl -k start"

## Certbot's behavior differed

[2018-01-30 17:10] evanp opened #5516 "Version 1.0.0"
## My operating system is (include version):

Ubuntu 17.10

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

Docker

## I ran this command and it produced this output:

docker run -v /etc/letsencrypt:/etc/letsencrypt -v /var/log/letsencrypt:/var/log/letsencrypt -it certbot/certbot --version

certbot 0.21.1

## Certbot's behavior differed from what I expected because:

Let

[2018-01-30 18:42] SwartzCr commented on #5515
Would you be willing to share your vhost files or the log file that certbot generated? There's not much we can do without that info

[2018-01-30 18:53] SwartzCr commented on #5516
Hi @evanp - thanks for writing.
I understand your desire for us to release version 1.0 but there are a few reasons we haven't.
First off we are waiting until we feel like we're in line with the ACME spec. Since the ACME spec will be changing soon we shouldn't release 1.0 until after we're confident that we support ACME v2.
Additionally we have a lot of features that we feel are necessary for our 1

[2018-01-30 18:53] #5516 closed

[2018-01-30 18:56] SwartzCr commented on #5510
Ah okay, sorry for the confusion - would you be willing to tell me what version of python this is happening on?
Also is this version exactly the 0.21.1 release from pip? Or a different version

[2018-01-30 19:08] SwartzCr commented on #5513
can you share the output of `dpkg -l | grep certbot` and `pip freeze`?

[2018-01-30 19:29] abindner-r7 commented on #5513
I will post a shortened view of 'pip freeze' with the packages in question, but not my package list; as that is too much information for my comfort. Sorry that is not exactly what you are looking for. Can you be more specific about certain packages and I will upload those individually?

root@[hostname_redacted]:~# pip freeze |egrep 'certbot' || 'acme'
certbot==0.21.1
certbot-nginx==0.19.0
root@[ho

[2018-01-30 20:24] poizan42 opened #5517 "certbot blindly adds port 443 to apache conf"
## My operating system is (include version):
debian jessie 8.10

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
    dy:/home/poizan# ./certbot-auto
    Saving debug log to /var/log/letsencrypt/letsencrypt.log
    Plugins selected: Authenticator apache, Installer apache

    Which names would you like to act

[2018-01-30 20:59] SwartzCr commented on #5514
It seems that your website, brothers.dnyu.net isn't up - I can't navigate to it
Which means that the CA won't be able to either.
You'll first need to fix the issues with your website before Let's Encrypt and Certbot can issue you a certificate for it.

[2018-01-30 21:03] SwartzCr commented on #5513
So the issue is that you have Certbot installed both via pip and via apt.
You should uninstall the pip version, which is what's causing your certbot to demand version 0.19.0
`pip uninstall certbot-nginx` should be sufficient, but you should also `pip uninstall certbot`
It might be worth it to purge their python dependencies as well, since the PPA provides system packaged versions of Certbot's pyth

[2018-01-30 21:05] bandtank commented on #3103
+1 still happening to me on ubuntu with apache

[2018-01-30 21:06] abindner-r7 commented on #5513
I have one more web application to build and will need another certificate. I will retest and get back to you, but this sounds like the solution. Thank you.

[2018-01-30 22:37] SwartzCr commented on #5517
@joohoi thoughts?

[2018-01-31 00:34] ohemorange commented on #5486
@paulkramme would you mind posting the redacted contents of `/etc/letsencrypt/renewal/home.vortexlab.de.conf` (we don't need account key or anything like that)? My guess is that when the cert was originally created, the Nginx installer was selected. `certbot renew` is meant to be on its own and pick up existing flags so you don't have to restate them every time; since `--standalone` only sets an a

[2018-01-31 00:36] ohemorange commented on #5486
@abiaskosty, I believe it's a similar issue. If you remove the post-hook flag from `renew`, the installer selection of Nginx will automatically restart Nginx for you.

[2018-01-31 01:07] thommeredith commented on #5486
I am seeing this issue right now as well. Cannot restart nginx now from command line with

service nginx start

[2018-01-31 01:18] falconmick commented on #5405
Is there a way I can be notified when the fix is avaiable for PPA so I can change my config around?

[2018-01-31 01:37] ohemorange commented on #5490
My current thought is that rather than digging, we should set everything to the current version. It's faster and I don't currently see any drawbacks.

[2018-01-31 01:54] hlieberman opened #5519 "Certbot should depend on josepy"
As part of the transition of the JOSE library out of acme into josepy, certbot switched to directly importing from josepy -- however, no dependency on it was added in setup.py.  Even though it should always be co-installed by virtue of the transient dependency from acme, if certbot is directly using it, it should be required for install.

[2018-01-31 02:25] hlieberman commented on #5510
This also fails during build on Debian.  The complete log is attached, including a full system package version list.
[python-certbot-apache_0.21.1-1_amd64.build.txt](https://github.com/certbot/certbot/files/1680168/python-certbot-apache_0.21.1-1_amd64.build.txt)

[2018-01-31 03:33] hlieberman commented on #5510
For what it's worth, this error is transient.  I see about a 30% test suite failure rate that goes up to 70-80% when I just run that single test in a loop.

This kind of thing smells like a mock bug, but it'd be good to get the real answer.

[2018-01-31 08:22] exocode commented on #5513
@SwartzCr seems to be you are right. I installed certbot via apt-get. For me: problem solved, thank you!

[2018-01-31 08:25] sreezree commented on #5104
do we can use pip later in future after using yum?

[2018-01-31 08:30] abiaskosty commented on #5486
Hi @ohemorange, I commented out the post_hook in renewal config files for both domains what I use. Now they look like this:
[code]
But it didn't help. I still see errors in `certbot renew --dry-run` output:
[code]
and I still see the same job for nginx.service failure when I try to restart nginx after renewal attempt.

[2018-01-31 08:42] jcyrss commented on #5456
I encountered with same issue, and since our appliaction running with python 3.6, I cannot replace it with the previous version.

Could you tell us when this could be solved?

[2018-01-31 08:43] joohoi commented on #5510
Sorry for the trouble! This should be fixed in the referenced PR.

[2018-01-31 09:16] nile16 commented on #5515
Thanks for the responses. It works now. I uninstalled it and installed again according to https://certbot.eff.org/#debianother-apache Thanks again for the answers.

[2018-01-31 09:38] joohoi commented on #5517
I'm sorry you are having problems with Certbot @poizan42 .

First and foremost, I really think we need to add `Listen` statements in order to migrate a HTTP only configurations to HTTPS. That said, this issue is still spot on, as in this case we're failing to actually deploy certificates in this kind of configuration. There are actually two different issues under this one. One for situations where

[2018-01-31 10:27] poizan42 commented on #5517
Let me be a clear that I'm not complaining that this functionally exists, but that it happens automatically. I believe that the default configuration in most distros has the <IfModule> guarded Listen 443, so if that is not there then it is most likely because the user has intentionally changed it. Everything would be fine if it just asked the user what to do (and to give a cli option in the future

[2018-01-31 12:22] joohoi commented on #5472
Our DNS plugins do this intelligently, and everything should be in order. This includes cleanup as well, the records are cleaned based on their actual content.

[2018-01-31 14:11] xgaia opened #5521 "Certbot doesnt create acme-challenge file"
Hello, I tried to renew my certificate with certbot-auto, but it failed. It seems to not create the acme files.

## My operating system is (include version):

 Raspbian GNU/Linux 8 (jessie)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

 certbot-auto

## I ran this command and it produced this output:

command:

[code]
output:

[code]

## Certbot's behavior differed fr

[2018-01-31 15:42] Adoniasv commented on #5456
I had the same issue, it looks it was the locale in my case, i just had to run this command:

`export LC_ALL=C`

then try to execute the certbot-auto command again, I hope it helps you.

[2018-01-31 18:07] birdvidorg opened #5522 "New version of certbot"
## My operating system is (include version): Ubuntu 16.04
Your site says the following: Due to a security issue, Let's Encrypt has stopped offering the mechanism that the Apache plugin previously used to prove you control a domain. You can read more about this here.

We are planning on releasing a new version of Certbot in the next few days that works around this

Do you have a date for when this

[2018-01-31 18:50] erikrose commented on #5456
I've added this to my queue, so I should get to it eventually.

[2018-01-31 19:20] SwartzCr commented on #5515
Okay, closing this issue - feel free to open new ones if you run into more problems

[2018-01-31 19:20] #5515 closed

[2018-01-31 19:36] sydneyli commented on #4671
Assigning this to myself since it's relevant to STARTTLS Everywhere; will get to it after finishing postfix plugin.

[2018-01-31 19:43] sydneyli commented on #4673
oh look more mailserver plugins! assigned myself to track this issue + will get to it in the near future.

[2018-01-31 19:48] sydneyli commented on #5274
Looks like this issue was resolved! closing.

[2018-01-31 19:48] #5274 closed

[2018-01-31 20:33] erikrose commented on #5490
I agree with @ohemorange. Add to it the complication that pip doesn't yet have a proper dependency resolver, so, if we required >=1.1 in one of our packages and >=1.2 in another, it's a toss-up which one gets obeyed.

[2018-01-31 20:45] ohemorange commented on #5486
Ah, looks like something might have changed around `nginx -s stop` vs. `service nginx stop`. While we look into this, leaving the hooks as-is and commenting out `installer = nginx` will solve the problem for now; nginx can be killed in the way the installer started it by running `nginx -s stop`.

[2018-01-31 20:56] ohemorange commented on #5486
Also, what version of certbot is everyone running? This can be found by running `certbot --version`.

[2018-01-31 21:03] erikrose commented on #5490
Just sat down and sketched out an approach with Erica. Basically amounts to…

* a tox config with pinned shallow versions of the minimum allowed dep versions
* installing the certbot packages with `--no-deps`
* declaring deps like `>=1.1.4,<=2.0` in the setup.py files

Then we'd have a second tox env that tests the latest versions of everything together, because that's a common real-world setup. W

[2018-01-31 22:47] SwartzCr commented on #5104
@sreezree you should not use pip to install certbot related packages as they will conflict with the ones that certbot installs

[2018-01-31 23:01] SwartzCr commented on #5521
To determine what went wrong we'll need to see the whole error log, do you think you could share it with

[2018-01-31 23:04] SwartzCr commented on #5522
So the version of Certbot with the fix has been released, unfortunately it has not been packaged for many distributions yet. You can get it by using the certbot-auto script, or it should ready for ubuntu soon, once it gets packaged

[2018-01-31 23:07] birdvidorg commented on #5522
Do you mean running "certbot-auto" from SSH?

[2018-02-01 03:19] amjad commented on #5405
label's command worked! thank you.

[2018-02-01 04:11] Deno028 opened #5523 "CentOS 6 pip error affected by locale settings"
I got this error from the renew command.
Error: Command '['/opt/eff.org/certbot/venv/bin/python3', '-Im', 'ensurepip', '--upgrade', '--default-pip']' returned non-zero exit status 1

## My operating system is (include version):
CentOS release 6.7 (Final)
Python version: 2.7.8

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produ

[2018-02-01 04:30] Deno028 commented on #5523
Set LC_ALL environment before run this command solved this problem:

Also thanks for lykosis help!!!
https://community.letsencrypt.org/t/failed-to-run-certbot-auto-successfully-on-centos-6-5/51376/2

[2018-02-01 08:39] passboltUser opened #5524 "Your connection is not secure"
From https://letsencrypt.readthedocs.io/en/latest/intro.html#installation
"... For more information, see Get Certbot." Clicking to Get Certbot (https://certbot.eff.org/docs/install.html) gives me `Your connection is not secure`

FF 58

[2018-02-01 09:05] abiaskosty commented on #5486
I use certbot v0.19.0

[2018-02-01 09:14] abiaskosty commented on #5486
I commented out `installer = nginx` config and it solved the issue. Now renew options looks like this:
[code]
@ohemorange thanks for your help! Do you think it's good as longterm solution or some update for renewal process will come later?

[2018-02-01 09:39] carlblock commented on #5524
Also happens in chrome, wget, curl etc..

[2018-02-01 09:41] michie1 commented on #5524
[code]

[2018-02-01 09:43] xgaia commented on #5521
Hello, here is the log of the command `cretbot-auto renew -vvvvvv`.

[code]

[2018-02-01 09:44] passboltUser commented on #5524
Yes, wonder if it already has been asked.

[2018-02-01 11:18] michie1 commented on #5524
The connection is now secure again for me.

[2018-02-01 11:21] passboltUser commented on #5524
Indeed it is.

[2018-02-01 11:21] #5524 closed

[2018-02-01 14:54] dugajean commented on #5405
The "next few days" have passed. Anything new on this?

[2018-02-01 20:48] jsha commented on #4547
Won't fix; TLS-SNI-* is being deprecated.

[2018-02-01 20:48] #4547 closed

[2018-02-01 20:55] jsha opened #5525 "Improve "cannot find cert of key directive" error"
This code in `certbot-apache/certbot_apache/configurator.py` has a few problems:

 - It refers to certificates as "cert". Our style is to spell out "certificate" in documentation and errors whenever possible (command line flags are an exception since they're set in stone). See #4519.
- It conflates two errors unnecessarily: Can't find SSLCertificateFile and can't find SSLCertificateKeyFile.
- It d

[2018-02-01 20:58] jsha commented on #5525
Note: this will also require updating "install.rst", which references the current "cannot find a cert or key directive" error message.

[2018-02-01 21:03] jsha commented on #1431
I think we probably won't do this; I don't see a lot of reports of people having trouble with this problem.

[2018-02-01 21:03] #1431 closed

[2018-02-01 21:05] jsha commented on #361
We should just consider this part of #956

[2018-02-01 21:05] #361 closed

[2018-02-01 21:07] jsha commented on #1975
Right now the docs say:

But I think we support macOS now. Also, we should say here whether Windows is supported.

[2018-02-01 21:09] jsha commented on #2148
Fixed in https://github.com/certbot/certbot/pull/4217, https://github.com/certbot/certbot/pull/4237, and https://github.com/certbot/certbot/commit/9be4fedeecf2489f7c707030bb6ad944e68d52d5.

[2018-02-01 21:09] #2148 closed

[2018-02-01 21:10] jsha commented on #3152
Won't fix. For Boulder testing of this sort, we wound up using the `acme` package directly rather than the Certbot CLI.

[2018-02-01 21:10] #3152 closed

[2018-02-01 21:11] jsha commented on #3322
Related: #5431

[2018-02-01 21:11] jsha commented on #4163
I think this is fixed now; is that right?

[2018-02-01 21:12] jsha commented on #3067
This has turned out to not be that important; Won't fix.

[2018-02-01 21:12] #3067 closed

[2018-02-01 21:14] jsha commented on #4056
Fixed.

[2018-02-01 21:14] #4056 closed

[2018-02-02 01:00] sjberry commented on #5100
For whatever it's worth, I referenced this issue recently when renewing certificates on an old AMI. The suggestion from @ming-chu worked for me with v0.19.0 or v0.20.0. I'm guessing it would still work. Didn't find it necessary with v0.21.1 on a fresh AMI as of 2-3 days ago though. Worked right out of the box with whatever changed within certbot or the AMI itself.

**Old:**
AMI Release: 2017.09
Ke

[2018-02-02 08:04] artemxgruden commented on #5405
if there are problems with webroot method and nginx, check how to https://gist.github.com/cecilemuller/a26737699a7e70a7093d4dc115915de8

it helps me ( i use certbot inside docker nginx container on ubuntu:16.04 )

[2018-02-02 19:40] birdvidorg opened #5527 "Error when attempting to run certbot"
## My operating system is (include version): Ubuntu 16.04

I received the following error when attempting to set up letsencrypt via certbot:
An error occurred and we failed to restore your config and restart your server.  Please submit a bug report to https://github.com/letsencrypt/letsencrypt

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

## I ran this command and it

[2018-02-02 19:57] ohemorange opened #5528 "Consider setting the locale for py3 users"
See https://community.letsencrypt.org/t/failed-to-run-certbot-auto-successfully-on-centos-6-5/51376

[2018-02-03 01:21] ohemorange commented on #5491
Make sure to add `account` parameter when we create `ClientNetwork`

[2018-02-03 07:05] sydneyli commented on #4741
ill take this on for the PR demo tomorrow!

[2018-02-03 17:16] pde commented on #5405
@dugajean yes, Certbot 0.21 was [released on the 17th of January](https://github.com/certbot/certbot/blob/master/CHANGELOG.md), and should have fixed this problem for just about everyone.  Some considerations:

* We need to update the Certbot website to change the warning or what it points to :)
* You need to actually run Certbot 0.21+. If your OS doesn't have packages for that, [certbot-auto](htt

[2018-02-03 17:43] evanp commented on #5516
Hi, @SwartzCr . I'm not asking you to release 1.0.0; I'm asking you to recognize that you've already released it. You're in production with tens of millions of users. It's a good idea to recognize this reality and mark your version as 1.0.0, and start using semantic versioning for future releases.

It seems like you've set 1.0.0 as the Never Never Land future version. If it were me, I'd mark what'

[2018-02-03 17:44] amjad commented on #5405
I still get this error when I follow Digital Ocean’s Lets Encrypt tutorial for Ubuntu Apache.

[2018-02-03 19:12] chris001 commented on #5405
@amjad
https://www.digitalocean.com/community/tutorials/how-to-secure-apache-with-let-s-encrypt-on-ubuntu-16-04
That tutorial is using the ubuntu ppa for `certbot`.
[code]
The error you get is because the ubuntu maintainer for `ppa:certbot/certbot` hasn't updated it to `certbot 0.21.0` yet, that version contains the fix.
You can workaround by modifying your site to get the cert, either run `certbo

[2018-02-03 22:32] daviddavo commented on #4461
I'm having the same problem, but using arch

[2018-02-03 23:09] trajano commented on #4850
I think the file system it is trying to use in my case CIFS on windows gives issues

[2018-02-04 02:03] jkldgoefgkljefogeg commented on #3640
`ipv6only=on` is the default.   https://nginx.org/en/docs/http/ngx_http_core_module.html#listen
For a server config with `listen [::]:80;`, certbox does not generate `listen [::]:443;` At least user should be warned IPv6 SSL was not enabled.

[2018-02-04 02:42] jkldgoefgkljefogeg opened #5532 "support quoted values in nginx config"
## My operating system is (include version):
Ubuntu 16.04.3 LTS

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
ppa

## I ran this command and it produced this output:
`sudo certbot -a webroot -i nginx -d test.example.com -w /var/www/test.example.com/`

[code]

## Certbot's behavior differed from what I expected because:
failed to find server_name

## Here is a Certbot l

[2018-02-04 02:44] fkrauthan commented on #5405
Any news on the PPA update? This is really a big problem not having a working version. After all the PPA is marked as the official way for running certbot on ubuntu.

[2018-02-04 03:06] falconmick commented on #5405
How about instead of the unhappiness we try to help. Is there anything any of us could contribute to help?

[2018-02-04 03:55] chris001 commented on #5405
@falconmick @fkrauthan
* Not really any way to contribute.
* See https://github.com/certbot/certbot/issues/5405#issuecomment-359405017
@pcraston emailed the ubuntu ppa maintainer for `cerbot` and they said 13 days ago 0.21.0 would be available in about a week, so they're lagging, you should probably run `certbot-auto` now, until `cerbot` 0.21.0 is available, could be tomorrow, could be a week from

[2018-02-04 05:35] AjkP commented on #2883
+1 on getting this documented OR fixed.

[2018-02-04 06:29] xergioalex commented on #5486
Today I had the same problem when i have been trying to use the default method for automating the renewal. As @paulkramme said, certbot is starting another nginx process that I can't control, then I had to kill it manually.

After trying several solutions, i decided to create my own workaround cron job without nginx plugin using `certonly` certbot method.

I hope this solution can help while the p

[2018-02-04 09:06] jplatte commented on #3640
@bmw So what's the current state of this? You closed this issue in #5178, but then seem to have reverted your changes. Should this issue be re-opened?

[2018-02-04 09:44] yan12125 commented on #4461
@daviddavo: The issue should have been fixed for Arch since certbot version 0.16.0. Did you install all of apache, certbot and certbot-apache from official repositories?

Pasting full output of your certbot command will be helpful on diagnosing, too.

[2018-02-04 14:17] jmpinto commented on #5405
Hi
I would like to ask if I'm not able to get a Certificate if my domain extension is .com.br?
I have a server with Centos 6 and Freepbx (with Apache) and is under a domain .com.br all the time that I try to get the certificate using SSH I'm not able because it says that has  wrong caracter.
Also using the FreePBX Gui I do not get the Let's Encrypted Certificate
Someone here could help me? Please

[2018-02-04 17:12] scaytrase commented on #5447
Still no certbot in PPA to fix TLS-SNI

[2018-02-05 13:42] ciprianflorescu commented on #5405
@chris001

I believe I tried all these methods and I still get the error about DNS issues. Is there any detailed, manual installation guide for certbot 0.21? Like downloading the source from a repository to the server, then using that to install certbot. I am running nginx on Ubuntu Trusty 14.04 and they haven't updated their PPA for certbot.

The certbot-auto method didn't work for me either. All

[2018-02-05 13:53] tuxbox opened #5533 "hostname not included in verification request - hence verification fails"
## My operating system is (include version):
FreeBSD 11.1

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
pkg

## I ran this command and it produced this output:
[code]

[code]

## Certbot's behavior differed from what I expected because:

verification should succeed and the hostname should be part of the request, meaning:

https:///.well-known/acme-challenge/BMC4pOW_mdL

[2018-02-05 14:03] pahapoika opened #5534 "ImportError: 'pyOpenSSL' module missing required functionality. Try upgrading to v0.14 or newer."
## My operating system is (include version):
CentOS 7.4.1708 (64bit)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
centos 7 yum

## I ran this command and it produced this output:
sudo certbot --authenticator standalone --installer nginx --pre-hook "nginx -s stop" --post-hook "nginx"

output:
`Traceback (most recent call last):
  File "/bin/certbot", line 9, in <module

[2018-02-05 15:05] KhairulAzmi21 opened #5535 "Error first setup letsencrypt using Digital Ocean"
## My operating system is (include version):
Ubuntu WordPress 4.9.1 on 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
https://www.digitalocean.com/community/tutorials/how-to-secure-apache-with-let-s-encrypt-on-ubuntu-16-04

## I ran this command and it produced this output:
sudo certbot --authenticator standalone --installer apache --pre-hook "systemctl stop apach

[2018-02-05 15:18] falconmick commented on #5405
Sounds like sombody isn’t happy with there free software, better get him a refund!

In all seriousness though, this is the risk you take when it doesn’t cost a penny, paid certs means that sombody has an incentive to make things as easy as possible for you, so it’s definitely a good option.

My main reason for let’s encrypt is the 3 month auto renewal system. It’s just a better way of handling cer

[2018-02-05 16:33] ciprianflorescu commented on #5405
Yeah and this is why free software is unreliable as fuck. And not a viable solution for anything reliable, in fact. This model of free software doesn't work. There's not much accountability if any at all, just waiting on the potential availability of devs to do this of their own will.

No need to be a wise ass about it, though. I'm well aware of the implications of using free stuff.

[2018-02-05 17:20] FlippingBinary commented on #5405
@ciprianflorescu I would like to point out that you could seek paid support from one of many providers. Regardless, I went ahead and spun up a server running Ubuntu 14.04 to demonstrate running certbot-auto and made a video for you on [YouTube](https://youtu.be/0TYjZ_TYr-s). Watch the video if you want. It shows the process working flawlessly.

[2018-02-05 18:24] chris001 commented on #5405
@ciprianflorescu @falconmick @FlippingBinary @fkrauthan
The Ubuntu PPA for `certbot` is updated now to 0.21.1 - thanks to certbot ppa maintainers. `sudo apt-get ugrade` and then `cerbot` command should work fine for you now.

@jmpinto
If you use `certbot-auto` on centos 6, it should download the newest version `certbot` 0.21+ and work fine and it will even install your LE TLS cert into apache2, as

[2018-02-05 18:54] pde commented on #1391
The ways now include (1) matching existing certs via domain names, or (2) accepting a lineage specified with `--cert-name`.

[2018-02-05 19:33] jusebastian opened #5537 "Error certbot"
El dominio ya debe especificarse en el archivo nginx conf. El certbot toma el dominio del archivo solo sin necesidad de especificar el dominio. Siga los pasos a continuación
1 Primero instale Cetbot con
$ sudo apt-get install software-properties-common
$ sudo add-apt-repository ppa: certbot / certbot
$ sudo apt-get update
$ sudo apt-get install certbot
2 Instale nginx plugin con "sudo apt install

[2018-02-05 23:14] bmw opened #5539 "Certbot failure leaves standalone server running"
Originally reported at https://community.letsencrypt.org/t/renewal-process-crashed-my-production-server/51920/8, we should make sure that we always properly stop the standalone server. This is probably related to #5429. We should reproduce the problem and verify the solution to #5429 fixes it in the simple case.

We may also want look into adding code that more aggressively kills threads and child

[2018-02-05 23:55] falconmick commented on #5405
Thanks to everyone who put in the hard work!

[2018-02-05 23:57] bmw commented on #4516
Unfortunately doing this is a lot of work (and would be a lot easier if we added mypy type annotations as described above which is also a lot of work), but I agree this would be valuable. I suspect we'll have to kick this further down the road, but prioritizing this should eliminate a lot of bugs and make working on Certbot more enjoyable for devs by adding better documentation and testing.

[2018-02-05 23:58] J0WI opened #5540 "Become an "official" Docker image"
It would be great if Certbot would fulfill the steps to become an official Docker image:
https://github.com/docker-library/official-images/blob/master/README.md#contributing-to-the-standard-library

The following steps need to be done:
* Use a separate repo for Docker (fetch latest Certbot release from GitHub)
* Add link to repo and docs to @docker-library
* Add optional tests to @docker-library

[2018-02-06 00:02] bmw commented on #5492
Thanks for doing this Noah!

[2018-02-06 00:02] #5492 closed

[2018-02-06 00:26] eicksl opened #5541 "Certbot 0.21.1 installed & cert created; cannot access domain on HTTPS"
## My operating system is (include version):
Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS package manager

## I ran this command and it produced this output:
See below.

## Certbot's behavior differed from what I expected because:
`mod_ssl` and the `default-ssl` vhost are enabled. No errors were displayed while creating the cert, yet when I try to acce

[2018-02-06 00:29] ohemorange commented on #3640
@jplatte: We then unreverted the changes. The latest version of Certbot supports IPv6; see some caveats that we plan to fix in https://github.com/certbot/certbot/issues/5438.

[2018-02-06 00:33] ohemorange opened #5543 "Unquote parameters in Nginx"
We should support cases like this: https://community.letsencrypt.org/t/nginx-installer-misconfigurationerror-cannot-find-a-virtualhost-matching-domain/

[2018-02-06 00:49] bmw commented on #4163
Yep! Thanks for catching this.

[2018-02-06 00:49] #4163 closed

[2018-02-06 01:11] bmw commented on #5516
@evanp, I largely agree with you. A number of us have had this conversation internally.

Since our first non-development release of 0.1.0, we've largely treated Certbot like it was 1.0+. We have had stable APIs and spent a lot of time avoiding making breaking changes. Our initial hesitation about calling it 1.0 was that we weren't sure if the software was production ready. Certbot 1.0 was launched

[2018-02-06 01:12] bmw commented on #5447
Certbot 0.21.1 is now in the PPA.

[2018-02-06 01:12] #5447 closed

[2018-02-06 01:28] ohemorange commented on #5499
@Palethorn that's what we used to do, but it caused bugs like https://github.com/certbot/certbot/issues/4108

[2018-02-06 05:24] cyio commented on #5405
@chris001 `ugrade` => `upgrade`

[2018-02-06 07:50] sgehrig commented on #5486
Running the `renew` command with `--installer none` works as well as a workaround on Ubuntu 16.04:

[code]

[2018-02-06 08:50] emil-totev opened #5544 "certbot-auto no longer working on ClearOS 6"
## My operating system is (include version):
ClearOS 6 (Based on CentOS / RHEL 6)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
I installed certbot-auto almost an year ago

## I ran this command and it produced this output:
#./certbot-auto renew
Bootstrapping dependencies for RedHat-based OSes that will use Python3... (you can skip this with --no-bootstrap)
yum is /usr

[2018-02-06 15:46] TingyiChen opened #5545 "Can't install certbot on Debian 9(Missing Dependencies)"
## My operating system is (include version):

Debian 9 Stretch
## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

apt install certbot
## I ran this command and it produced this output:

root@isaacchen-RFCHost:/etc/nginx/sites-available# apt install certbot
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be ins

[2018-02-06 15:47] TingyiChen commented on #5545
More log:
root@isaacchen-RFCHost:/etc/nginx/sites-available# apt install python3-certbot
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of I

[2018-02-06 16:33] urbenlegend commented on #5189
@bmw So I am running into this same issue right now. I have 2 Wordpress sites hosted via the same HTTP server. I can correctly renew for one of the Wordpress sites but the other one fails with this message

`
-------------------------------------------------------------------------------
Processing /etc/letsencrypt/renewal/domain2.net.conf
----------------------------------------------------------

[2018-02-06 17:04] joohoi commented on #5189
Please note that TLS-SNI challenge is now in sunset phase because of the following: https://community.letsencrypt.org/t/important-what-you-need-to-know-about-tls-sni-validation-issues/50811

Everyone should start moving their configuration towards HTTP or DNS validation.

[2018-02-06 17:25] urbenlegend commented on #5189
I tried HTTP challenge and I got a failure as well for the second domain.

[code]

Nikkon.org seems to be the name of the wordpress theme that domain2.net is using.

[2018-02-06 17:40] trinopoty commented on #5541
Your virtualhost block is malformed.
The first `</IfModule>` does not have a corresponding `<IfModule>`.
The 2nd `<VirtualHost *>` is incorrect; it should be `<VirtualHost *:80>`

[2018-02-06 18:09] ohemorange commented on #5486
@sgehrig what OS, certbot version, and Nginx version are you using?

[2018-02-06 19:03] sgehrig commented on #5486
@ohemorange `certbot 0.21.1`, `nginx version: nginx/1.10.3 (Ubuntu)` on `Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-1050-aws x86_64)`. nginx installed via Ubuntu packages, certbot installed via certbot PPA.

[2018-02-06 19:13] ohemorange commented on #5486
And just to check, did this setup previously work for people and has recently stopped working, or is everyone here a new Certbot user?

[2018-02-06 19:40] sgehrig commented on #5486
For me it was a completely fresh installation on an Amazon EC2 instance.

[2018-02-06 22:36] eicksl commented on #5541
Thank you for the reply. Sorry for not catching that. This file was automatically generated when running certbot. Actually, the first `<IfModule>` does exist (I clumsily left out the first line when I copied the code). The code inside the second `IfModule>` seems to have been automatically copied from my previous configuration file and I have edited it as you suggested. The entire file now looks a

[2018-02-06 22:38] bmw commented on #5368
Debian and Fedora/EPEL maintainers have agreed to try and package all of our DNS plugins before Feb. 27th. With #4767 remaining open, I think this can be closed.

[2018-02-06 22:38] #5368 closed

[2018-02-06 22:39] mmamani commented on #2653
0 upgraded, 0 newly installed, 0 to remove and 6 not upgraded.
Traceback (most recent call last):
  File "/tmp/tmp.hHVWNyycuV/fetch.py", line 17, in <module>
    from json import loads
  File "/usr/local/lib/python2.7/json/__init__.py", line 108, in <module>
    from .decoder import JSONDecoder
  File "/usr/local/lib/python2.7/json/decoder.py", line 5, in <module>
    import struct
  File "/usr/lo

[2018-02-06 22:48] bmw commented on #5491
@ohemorange, after you've designed the API you plan to implement for this issue, can you describe it here so I have a better idea of the changes we need to make in the rest of Certbot? I'm going to try and break up our current issues for ACMEv2 into smaller ones.

[2018-02-06 23:01] ohemorange commented on #5491
Ah yes, this should be pretty straightforward with the way #5287 is implemented:

In `certbot/client.py:acme_from_config_key`, we currently create an `acme/client.py:ClientNetwork` object, then create and return a `acme/client.py:Client` object. Instead, we'll create an `acme/client.py:ClientNetwork` object, fetch the directory, determine which version of the API we are based on that, and create a

[2018-02-06 23:03] ohemorange commented on #5491
Then we'll later be passing around an object usually named `acme` that will have an `acme_version` flag if we need to inspect it to figure out which to use.

[2018-02-06 23:27] ohemorange commented on #5491
This implementation would put the onus of "which acme version are we" outside of `acme`, which I just noticed goes against the title of this issue. The function "take a directory json and return the acme version" can live in `acme` if we want; `Client2` takes a directory when it's initialized (and `Client` can but you don't have to), so we'll have to fetch it outside anyway.

[2018-02-06 23:31] mkkeck opened #5546 "Howto script certbot running hooks only once"
I have some domains with certificates.
Now l want a script which could run only once pre hook (e.g. stop httpd, delete old certs). Then checks/renew all certs. After certbot has all done, then there should be run only one post hook (e.g. restart httpd, postfix, dovecot, copy files...)

Is that possible, perhaps with an example?

Mandy thanks.

### My operating system is:
CentOS 7.4

[2018-02-07 02:48] elf-pavlik opened #5548 "standalone works with --test-cert flag (acme-staging) but fails without it (acme-v01)"
## My operating system is (include version):
Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-112-generic x86_64)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
master of https://github.com/certbot/certbot.git

## I ran this command and it produced this output:
as **root** user:

[code]

## Certbot's behavior differed from what I expected because:

It generated a cert with staging `

[2018-02-07 06:51] mcassaniti commented on #1976
Seeing this issue still on Alpine Linux 3.7, even if I install certbot using pip. The issue I'm seeing is an EPERM with mmap. I'm running certbot inside a container.

[2018-02-07 06:52] trinopoty commented on #5541
The `<VirtualHost *:80>` should not be inside a `<IfModule mod_ssl.c>`. Move the 2nd VirtualHost block outside of all `IfModule` blocks.
If it still does not work, there's another problem. The problem is difficult to deduce without looking at the full configuration but I can think of a few things.

- Use `apachectl configtest` to check the configuration
- If apache does not start (check with `ps`

[2018-02-07 06:59] trinopoty commented on #5541
Looking at the message you posted, "Unable to connect to server - failed to connect to the server, it usually happens due to firewall restrictions". If an external server is unable to connect to your server, there can be one of few problems.

- The apache server is not running.
- As mentioned, the firewall is blocking incoming connections. Could be a network firewall that sits before your server.

[2018-02-07 07:39] abiaskosty commented on #5486
I also host it on EC2. It was setup 3-4 months ago and I can't say if the renewal process have issue or not.

[2018-02-07 09:25] renne opened #5549 "Support Core-Networks DNS-API"
[Core-Networks](https://www.core-networks.de/) offers a [DNS-API](https://beta.api.core-networks.de/doc/) to update zones on their nameservers.

Please support that API with a Certbot-plug-in.

[2018-02-07 17:27] iamdubx commented on #5340
@bcardarella I have the same issue, and removing block is not a solution

[2018-02-07 17:29] bcardarella commented on #5340
🤷‍♂️

[2018-02-07 17:33] hackuun opened #5550 "Error: duplicate listen options for [::]:443"
## My operating system is (include version):
Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
`sudo apt-get install python-certbot-nginx`

## I ran this command and it produced this output:
`nginx: [emerg] duplicate listen options for [::]:443 in /etc/nginx/sites-enabled/example.online:29
`

## Certbot's behavior differed from what I expected because:
It shou

[2018-02-07 19:27] bmw opened #5551 "Should install/enhance take --domains?"
Proposed for the install subcommand by Peter at https://github.com/certbot/certbot/pull/5536#issuecomment-363185524. The enhance subcommand works in a similar way by making use of an existing cert so Joona is considering this behavior for that command as well.

Do we want to do this? Should the behavior be identical?

[2018-02-07 19:31] pde commented on #5551
My default argument would be that all of Certbot's verbs should allow things to be specified in the same ways. Since `certonly` and `run` do this, it will be less confusing if all the verbs do. Though I could also see the case for erroring out if there are multiple plausible (valid, matching) lineages, and asking the user to provide a disambiguating `--cert-name` in that case.

[2018-02-07 19:51] pde opened #5552 "Certbot delete causes installers (and rollback?!) to stop functioning"
Was just messing around with the Apache installer and noticed the following nasty pattern:
[code]

[2018-02-07 19:52] pde commented on #5552
Observed with apache but may also affect nginx.

[2018-02-07 20:04] pde commented on #5552
No great options for fixing this, but a few ideas:

* Fix the `rollback` command
* Support a `--apache-ignore-broken-config` flag (would probably only work for the installer, not for authenticators)
* Pattern match on `SSLCertificateFile: file '/etc/letsencrypt/*' does not exist or is empty`, and have the isntaller ignore that specific error

[2018-02-07 20:07] pde opened #5553 "Support git as a reverter layer?"
The reverter and rollback commands are pretty unpleasant from a UX perspective right now. We could consider the option of working with server configs in git repos (either preexisting or make one for the user), which would allow a few things to be done better:

* Provide a rich command line for winding forward and back that people might already know
* Be able to record which changes were made by Ce

[2018-02-07 20:08] pde commented on #5553
I don't think we'd want to depend on `git`, but we could offer it to people who have git installed.

[2018-02-07 21:37] elf-pavlik commented on #5548
Problem seems to only relate to *standalone*, if I run run simple web server in `/tmp`
[code]

and change certbot command to use *webroot*

[code]

i get a valid certificate from *acme-v01*

[2018-02-07 22:13] bmw commented on #5491
We can also inspect the type of the object.

I think it'd be nice to put in acme so more people can benefit, but we certainly don't have to do so, especially initially.

Any thoughts on https://github.com/certbot/certbot/issues/5491#issuecomment-360670120 and trying to automatically handle the differences between the two classes?

[2018-02-07 22:15] ohemorange commented on #5491
I think whether or not that's a good idea will become more clear as we try to implement it.

[2018-02-07 23:44] ohemorange commented on #5491
I actually think that what we'd end up building re: https://github.com/certbot/certbot/issues/5491#issuecomment-360670120 is a shim over a `ClientV2` object that lets you call V1 functions from a client but call the actual V2 functions underneath.

[2018-02-08 00:03] elmariofredo commented on #5218
@eduvik thanks for adding azure-dns support! Just is there any trick how to make you branch working? After successful build it will return following:

[code]
Thanks!

[2018-02-08 01:21] bmw commented on #5486
The main problem here occurs if Certbot's Nginx plugin has to start Nginx and you later try to stop/start Nginx with `systemctl`. On most modern Linux systems, `service` is a wrapper around `systemctl`. If Nginx was already running and Certbot just has to reload Nginx to make it pick up changes to its configuration, there's not a problem. (This is why commands like `sudo certbot --authenticator st

[2018-02-08 01:35] bmw commented on #5491
I think probably doing something like that is a good idea if we can write the wrapper in a way that we don't lose much/any functionality. Otherwise, we basically have to write the code that handles the differences scattered throughout Certbot and the few other projects using the ACME library will have to do the same.

[2018-02-08 01:40] bmw commented on #5490
Did you guys think about how to handle cases where different Certbot plugins require different minimum versions? We don't have that problem yet, but if the Apache plugin requires Certbot 1.0 and the Nginx plugin requires Certbot 1.1, do we just keep reordering our tests as this changes to test the plugins with the minimum required version first?

[2018-02-08 01:53] bmw opened #5555 "apachectl vs systemctl problems?"
Does the problem described at https://github.com/certbot/certbot/issues/5486#issuecomment-363970559 affect the Apache plugin?

[2018-02-08 02:11] eicksl commented on #5541
Thank you again for the reply. The issue is now resolved. Bit of a mental lapse on my part. I'm using an Amazon Lightsail instance and forgot that I also needed to open port 443 via the Lightsail console. Opening ports with `ufw` alone is insufficient.

I also had a bit of trouble getting it to work with my WSGI app as per [this issue](https://github.com/certbot/certbot/issues/1820). I commented o

[2018-02-08 03:29] #5541 closed

[2018-02-08 04:54] haobingwang commented on #5534
centos-release-7-4.1708.el7.centos.x86_64

upgrade `pyOpenSSL 0.13.1`  from to `pyOpenSSL 17.5.0`

[2018-02-08 06:06] stevebovy opened #5556 "Better support for running in primarily read-only embedded environments"
## My operating system is (include version):

Linux RT-AC66U_B1 2.6.36.4brcmarm #1 SMP PREEMPT Wed Jan 31 17:32:52 CST 2018 armv7l GNU/Linux

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

With Imbedded OS;  the majority OF the  OS  file System is Read Only; any installation
program must be configured to install in alternate locations where things can be saved in a perm

[2018-02-08 07:43] pde commented on #5553
Or use https://github.com/dulwich/dulwich, which is a pure Python implementation of git.

[2018-02-08 11:47] ciprianflorescu commented on #5405
Thanks for your answers, I already bought a cert from a provider.

@falconmick So this time if something doesn't work, I can actually get that refund you were so concerned about.

[2018-02-08 12:59] elmariofredo commented on #5218
@eduvik AWESOME! It's working sorry didn't realised that I have to explicitly build `certbot-dns-azure` plugin, for others struggling see my Dockerfile diff below.

If you want I can try to add tests as per @joohoi suggestion.

Let me know

Cheers!

[code]

[2018-02-08 15:27] bbashel1 commented on #5486
When I ran this
certbot --authenticator standalone --installer nginx --pre-hook "service nginx stop" --post-hook "service nginx start"

 I get  Following error:
_Cleaning up challenges
Running post-hook command: service nginx start
Hook command "service nginx start" returned error code 1
Error output from service:
Job for nginx.service failed because the control process exited with error code. See

[2018-02-08 16:20] SwartzCr commented on #4850
@trajano Are you running certbot on windows?
also tagging @bmw to take over this ticket

[2018-02-08 16:21] SwartzCr commented on #5100
Maybe it's time to close this issue then?
@bmw to take over this ticket

[2018-02-08 16:25] SwartzCr commented on #5521
It seems like your domain is unreachable by the acme server. Can you make sure that it's up and running?
If it is you can use the `--debug-challenges` flag to make sure that the .well-known directory is being properly written to.
Tagging @bmw to take over this ticket

[2018-02-08 16:25] SwartzCr commented on #5522
How are you currently using certbot?
Tagging @schoen to take over this ticket

[2018-02-08 16:29] lsbyerley commented on #5522
@SwartzCr any idea when that new package for ubuntu will be available?

[2018-02-08 16:48] trinopoty commented on #5555
On Ubuntu 16.04, `systemctl` uses `apachectl` to manage the apache daemon. It directly calls (more or less) `apachectl start` and `apachectl stop` to start/stop the apache daemon.
apachectl manages the apache daemon by invoking the apache2 binary located at `/usr/sbin/apache2`.
So, it doesn't really matter which is used to start/stop apache at least on Ubuntu.

[2018-02-08 17:05] trajano commented on #4850
@SwartzCr yes and no.  I was looking for this ticket earlier so I can post the solution.  The issue is that certbot requires the use of symlinks which are not available in Windows and CIFS shares by default do not support symlinks

I say yes and no because I am running Docker inside a Linux VM guest hosted on a Windows box whose drives are shared via SMB using the https://github.com/ContainX/docke

[2018-02-08 17:24] bmw commented on #5555
I actually think we have the same problem here unfortunately at least on Ubuntu 16.04 due to `ExecStop` not being run if the service wasn't started with `ExecStart` ([source](https://www.freedesktop.org/software/systemd/man/systemd.service.html)). To see this, run:

[code]
The same thing happens if you use `systemctl` directly rather than `service`.

[2018-02-08 17:36] trinopoty commented on #5555
On further investigation, it seems that systemd is unable to detect apache started with `apachectl`. But I've always mixed the two commands and never encountered any problem.

[2018-02-08 21:28] elf-pavlik commented on #5548
After trying with different subdomain, both servers didn't generate certificate when using `--standalone` while both work fine with `--webroot` combined with `python -m SimpleHTTPServer 80`. I'll create new issue focused on problem with running `--standalone`

[2018-02-08 21:29] #5548 closed

[2018-02-09 01:16] bmw commented on #5491
I updated #5367 with a number of considerations for this PR (and/or other small changes in acme).

[2018-02-09 01:35] HaeckDesign commented on #5405
Thank you to the whole Certbot team!!  We're starting a monthly donation to EFF in your honor (https://supporters.eff.org/donate) - If there's a way to earmark it for your team, please let us know.

[2018-02-09 01:43] eduvik commented on #5218
@elmariofredo Glad to see you got it working. I've changed jobs recently and don't have any need for this anymore, nor any time to work on it unfortunately. Feel free to add tests, or indeed to take over this little part of the project.

Cheers,

[2018-02-09 04:37] NijiharaTsubasa opened #5559 "certbot --nginx success but certbot renew fail"
## My operating system is (include version):
CentOS 7

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
yum install  certbot-nginx

## I ran this command and it produced this output:

[code]

## Certbot's behavior differed from what I expected because:
I think the above is self-explained though...

## Here is a Certbot log showing the issue (if available):
(I'll attach it

[2018-02-09 08:39] neoadventist commented on #5550
@iamdubx did you figure this out? I'm having the same issue.

[2018-02-09 11:03] xgaia commented on #5521
My domain is actually running, if I create a file in .well-known directory, I can acces it with <mydomain>/.well-known/test.

`certbot renew --debug-challenges` return

[code]

[2018-02-09 12:04] quen2404 commented on #5550
Same issue... It works for my default site, but not for custom sub domain

[2018-02-09 13:55] varunyellina commented on #5550
I'm having the same issue.

I do have a config to catch multiple domains though.

[code]

I get `nginx: [emerg] duplicate listen options for [::]:443 in /etc/nginx/sites-enabled/others:19` for this config.

Any help?

[2018-02-09 20:05] itsnotv commented on #5534
try `pip install --upgrade --force-reinstall 'requests==2.6.0'`

[2018-02-09 20:09] amattn commented on #5550
Same problem.

I ran the command: `certbot --redirect --nginx -d readacted.com -d www.redacted.com`

my original conf file looks like:

[code]

according to /var/log/letsencrypt/letsencrypt.log I see certbot is trying to do this:

[code]

nginx complains that on the line `listen [::]:443 ssl ipv6only=on; # managed by Certbot`

the actual error message:

`nginx: [emerg] duplicate listen options for

[2018-02-09 21:12] erikrose commented on #5490
No, but, on a brief minute of thought, it seems like that should be handled in the test suites of the individual plugins: Apache should test with certbot 1.0 and nginx with 1.1. Or were you thinking of still coupling the packages together under the auspices of one gigantic test suite? I'd suggest making a list of pros and cons, if so; there is probably value in decoupling "all the way".

[2018-02-09 22:25] bmw commented on #5490
The way that the unit tests currently work is for each Python version we have a tox environment that iterates over our packages installing and testing them. This looks something like:

1. Install acme.
2. Test acme.
3. Install Certbot.
4. Test Certbot.
5. Install certbot-apache.
6. Test certbot-apache.
7. Install certbot-nginx ...

This uses a single Python virtual environment for all tests. I thi

[2018-02-09 22:49] bmw commented on #5367
@jsha, I could use an ACMEv2 sanity check.

Certbot has a flag called `--allow-subset-of-names` which causes it to issue a cert if its able to obtain a valid authz for any of the requested domains. Any domains where Certbot failed DV are removed from the cert. This flag has been controversial and we've considered deprecating/removing it (see #4470), but just to make sure I properly understand our

[2018-02-09 23:08] elmariofredo commented on #5218
Ok will try to do my best, WIP PR here #5560

Cheers 🍻

[2018-02-10 00:32] jsha commented on #5367
Yep, you'd create a second order. In practice Boulder would reuse the valid authorization, but true that that is not guaranteed by ACME>

[2018-02-10 00:32] #4519 closed

[2018-02-10 03:36] zanzindorf opened #5562 "ImportError crashes certbot on install - Windows 10 - Bash"
## My operating system is (include version):
Windows 10 Home (64-bit)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
On Windows 10 with official Ubuntu app, running bash in administrator mode.

## I ran this command and it produced this output:
`
root@ZZDPC:/mnt/c/Windows/System32# sudo wget https://dl.eff.org/certbot-auto
--2018-02-09 21:06:31--  https://dl.eff.org/cer

[2018-02-10 09:37] aweleey opened #5563 "letsencrypt-auto -n"
错误：软件包：python2-certbot-0.21.1-1.el7.noarch (epel)
          需要：python2-psutil >= 2.1.0
 您可以尝试添加 --skip-broken 选项来解决该问题
** 发现 5 个已存在的 RPM 数据库问题， 'yum check' 输出如下：
bt-php-5.4.45-1.el7.centos.x86_64 有缺少的需求 libiconv
bt-php-5.4.45-1.el7.centos.x86_64 有缺少的需求 libmcrypt
bt-php-5.4.45-1.el7.centos.x86_64 有缺少的需求 libmcrypt.so.4()(64bit)
bt-php-5.4.45-1.el7.centos.x86_64 有缺少的需求 mcrypt
bt-php-5.4.45-1.el7.cent

[2018-02-10 14:17] bmw opened #5564 "Clearly document how to do DNS challenges with Certbot"
Suggested at https://community.letsencrypt.org/t/article-certbot-auto-with-dns-based-renewal/52695 and this will become a popular question with the ACMEv2 endpoint.

[2018-02-10 16:02] hgl commented on #5333
Actually, using pipe as suggested by @bmw is enough to get this to work:

1. Mount a dir to host. E.g., `docker:/foo` -> `host:/tmp/foo`
2. `docker run certbot renew --post-hook 'touch /foo/renewed'`
3. When the command returns, check if `/tmp/foo` exists on the host

[2018-02-10 16:02] #5333 closed

[2018-02-10 20:57] jvanasco commented on #4767
Have you considered a `certbot-auto` command to register and track desired plugins?

i.e. one might do `certbot-auto --install-plugins lexicon`, which would do the following:

* track the plugins as managed (e.g. lexicon) in the config directory (e.g. /etc/letsencrypt)
* install the plugins via pip
* on certbot upgrades, install the tracked/managed plugins in /etc/letsencrypt

it would only work f

[2018-02-11 00:29] LFP6 opened #5565 "Support Nginx Stream"
I'm using an Nginx `stream` context to proxy an (IRC) server and provide SSL (per https://www.nginx.com/resources/admin-guide/nginx-tcp-ssl-termination/). It would be great for Certbot to automatically configure SSL on these as well.

[2018-02-11 00:41] luxaritas opened #5566 "Support installing to multiple vhosts"
(Note: I know this applies to Nginx, but with my limited knowledge of Certbot I don't know whether this applies to Apache or not)

I have multiple contexts and servers set up in my Nginx configuration, including a `stream` proxy (see #5565) listening on port 6697 and a regular `http` proxy listening on 443. I would like for Certbot to configure both (including the SSL cert, key, dhparams, etc). On

[2018-02-11 20:05] tuxbox commented on #5533
This issue can be closed, the error was caused by an invalid redirect on the server. only thing to improve could be better logging to figure that out from the debug log. for reference see this thread https://community.letsencrypt.org/t/certbot-cannot-renew-issue-certificates/52724/3

[2018-02-11 20:05] #5533 closed

[2018-02-12 10:18] victor-lund commented on #5034
Reading what @jroper found gave me some head ache. I had no idea that certbot installed a systemd timer on my system (debian). But i checked, and it did.

I believe  this could explain why my renew-hook isn't working. I always believed that I had to install a cron job in order to automatically renew my certificates and restart my webserver with a renew-hook. As of now, I have some suspisions my cr

[2018-02-12 16:05] erikrose commented on #5490
I don't have a super-strong opinion about it. If you want to optimize for fast Travis runs, maintaining the test setup becomes an error- and work-prone human task. Going the other way inverts both of those.

[2018-02-12 16:35] erikrose commented on #4767
Sure, that's a fine UI. Unfortunately, I don't think it solves any of the technical issues surrounding pinning.

[2018-02-12 17:14] alanbirtles opened #5567 "Warn about out-dated apache access control configurations when performing http-01 validations"
If an apache configuration file contains old style access control directives the temporary directives added by certbot may be ignored (http://httpd.apache.org/docs/current/upgrading.html), this leads to a 403 during validation of http-01 validations.
It'd be nice if cerbot raised a warning/failed when trying to add access control directives in the presence of the 2.2 style directives. Alternativel

[2018-02-12 17:21] victor-lund opened #5568 "Can i test my renew-hooks via certbot?"
certbot 0.10.2
Debian Jessie

I've created the directories:

/etc/letsencrypt/renewal-hooks/pre/
/etc/letsencrypt/renewal-hooks/post/
/etc/letsencrypt/renewal-hooks/deploy/

and put som scripts in them. Nothing fancy, just echoing some timestamps to a log file, and restarting nginx.

So I thought I'd test if the scripts ran properly by executing:

`sudo certbot renew --noninteractive --force-renew

[2018-02-12 19:01] bmw commented on #5490
Going the other way meaning to build that toxenv matrix of X packages times Y Python versions?

Not to get too off topic, but related to this I've been considering trying to break this repo into separate repos for each piece which would make testing like this more natural in my opinion. Do you have any opinions on this?

[2018-02-12 19:47] erikrose commented on #5490
I'm +1 on multiple repos (one per plugin, right?) iff we decouple the tests. It's what most of the tools assume, so it cuts down on the exceptional config we have to write/maintain/teach. As for Travis efficiency, we should be able to use their caching to avoid having to reinstall heavy deps like acme or certbot itself all the time. As a first cut, I'd suggest a {Python versions} * {oldest-support

[2018-02-12 19:48] bmw commented on #4850
Thanks for providing the solution @trajano.

Unfortunately, Certbot's directory structure relies heavily on symlinks so fixing this in Certbot won't be a quick and easy fix, but I'm glad to see there is a workaround for Docker users.

[2018-02-12 19:51] bmw commented on #5521
Hey @xgaia. Sorry to see you're having trouble here.

If you're still having issues, I'd recommend you make a post at https://community.letsencrypt.org/ which has a much more active community to help you debug issues with Certbot, Let's Encrypt, and your server configuration. If it ends up being a bug in Certbot, please let us know.

[2018-02-12 19:51] #5521 closed

[2018-02-12 20:31] bmw commented on #5490
The shallow dep list is a great idea. I have a couple minor concerns:

1. What happens when the oldest version of dep we need to support for Python 2.7 distro packaging doesn't work on a newer Python like 3.6?
2. What happens when a new version of a dependency drops support for a Python version we're still supporting?
3. Do we want to maintain a deep list of dependencies of the plugin that aren't

[2018-02-12 20:42] #5100 closed

[2018-02-12 22:32] schoen commented on #5556
Hi @stevebovy,

This is a great idea, but I don't think it's something that we'll be able to address quickly because it may touch a great many different areas of Certbot and not many people have been asking for this.

I hate to send people away to other ACME client projects because I don't want to make it sound like we don't care about particular use cases, but have you looked at some of the other

[2018-02-12 22:38] stevebovy commented on #5556
Thanks for the reply :)

Yes : I have been trying  to find a shell script client that does not have a boat-load of pre-reqs.     It is an interesting challenge trying to hack your way  thru

Undocumented router firmware which could be based on multiple different sources

From: schoen [mailto:notifications@github.com]
Sent: Monday, February 12, 2018 2:33 PM
To: certbot/certbot <certbot@noreply.gith

[2018-02-12 22:40] schoen commented on #5523
I don't understand the underlying reason for this, so someone familiar with packing issues should probably take a look at it at some point. While it's great that the community has found a workaround, the workaround probably shouldn't have been necessary in the first place. :slightly_smiling_face:

[2018-02-12 22:49] schoen commented on #5527
Hi @birdvidorg, did you also happen to try to get any help on the Let's Encrypt Community Forum?

Do you have the logs available from `/var/log/letsencrypt` so that we can understand more about the circumstances of this error?

How did you install Certbot, and do you know what version of Certbot you're using?

[2018-02-12 22:50] schoen commented on #5532
Thanks for the report! We'll track this issue at #5543.

[2018-02-12 22:50] #5532 closed

[2018-02-12 22:56] schoen commented on #5568
Hi @victor-lund,

I think this is a problem with your Certbot version. According to our changelog, Certbot's support for renewal hook directories was only added in version 0.19.0. So this functionality isn't yet present in your version of Certbot.

There are various ways that you can get a newer version of Certbot if you'd like, but you'll probably have to go outside of your OS package repositorie

[2018-02-12 22:56] #5568 closed

[2018-02-12 23:18] Ardakilic commented on #4776
For recent versions, I had to delete|rename the `/opt/eff.org/` folder. Using the git version of certbot.

[2018-02-13 00:00] birdvidorg commented on #5527
No, I got my answer here: https://docs.bitnami.com/aws/how-to/generate-install-lets-encrypt-ssl/

[2018-02-13 00:00] #5527 closed

[2018-02-13 00:35] schoen commented on #5537
Hola @jusebastian,

¿Tiene un problema específico? Parece que ha proporcionado una lista de pasos que lograron. Si tiene un error o problema, ¿puede intentar de nuevo presentándolo en nuestro foro?

https://community.letsencrypt.org/

Hay hispanohablantes en el foro y es posible discutir problemas en Español allá.

Si solo quería mostrarle a otras personas cómo hacerlo y los pasos que ellos necesi

[2018-02-13 00:35] #5537 closed

[2018-02-13 00:36] schoen commented on #5559
Hi @NijiharaTsubasa ,

Would you be willing to try asking this question on our Community Forum?  https://community.letsencrypt.org/

There are many more people there who are willing and able to help with debugging server configuration issues related to Certbot. This issue queue here is only meant for use when we're sure there's a bug in Certbot itself that we'll need to fix (which might be true in

[2018-02-13 00:44] #5510 closed

[2018-02-13 00:44] schoen commented on #5562
Hi @zanzindorf ,

We don't really support Windows in Certbot yet, and it seems that the Unix layer is also missing some features required in this case for the Python cryptography library to load its OpenSSL dynamic library. It would be interesting to figure this out, but I suspect that the people better equipped to understand why this fails are either the Microsoft or Ubuntu developers who've crea

[2018-02-13 00:47] schoen commented on #5545
@joohoi, do you know why this might be happening?

[2018-02-13 00:53] schoen commented on #5546
Hi @mkkeck, could you please try asking on the Let's Encrypt Community Forum?

https://community.letsencrypt.org/

This issue queue is meant only for reporting bugs with Certbot, and many, many fewer people look at it, in contrast to the very active support community on the Forum. Thanks!

[2018-02-13 00:53] #5546 closed

[2018-02-13 00:54] schoen commented on #5550
@ohemorange, do you know if we have an existing issue tracking this? It feels familiar to me but I don't remember whether or not it's something that we've looked into before.

[2018-02-13 00:55] schoen commented on #5559
I am going to close this right now, but if you ask on the forum and we conclude that Certbot isn't performing as designed, we can reopen this issue here as well. Thanks.

[2018-02-13 00:55] #5559 closed

[2018-02-13 01:01] schoen commented on #5563
嗨 @iwlog，

对不起，这是机器翻译，因为我不会说中文。

你愿意尝试在论坛上发帖吗？

https://community.letsencrypt.org/

那里有更多的人，他们中的一些人也可以说中文（虽然不是很多）。

如果我能找出有关您的问题的任何信息，我也会通知您。 抱歉给你带来不便。

[2018-02-13 01:13] schoen commented on #5567
Hi @alanbirtles, could you give us an example of a configuration file where this happens to help my colleagues understand this problem better?

Thanks for letting us know about this.

[2018-02-13 01:14] schoen commented on #5566
Hi @LFP6, could you please give us a sample configuration illustrating how this works? I'm not familiar with this setup and I'm not sure offhand whether my other colleagues are either.

[2018-02-13 01:15] schoen commented on #5544
@bmw, do you know what's going on here?

[2018-02-13 01:17] schoen commented on #5535
Hi @KhairulAzmi21

Could you please ask about this on the forum?

https://community.letsencrypt.org/

Thanks! There are a lot more people there who should be prepared to help.

This error is strange and makes me wonder if you tried to rename things or reorganize things within `/etc/letsencrypt` somehow. But it would be better to continue that conversation over on the forum rather than in this issu

[2018-02-13 01:17] #5535 closed

[2018-02-13 01:23] ohemorange commented on #5550
I have never seen this before. Looks like they fixed the original bug, except when you're using IPv6. And since we just launched IPv6 support, that's why people are hitting this. The solution above will work; I'll see if there's a reason this hasn't been fixed in Nginx for IPv6 yet.

[2018-02-13 02:48] LFP6 commented on #5566
Yes, of course, should have done that before. It would wind up looking something like this (abbreviated, with two HTTP servers and a stream server):

[code]

[2018-02-13 07:12] sunitknandi opened #5569 "Certbot PPA version no longer working on Ubuntu 14.04"
After a software update via `apt-get upgrade` my certbot no longer works. My older version used to be 0.19 which worked perfectly, but the newer version 0.21.1 does not even start due to `ValueError: 'new_authzr_uri' in __slots__ conflicts with class variable`. Would you look into this and let me know how to fix it?

## My operating system is (include version):
[code]

## I installed Certbot with

[2018-02-13 07:33] alanbirtles commented on #5567
I didn't investigate fully exactly which blocks were causing the problem but I think the main culprit was
[code]
Which prevents any require directives from having an effect. I then had the following to allow access to the web root
[code]

[2018-02-13 08:36] joohoi commented on #5545
It seems that you are trying to use Ubuntu PPA packages in your Debian 9 environment, this unfortunately doesn't work, as you noticed. The Certbot 0.21 is on its way to Debian backports, so it should soon be available for installation as instructed on the [Certbot website](https://certbot.eff.org/#debianstretch-other).

[2018-02-13 13:18] jfmessierdotca commented on #5405
Just to mention that the command that was previously shown for a system by "BMW" actually works as-is for Raspbian OS on my Raspberry pi:

`certbot --authenticator standalone --installer apache -d <yourdomain> --pre-hook "systemctl stop apache2" --post-hook "systemctl start apache2"`

I only substituted "-d <yourdomain>" with the multiple ones I have for my cert. And since I have several domain na

[2018-02-13 18:07] bmw commented on #5544
Hi @emil-totev, sorry for the trouble.

Unfortunately, I'm not familiar with ClearOS, but I'll tell you what certbot-auto is doing on RHEL 6 based systems and maybe you can tell me what's going wrong. In our last major release, we deprecated support for Python 2.6. Now when you run certbot-auto on RHEL 6 based systems, it tries to install Python 3.4 from [EPEL 6](https://fedoraproject.org/wiki/EPE

[2018-02-13 18:40] emil-totev commented on #5544
ClearOS  actually have their own "EPEL" in repository clearos-epel.
[code]
So probably you should parse the output in order to get the correct repository name.
In my case it was disabled, but running
[code]
installed it, and then certbot-auto was able to finish its job.

Thank you very much for your assistance! Let me know if I can be of more help.

[2018-02-13 18:54] bmw commented on #5209
I think this issue has been resolved on the community forums. If not, please comment and I'll reopen.

[2018-02-13 18:54] #5209 closed

[2018-02-13 22:17] #4741 closed

[2018-02-13 22:37] ohemorange commented on #5550
Actually, you don't even have to do the `ssl on` change -- removing `ipv6only=on` from either or both fixes the problem.

@joohoi, we probably want to fix this by either removing `ipv6only=on` completely or only putting it in once per unique address line that we add. Do you have a sense of what would be best here?

[2018-02-13 22:40] sydneyli commented on #5280
Something like this would prevent future Travis false negatives like in #5531, where `set -e` didn't cause the program to exit because an error occurred inside a conditional.

[2018-02-13 22:44] sydneyli commented on #5280
Maybe [shellcheck](https://github.com/koalaman/shellcheck)?

[2018-02-13 22:45] bmw commented on #5280
Maybe! To be honest, I haven't done any research into potential linters we could use here but I've heard of shellcheck before.

[2018-02-14 00:08] nuxwin commented on #4741
@sydneyli Thank youf or merging this ;) That is much appreciated.

[2018-02-14 00:26] #5545 closed

[2018-02-14 02:08] zanzindorf commented on #5562
Thanks schoen for getting back to me. Thankfully, I was able to get Let's Encrypt running on my website by switching to another hosting service, one that has built in support for Let's Encrypt. My previous host was being less than helpful. So as a result, I don't need the Windows 10 support anymore.

I'd like to help troubleshoot the issue, but I'm afraid I'm a bit out of my league with this kind

[2018-02-14 02:19] ohemorange opened #5570 "main_test.py spits out tons of junk"
This, over and over:

[code]

We should probably fix that.

[2018-02-14 03:02] keith-mojo commented on #5544
It should be noted that the EPEL repo must be Enabled for this to work.
I had to edit /etc/yum.repos.d/epel.conf and set enabled=1 before certbot-auto could install the necessary packages.

May I suggest that certbot-auto be modified to run "yum --enablerepo=epel".

[2018-02-14 04:29] rushilsrivastava commented on #5550
Having the same issue here. Everything was fine for my first domain. The second domain started having these issues.

[2018-02-14 04:53] Ttech opened #5571 "--manual / dns update does not work (standalone is no longer supported)"
## My operating system is (include version):
Arch Linux 4.14.14 x86_64

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
pacman -S certbot certbot-dns-rfc2136

## I ran this command and it produced this output:

certbot certonly --manual --preferred-challenges=dns --manual-auth-hook "/opt/toolkit/bin/certbot-dns-updater.sh pre" --manual-cleanup-hook "/opt/toolkit/bin/certb

[2018-02-14 08:07] joohoi commented on #5550
It looks like Certbot is unable to detect ipv6only directive completely for some reason. Removing that would fix the issue for *most* of the users. This can cause some issues with really old Nginx versions, as the behavior of ipv6only and the defaults have changed over the time.

[2018-02-14 10:05] victor-lund commented on #5568
@schoen

I tried the same on a system with the following specs

certbot 0.21.1
Debian Buster

I still couldn't get the scripts to execute when running:
`
sudo certbot renew --logs-dir /home/user/certs/logs --work-dir /home/usercerts/work --config-dir /home/user/certs/conf --force-renewal`

These are my scripts:

cat /etc/letsencrypt/renewal-hooks/pre/testscript
[code]

cat /etc/letsencrypt/renewal

[2018-02-14 11:39] artemzakholodilo opened #5572 "I'm trying to config certbot for nginx with command sudo certbot --nginx, and now my site not available. What's wrong?"
If you're having trouble using Certbot and aren't sure you've found a bug or
request for a new feature, please first try asking for help at
https://community.letsencrypt.org/. There is a much larger community there of
people familiar with the project who will be able to more quickly answer your
questions.

## My operating system is (include version):
Ubuntu trusty trust

## I installed Certbot wit

[2018-02-14 13:09] bstin opened #5573 "Debian 9 - Broken Packages for stretch-backports"
If you're having trouble using Certbot and aren't sure you've found a bug or
request for a new feature, please first try asking for help at
https://community.letsencrypt.org/. There is a much larger community there of
people familiar with the project who will be able to more quickly answer your
questions.

## My operating system is (include version):
    $cat /etc/issue.net
    Debian GNU/Linux 9

[2018-02-14 13:52] joohoi commented on #5573
This unfortunate situation is caused by a new part of the Certbot Debian packaging - the acme module being split into its own package, and has to go through a "NEW" package state through the release channel. Certbot will be uninstallable in stretch-backports for a couple of days because of this.

[2018-02-14 14:04] bstin commented on #5573
Thanks for the update. Will wait it out.

[2018-02-14 14:17] artemzakholodilo commented on #5572
I see that kerberos already installed on my server and listen port 88

[2018-02-14 15:20] sunitknandi commented on #5569
@ohemorange and @bmw , here is the output with Python 2.7
[code]

[2018-02-14 16:16] #5485 closed

[2018-02-14 17:28] #5188 closed

[2018-02-14 17:32] bmw commented on #5544
I suspect the repo not being enabled caused the initial problem in this issue. We currently don't provide any flags like this to `yum`. My only concern with this is if the name of the repo varies on different systems. Apparently it's clearos-epel on ClearOS for example.

[2018-02-14 17:46] erikrose commented on #5490
1. Good question. [Platform-specific deps can be expressed with setuptools](https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-platform-specific-dependencies), which is nice. If this corner case happens, we may have to expand the matrix to {Python 2 versions} * {oldest-supported Python 2 deps, newest deps} + {Python 3 versions} * {oldest-supported Python 3 deps, newest deps}. Do

[2018-02-14 17:55] bmw commented on #5569
Yes. Now that we've removed josepy from this repo, all of our normal tests use josepy rather than the previous JOSE code that was embedded in ACME including our Travis tests that run with Python 3.4 on the test-everything branch.

@sunitknandi, I think your problem is mixed packages from your `apt` and `pip`. If you look at your initial traceback, you'll see packages from `/usr/local/lib` being us

[2018-02-14 17:56] victor-lund commented on #5568
@schoen Can you re-open this issue, please?

[2018-02-14 18:37] bmw commented on #5571
Do you have a configuration file in `/etc/letsencrypt/cli.ini` or `${XDG_CONFIG_HOME:-~/.config}/letsencrypt/cli.ini` specifying standalone and standalone supported challenges?

[2018-02-14 18:41] attie-argentum commented on #5550
Apologies for the nasty patch, but this fixed it for me, hopefully there will be a proper fix soon!

[code]

[2018-02-14 18:46] bmw commented on #5572
What's the problem here? `sudo certbot --nginx` was able to obtain a certificate and install it for use with your Nginx webserver. Looking at ssllabs though, it looks like your server isn't reachable.

I'd like to encourage you to ask for help at https://community.letsencrypt.org/ as they'll be able to better help you debug any problems you're having. If a problem with Certbot gets identified, fee

[2018-02-14 18:46] #5572 closed

[2018-02-14 19:54] sydneyli commented on #1003
Re-opening until bugfix is landed.

[2018-02-14 22:11] erikrose commented on #5456
As I graphed out the dependencies of certbot and its default plugins, it seemed like enum34 was used only for the setuptools extras `testing` and `dev`—not suitable for installation by certbot-auto. However, I finally determined that it's pulled in by cryptography, via a setuptools extra where they (strangely?) stowed an environment marker of ":python_version < '3'".

[2018-02-14 22:34] erikrose commented on #5456
[It's not enough to fix enum34.](https://bitbucket.org/stoneleaf/enum34/issues/21/setuppy-should-no-op-for-python-34#comment-43295808) (We could do some crazy thing where we turn enum34 into just a wrapper package that uses environment markers to install (or choose not to install) a core package that does the work, but…yuck.) It looks like enum34 is pulled into certbot-auto installs only by crypto

[2018-02-14 22:38] erikrose commented on #5456
Ugh, unfortunately, this does nothing for certbot-auto, which has no affordance for conditional deps anymore. Back to the old drawing board.

[2018-02-14 22:39] erikrose commented on #5456
Wait, we're [dropping 3.3 support](https://github.com/certbot/certbot/issues/5312)! So, once that's done, we can fix cryptography's env marker, remove enum34 from our certbot-auto pinnings, and we're golden. Phew!

[2018-02-14 23:29] bmw opened #5575 "Delete old backups when --max-log-backups is provided"
Originally reported at https://community.letsencrypt.org/t/certbot-max-log-backups-not-working-as-expected/53090, if you have more than X logfiles and run certbot with `--max-log-backups Y` where Y is less than X, Certbot won't delete older logfiles and just manages manages the ones whose suffix is <= Y. We should delete the older logfiles.

We'd accept a well written PR to fix this.

[2018-02-15 00:08] bmw commented on #5490
Thanks for all your thoughts. I'll respond to all comments soon, but for now I'll only respond to this comment as it's the most pressing as we need to break lockstep between our packages for the next release which requires we change our testing a bit.

So my goal here is to delay major testing refactoring until we're not under a tight [deadline for ACMEv2](https://letsencrypt.org/2017/12/07/lookin

[2018-02-15 00:21] thehackadmin commented on #5439
I am having this same problem.  I was able to work around the issue during the initial install with this change:
`certbot --authenticator standalone --installer apache --pre-hook "systemctl stop httpd" --post-hook "systemctl start httpd"`

but the renew would not work.  Tried:
`certbot renew --dry-run --pre-hook "systemctl stop httpd" --post-hook "systemctl start httpd" --renew-hook="systemctl rel

[2018-02-15 02:10] bmw commented on #5367
@joohoi and @ohemorange, we should come up with a plan for how we're going to handle wildcards in Apache and Nginx for `deploy_cert` and `enhance`. It'd also be great if you guys can own those tasks respectively.

I believe both of you have expressed a preference for the same plan: If the domain is a wildcard, show the user a list of vhosts to choose from. As far as I'm concerned, this can be all

[2018-02-15 03:54] Maxwell2022 commented on #5252
@SwartzCr I just noticed that it's creating new certificates suffixed by `0001`, `0002`, ... so when I restart nginx it's still pointing to the initial certificates.

Is there any builtin solution to override the existing file instead to create new ones?