[2017-08-28 20:09] #2713 closed

[2017-08-28 20:14] SwartzCr commented on #2938
I'm going to close this issue since we have achieved all of the initial goals for this.
People contributing to documentation are now involved in separate more specific issues about documentation. If anyone notified by this issue's closure wants to continue to work on documentation - feel free to ping me and I can point you at useful issues. Alternately the 'documentation' tag is a good place to fi

[2017-08-28 20:14] #2938 closed

[2017-08-28 20:16] SwartzCr commented on #3408
Not only did we merge a change to ask before bootstrapping, but we're now installable via emerge, so I am closing this

[2017-08-28 20:16] #3408 closed

[2017-08-28 20:22] SwartzCr commented on #3386
I believe this is resolved by https://github.com/certbot/certbot/pull/4137, so I will close this issue

[2017-08-28 20:22] #3386 closed

[2017-08-28 20:29] SwartzCr commented on #3433
@jsoref do we still fail by default on RHEL 6? i.e. is #3992 still valid?

[2017-08-28 20:32] SwartzCr commented on #3544
This seems to be fixed in https://github.com/certbot/website/pull/208
Feel free to still provide feedback on https://github.com/certbot/website/pull/195
But I am going to close this issue, since the website now gives an installation path

[2017-08-28 20:32] #3544 closed

[2017-08-28 20:35] SwartzCr commented on #3548
@bmw is there a way we can fix this? Should we place this into a milestone?

[2017-08-28 20:38] SwartzCr commented on #3702
@joohoi want to better categorize this - or put it in a milestone?

[2017-08-28 20:39] SwartzCr commented on #3707
I think this is no longer an issue, so I'm closing it

[2017-08-28 20:39] #3707 closed

[2017-08-28 20:41] SwartzCr commented on #3778
The digital ocean article in question has been updated, closing

[2017-08-28 20:41] #3778 closed

[2017-08-28 20:44] SwartzCr commented on #3783
Ah - okay, this is a simple missing file issue, closing

[2017-08-28 20:44] #3783 closed

[2017-08-28 20:46] SwartzCr commented on #3818
I am closing this issue since it seems to be stale and no one else has reported issues with certbot-auto on fedora. Feel free to re-open, or prompt me if you feel that this is still an issue

[2017-08-28 20:46] #3818 closed

[2017-08-28 20:55] bmw commented on #2364
I don't think so. The order certs are renewed is not defined, so let's say `certbot renew` needs to renew one cert with standalone and one with webroot. While you're able to use `--renew-hook` start/stop your server after the first issuance with `--renew-hook`, you're unable to do this for the first cert.

Additionally, you could have multiple certs of each type and you have no way of knowing whet

[2017-08-28 21:01] SwartzCr commented on #4169
I am going to close this issue as stale, users who are still experiencing issues should open new ones so that we can properly address them

[2017-08-28 21:01] #4169 closed

[2017-08-28 21:03] SwartzCr commented on #4961
reasonable, I'll investigate it once I'm back in the office

[2017-08-28 21:04] bmw commented on #3548
There are supposedly some games you can play to reset the kernel's file handle cache that were described in the Stack Overflow post I linked above. If that's the actual issue, we could look into doing something like that.

While we should do what we can here, this isn't a super common use case and don't think it's one of the highest priorities for the Certbot team. I'd recommend placing it in the

[2017-08-28 21:04] #4792 closed

[2017-08-28 21:13] SwartzCr commented on #4203
I believe that this is now fixed via --expand. Additionally it seems that we wouldn't want to support a specific fix for this, so I am closing the issue.

[2017-08-28 21:13] #4203 closed

[2017-08-28 21:14] SwartzCr commented on #4184
I am going to close this since we don't have a log and we can't reproduce it. If we get more issues with future people who are providing their own CSRs then we can address it then, or if someone shows up with a log we can re-open this issue.

[2017-08-28 21:14] #4184 closed

[2017-08-28 21:14] SwartzCr commented on #4207
I'm going to close this issue due to lack of clarity.

[2017-08-28 21:14] #4207 closed

[2017-08-28 21:16] SwartzCr commented on #4208
I'm going to close this since setuptools has fixed this issue and we're now packaged on OpenSuSE

[2017-08-28 21:16] #4208 closed

[2017-08-28 21:17] SwartzCr commented on #4209
I am going to close this issue due to lack of information - if a log is submitted I'll be happy to re-open

[2017-08-28 21:17] #4209 closed

[2017-08-28 21:23] SwartzCr commented on #4214
I'm going to close this as a duplicate of #341, but we should try to address that issue if we can

[2017-08-28 21:23] #4214 closed

[2017-08-28 21:28] SwartzCr commented on #4220
It seems that in both cases you are attempting to get a certificated for a domain that is not hosted on the webserver.
You can try to use the `webroot` challenge, but it will likely require manually copying the challenge information to the other server.
Additionally we do not yet support mail server authentication, but we're working on adding that separately.
I am going to close this issue - but f

[2017-08-28 21:28] #4220 closed

[2017-08-28 21:54] jsoref commented on #3433
@SwartzCr: I'll try at some point to do the rpm thing. I'll have to see if I have any rhel instances handy that haven't been too modified or whether I'll just have to install a clean one. Sadly, I probably can't do much until October (other deadlines).

[2017-08-28 22:00] SwartzCr commented on #4232
it looks like this has since been fixed for raspian, based on https://github.com/certbot/certbot/issues/2673#issuecomment-286276081
So I am going to close this issue

[2017-08-28 22:00] #4232 closed

[2017-08-28 22:04] SwartzCr commented on #4245
@scubanarc has this issue gone away with newer issues of certbot? If not are you still planning on opening a PR?

[2017-08-28 22:04] SwartzCr commented on #4246
@ohemorange any progress on this?

[2017-08-28 22:14] SwartzCr commented on #4328
I'm going to close this since it seems that we're not going to support this.

[2017-08-28 22:14] #4328 closed

[2017-08-28 22:15] ohemorange commented on #4246
Nope! But it's also more of a "keep in mind as we find new things" sort of issue.

[2017-08-28 22:16] SwartzCr commented on #4346
I'm going to close this, since the version packaged in yum should work for people.
If you are still experiencing issues please open a new issue and we can support you as best we can.

[2017-08-28 22:16] #4346 closed

[2017-08-28 22:17] SwartzCr commented on #4350
Still no progress on this, but it seems like an easy fix, @bmw wanna put it in a milestone?

[2017-08-28 22:17] SwartzCr commented on #4355
@ohemorange would you like to put this in a milestone or close it?

[2017-08-28 22:19] scubanarc commented on #4245
I'm not sure. I have been running with an edited parser.py and have no problems. My certs aren't due until October 28th so I can test then, unless there is a way to test early. I can edit parser.py back to the original and try, but with the certs not due I'm not sure it's a valid test.

[2017-08-28 22:28] SwartzCr commented on #4366
I think this text should be changed to say that we don't support certbot-auto on the user's system and suggest that they try to run certbot in a docker or something.
We do a good job of suggesting that people get a packaged version if they are trying to use certbot-auto on a system for which it was previously experimental but is now packaged (see #4520)
@bmw do you know of any good docker document

[2017-08-28 22:34] SwartzCr commented on #4368
this should be closed due to the merge of #4455

[2017-08-28 22:34] #4368 closed

[2017-08-28 22:35] SwartzCr commented on #4371
@erikrose does https://github.com/erikrose/pipstrap/commit/19824c6011ccd083c7f182089004cf0d283779c3 close this?

[2017-08-28 22:36] SwartzCr commented on #4388
I'm closing this issue as stale, but if either @tonsV2 or @ezekel are still having issues, please open new issues and we can address them there

[2017-08-28 22:36] #4388 closed

[2017-08-28 22:41] SwartzCr commented on #4405
Closing as stale since @fiyona has failed to provide more info.
If you're still having issues, let us know and we can work to fix them.

[2017-08-28 22:41] #4405 closed

[2017-08-28 22:42] SwartzCr commented on #4389
@jsha and @laran did any progress get made on this?

[2017-08-28 22:43] SwartzCr commented on #4434
@bmw should this be closed now that #4974 is merged?

[2017-08-28 22:44] SwartzCr commented on #4438
@ohemorange does this belong in a milestone? Would you like to be unassigned to this?

[2017-08-28 22:46] SwartzCr commented on #4441
Domains should not be listed in cli.ini if there are domains that need attention that are not mentioned in cli.ini
This is now documented via #4427
I'm in favor of closing this issue, since we generally discourage use of cli.ini - but would be happy to also clarify that error if @starchy thinks that'd still be helpful

[2017-08-28 22:53] starchy commented on #4441
Documentation that better pushes people away from using "domains = " sounds
like a good idea to me - this stems from writing configuration management
recipes that hinge on it in the early days of the Let's Encrypt client. I'm
sure we can find a better way to do that on our end.

On Mon, Aug 28, 2017 at 3:47 PM Noah Swartz <notifications@github.com>
wrote:

[2017-08-28 23:02] SwartzCr commented on #4350
similarly `certbot --version` should get the same treatment as per #4491

[2017-08-28 23:03] SwartzCr commented on #4491
We have discouraged people from editing cli.ini in #4427
I've recommended that we move `certbot --version` to a similar status as `certbot --help` so that this won't occur in #4350
So I'm going to close this issue as a duplicate

[2017-08-28 23:03] #4491 closed

[2017-08-28 23:04] SwartzCr commented on #4504
@ohemorange do you feel that this is still needed? Or do you think users could manage this with a renewal hook?

[2017-08-28 23:15] SwartzCr commented on #4523
I'm going to assign this to @joohoi, and he can make a determination about whether this is a legitimate issue when he starts working on apache reliability

[2017-08-28 23:17] SwartzCr commented on #4564
We should move this to 0.19.0 in response to the requests we've gotten from debian and ubuntu to come up with a solution for hook.d directories. @bmw do you agree?

[2017-08-28 23:18] ohemorange commented on #4438
I can take this.

[2017-08-28 23:19] SwartzCr commented on #4576
I'm closing this issue since out packaging is better now and since devalfrz seems to have a working version of certbot.
For future reference users should rely on the packaged version of certbot and not use a version cloned from git.

[2017-08-28 23:19] #4576 closed

[2017-08-28 23:20] SwartzCr commented on #4604
@kartagis have you managed to get your version of certbot to work?

[2017-08-28 23:23] SwartzCr commented on #4714
I am going to close this issue as stale, but will re-open it if @juanyque can provide more information
I'm also going to tag @joohoi in case he wants to incorporate this into his improvement of the apache plugin

[2017-08-28 23:23] #4714 closed

[2017-08-28 23:23] jsha commented on #4389
I'm afraid I never wrote down the conclusion of our meeting! But acme-v2 work continues.

[2017-08-28 23:26] SwartzCr commented on #4661
@elliotec have you been able to resolve your issue?

[2017-08-28 23:31] SwartzCr commented on #822
But we will soon support wildcards! So what does that mean for this issue?

[2017-08-28 23:34] bmw commented on #4366
I don't think we should suggest Docker for most people. See the wording of [our Docker documentation](https://certbot.eff.org/docs/install.html#running-with-docker) that I worked on with Peter Conrad:

I personally think that the best solution to this is #4521.

[2017-08-28 23:34] ohemorange commented on #4504
I'm just the messenger here - I was just separating the previous PR into its component parts.

[2017-08-28 23:36] bmw commented on #4434
I don't think so. That only defined 4 values rather than default values for the entire config. There's still work being done towards this though (see #5037).

[2017-08-28 23:38] bmw commented on #4350
`certbot --version` should work without root.

[2017-08-28 23:39] bmw commented on #4564
Yep! Thanks for pointing this out.

[2017-08-28 23:46] jsha commented on #822
We can close it.

[2017-08-28 23:46] #822 closed

[2017-08-29 02:49] addedjacky commented on #2516
@LzIManD It's does not work now.

[2017-08-29 02:54] addedjacky commented on #2516
vim ~/.pip/pip.conf
[code]

now:

[code]

[2017-08-29 04:26] r5d commented on #5016
@bmw, Thanks for the feedback. See if this looks good: https://github.com/r5d/certbot/commit/12d874eabfe3fb9b932ee2b3627946404ba15d70 ([tests pass](https://travis-ci.org/r5d/certbot/builds/269435640))

[2017-08-29 08:18] joohoi commented on #3702
This is an old issue, and I think it's fixed already, but will look into this and try to reproduce.

[2017-08-29 10:33] FreshCodeMan opened #5059 "HOW TO REVOKE THE CERT AND RECREATE A NEW ONE"
## My operating system is (include version):CENTOS 6

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):certbot-auto

## I ran this command and it produced this output: certbot-auto --nginx
The following errors were reported by the server:
[code]
Thanks for providing such a nice tool,it makes me can use SSL easily.
I got a problem here:
I applied a cert for my test server(i

[2017-08-29 11:01] Neliger commented on #5033
I wish I could help find out the issue origin...

[2017-08-29 14:23] liyu001989 commented on #5042
same issue, because my vps deny 443 port default

[2017-08-29 15:10] SwartzCr commented on #5059
Hi!
Did you literally write `/etc/letsencrypt/live/mycert/cert.pem` or did you write `/etc/letsencrypt/live/test.cfpu.com/test.cfpu.com.pem`? additionally you should see 4 files in that `/live/` directory, and you should only need to refer to it by the name `test.cfpu.com`
You also shouldn't need to delete one cert to make another.
I would edit your server's configuration file to stop serving `tes

[2017-08-29 15:13] SwartzCr commented on #4245
Have you updated your version of certbot? If not, it's likely that reverting parser.py will make it fail again.
You can always force renewal early, so you should be able to test whenever you'd like

[2017-08-29 15:36] elliotec commented on #4661
@swartzcr it's been a while but I'm pretty sure I just nuked everything related to certs on my system and reinstalled letsencrypt/certbot and grabbed a new cert.

[2017-08-29 15:36] #4661 closed

[2017-08-29 17:34] bmw commented on #5016
Other than my nitpicky inline comment, it LGTM. Feel free to open a PR!

[2017-08-30 00:57] r5d commented on #5016
@bmw, opened a PR (https://github.com/certbot/certbot/pull/5062).

[2017-08-30 04:01] FreshCodeMan commented on #5059
@SwartzCr thanks for your reply, i did write `/etc/letsencrypt/live/test.cfpu.com/test.cfpu.com.pem` and my server is tomcat and Nginx proxy pass,now it works very well,thanks for your helping!

[2017-08-30 04:01] #5059 closed

[2017-08-30 06:06] jonasbn commented on #4736
Hi @SwartzCr

No, the workload at my day job increased so I was not able to find the time, I hope to be able to start looking into it shortly.

[2017-08-30 09:03] kierun opened #5063 "Ignoring Provides line with DepCompareOp for package python-cffi-backend…"
## My operating system is (include version):

`Linux ook 4.9.36-x86_64-linode85 #1 SMP Thu Jul 6 15:31:23 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

Via then official Ubuntu PPA.

## I ran this command and it produced this output:

N.A.

## What the problem is…

When running `apt-get update`, I get the following warning:
[co

[2017-08-30 09:04] kierun commented on #5063
More information about what lead to this in the "[apt-get update warning: Ignoring Provides line with DepCompareOp for package…](https://askubuntu.com/q/946402/24976)" question on stack.

[2017-08-30 14:03] erikrose commented on #4371
@SwartzCr Partly. I lost momentum when [I realized](https://github.com/erikrose/pipstrap/pull/10#issuecomment-314830591) that it solves only half the problem: the half which doesn't use pip itself. So some work remains to be done.

[2017-08-30 14:06] SwartzCr commented on #5063
I wouldn't say that this breaks apt. As is mentioned in that stack overflow comment - this warning is harmless. Is certbot not working for you? Are you unable to install other packages?
The W here means warning, so I wouldn't be to concerned about it, unless something else is going wrong as well.

[2017-08-30 14:21] kierun commented on #5063
Warnings are never harmless. They hint at a serious problem with the application. They should be fixed and not ignored.

That said, I removed the `certbot` PPA, removed all the packages it installed, and ran `apt` again. I even removed the `python-cffi-backend` package. However, the problem persists. I re-installed `certbot` and it is working as far as I can tell. There is no trace of `python-cffi

[2017-08-30 16:53] bmw commented on #4071
Fixed in #4963.

[2017-08-30 16:53] #4071 closed

[2017-08-30 20:31] scubanarc commented on #4245
I did the following:
yum update
(verify that parser.py changed, and it did)
certbot renew --force-renew

And it failed with:

I fixed it by editing line 342 in parser.py as before and added the same code as before:

I planned on doing a PR for this but I'm not too familiar with git and I'd rather not mess things up.

[2017-08-30 21:17] daugustin commented on #5033
I'm seeing the same issue on a 1 week old Gentoo Installation. :(

[2017-08-30 23:32] samlanning commented on #1114
Hey @SwartzCr

We're currently in the process of designing + implementing a configuration file that would allow projects to specify additional complexities for lgtm understanding + analysing the project. Python dependencies are part of this, and certbot is going to be a project that we use to test this functionality. Once it's in a state that will allow you folks to use it, I'll post an update her

[2017-08-31 01:01] conorsch commented on #4996
Howdy @smarek! Recently encountered a similar problem cryptography-related nassl Python module in another project ([pshtt](https://github.com/dhs-ncats/pshtt), for those following along at home). Running 4.4.84-grsec on Debian Stretch.

@hlieberman Thanks for pointing out the specific problem with python-cryptography.

For my case, disabling MEMPROTECT on the python interpreter itself resolved the

[2017-08-31 09:03] Neliger commented on #5033
Yep, here it only occur on fresh install, not the old ones (2016 and older), but I can't figure out what difference can make this bug alive.

[2017-08-31 14:00] ppKrauss opened #5065 "old problem, see as interface bug, the stop to renew by "Cert not yet due for renewal""
After `service nginx restart` ok, `certbot renew --dry-run` ok... Try `certbot renew` and "Cert not yet due for renewal" message. No clues about what to do. It is an interface/communication bug. No objective clue at forum [here](https://community.letsencrypt.org/t/renew-says-cert-not-yet-due-for-renewal-though-it-is-more-than-30-days-old/21182) or [here](https://community.letsencrypt.org/t/renew-s

[2017-08-31 15:31] SwartzCr commented on #5065
I feel like this is a duplicate of #5045
which is meant to add more clarity to skipped renewals.
I'm going to close this as a duplicate, but you should feel free to suggest more clarification in  that issue.

[2017-08-31 15:31] #5065 closed

[2017-08-31 15:46] SwartzCr commented on #4964
Certbot should now be version 0.17.0 in Ubuntu, is this fixed for you @ppKrauss ?

[2017-08-31 16:18] ppKrauss commented on #4964
I used, just  now, `apt install python-certbot-nginx` and... Yes, `certbot --version`  0.17.0! Thanks @SwartzCr

[2017-08-31 16:27] SwartzCr commented on #2364
But could you use the domain name info to decide if you needed to stop or start your server?
I guess that is very hacky... but possibly a solution

[2017-08-31 16:31] SwartzCr commented on #4441
Yeah, I don't think we'll ever have the command line overwrite cli.ini info, since cli.ini is always a) written by the user and b) for all certs, where as the command line would be for only one cert.
I'm going to close this issue, but I'd be happy to work with you to figure out what you should do to best get your renewals in order. Also if you want to suggest improvements to the documentation plea

[2017-08-31 17:16] SwartzCr commented on #5015
@rfleschenberg out of curiosity where did you get the ansible recipe(?) that suggested using pip? It seems like you're not the only one who chose to do it that way. Is that just standard practice for ansible, or is there a tutorial somewhere that recommends that?

[2017-08-31 17:26] SwartzCr commented on #4521
But should we? I think we should be careful about what we do here, for example look at: https://github.com/certbot/certbot/issues/5023
Where we might tell someone to install a lot of dependencies on a system that will never work.

[2017-08-31 17:32] bmw commented on #5033
I've been doing my testing using the [gentoo/stage3-amd64](https://hub.docker.com/r/gentoo/stage3-amd64/) Docker image. If someone's able to provide instructions on how to reproduce using that (or another method), I can dig into it more.

We just need to be able to pinpoint the problem so we can fix our call causing the segfault and/or file an issue with our dependencies. The code I provided [here

[2017-08-31 17:48] SwartzCr commented on #4964
Great! I will close this issue, feel welcome to open new ones if you have more issues

[2017-08-31 17:48] #4964 closed

[2017-08-31 17:49] SwartzCr commented on #4996
Thanks @conorsch! I will close this issue, as it seems that there's a resolution path. Feel free to open new issues if you think there's something we can do in certbot, or if there continue to be issues for this.

[2017-08-31 17:49] #4996 closed

[2017-08-31 17:52] bmw commented on #2364
To flesh out my explanation above with an example, imagine you have to renew `standalone.example.org` and `webroot.example.org` where each domain uses plugin included in the domain. You could write a renew hook like:
[code]
Using this script, the sequence of events is:
1. User runs `certbot renew`
2. Domain A is attempted to be renewed
3. Renew hook is run with domain A
4. Domain B is attempted to

[2017-08-31 17:59] bmw commented on #4521
I'm unaware of any reason that Certbot shouldn't work on a UNIX-like system. People have gotten it to run on things like [Solaris](https://wiki.enterpriselab.ch/el/public:sysadmin:letsencrypt:install-solaris-11) in the past.

[2017-08-31 18:01] bmw commented on #5016
Fixed in #5062.

[2017-08-31 18:01] #5016 closed

[2017-08-31 19:13] SwartzCr opened #5066 "Improve renewal hook documentation"
The documentation for renewal hooks is very bad. Considering how complicated these hooks are it is important that the documentation for them is clear.
Related issues are:
#2364 about how to run separate pre/post hooks for different renewals
#4561 lack of a single --help output for hooks
#4564 lack of cohesive tutorial for using hooks
#4534 documentation doesn't mention how command line arguments p

[2017-08-31 19:14] SwartzCr commented on #3502
closing since the PR was merged, I've opened a new issue for documenting hooks at #5066 - please comment there if you feel there are ways things could be better improved

[2017-08-31 19:14] #3502 closed

[2017-08-31 19:15] SwartzCr commented on #4103
This seems like a duplicate of #4561 - or at least associated.

[2017-08-31 20:40] erikrose commented on #4498
Because * and ** are what reStructuredText uses for italics and boldness. The usual is to do something like this, which also has the advantage of formatting the code in monospace:

[code]

Note the double colons, which render the following indented paragraph in monospace. If you want inline monospace, that's done by surrounding text with double backticks.

[2017-08-31 20:49] bmw commented on #4498
Makes sense! Closing now that the mystery is solved.

[2017-08-31 20:49] #4498 closed

[2017-08-31 21:33] SwartzCr commented on #4759
@Baeumla have you had a chance to try making a PR for this?

[2017-08-31 21:34] SwartzCr commented on #5016
Awesome! Thanks @r5d!
If you have some more time, we'd love some help with #4350 or #4879, let me know if you want to work on either of those, or need any pointers to get started!

[2017-08-31 21:47] bmw commented on #4519
While we had a PR that fixed this for `--help` output, "cert" is still used in multiple places in our documentation so I'm reopening this issue.

[2017-08-31 21:49] SwartzCr commented on #5040
Okay - I think this is resolved so I am going to close the issue.
@CordlessWool let us know if you're still having issues and we can work to fix them.
Let's Encrypt provides access to two different servers, one which generates valid certificates, and another called the 'staging server' which can be used to test certificate generation, but the certificates that it provides are not valid in web brow

[2017-08-31 21:49] #5040 closed

[2017-08-31 21:52] SwartzCr commented on #5020
I am going to close this as it seems due to the lack of response that it's been resolved. @eddiejibson if you are still having issues, please let us know

[2017-08-31 21:52] #5020 closed

[2017-08-31 22:01] SwartzCr commented on #698
I believe this has been resolved

[2017-08-31 22:01] #698 closed

[2017-08-31 22:15] SwartzCr commented on #3420
We've started keeping track of the changelog, I've made a PR to mention it in the readme, so that should resolve this issue

[2017-08-31 22:15] #1450 closed

[2017-08-31 22:16] SwartzCr commented on #1550
closing this in favor of more recent tickets

[2017-08-31 22:16] #1550 closed

[2017-08-31 22:19] SwartzCr commented on #1435
closing this in favor of #3225

[2017-08-31 22:19] #1435 closed

[2017-08-31 22:21] SwartzCr commented on #1376
This should still be mentioned in the documentation

[2017-08-31 22:23] SwartzCr commented on #1338
I believe this was fixed with the re-name. See: https://letsencrypt.readthedocs.io/en/latest/using.html#certbot-commands
I'm going to close this issue, @JohnDenker if you feel like the documentation could still be improved, let me know and I'd be happy to expand/update it

[2017-08-31 22:23] #1338 closed

[2017-08-31 22:24] SwartzCr commented on #1323
I'm going to close this as resolved, due to the age of this ticket.

[2017-08-31 22:24] #1323 closed

[2017-08-31 22:26] SwartzCr commented on #1101
Is this still a needed thing? @bmw

[2017-08-31 22:30] SwartzCr commented on #2880
I'm going to close this since I believe it's fixed by renewal conf files

[2017-08-31 22:30] #2880 closed

[2017-08-31 22:39] SwartzCr commented on #2897
@bmw is this a feature we still plan to support?

[2017-08-31 22:46] SwartzCr commented on #1126
I'm pretty sure this has been resolved, @hlieberman can you confirm?

[2017-08-31 22:47] SwartzCr commented on #1254
I'm pretty sure we're not going to prevent people from moving certs from `/etc/letsencrypt` so I feel like this can safely be closed, @bmw thoughts?

[2017-08-31 22:49] SwartzCr commented on #1280
I'm going to close this issue do to it's staleness.
If anyone is still having issues I'd recommend that you open a new issue and we can work to resolve them.

[2017-08-31 22:49] #1280 closed

[2017-08-31 22:50] SwartzCr commented on #1325
I believe this is resolved, closing.

[2017-08-31 22:50] #1325 closed

[2017-08-31 22:51] SwartzCr commented on #1342
closing this issue as resolved

[2017-08-31 22:51] #1342 closed

[2017-08-31 22:51] mpl commented on #1280
sgtm

[2017-08-31 22:51] SwartzCr commented on #1320
I believe this is now resolved, @bmw?

[2017-08-31 22:52] SwartzCr commented on #1542
closing due to lack of more info to allow us to debug

[2017-08-31 22:52] #1542 closed

[2017-08-31 23:29] bmw commented on #1101
It's a nice to have. At least for our own plugins, the `more_info` output is much more descriptive than what we currently print.

[2017-08-31 23:29] ppKrauss commented on #5045
Hi,  #5065 is perhaps a variant... But about user needs, is not only dates, but a clue about "What Do I Do Now??"

`certbot`  stop to work (!) and no clue about how to workaround or redo something.

[2017-08-31 23:31] bmw commented on #2897
Dunno. @schoen has been the architect behind the way we store certificates and has thought about it quite a bit. It's been a bit of a wishlist item to change things around a bit.

[2017-08-31 23:33] bmw commented on #1254
I think the purpose of this ticket is to document that you shouldn't modify the config or work directories unless you know what you're doing. There have been dozens of issues about people trying to move things around (e.g. wanting their lineage "www.example.org" to be named "example.org", naively moving things around, and breaking things). I personally think still doing this isn't a bad idea.

[2017-08-31 23:34] bmw commented on #1320
`letsencrypt-auto` still doesn't do any of it's own logging. Like Jakub says in the original post, the only logs come from letsencrypt/Certbot itself and not the `*-auto` script.

[2017-08-31 23:46] jvanasco commented on #2897
fwiw, every 60-90 days I hate the current filename based storage even more ;)

[2017-09-01 03:45] kimseasok commented on #1245
I ran `grep -r /etc/letsencrypt /etc/apache2/` but found nothing just empty line. What's more, when run `sudo certbot rollback`, I found this error message `Certbot hasn't modified your configuration, so rollback isn't available.`

[2017-09-01 08:08] consense commented on #5015
@SwartzCr had the same problem as rfleschenberg using https://galaxy.ansible.com/thefinn93/letsencrypt/

[2017-09-01 09:21] Anonymouslemming commented on #4231
I'm able to reproduce this - the following repeats quite a few times.

[code]

I'm using `certbot (0.17.0)` on ubuntu 16.04 LTS, installed from pip (yes, I know - read the warnings BEFORE installing next time).

[2017-09-01 14:56] #3420 closed

[2017-09-01 14:57] #2720 closed

[2017-09-01 14:57] #4753 closed

[2017-09-01 15:22] SwartzCr commented on #4231
@bmw want to re-open and investigate?

[2017-09-01 16:37] matt01 commented on #5033
'Work around' that allowed me to easily renew certs was to just use python 2.7 ...

~ # certbot renew ...
Segmentation fault (core dumped)
~ # eselect python list
Available Python interpreters, in order of preference:
  [1]   python3.4
  [2]   python2.7 (fallback)
~ # python -V
Python 3.4.6
~ # eselect python set 2
~ # python -V
Python 2.7.13
~ # certbot renew ...
~ #

[2017-09-01 16:47] bmw commented on #4231
Thanks @Anonymouslemming. With the additional information I was able to reproduce this as well. The problem in your case is caused by having two versions of Certbot/letsencrypt installed. You have one from `pip` and one from `apt`. When `certbot` runs, these files are being mixed and causing conflicts and the error message you see here.

I was able to fix the problem by running `apt purge python-l

[2017-09-01 18:31] ohemorange commented on #4881
Apache people (@bmw, @joohoi):

This change is probably easy but I don't really know Apache.

It's two things:

1. Add `self.install_ssl_dhparams()` to `prepare()`, probably right next to the call to `install_ssl_options_conf` on line 202.

2. Add the line `SSLOpenSSLConfCmd DHParameters "self.ssl_dhparams"` to the module, however and wherever that's done.

And that's it! Leaving this for someone

[2017-09-01 18:32] bcutter commented on #5015
**A short user feedback/update:**
So, no idea WHY, but when I today ran my core command for certificate renewal manually, everything was working fine. After that I did a successful second renew by using my standard script in a cron.

I also skipped my initial idea of updating my letsencrypt-auto to certbot-auto --> never change a running system, right.

[2017-09-01 20:28] nbering commented on #5015
I've also noticed that it seems to have resolved itself. Not sure if there was an intentional fix but the issue wasn't closed, or if someone just updated something with no idea that this issue was even here.

[2017-09-01 21:23] hlieberman commented on #1126
Yeah, we worked around this.

On Thu, Aug 31, 2017 at 6:46 PM, Noah Swartz <notifications@github.com>
wrote:

--
Harlan Lieberman-Berg
~hlieberman

[2017-09-01 23:00] jvanasco opened #5071 "list accounts issued/renewed on `certbot certificates`"
The current output is:

	Certificate Name: xxxxxxx
		Domains: yyyyyy
		Expiry Date: zzzzz
		Certificate Path: aaaaaa
		Private Key Path: bbbbbb

It would be nice if this was augmented with the renewal and/or issuing account info:

	Certificate Name: xxxxxxx
		Domains: yyyyyy
		Expiry Date: zzzzz
		Certificate Path: aaaaaa
		Private Key Path: bbbbbb
  		Account Issued: md5
  		Account Renewal (conf

[2017-09-02 09:00] rdonkin commented on #5015
Ansible can be used to install anything including OS packages, Docker images or Python packages.  Perhaps it's just that Python users expect that Python packages published on PyPI can be installed using `pip` - if this isn't a recommended install approach, that should be clearly documented.

In my case I had problems with Jessie backports, and certbot-auto had some limitations, so pip seemed like

[2017-09-02 16:50] mdyoung3 commented on #3984
After upgrading to Pyhon 2.7, I still get the error.

[2017-09-03 09:09] jjssoftware opened #5072 "certbot standalone renewal with a VPN tunnel"
I was trying to renew a cert for one of my servers:

`./certbot certonly --standalone -d <my-domain-here>`

..and I kept seeing a failure that looked like this:

[code]

At first I found this error a bit odd but then it occurred to me that I had a VPN up on the box where I was issuing the `./certbot` renewal request and I didn't when I originally created the cert some time ago. At this point the e

[2017-09-03 10:08] Neliger commented on #5033
I confirm the workaround : It works using python 2.7

[2017-09-03 11:53] r5d commented on #5016
@SwartCr, I'll look into #4350.

[2017-09-03 11:57] r5d commented on #4350
@SwartzCr,

If I'm correctly understanding the issue, it looks like, the `plugins_cmd` must be called before the call to `make_or_verify_needed_dirs(config)` in `certbot.main.main` function. Where would be good place to do this?

[2017-09-04 07:05] knowThis commented on #2883
I've tried the above solutions without solving the same problem.but i find some solution in "lnmp" about aliyun host problems . https://bbs.vpser.net/thread-16253-1-1.html#pid50671.
`apt-get purge python-virtualenv python3-virtualenv virtualenv
pip install --upgrade pip
pip install virtualenv
vim /bin/lnmp
`
replace /bin/certbot certonly  to /bin/certbot --no-bootstrap certonly

[2017-09-04 22:07] 00cpxxx commented on #1328
Still reproducible as of today, as expected previously enabling mod_ssl fixes/hides the issue.

certbot 0.17.0

[2017-09-05 06:17] gauravkhrnr opened #5073 "Unable to create ssl while depolying application on google cloud"
**My Operating system windows 10**

**bug report**
Unable to create ssl while depolying application on google cloud .we are getting below error
DNS problem: SERVFAIL looking up A for crypcash.com

 **I ran "certbot certonly --standalone -d example.com -d crypcash.com" command and it produced the below output:**
![certerror](https://user-images.githubusercontent.com/20242899/30047624-d4be4acc-922f-

[2017-09-05 08:22] cjeanneret opened #5074 "Feature request: support for FreeIPA DNS"
Dear certbot team,

It would be really cool if certbot could talk to freeIPA DNS service in order to validate a domain.

Lemme explain the usecase:
We're managing a public DNS zone with a FreeIPA cluster, and are wanting to set up Let's Encrypt certificates for some services. We can't rely on the "http" validation, because the application is running on a cluster (if I say "openstack horizon on thr

[2017-09-05 20:25] PABourdin commented on #5063
I can confirm the problem with simply wrong packaging of these packages:
[code]

One should notify the people responsible for the packaging of those, they need to remove the "versioned provides" from their packages for Trusty. It of course "only" generates a warning, but if fact, other applications might interpret apt warnings as errors and might stop working, like e.g. `aptitude` stopped working(

[2017-09-05 21:35] ynasser commented on #5045
@ppKrauss When I implement this, I'll try to make it more clear in the user interface how users should use the dates we provide them with, that way they'll understand how to use the data we're giving them. So, instead of just saying `Cert not yet due for renewal`, it'll say something like, `Cert not yet due for renewal yet. See recommended renewal dates listed above. For documentation, see: https:

[2017-09-05 22:01] SwartzCr commented on #5071
@bmw want to add this to a milestone?

[2017-09-05 22:05] SwartzCr commented on #5073
It seems like you have one of two possible problems.
Either your website isn't properly being served (can you reach the site normally? I can't seem to get it to load)
Or you have an overly broad listen in one of your VirtualHost files, in this case it seems to be serving a lot of example certificates. Removing those directives should help.

[2017-09-05 22:23] SwartzCr commented on #5074
Do you know if freeIPA provides an API with which you can automatically make edits to your DNS records?
While I don't think we have immediate plans to add more DNS plugins, we'd always be happy to accept PRs for new ones, so long as it's possible.
Additionally you can likely manage the DNS validation challenge with a script, even if there's no plugin for it.

[2017-09-05 22:25] SwartzCr commented on #5066
@bmw would you be willing to chat with peter about hooks?

[2017-09-05 22:33] jkufner commented on #5045
@ynasser That is awful lot of words. Keep it short.

[2017-09-05 22:45] SwartzCr commented on #5045
@jkufner do you have a recommendation for a potential wording?

[2017-09-05 22:46] SwartzCr commented on #5015
sounds like this is resolved (likely upstream) closing

[2017-09-05 22:47] #5015 closed

[2017-09-05 22:49] SwartzCr commented on #5045
@jkufner do you have a proposed wording?

[2017-09-05 23:01] jkufner commented on #5045
@SwartzCr See the first comment ;-)

[2017-09-06 04:53] cjeanneret commented on #5074
Hello @SwartzCr

Yep, FreeIPA has a JSON-RPC API for all the things it can manage, among them the DNS part. There are also the "ipa" CLI command which is the best way to do the things, as it can do the authentication part automatically using a keytab (kerberos authentication).

If I find the time to create a script for that purpose, I suppose it might be used as base for a possible plugin?

Cheers

[2017-09-06 06:21] mprokopov commented on #4531
I was lucky to resolve this issue with

     docker network disconnect bridge certbot
     docker network connect bridge certbot

Somehow network connection for certbot has been stuck and disconnect/connect helped.

[2017-09-06 06:44] zylongaming1 opened #5076 "Does not execute multiple command line --renew-hook"
## My operating system is (include version):
Arch Linux (4.11.6-1-ARCH)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Pacman (Certbot version certbot 0.15.0)

## I ran this command and it produced this output:
Created a timer which runs once daily to check for renewal for my certs.  It worked fine, however a bug with running multiple renew hooks post renewal of certifi

[2017-09-06 07:28] kierun commented on #5063
@PABourdin ☺ Thanks for confirming. Any idea who those people are?

[2017-09-06 07:38] PABourdin commented on #5063
@kierun No, sorry, I would have written it, if I knew, but one can search that on the web...

Other projects experience the same problem:
https://github.com/TheTorProject/ooni-probe/issues/460

[2017-09-06 07:49] darius1706 opened #5077 "Problem with - character, produced an unexpected error: 'ascii' codec can't encode character u'\xe1' in position 271: ordinal not in range(128). Skipping."
## My operating system is (include version):
FreeBSD 11.1-RELEASE-p1

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
FreeBSD pkg system

## I ran this command and it produced this output:
certbot renew --dry-run

## Certbot's behavior differed from what I expected because:
Because I got message for domain names with -
Attempting to renew cert from /usr/local/etc/letsencr

[2017-09-06 09:56] xratzh commented on #2883
locale-gen en_US en_US.UTF-8 & locale-gen

[2017-09-06 12:55] Graf-Euler commented on #5033
The workaround worked for me too on an 'up-to-date' gentoo (did a world upgrade this morning, after I discovered the segfault). Using python 2.7.12 instead of 3.4.5 allowed me to renew my cert.

[2017-09-06 17:59] vladejs opened #5078 "Error Creating Certificate for Cloudfront Distribution that points to S3 Bucket (static site)"
## My operating system is (include version):
Debian (Deepin)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
pip, certbot-auto

## I ran this command and it produced this output:
[code]

**Output**
`Error creating new authz :: Policy forbids issuing for name`

## Certbot's behavior differed from what I expected because:
It didn't generated the certificate

## Here is a C

[2017-09-06 18:23] jsha opened #5079 "Detect and handle ManagedDomain directive"
The [mod_md Apache module](https://github.com/icing/mod_md/) will add native ACME support to Apache. I think Certbot should probably look for the main directive `ManagedDomain` and not try to autoconfigure Apache when that's present. Otherwise I think the results are likely to get complicated and hard to support.

[2017-09-06 21:59] SwartzCr commented on #5076
I believe you are only able to store one renew hook per certificate configuration file.
I think in your case you should combine them all into one bash command like `service postfix reload && service dovecot restart && service apache2 reload`
Let me know if that works for you.
We're working on updating our renewal documentation in #5067 so maybe this should also be clarified there.

[2017-09-06 22:02] SwartzCr commented on #5078
Unfortunately we cannot issue certificates for amazonaws.com domains due to Let's Encrypt policy, see: https://community.letsencrypt.org/t/policy-forbids-issuing-for-name-on-amazon-ec2-domain/12692/2?u=swartzcr
This is not a certbot problem, but something hard coded into the server software for Let's Encrypt :(
I'm going to close this issue, since it's not fixable on our end, but if you have more

[2017-09-06 22:02] #5078 closed

[2017-09-06 22:06] SwartzCr commented on #5063
I've emailed the PPA maintainer to see if he can fix it in his PPA since he provides python-cffi, but I am still waiting for a response

[2017-09-06 22:08] SwartzCr commented on #5074
Yes, let us know. You can look at the code for the other plugins here as inspiration, for example here is the cloudflare code: https://github.com/certbot/certbot/blob/master/certbot-dns-cloudflare/certbot_dns_cloudflare/dns_cloudflare.py

[2017-09-06 22:11] SwartzCr commented on #5045
I think @ynasser's suggestion is for the preceding text, and it will also include your suggestion of adding dates, making it look something like:
[code]
I think this wording is good, it's a little long, but not obtrusively so, and links to our documentation.

[2017-09-06 22:11] #1126 closed

[2017-09-07 06:21] Baeumla commented on #4759
@SwartzCr Since I started a new job I barely got time to work on this, so unfortunately not.

[2017-09-07 11:16] joohoi commented on #4881
This is also a duplicate of #374 but let's coordinate the effort here.

For Apache this sadly isn't very straightforward;

`SSLOpenSSLConfCmd` is available only in Apache > 2.4.8, and specifying dhparams there will also require OpenSSL > 1.0.2.

The alternative way to do this is to append dhparams to the certificate file. This requires Apache > 2.4.7 and OpenSSL > 0.9.8a to work.

Apache and OpenS

[2017-09-07 11:47] alyssais opened #5084 "OSError: ctypes.util.find_library() did not manage to locate a library called 'augeas'"
I'm a Homebrew maintainer, and we've noticed certbot won't build any more.

We need a way to tell the build process where to find augeas. (See https://github.com/Homebrew/homebrew-core/issues/16757#issuecomment-327772596.) Our only alternative at the moment seems to be to do some [hacky string replacement](https://github.com/Homebrew/homebrew-core/issues/16757#issuecomment-322445469), which isn't

[2017-09-07 12:38] rfleschenberg commented on #5015
@SwartzCr Just FYI, I think there are two main reasons why people use pip:

1) For a Python developer who knows that certbot is written in Python, `pip install certbot` is a somewhat natural thing to do. Distro packages are often very outdated, so many developers are basically conditioned to get Python tools from PyPi by default.

2) In the past, certbot was not trivially available on Debian Jessi

[2017-09-07 13:57] bmw opened #5085 "certbot-auto permissions error"
## My operating system is (include version):

Debian Stretch (although every OS is affected)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

certbot-auto

## I ran this command and it produced this output:

[code]

## Certbot's behavior differed from what I expected because:

It crashes.

The problem that occurs when upgrading is older versions of `certbot-auto` downloa

[2017-09-07 14:49] sjalex commented on #4036
that's not a fix!

[2017-09-07 15:04] ppKrauss commented on #5045
Hi @ynasser  thanks for your efforts on implementation (!).  About message, this log of dates say nothing to a "dummy user", the user need a clue like **"try comand X  and read document Y"**.

[2017-09-07 15:28] bmw commented on #5084
Thanks for reporting the issue @alyssais. This problem is from one of our dependencies and I've reported the problem to them at hercules-team/python-augeas#32 along with what a suggestion for what I think would be a viable solution.

Sorry for the trouble and let me know if there's anything else I can do to help! We can leave this issue open until the problem is resolved.

[2017-09-07 16:32] bmw commented on #5066
Sure, but I'm going to be pretty busy until the latter half of next week. Would next Thursday work for you?

[2017-09-07 16:40] IvanAnishchuk opened #5087 "Feature request: combined privkey and fullchain file for jabber servers"
At this moment, both [ejabberd](https://github.com/jabberd2/jabberd2/issues/109) and [jabberd2](https://github.com/jabberd2/jabberd2/wiki/InstallGuide-CommonConfigurationTasks#521-assigning-a-certificate-for-use-by-jabber-clients) require private key and certificate to be combined in a single file. Jabberd2 maintainers even explicitly [refused](https://github.com/jabberd2/jabberd2/issues/109) to a

[2017-09-07 16:48] IvanAnishchuk commented on #5076
It actually would make sense to allow multiple commands. Note that `&&` combination would produce unexpected results if one of them failed. Actually semicolon `;` combination can do something very unexpected as well and it won't even return you a proper exit status. And in both cases you'd have a hard time figuring out which of the command fails while multiple hook parameters can be debugged and f

[2017-09-07 17:00] bmw commented on #4350
@SwartzCr asked me to respond to this.

@r5d, the problematic functions are `certbot.main.make_or_verify_needed_dirs` (as you correctly pointed out) and `certbot.log.post_arg_parse_setup`.

As for how to accomplish this, it might be simplest to just do something like:
[code]
While this feels a little hacky, the "plugins" subcommand is the exception here so moving this code into the other individua

[2017-09-07 17:35] pconrad-fb commented on #5066
Almost all Thursdays are good for me, except for a standing meeting that is usually at 10:30 (but sometimes moves).

[2017-09-07 18:24] SwartzCr commented on #5077
Do you happen to know what challenge certbot used for this certificate?
Was it webroot, apache, or nginx?
This error typically occurs when certbot fails to properly host the challenge information and the Let's Encrypt server gets back your actual webpage instead of the challenge text.

[2017-09-07 18:25] SwartzCr commented on #5072
I feel like this is a question that @jsha or @cpu would be better at answering than I would, any ideas?

[2017-09-07 18:38] jsha commented on #5072
Without more details about your VPN setup, I can't really say, but most likely not. If you'd like to post on https://community.letsencrypt.org/ with more details of your setup, people may be able to help you brainstorm a solution there.

[2017-09-07 18:57] SwartzCr commented on #5087
I think this makes sense, and has been requested in #1250. Additionally we've discussed the design of this in #1201.
As mentioned by @bmw it's easy to implement this in a `--deploy-hook` https://github.com/certbot/certbot/issues/1201#issuecomment-253885241
That said, I agree with @pde that it's probably best for this to be a default rather than associated with an installer or a flag: https://githu

[2017-09-07 19:41] 0xnm commented on #2872
I'm using AWS Linux and had the same issue: "No module named interface error". I did the same what @ilamp proposed, but it didn't work. After I did the following, the issue was resolved:

    $ rm -rf /opt/eff.org

[2017-09-07 21:41] bmw commented on #4881
Thanks for looking into this @joohoi.

Digging into it a bit myself, I think in almost all scenarios we don't need to or shouldn't do anything here. According to Apache's [documentation](https://httpd.apache.org/docs/2.4/mod/mod_ssl.html#sslcertificatefile) and [changelog](https://svn.apache.org/repos/asf/httpd/httpd/branches/2.4.x/CHANGES), starting with Apache 2.4.7, it automatically chooses DH

[2017-09-07 22:36] SwartzCr commented on #4431
That is confusing. `-w` should work, at least it's still in our docs. @bmw any idea what might be causing this? Do you think the order matters at all?

[2017-09-07 22:40] SwartzCr commented on #4414
Do you know which version of Certbot this was? Is it still occurring for you?

[2017-09-07 23:25] SwartzCr commented on #4429
Our documentation seems to mention this in the command it suggests:
[code]
Do you think that's sufficient @zjs ?

[2017-09-07 23:52] brunogoossens commented on #3879
+1

[2017-09-08 00:21] bmw commented on #4431
The quotes around the arguments to the Docker image cause it to be treated as one long command line argument to Certbot. Removing the quotes should solve the problem.

[2017-09-08 00:23] #5085 closed

[2017-09-08 06:25] M1seRy commented on #5042
same issue with nginx + centOS: Failed authorization procedure. (tls-sni-01): urn:acme:error:connection ,The server could not connect to the client to verify the domain.

[2017-09-08 12:13] IvanAnishchuk commented on #5087
Thanks for the response and links. So, there is a possible additional case for lighthttpd that requires only privkey and cert to be bundled but not chain... Actually, even jabberd2 can take an additional chain file (I'm not sure whether it could be equally happy with and without chain in the combined one). We should try and list all the funny formats to figure out whether there are any more cases

[2017-09-08 15:56] staticglobal commented on #5033
I was also experiencing this issue while attempting to renew certs on some of our Gentoo systems, and I stumbled on a fix by accident.
I got a core file and was attempting to use gdb to dig into the crash, but was missing debug symbols from dev-python/cryptography.  So I re-emerged cryptography to obtain debug symbols... and now certbot works fine.
Guessing: maybe cryptography hadn't been rebuilt

[2017-09-08 17:12] Namingwaysway commented on #2872
Another update, since the install locations are different, again my issue was around the install location of the 64 bit packages on AWS by PIP.  This was fixed by installing once and then running

`\cp -r /opt/eff.org/certbot/venv/lib64/* /opt/eff.org/certbot/venv/lib/`

The location may need to change as the location of the installation files move with updates, but the general fix remained the sa

[2017-09-08 18:57] jsha opened #5092 "VersionConflict error message should provide more detail"
Steps to reproduce:

Install certbot and certbot-nginx OS packages on Ubuntu. Currently this gets you version 0.17.0.
`pip install certbot-dns-route53` Currently this gets you version 0.18.0.
`certbot -q renew`

Output:

[code]

/tmp/tmpnrNdZI:
[code]

Ideally this should provide more detailed help, like "This can result from having Certbot plugins installed that require a different version of Cer

[2017-09-08 21:09] SwartzCr commented on #5087
Awesome - let me know what conclusions you come to!

[2017-09-08 21:10] SwartzCr commented on #5092
What do you think @bmw?
I'm happy to expand the error string, but we do try very hard to prevent people from installing via pip.

[2017-09-08 21:13] SwartzCr commented on #4959
I think there's some nuance to this issue. Would you be able to share the whole log file with me?
First of you're using CAAs which are relatively uncommon. Is the command `certbot-renew` aliased on your machine? Also I haven't seen a vhost ambiguity error before, so I'd really want to make sure I understand what's going on before I try to think of how best to prompt a user to debug.
Have you been

[2017-09-08 21:17] jsha commented on #5092
Note that it's probably also possible to wind up in this situation even without pip. For instance, if you install a plugin not maintained by the Certbot devs, and that plugin pins a specific Certbot version. Then next time you upgrade Certbot, you'll get a VersionConflict in disco.py trying to load that plugin. At the least we could try and name the package that we were trying to load when the exc

[2017-09-08 22:34] lutter commented on #4799
I am likewise very sorry you are having so much trouble with augeas - unfortunately, httpd is a monster to parse. I am wondering if there is a way to write an augeas lens that tries to do much less, i.e. only picks out the things you actually need to access/modify in Apache configuration so that at least you don't have to deal with problems in directives you don't care about. The idea would be tha

[2017-09-08 23:21] SwartzCr commented on #5050
I'm going to close this, but if @irisliu123 can add more context I'm happy to re-open it

[2017-09-08 23:21] #5050 closed

[2017-09-08 23:24] SwartzCr commented on #694
@bmw think we can clost this now?

[2017-09-08 23:26] SwartzCr commented on #1028
related to #728

[2017-09-08 23:27] SwartzCr commented on #807
mentioning this to @joohoi

[2017-09-08 23:29] SwartzCr commented on #1214
related to #775

[2017-09-10 11:22] zwl1619 opened #5098 "How to set `ssl_trusted_certificate` in nginx configuration file?"
I use `Mozilla SSL Configuration Generator`(https://mozilla.github.io/server-side-tls/ssl-config-generator/) to generate a nginx configuration file.

There are three items about certificate,as follow :

[code]

I use certbot(https://github.com/certbot/certbot) to apply certificate，but I can not find `ssl_trusted_certificate`,how to generate it ?

[2017-09-10 16:34] ppKrauss opened #5099 "Suggesting to add clues about enforce at renew message"
At `certbot renew` when "Cert not yet due for renewal" (but --dry-run is fine), add the messagem

See typical problem at https://community.letsencrypt.org/t/impossible-renew/41909

User take decision, and need a clue for your options.

[2017-09-11 01:22] nikolaevra opened #5100 "ImportError: No module named interface from zope.interface"
## My operating system is (include version): Amazon AMI

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

[code]

## I ran this command and it produced this output:

ran this command `sudo ./path/to/certbot-auto --nginx`
and it produced

[code]

## Certbot's behavior differed from what I expected because: it did not work like they said it would from this website https://c

[2017-09-11 13:08] akamustang opened #5102 "certbot-nginx cannot find virtualhost with regex"
## My operating system is (include version):
Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
PPA

## I ran this command and it produced this output:
[code]
[code]

## Certbot's behavior differed from what I expected because:
It couldn't match a server_name that uses regex.

## Here is a Certbot log showing the issue (if available):
###### Logs are stored in

[2017-09-11 19:46] JeffAbrahamson commented on #5047
I played with this a bit, but then realised that there are some quite good efforts under way to sort this directly in tools such as puppet ([example](https://github.com/voxpupuli/puppet-letsencrypt)).  And in the manual case, it's easy enough to get around by a quick `grep -v` to drop the cerbot lines when doing the first certbot invocation.

So I think this can be closed.  The more important case

[2017-09-11 19:46] #5047 closed

[2017-09-11 21:51] SwartzCr commented on #5098
Ah, I believe that's what we call the fullchain, it should be in the same directory as the rest of the files under the name `fullchain.pem`
Let me know if that works!

[2017-09-11 21:54] SwartzCr commented on #5099
I think that we should just better explain what `--dry-run` does. I've worked a little bit on documentation for this.
@bmw, what do you think about adding this to the output of `renew`? If you like it maybe @ynasser can do it as part of #5045

[2017-09-11 21:57] SwartzCr commented on #5100
So we don't currently support Amazon Linux, but it seems like Python is having a hard time installing proper dependencies on it.
I'd recommend looking through old issues on github and seeing if you can find people who have successfully debugged it, but barring that I can't really help until we've been packaged for Amazon.

[2017-09-11 21:58] SwartzCr commented on #5102
@ohemorange is this something we support? What do we recommend to people who have vhosts like this?

[2017-09-11 22:15] ppKrauss commented on #5099
Hi @SwartzCr, the message must solve the problem that the command not solved.

1. The command `certbot renew` is not "let's try to renew", I used  because I need to renew. So, when the command `certbot renew`  stops to do what it must to do, I need a clue... The software must show a message in respect to user expectative... Must  say something as *"you can renew but not need it. If you really need

[2017-09-12 01:37] r5d commented on #4350
@bmw, I've submitted a PR. It uses your idea.

[2017-09-12 04:27] zwl1619 opened #5104 "ImportError: No module named 'requests.packages.urllib3'"
I use nginx on centos 7.3,there is an error when running  `certbot --nginx`:

`ImportError: No module named 'requests.packages.urllib3'`

[code]

packages:
[code]

What should I do?

[2017-09-12 14:50] SwartzCr commented on #5099
I think in your situation the email from Let's Encrypt references a certificate that you are no longer maintaining, which is why your getting an expiration notice.
If certbot doesn't think your certificate is due for renewal then it is not.
You can force renewal, but first I would check the expiration date on the certificates that you're serving.

[2017-09-12 15:14] SwartzCr commented on #1377
@yan12125 is this still true now that we support python 3?

[2017-09-12 15:19] SwartzCr commented on #1301
Is the goal of this issue to entirely get rid of dependencies, or do we have a target for an acceptable amount?

[2017-09-12 15:28] SwartzCr commented on #4799
Hmm - would you like to provide comments on our lens? I think we'd be willing to edit it since we're already shipping a custom one

[2017-09-12 15:34] ppKrauss commented on #5099
Hi @SwartzCr , not make sense (or was deleted by force-renew) because I have only one certificate as listed by `certbot certificates`,

[code]

[2017-09-12 15:35] SwartzCr commented on #5048
@ZachBacon were you able to get things working?

[2017-09-12 15:41] ekohl commented on #1301
As a user I'd say some dependencies make sense. You do not want to rewrite things like requests. What does annoy me is that testing dependencies (mock) also end up being needed at runtime.

[2017-09-12 15:50] ahaw021 commented on #4799
what advantage do lenses have over just python regex ?

[2017-09-12 15:54] SwartzCr commented on #5104
How did you install certbot?
It's likely that pip installing urllib3 should fix it - but there might be an easier way. For example it's packaged as an rpm, which is likely the preferred way to install it on centos: https://www.rpmfind.net/linux/rpm2html/search.php?query=python-urllib3
But it's surprising that nothing installed this as a dependency. Did you install certbot from your package manager

[2017-09-12 16:16] ZachBacon commented on #5048
@SwartzCr after the cert expired. I tried one more thing, manual setup, and it did renew. I've set up a systemd file that will renew via Cron. Sorry for not updating when it was resolved. Life sorta got busy. Thanks anyways.

[2017-09-12 16:16] #5048 closed

[2017-09-12 17:12] jsoref opened #5106 "certbot error path for help gives misleading help"
## My operating system is (include version):

debian 9.0

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

certbot-auto

## I ran this command and it produced this output:

[code]
[code]

## Certbot's behavior differed from what I expected because:

The syntax is listed at the top as:
[code]

It's true that SUBCOMMAND is optional, and thus one could almost make the claim

[2017-09-12 17:21] jsoref opened #5107 "certbot --help renew doesn't explain `--cert-name`"
## My operating system is (include version):

debian 9.0

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

certbot-auto

## I ran this command and it produced this output:

[code]
[code]

## Certbot's behavior differed from what I expected because:

It's true that the usage/syntax line says:
[code]

but the arguments are documented starting with:
[code]
and `--cert-name`

[2017-09-12 17:35] lutter commented on #4799
@ahaw021 the biggest advantage is that lenses are bidirectional, and make sure that changes made to the Augeas tree do not affect other things in a file (e.g., comments or other entries) The [quick tour](http://augeas.net/tour.html) goes into more detail on that.

@SwartzCr I'll try and have a look later

[2017-09-13 00:58] mcgredonps opened #5109 "RHEL 7 Install Problem"
## My operating system is (include version):
Red Hat Enterprise Linux Server release 7.4 (Maipo)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

Instructions to use yum, etc at https://certbot.eff.org/,  with apache and centosrhel7-apache

## I ran this command and it produced this output:

Claimed to install, no errors. Problem cropped up with trying to install certifi

[2017-09-13 08:01] zwl1619 commented on #5104
@SwartzCr   Yes,I do it following https://certbot.eff.org/#centosrhel7-nginx

[2017-09-13 18:34] SwartzCr commented on #5099
It looks like you might have all of your domains under one certificate now - as long as all of your websites are working I think you're okay

[2017-09-13 18:49] SwartzCr commented on #4799
@lutter Awesome
adding @joohoi to this thread so that he can keep an eye on it while he works on apache things

[2017-09-13 18:52] SwartzCr commented on #5109
Seems directly related to #5104 and #4886
Can you try to update your versions of `requests` and `six` as mentioned in #4886

[2017-09-13 18:53] SwartzCr commented on #5104
Can you try to update your versions of requests and six as mentioned in #4886 - I think it's the same problem. @erikrose is this a situation where we need to submit something upstream to centOS or RHEL?

[2017-09-13 18:55] ppKrauss commented on #5099
Hi @SwartzCr , thanks for all (!). <br/>Yes, certbot is working fine... All the discussion is only about the message... Again: consistency and the need for clues (in respect to user when certbot is frustrating the command expectative)  &nbsp; :-)

[2017-09-13 18:59] hundt opened #5110 "Connection failure to letsencrypt servers after doing a long challenge with Route53"
As the log below shows, when doing a Route53 verification with 18 different domains, a connection to https://acme-staging.api.letsencrypt.org fails with `ECONNRESET`. In the same environment, I can successfully get a certificate for two domains. I suspect this has something to do with the Keep-Alive connection to acme-staging.api.letsencrypt.org established at the beginning of the process but then

[2017-09-13 19:15] mcgredonps commented on #5109
Looks like the same error after "pip install --upgrade six" I this some sort of not-finding-the-library problem? Certbot claims to not being finding urllib3, despite pip claiming it's installed.
The pip stuff is per 4886.

# pip list | grep 'six\|req\|cert\|url'
certbot (0.18.1)
certbot-apache (0.18.1)
certifi (2017.7.27.1)
pycurl (7.19.0)
requests (2.18.4)
six (1.10.0)
urlgrabber (3.10)
urllib3 (

[2017-09-13 20:14] SwartzCr commented on #4989
@schoen - have you seen anyone complain about this happening? It'd be great if we could have links to user reports to help us work on this

[2017-09-13 20:18] SwartzCr commented on #4900
@TheoJL have you gotten your configuration working?

[2017-09-13 20:19] SwartzCr commented on #4900
related to #3147

[2017-09-13 21:05] ohemorange commented on #5102
Yes, we support regex. Is your `nginx.conf` located in `/etc/nginx/`, or somewhere else? And does it properly include the files containing these server blocks?

[2017-09-13 21:16] ohemorange commented on #5102
Ah, looks like this is a https://github.com/certbot/certbot/issues/4930 problem. Full explanation and suggestion here: https://github.com/certbot/certbot/issues/4930#issuecomment-316224973

Closing as duplicate, thanks for reporting!

[2017-09-13 21:16] #5102 closed

[2017-09-13 21:49] TheoJL commented on #4900
@SwartzCr
When the day came for certbot to renew my certs it did so without any problem regardless of the errors. After that I followed your recommendation to remove the references in the ___.conf___ file and my error are now gone when I do ___dry-run___. So your solution was perfect, thank you!

Btw, these were the ones to remove:
[code]

[2017-09-13 22:09] ynasser commented on #4258
See this comment: https://github.com/certbot/certbot/pull/4914#issuecomment-329299865

Here's an integration test you'll need to add to `tests/boulder-integration.sh` if you implement this:
[code]
... because `revoke` deletes the certs too now.

[2017-09-13 22:27] bmw commented on #5087
While I think we should do *something* here, I think implementing this will be somewhat controversial within the Certbot team. Here's a [post](https://community.letsencrypt.org/t/android-doesnt-trust-the-certificate/16498/9) from @schoen, the most active member of the Certbot team on Let's Encrypt's community forum, saying that using the wrong file is the most common post-issuance problem. I feel

[2017-09-13 22:42] bmw commented on #5092
I'm fine improving the error message as long as it doesn't hide information that would be useful to people familiar with Python's packaging modules. We determine the name of the plugin we're trying to load on the last line of our code before this exception was raised.

[2017-09-13 23:34] bmw commented on #5099
I don't feel one way or another too strongly, but my preference is to not include output like this. The only reason I can think of where a user should be using `--force-renew` is if they want to change a property of their cert (such as the key size) and don't want to answer the following interactive prompt:
[code]
Including `--force-renewal` in standard renewal output suggests this flag to many mo

[2017-09-13 23:39] #5107 closed

[2017-09-13 23:40] SwartzCr commented on #4900
Great - I'm going to close this, feel free to open new issues if you run into any!

[2017-09-13 23:40] #4900 closed

[2017-09-14 00:56] akamustang commented on #5102
My Google-fu was weak this day, thanks for responding.

[2017-09-14 07:41] darkcircle opened #5111 "AttibuteError: 'module' object has no attribute 'rand' has occured at acme/acme/crypto_util.py with >=pyOpenSSL-17.2.0"
## My operating system is (include version):
CentOS 6.9

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
pip

## I ran this command and it produced this output:
[code]
[code]
## Certbot's behavior differed from what I expected because:
There should not be any message related on error.

## Here is a Certbot log showing the issue (if available):
[code]

## Here is the relev

[2017-09-14 10:12] rvanzon commented on #5040
Sorry to comment on this closed issue, but I have the same problem:

This works:
```sudo certbot certonly -w ../root/DOMAINNAME -d DOMAINNAME --webroot --dry-run```

Also staging works
```sudo certbot certonly -w ../root/DOMAINNAME -d DOMAINNAME--webroot  --break-my-certs --test-cert```

Any ideas?

[2017-09-14 10:54] OlivierAlves opened #5113 "Despite generating a Diffie-Hellman key I still have a grade B"
Hi !
So despite having generated a Diffie-Hellman key with the following method: (according to #374)
`openssl dhparam -out dh2048.pem 2048`

and having included this in my nginx conf file:
[code]

My grade according to this website: https://www.ssllabs.com/ is still B

Am I missing something here ?

Thank you !

## My operating system is (include version):
Ubuntu 17.04

## I installed Certbot with

[2017-09-14 11:37] #5113 closed

[2017-09-14 11:38] OlivierAlves commented on #5113
problem solved ^^

[2017-09-14 12:48] jsoref commented on #5107
The syntax should be changed.
Currently:
```certbot renew [--cert-name NAME] [options]```
Expected:
```certbot renew [--cert-name CERTNAME] [options]```

Per:

[2017-09-14 13:33] eko commented on #5111
I have the same issue, thank you for your report 👍

[2017-09-14 15:51] margeson commented on #5111
likewise

[2017-09-14 21:37] SwartzCr commented on #5110
@bmw thoughts?

[2017-09-14 21:39] SwartzCr commented on #5111
@bmw wanna review the associated PR?

[2017-09-14 21:43] SwartzCr commented on #5099
@jsha would you be willing to assist with this? We've found that a lot of people are confused by the emails from Let's Encrypt

[2017-09-14 21:44] SwartzCr commented on #5087
I'd be happy with having all cert bundling issues bundled into one issue about cert bundling

[2017-09-14 22:30] bmw opened #5115 "--deploy-hook value on command line not being used during renewal"
## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:
The deploy hook value should be set. I think this is due to renew hook to deploy hook rename and default detection. I think `certbot.cli.VAR_MODIFIERS` needs to be changed for this interaction to be handled proerply.

[2017-09-14 22:44] bmw opened #5116 "--dry-run should prevent authz reuse"
Some users get themselves into a situation where `--dry-run` works but production does not (see #3231 and #5040). This is due to the user having a valid authorization from staging which is reused, but not from production. This results in people having to use the production server to test their configuration.

We should do something to work around this problem. This probably involves deactivating v

[2017-09-14 23:11] SwartzCr commented on #5040
If you try a different authorization method or change the domains that you're querying for it should generate you a new authorization and then succeed. Currently there's no way to manually remove authz's #4945
So you'll have to wait for that one to expire or do something to create a new one for the proper server.

[2017-09-15 07:18] rvanzon commented on #5040
I tried all ways without luck :( On production I use "certbot --nginx" and it always works. But on MacOS (my development environment) I face this problem some times.

Because this is on my development-machine I decided to use the staging certificate. The advantage of this is also that it doesn't expire in 20 years.

FYI: I generated a staging-certificate and added the fullchain.pem to the login-ke

[2017-09-15 14:07] erikrose commented on #5104
He seems to have the latest version of requests already, and six is there, so it's a different situation than #4884.

[2017-09-15 20:05] bmw commented on #5110
Interesting. Can you reproduce this reliably? I tested once where challenge setup took 30+ minutes and didn't encounter this issue.

[2017-09-15 22:16] bmw opened #5119 "Redirect vhost not enabled"
## My operating system is (include version):

Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

Dev instructions

## I ran this command and it produced this output:

Starting with the default config on this system, I ran:
[code]

## Certbot's behavior differed from what I expected because:

The redirect vhost is not enabled.

cc @joohoi

[2017-09-15 22:53] bmw commented on #5119
Heh. Turns out this is a duplicate of an issue I created over a year ago. See #3137.

[2017-09-15 22:53] #5119 closed

[2017-09-15 23:55] bmw commented on #4350
Fixed in #5103.

[2017-09-15 23:55] #4350 closed

[2017-09-15 23:57] #5111 closed

[2017-09-16 10:51] jpluimers commented on #3364
It's back since 1.18.1 when running on OpenSuSE Tumbleweed, but mabye in a different form.

Let me know if I should file a new issue, or re-open this one.

Basically it comes down to `certbot-auto` not parsing the full Apache configuration as mentioned by @jsoref [earlier this year](https://github.com/certbot/certbot/issues/3364#issuecomment-271783828).

This is the `etckeeper` diff:

[code]

The

[2017-09-17 02:57] IvanAnishchuk commented on #5087
Brad, I agree, it should be designed carefully. That's why I opened this
ticket to discuss design and reach agreement on things instead of starting
coding right away.

And if we decide that optional bundling is less confusing, that's also an
option (I'm pretty sure I can use it either way, the question is what is
more useful for average users and more secure). We could also document
recommendation

[2017-09-17 05:18] joohoi commented on #3364
Reopening the issue. I'm working on parsing the apache defines correctly from the static file on OpenSUSE, so this will get fixed in the future. Certbot is currently unavailable to find those, because OpenSUSE adds them in an rather exotic way.

[2017-09-17 18:52] jpluimers commented on #3364
@joohoi I know and I have enough spare Raspberry Pi machines or VMs to try this out on. Just let me know when you need help.

[2017-09-17 22:49] ywarnier commented on #1377
I just tried on a fresh Ubuntu 14.04 and it seems to be working fine. Thanks!

[2017-09-18 03:25] yan12125 commented on #1377
@SwartzCr: sorry, my mailbox was flooded and I missed some GitHub notifications.

I believe the problem is not directly related to Python 3 support. The actual reason appears to be that distro virtualenv packages installed by certbot-auto conflicts with pre-existing virtualenv installations. As a workaround, certbot-auto may skip installing virtualenv if there's already one in ```$PATH```.

[2017-09-18 03:46] kpants commented on #3879
+1. Being able to have dev and test environments identical to prod save for a command line switch would be nice. Right now I need to generate ssl certs differently and my nginx conf files are different.

[2017-09-18 17:55] SwartzCr commented on #4350
Awesome job @r5d ! Any interest in working on another issue? Maybe #4879?

[2017-09-18 17:56] jsha commented on #4350
Nice, thanks for fixing this bug!

[2017-09-18 18:22] goldengit commented on #3946
This is an old post but I found a solution that worked - Was getting the same error on an ubuntu 16.04 server - resolved the issue by forwarding ports 80 and 443 in my router settings, to the host ip (this ubuntu server) and re-ran the command worked as expected and added the certificate - hope this helps others!

[2017-09-18 21:26] bmw commented on #3147
In Certbot's next minor release, we are planning on adding hook directories to Certbot to allow users and package maintainers to add scripts to be run during certificate renewal by simply placing an executable file in the appropriate directory. We wanted to post the proposed design of this system publicly to get feedback on it and to make sure it covers the majority of the desired use cases. If yo

[2017-09-18 21:38] ppKrauss opened #5120 "e-mail error, needs LetsEncrypt-server correction of expiration alerts"
The command `certbot certificates` (v0.17.0) shows only one certificate, it says
[code]
Say "VALID: 81 days". The e-mail at the same day says other thing (0 days), so is an ERROR and need correction.

--------

Subject *"Let's Encrypt certificate expiration notice for domain "baixar.ok.org.br" (and 20 more)"*

Body:
[code]

[2017-09-18 21:44] cpu commented on #5120
Hi @ppKrauss

This is a pretty common source of confusion that's surprising at first but makes sense after some explanation about what the Let's Encrypt considers a renewal to be:

Your Certbot issued certificate covers the domains:

The expiration warning was for a certificate that covers the domains:

The Let's Encrypt [documentation for expiration warning emails](https://letsencrypt.org/docs/ex

[2017-09-18 21:44] #5120 closed

[2017-09-18 22:56] #4473 closed

[2017-09-18 23:27] ppKrauss commented on #5120
Hum... This is not a solution, so **the system have a bug**. I want to report it as a bug.

[2017-09-19 00:43] r5d commented on #4350
@SwartzCr, I'll look into #4879.

[2017-09-19 13:14] cpu commented on #5120
Hi again @ppKrauss,

I tried to explain above. The system does not have a bug. If you add or remove names from a certificate you create a second distinct certificate. Unless you renew both the old and new certificates one will generate expiration warnings.

Certbot isn't the right place to report this bug. [Boulder, the Let's Encrypt server-side CA](https://github.com/letsencrypt/boulder) is what

[2017-09-19 13:31] ppKrauss commented on #5120
Hi @cpu, thanks all explanations and discussion.

Sorry, it's a "contract context": user contract with `certbot` covers this e-mail message mechanism, so it's actual part of the contract. The certbot user has no choice to change the webservice-supplier, so this webservices are components of the "certbot system".

My request for you or the certbot team: can you submit a BUG ALERT to the [Boulder  L

[2017-09-19 13:45] cpu commented on #5120
@ppKrauss I opened https://github.com/letsencrypt/boulder/issues/3105 - let's continue to discuss there.

[2017-09-19 13:48] ppKrauss commented on #5120
Hi @cpu, closing again ;-)  thanks a lot!

[2017-09-19 13:58] chenrui333 commented on #2823
In my case, I took the advice from [here](https://community.letsencrypt.org/t/solved-usr-local-sbin-certbot-auto-851-usr-local-sbin-certbot-auto-opt-eff-org-certbot-venv-bin-letsencrypt-not-found/42545/4):
`rm -rf /opt/eff.org/certbot/`

Then the script `./certbot-auto --version --debug` works for me now (I also did the `pip` and `virtualenv` upgrades):
[code]

[2017-09-19 14:46] hundt commented on #5110
@bmw

Yes, I can.

I wonder if this is related to this issue: https://github.com/requests/requests/issues/3808

The connection to letsencrypt from the machine that this fails on is going through an AWS NAT Gateway. When I ran the same command from my laptop (no NAT gateway but also quite different OS/library setup) it succeeded.

[2017-09-19 17:15] bmw commented on #4441
I just saw this issue.

My understanding is command line flags do override values in Certbot's INI file except in cases where different flags that interact are used (see https://github.com/bw2/ConfigArgParse/issues/58). Our dependencies for argument parsing don't/can't automatically handle this case for us, but I think we may want to reconsider reopening this issue and solving this problem.

@star

[2017-09-19 17:50] bmw commented on #5087
I appreciate that and your interest in working on this topic all together. Again, I definitely think we should do something here.

I completely agree with this.

Despite my concerns with creating these files by default, if we can do this in a way where we feel confident we'll avoid confusion for most people, I'm fine with this approach.

If we don't think we can make the differences between the fi

[2017-09-19 19:18] bmw commented on #5110
Thanks for digging into this @hundt. I think you're probably right that's the issue.

While I personally don't have time to work on this in the near future, I'd take a well written PR for this.

[2017-09-20 08:18] toralf commented on #5110
This might explain, why at my stable Gentoo linux server (ip 5.9.158.75) version 0.18.1 hangs at the step "clean up challenge" (IIRC) - whereas 0.17.0 works fine - command line is ::
`/usr/bin/certbot renew --max-log-backups 5 --standalone --non-interactive --text &>$log`

[2017-09-20 16:56] zxvfxwing opened #5123 "AttributeError: module 'OpenSSL' has no attribute 'rand'"
## My operating system is (include version):
ArchLinux -- 4.12.13-1-ARCH

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
`pacaur -S certbot`

All " openssl " installed on my system ( `pacaur -Qs openssl` ) :

local/libcurl-openssl-1.0 7.54.1-1
    An URL retrieval library (build against openssl-1.0)
local/lua51-sec 2:0.6-2
    Lua bindings for OpenSSL library to provide

[2017-09-20 17:54] Pascal666 commented on #5076
Systemctl itself can take multiple services.  So until certbot is fixed, you could use:
`systemctl restart nginx vsftpd postfix dovecot`

[2017-09-20 18:45] bmw opened #5124 "Allow changing account keys in acme and Certbot modules"
Pointed out to me by @cpu, Certbot doesn't currently support this. We should though!

The documentation about how this works can be found at https://tools.ietf.org/html/rfc8555#section-7.3.5.

[2017-09-20 19:18] cpu commented on #5124
Thanks @bmw!

[2017-09-20 20:00] classam commented on #5123
I, too, am experiencing this issue, on an Ubuntu 16.04 install.

I think the solution might be [merged into master](https://github.com/certbot/certbot/pull/5122) already, but it won't go live until they release 0.18.2?

[2017-09-20 22:39] bmw opened #5129 "Allow removing all contacts in our acme module"
Related to #3162, our ACME module does not allow the user to remove all contact information from a registration. If the contact field is set to an empty tuple, it is omitted from the request to the ACME server. This is because [omitempty is set to True for the field](https://github.com/certbot/certbot/blob/f6be07da74c664b57ac8c053585f919c79f9af44/acme/acme/messages.py#L250) and an empty tuple is c

[2017-09-20 23:20] bmw commented on #4521
The dependencies are listed in the bootstrap scripts in `letsencrypt-auto-source/pieces/bootstrappers`. The exact names of these dependencies are going to vary based on the system so I think we should just list the human readable package name. They shouldn't need `gcc` specifically, but they'll need a compiler on systems where they cannot use `cryptography`'s precompiled wheel.

[2017-09-21 03:12] erfan2333 commented on #2516
@addedjacky 使用清华大学的镜像
`[global]
index-url=https://pypi.tuna.tsinghua.edu.cn/simple/

[install]
trusted-host=pypi.tuna.tsinghua.edu.cn`

[2017-09-21 03:28] stevenzhu25 opened #5130 "Openssl show not installed but actually installed (Py-openssl is installed either)"
## My operating system is (include version):
centos-release-7-4.1708.el7.centos.x86_64

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
yum  install certbot

## I ran this command and it produced this output:
all certbot command:

[code]
## Certbot's behavior differed from what I expected because:
I assure you I got OpenSSL & python-OpenSSL installed, it keeps giving me t

[2017-09-21 03:29] stevenzhu25 commented on #5130
Show in output:
[code]

[2017-09-21 03:29] stevenzhu25 commented on #5130
OpenSSL version

[code]

[2017-09-21 03:38] BadassOverlord commented on #4052
I am still having this exact issue on Ubuntu 17.04 with certbot 0.17.0. All looks well in the certbot log until I try the subdomain in a web browser, in which case I get a name mismatch.

[2017-09-21 10:21] addedjacky commented on #2516
@erfan2333 可以了，速度有点慢，等老长一段时间。

[2017-09-21 14:53] wardmundy commented on #5104
On CentOS 7, the only way to get urllib3 (1.22) is using pip install. Then, after installing certbot-apache, you get this when running certbot --apache:
`ImportError: No module named 'requests.packages.urllib3'`
I think I have all the latest packages in place:
`certbot (0.18.1)
certbot-apache (0.18.1)
certifi (2017.7.27.1)
pycurl (7.19.0)
requests (2.18.4)
six (1.11.0)
urlgrabber (3.10)
urllib3 (1

[2017-09-21 15:39] wardmundy commented on #5104
Update. This seems to have fixed it...

`pip install requests urllib3 pyOpenSSL --force --upgrade`

[2017-09-21 15:52] #1376 closed

[2017-09-21 15:53] wardmundy commented on #5104
But then you get this when running **certbot --apache**:
`AttributeError: 'module' object has no attribute 'rand'`

[2017-09-21 18:26] akosveres commented on #5104
Seeing the same issue on a brand new installation of centos 7.3. Also tried installing `python2-certbot`, getting the same error as @wardmundy . Was trying to run `certbot --standalone`.

[2017-09-21 19:08] mnordhoff commented on #5098
`ssl_trusted_certificate` wants "trusted CA certificates" for verifying client certs (irrelevant) or OCSP responses (relevant).

https://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_trusted_certificate

Setting "`ssl_trusted_certificate /etc/letsencrypt/live/example.com/chain.pem;`" currently works. I'm not sure if there are downsides to not including the DST or ISRG root, but it seems to w

[2017-09-21 19:08] akosveres commented on #5104
I've tried installing an older version, 0.14.0, got the same error. I went down the manual route, that worked, I got my cert successfully.

[2017-09-21 20:53] SwartzCr commented on #5104
@wardmundy and @akosveres the rand issue was fixed in https://github.com/certbot/certbot/commit/7f5f6471fea939c70294c2f31875d90320482861
and will be released soon in a bugfix release with version number 0.18.2
This was caused by openssl deprecating it's support of rand ahead of schedule as discussed here: https://github.com/certbot/certbot/pull/5112#issuecomment-331046450
Are people still experien

[2017-09-21 21:27] SwartzCr commented on #5130
I was able to run it just now on a fresh centos box, and have the same versions of both of those.
Is there a way that you could re-install or fix the install of certbot via yum?

[2017-09-21 22:15] stevenzhu25 commented on #5130
Yeah.. I know.The error seems related to :Reinstalled OpenSSLOn Sep 21, 2017 17:28, Noah Swartz <notifications@github.com> wrote:I was able to run it just now on a fresh centos box, and have the same versions of both of those.
Is there a way that you could re-install or fix the install of certbot via yum?

—You are receiving this because you authored the thread.Reply to this email directly, view i

[2017-09-21 22:16] stevenzhu25 commented on #5130
I tried to reinstall from yum and it doesn't work for me.. I think there is something happens to urllib3 and pyopenssl.On Sep 21, 2017 17:28, Noah Swartz <notifications@github.com> wrote:I was able to run it just now on a fresh centos box, and have the same versions of both of those.
Is there a way that you could re-install or fix the install of certbot via yum?

—You are receiving this because yo

[2017-09-21 22:37] SwartzCr commented on #5130
Can you explain why you think urllib3 is involved? I don't see it in your error message

[2017-09-21 23:20] stevenzhu25 commented on #5130
Because the first time, it tells me urllib3 is outdated and I updated via pip.Then this error message showed up.Now it seems went into a dead loop..On Sep 21, 2017 18:37, Noah Swartz <notifications@github.com> wrote:Can you explain why you think urllib3 is involved? I don't see it in your error message

—You are receiving this because you authored the thread.Reply to this email directly, view it o

[2017-09-22 13:24] mariomara commented on #2049
Phew!

[2017-09-22 17:27] SwartzCr commented on #5130
Can you share the full output of `pip freeze`?

[2017-09-22 18:09] eusonlito commented on #5123
@bmw, is available the relase on main Ubuntu repository? http://ppa.launchpad.net/certbot/certbot/ubuntu

Last available version is 0.17.0

Thanks.

[2017-09-22 18:38] bmw commented on #5123
Our PPA is maintained by Debian maintainers who take the Certbot packages from Debian unstable which is still at 0.17.0 as well.

How did you install pyOpenSSL 17.3.0 on your system? That version isn't packaged in any Ubuntu release according to https://packages.ubuntu.com/search?suite=all&section=all&arch=any&keywords=python-openssl&searchon=names.

[2017-09-22 18:51] eusonlito commented on #5123
python-openssl was installed by certbot installation:

[code]

[2017-09-22 19:11] bmw commented on #5123
But the version of `python-openssl` available in our PPA isn't affected by this issue. Only pyOpenSSL 17.3.0+ is affected and our PPA contains version 17.0.0.

If you're seeing this issue, I think you have another version of pyOpenSSL installed on your system. Possibly a version installed from `pip`?

[2017-09-22 19:17] classam commented on #5123
`setup.py`

[code]

Won't that just pull the most recent version of OpenSSL if you `pip install`?

[2017-09-22 20:02] pde commented on #5087
My instinct is that we could add extra files if and only if the user requests them with a CLI flag. There would be some architectural decisions to make about how these options are controlled by Authenticators and Installers. Conceptually it makes sense to make the new files at auth time, but installers (for instance, a hypothetical jabberd instlallre) might sometimes want to enable these options o

[2017-09-22 20:07] pde commented on #5087
I think that was basically a restatement of [this comment](https://github.com/certbot/certbot/issues/1201#issuecomment-155652545). We should close either that old issue or this new one as a dupe perhaps :)

[2017-09-22 20:22] bmw commented on #5123
Since our 0.18.2 release that fixed this bug earlier this week, if you `pip install certbot` (which [we usually don't recommend](https://certbot.eff.org/docs/install.html#installing-from-source)) you'll get a version of Certbot that works with any version of pyOpenSSL (that is also new enough to satisfy [our ACME library](https://github.com/certbot/certbot/blob/ade01d618bef4d260cd8f9f43b16153ba630

[2017-09-22 20:43] eusonlito commented on #5123
@bwm, ok sorry, maybe a installation mix. First time was installed with `apt-get` but after some time seems to be upgraded using `pip`.

`pip-review --local --interactive` has solved the problem.

Thanks :)

[2017-09-25 01:33] davidjb commented on #4716
I've experienced the same issue with the Nginx plugin for Certbot (version 0.18.1) on RHEL 7.4.  The symptoms looked like this:

[code]

The issue came down to file contexts on the access/error logs that were being created in `/var/lib/letsencrypt/`:

[code]

which means that when Certbot attempted to restart Nginx, it wouldn't restart because those files couldn't be accessed and therefore validat

[2017-09-25 08:06] tpu01yzx opened #5131 "Renew Failed after Pacman -Syyu"
## My operating system is (include version):
Linux 4.12.13-1-ARCH #1 SMP PREEMPT Fri Sep 15 06:56:11 UTC 2017 i686 GNU/Linux
Python 3.6.2
pip 9.0.1 from /usr/lib/python3.6/site-packages (python 3.6)
certbot 0.18.2

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Both:
1) pacman -S certbot
2) pip install certbot

## I ran this command and it produced this output:
Run as ro

[2017-09-25 12:45] tamanti commented on #2889
On Amazon Linux Ami, if phyton 2.6 is already installed, installing python 2.7 doesn't make it the default one.
I had to change: /etc/alternatives/python -> /usr/bin/python2.6
to
/etc/alternatives/python -> /usr/bin/python2.7

[2017-09-25 16:50] SwartzCr commented on #5131
It is really frowned upon to install certbot from pip, installing from pip once you already had installed it from pacman is very likely what caused this issue.
When you ran certbot most recently, which certbot did you invoke? The system installed one or the pip installed one?

[2017-09-25 17:05] tpu01yzx commented on #5131
The system installed one, maybe two months ago. .

[2017-09-25 18:25] bmw commented on #4716
Thanks for the detailed post @davidjb.

Personally I think that Certbot trying to reconfigure an arbitrary SELinux setup so it works properly is complicated and out of scope. What I'd like to see is the packages on systems where SELinux is enabled be modified so Certbot works properly. This can be done using the conventions of the distro rather than Certbot trying to handle any arbitrary configura

[2017-09-25 18:59] SwartzCr commented on #5098
Sounds like this is chain.pem works, so I'm going to close this.
Feel free to open a new issue or post on the community forums if you have more questions about certificate structure!
https://community.letsencrypt.org/

[2017-09-25 18:59] #5098 closed

[2017-09-25 19:03] #1328 closed

[2017-09-25 19:03] #3545 closed

[2017-09-25 19:03] #3791 closed

[2017-09-25 19:03] #4523 closed

[2017-09-25 19:03] #4837 closed

[2017-09-25 19:03] #4905 closed

[2017-09-25 19:09] SwartzCr commented on #5131
I would uninstall it via pip, then re-install it via pacman, and see if that fixes it. It's likely that you have some python package version problems.
If you use IRC I'm happy to do more hands on debugging in the #letsencrypt channel on irc.freenode.org
Feel free to ping me, my irc name is swartzcr

[2017-09-25 19:13] SwartzCr commented on #5077
@darius1706 have you been able to get it to work? Or made any other progress?

[2017-09-25 19:14] SwartzCr commented on #5073
@gauravkhrnr have you had any success with getting a certificate? Have you gotten past this issue?

[2017-09-25 19:14] SwartzCr commented on #5049
@calciosf have you been able to resolve this issue? Have you managed to get a certificate?

[2017-09-25 19:15] SwartzCr commented on #5038
@631768417 have you had any success getting past this issue? Are you still unable to get a certificate?

[2017-09-25 19:16] SwartzCr commented on #5035
@daveola are you still experiencing this issue? Have you had any success getting a certificate since you opened this issue?

[2017-09-25 19:17] SwartzCr commented on #5022
@tazou have you been able to resolve this issue or are you still unable to get certificates?
If you haven't managed to get a certificate, I'm sure @joohoi would be happy to continue helping you debug this problem

[2017-09-25 19:18] SwartzCr commented on #4980
@geoconnections are you still encountering this issue?

[2017-09-25 19:19] SwartzCr commented on #4976
@bob-zs are you still encountering this problem? Or have you been able to get certbot working?

[2017-09-25 19:21] SwartzCr commented on #4431
@chrissound have you been able to get it working?

[2017-09-25 19:23] geoconnections commented on #4980
No. The fix mentioned on Aug 4 took care of the problem.

@erikrose sorry I didn't take notes as I went through so I am unable to shed any light on your questions.

I will say that I had the same problem crop up on a second system and it was again fixed with the [security] option on requests

[2017-09-25 19:23] #4980 closed

[2017-09-25 19:23] SwartzCr commented on #4977
What's the status of this? @joohoi is this something that'll go into your apache work?
@blacktav have you been able to get your configuration working?

[2017-09-25 19:34] blacktav commented on #4977
@SwartzCr yeah, I am good. I worked round the issue so I don't know if the issue is still present

[2017-09-25 19:40] calciosf commented on #5049
No, I grew frustrated and dropped setting up SSL for this site.  I was not able to solve the issue and finally moved on to other projects which had priority.  I intended to return to this at sometime in the future, but I have been too busy.

[2017-09-25 19:45] bob-zs commented on #4976
@SwartzCr, it is and it isn't still an issue. I still have the issue, but I found the issue goes away when I restart my apache server and quickly run the certbot immediately. Wait awhile after the restart, and the certbot doesn't work again:

Restart -> run certbot immediately -> works
Restart -> run certbot after some time -> error

[2017-09-25 20:10] joohoi commented on #4977
Yes, this will be on the schedule

[2017-09-25 22:01] silverbacknet commented on #2872
So I think I've figured out what the problem is: Anything that has C source or headers gets placed in /lib64 dist-packages, anything that doesn't lands in /lib. That means cffi, cryptography, and zope.interface.

[2017-09-25 22:43] SwartzCr commented on #5049
Okay, let us know when you return it it, and feel free to ping @joohoi if you continue to run into issues with apache parsing

[2017-09-25 22:44] SwartzCr commented on #4976
That's very strange
If you have through logs or steps that someone could use to reproduce this, I bet @joohoi would be interest in making sure we fix the underlying issue

[2017-09-26 00:39] ohemorange commented on #4052
@BadassOverlord, this precise bug was closed, so sounds like it's probably a different problem with similar effects. I'd recommend posting about this on the [community forum](https://community.letsencrypt.org/), including all the information that the "New Topic" page recommends to get help debugging the issue.

[2017-09-26 01:17] davidjb commented on #4716
The former command returns `0` (success; eg the signal was sent), but the reload fails -- permission errors appear in my nginx log.  My suggestion is that Certbot could testing the PIDs of the nginx worker processes.  Nginx's [docs](http://nginx.org/en/docs/control.html) imply this is the only way to know.  Upon a successful reload the `nginx: worker process` processes are replaced and thus their

[2017-09-26 01:44] bmw commented on #3720
Thanks to @r5d and #5014, #5028, and #5121, this has been fixed.

[2017-09-26 01:44] #3720 closed

[2017-09-26 02:52] joshphp opened #5132 "Fedora 26 - NGINX Certbot plugin "not installed""
## My operating system is (include version):
Fedora 26
## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
dnf install certbot-nginx

## I ran this command and it produced this output:
sudo certbot --nginx
The requested nginx plugin does not appear to be installed

OR

sudo certbot --nginx certonly
Saving debug log to /var/log/letsencrypt/letsencrypt.log
Could not choose appr

[2017-09-26 03:39] r5d commented on #3720
@bmw, I see `print` being used in `certbot.log` and `certbot.reporter` modules. Should they be replaced with `IDisplay`'s notification method?

[2017-09-26 05:23] eschaton commented on #3122
What should users who don't want to use either MacPorts or Homebrew do?

[2017-09-26 07:15] tazou commented on #5022
Hello,
It is not solved yet.
I'll appreciate help yes :)
Thank you.

[2017-09-26 07:15] joohoi commented on #4976
Certbot does restarts on it's own after adding the challenge configuration for Apache.

I'll take a wild guess what's going on in here; your server is under heavy or moderate load, serving requests that take a long time to serve. What Certbot uses for Apache restarts isn't the actual "restart" verb for apachectl, but "graceful" which restarts the workers but only after they have finished serving t

[2017-09-26 07:24] joohoi commented on #5022
Certbot isn't currently able to resolve the variables used in configuration. For most of the directives that doesn't matter, but reading the stack trace of the error, it looks like the variable is used in a ServerAlias directive somewhere down the line. To resolve the problem temporarily, you could try removing the variables from the ServerName and ServerAlias directives in your configuration.

In

[2017-09-26 07:29] joohoi commented on #5049
This was actually fixed in #4104 so the fix will be included in the release 0.19 of certbot-apache. Closing the issue for now, feel free to continue discussion here, if you still encounter the issue after the release.

[2017-09-26 07:29] #5049 closed

[2017-09-26 07:47] joohoi commented on #4880
I'm closing this issue, as the work will be tracked in the issue linked above. Thanks again for the report!

[2017-09-26 07:47] #4880 closed

[2017-09-26 07:49] joohoi commented on #4749
I think this is resolved, feel free to comment here if this is not the case and we'll reopen the issue.

[2017-09-26 07:49] #4749 closed

[2017-09-26 08:14] joohoi commented on #4667
This seems to be fixed along the way. There is a failing test however:
`test_make_vhost_ssl_with_mock_span (certbot_apache.tests.configurator_test.MultipleVhostsTest)` but that is because of the hardcoded byte indices in the test (testing the Augeas span), so it's expected.

[2017-09-26 08:14] #4667 closed

[2017-09-26 08:24] joohoi commented on #4450
@ronaldborla would you be able to provide more information (my previous question about error.log contents)?

[2017-09-26 08:31] joohoi commented on #4260
Is this actually an Apache error. What I see in logs is 504 (Gateway timed out) HTTP responses.

[2017-09-26 08:42] ronaldborla commented on #4450
@joohoi I remember I've already resolved my problem. It may have not been completely related to this issue. It turns out, the domain was not correctly configured

[2017-09-26 10:19] joohoi commented on #4245
I'm very sorry this has taken so long. I'm still unable to reproduce the problem, even with your `mod_mono.conf` file. However we should not error out if we get a `None` from Augeas.

This is fixed in a #5235 , but I'd still love to get your full Apache configuration in hopes to understand what's going on, and why we get the `None` in the first place.

[2017-09-26 11:40] joohoi commented on #4450
Ok, I'm going to close this issue for now. If you or someone else experiences the same problem in the future, feel free to comment here, and we'll reopen it.

[2017-09-26 11:40] #4450 closed

[2017-09-26 12:56] kartagis commented on #4604
Hello @SwartzCr,

It works, but I'm still getting the message.

[2017-09-26 13:25] SuperMasterBlasterLaser opened #5136 "Using certbot via proxy"
## My operating system is (include version):
RHEL 7

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
package manager

## I ran this command and it produced this output:
sudo certbot certonly

## Certbot's behavior differed from what I expected because:
My Virtual machine can access to interent only via proxy.

## Here is a Certbot log showing the issue (if available):
An

[2017-09-26 15:21] calciosf commented on #5049
When will 0.19 be released?

[2017-09-26 15:26] swoodford commented on #2889
I've renewed this same certificate on the same server many times before.  It's running Apache 2.4 on Amazon Linux AMI release 2017.03.

Well today for no reason at all the usual renewal command no longer works:
[code]
I tried everything suggested in this issue thread and others, nothing worked, until I tried this one thing that no one else suggested:
`sudo yum remove python27-virtualenv`

followed

[2017-09-26 15:29] tomofu74 opened #5138 "TTPError: 404 Client Error: Not Found for url: https://www.piwheels.hostedpi.com/simple/zope-component/"
## My operating system is (include version):
Rasberrypi3 raspbian

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
letsencrypt-auto

## I ran this command and it produced this output:
letsencrypt-auto

File "/opt/eff.org/certbot/venv/share/python-wheels/requests-2.12.4-py2.py3-none-any.whl/requests/models.py", line 893, in raise_for_status
    raise HTTPError(http_error_m

[2017-09-26 15:56] jsoref opened #5139 "unhelpful message (to stdout/stderr, as reported by cron via email): Encountered vhost ambiguity but unable to ask for user guidance in non-interactive mode"
## My operating system is (include version):
debian 9.1

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto (certbot version: 0.18.2)

## I ran this command and it produced this output:
(for my reference, this was apricot @ 2017-09-23 01:13:07,943)
`certbot-auto -q renew` (in a crontab)
[code]

## Certbot's behavior differed from what I expected because:
1. It d

[2017-09-26 18:43] SwartzCr commented on #5139
Seems mildly confusing, but not like the end of the world, especially since certbot managed to get a cert
@bmw  do you think we should move these from warn to debug?

[2017-09-26 19:07] jsoref commented on #5139
FWIW, my expectations relate to http://www.linfo.org/rule_of_silence.html -- my `-q` really should be enough to enforce that expectation (although the rule of silence would argue that I shouldn't need `-q` at all).

[2017-09-26 19:47] SwartzCr commented on #5049
Releases happen at the beginning of the month, so likely the first week of October

[2017-09-26 21:21] bmw commented on #3122
What do you want to use instead?

You could use [docker](https://certbot.eff.org/docs/install.html#running-with-docker), but since this runs Certbot inside a container where it cannot (easily) manipulate your webserver, you'll get a subset of Certbot's functionality.

Alternatively, after getting the right packages installed, you could create a Python virtual environment and `pip install certbot`.

[2017-09-26 21:28] PeterAS17 opened #5140 "Unable to use certbot on FreeBSD 12.0"
## My operating system is (include version):
FreeBSD 12.0

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
pkg install py27-certbot

## I ran this command and it produced this output:

## Certbot's behavior differed from what I expected because:
certbot renew --dry-run

[code]

No matter what command I run, it outputs an error.
Is this a known issue on the version 12?

Pe

[2017-09-26 21:35] bmw commented on #3720
Good question.

It might be a good idea to change `certbot.log` to use `logger` so that messages are logged as well. This should be OK as long as messages are logged at `certbot.constants.QUIET_LOGGING_LEVEL` or higher.

`certbot.reporter` should probably continue to use `print` though as it uses ANSI escape codes to create bold text which won't work well in log files.

[2017-09-26 21:50] eschaton commented on #3122
I just want to use letsencrypt to set up SSL for my macOS Server without installing a package manager, containerization, etc. Simplest possible potential use.

[2017-09-27 01:23] bmw commented on #4716
Certbot hasn't actually depended on `psutil` since version 0.9.0. The Fedora packages continuing to depend on it is unnecessary and I opened a [bug](https://bugzilla.redhat.com/show_bug.cgi?id=1496291) about it. Thanks for bringing it to my attention.

While I'm pretty hesitant to add any new dependencies or much complexity here, we ideally should do something more than our current error message.

[2017-09-27 01:37] bmw commented on #3122
Certbot has many dependencies not making this very feasible. I think something like [acme.sh](https://github.com/Neilpang/acme.sh) would better suited for your use case.

[2017-09-27 01:42] xuxujiang0 commented on #2516
@addedjacky 你用哪个镜像？等了大概多长时间？我也遇到这个问题，好烦呢。

[2017-09-27 02:23] Shasharoman commented on #2516
`~/.config/pip/pip.conf` work for me.

[2017-09-27 08:20] addedjacky commented on #2516
@xuxujiang0 阿里的，不行的话，就试试清大的镜像

[2017-09-27 09:15] lyenliang opened #5141 "dry-run doesn't work but works correctly without dry-run."
## My operating system is (include version):
macOS Sierra
Version 10.12.6

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
command with `--dry-run` doesn't work:
`./certbot-auto certonly --dry-run --keep --webroot -w /usr/share/nginx/html -d myDomain.com`

output with error messages:

    Saving debug log to

[2017-09-27 11:00] joohoi commented on #4025
Is this issue still valid?

About sites-available:
sites-available/* parsing has been removed in master, and will be included in the next (0.19) release of Certbot.

[2017-09-27 11:07] joohoi commented on #4001
Parsing multiple vhosts per file is fixed and working, sites-available is not parsed per default in the master (and upcoming 0.19) anymore. Closing as fixed.

[2017-09-27 11:07] #4001 closed

[2017-09-27 11:10] joohoi commented on #3959
@Paladin2067 is this issue still relevant? If it is, could you provide logs for us to work on?

[2017-09-27 11:11] joohoi commented on #3825
Closing this as resolved, if the problem persists, feel free to add more information about the problem.

[2017-09-27 11:11] #3825 closed

[2017-09-27 11:16] joohoi commented on #3771
Closing this as apache configuration problem. The configuration above would result in to apache restart failing even if Certbot is completely removed from the equation. The root problem this solution was trying to fix is addressed in issue #3358 so let's continue there.

[2017-09-27 11:16] #3771 closed

[2017-09-27 11:18] joohoi commented on #3702
This seems fixed, I wasn't able to reproduce against current master. Closing as fixed.

[2017-09-27 11:18] #3702 closed

[2017-09-27 11:21] joohoi commented on #3686
Is this issue still relevant or should we close it?

[2017-09-27 11:31] joohoi commented on #3559
This is exactly what ACME TLS-SNI validation is doing. In such environment HTTP or DNS validation options could be a better fit.

The actual issue seems pretty much solved, so closing the issue.

[2017-09-27 11:31] #3559 closed

[2017-09-27 11:47] joohoi commented on #3530
This is fixed, --expanding existing certificate using Apache plugin respects certonly verb.

[2017-09-27 11:47] #3530 closed

[2017-09-27 11:48] joohoi commented on #3520
Looks like this is resolved, closing the issue.

[2017-09-27 11:48] #3520 closed

[2017-09-27 11:54] joohoi commented on #3402
Is this issue still valid @rpilman ?

[2017-09-27 12:04] joohoi commented on #3175
This issue is filed against very old version of certbot-apache, and a lot has changed since. I'm closing this issue as most likely fixed, feel free to comment if the problem still persists in some form and we'll reopen the issue.

[2017-09-27 12:04] #3175 closed

[2017-09-27 12:07] joohoi commented on #3131
This got fixed in #4104 \o/

[2017-09-27 12:07] #3131 closed

[2017-09-27 12:13] joohoi commented on #2920
Closing as not actually Certbot related.

[2017-09-27 12:13] #2920 closed

[2017-09-27 12:15] joohoi commented on #2892
Closing as per https://github.com/certbot/certbot/issues/1123#issuecomment-307879558

[2017-09-27 12:15] #2892 closed

[2017-09-27 12:17] joohoi commented on #2847
This is an very old issue and a lot has been changed in certbot-apache since then. I'm very confident that this issue has been solved. If this is not the case, feel free to comment here and we'll reopen the issue.

[2017-09-27 12:17] #2847 closed

[2017-09-27 12:20] joohoi commented on #2825
This issue is pretty old, and most likely stale, so I'm closing it.
Command `certbot certonly --apache -d your.domain.tld` should work in this use case, as it doesn't try to find matching vhost.

[2017-09-27 12:20] #2825 closed

[2017-09-27 12:22] joohoi commented on #2694
Closing the issue, as multiple vhosts in single file is working in recent versions of Certbot.

[2017-09-27 12:22] #2694 closed

[2017-09-27 12:24] joohoi commented on #2627
I suspect that this is referring to the old ncurses frontend that's removed from certbot now. Can we close the issue @gndgnd ?

[2017-09-27 12:27] koljakutschera opened #5142 "Certbot run bootstrap only"
## My operating system is (include version):
Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
git

## I ran this command and it produced this output:
/opt/certbot/certbot-auto --no-self-upgrade  --noninteractive certonly ...

## Certbot's behavior differed from what I expected because:
Certbot shows: Bootstrapping dependencies for Debian-based OSes... and tak

[2017-09-27 12:32] joohoi commented on #2491
Closing that issue as old and fixed. We do support wildcards in ServerAlias now and a lot has happened in vhost discovery.

[2017-09-27 12:32] #2491 closed

[2017-09-27 12:35] joohoi commented on #2355
This is now added in the included options-ssl-apache.conf closing as fixed

[2017-09-27 12:35] #2355 closed

[2017-09-27 12:42] joohoi commented on #2265
I dug in to this, and looks like it's not actually aug.match, but the parse_file under the hood. In example case of find_dir the call stack is (if the stars align, and the issue is exposed): `find_dir -> _get_include_path -> parse_file -> aug.load` which reloads the Augeas DOM, hence discarding the changes. This got fixed in #4104 , so closing the issue.

[2017-09-27 12:42] #2265 closed

[2017-09-27 12:44] joohoi commented on #2210
Closing the issue as resolved.

[2017-09-27 12:44] #2210 closed

[2017-09-27 12:49] joohoi commented on #2144
Apache plugin should handle this usecase. This bug seems to be created towards webroot, but as the issue is very old, a lot of improvements have been made and the issue hasn't seen any updates in the last year and a half, I'm closing this as resolved. If this is not the case, please feel free to comment here and we'll reopen the issue.

[2017-09-27 12:49] #2144 closed

[2017-09-27 12:53] joohoi commented on #1912
This is an very old issue and a lot has been changed in certbot-apache since then. I'm very confident that this issue has been solved. If this is not the case, feel free to comment here and we'll reopen the issue.

[2017-09-27 12:53] #1912 closed

[2017-09-27 12:58] joohoi commented on #1858
This is very old issue, and I verified it as fixed somewhere along the way. Closing it as fixed.

[2017-09-27 12:58] #1858 closed

[2017-09-27 12:59] joohoi commented on #1779
This is an very old issue and a lot has been changed in certbot-apache since then. I'm very confident that this issue has been solved. certbot-apache also supports multiple vhosts per file now. I'm closing the issue as fixed.

[2017-09-27 12:59] #1779 closed

[2017-09-27 13:01] joohoi commented on #1738
This is an very old issue and a lot has been changed in certbot-apache since then. I'm very confident that this issue has been solved. If this is not the case, feel free to comment here and we'll reopen the issue.

[2017-09-27 13:01] #1738 closed

[2017-09-27 13:05] gnd commented on #2627
@joohoi yes :)

[2017-09-27 13:18] joohoi commented on #1340
This is an very old issue and a lot has been changed in certbot-apache since then. I'm very confident that this issue has been solved. If this is not the case, feel free to comment here and we'll reopen the issue.

The umbrella issue for all things regarding vhost selection is currently #3358

[2017-09-27 13:18] #1340 closed

[2017-09-27 13:27] joohoi commented on #807
Adding as note; related to #2481

[2017-09-27 13:30] joohoi commented on #2627
Awesome, closing as solved.

[2017-09-27 13:30] #2627 closed

[2017-09-27 13:32] cpu commented on #5141
@lyenliang Can you share the affected domain name? It's difficult to debug this problem without knowing that.

I believe Certbot isn't the problem here. I suspect in the production environment (the one used without `--dry-run`) you had successfully issued a certificate for this name using the same Certbot account within the last 30 days. The authorization created from that issuance is reused and s

[2017-09-27 15:21] underarock commented on #3686
Close it, please. Thanks.

[2017-09-27 18:30] nils-ohlmeier commented on #1434
I think I pretty clearly stated that I got into this problem, because I changed DNS information. So yes it was an administrative error.

My request/suggestion was about improving the error message from the LE backend to the client. And maybe the client is not the right area to request this, but then I would appreciate it to get pointed to the suitable component rather then closing old, stale ticke

[2017-09-27 19:19] SnakeME opened #5144 "Certbot installation not working on Windows 10 Ubuntu"
When I try to install certbot on a fresh Windows 10 - Bash on Ubuntu on Windows installation, I run into the following issue:

Installation succeeded.
Traceback (most recent call last):
  File "/opt/eff.org/certbot/venv/bin/letsencrypt", line 7, in <module>
    from certbot.main import main
  File "/opt/eff.org/certbot/venv/local/lib/python2.7/site-packages/certbot/main.py", line 9, in <module>

[2017-09-27 21:02] joohoi commented on #1434
Ah, I'm sorry. Unfortunately we don't have the information on the client side.

I think the correct place to propose such change would be the [acme spec](https://tools.ietf.org/html/draft-ietf-acme-acme-07) the github repository can be found at https://github.com/ietf-wg-acme/acme

The server side software of Let's Encrypt is hosted at https://github.com/letsencrypt/boulder

[2017-09-27 21:10] #3686 closed

[2017-09-27 21:42] binarykitchen opened #5145 "Bump apt-get version from 0.17.0 to 0.18.2"
I see, when I install certbot for Ubuntu 17 via apt-get, the 0.17.0 version is installed. But when via pip, the newer 0.18.2 version is installed.

Reluctant here to install it via pip. apt-get is the standard by why is the version not updated there to 0.18.2 like the python one? Just curious ...

[2017-09-27 21:58] lux-lth commented on #5111
This is a quickfix :

**Crypto_utils.py**, line 246 (check your error log for details)

    # hotfix - replace :
    #    cert.set_serial_number(int(binascii.hexlify(OpenSSL.rand.bytes(16)), 16))
    # with :
    import os
    cert.set_serial_number(int(binascii.hexlify(os.urandom(16)), 16))

[2017-09-27 22:41] bmw commented on #5139
I agree that it should. Luckily, this was fixed by @SwartzCr in #5105 and will be included in our release next week.

We could potentially differentiate between the first two. If there are multiple vhosts with `ServerName`/`ServerAlias` directives matching the domain, we could give an error like the former, while if there are no such vhosts, we could give one like the latter.

I might be missing s

[2017-09-27 22:47] #4438 closed

[2017-09-27 22:51] #4255 closed

[2017-09-27 23:25] jsoref commented on #5139
When certbot updates its /etc/letsencrypt/renewal files, it can mark which file contained the relevant vhost... (obviously that won't work retroactively, but for most users, their vhosts won't yet have disappeared, so at an update, it records it, and when the vhost later disappears, it can explain where it last saw it)

[2017-09-27 23:49] ohemorange commented on #4953
Actually, I don't know how we can do this, since we don't get around to fixing the config until after we've done the challenges, and there needs to be a valid config so that Nginx will start to load the challenges. (Assuming we're talking about `run` not `install` here, because I expect roughly 0 people are using `install` as a verb on its own.) I don't think this is a problem that will have any s

[2017-09-27 23:49] #4953 closed

[2017-09-28 00:02] bmw opened #5147 "tests/modification-check.sh problems"
Imagine the following sequence of events:

1. We do a release, adding a new git tag with changes to our certbot-auto/letsencrypt-auto script.
2. An unrelated PR lands in master triggering CI.
3. A PR updating *-auto in the root of our repo to match the version from the release lands in master.
4. If tests/modification-check.sh has not been run yet for the first PR, when it does run, it will first

[2017-09-28 00:19] bmw commented on #5139
Got it. My personal feeling is that Certbot telling you that you used to have a matching vhost isn't worth the additional complexity of tracking this in case the situation arises and telling you that it cannot find a matching vhost for this domain is enough.

ccing @joohoi as he's currently the main person working on our Apache plugin.

[2017-09-28 02:24] r5d commented on #3720
@bmw, If I'm correctly following you on how to handle `certbot.log`. Does this:

[code]
look like the correct direction to go?

[2017-09-28 07:31] joohoi commented on #5139
The vhost matching isn't relevant at all for the renew or the actual verification operation. What I think we could do here is to proceed in a similar way that we're doing currently if certbot-apache is run without Installer while specifying the domain, eg:
`certbot certonly --apache -d whatever.yourdomain.tld`

This requires a bit of decoupling and method call reordering, but I'll look into this.

[2017-09-28 14:06] cpu commented on #1434
We could update the `urn:acme:error:connection` problem that Boulder is returning to also include the address in the "Connection refused" message but there is also sufficient information in the valid/invalid authz after POSTing a challenge to say where the connection was made (for HTTP-01 and TLS-SNI-01 challenges anyway) client-side.

The challenge that was POSTed will have a populated `validatio

[2017-09-28 15:01] patrakov opened #5148 "Hitting rate limits on (free) usa.cc subdomains"
## My operating system is (include version):
Linux (Ubuntu 16.04)

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
 OS package manager

## I ran this command and it produced this output:
letsencrypt --apache -d redacted-domain.usa.cc
...
An unexpected error occurred:
There were too many requests of a given type :: Error creating new cert :: too many certificates already i

[2017-09-28 15:14] nachoparker commented on #5138
same here

[2017-09-28 15:34] joohoi commented on #1434
I stand corrected, awesome! Reopening the issue.

[2017-09-28 16:14] LaLaGuy commented on #5138
Same problem.

The problem is that the given url is wrong :
https://www.piwheels.hostedpi.com/simple/zope-component/

It should be :
https://www.piwheels.hostedpi.com/simple/zope.component/

Don't know how to correct it myself.
Waiting for an update.
[log.txt](https://github.com/certbot/certbot/files/1341580/log.txt)

[2017-09-28 18:52] bmw commented on #3720
Yep! That looks correct to me.

[2017-09-28 19:42] bmw commented on #5136
Certbot uses the requests library internally which allows you to set environment variables like the ones described [here](http://docs.python-requests.org/en/master/user/advanced/#proxies). Does this work for your use case?

[2017-09-28 19:49] bmw commented on #5140
I wasn't aware there was a FreeBSD 12.

As long as you haven't done anything like install packages on your system through another mechanism like `pip` and your system is up to date, the versions of py27-cryptography and py27-openssl offered on this system may not be compatible with each other.

Any thoughts @koobs?

[2017-09-28 19:50] bmw commented on #5142
I believe this is a duplicate of #4741.

In the meantime, you can use `certbot-auto --version` to get this functionality.

[2017-09-28 19:50] #5142 closed

[2017-09-28 20:05] bmw commented on #5144
Based on the issues Microsoft/BashOnWindows#2431 and Azure/azure-cli#4154, it seems the problem is cryptography version 2.0.1+ and Microsoft/BashOnWindows#286. Unfortunately, we don't want to reduce the cryptography version used in certbot-auto as that has other negative side effects.

Until Microsoft/BashOnWindows#286 is resolved (or https://github.com/pyca/cryptography/ develops and releases a w

[2017-09-28 20:07] bmw commented on #5145
Our PPA is maintained by Debian developers who take the packages from Debian sid (unstable) which is [still at 0.17.0](https://packages.debian.org/sid/certbot).

@hlieberman, any time line on when you expect to update these packages. FYI, 0.19.0 will be coming out next week.

[2017-09-28 20:12] bmw commented on #5148
I would encourage your DNS provider to request to be added to the public suffix list. You can read more about this [here](https://github.com/certbot/certbot/issues/1607#issuecomment-159168888).

If for some reason that does not resolve your issue, I encourage you to open a ticket with [Let's Encrypt's boulder server](https://github.com/letsencrypt/boulder) which determines and enforces these rate

[2017-09-28 20:12] #5148 closed

[2017-09-28 20:19] bmw commented on #5138
Are you still seeing this problem? Is everyone that can reproduce running Raspbian?

@erikrose, any thoughts?

[2017-09-28 20:31] LaLaGuy commented on #5138
The problem is still here.
Personally, I followed those instructions : https://certbot.eff.org/#pip-nginx.
After your comment, I tried again from the start but got the same result.
Like I said on my last post, it tries to access a wrong url.
The problem is the same for other software (Apache for example).

[2017-09-28 21:38] sadreck commented on #5138
Can confirm as well, running Raspbian (stretch) and am getting the same error:

`HTTPError: 404 Client Error: Not Found for url: https://www.piwheels.hostedpi.com/simple/zope-component/ `

Command line is:

`sudo ./certbot-auto certonly --standalone -d mydomain`

[2017-09-28 21:41] binarykitchen opened #5149 "Only email me on failures"
With this daily crontab command I am getting email notifications how the renewal process went on:
`20 3 * * * certbot renew --noninteractive --renew-hook /root/letsencrypt.sh`

Unfortunately I get emailed every day which is too much for me. Is there a hidden parameter to have it email me only on failures? Not on success. Below is an example of that email. Using certbot v0.17.0 installed via apt-ge

[2017-09-28 23:12] bmw commented on #5149
The `-q/--quiet` flag should get you the behavior you want.

[2017-09-28 23:34] binarykitchen commented on #5149
like that @bmw ?

[code]

and will this still email me on errors/failures?

[2017-09-28 23:36] bmw commented on #5149
Yep!
[code]

[2017-09-29 00:46] binarykitchen commented on #5149
ah, great, thanks

[2017-09-29 00:46] #5149 closed

[2017-09-29 03:45] Ark74 commented on #1968
Try
`pip install -U six`

It worked for me.

[2017-09-29 06:21] nachoparker commented on #5138
Exactly the same here. I create Raspbian based images in an automated way for [NextCloudPi](https://ownyourbits.com/2017/02/13/nextcloud-ready-raspberry-pi-image/) and I can reproduce 100% of the times.

[2017-09-29 06:24] joohoi commented on #1434
Adding the information to UI would also help people that have a broken AAAA records in place and are not aware of Let's Encrypt preferring IPv6. This is unfortunately still somewhat common.

[2017-09-29 10:15] SuperMasterBlasterLaser commented on #5136
@bmw Thank you. environment variables worked. I just got used to other softwares that requires setting proxy explicitly in their config files.

[2017-09-29 10:15] #5136 closed

[2017-09-29 17:07] erikrose commented on #5138
@bmw This is [an upstream bug in piwheels itself](https://github.com/bennuttall/piwheels/issues/20) and should go away when it gets fixed.

[2017-09-29 17:07] #5138 closed

[2017-09-29 18:11] bmw commented on #5132
Thanks for reporting this!

Looks like what's going on is when you run `dnf install certbot-nginx`, it installs both the Python 2 and Python 3 version of Certbot but only the Python 2 version of the Nginx plugin. Fedora has configured the executable "certbot" to refer to the Python 3 version where the Nginx plugin wasn't installed.

I've reported this [here](https://bugzilla.redhat.com/show_bug.cg

[2017-09-29 18:11] #5132 closed

[2017-09-29 19:06] joshphp commented on #5132
@bmw thank you, certbo2 worked perfectly!

[2017-09-30 00:26] bmw commented on #827
This feature has been removed from the ACME spec so I'm closing this ticket.

[2017-09-30 00:26] #827 closed

[2017-09-30 00:26] bmw commented on #826
This feature has been removed from the ACME spec so I'm closing this ticket.

[2017-09-30 00:26] #826 closed

[2017-09-30 00:27] bmw commented on #424
`certbot renew` is always non-interactive now so this can be closed.

[2017-09-30 00:27] #424 closed

[2017-09-30 07:32] tpu01yzx commented on #5131
This problem is solved. Thanks.

 It's nothing about the packages. Two of the ALL_FOUR are link symbols, and it seems that storage.py can't get the correct version and returns None, which makes this issuse. After  I created link symbols of ALL_FOUR in the archive directory, everything works well.

In the following, the number "10" is the greatest number in the archive directory. and some configura

[2017-09-30 07:32] #5131 closed

[2017-09-30 09:22] RalphCorderoy commented on #4679
Opened https://github.com/pyca/pyopenssl/issues/698 as it's still occurring in Debian 8.9.

[2017-09-30 09:29] jo0ger commented on #4514
@cnritng It's also works for me

[2017-09-30 17:35] alex commented on #1646
Are folks still experiencing this?

My expectation would be that now that we ship wheels it shouldn't appear, since headers and .so will always match.

[2017-09-30 23:28] alex commented on #2208
@bmw Is the issue you described with multiple certbot installs specific to this, or would any upgrade for certbot trigger it?

[2017-10-01 15:10] own3mall commented on #4036
Happened to me as well on Ubuntu 14.04.

I ran this command to fix it:

`python2 -m pip install --upgrade six`

[2017-10-01 17:05] #4245 closed

[2017-10-01 17:17] ShashankJain123 commented on #5138
I managed to solve this by giving the auto script an additional repository to look for files; in this case **zope.component** rather than **zope-component**

To do this modify /etc/pip.conf and add the below line item
extra-index-url=https://www.piwheels.hostedpi.com/simple/zope.components

Worked like charm and certificate has been generated.

PS: I am not a programmer or a coder and don't know a

[2017-10-01 17:40] tball78 commented on #5138
@ShashankJain123 Thanks.  Workaround worked like a charm.  I appreciate you sharing this since this has been a recent frustration while attempting to get Let's Encrypt cert created.

[2017-10-01 19:42] nachoparker commented on #5138
It works, thank you so much!!

[2017-10-02 07:39] PaulWoods4422 commented on #2858
I encountered this when the disk was full!

[2017-10-02 16:28] gghidini opened #5154 "Enable certificate verification (incl. revocation) by installing OpenSSL on Docker image"
Could `openssl` be installed into Docker image so that certifcates can be tested for revocation?

I noticed `openssl-dev` is installed among `.build-deps` at https://github.com/certbot/certbot/blob/0.18.x/Dockerfile#L20 and then duly removed.

Sure enough certbot DID test for revocation after I installed `openssl` on my running container w/:

[code]

(after updating `apk` w/ `# apk update`)

## My

[2017-10-02 18:56] ohemorange opened #5155 "Replace instances of isinstance(x, str) with isinstance(x, six.string_types)"
To properly detect unicode and be python3-safe.

[2017-10-02 19:01] ynasser commented on #3787
@bmw I think this has already been implemented. In `certbot/main.py` in the the `unregister` function, there's a line for "deleting on boulder" and one for "deleting local account files": https://github.com/certbot/certbot/blob/master/certbot/main.py#L421. What else is there to delete?

[2017-10-02 19:13] ohemorange opened #5156 "We shouldn't be adding a commented out renewal block during the same run as adding an uncommented one when deploying certs with multiple domains"

[2017-10-02 19:14] ohemorange opened #5157 "add_server_directives should pick up whitespace from context rather than having the caller set it, and definitely for replace it should just replace the contents."

[2017-10-02 20:17] bmw commented on #1646
Good point!

I'll close this issue for now and reopen it if people using an up to date version of Certbot are still having this problem.

[2017-10-02 20:17] #1646 closed

[2017-10-02 20:24] bmw commented on #5154
Yes the `openssl` package should be added to the Docker image so this works. Probably we should just install the `openssl` package with ".certbot-deps" and continue to install and remove the `openssl-dev` build dependency.

[2017-10-02 20:24] bmw commented on #5154
Thanks for reporting this issue!

[2017-10-02 20:38] Jlaird commented on #5100
Were you able to fix this? I am also having the same error.

[2017-10-02 20:49] gghidini commented on #5154
Thanks @bmw .

I agree w/ proposed solution.

Since it's rather simple at this time, I can take care of this, if you want me to.

[2017-10-02 21:09] bmw commented on #5154
That'd be great! I'll happily review the PR.

[2017-10-02 21:18] gghidini commented on #5154
Cool. I'll get on it.

[2017-10-02 21:33] #5115 closed

[2017-10-02 22:44] r5d commented on #4879
@bmw, Does this look good?

[code]

[2017-10-02 22:44] bmw commented on #2208
It's specific to the issue of us adding new dependencies we can't install in the virtual environment ourselves through `pip`. That issue was resolved with #4970 though.

To bring this issue up to date, here's what still needs to be done:

1. We need to set `BOOTSTRAP_VERSION` [here](https://github.com/certbot/certbot/blob/5f6b1378eca5a157a35f36e778e8b26702d758d0/certbot-auto#L717) to a different v

[2017-10-02 22:47] ynasser commented on #5077
@darius1706 what version of certbot are you using? I believe this was fixed in a recent certbot release.

[2017-10-02 22:52] bmw commented on #3787
You're right!

It looks like I created this issue after writing [this comment](https://github.com/certbot/certbot/pull/3571#discussion_r87881367) but this functionality ended up being added to #3571 when it was merged months later.

Nice catch!

[2017-10-02 22:52] #3787 closed

[2017-10-02 22:54] ynasser commented on #3787
OK, we should look for a good replacement issue for the livestream.

[2017-10-02 22:55] r5d commented on #3720
@bmw, opened a PR #5160.

[2017-10-02 23:00] bmw commented on #3787
Sure! Happy to comment on any issues you find about whether or not I think they'd be good issues for the livestream. Also happy to look for something you have an idea for the kind of thing you'd like to work on.

[2017-10-02 23:07] bmw commented on #4879
I'd move the call to `self.outfile.flush()` in `FileDisplay.notification` to right after the call to `write` so we flush the output before asking for user input in the case where `pause` is set to `True`.

Otherwise, it LGTM.

[2017-10-02 23:14] ynasser commented on #3787
Yeah, commenting on any good issues you come across would be helpful, esp since you go through the issue queue more often than me. Regarding what the issue would be like, something similar to this one in terms of difficulty because of the 90 minute time constraint (and there are other issues).

[2017-10-02 23:27] ohemorange commented on #4716
The correct thing to do seems to be to use `psutil` to check the worker PIDs, as described. Then we'll get a more straightforward error message, rather than an incorrect one when things fail later, or worse, failing undetectably and not informing the user.

How much of an issue is it to keep `psutil` around as a dependency? Compared to having things work cleanly for our SELinux users?

[2017-10-02 23:28] bmw commented on #3787
I'll keep this in mind while I'm playing the role of @SwartzCr and responding to active issues.

Let me know if you see an older issue that you'd like my opinion on or if you have a specific topic you'd like to work on.

[2017-10-02 23:38] bmw commented on #4716
It'd be adding a new dependency on most systems. Fedora/EPEL is the only one I'm aware of that didn't update the package's dependencies when we did. It's also a compiled dependency relying on non-Python packages which I've been trying to avoid.

With that said, the package is pretty widely available so adding a dependency might not be a big deal.

[2017-10-03 01:35] #5154 closed

[2017-10-03 15:58] ming-chu commented on #5100
My Env:
Amazon EC2 instance
Python 2.7.12

I got the following error which similar to yours.
`
$ /opt/eff.org/certbot/venv/local/bin/certbot --help

Traceback (most recent call last):
  File "/opt/eff.org/certbot/venv/local/bin/certbot", line 7, in <module>
    from certbot.main import main
  File "/opt/eff.org/certbot/venv/local/lib/python2.7/dist-packages/certbot/main.py", line 7, in <module>

[2017-10-03 20:52] #3147 closed

[2017-10-03 21:12] ebourg commented on #3147
Thank you for implementing this! Do the hook scripts get a parameter specifying the domains renewed?

[2017-10-03 22:13] ohemorange opened #5161 "If correct default_server block isn't obvious, ask the user which one they want"
Follow-up from #5030.

[2017-10-03 22:31] MarieAnnick opened #5162 "HTTPS not connecting, Certbot installed correctly"
## My operating system is (Weezy, Apache2)

## I installed Certbot with (certbot-auto)

http://host.com:443 works, but https://host.com gives the ERR_SSL_PROTOCOL_ERROR. There were no issues running certbot-auto. If it's relevant, when restarting apache2, I get the NameVirtualHost*:443 has no VirtualHost error.

ports.conf file:
Listen 80

<IfModule mod_ssl.c>
    NameVirtualHost *:443
    # If yo

[2017-10-03 23:05] torsinclair opened #5163 "require-hashes mode"
## My operating system is (include version):
Ubuntu 10.4

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
wget https://dl.eff.org/certbot-auto

## I ran this command and it produced this output:
sudo ./path/to/certbot-auto --apache certonly

In --require-hashes mode, all requirements must have their versions pinned with ==. These do not:
    setuptools from https://pypi.p

[2017-10-03 23:53] ohemorange commented on #3915
`force_interactive` (the `IDisplay` parameter) could use a better name that indicates what the effect of setting it to True/False/not setting it is, what that will imply about the behavior of the program, and when it should be used.

[2017-10-04 01:48] r5d commented on #4879
@bmw, opened a PR #5164.

[2017-10-04 04:35] koobs commented on #5140
@bmw FreeBSD 12 is the version of the development (HEAD) branch (named: 12-CURRENT), and has not yet been "-RELEASE'd"

The version conflict issue reported here was reported in [FreeBSD Bug 222536](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=222536) and resolved on 2017-09-24 05:00:51, in:

 * [FreeBSD Bug 222519](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=222519)
 * [FreeBSD Bug 2225

[2017-10-04 07:04] joohoi commented on #3147
ebourg, yes! pre- and post hooks don't get those naturally, but the deploy hook has the following environment variables available:

- RENEWED_DOMAINS: space separated list of domains in the certificate that got renewed
- RENEWED_LINEAGE: filesystem path for the lineage that the domains belong to

[2017-10-04 07:50] joohoi commented on #5162
Is your default-ssl vhost enabled (ie. `a2ensite default-ssl` which creates symlink from `/etc/apache2/sites-enabled/default-ssl` to `/etc/apache2/sites-available/default-ssl`?

[2017-10-04 14:33] jplatte opened #5165 "Generated nginx configuration is missing IPv6 listen directive"
This is probably due to bad documentation on nginx side, but currently CertBot only generates a `listen 443 ssl;` directive, both for the validation domain used for tls-sni-01 and the actual domain(s) the certificate is for. This means that tls-sni-01 validation currently doesn't work on ipv6-enabled servers running nginx unless the validation server chooses ipv4 over ipv6 (which I'd assume it pro

[2017-10-04 14:34] jplatte commented on #5165
To be clear, the directive that is missing in the generated config is

[code]

[2017-10-04 14:41] andreasg123 commented on #5132
I ran into a similar issue where `certbot renew -q --no-self-upgrade` on Fedora 26 stopped working after `dnf update` with the same error message:
The requested apache plugin does not appear to be installed

I tried this:

[code]

Based on the comments here, I ran `dnf install python3-certbot-apache`.  That fixed my problem.

It looks like the recent `dnf update` switched to Python 3 without givin

[2017-10-04 17:50] #4109 closed

[2017-10-04 17:59] bmw commented on #5140
Thanks @koobs!

I'm closing this issue as it appears to have been resolved.

[2017-10-04 17:59] #5140 closed

[2017-10-04 18:00] bmw commented on #5165
@ohemorange, can you take a look at this?

[2017-10-04 18:19] matthewcarlin opened #5166 "Can't install certificate due to syntax error in vhost even when no error in vhost"
My operating system is Ubuntu 14.04

 I installed Certbot with  sudo add-apt-repository ppa:certbot/certbot, then sudo apt-get update then sudo apt-get install python-certbot-apache

 I ran this command sudo certbot --apache -d example.com  and it produced this output:

Saving debug log to /var/log/letsencrypt/letsencrypt.log
The apache plugin is not working; there may be problems with your existi

[2017-10-04 18:21] bmw commented on #5166
@joohoi, can you look at this?

[2017-10-04 18:30] matthewcarlin commented on #5166
Am i correct in thinking that maybe if i remove the offending lines temporarily it might install correctly?

[2017-10-04 19:05] ohemorange commented on #5165
Yes, this is an open issue. Thank you for reporting that it's helpful for your use case, closing in favor of #3640 and #4992.

[2017-10-04 19:05] #5165 closed

[2017-10-04 20:23] joohoi commented on #5166
Looking at the stack trace, looks like the problem is Certbot parsing sites-available/* which includes apparently broken configuration file `000-default.conf.save`. This is fortunately fixed in the just released Certbot version 0.19, however it will most likely take a while to end up in the PPA.

Your workarounds for the issue right now would be:
1) Remove the file /etc/apache2/sites-available/000

[2017-10-04 20:33] matthewcarlin commented on #5166
Thanks for the reply.  I'd seen a similar issue raised and then the reply said it had been fixed in 0.19 but didn't know if that's the version i had installed from running my command.  Thanks for the help and workaround.

[2017-10-04 20:45] ohemorange commented on #3550
The correct way to do this is probably to always create a new server block when we find a non-sslish one. Then, when enhancing, add the redirect to the original block we modified, if we duplicated a block to create the new one.

[2017-10-04 23:17] bmw commented on #5163
@erikrose, looks like `zope.component`'s `setup.py` depends on `setuptools`. Do you have a suggestion how to work around this problem?

[2017-10-05 01:07] bmw commented on #4879
Fixed in #5164.

[2017-10-05 01:07] #4879 closed

[2017-10-05 01:16] bmw commented on #2516
Can someone dealing with GFW issues test something for me? We're trying to help with some of the problems here.

Please:

1. Install `git`.
2. Run:
[code]

This command should finish by printing "certbot 0.18.2". If it does not, can you please tell me the output?

Thanks for any help! Afterwards, you can delete the `letsencrypt` directory that was created.

[2017-10-05 09:08] joohoi commented on #5166
Glad that I could help! I'll close this issue for now, feel free to add more comments if experiencing similar problems with Certbot version >= 0.19, and I'll reopen the issue.

[2017-10-05 09:08] #5166 closed

[2017-10-05 10:07] DeronLee commented on #5104
Yes. I tried to install certbot on Centos 7 today. I follow this https://certbot.eff.org/#centosrhel7-other step by step.
when I try to run `sudo certbot certonly` it told me the urllib3 is not found

[2017-10-05 11:08] c0mm0n opened #5174 "Installed with webroot, now trying to edit and fails with Nginx auth?"
Hi,

i've installed LE a couple of weeks ago, everything was fine.
Today I wanted to add a subdomain, and the problems started.
I've then tried to force renew but doesn't get better.

I don't understand why the conf file is setup with webroot and it tries with Nginx Auth.
In any case, the well know folder is working.

## My operating system is (include version):
Debian 7 Wheezy

## I installed Cer

[2017-10-05 14:56] adityaduggal commented on #5109
Even I am facing this issue with CentOS-7, I have tried `pip install --upgrade six`

[code]

[code]

On analysing the above trace of mine, I think there could be an issue with the site name in nginx config file, my website name is something like this `test_website.domain.com`

So I am thinking that underscore in the sub-domain is causing the issue. I am just guessing seeing the trace.

[2017-10-05 15:59] nico202 opened #5175 "Add install information for nixos"
nix (and so nixOS) provide a package for coreboot available [here
](https://github.com/NixOS/nixpkgs/blob/master/pkgs/tools/admin/certbot/default.nix) but on the website is not listed.

Thanks :)

[2017-10-05 17:08] erikrose commented on #5163
@bmw I'm confused as to how this is just coming up now. It doesn't look like zope.component is a new requirement for us. Any clue?

Our options are…
* Get setuptools removed as an upstream dependency. (I don't see what good having it there could do, since setup.py itself will crash if setuptools isn't around. Maybe it has an application for the wheel.)
* Pick a version of setuptools, and pin it.

[2017-10-05 20:32] bmw commented on #4741
As I've described it, this flag would also update Certbot to the latest version. I think there's benefit of having this flag work this way as well (and those who don't want this behavior can use `--no-self-upgrade`) so we should make this clear in the flag name/documentation.

[2017-10-05 20:33] bmw commented on #5174
@ohemorange, can you help with this?

[2017-10-05 20:54] bmw commented on #5175
Thanks for reporting this! I made an issue for this on the repo for our website at certbot/website#279.

Closing this ticket in favor of that one.

[2017-10-05 20:54] #5175 closed

[2017-10-05 21:01] bmw commented on #5163
I have no idea. We haven't changed the version `zope.component` pinned in certbot-auto since March 2016. The hash didn't change either so it's not like they reuploaded the package with different requirements. Perhaps there's indeterminism and/or differences in how `pip` parses requirements in different versions/systems?

I don't like it, but I think our only option for the time being is:

The vers

[2017-10-06 08:28] AndyLeeRobinson commented on #1473
Nearly 2 years have gone by and this simple thing is still unfixed?
After doing updates or renewals, I just run this script from /etc/letsencrypt
/etc/letsencrypt/setprivkeyperms.sh
[code]
Once done, I just rsync the dirs to other servers in the cluster.
Sendmail and apache are happy.

[2017-10-06 17:46] erikrose commented on #5163
Say, @hannosch, do you have any idea why zope.component includes setuptools in `install_requires`? It seems unnecessary, given that setup.py would crash in its absence before it ever got to `install_requires` anyway.

[2017-10-06 17:49] erikrose commented on #5163
The only use of setuptools in zope.component outside setup.py is in bootstrap.py, which is an optional script you can run if you're using buildout.

[2017-10-06 19:04] hannosch commented on #5163
@erikrose zope.component and Zope projects in general tend to use setuptools style namespace packages. So the `__init__` in `src/zope` contains something like `__import__('pkg_resources').declare_namespace(__name__)`.

There are also some other Zope projects using `pkg_resources` features to get version information about installed packages.

I forgot when namespace packages got added to Python Cor

[2017-10-06 19:20] erikrose commented on #5163
Ah, I forgot pkg_resources was part of setuptools. Thanks for the deep and informative reply! I hope all's going well in your new adventure. :-)

[2017-10-07 00:31] mrunc commented on #5020
Well there is also the email sharing question how can you automate saying no to that too?

[2017-10-08 09:06] liquidstate commented on #4556
+1 for this and installation of `curl` and also `bash` (the two tools required for the cloud flare example)

[2017-10-08 12:09] sl1pkn07 commented on #94
any notice?

[2017-10-08 17:53] axsuul opened #5177 "certonly command with --cert-name flag still suffixes certificate directories with -001, -002, etc."
## My operating system is (include version):

Docker image 0.17.0

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

Docker image 0.17.0

## I ran this command and it produced this output:

[code]

running this command will generate the appropriate certs as expected in `live/example`. However, running this command (with intention to renew) a few days later will not replace

[2017-10-08 18:27] fanconic commented on #5138
Unfortunately, if I try the workaround by entering "/etc/pip.conf" I'm denied the access.
What am I doing wrong, or how could I access it?

[2017-10-08 18:34] ShashankJain123 commented on #5138
@fanconic I worked on that with WinSCP.  Helps perform all root actions. Try that

[2017-10-08 19:54] SethGower commented on #3854
I am having a similar problem on Fedora 26. I installed `certbot-apache`, I tried to install `python-letsencrypt-apache` but it fails, I tried to install `python-certbot-apache` but it is already installed. The contents of my `/var/log/letsencrypt/letsencrypt.log` are as follows.
[code]

[2017-10-08 20:23] stevenzhu25 commented on #5130
[code]

[2017-10-08 21:24] fanconic commented on #5138
@ShashankJain123
I’ve tried now with WinSCP, however I‘m still getting a permission error (error 3: permission denied)

Any answer to that?
Or maybe a link to another forum, as I wasn‘t able to find any solution so far.

Thank you already in advanced

[2017-10-09 06:53] mhow2 commented on #1042
Thanks ! But what about debian packages in Stretch ? They still run a rather old version (0.10.0)

[2017-10-09 07:17] mhow2 opened #5179 "debian packages are outdated"
## My operating system is (include version):

Debian Stretch 9.1

## I installed Certbot with OS package manager:

By following the guidelines from https://certbot.eff.org/
Leading to https://certbot.eff.org/#debianstretch-apache for my OS and it installed version 0.10.2-1

## Certbot's behavior differed from what I expected because:

version that is included in Stretch doesn't implement the chang

[2017-10-09 09:07] LymeSimon commented on #3656
October 2017. Bump?

[2017-10-09 12:17] moroadmin opened #5180 "Problem with create ssl on amazon-linux"
## My operating system is (include version):
Amazon Linux AMI 2016.09

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot 0.19.0
manual install:
git clone https://github.com/letsencrypt/letsencrypt /opt/letsencrypt

## I ran this command and it produced this output:
./letsencrypt-auto certonly --webroot -w /var/www/xzv.com -d xzv.com

## Certbot's behavior differed f

[2017-10-09 12:40] jcguevara commented on #5104
I got the same error like @DeronLee .
Anything new?

[2017-10-09 12:45] DeronLee commented on #5104
@jcguevara finally I found the best way is use docker

[2017-10-09 14:19] erikrose commented on #5138
There are about a zillion different places pip looks for configuration. If you can't work out the permission problems for one, try creating another: https://pip.pypa.io/en/stable/user_guide/#configuration. Cheers!

[2017-10-09 15:22] fanconic commented on #5138
@erikrose Thank you, I shall try!

[2017-10-09 17:51] MarieAnnick commented on #5162
The default-ssl vhost is enabled, yes, but I ran a2ensite again, just to confirm. I also double checked in the sites-enabled folder to see the 000-default-ssl link is there.

I have done some editing of the file, but only to add the correct certificate paths as I assumed the previous, self-signed keys were causing the problems.

I'm not sure what's indicating that Apache is serving http over the h

[2017-10-09 20:44] joohoi commented on #5162
I tested with your configuration file on Wheezy, with only adding a correct ServerName and correct certificate paths, and it works as expected.

One reason for the problem could be that you have a non-HTTPS vhost with VirtualHost *:443 directive enabled, and it takes priority over the configuration pasted in this issue.

To list all vhosts that are listening port 443 you can run:
`grep -Rin "virtu

[2017-10-09 20:45] joohoi commented on #5162
Also please verify that you have mod_ssl enabled by running `a2enmod ssl`

[2017-10-09 21:08] MarieAnnick commented on #5162
Thanks,

I ran the command and got this as a result:
/etc/apache2/ports.conf:14:    NameVirtualHost *:443
/etc/apache2/ports.conf:15:    # If you add NameVirtualHost *:443 here, you will also have to change
/etc/apache2/ports.conf:17:    # to <VirtualHost *:443>
/etc/apache2/ports.conf:24:	#NameVirtualHost *:443
/etc/apache2/sites-enabled/host.com-le-ssl.conf:2:<VirtualHost *:443>
/etc/apache2/sit

[2017-10-10 06:36] joohoi commented on #5162
Are the other sites serving HTTPS properly? What puzzles me is the warning that you get when restarting Apache: `NameVirtualHost*:443 has no VirtualHost` that implicates that Apache was unable to see `<VirtualHost *:443>` - directives even though they clearly exist.

Is `/etc/apache2/sites-enabled/000-default-ssl` symlink pointing to `/etc/apache2/sites-available/default-ssl` ?

Is there any chanc

[2017-10-10 12:29] pkaramol commented on #3544
sudo yum-config-manager --enable rhui-us-east-1-rhel-server-extras rhui-us-east-1-rhel-server-opt
sudo yum -y install yum-utils

but still ...

[code]

[2017-10-10 13:27] c0mm0n commented on #5174
Just tried again, having changed nothing on my side, and now it works.

[2017-10-10 13:56] joohoi commented on #5180
Looks like this is a duplicate of #4871 and the work is tracked there, closing this issue to not to split the discussion between multiple issues.

[2017-10-10 13:56] #5180 closed

[2017-10-10 18:02] bmw commented on #5020
You're probably referring to the question of sharing your email address with EFF. You can say no to that on the command line with `--no-eff-email`.

[2017-10-10 18:08] bmw commented on #94
While we should do this in the long term, I unfortunately think the small Certbot development team probably won't have a chance to get to this for a while. If you'd like to see this, I'd encourage you [write your own plugin](https://certbot.eff.org/docs/contributing.html#writing-your-own-plugin) which we'd happily link to in our [third party plugin section](https://certbot.eff.org/docs/using.html#

[2017-10-10 18:08] bmw commented on #5177
@ohemorange, can you take a look at this?

[2017-10-10 18:11] bmw commented on #3854
@SethGower, I expect your problem is a duplicate of #5132 which I closed in favor of the [bug upstream](https://bugzilla.redhat.com/show_bug.cgi?id=1497314). To work around the problem, either:

1. Use the executable "certbot-2".
2. Run `dnf install python3-certbot-nginx`.

[2017-10-10 18:18] bmw commented on #5130
We strongly discourage `pip` installing packages globally as it can corrupt OS packages on your system. `urllib3` sometimes uses `pyopenssl` to provide better SSL support than is found in the Python standard library.

At this point, it might be easiest to work around the problem by using [certbot-auto](https://certbot.eff.org/docs/install.html#certbot-auto) which installs Certbot in an isolated vi

[2017-10-10 18:23] bmw commented on #5179
@hlieberman, what's the status of getting Certbot into stretch-backports?

[2017-10-10 18:24] bmw commented on #5179
@mhow2, in the meantime, if you need features only available in newer versions of Certbot, I recommend you use [certbot-auto](https://certbot.eff.org/docs/install.html#certbot-auto).

[2017-10-10 18:26] bmw commented on #3656
@LymeSimon, per the issue I linked above, the command was implemented. Run `certbot certificates`.

[2017-10-10 18:29] bmw commented on #5104
At least in some of these cases, I'm suspicious of corrupted Python environments where packages have been `pip` installed, overriding versions of packages provided by your operating system. We strongly recommend you do not do this.

If you've already found yourself in this position, I recommend you use [certbot-auto](https://certbot.eff.org/docs/install.html#certbot-auto) which has a minimal relia

[2017-10-10 18:50] ohemorange commented on #5174
Looks like this was solved so I'm going to close. What it sounds like happened (@bmw you might be interested also): when you run `certbot-auto` with only a flag but no verb, `certbot` a) does not load saved options from existing certs, instead using only the command line options. Sounds like this was not the expected behavior. And b) it assumes you would like to both get and install a cert. Since

[2017-10-10 18:50] #5174 closed

[2017-10-10 18:56] LymeSimon commented on #3656
Thanks BMW... I assumed it was `certbot list` and didn't check the linked issue. I'll probably get *Must try harder* on my school report now! ;-)

[2017-10-10 19:15] ohemorange commented on #5177
You correctly understand the intended behavior, and I'm having trouble reproducing this issue. Would you mind pasting relevant logs into a gist?

[2017-10-11 01:00] mrunc commented on #5020
@bmw Thank you, that was helpful

[2017-10-11 07:07] jcguevara commented on #5104
@DeronLee thanks for your advice.

I just solve it downloading it directly from GitHub and running certbot-auto as @bmw recommended.

[2017-10-11 07:32] DeronLee commented on #5104
@jcguevara Thanks. I will try it later.

[2017-10-11 08:42] #2131 closed

[2017-10-11 18:49] bmw commented on #3093
We're trying to help people dealing with the GFW and need help testing something. If you can, please follow my instructions [here](https://github.com/certbot/certbot/issues/2516#issuecomment-334332845) and report back.

[2017-10-11 19:21] drguildo commented on #3735
I had the same (or at least very similair) error on Ubuntu 16.04.3 LTS. Seems Certbot wasn't smart enough to do `apt-get install python-augeas`. Doing it manually fixed the problem for me.

[2017-10-11 22:17] abdulwahid24 commented on #2850
same here @tatianafrank , Let me know if you got any solution?

[2017-10-11 22:31] abdulwahid24 commented on #2850
I got it resolve by `python3 -m venv myenv`

[2017-10-12 10:38] xomka686 commented on #3489
Hi! Is there any roadmap for that feature or patch is still being awaited from the community?

[2017-10-12 16:46] bmw commented on #3489
This isn't currently on the core Certbot team's roadmap. We'd probably get to it eventually, but the feature would land much faster if an external contributor submitted a well written PR.

[2017-10-12 22:10] pde commented on #3735
@drguildo can you please file another bug if you want that addressed? Be sure to include the method that you used to install Certbot...

[2017-10-13 00:12] ohemorange opened #5185 "Put new Nginx server blocks we create in a new file when appropriate."
When copying from `sites-available/default`, put it in a new file under `sites-enabled` and symlink to that from `sites-available`, if that's the setup that we have and `sites-available/*` is imported in `nginx.conf`. Plus any other details that aren't immediately obvious.

Originally mentioned at https://github.com/certbot/certbot/pull/5153/files#r143084200

[2017-10-13 04:03] insanepjj commented on #1473
#

[2017-10-13 08:08] bertalanimre opened #5186 "Certbot to update not only nginx.conf but config in sites-enabled"
## My operating system is (include version):
CentOS 7

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS package manager (yum)

## I ran this command and it produced this output:
certbot --nginx

## Certbot's behavior differed from what I expected because:
Upgrade config files in /etc/nginx/sites-enabled folder as well

So my question is basically how can I tell certbot

[2017-10-13 08:25] grantwwu commented on #2239
...I'm just going to close this; I no longer use Debian, and I haven't had any issues since, with Certbot on Ubuntu.

[2017-10-13 08:25] #2239 closed

[2017-10-13 09:20] ccharlot commented on #5063
Any news on what's happening ?
I installed certbod with the PPA no Ubuntu 14.04 and also have these messages..

[2017-10-13 09:29] campones commented on #5063
same.. :)  certbot is working fine though

[2017-10-13 11:19] dobster42 opened #5187 "apache down after letsencrypt-auto, how to revert back?"
## My operating system is (include version):
Debian 7.11

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
certbot-auto

## I ran this command and it produced this output:
./letsencrypt-auto --apache -d MYDOMAIN.eu -d www.MYDOMAIN.eu
Creating virtual environment...
Installing Python packages...
Installation succeeded.
Saving debug log to /var/log/letsencrypt/letsencrypt.lo

[2017-10-13 11:48] kierun commented on #5063
The PPA maintainer(s) are the people to ask. Unless they solve it, there is not much chance of this ever being resolved.

[2017-10-13 15:58] lyenliang commented on #5141
Hi, @cpu, thanks for your reply. But The domain name I run `cert-bot` with is a private domain name that belongs to the company I work for. Even if I tell you the domain name, you will not be able to access it. It is public only before I renew it. It becomes private right after the renew command.

[2017-10-13 17:25] hackel commented on #5063
For Ubuntu 14.04, python-cffi-backend (and python3-cffi-backend) both come from the official Certbot PPA:
http://ppa.launchpad.net/certbot/certbot/ubuntu/
It appears that they were backported from Debian, as the maintainer is listed as "Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>" which isn't strictly true.  It would be nice if we could get this patched in the Certbot

[2017-10-13 17:33] pde opened #5188 "Fix the install verb"
This shouldn't happen:

[code]

We've been putting this off because `certbot` or `certbot run` basically works fine as an installer. But with wildcards becoming available via dns plugins, we might want to give instructions like:

[code]
or similar.

[2017-10-13 17:33] pde commented on #5188
This may be an 0.21 or 0.22 ticket, but putting it in the next milestone for now.

[2017-10-13 18:28] bmw commented on #5186
@ohemorange, can you help with this?

[2017-10-13 18:58] cpu commented on #5141
Hi @lyenliang Did you try my idea to test if the confusion about `--dry-run` vs not is the product of a reused authorization?

I suspect if you created a new Certbot account and tried to issue for this domain without `--dry-run` it would fail with the CAA error you see using `--dry-run`.

That's ok, I don't need to access the site to help diagnose a CAA SERVFAIL error as long as the nameservers fo

[2017-10-13 19:12] bmw commented on #5187
What's the output of `sudo service apache2 start`? If it's still unable to obtain port 443, do you know if your Apache configuration was previously listening on this port? Do you know what's listening on this port now (possibly by using instructions provided [here](https://unix.stackexchange.com/questions/106561/finding-the-pid-of-the-process-using-a-specific-port))?

If Apache wasn't previously l

[2017-10-13 19:14] bmw commented on #5063
@oerdnj, are you able to help resolve this problem?

[2017-10-13 19:26] bmw commented on #4136
Fixed in #5183.

[2017-10-13 19:26] #4136 closed

[2017-10-13 19:29] #5030 closed

[2017-10-13 19:34] dobster42 commented on #5187
Thanks for your answer, Brat. nginx was listening on this port and I got
apache running again after settings the ports.? file, alas without https
support. At the moment I am completely nackered from downing a production
server for 5 hours on friday the 13th. and winding down with a bottle of
vodka. Getting https going is of utmost priority and I will follow your
provided information as soon as I a

[2017-10-13 22:26] ohemorange commented on #5186
Hm, your expectations seem correct. The following information will help us debug your problem:

- The results of `tree /etc/nginx`
- The contents of any relevant config files, including `/etc/nginx/nginx.conf` and relevant files in `/etc/nginx/sites-enabled`
- The contents of relevant logs in `/var/log/letsencrypt/`

Please upload them to your favorite paste site (github gist works well), and feel

[2017-10-14 15:10] MarieAnnick commented on #5162
Here you go. I inherited responsibility of the site from another admin, so there's years of leftovers from different configurations. I'm guessing that one of those is what's messing things up, it's just I can't seem to find it.

The only changes I made to the tarball before uploading was redacting the IP address and changing the site name to "host.ca"
Thanks
[apache2.tar.gz](https://github.com/cer

[2017-10-14 15:30] lyenliang commented on #5141
Hi, I haven't figured out how to create a new Certbot account. But I have tried registering a new domain with `--dry-run` option. I still the same error saying `SERVFAIL looking up A for myDomain`.

This means that even if I hadn't issued a certificate for this new domain using the Certbot account within the last 30 days. Running the command with `--dry-run` options still fails.

[2017-10-14 16:41] mohammadmojrian commented on #5063
@SwartzCr have you got your email answer ?

[2017-10-15 19:30] hlieberman commented on #5179
@mhow2, @bmw, a new version has been uploaded to stretch-backports.  It's in the backports-NEW queue at the moment, but it should be released in the next couple of days.

[2017-10-16 13:15] taikedz commented on #5084
Any progress on this?

I'm encountering the same issue in a docker container based on `ubuntu:xenial`, installing via `pip`

Current workaround is to use the PPA `ppa:certbot/certbot` to install `python-certbot-apache`. Is this now the recommended way to install the apache-compatible module?

Output of installing `certbot-apache` from pip:

[code]

[2017-10-16 15:57] MiningPickaxe opened #5189 "Incorrect validation certificate for tls-sni-01 challenge"
## My operating system is (include version):
Debian Jessie

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
wget https://dl.eff.org/certbot-auto && chmod a+x certbot-auto
./certbot-auto

## I ran this command and it produced this output:
`certbot-auto certonly --standalone --rsa-key-size 4096 -d thisismysub.domain.de`

## Certbot's behavior differed from what I expected b

[2017-10-16 17:55] bmw commented on #5179
Great. I'm closing this issue.

I opened certbot/website#283 to track updating our documentation to tell users to use backports.

[2017-10-16 17:59] bmw commented on #5084
Yes. See https://certbot.eff.org/#ubuntuxenial-apache.

We do not recommend you install Certbot through `pip` for a number of reasons, but if you still want to do this, I suspect your problem can be resolved by running:
[code]

[2017-10-16 18:11] #5179 closed

[2017-10-16 18:27] mxbi commented on #4884
@SwartzCr Unfortunately not - I just tried it again now that the old cert has expired, and I get the same error. Could you elaborate on running it with `--debug`? I tried it, however the behaviour is the same (it crashes with the error immediately after saying "Cleaning up challenges". How am I supposed to navigate to the challenge page?

I also tried updating all python packages and updating Pyth

[2017-10-16 19:57] passion8 commented on #5063
any update ?

[2017-10-16 20:54] bmw commented on #5189
Do you recognize the domain you called "anotherdomain.com"?

I've got a few things for you to try, but I recommend you add `--dry-run` to the command line while doing so to avoid [rate limits](https://letsencrypt.org/docs/rate-limits/) from Let's Encrypt.

If you run the same command and add `--debug-challenges` (and `--dry-run`) to the command line, Certbot will stop with `Challenges loaded. Pres

[2017-10-16 21:19] bmw commented on #4884
Just dug into this a bit. What's going on is [here](https://github.com/certbot/certbot/blob/95a7d4585619d612ff28ac24dac4faefaee59e72/acme/acme/client.py#L569) we try to parse every response from the ACME server like it contains JSON with a `try` and `except` block around it to catch any errors if that fails. It seems like you're encountering a different error type than the one being caught, causin

[2017-10-17 04:10] MulticolorWorld opened #5190 "Describe Dockerfile tags/features in description on Docker Hub"
This is not a bug report.

Description of [dockerhub](https://hub.docker.com/r/certbot/certbot/) is not explanation of certbot docker "image".
It should be written about image tag, command to running, configuration particular to docker, in dockerhub description (like [nginx](https://hub.docker.com/_/nginx/)).

Maybe it is needed massive change repository structure.
But I think that this change is

[2017-10-17 13:49] lordspace opened #5191 "certbot: error: unrecognized arguments: –-post-hook"
## My operating system is (include version):
ubuntu 16

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
[code]

## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:
According to docs there's a --post-hook but the binary complains that it doesn't have that kind of argument.

here's the doc I used.
 /opt/let

[2017-10-17 17:46] MiningPickaxe commented on #5189
`Do you recognize the domain you called "anotherdomain.com"?`
Yes I do. It was the domain of the Server cluster.

`I've got a few things for you to try, but I recommend you add --dry-run to the command line while doing so to avoid rate limits from Let's Encrypt.`
So I tried that, apperantly not rate limits.

`openssl s_client -connect <your domain>:443`
that gave some information... Apperantly it

[2017-10-17 17:47] bmw commented on #5190
I agree this should be improved. Currently it's just pulling in the general README for this repo.

We'll get to this eventually, but if someone else wants to write up an improved version and tell me how to have it use that description on Docker Hub, I'll gladly update it.

Thanks for reporting this!

[2017-10-17 17:53] bmw commented on #5191
I think the problem here is the hyphens before `post-hook`. Looking at what you posted above, the first hyphen is the "En Dash" Unicode character not found in standard ASCII, while the 2nd hyphen is the conventional one found in ASCII and most UNIX command lines. I expect fixing this so your command becomes:
[code]
will solve the problem.

[2017-10-17 18:15] #4108 closed

[2017-10-17 18:18] bmw commented on #5079
Let's keep an eye on this as `mod_md` becomes packaged and shipped by different distros.

[2017-10-17 18:19] bmw commented on #4989
Putting this in 1.0 to look into it, but we can potentially kick it further once deciding how bad the problem is.

[2017-10-17 18:29] #4246 closed

[2017-10-17 18:39] bmw commented on #374
This was fixed in Nginx in #4973 and we determined we don't need to do anything special for Apache in the discussion at #4881 because Apache automatically handles this issue.

[2017-10-17 18:39] #374 closed

[2017-10-17 22:24] bmw commented on #5189
I can tell you more about what's going on behind the scenes and you might be able to figure out what happened with more knowledge of your setup. To verify that you control your domain, Let's Encrypt is attempting to establish a TLS connection with the IP address for the domain you requested a certificate for. It is requesting to create that connection for a randomly generated, invalid domain name

[2017-10-18 23:08] ohemorange commented on #5156
Hm, turns out there's two different problems here. First, as stated above. But really it shouldn't have been doing this in the first place based on the current logic as attempted to be implemented. As written currently, it should just be logging a message. Second, it shouldn't be logging that message for the same-run situation described above. The first is more of an issue.

[2017-10-18 23:10] ohemorange commented on #5156
Actually, the bug only happens in the single-run case, because the raw server block isn't kept up to date with the canonical version of the server block in the `parsed` data structure.

[2017-10-18 23:27] ohemorange commented on #5156
Foiled by trailing whitespace

[2017-10-18 23:34] ohemorange commented on #5156
I don't think it's worth it to make more changes to just stop logging, actually.

[2017-10-19 05:33] johey opened #5194 "certbot cannot find server names if location contains content_by_lua_block"
## Problem description

I have properly configured nginx with a few virtual hosts. They are perfectly working on port 80. In one of the `location{}` blocks, I have a `content_by_lua_block{}` with valid lua syntax. This seems to make certbot comfused, as removing that block before running the certbot command helps.

That said, I have successfully found a workaround, temporarily removing the `conten

[2017-10-19 13:02] fanglijun commented on #5104
cerbot-auto surprisingly works!  why are there so many extra tools to do this?  ( ˇˍˇ )

[2017-10-19 13:27] BirkhoffLee commented on #2516
@bmw Hang. Tencent Cloud at Shanghai

[code]

[2017-10-19 13:53] BirkhoffLee commented on #2516
For anyone encounters the same situation and still can't fix using the solutions above, I solved by following this article:

https://my.oschina.net/xiongliding/blog/825231

[2017-10-19 13:56] embray commented on #1783
@bmw Thanks for the explanation. I was seeing this as well (and only had warnings about `DocumentRoot`).  Nevertheless my Apache server went belly-up today after new certificates were issued and it's not clear what happened or why, but it's probably an unrelated issue.

[2017-10-19 15:03] MarieAnnick commented on #5162
I figured it out!

in the apache2.conf file, the line

Include sites-enabled/

was commented out. I uncommented it and it threw a bunch of errors because several of the sites-available files were corrupted and the site wouldn't load. I'm guessing previous admins had commented it out because the files were corrupted just enough that the site _would_ load if you didn't need symlinks. I fixed the fil

[2017-10-19 15:03] #5162 closed

[2017-10-19 18:22] bmw commented on #5194
@ohemorange, can you take a look at this?

[2017-10-19 18:39] bmw commented on #2516
Thanks so much @BirkhoffLee.

We'll see if we can come up with another approach that will help here.

cc @erikrose

[2017-10-19 19:45] erikrose commented on #2516
@BirkhoffLee Can you download https://mirrors.ustc.edu.cn/pypi/web/packages/69/65/4c544cde88d4d876cdf5cbc5f3f15d02646477756d89547e9a7ecd6afa76/setuptools-20.2.2.tar.gz using a web browser, or does that hang also?

[2017-10-19 20:25] erikrose opened #5195 "pip --require-hashes ignores our == pinning in favor of >= from individual packages"
On using certbot-auto, some people get this:

[code]

We do, of course, pin zope.interface==4.1.3 in the requirements file, but pip somehow lets the specification in zope.component take precedence. ([pip doesn't have a real dependency resolver](https://github.com/pypa/pip/issues/988), so it's probably just reaching the zope.component one first.)

1. Try to reliably reproduce this.
2. Try to fix it

[2017-10-19 20:27] bmw commented on #5195
I unfortunately expect reproducing this will be hard, but the user who encountered this was running an updated version of Ubuntu 14.04 with certbot-auto 0.19.0.

[2017-10-19 20:33] bmw commented on #5195
As an aside, I'd argue that this is a bug in `pip`. If we can get a fix for this released upstream, we could update `pipstrap` again to upgrade people to a new enough version to avoid the problem.

[2017-10-19 21:06] bmw opened #5196 "Nginx plugin not finding HTTP server block it created"
## My operating system is (include version):

Ubuntu 16.04

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

Dev instructions

## I ran this command and it produced this output:

Starting with the default Nginx config on Ubuntu 16.04, I ran:
[code]

## Certbot's behavior differed from what I expected because:
Nginx is listening on port 80 and continuing to serve insecure

[2017-10-19 21:11] bmw commented on #5196
While we should eventually be creating a separate server block, the actual bug right now is our Nginx plugin is failing to find the server block we created from the default that is listening on both port 80 and 443.

[2017-10-19 21:13] ohemorange commented on #5196
Is this still a problem when you apply #5192?

[2017-10-19 21:17] #4535 closed

[2017-10-19 21:51] bmw commented on #5196
Yes. I was testing that PR when I came across this.

[2017-10-19 21:56] #5156 closed

[2017-10-20 00:14] BirkhoffLee commented on #2516
@erikrose On the same server, it could be downloaded

[code]

[2017-10-20 16:01] hozza opened #5197 "[Pls Help!] Certbox firing multiple times and restarting at odd time..."
If anyone can shed some light on this problem I'd be forever grateful! Long-time Linux, first time certbot sys-admin. - doing by best to follow the issue template prompts here too...

Ubuntu 16.04

Installed certbox with apt-get (suggested in Digital Ocean docs)

## How I'm running certbot
certbot auto renew is setup on a cron-job at 03:10 everyday to check (and potentially renew the certificates)

[2017-10-20 17:58] bmw commented on #5197
The Certbot packages on Debian based systems comes with a cron job/systemd timer to run Certbot at noon and midnight (with a 1 hour random offset from that time). The crontab is placed at `/etc/cron.d/certbot`. Can you provide a link to the documentation you were following that failed to mention this so we can try and get it updated?

I'm not sure about this one. As you pointed out, the long delay

[2017-10-20 23:46] #5196 closed

[2017-10-21 18:10] pwaring opened #5199 "certbot with nginx fails if directives are already defined"
## My operating system is (include version):

Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-96-generic x86_64)

nginx version: nginx/1.10.3 (Ubuntu)
certbot version: 0.17.0

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

Package manager (apt) using the certbot PPA (`ppa:certbot/certbot`). The package I installed was: `python-certbot-nginx`.

## I ran this command and it produced

[2017-10-21 20:38] BevanH opened #5200 "Another instance of Certbot is already running."
## My operating system is (include version):
AWS -Amazon Linux

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):

## I ran this command and it produced this output:
letsencrypt-auto --debug

## Certbot's behavior differed from what I expected because:

Requesting to rerun ./letsencrypt-auto with root privileges...
Another instance of Certbot is already running.

## Here is

[2017-10-21 20:42] BevanH commented on #5200
How do I stop "Another instance of Certbot is already running"?

[2017-10-21 20:53] MulticolorWorld commented on #5190
We configure dockerhub build settings, then dockerhub use README in same folder of Dockerfile.
In other words, at master branch, we set Dockerfile Location to folder except root and put Dockerfile and README file in that folder, so we can show dedicated README for DockerHub.

Referenced: [Configure automated builds on Docker Hub](https://docs.docker.com/docker-hub/builds/)

[2017-10-22 01:36] pos42 commented on #4925
What is the status of this? I have the very same problem

[2017-10-22 07:06] rigrassm opened #5201 "Certbot always checks default cli.ini locations when the --config option is set"
## My operating system is (include version):
[code]

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
OS Package manager
[code]

## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:
Having explicitly set the config file for certbot to use, I would not expect it to also load an old config file in one of the

[2017-10-22 13:55] hollaho commented on #5033
Now after a few version updates for certbot and also for python/cryptography the issue has vanished also for me. So far so good.

[2017-10-22 17:04] adrianmihalko commented on #5063
same problem here

[2017-10-23 02:30] leogaggl commented on #5063
Same problem on multiple VPS.

[2017-10-23 03:34] hhstore commented on #5104
# reason:

- env: `mac osx` + `Python2.7.13`
- you guys should check `openssl` version.
- the mac osx default openssl version is `0.9.8zh 14 Jan 2016`.
- when you use `brew install openssl`, the current version is `stable 1.0.2l`.
- but if you use `brew install openssl@1.1`, this version will  Cause `No Module Found Urllib3` issue.

# How to fix:

[code]

- then, you will find `Urllib3` issue is f

[2017-10-23 07:31] kierun commented on #5063
PSA: Please note that there is a nice little button you can press to get a "+1" (aka thumb up) on the original post. It's on the top right of the message box and has a plus sign and a smiling face. **There is no need to post "me too".** We know it is a problem.

[2017-10-23 08:00] PABourdin commented on #5063
@kierun given the fact that the solution to the problem seems rather simple, but no action seems to be taken to solve the problem, I must say the situation is rather frustrating for "me too", which I can not express with a laughing smilie.

[2017-10-23 11:16] oerdnj commented on #5063
*rather simple*, wow, thanks for the assessment.

Nevertheless, it has been fixed now. Feel free to close the issue.

[2017-10-23 12:33] PABourdin commented on #5063
@oerdnj Cornfirmed, the invalid header line is nomore present in trusty packages.

This issue may be closed.

[2017-10-23 13:05] kierun commented on #5063
@oerdnj I am afraid this is not fixed for all packages:

[code]

Only the Python 3 ones have been fixed.

[2017-10-23 13:07] oerdnj commented on #5063
`apt-cache policy python-cffi-backend`
`apt-cache show python-cffi-backend`
?

[2017-10-23 13:10] kierun commented on #5063
@oerdnj Ah, my bad! Ubuntu does needs to `upgrade` as well as `update`…

But here is the output in case that helps someone else.

[code]

That does indeed fix it!

@oerdnj Many thanks indeed!

[2017-10-23 13:10] #5063 closed

[2017-10-23 19:47] bmw commented on #5199
@ohemorange, can you take a look at this?

[2017-10-23 20:34] ohemorange commented on #5199
Thanks for getting in touch! This is a design decision that we've made to most gracefully handle interacting with the configuration options people have already set; we don't know if we can safely overwrite your existing directive, but we need the directive to be set to 128. If you would like to use Certbot's Nginx installer, you can change your directive to say 128 as well, then Certbot will work

[2017-10-23 20:49] ynasser commented on #3898
https://certbot.eff.org/docs/using.html#log-rotation

[2017-10-23 20:49] #3898 closed

[2017-10-23 21:57] bmw commented on #5200
You need to kill or wait for other Certbot processes running on your machine to finish. I suspect if you try running `letsencrypt-auto` again, you won't have this problem, but if you do, run `pgrep letsencrypt,certbot` to get the process ID of the running instances or `pkill letsencrypt,certbot` to just kill them.

[2017-10-23 21:58] bmw commented on #4925
@pos42, do neither of the suggestions I provided [here](https://github.com/certbot/certbot/issues/4925#issuecomment-315250785) work for you?

[2017-10-23 22:47] pos42 commented on #4925
@bmw

I have tried hooks to restart a service. That works well. But  If I should write my own code to make an interactive process to be non interactive, I will probably which to another software than certbot... I thought easy non interactive automation was an important development driver when the certs are 3 months only.

This works with success, but is interactive which I do not want...
certbot -

[2017-10-24 01:03] bmw commented on #5201
Thanks for the detailed bug report @rigrassm. I've reproduced this and opened an issue with the library we use for parsing configuration files to see what we can do to work around this. That issue is bw2/ConfigArgParse#104.

[2017-10-24 01:23] bmw commented on #4925
Automatic renewals is a very important part to using Certbot and Let's Encrypt as I said above in the response to the request to make `certbot renew` a manual process. Unfortunately, the complexity here comes from there not being a standard protocol for updating DNS. Every DNS provider has their own protocol, so Certbot has to write code for each provider in order to automate this type of challeng

[2017-10-24 07:42] pwaring commented on #5199
The problem isn't that cerbot is setting the directive to something other than what I have used, it's that certbot is duplicating an existing directive. Even with `server_names_hash_bucket_size 128;` in my `nginx.conf`, certbot will crash nginx with the same error message.

As a simple test, if I forget certbot for a moment and add the following two lines to `nginx.conf`:

[code]

Then I check the

[2017-10-24 09:37] mvi-x commented on #5155
is this a simple search in all files ```isinstance(x, str)``` and replace for ```isinstance(x, six.string_types)```?
If so, I could do it. I've been looking forward to contributing somehow towards security and privacy with my limited ability and this could be a way to get started in a project I respect greatly.

[2017-10-24 12:20] hozza commented on #5197
Thanks very much for the help, you're a life-saver! - found the default cron you mentioned, I did glance through the cron directories on a hunch previously - must have missed it, never did see this in the docs, although I may not have read every word perfectly, perhaps making it more obvious would be an idea?

I was walking through these docs when trying to solve the issue... (the same?)

http://l

[2017-10-24 12:38] hozza commented on #5197
accidental close, you may want to leave this open for the docs edit maybe? Your call! :)

[2017-10-24 18:00] bmw commented on #5155
Yes that's it! Thanks for the interest and the kind words. We'd happily accept a PR that makes this change.

[2017-10-24 21:26] ohemorange commented on #5199
That's true, because of the way we currently handling needing to push updates regarding server directives for certificates that have already been installed. We're currently working to update our update mechanism, which should remove the current restriction, making the set of configs we can handle automatically more expansive. For now, if you're ok with having Certbot set `server_names_hash_bucket_

[2017-10-25 06:41] vhp1360 commented on #2777
Hello guys,
I've had this issue too.
I got same messages:

Performing the following challenges:
tls-sni-01 challenge for officeapps.shomar.com
nginx:[warn] "ssl_stapling" ignored, issuer certificate not found for certificate "/.../officeapps.shomar.com.crt"
nginx:[warn] "ssl_stapling" ignored,no OCSP responder URL in the certificate "/.../officeapps.shomar.com.crt"
Waiting for verification...
Clea

[2017-10-25 07:07] pwaring commented on #5199
I can't remove that line from my configuration though because nginx won't start without it being increased from the default, which is why I added it in the first place (before I started using certbot).

If I'm understanding this correctly, the situation is that the nginx plugin won't work if the following are true:

 1. The user wants to use `certonly` so that certbot fetches the certificates but

[2017-10-25 18:13] mvi-x commented on #5155
Thanks for the prompt reply! I may be missing something here, but I've checked the whole code base and it'd seem to me like this has already been done. I guess this means one concern less!

[2017-10-25 20:09] tomtastic commented on #3680
'-q' doesn't seem to work?

`2017-10-25 11:55:59,021:DEBUG:certbot.main:certbot version: 0.17.0
2017-10-25 11:55:59,022:DEBUG:certbot.main:Arguments: ['-q']
2017-10-25 11:55:59,023:DEBUG:certbot.main:Discovered plugins: PluginsRegistry(PluginEntryPoint#apache,PluginEntryPoint#manual,PluginEntryPoint#null,PluginEntryPoint#standalone,PluginEntryPoint#webroot)
2017-10-25 11:55:59,112:DEBUG:certbot.lo

[2017-10-25 20:16] tomtastic commented on #3680
@bmw Can you suggest why /var/log/letsencrypt/letsencrypt.log is still being filled with DEBUG info despite '-q' being used?

[2017-10-25 21:50] tomtastic commented on #3680
Well, it looks like there is no actual nice way to stop this DEBUG log, so I set --max-log-backups to 0 and then forcibly clobbered the log file by issuing an os.remove in /usr/lib/python2.7/dist-packages/certbot/log.py
`
116     logger.debug('Root logging level set at %d', level)
117     logger.info('Saving debug log to %s', file_path)
118     os.remove(file_path)
`

[2017-10-26 15:49] rsecor commented on #3477
I just had the same issue with a machine I had to upgrade to certbot from the letsencrypt command-line tools.
python-certbot-apache should be a requirement and thus installed by apt (in my case).

[2017-10-26 15:53] bmw commented on #5197
Glad I could help! After investigating further, if you think the 06.25 restart is caused by Certbot, please respond or open another issue.

I've also pinged people at Digital Ocean about getting this updated. I'll leave this issue open until this gets resolved to help make sure it happens!

[2017-10-26 16:32] bmw commented on #5155
I think I found a few! Go to the root of the Certbot repo and run `git grep "isinstance.*str)"`

[2017-10-26 17:21] mvi-x commented on #5155
Oh man. Sorry and thanks for being nice about this. I think I got them now!

[2017-10-26 18:20] narcisgarcia commented on #2697
This FOSS utility can help you to automate direct and indirect installs of ACME certificates to hosts that have TCP/443 port busy, or haven't TCP/443 port forwarded to them:

https://www.actiu.net/sesele/

[2017-10-26 18:22] narcisgarcia commented on #542
This FOSS utility can help you to automate direct and indirect installs of ACME certificates to hosts that have TCP/443 port busy, or haven't TCP/443 port forwarded to them:

https://www.actiu.net/sesele/

[2017-10-26 18:31] bmw commented on #3680
`-q` only affects output printed to terminal and Certbot still includes this information its log files. If you want absolutely no logs from Certbot (which isn't recommended), you could make:
`/var/log/letsencrypt/letsencrypt.log` a symlink to `/dev/null` and include `--max-log-backups 0` on the command line.

[2017-10-26 20:09] popey456963 opened #5206 "Running with invalid parameters causes program to hang for an extended period of time."
## My operating system is (include version):
Ubuntu, 16.04.

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
Apt Package Manager

## I ran this command and it produced this output:
[code]

## Certbot's behavior differed from what I expected because:
It took nearly half a minute to error out.

[2017-10-27 03:39] wpmjones commented on #5138
I'm on Raspbian and tried to set up certbot using `./certbot-auto certonly --standalone --standalone-supported-challenges http-01 --email your@email.address -d hass-example.duckdns.org` and got the same error with the incorrect url.  I used the solution that @ShashankJain123 proposed and it worked fine.

[2017-10-27 08:38] WakandaKing opened #5207 "Error while Validating Signatures"
I keep getting this error when i try validate the signatures (Step3 on https://gethttpsfree.com)

Error: Account registration failed. Please start back at Step 1. { "type": "urn:acme:error:badNonce", "detail": "JWS has invalid anti-replay nonce Hjmjx7usi9Eo_hroR1rStJgDDIdONvBbkFc2HI85SdA", "status": 400 }

[2017-10-27 13:09] hablutzel1 commented on #2697
Where is the documentation about how does SeSeLe works to allow to use
ports different than 443?.

On Oct 26, 2017 1:21 PM, "Narcis Garcia" <notifications@github.com> wrote:

[2017-10-27 14:38] bmw commented on #5207
Unfortunately, this repo is for EFF's Certbot client which has no affiliation with gethttpsforfree so I'm not really able to help you here. You should open a ticket on their [repo]( https://github.com/diafygi/gethttpsforfree) and they should be able to help you out.

[2017-10-27 14:38] #5207 closed

[2017-10-27 14:54] bmw commented on #5206
Strange! The flag is `--apache` and the Apache plugin needs to be installed for it to work, but it certainly shouldn't take 30 seconds to error out.

Can you run `python -m cProfile -o <output file name> $(which certbot) --apache2` (replacing <output file name> with an arbitrary file name) and give me the resulting file? This profiles the command so I can see where Certbot is hanging.

[2017-10-27 18:40] narcisgarcia commented on #2697
To renew certificates, SeSeLe only calls ACME-client as administrator has set. If the ACME-server requires listening port 443 (as Letsencrypt currently does), SeSeLe supports automatic actions to release the port, do renews, and re-enable services on port after. This is on renewer host role.

The facility consists into having SeSeLe installed in a renewer host (with port 443 forwarded), and using

[2017-10-27 19:24] bmw opened #5208 "Improve UX for users who request more than 300 domains in a single cert"
Let's Encrypt has a limit of 100 names per cert and 300 pending authorizations per account. Currently nothing in Certbot prevents you from making a request for 300+ domains though. If a user does this, Certbot creates as many authorizations as it can, gets rate limited, and exits with a message about too many pending authorizations which doesn't describe the root problem here.

We should see if we

[2017-10-27 19:52] ahaw021 commented on #5208
limits could be published in a JSON API end point? Though not part of the ACME spec it would solve some of the problems with changing policy (e.g. this and the number of unique certificates per week)

[2017-10-28 12:17] zenny opened #5209 "ACME reports DNS error while the DNS points to the right IP: Every 3 months!!!"
[This is a repeat of the same issue that was earlier posted at #4307 which keeps on happening every three months during renewal. @bmw was kind enough to offer to sort out this issue, but it remained outstading. The acme server response seems to be unpredictable!]

Hi,

1§ certbot v0.10.2-1~bpo8+1 was installed in debian jessie in which nginx is running

2§ The DNS records points to the right IP fo

[2017-10-28 13:21] vhp1360 commented on #2777
any update, please.

[2017-10-28 16:01] joohoi commented on #5209
The problem could be related to be the nameserver configuration of `iuni.se`:
[code]
However when querying ns3.freeregistrar.net for www.iuni.se, it returns:
[code]

When querying ns4.freeregistrar.net for www.iuni.se, it times out:
[code]

[2017-10-28 16:23] zenny commented on #5209
@joohoi The opinion you raised is a non issue. Both primary and secondary nameservers are working and that is adequate for DNS redirection. It is not necessary to have all four. The reason ns4 is not working is that it was not up at all.

It has got to do with something else than this, I guess. This is happening every 3 months as evident from #4307.

Anyway thanks for taking time.

[2017-10-28 17:40] joohoi commented on #5209
Ah, you are right. However, your NS records are messed up;
`dig iuni.se NS` gives out response:

[code]
and these nameservers are unable to resolve www.iuni.se

[2017-10-28 18:04] zenny commented on #5209
@joohoi I acknowledge that the two servers are backups for later use. All other domains having the exactly same records and pointing to the same machines  are working (for more than a year) except four as follows. Thus, it is not an issue I guess. They were working with the same ns records earlier for a year, fyi:

[code]

Anyway thanks again for investigating in, @joohoi . Appreciate that!

[2017-10-28 18:22] joohoi commented on #5209
NS records point to authoritative DNS servers of a zone, so they should be correct and working. This is the most likely cause for problems.

[2017-10-28 18:47] stevenproctor opened #5210 "Ability to specify "flags" in renew configuration"
## My operating system is (include version):
[code]
## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
`apt-get install certbot`

## I ran this command and it produced this output:

I installed the `certbot-dns-cloudflare` plugin, and updated the renew configuration for the certificates to include:
[code]

When I run `certbot renew --dry-run` it fails renewing that certifica

[2017-10-28 18:55] zenny commented on #5209
I understand, but this does not seem to be in my case. All DNS entries are pointing to where it should. It must be something else which has been acknowledged by @bmw earlier, too.

[2017-10-28 19:20] whoget commented on #2850
i got it resolve using:
pip install --upgrade virtualenv

[2017-10-28 20:27] cfaerber commented on #230
Certbot now has plugins to automatically install DNS records for challenges. Updated TLSA records could be installed in the same way.

Support for generating TLSA records would also require a two-phase install process: (1) get a new certificate and generate new (candidate) TLSA records, (2) after the TLSA records have been up for at least 2 to 3 times their TTL, install the new certificate.

[2017-10-28 20:33] whoget commented on #5042
Allow open port 443 in firewall or security group roles

[2017-10-29 16:46] nachoparker commented on #5138
The issue has been fixed

https://github.com/bennuttall/piwheels/issues/20#issuecomment-340108171

No workarounds are required now

[2017-10-29 18:27] fzipi commented on #5186
Having the same problem. Ubuntu 16.04.3 LTS

https://gist.github.com/fzipi/248f8b076753d36663f63f0990a8d5b3

[2017-10-30 07:49] bertalanimre commented on #5186
Excuse me for being AFK, had some accident and still recovering. Therefore I'm unable to provide any information right now. However, I can describe that you ran replicate your issue if you leave the nginx.conf file standard as it is, only adding another line to include the `sites-enabled` folder and create a standard laravel nginx configuration inside sites-enabled. That is what we use.

Normally

[2017-10-30 10:49] Vikab-Hakan opened #5211 "'utf8' codec can't decode byte 0xf6"
## My operating system is (include version):
Ubuntu 16.04.3 LTS

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
N/A

## I ran this command and it produced this output:
sudo certbot --apache -d www.dalumsmekaniska.se

## Certbot's behavior differed from what I expected because:
It has worked up till now.

## Here is a Certbot log showing the issue (if available):
2017-10-

[2017-10-30 10:53] ralfhauser opened #5212 "allow for java keystore as output format ".jks""
## My operating system is (include version):
Debian stable

## I installed Certbot with (certbot-auto, OS package manager, pip, etc):
yes

Manually, I use openssl to convert the pem into a .pfx / .p12 and then I import it manually with
http://keystore-explorer.org/ into a java keystore

Goal: if java is installed, the certbot should offer to do this automatically

[2017-10-30 15:04] BevanH commented on #5200
Thanks Brad.  It's done.

On Mon, Oct 23, 2017 at 5:57 PM, Brad Warren <notifications@github.com>
wrote:

[2017-10-30 19:39] #5200 closed

[2017-10-30 19:42] bmw commented on #5209
@cpu, do you have any thoughts on the problem here?

[2017-10-30 19:44] bmw commented on #5211
@joohoi, can you take a look at this?

[2017-10-30 19:48] bmw commented on #5212
This is very closely related to #506 and #1701.

[2017-10-30 20:00] cpu commented on #5209
@bmw Nothing unusual stands out. The VA reports there being a timeout waiting for headers from the remote server which generally happens when the HTTP request succeeds but the server doesn't reply with a response body inside of the 5 second timeout.